﻿@model HTM.MasterGestor.Web.UI.Areas.Contabilidade.ViewModels.VersaoPlanoContas.IndexVM

<div id="filtro-grade">
    <template id="filter-PlanoContasVersaoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Moeda, Índice ou Taxa</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "PlanoContasVersaoIndex",
    newUrl: "#/Contabilidade/VersaoPlanoContas/New",
    editUrl: "#/Contabilidade/VersaoPlanoContas/Edit",
    listUrl: "/Contabilidade/VersaoPlanoContas/List",
    columns:
    @<script>
        [
            { 'id': 'IdPlanoContasVersao', editColumn: true },
            { 'id': 'ComNCM', defaultValue: true,filter:true },
            { 'id': 'Descricao', header: true, 'filter': true, displayName: 'Descrição', sortable: true,filter: true, defaultFilter: true },
            { 'id': 'Mascara', header: true, displayName: 'Máscara', sortable: true },
            { 'id': 'DescricaoPlanoContasTipo', header: true, groupable: true, displayName: "Tipo do Plano", sortable: true },
            { 'id': 'DataInicioExibicao', header: true, displayName: "Início" },
            defaults.gridNewEdit.column.ativo,
            defaults.gridNewEdit.column.acao
        ]
    </script>,
        templateRows:
        @<tr>
            <td data-bind="text: Descricao, id: IdPlanoContasVersao"></td>
            <td data-bind="text: Mascara"></td>
            <td data-bind="text: DescricaoPlanoContasTipo"></td>
            <td data-bind="text: DataInicioExibicao"></td>
            <td data-bind="template: 'label-status'"></td>
            <td data-bind="template: { name: 'button-edit-url', data: { id: IdPlanoContasVersao } }"></td>
             @*<td>
                 <span data-bind="visible: EditarRegistro == true">
                     <a data-bind="attr: { href: '#Edit/' + IdPlanoContasVersao }" class="btn btn-secondary" title="Editar">
                         <i class="material-icons">&#xE254;</i>
                     </a>
                 </span>
                 <span data-bind="visible: EditarRegistro == false">
                     <a disabled="disabled" class="btn btn-secondary" title="Editar">
                         <i class="material-icons">&#xE254;</i>
                     </a>
                 </span>
             </td>*@
        </tr>, api: "indexVM.api", orderByCol: "Descricao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)

</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}

@*@model HTM.MasterGestor.Web.UI.Areas.Contabilidade.ViewModels.VersaoPlanoContas.IndexVM
@{
    Layout = "~/Views/_LayoutDefault.cshtml";
}
<div id="filtro-grade" style="display:none;" data-bind="stopBindings: true">
    @HtmlHelper.Panel.Filtro(
    @<div data-toggle-default="#btnFiltrar">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="value: campoFiltroRapido"  class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroAtivo" class="control-label">Ativo</label>
            <select class="form-control no-search" id="ddlFiltroAtivo">
                <option value="">Indiferente</option>
                <option value="true" selected="selected">Ativo</option>
                <option value="false">Inativo</option>
            </select>
        </div>
        <div class="form-actions">
            <button id="btnFiltrar" class="btn btn-primary"><i class="material-icons">&#xE8B6;</i> Buscar</button>
        </div>
    </div>,
    @<div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th data-bind="css: orderByCss('Descricao'), click: reorder.bind($data,'Descricao')">Descricao</th>
                    <th data-bind="css: orderByCss('Mascara'), click: reorder.bind($data,'Mascara')">Máscara</th>
                    <th data-bind="css: orderByCss('DescricaoPlanoContasTipo'), click: reorder.bind($data,'DescricaoPlanoContasTipo')">Tipo do Plano</th>
                    <th class="col-xs-2" data-bind="css: orderByCss('Ativo'), click: reorder.bind($data,'Ativo')">Ativo</th>
                    <th class="col-xs-1" style="width:30px;">Ações</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: {data: data, afterRender: onRowRendered }">
                <tr>
                    <td><a data-bind="text: Descricao, attr: { href: '#edit/' + IdPlanoContasVersao }"></a></td>
                    <td data-bind="text: Mascara"></td>
                    <td data-bind="text: DescricaoPlanoContasTipo"></td>
                    <td><span data-bind="text: (Ativo ? 'Sim' : 'Não'), css: (Ativo ? 'label label-success' : 'label label-default')"></span></td>
                    <td><a data-bind="attr: { href: '#Edit/' + IdPlanoContasVersao }" class="btn btn-secondary" title="Editar"><i class="material-icons">&#xE254;</i></a></td>
                </tr>
            </tbody>
        </table>
    </div>)
</div>
@section Scripts {
    <script>
        new crudRoute('/Contabilidade/VersaoPlanoContas/List', '/Contabilidade/VersaoPlanoContas/NewEdit', function () {
			return {
				Descricao: $('#txtFiltroDescricao').val(),
				Ativo: $('#ddlFiltroAtivo').val()
			}
		},
				['btnFiltrar', 'btnBuscaRapida'], 'Descricao', 'asc',
				[{text: 'Ativo', value: 'Ativo', internal: 'Ativo', func: function (p) { return p ? 'Ativo' : 'Inativo' } },
				 { text: 'Tipo', value: 'DescricaoPlanoContasTipo', internal: 'DescricaoPlanoContasTipo' }]
				);
    </script>
    
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}*@
