﻿@model HTM.MasterGestor.Web.UI.Areas.Contabilidade.ViewModels.VersaoPlanoContas.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-PlanoContasVersao-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtMascara">Máscara</label>
                            <input type="text" id="txtMascara" name="txtMascara" data-bind="value: Mascara, validate: { required: true }" class="form-control" maxlength="20" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    @if (ControladorSessaoUsuario.SessaoCorrente.Empresa.IdEmpresa == 1)
                    {

                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTipoPlano" class="control-label">Tipo de Plano</label>
                                <select class="form-control no-search required" id="ddlTipoPlano" data-bind="value: PlanoContasTipo, validate: { required: true }">
                                    <option value=""></option>
                                    <option value="2">Centro de Custo</option>
                                    <option value="4">Classificação Financeira</option>
                                    <option value="1">Plano de Contas</option>
                                    <option value="5">Tabela de NBS</option>
                                    <option value="3">Tabela de NCM e TIPI</option>
                                </select>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTipoPlano" class="control-label">Tipo de Plano</label>
                                <select class="form-control no-search required" id="ddlTipoPlano" data-bind="value: PlanoContasTipo, validate: { required: true }">
                                    <option value=""></option>
                                    <option value="2">Centro de Custo</option>
                                    <option value="4">Classificação Financeira</option>
                                    <option value="1">Plano de Contas</option>
                                </select>
                            </div>
                        </div>
                    }

                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtDataInicio">Início</label>
                            <div class="input-group date form-group">
                                <input id="txtDataInicio" name="txtDataInicio" class="form-control" data-bind="value: DataInicioExibicao, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataInicioExibicao }" />
                                <span class="input-group-addon">
                                    <i class="material-icons">&#xE878;</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                @*<fieldset>
                        <legend>Período de Vigência</legend>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="txtDataInicio">Início</label>
                                    <div class="input-group date form-group">
                                        <input id="txtDataInicio" name="txtDataInicio" placeholder="Selecione" class="form-control" data-bind="value: Inicio, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: Inicio }, validate: { required: true }" />
                                        <span class="input-group-addon">
                                            <i class="material-icons">&#xE878;</i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="txtDataTermino">Término</label>
                                    <div class="input-group date form-group">
                                        <input id="txtDataTermino" name="txtDataTermino" onblur="ValidarDatas()" placeholder="Selecione" class="form-control" data-bind="value: Termino, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: Termino }, validate : { required: ValidarDatas()}" />
                                        <span class="input-group-addon">
                                            <i class="material-icons">&#xE878;</i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>*@
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-action">
            <div class="panel-body">
                <button type="submit" id="btn-salvar" class="btn btn-secondary btn-lg btn-primary-action"><i class="material-icons">&#xE5CA;</i> Salvar</button>
                <a href="#List" type="button" class="btn btn-primary btn-inverted btn-lg"><i class="material-icons">&#xE5C4;</i> Voltar</a>
                @if (@Model.IdPlanoContasVersao.HasValue)
                {
                    <a href="#History/PlanoContasVersao/@Model.IdPlanoContasVersao" type="button" class="btn btn-primary btn-inverted btn-lg pull-right"><i class="material-icons">&#xE889;</i> Histórico</a>
                }
            </div>
        </div>
    </form>
</div>

@*<script type="text/javascript">
        var form = $('#form-PlanoContasVersao-NewEdit');

        var vm = {
            @Html.ObservableFor(model => model.IdPlanoContasVersao),
            @Html.ObservableFor(model => model.Descricao),
            @Html.ObservableFor(model => model.Mascara),
            @Html.ObservableFor(model => model.PlanoContasTipo),
            @Html.ObservableFor(model => model.Inicio),
            @Html.ObservableFor(model => model.Ativo),
            @Html.ObservableFor(model => model.ChaveVersao),
            Save: function () {
                $.ajaxJsonAntiforgery(form, {
                    data: ko.toJSON(vm),
                    url: '/Contabilidade/VersaoPlanoContas/NewEdit/',
                    success: function (result) {
                        mgFeedbackBase.feedbackCrud(result, 'Versão do Plano de Contas cadastrado com sucesso.');
                    }
                });
            }
        };
        //vm.ValidarDatas = ko.computed(function () {
        //    if($("txtDataTermino").val() != '')
        //    {
        //        var DataInicio = $("#txtDataInicio").val().split("/");
        //        var inicio = new Date(DataInicio[2], DataInicio[1] - 1, DataInicio[0]);

        //        var DataTermino = $("#txtDataTermino").val().split("/");
        //        var termino = new Date(DataTermino[2], DataTermino[1] - 1, DataTermino[0]);

        //        if(inicio > termino )
        //        {
        //            $("#txtDataTermino").attr('required','required');
        //            toastr.error('A data de Término é menor que a data Início');
        //            return true;
        //        }
        //        return false;
        //    }
        //    else
        //        return true;

        //});


        ko.applyBindings(vm, form[0]);
    </script>*@

@*<script>
        function ValidarDatas()
        {
            if($("txtDataTermino").val() != '')
            {
                var DataInicio = $("#txtDataInicio").val().split("/");
                var inicio = new Date(DataInicio[2], DataInicio[1] - 1, DataInicio[0]);

                var DataTermino = $("#txtDataTermino").val().split("/");
                var termino = new Date(DataTermino[2], DataTermino[1] - 1, DataTermino[0]);

                if(inicio > termino )
                {
                    $("#txtDataTermino").attr('required','required');
                    toastr.error('A data de Término é menor que a data Início');
                    return true;
                }
                return false;
            }
            else
                return true;
        }
    </script>*@