﻿@model HTM.MasterGestor.Web.UI.Areas.Criacao.ViewModels.TipoCaracterizacao.IndexVM

<div id="filtro-grade">
    <template id="filter-CriacaoTipoCaracterizacaoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "CriacaoTipoCaracterizacaoIndex",
    newUrl: "#/Criacao/TipoCaracterizacao/New",
    editUrl: "#/Criacao/TipoCaracterizacao/Edit",
    listUrl: "/Criacao/TipoCaracterizacao/List",
    columns:
    @<script>
        [
           { 'id': 'EditarRegistro', editColumn: true },
           { 'id': 'RegistroProprio', 'defaultValue': '', 'filter': true },
           { 'id': 'Descricao', header: true, filter: true, defaultFilter: true, displayName: 'Descrição' },
           { 'id': 'IdCriacaoCaracterizacaoTipo', editColumn: true },
           { 'id': 'EditarRegistro', 'header': true, 'filter': true, 'sortable': true, 'displayName': 'Editar Registro' },
           defaults.gridNewEdit.column.ativo,
           { displayName: "Ações", header: true, width: '160px' }
        ]
    </script>,
      templateRows:
    @<tr>
        <td data-bind="text: Descricao"></td>
        <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>
        <td data-bind="template: 'label-status'"></td>
        <td>
            <div style="float:left">
                <span data-bind="template: { name: 'button-edit-url', data: { id: IdCriacaoCaracterizacaoTipo } }"></span>
            </div>

            <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                <a data-bind="attr: { href: '#/Criacao/TipoCaracterizacao/Ativar/' + IdCriacaoCaracterizacaoTipo}" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
            </div>

            <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                <a data-bind="attr: { href: '#/Criacao/TipoCaracterizacao/Inativar/' + IdCriacaoCaracterizacaoTipo}" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
            </div>

            <div style="float:left;padding-left:5px;" data-bind="visible: (EditarRegistro == false)">
                <a data-bind="attr: { href: '#/Criacao/TipoCaracterizacao/View/' + IdCriacaoCaracterizacaoTipo}" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
            </div>
        </td>
    </tr>,
    api: "indexVM.api",
    orderByCol: "Descricao",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,
    useHiddenColumns: false)
</div>

@*<div id="filtro-grade" style="display:none;" data-bind="stopBindings: true">
        @HtmlHelper.Panel.Filtro(
        @<div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th data-bind="css: orderByCss('Descricao'), click: reorder.bind($data,'Descricao')">Descricao</th>
                        <th class="col-xs-2">Origem</th>
                        <th class="col-xs-2" data-bind="css: orderByCss(',Ativo'), click: reorder.bind($data,'Ativo')">Ativo</th>
                        <th class="col-xs-1" style="width:30px;">Ações</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: {data: data, afterRender: onRowRendered }">
                    <tr>
                        <td>
                            <div data-bind="visible: EditarRegistro == true">
                                <a data-bind="text: Descricao, attr: { href: '#edit/' + IdCriacaoCaracterizacaoTipo }"></a>
                            </div>
                            <div data-bind="visible: EditarRegistro == false">
                                <span data-bind="text: Descricao"></span>
                            </div>
                        </td>
                        <td><span data-bind="text: (IdEmpresa == null ? 'Sistema' : 'Manual')"></span></td>
                        <td><span data-bind="text: (Ativo ? 'Sim' : 'Não'), css: (Ativo ? 'label label-success' : 'label label-default')"></span></td>
                        <td>
                            <div data-bind="visible: EditarRegistro == true">
                                <a data-bind="attr: { href: '#Edit/' + IdCriacaoCaracterizacaoTipo }" class="btn btn-secondary"><i class="material-icons">&#xE254;</i></a>
                            </div>
                            <div data-bind="visible: EditarRegistro == false">
                                <a href="#" class="btn btn-secondary"><i class="fa fa-lock"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>)
    </div>*@
@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}