﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.ProcessoSituacao.IndexVM

<routeoptions data-show-back-button="true" data-show-breadcrumb="true" data-route-custom='route-processo' data-action-title="listagem situação processo" data-title-descricao="@Model.DescricaoExibicao"></routeoptions>

<div id="filtro-grade">
    <template id="filter-ProcessoSituacaoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
        id: "ProcessoSituacaoIndex",
        newUrl: "#/Corporativo/ProcessoSituacao/New",
        editUrl: "#/Corporativo/ProcessoSituacao/Edit",
        listUrl: "/Corporativo/ProcessoSituacao/List",
        columns:
        @<script>
            [
                { 'id': 'IdProcessoSituacao', editColumn: true },
                { 'id': 'IdProcesso', filter: true, defaultValue: @Model.ParentId.ToString() },
                { 'id': 'Descricao', 'header': true, 'filter': true, 'displayName': 'Descrição', sortable: true },
                { 'id': 'Finalizado', 'header': true, 'filter': true, 'displayName': 'Término', sortable: true },
                defaults.gridNewEdit.column.ativo,
                { 'displayName': 'Ações', width: '100px', header: true }
            ]
        </script>,
        templateRows:
        @<tr>
            <td data-bind="text: Descricao, id:  IdProcessoSituacao"></td>
            <td data-bind="template: { name: 'label-status', data: { status: Finalizado } }"></td>
            <td data-bind="template: 'label-status'"></td>
            <td>
                <a href="#" data-bind="template: { name: 'button-edit-url', data: { id: IdProcessoSituacao } }"></a>
            </td>
        </tr>, parentId: Model.ParentId.ToString(), api: "indexVM.api", orderByCol: "Descricao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)

</div>
@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}

