﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.ProcessoSituacao.NewEditVM

<routeoptions data-route-custom='route-processo' data-action-title="" data-title-descricao="@Model.DescricaoProcesso"></routeoptions>

<div data-bind="stopBindings: true">
    <form id="form-ProcessoSituacao-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtDescricao">Descrição</label>
                                <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="150" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkVisivel">Visível no Painel</label>
                                <input type="checkbox" class="no-uniform" id="chkVisivel" data-bind="checked: Visivel, flipper: { observable: Visivel, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkFinalizado">Situação Término</label>
                                <input type="checkbox" class="no-uniform" id="chkFinalizado" data-bind="checked: Finalizado, flipper: { observable: Finalizado, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkAtivo">Ativo</label>
                                <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
