﻿@model HTM.MasterGestor.Web.UI.Areas.Agricola.ViewModels.LocalProducao.IndexVM

<div id="filtro-grade">
    <template id="filter-AgricolaLocalProducaoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Código, Descrição ou Documento</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: BuscaAvancada" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroIdProducaoLocal" class="control-label">Tipo de Local</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroIdProducaoLocalTipo", "IdProducaoLocalTipoIn", "IdProducaoLocalTipo", "Descricao", "Descricao", "Descricao", "/Agricola/TipoLocal/List", "Ativo:true", multiple: true, idChaveRelacao: "IdProducaoLocalTipo")
        </div>
        <div class="form-group">
            <label for="ddlFiltroIdProducaoLocalTipo" class="control-label">Local</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroIdProducaoLocal", "IdProducaoLocalIn", "IdProducaoLocal", "DescricaoExibicao", "BuscaAvancada", "DescricaoExibicao", "/Agricola/LocalProducao/List", "Ativo:true", multiple: true, idChaveRelacao: "IdProducaoLocal")
        </div>
        <div class="form-group">
            <label for="ddlFiltroIdProducaoRegiao" class="control-label">Região</label>            
            @HtmlHelper.Select.SearchableKO("ddlFiltroIdProducaoRegiao", "IdProducaoRegiaoIn", "IdProducaoRegiao", "Descricao", "Descricao", "Descricao", "/Agricola/RegiaoAgricola/List", "Ativo:true", multiple: true, idChaveRelacao: "IdProducaoRegiao")
        </div>
        <div class="form-group">
            <label for="ddlFiltroPessoa">Proprietário</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroPessoa", "IdPessoaProprietarioPrincipal", "IdPessoa", "NomeSecundario", "ApelidoFantasia", "NomeSecundario", "/Corporativo/Pessoa/ListPessoaPersonalizado", "ComPessoa:true,ComEmpresaUsuaria:true,ComEmpresa:false,Ativo:true, IdPessoaNaturezaNotIn: 4", idChaveRelacao: "IdPessoa")
        </div>
        <div class="form-group">
            <label for="ddlFiltroProducaoCaracterizacao">Caracterização</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroProducaoCaracterizacao", "IdProducaoCaracterizacaoIn", "IdProducaoCaracterizacaoIn", "Descricao", "Descricao", "Descricao", "/Agricola/Caracterizacao/List", "Ativo:true, CaracterizaLocal:true", idChaveRelacao: "IdProducaoCaracterizacao", multiple: true)
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "AgricolaLocalProducaoIndex",
    newUrl: "#/Agricola/LocalProducao/New",
    editUrl: "#/Agricola/LocalProducao/Edit",
    listUrl: "/Agricola/LocalProducao/List",
    columns:
    @<script>
        [
           { 'id': 'IdProducaoLocal', editColumn: true },
           { 'id': 'BuscaAvancada', 'defaultFilter': true, filter: true },
           { 'id': 'IdProducaoLocalIn', filter: true },
           { 'id': 'IdProducaoCaracterizacaoIn', filter: true },
           { 'id': 'IdProducaoLocalTipoIn', filter: true },
           { 'id': 'IdProducaoRegiaoIn', filter: true },
           { 'id': 'IdPessoaProprietarioPrincipal', filter: true },

           { 'id': 'Codigo', header: true, displayName: 'Código' },
           { 'id': 'Descricao', header: true, displayName: 'Descrição' },
           { 'id': 'EstadoMunicipio', header: true, displayName: 'Município (UF)' },
           { 'id': 'DescricaoProducaoRegiao', header: true, displayName: 'Região', sortable: true, groupable: true },
           { 'id': 'PessoaProprietarioPrincipal', header: true, displayName: 'Proprietário', sortable:true, groupable:true },
           
           defaults.gridNewEdit.column.ativo,
           defaults.gridNewEdit.column.acao
        ]
    </script>,
      templateRows:
    @<tr>
        <td data-bind="text: Codigo"></td>
        <td data-bind="text: Descricao"></td>  
         <td data-bind="text: EstadoMunicipio"></td>  
        <td data-bind="text: DescricaoProducaoRegiao"></td>  
         <td data-bind="text: PessoaProprietarioPrincipal"></td>  
        <td data-bind="template: 'label-status'"></td>
        <td data-bind="template: { name: 'button-edit-url', data: { id: IdProducaoLocal } }"></td>
    </tr>,
    api: "indexVM.api",
    orderByCol: "Descricao",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,
    useHiddenColumns: false)
</div>

@section Scripts {  
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
