﻿@model HTM.MasterGestor.Web.UI.Areas.Agricola.ViewModels.LocalProducao.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-ProducaoLocal-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtCodigo">Código<span>(Automático)</span></label>
                            <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" maxlength="8" />
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricaoA">Descrição</label>
                            <input type="text" id="txtDescricaoA" name="txtDescricaoA" data-bind="descricaoEquals:{}, value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtSigla">Sigla</label>
                            <input type="text" id="txtSigla" name="txtSigla" data-bind="value: Sigla, validate: { required: true }" class="form-control" maxlength="10" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="ddlProducaoLocalTipo">Tipo de Local de Produção</label>
                            @HtmlHelper.Select.SearchableKO("ddlProducaoLocalTipo", "IdProducaoLocalTipo", "IdProducaoLocalTipo", "Descricao", "Descricao", "Descricao", "/Agricola/TipoLocal/List", "Ativo:true", required: true, vmDataSelected: "vmParams.ProducaoLocalTipo")
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkLocalProprio">Considera Próprio</label>
                            <input type="checkbox" class="no-uniform" id="chkLocalProprio" data-bind="checked: LocalProprio, flipper: { observable: LocalProprio, options: { 'css': 'warning' } }">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="ddlCentroCusto">Centros de Custos permitidos para uso direto, sem informe de Ordem de Serviço</label>
                            @HtmlHelper.Select.SearchableKO("ddlCentroCusto", "IdsCentroCusto", "IdCentroCustoIn", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Contabilidade/CentroCusto/ListarHierarquicamentePorParametro", "Ativo:true, UltimoNivel:true, ComRestricaoUsuario:true", idChaveRelacao:"IdCentroCusto", multiple:true)
                        </div>
                    </div>
                </div>
                <div class="row" style="display:none;">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtCor">Cor <span data-bind="text: '(' + (ko.unwrap(Cor) === null ? 'nenhuma selecionada' : ko.unwrap(Cor)) + ')'"></span></label>
                            <seletor-cores id="txtCor" params="setColorToLayer: false, selectedColor: Cor"></seletor-cores>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: defaults.flipper.ativoInativo">
                        </div>
                    </div>
                </div>
                <div class="optional" data-toggle="collapsible" id="pnlDocumentos">
                    <a href="#">Documentos</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="txtCNPJ">CNPJ</label>
                                    <input type="text" id="txtCNPJ" name="txtCNPJ" data-bind="value: CNPJ, mask: { options: defaults.mask.cnpj, value: CNPJ }" class="form-control" />
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="txtIE">Inscrição Estadual</label> @*, mask: { options: defaults.mask.IE, value: IE }*@
                                    <input type="text" id="txtIE" name="txtIE" data-bind="value: IE" class="form-control" maxlength="20" />
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="txtCCIR">CCIR</label>
                                    <input type="text" id="txtCCIR" name="txtCCIR" data-bind="value: CCIR" class="form-control" maxlength="20" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label for="txtNIRF">NIRF</label>
                                    <input type="text" id="txtNIRF" name="txtNIRF" data-bind="value: NIRF" class="form-control" maxlength="20" />
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label for="txtMatricula">Matrícula Cartório</label>
                                    <input type="text" id="txtMatricula" name="txtMatricula" data-bind="value: Matricula" class="form-control" maxlength="30" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="optional" data-toggle="collapsible" id="pnlOutrasInformacoes">
                    <a href="#">Outras Informações</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="ddlProducaoCaracterizacao">Caracterização</label>
                                    @HtmlHelper.Select.SearchableKO("ddlProducaoCaracterizacao", "IdsCaracterizacao", "IdProducaoCaracterizacaoIn", "Descricao", "Descricao", "Descricao", "/Agricola/Caracterizacao/List", "Ativo:true, CaracterizaLocal:true", idChaveRelacao: "IdProducaoCaracterizacao", multiple: true)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="txtObservacao">Observação</label>
                                    <textarea id="txtObservacao" data-bind="value: Observacao" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" id="pnlDadosGeograficos">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Geográficos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="ddlEstado">Estado</label>
                            @HtmlHelper.Select.SearchableKO("ddlEstado", "IdEstado", "IdEstado", "NomeResumido", "NomeResumido", "NomeResumido", "/Localizacao/Estado/List", "", required: true)
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlLocalidade">Município</label>
                            @HtmlHelper.Select.SearchableKO("ddlLocalidade", "IdLocalidade", "IdLocalidade", "NomeResumido", "NomeResumido", "NomeResumido", "/Localizacao/Localidade/List", "", "ddlEstado", "IdEstado", required: true)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtLatitude">Latitude<span>(decimal, WGS84)</span></label>
                            <input type="text" id="txtLatitude" name="txtLatitude" data-bind="value: Latitude, maskCoordenada: {}" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtLongitude">Longitude<span>(decimal, WGS84)</span></label>
                            <input type="text" id="txtLongitude" name="txtLongitude" data-bind="value: Longitude, maskCoordenada: { extendedOptions: { min: -180, max: 180 } }" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtAltitude">Altitude</label>
                            <input type="text" id="txtAltitude" name="txtAltitude" data-bind="value: Altitude" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlProducaoRegiao">Região Produtiva</label>
                            @HtmlHelper.Select.SearchableKO("ddlProducaoRegiao", "IdProducaoRegiao", "IdProducaoRegiao", "Descricao", "Descricao", "Descricao", "/Agricola/RegiaoAgricola/List", "Ativo:true")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" data-toggle="collapsible" id="pnlAreas">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Composição de Áreas</h3>
            </div>
            <div class="panel-body">
                @HtmlHelper.GridView.GridNewEdit(
                id: "Area", // Declarar na página <template id="newedit-id"></template>
                vm: "Areas",
                title: "Composição de Áreas",
                columns: @<script>
                    [
                        { 'id': 'DescricaoProducaoAreaCategoria', displayName: 'Categoria', header: true },
                        { 'id': 'ApresentacaoValor', displayName: 'Área', header: true },
                        { 'id': 'DescricaoUnidade' },
                        { 'id': 'IdProducaoAreaCategoria' },
                        { 'id': 'IdProducaoLocal' },
                        { 'id': 'IdProducaoLocalArea' },
                        { 'id': 'IdUnidade', defaultValue: vmParams.IdUnidade() },
                        { 'id': 'SiglaUnidade' },
                        { 'id': 'Valor' },
                        defaults.gridNewEdit.column.acaoEditRemove
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: DescricaoProducaoAreaCategoria}  }"></td>
                    <td data-bind="text: ApresentacaoValor"></td>
                    <td data-bind="template: { name: 'button-edit-remove' }"></td>
                </tr>, orderByCol: "ApresentacaoValor", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)
            </div>
        </div>
        <div class="panel panel-default" data-toggle="collapsible" id="pnlSetores">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Setores do Local de Produção</h3>
            </div>
            <div class="panel-body">
                @HtmlHelper.GridView.GridNewEdit(
                id: "Setor", // Declarar na página <template id="newedit-id"></template>
                vm: "Setores",
                title: "Setor",
                columns: @<script>
                    [
                        { 'id': 'IdProducaoLocalSetor' },
                        { 'id': 'IdProducaoLocal' },
                        { 'id': 'IdEmpresa' },
                        { 'id': 'IdProducaoAreaCategoria' },
                        { 'id': 'Descricao', displayName: 'Descrição', header: true },
                        { 'id': 'Sigla', header: true },
                        { 'id': 'Ativo', header: true, defaultValue: true },
                        defaults.gridNewEdit.column.acaoEditRemove
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: Descricao }  }"></td>
                    <td data-bind="text: Sigla"></td>
                    <td data-bind="template: { name: 'label-status' }"></td>
                    <td data-bind="template: { name: 'button-edit' }"></td>
                </tr>, orderByCol: "Descricao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: true)
            </div>
        </div>

        <div class="panel panel-default" data-toggle="collapsible" id="pnlProprietarios">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Proprietário</h3>
            </div>
            <div class="panel-body">
                @HtmlHelper.GridView.GridNewEdit(
                id: "ProprietarioLocalProducao", // Declarar na página <template id="newedit-id"></template>
                vm: "Proprietarios",
                title: "Proprietário",
                columns: @<script>
                    [
                        { 'id': 'IdPessoa' },
                        { 'id': 'IdProducaoLocalProprietario' },
                        { 'id': 'IdProducaoLocal' },
                        { 'id': 'NomeSecundarioPessoa', displayName: 'Apelido ou Fantasia', header: true, sortable: true },
                        { 'id': 'Cota', displayName: '% Cota', header: true, sortable: true },
                        { 'id': 'Principal', displayName: 'Proprietário Principal', header: true, defaultValue: false },
                        { 'id': 'Ativo', header: true, defaultValue: true },
                        defaults.gridNewEdit.column.acao
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: NomeSecundarioPessoa }  }"></td>
                    <td data-bind="text: Cota"></td>
                    <td data-bind="template: { name: 'label-status', data: { status: Principal } }"></td>
                    <td data-bind="template: { name: 'label-status' }"></td>
                    <td data-bind="template: { name: 'button-edit' }"></td>
                </tr>, orderByCol: "NomeSecundarioPessoa", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: true, displayMode: "custom")
            </div>
        </div>
    </form>

    <panels id="panels-local-bind" params="panels: [{ title: 'Adicionar proprietário', template: { gridContext: 'ProprietarioLocalProducao', id: 'newedit-ProprietarioLocalProducao' } }, { title: 'Adicionar Pessoa', template: { url: 'Corporativo/Pessoa/NewEdit', css: 'full', controller: 'Corporativo/Views/Pessoa' }}]">
    </panels>

    <template id="newedit-ProprietarioLocalProducao">
        <input type="hidden" id="txtIdProprietario" name="txtIdProprietario" data-bind="value: IdPessoa" class="form-control" />
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="ddlPessoa">Proprietário</label>
                    @HtmlHelper.Select.SearchableKO("ddlPessoa", "IdPessoa", "IdPessoa", "NomeSecundario", "ApelidoFantasia", "NomeSecundario", "/Corporativo/Pessoa/ListPessoaPersonalizado", "ComPessoa:true,ComEmpresaUsuaria:true,ComEmpresa:false,Ativo:true, IdPessoaNaturezaNotIn: 4", required: true, vmTextSelected: "NomeSecundarioPessoa")
                </div>
            </div>
            <div class="col-xs-12 form-group">
                <a href="#" class="link-edit panel-open-next">Não encontrou? Adicione um Novo</a>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="txtCota">Cota</label>
                    <div class="input-group">
                        <input type="text" id="txtCota" name="txtCota" data-bind="value: Cota, validate: { required: { params: true, message: '' } }" class="form-control" maxlength="5" />
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="control-label" for="chkPrincipal">Proprietário Principal</label>
                    <input type="checkbox" class="no-uniform" id="chkPrincipal" data-bind="checked: Principal, flipper: { observable: Principal, options: { 'css': 'warning'  } }">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="control-label" for="chkProprietarioAtivo">Ativo</label>
                    <input type="checkbox" class="no-uniform" id="chkProprietarioAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                </div>
            </div>
        </div>
    </template>
    <template id="newedit-ProprietarioLocalProducao-1" data-tab-id="ProprietarioLocalProducao" data-tab-title="Adicionar pessoa">
        @Html.Partial("~/Areas/Corporativo/Views/Pessoa/_PartialPessoa.cshtml", Model.Pessoa)
    </template>

    <template id="newedit-Area">
        <input type="hidden" id="txtAreasNotIn" name="txtAreasNotIn" data-bind="value: vm.IdsAreasNotIn" />
        <div class="row">
            <div class="col-xs-8">
                <div class="form-group">
                    <label for="ddlProducaoAreaCategoria">Categoria</label>
                    @HtmlHelper.Select.SearchableKO("ddlProducaoAreaCategoria", "IdProducaoAreaCategoria", "IdProducaoAreaCategoria", "Descricao", "Descricao", "Descricao", "/Agricola/CategoriaArea/List", "Ativo:true", required: true, vmTextSelected: "DescricaoProducaoAreaCategoria", idControleDependencia: "txtAreasNotIn", idDependencia: "IdProducaoAreaCategoriaNotIn")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                @HtmlHelper.Campo.UnidadeTipo("UnidadeTipoValor", "Valor", IdUnidade: "IdUnidade", UnidadeSelecionadoApresentacao: "ApresentacaoValor", AlteraUnidade: false, ValidateBind: "{ required: true }")
            </div>
        </div>
    </template>
    <template id="newedit-Setor">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="txtDescricaoLocal">Descrição</label>
                    <input type="text" id="txtDescricaoLocal" name="txtDescricaoLocal" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                </div>
            </div>

            <div class="col-xs-2">
                <div class="form-group">
                    <label for="txtSiglaSetor">Sigla</label>
                    <input type="text" id="txtSiglaSetor" name="txtSiglaSetor" data-bind="value: Sigla, validate: { required: true }" class="form-control" maxlength="7" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <div class="form-group">
                    <label class="control-label" for="chkAtivo">Ativo</label>
                    <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                </div>
            </div>
        </div>
    </template>
    @* panels proprietário *@

</div>