﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.SaldoContaCaixa.IndexVM

<div id="filtro-grade">
    <template id="filter-SaldoIndex">
        <!-- Busca Avançada / Filtro Busca Rápida -->
        <div class="form-group">
            <label for="txtFiltroBuscaAvancada" class="control-label">Detalhes Conta ou Caixa</label>
            <input type="text" id="txtFiltroBuscaAvancada" data-bind="textInput: BuscaAvancada" class="form-control" />
        </div>

        <!-- Conta ou Caixa -->
        <div class="form-group">
            <label for="ddlFiltroFinanceiroConta" class="control-label">Conta ou Cauxa</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroFinanceiroConta", "IdFinanceiroContaIn", "IdFinanceiroContaIn", "Detalhe", "BuscaDetalhada", "Detalhe", "/Financeiro/Conta/List", "Ativo:true, ComRestricaoConsultaUsuarioLogado:true", idChaveRelacao: "IdFinanceiroConta", multiple: true)
        </div>

        <!-- Entidade -->
        <div class="form-group">
            <label for="ddlFiltroFinanceiroEntidade" class="control-label">Entidade</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroFinanceiroEntidade", "IdFinanceiroEntidadeIn", "IdFinanceiroEntidadeIn", "DescricaoComposta", "DescricaoCodigo", "DescricaoComposta", "/Financeiro/Entidade/List", "Ativo:true", idChaveRelacao: "IdFinanceiroEntidade", multiple: true)
        </div>

        <!-- Período -->
        <div class="form-group">
            <label for="txtFiltroPeriodoMovimento" class="control-label">Período</label>
            <div class="input-group date" style="width:230px">
                <input type="text" id="txtFiltroPeriodoMovimento" data-bind="daterangepicker: { startDate: DataMovimentoInicio, endDate: DataMovimentoFim }" class="form-control" />
                <div class="input-group-addon input-group-btn"><i class="material-icons">&#xE916;</i></div>
            </div>
        </div>

        <!-- Natureza de Conta -->
        <div class="form-group" style="max-width: 380px">
            <label for="radio">Natureza de Conta</label><br />
            <div class="btn-group" style="width: 380px">
                <label for="filter-Natureza1" class="btn-primary btn-inverted btn"><input id="filter-Natureza1" value="1" data-bind="checked: Natureza, vanillaUniform: { checkParentCSS: true }" type="checkbox" name="filter-natureza">Disponível</label>
                <label for="filter-Natureza3" class="btn-primary btn-inverted btn"><input id="filter-Natureza3" value="3" data-bind="checked: Natureza, vanillaUniform: { checkParentCSS: true }" type="checkbox" name="filter-natureza">Aplicações</label>
                <label for="filter-Natureza2" class="btn-primary btn-inverted btn"><input id="filter-Natureza2" value="2" data-bind="checked: Natureza, vanillaUniform: { checkParentCSS: true }" type="checkbox" name="filter-natureza">Não Disponíveis</label>
            </div>
        </div>

        <!-- Tipo de Conta -->
        <div class="form-group">
            <label for="ddlFiltroContaTipo" class="control-label">Tipo de Conta</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroContaTipo", "IdFinanceiroContaTipo", "IdFinanceiroContaTipo", "Descricao", "Descricao", "Descricao", "/Financeiro/ContaTipo/List", "Ativo:true", idChaveRelacao: "IdFinanceiroContaTipo")
        </div>

        <!-- Empresa Usuária -->
        <div class="form-group">
            <label for="ddlFiltroPessoaEmpresa" class="control-label">Empresa</label>
            @HtmlHelper.Select.SelectCheckbox(id: "ddlFiltroPessoaEmpresa", campoId: "IdPessoaIn", campoIdPesquisa: "IdPessoaIn", campoValor: "NomeSecundario", campoOrdenacao: "NomeSecundario", campoIdChaveRelacao: "IdPessoa", url: "/Corporativo/EmpresaUsuaria/List", dadosCompl: "Ativo: true", selectOptions: "{ showSubText: true }")
        </div>

    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "SaldoIndex",
    newUrl: "#/Financeiro/SaldoContaCaixa/New",
    editUrl: "#/Financeiro/SaldoContaCaixa/Edit",
    listUrl: "/Financeiro/SaldoContaCaixa/List",
    columns:
    @<script>
        [
            { 'id': 'BuscaAvancada', 'filter': true, 'defaultFilter': true },
            { 'id': 'IdFinanceiroContaIn', 'filter': true },
            { 'id': 'IdFinanceiroEntidadeIn', 'filter': true },
            { 'id': 'DataMovimentoInicio', 'filter': true },
            { 'id': 'DataMovimentoFim', 'filter': true },
            { 'id': 'Natureza', 'filter': true, defaultValue: ["1"] },
            { 'id': 'IdFinanceiroContaTipo', 'filter': true },
            { 'id': 'IdPessoaIn', 'filter': true },

            { 'id': 'FinanceiroMoedaCasasDeciamais' },
            { 'id': 'TipoMovimentoFinanceiro' },

            { 'id': 'DetalhesConta', 'header': true, 'displayName': 'Conta', 'sortable': true },
            { 'id': 'FinanceiroEntidadeDescricao', 'header': true, 'displayName': 'Entidade', 'sortable': true, 'groupable': true },
            { 'id': 'FinanceiroContaTipoDescricao', 'header': true, 'displayName': 'Tipo Conta', 'sortable': true, 'groupable': true },
            { 'id': 'FinanceiroMoedaSigla', 'header': true, 'displayName': 'Moeda', 'sortable': true },
            { 'id': 'TotalPagamento', 'header': true, 'displayName': 'Pagamentos', 'sortable': true },
            { 'id': 'TotalRecebimento', 'header': true, 'displayName': 'Recebimentos', 'sortable': true }

        ]
    </script>,
        templateRows:
        @<tr>
            <td data-bind="text: DetalhesConta"></td>
            <td data-bind="text: FinanceiroEntidadeDescricao"></td>
            <td data-bind="text: FinanceiroContaTipoDescricao"></td>
            <td data-bind="text: FinanceiroMoedaSigla"></td>
            <td data-bind="text: TotalPagamento, maskDecimal: { value: TotalPagamento, casasDecimais: 2 }"></td>
            <td data-bind="text: TotalRecebimento, maskDecimal: { value: TotalRecebimento, casasDecimais: 2 }"></td>

        </tr>, api: "indexVM.api", orderByCol: "DetalhesConta", orderByDir: HelpersUtil.OrderByDirEnum.Asc, showNewButton:false, useHiddenColumns: true)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}

