﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.ContaTipo.IndexVM

<div id="filtro-grade">
    <template id="filter-ContaTipoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>

        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "ContaTipoIndex",
    newUrl: "#/Financeiro/ContaTipo/New",
    editUrl: "#/Financeiro/ContaTipo/Edit",
    listUrl: "/Financeiro/ContaTipo/List",
    columns:
    @<script>
        [
            { 'id': 'IdFinanceiroContaTipo', editColumn: true },
            { 'id': 'Descricao', filter: true, header: true, 'defaultFilter': true },
            { 'id': 'CaixaInterno', displayName: 'Caixa Interno', header: true },
           defaults.gridNewEdit.column.ativo,
           defaults.gridNewEdit.column.acao
        ]
    </script>,
      templateRows:
    @<tr>
        <td data-bind="text: Descricao"></td>
        <td><span data-bind="text: (CaixaInterno ? 'Sim' : 'Não'), css: (CaixaInterno ? 'label label-success' : 'label label-default')"></span></td>
        <td data-bind="template: 'label-status'"></td>
        <td data-bind="template: { name: 'button-edit-url', data: { id: IdFinanceiroContaTipo } }"></td>
    </tr>, api: "indexVM.api", orderByCol: "Descricao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}