﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.ContaTipo.NewEditVM
<div data-bind="stopBindings: true">
    <form id="form-FinanceiroContaTipo-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="60" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="chkCaixaInterno">Caixa Interno</label>
                            <input type="checkbox" id="chkCaixaInterno" class="form-control" data-bind="checked: CaixaInterno, flipper: { observable: CaixaInterno, options: {'css':'warning'} }" />
                        </div>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.SimNao }" />
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </form>
</div>