﻿@model HTM.MasterGestor.Web.UI.Areas.Agricola.ViewModels.CulturaTipo.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-ProdutoCulturaTipo-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkSemDefinicao">Sem definição de uma Cultura ou Uso de Solo</label>
                            <input type="checkbox" class="no-uniform" id="chkSemDefinicao" data-bind="checked: SemDefinicao, flipper: { observable: SemDefinicao, options: { 'css': 'warning' } }">

                        </div>
                    </div>
                </div>

                <div class="row" data-bind="visible: vm.SemDefinicao()">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkPermiteVariasColheitas">Uma mesma planta permite várias colheitas ou cortes sem precisar plantar novamente.</label>
                            <input type="checkbox" class="no-uniform" id="chkPermiteVariasColheitas" data-bind="checked: PermiteVariasColheitas, flipper: { observable: PermiteVariasColheitas, options: { 'css': 'warning' } }">

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
