﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.CategoriaServico.CategoriaServicoMateriaPrimaNewEditVM
<routeoptions data-route-custom="route-categoriaServico"></routeoptions>

<div data-bind="stopBindings: true">
    <form id="form-CategoriaServicoMateriaPrima-NewEdit" data-bind="formSubmit: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row read-mode">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtCodigo">Código</label>
                                <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" maxlength="10" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtDescricao">Descrição</label>
                                <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao" class="form-control" maxlength="150" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlAplicacoesTipo">Onde pode ser usada (Tipos de Aplicações)</label>
                                <select id="ddlAplicacoesTipo" class="form-control no-search" data-bind="value: TipoAplicacaoTipo" disabled="disabled">
                                    <option value="1">Benfeitoria</option>
                                    <option value="2">Local de Produção</option>
                                    <option value="3">Benfeitoria e Local de Produção</option>
                                    <option value="4">Lote</option>
                                    <option value="5">Animal</option>
                                    <option value="6">Lote e Animal</option>
                                    <option value="7">Equipamento</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-toggle="collapsible" id="pnlParametrosGerais">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">PARÂMETROS GERAIS: MATÉRIA PRIMA</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTipoUtilizacao" class="control-label">Utilização de Produtos</label>
                                <select placeholder="ddlTipoUtilizacao" id="ddlTipoUtilizacao" class="form-control no-search" data-bind="value: TipoUtilizacaoMateriaPrima, validate: { required:true }">
                                    <option value="1">Não permitido</option>
                                    <option value="2">Permitido</option>
                                    <option value="3">Obrigatório</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <fieldset data-bind="visible: vm.TipoUtilizacaoMateriaPrima() == '2' || vm.TipoUtilizacaoMateriaPrima() == '3'">
                        <legend>ONDE SERÁ INFORMADO?</legend>
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label" for="chkDiretamenteOrdem">Diretamente na Ordem</label>
                                    <input type="checkbox" class="no-uniform" id="chkDiretamenteOrdem" data-bind="checked: DiretamenteOrdem, flipper: { observable: DiretamenteOrdem, options: { 'css': 'warning' } }">
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label" for="chkInformeServico">Via Informe de Serviço</label>
                                    <input type="checkbox" class="no-uniform" id="chkInformeServico" data-bind="checked: InformeServico, flipper: { observable: InformeServico, options: { 'css': 'warning' } }">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="panel panel-default" data-toggle="collapsible" id="pnlDetalhesUtilizacao" data-bind="collapsible: { vmArray: [ vm.ReservaMateriaPrima(), vm.TipoUsoMateriaPrima(), vm.TipoRestricaoMateriaPrima()] }, visible: vm.TipoUtilizacaoMateriaPrima() != '1'">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">DETALHES DE UTILIZAÇÃO</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="form-group">
                                <label class="control-label" for="chkReservaMateriaPrima">Reserva de Matéria Prima caso tenha em estoque (Empenho)</label>
                                <input type="checkbox" class="no-uniform" id="chkReservaProduto" data-bind="checked: ReservaMateriaPrima, flipper: { observable: ReservaMateriaPrima, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTipoUsoMateriaPrima" class="control-label"> Sobre o uso de matérias primas</label>
                                <select id="ddlTipoUsoMateriaPrima" class="form-control no-search" data-bind="value: TipoUsoMateriaPrima">
                                    <option value="1">Não Controla origem</option>
                                    <option value="2">Apenas pode ser usado do mesmo Lote</option>
                                    <option value="3">Apenas pode ser usado do mesmo Local de Produção</option>
                                    <option value="4">Apenas pode ser usado da mesma Unidade de Produção</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTipoRestricaoMateriaPrima" class="control-label">Existe restrição de utilização Matéria Prima ?</label>
                                <select id="ddlTipoRestricaoMateriaPrima" class="form-control no-search" data-bind="value: TipoRestricaoMateriaPrima">
                                    <option value="1">Sem Restrição</option>
                                    <option value="2">Restrição por Grupo de Produtos</option>
                                    <option value="3">Restrição por Produtos Individualmente</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: vm.TipoRestricaoMateriaPrima() == '2'">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <label for="ddlProdutoServicoGrupo">Caso apenas possam ser informados alguns Grupos de Produtos relacione-os abaixo</label>
                                @HtmlHelper.Select.SearchableKO("ddlProdutoServicoGrupo", "IdsProdutoServicoGrupo", "IdProdutoServicoGrupoIn", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Estoque/ProdutoServicoGrupo/List", "Ativo:true,NaturezaIn:\\'1,3\\'", dataBind: "{validate : { vm.TipoRestricaoMateriaPrima() == 2 } }", idChaveRelacao: "IdProdutoServicoGrupo", multiple: true)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>