﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.CategoriaServico.CategoriaServicoMaoDeObraNewEditVM

<routeoptions data-route-custom="route-categoriaServico"></routeoptions>

<div data-bind="stopBindings: true">
    <form id="form-CategoriaServicoMaoDeObra-NewEdit" data-bind="formSubmit: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row read-mode">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtCodigo">Código</label>
                                <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" maxlength="10" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtDescricao">Descrição</label>
                                <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao" class="form-control" maxlength="150" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlAplicacoesTipo">Onde pode ser usada (Tipos de Aplicações)</label>
                                <select id="ddlAplicacoesTipo" class="form-control no-search" data-bind="value: TipoAplicacaoTipo" disabled="disabled">
                                    <option value="1">Benfeitoria</option>
                                    <option value="2">Local de Produção</option>
                                    <option value="3">Benfeitoria e Local de Produção</option>
                                    <option value="4">Lote</option>
                                    <option value="5">Animal</option>
                                    <option value="6">Lote e Animal</option>
                                    <option value="7">Equipamento</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-toggle="collapsible" id="pnlParametros">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">PARÂMETROS GERAIS: MÃO DE OBRA</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTipoUtilizacao" class="control-label">Utilização de Mão de Obra</label>
                                <select placeholder="ddlTipoUtilizacao" id="ddlTipoUtilizacao" class="form-control no-search" data-bind="value: TipoUtilizacaoMaoDeObra, validate: { required : true}">
                                    <option value="1">Não permitido</option>
                                    <option value="2">Permitido</option>
                                    <option value="3">Obrigatório</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <fieldset data-bind="visible: vm.TipoUtilizacaoMaoDeObra() == '2' || vm.TipoUtilizacaoMaoDeObra() == '3'">
                        <legend>ONDE SERÁ INFORMADO?</legend>
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label" for="chkDiretamenteOrdem">Diretamente na Ordem</label>
                                    <input type="checkbox" class="no-uniform" id="chkDiretamenteOrdem" data-bind="checked: DiretamenteOrdem, flipper: { observable: DiretamenteOrdem, options: { 'css': 'warning' } }">
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label" for="chkInformeServico">Via Informe de Serviço</label>
                                    <input type="checkbox" class="no-uniform" id="chkInformeServico" data-bind="checked: InformeServico, flipper: { observable: InformeServico, options: { 'css': 'warning' } }">
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>
            <div class="panel panel-default" data-toggle="collapsible" id="pnlDetalhes" data-bind="collapsible: { vmArray: [ vm.TipoRestricaoMaoDeObra(), vm.TipoControleExecucao()] }, visible: vm.TipoUtilizacaoMaoDeObra() != '1'">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">DETALHES DE USO</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTipoRestricaoMaoDeObra" class="control-label">Existe restrição de Mão de Obra ?</label>
                                <select id="ddlTipoRestricaoMaoDeObra" class="form-control no-search" data-bind="value: TipoRestricaoMaoDeObra">
                                    <option value="1">Sem Restrição</option>
                                    <option value="2">Restrição por Funções</option>
                                    <option value="3">Restrição por Equipes</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTipoControleExecucao" class="control-label">Controla o tempo de execução?</label>
                                <select id="ddlTipoControleExecucao" class="form-control no-search" data-bind="value: TipoControleExecucao">
                                    <option value="1">Não Controla</option>
                                    <option value="2">Informa o Início e Término</option>
                                    <option value="3">Informa o Tempo Total</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>