﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.Transacao.IndexVM

<div id="filtro-grade">
    <template id="filter-TransacaoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroSubProcessoIn" class="control-label">Sub Processo</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroSubProcessoIn", "IdSubProcesso", "IdSubProcesso", "DescricaoComProcesso", "Descricao", "DescricaoComProcesso", "/Corporativo/SubProcesso/List", "Ativo:true", idChaveRelacao: "IdSubProcesso")
        </div>
        <div class="form-group">
            <label for="ddlFiltroDocumentoTipo" class="control-label">Tipo Documento</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroDocumentoTipo", "IdDocumentoTipoIn", "IdDocumentoTipoIn", "Descricao", "Descricao", "Descricao", "/Contabilidade/DocumentoTipo/List", "Ativo:true", idChaveRelacao: "IdDocumentoTipo", multiple: true)
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
        id: "TransacaoIndex",
        newUrl: "#/Corporativo/Transacao/New",
        editUrl: "#/Corporativo/Transacao/Edit",
        listUrl: "/Corporativo/Transacao/List",
        columns:
        @<script>
            [
                { 'id': 'IdTransacao', editColumn: true },
                { 'id': 'IdDocumentoTipoIn', filter: true },
                { 'id': 'IdSubProcesso', filter: true },
                { 'id': 'DescricaoProcessoSubProcesso', displayName: 'Processo » Sub Processo',filter:true, groupable: true },
                { 'id': 'Codigo', header: true, displayName: 'Código', sortable: true },
                { 'id': 'Descricao', header: true, filter: true, defaultFilter: true, displayName: 'Descrição', sortable: true },
                { 'id': 'DescricaoTransacaoAcao', header: true, filter: true, displayName: 'Ação Transação', sortable: true },
                { 'id': 'DescricaoDirecionador', header: true, 'filter': true, displayName: 'Direcionador', sortable: true },
                { 'id': 'Parametrizado', header: true, filter: true, displayName: 'Parametrizado', sortable: true },
                defaults.gridNewEdit.column.ativo,
                defaults.gridNewEdit.column.acao
            ]
        </script>,
        templateRows:
        @<tr>
            <td data-bind="text: Codigo, id: IdTransacao"></td>
             <td data-bind="text: Descricao"></td>
             <td data-bind="text: DescricaoTransacaoAcao"></td>
             <td data-bind="text: DescricaoDirecionador"></td>
             <td data-bind="template: { name: 'label-status', data: { status: Parametrizado } }"></td>
            <td data-bind="template: 'label-status'"></td>
            <td data-bind="template: { name: 'button-edit-url', data: { id: IdTransacao } }"></td>
        </tr>,api: "indexVM.api",orderByCol: "Descricao",orderByDir: HelpersUtil.OrderByDirEnum.Asc,useHiddenColumns: false)

</div>
@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}

