﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.Transacao.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-Transacao-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtCodigo">Código<span>(Automático)</span></label>
                                <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" maxlength="120" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtDescricao">Descrição</label>
                                <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="150" />
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="txtDescricaoResumida">Descrição Resumida</label>
                                <input type="text" id="txtDescricaoResumida" name="txtDescricaoResumida" data-bind="value: DescricaoResumida, validate: { required: true }" class="form-control" maxlength="50" />
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="ddlSubProcesso">Sub Processo</label>
                                @HtmlHelper.Select.SearchableKO("ddlSubProcesso", "IdSubProcesso", "IdSubProcesso", "DescricaoComProcesso", "Descricao", "DescricaoComProcesso", "/Corporativo/SubProcesso/List", "Ativo:true",required:true)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label" for="chkRealizadaViaSistema">Esta Transação apenas pode ser realizada pelo Sistema</label>
                                <input type="checkbox" class="no-uniform" id="chkRealizadaViaSistema" data-bind="checked: RealizadaViaSistema, flipper: { observable: RealizadaViaSistema, options: {'css': 'warning'} }">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlDocumentosPermitidos">Permite o uso dos seguintes Tipos de Documentos</label>
                                @HtmlHelper.Select.SearchableKO("ddlDocumentosPermitidos", "IdsDocumentoTipo", "IdDocumentoTipoIn", "Descricao", "Descricao", "Descricao", "/Contabilidade/DocumentoTipo/List", "Ativo:true", idChaveRelacao: "IdDocumentoTipo", multiple: true)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlDocumentoTipo">Documento Padrão</label>
                                @HtmlHelper.Select.SearchableKO("ddlDocumentoTipo", "IdDocumentoTipo", "IdDocumentoTipo", "Descricao", "Descricao", "Descricao", "/Contabilidade/DocumentoTipo/List", "Ativo:true", idControleDependencia: "ddlDocumentosPermitidos", idDependencia: "IdDocumentoTipoIn", idChaveRelacao: "IdDocumentoTipo")
                            </div>
                        </div>
                    </div>
                    <!-- Mudança de regra do Humberto (04/01/2016), caso != RealizadaViaSistema -->
                    <!-- Regra obsoleta (16/05/2016) -->
                    @*<div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlDocumentoTipo">Documento Padrão</label>
                                @HtmlHelper.Select.SearchableKO("ddlDocumentoTipo", "IdDocumentoTipo", "IdDocumentoTipo", "Descricao", "Descricao", "Descricao", "/Contabilidade/DocumentoTipo/List", "Ativo:true", idControleDependencia: "ddlDocumentosPermitidos", idDependencia: "IdDocumentoTipoIn", idChaveRelacao: "IdDocumentoTipo")
                            </div>
                        </div>
                    </div>*@
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label" for="chkExclusivoItensCompraVenda">Exclusivo para Itens de Compra e Venda</label>
                                <input type="checkbox" class="no-uniform" id="chkExclusivoItensCompraVenda" data-bind="checked: ExclusivoItensCompraVenda, flipper: { observable: ExclusivoItensCompraVenda, options: {'css': 'warning'} }">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label" for="chkAtivo">Ativo</label>
                                <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-bind="collapsible: { vmArray: [ vm.IdTransacaoSeguinte(), vm.lstTransacaoSimultanea() ]}">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">TRANSAÇÕES RELACIONADAS</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTransacaoSeguinte">Transação a ser executada na sequência automaticamente</label>
                                @HtmlHelper.Select.SearchableKO("ddlTransacaoSeguinte", "IdTransacaoSeguinte", "IdTransacao", "Descricao", "Descricao", "Descricao", "/Corporativo/Transacao/List", idChaveRelacao: "IdTransacao", dadosComplObservable: "vm.DadosComplementares")
                            </div>
                        </div>
                    </div>
                    @HtmlHelper.GridView.GridNewEdit(
                id: "transacao", // Declarar na página <template id="newedit-id"></template>
                vm: "lstTransacaoSimultanea",
                vmExtend: "vmTransacaoSimultaneaExtend",
                title: "Transações Simultâneas",
                columns: @<script>
                    [
                        { 'id': 'IdTransacaoSimultane' },
                        { 'id': 'IdTransacaoRelacionada', defaultValue: vm.IdTransacao() },
                        { 'id': 'IdTransacao' },
                        { 'id': 'MoedaPadrao', defaultValue: true },
                        { 'id': 'Ordem', displayName: 'Ordem', header: true, 'sortable': true },
                        { 'id': 'DescricaoTransacao', displayName: 'Transação', header: true, 'sortable': true },
                        { 'id': 'NaturezaDescricao' },
                        { 'id': 'Obrigatorio', defaultValue: true, header: true, 'sortable': true, displayName: 'Obrigatório' },
                        defaults.gridNewEdit.column.acaoEditRemove
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: Ordem }  }"></td>
                    <td data-bind="text: DescricaoTransacao"></td>
                    <td data-bind="template: { name: 'label-status', data : { status: Obrigatorio} }"></td>
                    <td data-bind="template: { name: 'button-edit-remove' }"></td>
                </tr>, orderByCol: "Ordem", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false, showNewButton: true)
                </div>
            </div>
            <div class="panel panel-default" data-bind="collapsible: { vmArray: [ vm.CaracteristicaGeracaoTipo() ]}">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">AÇÕES EM PRODUTOS, INSUMOS, MATERIAIS E SERVIÇOS</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label" for="chkVendaPatrimonio">Venda de Patrimônio</label>
                                <input type="checkbox" class="no-uniform" id="chkVendaPatrimonio" data-bind="checked: VendaPatrimonio, flipper: { observable: VendaPatrimonio, options: {'css': 'warning'} }">
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: !vm.VendaPatrimonio()">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlMovimentacaoEstoqueTipo" class="control-label">Movimento de Estoque</label>
                                <select id="ddlMovimentacaoEstoqueTipo" name="ddlMovimentacaoEstoqueTipo" class="form-control no-search" data-bind="value: MovimentacaoEstoqueTipo">
                                    <option value="1">Não Movimenta</option>
                                    <option value="2">Gera Entrada</option>
                                    <option value="3">Gera Saída</option>
                                    <option value="4">Gera Saída por Transaferência</option>
                                    <option value="5">Gera Entrada por Transaferência</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4" data-bind="visible: vm.MovimentacaoEstoqueTipo() == '2' || vm.MovimentacaoEstoqueTipo() == '3'">
                            <div class="form-group">
                                <label for="ddlCaracteristicaGeracaoTipo" class="control-label">Dados a serem Informados</label>
                                <select id="ddlCaracteristicaGeracaoTipo" name="ddlCaracteristicaGeracaoTipo" class="form-control no-search" data-bind="value: CaracteristicaGeracaoTipo">
                                    <option value="">Nenhum</option>
                                    <option value="1">Quantidade + Valor</option>
                                    <option value="2">Quantidade</option>
                                    <option value="3">Valor</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="if: (!vm.VendaPatrimonio() && vm.MovimentacaoEstoqueTipo() != '1' && vm.MovimentacaoEstoqueTipo() != null)">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlDirecionadorEstoqueTipo" class="control-label">Tipo de Direcionador</label>
                                <select id="ddlDirecionadorEstoqueTipo" name="ddlDirecionadorEstoqueTipo" class="form-control no-search" data-bind="value: DirecionadorEstoqueTipo, validate: { required: (!vm.VendaPatrimonio() && vm.MovimentacaoEstoqueTipo() != '1') } ">
                                    <option value=""></option>
                                    <option value="1">Perfil de Pessoa</option>
                                    <option value="2">Produto ou Serviços</option>
                                    <option value="3">Ordem de Serviço</option>
                                    <option value="4">Ordem de Produção</option>
                                    <option value="5">Ordem de Investimento</option>
                                    <option value="6">Entidade Financeira</option>
                                    <option value="7">Classe Patrimônial</option>
                                    <option value="8">Tipo de Documento</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-bind="collapsible: { vmArray: [ vm.MovimentacaoFinanceiroTipo(), vm.MovimentacaoFinanceiroObrigacaoTipo()]}">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">AÇÕES FINANCEIRAS</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlMovimentacaoFinanceiroTipo" class="control-label">Movimento Financeiro</label>
                                <select id="ddlMovimentacaoFinanceiroTipo" name="ddlMovimentacaoFinanceiroTipo" class="form-control no-search" data-bind="value: MovimentacaoFinanceiroTipo">
                                    <option value="1">Não Movimenta</option>
                                    <option value="2">Gera Contas a Pagar</option>
                                    <option value="3">Gera Contas a Receber</option>
                                    <option value="4">Gera Saída por Transaferência</option>
                                    <option value="5">Gera Entrada por Transaferência</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4" data-bind="visible: vm.MovimentacaoFinanceiroTipo() == '2' || vm.MovimentacaoFinanceiroTipo() == '3'">
                            <div class="form-group">
                                <label for="ddlMovimentacaoFinanceiroObrigacaoTipo" class="control-label">Tipo de Movimento Financeiro</label>
                                <select id="ddlMovimentacaoFinanceiroObrigacaoTipo" name="ddlMovimentacaoFinanceiroObrigacaoTipo" class="form-control no-search" data-bind="value: MovimentacaoFinanceiroObrigacaoTipo">
                                    <option value="1">Credor (Passivo / Negativo)</option>
                                    <option value="2">Devedor (Ativo / Positivo)</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4" data-bind="visible: vm.MovimentacaoFinanceiroTipo() != '1'">
                            <div class="form-group">
                                <label for="ddl" class="control-label">Tipo de Direcionador</label>
                                <select id="ddlDirecionadorFinanceiroTipo" name="ddlDirecionadorFinanceiroTipo" class="form-control no-search" data-bind="value: DirecionadorFinanceiroTipo, validate: { required: vm.MovimentacaoFinanceiroTipo() != '1'  }">
                                    <option value=""></option>
                                    <option value="1">Perfil de Pessoa</option>
                                    <option value="2">Produto ou Serviços</option>
                                    <option value="3">Ordem de Serviço</option>
                                    <option value="4">Ordem de Produção</option>
                                    <option value="5">Ordem de Investimento</option>
                                    <option value="6">Entidade Financeira</option>
                                    <option value="7">Classe Patrimônial</option>
                                    <option value="8">Tipo de Documento</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: vm.MovimentacaoFinanceiroTipo() != '1'">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label" for="chkGeraMovimentoBancario">Gera Movimentação Bancária</label>
                                <input type="checkbox" class="no-uniform" id="chkGeraMovimentoBancario" data-bind="checked: GeraMovimentoBancario, flipper: { observable: GeraMovimentoBancario, options: {'css': 'warning'} }">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label" for="chkUtilizadoComoAntecipacao">Pode ser utilizada como Antecipação na baixa de Título</label>
                                <input type="checkbox" class="no-uniform" id="chkUtilizadoComoAntecipacao" data-bind="checked: UtilizadoComoAntecipacao, flipper: { observable: UtilizadoComoAntecipacao, options: {'css': 'warning'} }">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label" for="chkRepresentaAntecipacao">Representa Antecipação</label>
                                <input type="checkbox" class="no-uniform" id="chkRepresentaAntecipacao" data-bind="checked: RepresentaAntecipacao, flipper: { observable: RepresentaAntecipacao, options: {'css': 'warning'} }">
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: vm.MovimentacaoFinanceiroTipo() != '1'">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <label for="ddlHistoricoTipo" class="control-label">Modelo de geração do Histórico de Movimentação de Conta ou Caixa</label>
                                <select id="ddlHistoricoTipo" name="ddlHistoricoTipo" class="form-control no-search" data-bind="value: HistoricoTipo, validate: { required: vm.MovimentacaoFinanceiroTipo() != '1' }">
                                    <option value=""></option>
                                    <option value="1">Ação do Sub-Processo + Número do Documento (Financeiro) + Pessoa</option>
                                    <option value="2">Entidade Financeira + Conta Destino.</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-bind="collapsible: { vmArray: [ vm.TempoLimite(), vm.DirecionadorTerceirosTipo()]}">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">AÇÕES COM TERCEIROS</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlControleOperacaoTerceiroTipo" class="control-label">Controla Operação com Terceiros</label>
                                <select id="ddlControleOperacaoTerceiroTipo" name="ddl" class="form-control no-search" data-bind="value: ControleOperacaoTerceiroTipo">
                                    <option value="1">Não Controla (Compra Comum, Doação, Transferência para Uso, ...)</option>
                                    <option value="2">Consignação</option>
                                    <option value="3">Simples Remessa (Demonstração, Manutenção)</option>
                                    <option value="4">Nota Fiscal de Simples Faturamento</option>
                                    <option value="5">Remessa de Entraga Furuta</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-2" data-bind="visible: ControleOperacaoTerceiroTipo() != '1'">
                            @HtmlHelper.Campo.UnidadeTipo("UnidadeTempoLimite", "TempoLimite", "5", "IdUnidadeTempoLimite", label: "Tempo Limite", AlteraUnidade: true, ValidateBind: "{ required: (vm.ControleOperacaoTerceiroTipo() != '1'} ")
                        </div>
                    </div>
                    <div class="row" data-bind="visible: ControleOperacaoTerceiroTipo() != '1'">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddl" class="control-label">Tipo de Direcionador</label>
                                <select id="ddlDirecionadorTerceirosTipo" name="ddlDirecionadorTerceirosTipo" class="form-control no-search" data-bind="value: DirecionadorTerceirosTipo, validate: { required: ControleOperacaoTerceiroTipo() != '1' }">
                                    <option value=""></option>
                                    <option value="1">Perfil de Pessoa</option>
                                    <option value="2">Produto ou Serviços</option>
                                    <option value="3">Ordem de Serviço</option>
                                    <option value="4">Ordem de Produção</option>
                                    <option value="5">Ordem de Investimento</option>
                                    <option value="6">Entidade Financeira</option>
                                    <option value="7">Classe Patrimônial</option>
                                    <option value="8">Tipo de Documento</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-bind="collapsible: { vmArray: [ vm.ParametrizacaoContabilPorPrazo()]}">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">DETALHES CONTÁBEIS</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            @*<div class="form-group">
                                    <label for="ddlMovimentacaoContabilTipo" class="control-label">Movimento Contábil</label>
                                    <select id="ddlMovimentacaoContabilTipo" name="ddlMovimentacaoContabilTipo" class="form-control no-search" data-bind="value: MovimentacaoContabilTipo">
                                        <option value="1">Não Movimenta</option>
                                        <option value="2" selected="selected">Gera Gerencial e Fiscal </option>
                                        <option value="3">Gera Gerencia</option>
                                        <option value="4">Gera Fiscal</option>
                                    </select>
                                </div>*@
                            <div class="form-group">
                                <label class="control-label" for="chkParametrizacaoContabilPorPrazo">Gera Lançamento Contábil</label>
                                <input type="checkbox" class="no-uniform" id="chkLancamentoContabil" data-bind="checked: GeraMovimentoContabil, flipper: { observable: GeraMovimentoContabil, options: {'css': 'warning'} }">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label" for="chkParametrizacaoContabilPorPrazo">Aplica-se Parametrização Contábil por Prazo Financeiro</label>
                                <input type="checkbox" class="no-uniform" id="chkParametrizacaoContabilPorPrazo" data-bind="checked: ParametrizacaoContabilPorPrazo, flipper: { observable: ParametrizacaoContabilPorPrazo, options: {'css': 'warning'} }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-bind="collapsible: { vmArray: [ vm.IdTransacaoOrigem(), vm.DirecionadorFiscalTipo()]}">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">AÇÕES FISCAIS</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkRealizaMovimentoFiscal">Realiza movimento Fiscal</label>
                                <input type="checkbox" class="no-uniform" id="chkRealizaMovimentoFiscal" data-bind="checked: RealizaMovimentoFiscal, flipper: { observable: RealizaMovimentoFiscal, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: vm.RealizaMovimentoFiscal()">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label" for="chkExigeDocumentoOrigem">Exige documento de Origem</label>
                                <input type="checkbox" class="no-uniform" id="chkExigeDocumentoOrigem" data-bind="checked: ExigeDocumentoOrigem, flipper: { observable: ExigeDocumentoOrigem, options: {'css': 'warning'} }">
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: ExigeDocumentoOrigem">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTransacaoOrigem">Qual Transação que caracteriza o Documento de Origem</label>
                                @HtmlHelper.Select.SearchableKO("ddlTransacaoOrigem", "IdTransacaoOrigem", "IdTransacao", "Descricao", "Descricao", "Descricao", "/Corporativo/Transacao/List", "Ativo:true", idChaveRelacao: "IdTransacao", dataBind: "validate: { required: vm.ExigeDocumentoOrigem() }")
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: (vm.RealizaMovimentoFiscal() == true && vm.ControleOperacaoTerceiroTipo() != '1')">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddl" class="control-label">Tipo de Direcionador</label>
                                <select id="ddlDirecionadorFiscalTipo" name="ddlDirecionadorFiscalTipo" class="form-control no-search" data-bind="value: DirecionadorFiscalTipo, validate: { required: (vm.RealizaMovimentoFiscal() == true && vm.ControleOperacaoTerceiroTipo() != '1')}">
                                    <option value=""></option>
                                    <option value="1">Perfil de Pessoa</option>
                                    <option value="2">Produto ou Serviços</option>
                                    <option value="3">Ordem de Serviço</option>
                                    <option value="4">Ordem de Produção</option>
                                    <option value="5">Ordem de Investimento</option>
                                    <option value="6">Entidade Financeira</option>
                                    <option value="7">Classe Patrimônial</option>
                                    <option value="8">Tipo de Documento</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div data-bind="visible: vm.RealizaMovimentoFiscal()">
                        <!-- Grid CFOP -->
                        @HtmlHelper.GridView.GridNewEdit(
                id: "FiscalCFOP", // Declarar na página <template id="newedit-id"></template>
                vm: "lstFiscalCFOP",
                vmExtend: "vmTransacaoCFOPExtend",
                title: "Origem do Produto",
                useHiddenColumns: false,
                useRemovedColumn: true,
                columns: @<script>
                    [
                        { 'id': 'IdTransacaoFiscalCFOP' },
                        { 'id': 'IdTransacao', defaultValue: vm.IdTransacao() },
                        { 'id': 'IdFiscalCFOP' },
                        { 'id': 'UtilizacaoPrevistaTipo' },
                        { 'id': 'Excluido' },
                        { 'id': 'DescricaoOrigemFiscalCFOP', displayName: 'Origem ou Destino', header: true, sortable: true },
                        { 'id': 'DescricaoUtilizacaoPrevistaTipo', displayName: 'Utilização Prevista ou Origem do Produto', header: true, 'sortable': true },
                        { 'id': 'DescricaoFiscalCFOP', displayName: 'CFOP', header: true, 'sortable': true },
                        defaults.gridNewEdit.column.acaoEditRemove
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: DescricaoOrigemFiscalCFOP }  }"></td>
                    <td data-bind="text: DescricaoUtilizacaoPrevistaTipo"></td>
                    <td data-bind="text: DescricaoFiscalCFOP"></td>
                    <td data-bind="template: { name: 'button-edit-remove' }"></td>
                </tr>, orderByCol: "Ordem", orderByDir: HelpersUtil.OrderByDirEnum.Asc, showNewButton: true)
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<template id="newedit-transacao">
    <div class="row">
        <div class="col-xs-2">
            <div class="form-group">
                <label for="txtOrdem">Ordem</label>
                <input type="number" id="txtOrdem" name="txtOrdem" data-bind="value: Ordem, validate: { required: true }" class="form-control" maxlength="4" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10">
            <div class="form-group">
                <label for="ddlTransacao">Transação</label>
                @HtmlHelper.Select.SearchableKO("ddlTransacao", "IdTransacao", "IdTransacao", "Descricao", "Descricao", "Descricao", "/Corporativo/Transacao/List", dadosComplObservable: "dadosComplementaresTransacaoSimultanea", required: true, vmDataSelected: "Trans")
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <label for="txtNatureza">Natureza</label>
                <input type="text" id="txtNatureza" name="txtNatureza" data-bind="value: NaturezaDescricao" class="form-control" disabled="disabled" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <div class="form-group">
                <label class="control-label" for="chkObrigatorio">Obrigatório</label>
                <input type="checkbox" class="no-uniform" id="chkObrigatorio" data-bind="checked: Obrigatorio, flipper: { observable: Obrigatorio, options: {'css': 'warning'} }">
            </div>
        </div>
        <div class="col-xs-9">
            <div class="form-group">
                <label class="control-label" for="chkMoedaPadrao">Quando Moeda do Documento for diferente da Padrão da Empresa</label>
                <input type="checkbox" class="no-uniform" id="chkMoedaPadrao" data-bind="checked: MoedaPadrao, flipper: { observable: MoedaPadrao, options: {'css': 'warning'} }">
            </div>
        </div>
    </div>
</template>
<template id="newedit-FiscalCFOP">
    <div class="row">
        <div class="col-xs-8">
            <div class="form-group">
                <label for="ddlUtilizacaoPrevistaTipo">Utilização Prevista</label>
                <select id="ddlUtilizacaoPrevistaTipo" name="ddlUtilizacaoPrevistaTipo" class="form-control no-search" data-bind="value: UtilizacaoPrevistaTipo, required: true">
                    <option value="1">Uso na Produção</option>
                    <option value="2">Origem do Produto</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div class="form-group">
                <label for="ddlFiscalCFOP">CFOP</label>
                @HtmlHelper.Select.SearchableKO("ddlFiscalCFOP", "IdFiscalCFOP", "IdFiscalCFOP", "Descricao", "Descricao", "Descricao", "/Contabilidade/CFOP/List", dadosCompl: "Ativo:true", vmTextSelected: "DescricaoFiscalCFOP", required: true, vmDataSelected: "vmFiscalCFOP")
            </div>
        </div>
    </div>
</template>
