﻿@model HTM.MasterGestor.Web.UI.Areas.Configuracao.ViewModels.NotificacaoModelo.IndexVM

<div id="filtro-grade">
    <template id="filter-NotificacaoModeloIndex">
        <div class="form-group">
            <label for="txtFiltroAssunto" class="control-label">Assunto</label>
            <input type="text" id="txtFiltroAssunto" data-bind="value: Assunto" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroNotificacaoTipo" class="control-label" style="width: 200px">Tipo</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroNotificacaoTipo", "IdNotificacaoTipoIn", "IdNotificacaoTipoIn", "Descricao", "Descricao", "Descricao", "/Configuracao/NotificacaoTipo/List", "Ativo:true", multiple: true, idChaveRelacao: "IdNotificacaoTipo")
        </div>
        <div class="form-group">
            <label for="ddlFiltroNotificacaoForma" class="control-label" style="width: 200px">Forma</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroNotificacaoForma", "IdNotificacaoFormaIn", "IdNotificacaoFormaIn", "Descricao", "Descricao", "Descricao", "/Configuracao/NotificacaoForma/List", "Ativo:true", multiple: true, idChaveRelacao: "IdNotificacaoForma")
        </div>
        <div class="form-group">
            <label for="ddlFiltroEmpresa" class="control-label" style="width: 200px">Empresa</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroEmpresa", "IdEmpresa", "IdEmpresa", "Nome", "Nome", "Nome", "/Corporativo/Empresa/List", "Ativo:true", multiple: true)
        </div>
        <div class="form-group">
            <label for="ddlFiltroModulo" class="control-label" style="width: 200px">Módulo</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroModulo", "IdModuloIn", "IdModuloIn", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Configuracao/Modulo/List", "Ativo:true", multiple: true, idChaveRelacao: "IdModulo")
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "NotificacaoModeloIndex",
    newUrl: "#/Configuracao/NotificacaoModelo/New",
    editUrl: "#/Configuracao/NotificacaoModelo/Edit",
    listUrl: "/Configuracao/NotificacaoModelo/List",
    columns:
    @<script>
        [
           { 'id': 'IdNotificacaoModelo', filter: true, editColumn: true },
           { 'id': 'IdNotificacaoFormaIn', filter: true },
           { 'id': 'IdNotificacaoTipoIn', filter: true },
           { 'id': 'IdModuloIn', filter: true },
           { 'id': 'IdEmpresa', filter: true },
           { 'id': 'DescricaoNotificacaoForma', 'header': true, 'filter': true, displayName: 'Forma', sortable: true, header: true },
           { 'id': 'DescricaoNotificacaoTipo', 'header': true, 'filter': true, displayName: 'Tipo', sortable: true, header: true },
           { 'id': 'Assunto', 'header': true, 'filter': true, displayName: 'Assunto', sortable: true, header: true, defaultFilter: true },
           { 'id': 'NomeEmpresa', 'groupable': true, displayName: 'Empresa', sortable: true, header: true },
           { 'id': 'DescricaoModulo', 'header': true, 'filter': true, displayName: 'Módulo', sortable: true, header: true },
           defaults.gridNewEdit.column.ativo,
           defaults.gridNewEdit.column.acao
        ]
    </script>,
      templateRows:
    @<tr>
        <td><span data-bind="text: DescricaoNotificacaoForma"></span></td>
        <td><span data-bind="text: DescricaoNotificacaoTipo"></span></td>
        <td><span data-bind="text: Assunto"></span></td>
        <td><span data-bind="text: NomeEmpresa"></span></td>
        <td><span data-bind="text: DescricaoModulo"></span></td>
        <td data-bind="template: 'label-status'"></td>
        <td data-bind="template: { name: 'button-edit-url', data: { id: IdNotificacaoModelo } }"></td>
    </tr>, api: "indexVM.api", orderByCol: "Assunto", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)
</div>
@section Scripts {

    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)

}