﻿@model HTM.MasterGestor.Web.UI.Areas.Configuracao.ViewModels.NotificacaoModelo.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-NotificacaoModelo-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlNotificacaoTipo">Tipo</label>
                            @HtmlHelper.Select.SearchableKO("ddlNotificacaoTipo", "IdNotificacaoTipo", "IdNotificacaoTipo", "Descricao", "Descricao", "Descricao", "/Configuracao/NotificacaoTipo/List", "Ativo: true", allowClear: true, required: true)
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlNotificacaoForma">Forma</label>
                            @HtmlHelper.Select.SearchableKO("ddlNotificacaoForma", "IdNotificacaoForma", "IdNotificacaoForma", "Descricao", "Descricao", "Descricao", "/Configuracao/NotificacaoForma/List", "Ativo: true", allowClear: true, required: true)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlEmpresaRemetente">Empresa</label>
                            @HtmlHelper.Select.SearchableKO("ddlEmpresaRemetente", "IdEmpresaRemetente", "IdEmpresaRemetente", "NomeApresentacao", "Descricao", "Empresa.Nome", "/Corporativo/EmpresaRemetente/List", "Ativo: true", allowClear: true)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.SimNao }">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="txtAssunto">Assunto</label>
                            <input type="Text" id="txtAssunto" data-bind="value: Assunto, validate: { required: true }" class="form-control" placeholder="Selecione" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="txtConteudo">Conteúdo</label>
                            <textarea style="height:100px;" id="txtConteudo" data-bind="value: Conteudo, wysiwyg: { observable: Conteudo, options: defaults.wysiwyg.text }, validate: { required: { params: true, message: '' } }" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-action">
            <div class="panel-body">
                <button type="submit" id="btn-salvar" class="btn btn-secondary btn-lg btn-primary-action"><i class="material-icons">&#xE5CA;</i> Salvar</button>
                <a href="#List" type="button" class="btn btn-primary btn-inverted btn-lg"><i class="material-icons">&#xE5C4;</i> Voltar</a>
                @if (@Model.IdNotificacaoModelo.HasValue)
                {
                    <a href="#History/NotificacaoModelo/@Model.IdNotificacaoModelo" type="button" class="btn btn-primary btn-inverted btn-lg pull-right"><i class="material-icons">&#xE889;</i> Histórico</a>
                }
            </div>
        </div>
    </form>
</div>













