﻿<!-- ko if: visible -->
    <!-- ko if: mode() === 'edit' -->
    <div class="btn-group" role="group" aria-label="Ferramentas de movimento e navegação">
        <button type="button" data-action="move" data-bind="event: { click: toolbarAction }" class="btn btn-default btn-icon btn-move" title="Parar de desenhar"><i class="material-icons material-md">&#xE925;</i></button>
    </div>
    <div class="btn-group" role="group" aria-label="Ferramentas de visualização de mapa">    
        <button type="button" data-action="addMarker" data-bind="event: { click: toolbarAction }" class="btn btn-default btn-icon" title="Adicionar Marcador"><i class="material-icons material-md">&#xE567;</i></button>
        <button type="button" data-action="addPolygon" data-bind="event: { click: toolbarAction }" class="btn btn-default btn-icon" title="Desenhar Forma"><i class="material-icons material-md">&#xE25E;</i></button>
        <button type="button" data-action="addPolyline" data-bind="event: { click: toolbarAction }" class="btn btn-default btn-icon" title="Desenhar Linha"><i class="material-icons material-md">&#xE922;</i></button>
    </div>
    <div class="btn-group" role="group" aria-label="Ferramentas de análise">
        <button type="button" data-action="measure-polyline" data-bind="event: { click: toolbarAction }" class="btn btn-default btn-icon" title="Medir Linha"><i class="material-icons material-md">&#xE260;</i></button>
        <button type="button" data-action="measure-polygon" data-bind="event: { click: toolbarAction }" class="btn btn-default btn-icon" title="Medir Área"><i class="material-icons material-md">&#xE25E;</i></button>
    </div>
    <!--<div class="btn-group" role="group" aria-label="Ferramentas de ação camada">
        <button type="button" data-action="remove" data-bind="event: { click: toolbarAction }" class="btn btn-default btn-icon" title="Remover elemento"><i class="material-icons material-md">&#xE872;</i></button>
    </div>-->
    <!-- /ko -->
    <!-- ko if: mode() === 'view' -->
    <div class="btn-group" role="group" aria-label="Ferramentas de movimento e navegação">
        <button type="button" data-action="move" data-bind="event: { click: toolbarAction }" class="btn btn-default btn-icon btn-move" title="Parar de desenhar"><i class="material-icons material-md">&#xE925;</i></button>
        <button type="button" data-action="measure-polyline" data-bind="event: { click: toolbarAction }" class="btn btn-default btn-icon" title="Medir Linha"><i class="material-icons material-md">&#xE260;</i></button>
        <button type="button" data-action="measure-polygon" data-bind="event: { click: toolbarAction }" class="btn btn-default btn-icon" title="Medir Área"><i class="material-icons material-md">&#xE25E;</i></button>
    </div>       
    <!-- /ko-->
    <div class="btn-group" role="group" aria-label="Impressão">
        <button type="button" data-action="print" data-bind="event: { click: toolbarAction }" class="btn btn-default btn-icon" title="Imprimir"><i class="material-icons material-md">print</i> <span style="margin-left: 8px">Imprimir</span></button>
    </div>
<!-- /ko -->
