﻿<div class="iw-view panel panel-default" id="iw-edit-area">
    <div class="panel-heading">
        <h3 class="panel-title" data-bind="text: Descricao"></h3>
    </div>
    <div class="panel-body">

        <div class="observacao" data-bind="text: Observacao"></div>

        <!-- ko with: ElementoArea -->
        <div id="iw-element-info"></div>
        <!-- /ko -->
        

        <button class="btn btn-secondary btn-icon edit-element pull-left"><i class="material-icons">edit</i> Editar</button>
        <button class="btn btn-default btn-icon delete-element pull-right" style="margin-right: 4px"><i class="material-icons">delete</i> Remover</button>

    </div>
</div>