﻿<!-- ko if: tipoGeometria === 'point' -->
<strong>Localização: </strong> <span data-bind="text: latitude"></span> / <span data-bind="text: longitude"></span>
<!-- /ko -->
<table cellpadding="0" cellspacing="0" class="table table-bordered table-area" data-bind="if: tipoGeometria != 'point'">
    <thead>
        <tr>
            <th colspan="4">
                Informações de área/perímetro
            </th>
        </tr>
    </thead>
    <tbody class="read-mode">
        <tr data-bind="if: tipoGeometria != 'linestring'">
            <td>Área</td>
            <td>
                <span contenteditable="true" readonly="readonly" type="text" data-inputmask="'suffix':' m²'" class="mask-decimal" data-bind="maskArea: { value: area_m2 }, value: area_m2"></span>
            </td>
            <td><span contenteditable="true" readonly="readonly" type="text" data-inputmask="'suffix':' ha'" class="mask-decimal" data-bind="maskArea: { value: area_ha }, value: area_ha"></span></td>
            <td><span contenteditable="true" readonly="readonly" type="text" data-inputmask="'suffix':' alq (sp)'" class="mask-decimal" data-bind="maskArea: { value: area_alq }, value: area_alq"></span></td>
        </tr>
        <tr>
            <td>Perímetro</td>
            <td><span contenteditable="true" readonly="readonly" type="text" data-inputmask="'suffix':' m'" class="mask-decimal" data-bind="maskArea: { value: perimetro_m }, value: perimetro_m"></span></td>
            <td><span contenteditable="true" readonly="readonly" type="text" data-inputmask="'suffix':' km'" class="mask-decimal" data-bind="maskArea: { value: perimetro_km }, value: perimetro_km"></span></td>
            <td>--</td>
        </tr>
    </tbody>
</table>