﻿<!-- ko if: ko.unwrap(type) == google.maps.drawing.OverlayType.MARKER || ko.unwrap(type) == 'point' -->
    <div class="row">
        <div class="col-xs-7">
            <div class="form-group">
                <label for="corElemento">Marcador</label>
                <div class="seletor-icones">
                    <seletor-icones params="iconeSelecionado: icon, obj: $root.obj, corSelecionada: fillColor"></seletor-icones>
                    <template id="seletor-icones-template">
                        <!-- ko foreach: mapService.icons -->
                        <svg class="icon-svg" data-bind="style: { fill: $parent.corSelecionada }, css: { 'selecionado': ko.unwrap($parent.iconeSelecionado) != undefined && properties.name === ko.unwrap($parent.iconeSelecionado).name }, event: { click: $parent.selecionaIcone }"><use xlink:href="" data-bind="attr: { 'xlink:href': '#icon-' + properties.name }"></use></svg>
                        <!-- /ko-->
                    </template>
                </div>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="form-group">
                <label for="corElemento">Cor</label>
                <seletor-cores params="corSelecionada: fillColor, obj: $root.obj"></seletor-cores>
                <template id="seletor-cores-template">
                    <div class="seletor-cores">
                        <!-- ko foreach: cores -->
                        <div class="cor" data-bind="style: { background: $data }, css: { 'selecionado': $data === ko.unwrap($parent.corSelecionada) }, event: { 'click': $parent.selecionaCor }"></div>
                        <!-- /ko -->
                    </div>
                </template>
            </div>
        </div>
    </div>
   
    <!--<img data-bind="attr: { src: $parent.iconBase + 'parking_lot_maps.png' }, event: { click: $parent.changeIcon }" /><br />
    <img data-bind="attr: { src: $parent.iconBase + 'library_maps.png' }, event: { click: $parent.changeIcon }" /><br />
    <img data-bind="attr: { src: $parent.iconBase + 'i_maps.png' }, event: { click: $parent.changeIcon }" /><br />-->
<!-- /ko -->
<!-- ko ifnot: ko.unwrap(type) == google.maps.drawing.OverlayType.MARKER || ko.unwrap(type) == 'point' -->
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="corElemento">Cor</label>
                <seletor-cores params="corSelecionada: fillColor, obj: $root.obj"></seletor-cores>
                <template id="seletor-cores-template">
                    <div class="seletor-cores">
                        <!-- ko foreach: cores -->
                        <div class="cor" data-bind="style: { background: $data }, css: { 'selecionado': $data === ko.unwrap($parent.corSelecionada) }, event: { 'click': $parent.selecionaCor }"></div>
                        <!-- /ko -->
                    </div>
                </template>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="form-group">
                <label for="larguraBorda">Largura da Linha:</label>
                <input id="larguraBorda" class="form-control" type="range" name="larguraBorda" data-bind="attr: { min: 0, max: 5, step: 1 }, value: strokeWeight, event: { 'change': $parent.changeStrokeWeight }">
            </div>
            <!-- ko if: ko.unwrap(type) == google.maps.drawing.OverlayType.POLYGON -->
            <div class="form-group">
                <label for="opacidade">Opacidade:</label>
                <input id="opacidade" class="form-control" type="range" name="opacidade" data-bind="attr: { min: 0, max: 1, step: 0.1 }, value: fillOpacity, event: { 'change': $parent.changeOpacity }">
            </div>
            <!-- /ko -->
        </div>
    </div>    
<!-- /ko -->