﻿@model HTM.MasterGestor.Web.UI.Areas.Contabilidade.ViewModels.AtividadeEconomicaEtapa.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-AtividadeEconomicaEtapa-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Serviços</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlTipo" class="control-label">Existe restrição de Serviços?</label>
                            <select id="ddlTipo" name="ddlTipo" class="form-control no-search" data-bind="value: TipoRestricaoServico">
                                <option value="1">Sem Restrição</option>
                                <option value="2">Restrição por Grupo de Serviço</option>
                                <option value="3">Restrição por Serviços Individualmente </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" data-bind="visible: TipoRestricaoServico() == 2">
                    <div class="col-xs-6">
                        <label class="control-label" for="ddlProdutoServico">Quais os Grupos de Serviços e Atividades podem ser realizados ?</label>
                        @HtmlHelper.Select.SearchableKO("ddlProdutoServicoGrupo", "IdsProdutoServicoGrupo", "IdProdutoServicoGrupoIn", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Estoque/ProdutoServicoGrupo/List", "Ativo:true, NaturezaIn:\\'2,3\\', UltimoNivel:true", multiple: true, idChaveRelacao: "IdProdutoServicoGrupo")
                    </div>
                </div>
                <div class="row" data-bind="visible: TipoRestricaoServico() == 3">
                    <div class="col-xs-6">
                        <label class="control-label" for="ddlProdutoServico">Quais os Serviços e Atividades pondem ser realizados?</label>
                        @HtmlHelper.Select.SearchableKO("ddlProdutoServico", "IdsServicos", "IdProdutoServicoIn", "Descricao", "Descricao", "Descricao", "/Estoque/Servico/List", "Ativo:true, Natureza:2", multiple: true, idChaveRelacao: "IdProdutoServico")
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default panel-action">
            <div class="panel-body">
                <button type="submit" id="btn-salvar" class="btn btn-secondary btn-lg btn-primary-action"><i class="material-icons">&#xE5CA;</i> Salvar</button>
                <a href="#List" type="button" class="btn btn-primary btn-inverted btn-lg"><i class="material-icons">&#xE5C4;</i> Voltar</a>
                @if (@Model.IdAtividadeEconomicaEtapa.HasValue)
                {
                    <a href="#History/AtividadeEconomicaEtapa/@Model.IdAtividadeEconomicaEtapa" type="button" class="btn btn-primary btn-inverted btn-lg pull-right"><i class="material-icons">&#xE889;</i> Histórico</a>
                }
            </div>
        </div>
    </form>
</div>
