﻿@model HTM.MasterGestor.Web.UI.Areas.Contabilidade.ViewModels.ParametroLancamentoContabil.IndexVM

<routeoptions data-show-back-button="true" data-show-breadcrumb="true" data-pos="2" data-route-custom='route-parametroLancamentoContabil' data-title="Classe Contábil"></routeoptions>

<div id="filtro-grade">
    <template id="filter-ClasseIndex">
        <div class="form-group" style="width: 250px;">
            <label for="ddlFiltroDescricao" class="control-label">Transação</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroDescricao", "IdTransacao", "IdTransacao", "Descricao", "Descricao", "Descricao", "/Corporativo/Transacao/List", "Ativo:true", disabled: true)
        </div>
        <div class="form-group">
            <label for="ddlFiltroTransacaoAcaoTipo" class="control-label">Tipo de Direcionador</label>
            <select id="ddlFiltroTransacaoAcaoTipo" data-bind="value: TransacaoAcaoTipo" class="form-control no-search" disabled="disabled">
                <option value="">Todas</option>
                <option value="1">Produto e Serviço</option>
                <option value="2">Financeiro</option>
                <option value="3">Terceiros</option>
                <option value="4">Fiscal</option>
            </select>
        </div>
        <div class="form-group">
            <label for="ddlFitroDirecionadorTipo" class="control-label">Ação</label>
            <select id="ddlFitroDirecionadorTipo" data-bind="value: DirecionadorTipo" class="form-control no-search" disabled="disabled">
                <option value="">Todos</option>
                <option value="1">Perfil de Pessoa</option>
                <option value="2">Produto ou Serviço</option>
                <option value="3">Ordem de Serviço</option>
                <option value="4">Ordem de Produção</option>
                <option value="5">Ordem de Investimento</option>
                <option value="6">Entidade Financeira</option>
                <option value="7">Classe Patrimônial</option>
                <option value="8">Tipo de Documento</option>
            </select>
        </div>
    </template>
    @HtmlHelper.GridView.GridIndex(
        id: "ClasseIndex",
        newUrl: "#/Contabilidade/ParametroClasseContabil/New",
        editUrl: "#/Contabilidade/ParametroClasseContabil/Edit",
        listUrl: "/Contabilidade/ParametroClasseContabil/List",
        parentId: "'" + Model.Chave + "'",
        columns:
        @<script>
            [
                { 'id': 'Chave', editColumn:true, defaultValue: @Model.Chave, filter:true },
                { 'id': 'IdTransacao', defaultValue: @Model.IdTransacao, filter:true },
                { 'id': 'TransacaoAcaoTipo', defaultValue: @Model.TransacaoAcaoTipo, filter:true },
                { 'id': 'DirecionadorTipo', defaultValue: @Model.DirecionadorTipo, filter:true },
                { 'id': 'DescricaoClasseContabil', 'header': true, 'filter': true, 'displayName': 'Classe Contábil', sortable: true },
                { 'id': 'DirecinadorSituacao', 'header': true, 'filter': true, 'displayName': 'Direcionador', sortable: true },
                { 'id': 'Configurado', 'header': true, 'filter': true, 'displayName': 'Configurado', sortable: true },
                { displayName: "Ações", width: "100px", header: true, sortable: false }
            ]
        </script>,
        templateRows:
        @<tr data-bind="attr: { 'data-edit-url': '#/Contabilidade/ContaLancamentoContabil/List/' + ChaveCompleta }">
            <td data-bind="text: DescricaoClasseContabil, id: IdParametroLancamentoContabil"></td>
            <td data-bind="text: DirecinadorSituacao, id: IdParametroLancamentoContabil"></td>
             <td data-bind="text: Configurado, id: IdParametroLancamentoContabil"></td>
            <td>
                <a href="#" data-bind="template: { name: 'button-edit-url', data: { id: IdParametroLancamentoContabil } }"></a>
                <a href="#" title="Contas" data-bind="attr: { href: '#/Contabilidade/ContaLancamentoContabil/List/' + ChaveCompleta }" class="btn btn-secondary btn-icon"><i class="material-icons">&#xE896;</i></a>
            </td>
        </tr>, api: "indexVM.api", orderByCol: "DescricaoClasseContabil", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false, showNewButton: false, open: true)
</div>
@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}

