﻿@model HTM.MasterGestor.Web.UI.Areas.Contabilidade.ViewModels.ParametroLancamentoContabil.NewEditVM

<routeoptions data-pos="3" data-route-custom='route-parametroLancamentoContabil' data-action-title="Direcionador de Lançamento" data-title="Direcionador de Lançamento"></routeoptions>

<div data-bind="stopBindings: true">
    <form id="form-ParametroLancamentoContabil-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="txtDescricaoTransação">Transação</label>
                                <input type="text" id="txtDescricaoTransacao" name="txtDescricaoTransacao" data-bind="value: DescricaoTransacao" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="txtDescricaoTransacaoAcaoTipo">Ação</label>
                                <input type="text" id="txtDescricaoTransacaoAcaoTipo" name="txtDescricaoTransacaoAcaoTipo" data-bind="value: DescricaoTransacaoAcaoTipo" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="txtDescricaoDirecionadorTipo">Tipo de Direcionador</label>
                                <input type="text" id="txtDescricaoDirecionadorTipo" name="txtDescricaoDirecionadorTipo" data-bind="value: DescricaoDirecionadorTipo" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="txtDescricaoClasseContabil">Classe Contábil</label>
                                <input type="text" id="txtDescricaoClasseContabil" name="txtDescricaoClasseContabil" data-bind="value: DescricaoClasseContabil" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Direcionador de Lançamento</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkDirecionadorPersonalizado">Personalizar Direcionador</label>
                                <input type="checkbox" class="no-uniform" id="chkDirecionadorPersonalizado" data-bind="checked: DirecionadorPersonalizado, flipper: { observable: DirecionadorPersonalizado, options: { 'css': 'warning' } }, required: { validate : true}">
                            </div>
                        </div>
                    </div>
                    <br />
                    <div id="divgrid" data-bind="visible: DirecionadorPersonalizado, whit: lstDirecionadorLancamentoContabil">
                        @HtmlHelper.GridView.GridNewEdit(
                        id: "DirecionadorLancamento", // Declarar na página <template id="newedit-id"></template>
                        vm: "lstDirecionadorLancamentoContabil",
                        vmExtend: "vmDirecionadorLancamentoExtend",
                        title: "Direcionador",
                        addTitle: "Novo",
                        columns: @<script>
                            [
                                { 'id': 'IdDirecionadorLancamentoContabil' },
                                { 'id': 'TransacaoAcaoTipo', defaultValue: vm.TransacaoAcaoTipo() },
                                { 'id': 'IdParametroLancamentoContabil' },
                                { 'id': 'IdsPessoaPerfil' },
                                { 'id': 'IdsFinanceiroEntidade' },
                                { 'id': 'IdsProdutoServicoGrupo' },
                                { 'id': 'IdsCategoriaServicoOrdem' },
                                { 'id': 'IdsDocumentoTipo' },
                                { 'id': 'Excluido' },
                                { 'id': 'DescricaoExibicao', header: true, displayName: 'Direcionador', sortable: true },
                                { 'id': 'PermiteDirecionador', defaultValue: true },
                                { 'id': 'Demais', defaultValue: true, header: true, displayName: 'Demais', sortable: true },
                                defaults.gridNewEdit.column.acaoEditRemove
                            ]
                        </script>,
                        templateRows:
                        @<tr>
                            <td data-bind="template: { name: 'link-edit', data: { text: DescricaoExibicao }  }"></td>
                            <td data-bind="template: { name: 'label-status', data: { status: Demais } }"></td>
                            <td data-bind="template: { name: 'button-edit-remove' }"></td>
                        </tr>, orderByCol: "DescricaoExibicao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false,useRemovedColumn:true)
                    </div>
                </div>
            </div>
        </div>
    </form>

    <template id="newedit-DirecionadorLancamento">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="control-label" for="chkPermiteDirecionador">Configuração para uso nos Demais itens de Direcionadores</label>
                    <input type="checkbox" class="no-uniform" id="chkPermiteDirecionador" data-bind="checked: PermiteDirecionador, flipper: { observable: PermiteDirecionador, options: { 'css': 'warning' } }">
                </div>
            </div>
        </div>
        <fieldset data-bind="visible: PermiteDirecionador() == false">
            <legend>Relacione e Agrupe os Direcionadores de acordo com sua preferência para Contabilização.</legend>
            <div class="row" data-bind="if: TransacaoAcaoTipo() == 1">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="ddlPerfil">Perfil de Pessoa</label>
                        @HtmlHelper.Select.SearchableKO("ddlPerfil", "IdsPessoaPerfil", "IdPessoaPerfilIn", "Descricao", "Descricao", "Descricao", "/Corporativo/PessoaPerfil/List", "Ativo:true", multiple: true, idChaveRelacao: "IdPessoaPerfil", dataBind: "validate: { required: (TransacaoAcaoTipo() == 1 && PermiteDirecionador() == false)  }", vmTextSelected: "DescricaoExibicao")
                    </div>
                </div>
            </div>
            <div class="row" data-bind="if: TransacaoAcaoTipo() == 6">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="ddlFinanceiroEntidade">Entidade Financeira</label>
                        @*@HtmlHelper.Select.SearchableKO("ddlFinanceiroEntidade", "IdsFinanceiroEntidade", "IdFinanceiroEntidadeIn", "Descricao", "Descricao", "Descricao", "/Financeiro/Entidade/List", "Ativo:true", multiple: true, idChaveRelacao: "IdFinanceiroEntidade", dataBind: "validate: { required: (TransacaoAcaoTipo() == 6 && PermiteDirecionador() == false) }", vmTextSelected: "DescricaoExibicao")*@
                    </div>
                </div>
            </div>
            <div class="row" data-bind="if: TransacaoAcaoTipo() == 2">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="ddlProdutoServicoGrupo">Grupo de Produto</label>
                        @HtmlHelper.Select.SearchableKO("ddlProdutoServicoGrupo", "IdsProdutoServicoGrupo", "IdProdutoServicoGrupoIn", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Estoque/ProdutoServicoGrupo/List", "Ativo:true, UltimoNivel:true", multiple: true, idChaveRelacao: "IdProdutoServicoGrupo", dataBind: "validate: { required: (TransacaoAcaoTipo() == 2 && PermiteDirecionador() == false) }")
                    </div>
                </div>
            </div>
            <div class="row" data-bind="if: TransacaoAcaoTipo() == 3 || vm.TransacaoAcaoTipo() == 4 || vm.TransacaoAcaoTipo() == 5">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="ddlCategoriaServicoOrdem">Categorias de Ordem</label>
                        @HtmlHelper.Select.SearchableKO("ddlCategoriaServicoOrdem", "IdsCategoriaServicoOrdem", "IdCategoriaServicoIn", "Descricao", "Descricao", "Descricao", "/Corporativo/CategoriaServico/List", "Ativo:true", multiple: true, idChaveRelacao: "IdCategoriaServico", dataBind: "validate: { required: ((TransacaoAcaoTipo() == 3 || TransacaoAcaoTipo() == 4 || TransacaoAcaoTipo() == 5) && PermiteDirecionador() == false)  }")
                    </div>
                </div>
            </div>
            <div class="row" data-bind="if: TransacaoAcaoTipo() == 7 ">
                <!--TODO: Classe Patrimonial-->
            </div>
            <div class="row" data-bind="if: TransacaoAcaoTipo() == 8 ">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="ddlDocumentoTipo">Tipo de Documento</label>
                        @HtmlHelper.Select.SearchableKO("ddlDocumentoTipo", "IdsDocumentoTipo", "IdDocumentoTipoIn", "Descricao", "Descricao", "Descricao", "/Contabilidade/DocumentoTipo/List", "Ativo:true", multiple: true, idChaveRelacao: "IdDocumentoTipo", dataBind: "validate: { required: (TransacaoAcaoTipo() == 8 && PermiteDirecionador() == false) }")
                    </div>
                </div>
            </div>
        </fieldset>
    </template>
</div>