﻿
@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.CategoriaServico.CategoriaServicoProducaoNewEditVM
<routeoptions data-route-custom="route-categoriaServico"></routeoptions>

<div>
    <form id="form-CategoriaServicoProducao-NewEdit" data-bind="formSubmit: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row read-mode">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtCodigo">Código</label>
                                <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" maxlength="10" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtDescricao">Descrição</label>
                                <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao" class="form-control" maxlength="150" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlAplicacoesTipo">Onde pode ser usada (Tipos de Aplicações)</label>
                                <select id="ddlAplicacoesTipo" class="form-control no-search" data-bind="value: TipoAplicacaoTipo" disabled="disabled">
                                    <option value="1">Benfeitoria</option>
                                    <option value="2">Local de Produção</option>
                                    <option value="3">Benfeitoria e Local de Produção</option>
                                    <option value="4">Lote</option>
                                    <option value="5">Animal</option>
                                    <option value="6">Lote e Animal</option>
                                    <option value="7">Equipamento</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-toggle="collapsible" id="pnlParametrosGerais">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">PARÂMETROS GERAIS: PRODUÇÃO</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTipoApontamentoProducao" class="control-label">Permite apontamento de Produção</label>
                                <select id="ddlTipoApontamentoProducao" class="form-control no-search" data-bind="value: TipoApontamentoProducao, validate: { required : true}">
                                    <option value="1">Não permitido</option>
                                    <option value="2">Permitido Via Ordem</option>
                                    <option value="3">Permitido Via Informe</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTipoDocumento" class="control-label">Tipo de Documento</label>
                                <select id="ddlTipoDocumento" class="form-control no-search" data-bind="value: TipoDocumento">
                                    <option value="1">Não Representa</option>
                                    <option value="2">Documento 1</option>
                                    <option value="3">Documento 2</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible:  vm.TipoApontamentoProducao() == '3'">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkOrdemObrigatoria">Informa Ordem</label>
                                <input type="checkbox" class="no-uniform" id="chkOrdemObrigatoria" data-bind="checked: OrdemObrigatoria, flipper: { observable: OrdemObrigatoria, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-toggle="collapsible" id="pnlDetalhes" data-bind="collapsible: { vmArray: [ vm.TipoControleExecucao() ] }, visible: vm.TipoApontamentoProducao() != '1'">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">DETALHES OPERACIONAIS</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTipoControleExecucao" class="control-label">Controla o tempo de execução?</label>
                                <select id="ddlTipoControleExecucao" class="form-control no-search" data-bind="value: TipoControleExecucao">
                                    <option value="1">Não Controla</option>
                                    <option value="2">Informa o Início e Término</option>
                                    <option value="3">Informa o Tempo Total</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    @*<div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label" for="chkPeriodoAtividadeEconomicaProducao">Informa Período de Atividade Econômica na Produção</label>
                                <input type="checkbox" class="no-uniform" id="chkPeriodoAtividadeEconomicaProducao" data-bind="checked: PeriodoAtividadeEconomicaProducao, flipper: { observable: PeriodoAtividadeEconomicaProducao, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                    </div>*@
                    @*<div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label" for="chkPeriodoAtividadeEconomicaEstimativa">Informa Período de Atividade Econômica na Estimativa</label>
                                <input type="checkbox" class="no-uniform" id="chkPeriodoAtividadeEconomicaEstimativa" data-bind="checked: PeriodoAtividadeEconomicaEstimativa, flipper: { observable: PeriodoAtividadeEconomicaEstimativa, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                    </div>*@
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label" for="chkColheitaSemPlantio">Permite informar Colheita sem informar Plantio</label>
                                <input type="checkbox" class="no-uniform" id="chkColheitaSemPlantio" data-bind="checked: ColheitaSemPlantio, flipper: { observable: ColheitaSemPlantio, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label" for="chkPermiteEstimativaProducaoProximaColheita">Informa Estimativa da Próxima Colheita caso indicado Término da Colheita Atual</label>
                                <input type="checkbox" class="no-uniform" id="chkPermiteEstimativaProducaoProximaColheita" data-bind="checked: PermiteEstimativaProducaoProximaColheita, flipper: { observable: PermiteEstimativaProducaoProximaColheita, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pnlProdutos" class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">PRODUTOS</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlAtividadeEconomica">Esta Categoria se refere a qual Atividade Econômica?</label>
                                @HtmlHelper.Select.SearchableKO("ddlAtividadeEconomica", "IdAtividadeEconomica", "IdAtividadeEconomica", "Descricao", "Descricao", "Descricao", "/Contabilidade/AtividadeEconomica/List", "Ativo:true", required: true)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <label for="ddlProdutoServico">Esta Categoria pode ser usada para informar Produção de quais Produtos?</label>
                                @HtmlHelper.Select.SearchableKO("ddlProdutoServico", "IdsProdutoServico", "IdProdutoServicoIn", "DescricaoProdutoServico", "DescricaoProdutoServicoBusca", "DescricaoProdutoServico", "/Contabilidade/AtividadeEconomicaProdutoServico/List", "Ativo:true, Natureza:1", dataBind: "validate: { required: vm.IdAtividadeEconomica() != null }", idChaveRelacao: "IdProdutoServico", multiple: true, idControleDependencia: "ddlAtividadeEconomica", idDependencia: "IdAtividadeEconomica")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pnlDestinoProducao" class="panel panel-default" data-bind="collapsible: { vmArray: [ vm.ProcessamentoDireto(), vm.IdCategoriaServicoDestino()] }, visible: vm.TipoApontamentoProducao() != '1'">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Destino Produção</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="form-group">
                                <label class="control-label" for="chkProcessamentoDireto">Permite realizar Processamento diretamente</label>
                                <input type="checkbox" class="no-uniform" id="chkProcessamentoDireto" data-bind="checked: ProcessamentoDireto, flipper: { observable: ProcessamentoDireto, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: vm.ProcessamentoDireto() == true">
                        <div class="col-xs-5">
                            <div class="form-group">
                                <label class="control-label" for="chkProcessamentoDireto">Categoria Serviço</label>
                                @HtmlHelper.Select.SearchableKO("ddlCategoriaServicoDestino", "IdCategoriaServicoDestino", "IdCategoriaServico", "Descricao", "Descricao", "Descricao", "/Corporativo/CategoriaServico/List", "Ativo:true", idChaveRelacao: "IdCategoriaServico", dataBind: "validate: { required: vm.ProcessamentoDireto() == true }")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>