﻿@model HTM.MasterGestor.Web.UI.Areas.Criacao.ViewModels.Caracterizacao.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-CriacaoCaracterizacao-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required:true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="ddlCriacaoCaracterizacaoTipo" class="control-label">Tipo de Caracterização</label>
                            @HtmlHelper.Select.SearchableKO("ddlCriacaoCaracterizacaoTipo", "IdCriacaoCaracterizacaoTipo", "IdCriacaoCaracterizacaoTipo", "Descricao", "Descricao", "Descricao", "/Criacao/TipoCaracterizacao/List", "Ativo:true", required: true, allowClear: true)
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="ddlNatureza" class="control-label">Natureza</label>
                            <select class="form-control" name="ddlNatureza" id="ddlNatureza" data-bind="value: Natureza, validate: { required:true }">
                                <option value=""></option>
                                <option value="1">Classe</option>
                                <option value="2">Característica</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="ddlRacas">Quais Raças podem usar esta Caracterização ?</label>
                            @HtmlHelper.Select.SearchableKO("ddlRacas", "IdsRacas", "IdCriacaoRacaIn", "Descricao", "Descricao", "Descricao", "/Criacao/Raca/List", "Ativo:true", idChaveRelacao: "IdCriacaoRaca", required: true, multiple:true)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="ddlTipoUtilizacao" class="control-label">Pode ser usado em </label>
                            <select class="form-control required" name="ddlTipoUtilizacao" id="ddlTipoUtilizacao" data-bind="value: TipoUtilizacao, validate: { required: true }">
                                <option value="1">Lote e Animal</option>
                                <option value="2">Lote</option>
                                <option value="3">Animal</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>              
                <div data-toggle="collapsible" class="optional" id="pnlSituacao" data-bind="visible: vm.ExibeSituacaoLoteAnimal()">
                    <a href="#">Informações de Situação</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label" for="chkSituacaoLoteAnimal">Considera Lote ou Animal</label>
                                    <input type="checkbox" class="no-uniform" id="chkSituacaoLoteAnimal" data-bind="checked: SituacaoLoteAnimal, flipper: { observable: SituacaoLoteAnimal,options: defaults.flipper.caracterizacaoAnimalAtivoInativo }">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label" for="chkExibeConsulta">Exibe em Consultas de Inventários</label>
                                    <input type="checkbox" class="no-uniform" id="chkExibeConsulta" data-bind="checked: ExibeConsulta, flipper: { observable: ExibeConsulta, options: {'css': 'warning'} }">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
                <div data-toggle="collapsible" class="optional" id="pnlOrigem" data-bind="visible: vm.ExibeOrigem()">
                    <a href="#">Informações de Origem</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="txtDescricaoOrigem">Nome para a Data</label>
                                    <input type="text" id="txtDescricaoOrigem" name="txtDescricaoOrigem" data-bind="value: DescricaoOrigem" class="form-control" maxlength="120" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label" for="chkRepresentaNascimento">Representa Nascimento</label>
                                    <input type="checkbox" class="no-uniform" id="chkRepresentaNascimento" data-bind="checked: RepresentaNascimento, flipper: { observable: RepresentaNascimento, options: defaults.flipper.ativoInativo}">
                                </div>
                            </div>
                        </div>
                    </div>                  
                </div>
                <div data-toggle="collapsible" class="optional" id="pnlObservacao">
                    <a href="#">Mais informações</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="txtObservacao">Observação</label>
                                    <textarea id="txtObservacao" name="txtObservacao" data-bind="value: Observacao" class="form-control" maxlength="120" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>