@import "style.scss";

.material-icons-set {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.mapearia-cd {
  @extend .mapearia-cd;
}
.spinner-rotate {
  animation: loading-spinner .4s linear infinite;
  -webkit-animation: loading-spinner .4s linear infinite;
  -o-animation: loading-spinner .4s linear infinite;
  -moz-animation: loading-spinner .4s linear infinite;
}
keyframes loading-spinner {
  0% {
    will-change: transform;
    transform: rotateZ(0)
  }

  100% {
    will-change: transform;
    transform: rotateZ(360deg)
  }
}
.info-editable {
  display: none;
  position: absolute;
  background: rgba(255,255,255,.8);
  color: #333;
  padding: 5px 8px;
  font-family: sans-serif;
  font-size: 12px;
  z-index: 1000;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  bottom: 20px;
  left: 50%;
}
.leaflet-editable-drawing {
  cursor: crosshair;
  .leaflet-pane > svg path.leaflet-interactive:hover  {
    cursor: crosshair;
  }
}

$panel-width: 300px;

#panel {
  width: $panel-width;
}
#map-container {
  position: fixed;
  top: 0;
  left: $panel-width;
  bottom: 0;
  right: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;

  #map {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#toolbar {

  z-index: 999;
  align-self: flex-start;
  margin-top: 10px;

  .btn-group {
    box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px;
    margin-right: 10px;
    &:last-child {
      margin-right: 0
    }
  }
  .btn-move i {
    left: 4px;
  }
  .btn {
    &:hover, &:focus, &.selected {
      box-shadow: inset 0 0 10px #ccc;
      border: solid 1px #999;
    }
    i {
      left: 6px;
      color: #666;
    }
  }
}
// draw
.leaflet-div-icon {
  border-radius: 20px;
  width: 15px;
  border-width: 2px;
}
.leaflet-mouse-marker {
  width: 2px;
}

// colorpicker
.seletor-cores  {
  display: flex;
  width: 260px;
  flex-direction: row;
  flex-wrap: wrap;

}

.seletor-cores .cor {
  width: 20px;
  height: 20px;
  border: solid 1px #fff;
  position: relative;
}

.seletor-cores .cor:hover:after {
  display: block;
  content: '';
  background: inherit;
  position: absolute;
  width: 33px;
  height: 33px;
  top: -8px;
  left: -8px;
  border: 2px solid #fff;
  -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 3px 0;
  box-shadow: rgba(0,0,0,0.3) 0 1px 3px 0;
  z-index: 92;
  cursor: pointer;
}
.seletor-cores .cor.selecionado {
  border-color: #fff
}
.seletor-cores .cor.selecionado:before {
  content: '';
  border: 1px solid #fff;
  outline: solid 2px #444;
  width: 18px;
  height: 18px;
  display: block;
  z-index: 91;
  position: absolute;
}
.seletor-icones .icone {
  display: inline-block;
  cursor: pointer;
  width: 25px;
  height: 25px;
  &.selecionado {
    border: solid 1px #ccc;
    color: #0086b3;
  }

}
.seletor-icones .icone:hover {
  transform: scale(1.2);
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px 0;
}

.leaflet-pane > svg path.leaflet-interactive:hover {
  stroke: #fff;
}
.leaflet-draw-guide-dash {
  border-radius: 10px;
  width: 3px;
  height: 3px;

}
.leaflet-pane .leaflet-custom-icon.leaflet-interactive {
  //cursor: crosshair;
}
.leaflet-pane .leaflet-custom-icon.leaflet-interactive:not(:empty):hover {
  cursor: pointer;
  position: relative;
  &:before {
    content: "";
    border: solid 3px #fff;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    top: -8px;
    left: -13px;
  }
}

.leaflet-hide {
  display: none;
}
.leaflet-custom-icon.leaflet-marker-icon {
  //border: none;
  //background: none;
}
.leaflet-custom-icon.leaflet-marker-icon .icon-text {
  position: relative;
  color: #222;
  text-align: center;
  display: block;
  padding-top: 9px;
  font-size: .9em;
  z-index: 11;
}
.leaflet-path-draggable, .leaflet-marker-draggable {
  pointer-events: auto !important;

}
.leaflet-custom-icon.leaflet-marker-draggable:before {
  content: "";
  border: dotted 3px rgba(254, 87, 161, 0.6);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
  top: -2px;
  left: -13px;
  cursor: move !important;
  will-change: transform;
}
.leaflet-top.leaflet-left {
  .leaflet-bar a {
    width: 36px;
    height: 36px;
  }
}
.leaflet-custom-icon .icon {
  position: absolute;
  z-index: 11;
  left: 1px;
  top: 2px;
  font-size: 17px !important;
  color: #fff;
  background: none !important;
  //background: rgba(0,0,0,.0) !important;
  border-radius: 10px;
  padding: 3px;
}
.leaflet-custom-icon .base-icon-circle {
  width: 23px;
  height: 23px;
  border-radius: 24px;
  z-index: 10;
  position: absolute;
  left: 1px;
  top: 2px;
}
.leaflet-custom-icon .base-icon {
  //background: #fff;
  position: absolute;
  bottom: 0;
  left: -10px;
  font-size: 45px;
  color: #fff;
  z-index: 9;
  border-radius: 15px;
  //&.base-icon-shadow {
  //  color: #000;
  //  z-index: 8;
  //  font-size: 53px;
  //  left: -14px;
  //  bottom: -5px;
  //  opacity: .2;
  //}
}
.leaflet-edit-marker-selected:before {
  //content: " ";
  //width: 20px;
  //height: 20px;
  //position: absolute;
  //bottom: -10px;
  //left: 5px;
  //border-radius: 20px;
  //border: dashed 2px rgba(254, 87, 161, 0.6);

}

.leaflet-popup {
  width: auto;
  min-width: 450px;
  .leaflet-popup-content {
    width: auto !important;
  }
}
.clearfix:after {
  content:" ";
  display:table;
  clear:both;
}
// zoomslider
.leaflet-control-zoomslider {
  flex-direction: column;
}
.leaflet-control-zoomslider-body {
  background: none;
  border: none;
  width: auto;
  position: relative;
  &:before {
    content: "";
    width: 2px;
    background: #ccc;
    position: absolute;
    bottom: -6px;
    top: 1px;
    left: 15px;
  }
}
.leaflet-control-zoomslider-knob {
  width: 14px;
  height: 14px;
  border-radius: 20px;
  background: #666;
  border: none;
  margin-left: 9px;
}
.leaflet-control-zoomslider a {
  &:focus, &:active {
    color: black;
    text-decoration: none;
  }
  &:after {
    line-height: 32px;
  }
}
.leaflet-control-zoomslider-wrap {
  padding-bottom: 11px;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.45);

}
.leaflet-control-zoomslider a.leaflet-control-zoomslider-disabled {
  cursor: not-allowed;
  color: #bbb;
}
.leaflet-container .leaflet-control-zoomslider {
  margin-top: 0;
}

// customização da toolbar
.leaflet-bar {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  box-shadow: none;
}
.leaflet-bar a {
  box-shadow: 2px 1px 5px rgba(0,0,0,0.45);
  border-bottom: none;

}
.leaflet-bar a:hover {
  cursor: pointer;
}

.leaflet-bar a, .leaflet-bar a:hover {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 36px;
  border-radius: 0;
  &:last-child {
    border-radius: 0;
  }
}
.leaflet-editable-toolbar {
  margin-left: 34px;
}
.leaflet-editable-toolbar a {
  font-size: 1.3em;
}
.leaflet-bar a:hover {
  display: inherit;
  border-color: #fff !important;
  background-color: #f4f4f4 !important;
}
.leaflet-bar a:first-child {
  border-radius: 0;
}

//.leaflet-draw-actions {
//  display: none !important;
//  //top: 30px !important;
//}
//.leaflet-draw-actions a {
//  height: 32px;
//  line-height: 32px;
//  margin-top: 1px
//}
//.leaflet-draw-actions.leaflet-draw-actions-top {
//  margin-top: 0;
//}
//.leaflet-draw-toolbar a {
//  background-position: 0 0;
//  //background-image: linear-gradient(transparent,transparent), url("../images/spritesheet-2x.png");
//  width: 32px;
//  height: 32px;
//  //background-size: 329px 30px;
//}
.leaflet-control-layers {
  border-radius: 0;
  .leaflet-control-layers-toggle {
    width: 32px;
    height: 32px;
    background-size: 20px;
  }
}
.leaflet-control-geosearch {
  &.active > a {
    background: #f4f4f4;
  }
  a.leaflet-bar-part {
    @extend .icon-center;
    @extend .material-icons-set;

    &:before {
        top: auto;
        left: auto;
        width: auto;
        border-top: inherit;
        transform: none;
        content: "search";
        font-size: 1.5em;
      }
      &:after {
        //top: 9px;
        //left: 10px;
        //height: 12px;
        //width: 12px;
        display: none;
    }
  }
  form {
    margin-top: 2px;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.45);
    border: none;
    border-radius: 0;
    input {
      height: 36px;
      min-width: 220px;
    }
  }

}
.leaflet-draw-toolbar a:hover {
  width: 32px;
  height: 32px;
}
.leaflet-draw-toolbar .leaflet-draw-draw-polyline {
  background-position: 1px 1px;
}
.leaflet-draw-toolbar .leaflet-draw-draw-polygon {
  background-position: -29px 1px;
}
.leaflet-draw-toolbar .leaflet-draw-draw-rectangle {
  background-position: -59px 1px;
}
.leaflet-draw-toolbar .leaflet-draw-draw-circle {
  background-position: -89px 1px;
}
.leaflet-draw-toolbar .leaflet-draw-draw-marker {
  background-position: -119px 1px;
}
.icon-center {
  display: flex;
  justify-content: center;
  align-content: center;
  &:before {
    align-self: center;
  }
}
.leaflet-toolbar-icon.active {
  background: #f4f4f4;
  box-shadow: inset 0 3px 3px #ccc, 2px 1px 5px rgba(0, 0, 0, 0.45);
}
.leaflet-bar-segment {
  margin-left: 10px;
}

.leaflet-editable-toolbar .leaflet-editable-marker {
  @extend .icon-center;
  @extend .mapearia-icon;
  @extend .mapearia-location-pin-add;
}

.leaflet-draw-toolbar .leaflet-draw-draw-polyline.polyline-measure,
.leaflet-editable-toolbar .leaflet-editable-polyline {
  @extend .icon-center;
  @extend .mapearia-icon;
  @extend .mapearia-vector-line;
}
.leaflet-draw-toolbar .leaflet-draw-draw-polygon.polygon-measure,
.leaflet-editable-toolbar .leaflet-editable-polygon {
  @extend .icon-center;
  @extend .mapearia-icon;
  @extend .mapearia-star-constellation;
}

.leaflet-editable-toolbar .leaflet-editable-rectangle {
  @extend .icon-center;
  @extend .mapearia-icon;
  @extend .mapearia-vector-square;
}

.leaflet-editable-toolbar .leaflet-editable-measure {
  position: relative;
  &:before {
    position: absolute;
    right: 12px;
    bottom: 3px;
    font-size: .8em;
    transform: rotate(45deg);
  }
  &:after {
    font-size: .9em;
    padding-bottom: 4px;
  }
}

.leaflet-editable-toolbar .leaflet-editable-measure.polygon {
  @extend .icon-center;
  @extend .mapearia-icon;
  @extend .mapearia-ruler;
  &:after {
    content: "";
  }
}
.leaflet-editable-toolbar .leaflet-editable-measure.polyline {
  @extend .icon-center;
  @extend .mapearia-icon;
  @extend .mapearia-ruler;
  position: relative;
  &:after {
    content: "";
  }
}


.leaflet-editable-toolbar .leaflet-editable-circle {
  @extend .icon-center;
  @extend .mapearia-icon;
  @extend .mapearia-vector-circle;
}
.leaflet-top.leaflet-left {
  display: flex;
  flex-wrap: wrap;
}
.leaflet-top.leaflet-left > .leaflet-control {
  //display: flex;
}
.path-measure {
  stroke-dasharray: 4px;
}
.leaflet-measure-path-measurement > div {
  background: #fff;
  border-radius: 5px;
  padding: 2px 4px;
  z-index: 2000;
  position: relative;
}
.leaflet-measure-path-measurement {
  font-size: 11px;
  font-family: Roboto,"Open sans",sans-serif;
  color: #000;
  text-rendering: optimizeLegibility;
}

.leaflet-label .bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: .4;
  border-radius: 5px;
}
.leaflet-label  {
  //position: relative;
  color: #fff;
  margin-left: -40px;
  margin-top: -18px;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  //background: rgba(0,0,0,.5);
  //min-width: 160px;
  //padding: 6px;
  text-align: center;
  white-space: nowrap;
  ul {
    list-style: none !important;
    padding-left: 0;
    margin: 0;
  }
}

.leaflet-tooltip-pane .leaflet-tooltip {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
// scale {
.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 32px;
}
// timeline
.leaflet-control-timeline {
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);

  &.leaflet-bar a {
    box-shadow: none;
    //height: 25px !important;
    i {
      font-size: 1.4em;
    }
  }

  .leaflet-control-timeline-clear {
    border-top: solid 1px #ccc;
    text-decoration: none;
    color: inherit;
    &:hover {
      border-top: solid 1px #ccc !important;
    }
  }

  &.clear {
    .leaflet-control-timeline-handler {
      display: none;
    }
    .leaflet-control-timeline-up, .leaflet-control-timeline-down {
        pointer-events: none;
        color: #ebebeb;
    }
    .leaflet-control-timeline-body {
      pointer-events: none;
      &:before {
        background: #f4f4f4;
      }
      .timeline-marker {
        background: #ccc;
        pointer-events: none;
      }
    }
  }

  .leaflet-control-timeline-wrap {
    background: #fff;
    padding: 14px 0;
    border: solid 1px #ccc;
    border-width: 1px 0 1px 0;
  }

  .leaflet-control-timeline-body {
    position: relative;


    &:before {
      content: "";
      width: 2px;
      background: #ccc;
      position: absolute;
      bottom: 0 !important;
      top: 0 !important;
      left: 15px;
    }
    .timeline-marker {
      position: absolute;
      width: 4px;
      height: 4px;
      background: #666;
      border-radius: 10px;
      left: 50%;
      margin-left: -2px;
      margin-top: -4px;

    }
  }
  .leaflet-control-timeline-handler {
    width: 14px;
    height: 14px;
    border-radius: 20px;
    background: #666;
    border: none;
    position: absolute;
    top: -9px;
    margin-left: 9px;
  }
}
.leaflet-control-handler-tooltip {
  display: none;
  position: absolute;
  padding: 4px 6px;
  top: 0;
  right: 32px;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  &:after {
    content: "";
    border: solid 5px #fff;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    right: -10px;
    top: 0
  }
}