@import "variables";

@font-face {
  font-family: 'mapearia';
  src:
    url('#{$icomoon-font-path}/mapearia.ttf?h8ok85') format('truetype'),
    url('#{$icomoon-font-path}/mapearia.woff?h8ok85') format('woff'),
    url('#{$icomoon-font-path}/mapearia.svg?h8ok85#mapearia') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="mapearia-"], [class*=" mapearia-"], .mapearia-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mapearia' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mapearia-ruler {
  &:before {
    content: $mapearia-ruler;
  }
}
.mapearia-sunrise {
  &:before {
    content: $mapearia-sunrise;
  }
}
.mapearia-sun {
  &:before {
    content: $mapearia-sun;
  }
}
.mapearia-moon {
  &:before {
    content: $mapearia-moon;
  }
}
.mapearia-sun2 {
  &:before {
    content: $mapearia-sun2;
  }
}
.mapearia-windy {
  &:before {
    content: $mapearia-windy;
  }
}
.mapearia-wind {
  &:before {
    content: $mapearia-wind;
  }
}
.mapearia-snowflake {
  &:before {
    content: $mapearia-snowflake;
  }
}
.mapearia-cloudy {
  &:before {
    content: $mapearia-cloudy;
  }
}
.mapearia-cloud {
  &:before {
    content: $mapearia-cloud;
  }
}
.mapearia-weather {
  &:before {
    content: $mapearia-weather;
  }
}
.mapearia-weather2 {
  &:before {
    content: $mapearia-weather2;
  }
}
.mapearia-weather3 {
  &:before {
    content: $mapearia-weather3;
  }
}
.mapearia-cloud2 {
  &:before {
    content: $mapearia-cloud2;
  }
}
.mapearia-lightning {
  &:before {
    content: $mapearia-lightning;
  }
}
.mapearia-lightning2 {
  &:before {
    content: $mapearia-lightning2;
  }
}
.mapearia-rainy {
  &:before {
    content: $mapearia-rainy;
  }
}
.mapearia-rainy2 {
  &:before {
    content: $mapearia-rainy2;
  }
}
.mapearia-windy2 {
  &:before {
    content: $mapearia-windy2;
  }
}
.mapearia-windy3 {
  &:before {
    content: $mapearia-windy3;
  }
}
.mapearia-snowy {
  &:before {
    content: $mapearia-snowy;
  }
}
.mapearia-snowy2 {
  &:before {
    content: $mapearia-snowy2;
  }
}
.mapearia-snowy3 {
  &:before {
    content: $mapearia-snowy3;
  }
}
.mapearia-weather4 {
  &:before {
    content: $mapearia-weather4;
  }
}
.mapearia-cloudy2 {
  &:before {
    content: $mapearia-cloudy2;
  }
}
.mapearia-cloud3 {
  &:before {
    content: $mapearia-cloud3;
  }
}
.mapearia-lightning3 {
  &:before {
    content: $mapearia-lightning3;
  }
}
.mapearia-sun3 {
  &:before {
    content: $mapearia-sun3;
  }
}
.mapearia-moon2 {
  &:before {
    content: $mapearia-moon2;
  }
}
.mapearia-cloudy3 {
  &:before {
    content: $mapearia-cloudy3;
  }
}
.mapearia-cloud4 {
  &:before {
    content: $mapearia-cloud4;
  }
}
.mapearia-cloud5 {
  &:before {
    content: $mapearia-cloud5;
  }
}
.mapearia-lightning4 {
  &:before {
    content: $mapearia-lightning4;
  }
}
.mapearia-rainy3 {
  &:before {
    content: $mapearia-rainy3;
  }
}
.mapearia-rainy4 {
  &:before {
    content: $mapearia-rainy4;
  }
}
.mapearia-windy4 {
  &:before {
    content: $mapearia-windy4;
  }
}
.mapearia-windy5 {
  &:before {
    content: $mapearia-windy5;
  }
}
.mapearia-snowy4 {
  &:before {
    content: $mapearia-snowy4;
  }
}
.mapearia-snowy5 {
  &:before {
    content: $mapearia-snowy5;
  }
}
.mapearia-weather5 {
  &:before {
    content: $mapearia-weather5;
  }
}
.mapearia-cloudy4 {
  &:before {
    content: $mapearia-cloudy4;
  }
}
.mapearia-lightning5 {
  &:before {
    content: $mapearia-lightning5;
  }
}
.mapearia-thermometer {
  &:before {
    content: $mapearia-thermometer;
  }
}
.mapearia-Celsius {
  &:before {
    content: $mapearia-Celsius;
  }
}
.mapearia-cd {
  &:before {
    content: $mapearia-cd;
  }
}
.mapearia-printer {
  &:before {
    content: $mapearia-printer;
  }
}
.mapearia-add-circle {
  &:before {
    content: $mapearia-add-circle;
  }
}
.mapearia-airplane {
  &:before {
    content: $mapearia-airplane;
  }
}
.mapearia-alien {
  &:before {
    content: $mapearia-alien;
  }
}
.mapearia-alien-head {
  &:before {
    content: $mapearia-alien-head;
  }
}
.mapearia-android {
  &:before {
    content: $mapearia-android;
  }
}
.mapearia-binoculars {
  &:before {
    content: $mapearia-binoculars;
  }
}
.mapearia-car-2 {
  &:before {
    content: $mapearia-car-2;
  }
}
.mapearia-check-box {
  &:before {
    content: $mapearia-check-box;
  }
}
.mapearia-close {
  &:before {
    content: $mapearia-close;
  }
}
.mapearia-coin-stack-1 {
  &:before {
    content: $mapearia-coin-stack-1;
  }
}
.mapearia-file-bookmark {
  &:before {
    content: $mapearia-file-bookmark;
  }
}
.mapearia-files-1 {
  &:before {
    content: $mapearia-files-1;
  }
}
.mapearia-flash {
  &:before {
    content: $mapearia-flash;
  }
}
.mapearia-folder-add {
  &:before {
    content: $mapearia-folder-add;
  }
}
.mapearia-folder-check {
  &:before {
    content: $mapearia-folder-check;
  }
}
.mapearia-folder-close {
  &:before {
    content: $mapearia-folder-close;
  }
}
.mapearia-folder-subtract {
  &:before {
    content: $mapearia-folder-subtract;
  }
}
.mapearia-inbox {
  &:before {
    content: $mapearia-inbox;
  }
}
.mapearia-location-map {
  &:before {
    content: $mapearia-location-map;
  }
}
.mapearia-location-pin {
  &:before {
    content: $mapearia-location-pin;
  }
}
.mapearia-location-pin-add {
  &:before {
    content: $mapearia-location-pin-add;
  }
}
.mapearia-location-pin-bank-2 {
  &:before {
    content: $mapearia-location-pin-bank-2;
  }
}
.mapearia-location-pin-check {
  &:before {
    content: $mapearia-location-pin-check;
  }
}
.mapearia-location-pin-close {
  &:before {
    content: $mapearia-location-pin-close;
  }
}
.mapearia-location-pin-subtract {
  &:before {
    content: $mapearia-location-pin-subtract;
  }
}
.mapearia-nature-flower-1 {
  &:before {
    content: $mapearia-nature-flower-1;
  }
}
.mapearia-nature-plant-1 {
  &:before {
    content: $mapearia-nature-plant-1;
  }
}
.mapearia-navigation-before {
  &:before {
    content: $mapearia-navigation-before;
  }
}
.mapearia-navigation-next {
  &:before {
    content: $mapearia-navigation-next;
  }
}
.mapearia-pencil {
  &:before {
    content: $mapearia-pencil;
  }
}
.mapearia-pin-2 {
  &:before {
    content: $mapearia-pin-2;
  }
}
.mapearia-places-home-3 {
  &:before {
    content: $mapearia-places-home-3;
  }
}
.mapearia-places-warehouse-1 {
  &:before {
    content: $mapearia-places-warehouse-1;
  }
}
.mapearia-quill {
  &:before {
    content: $mapearia-quill;
  }
}
.mapearia-remove-circle-1 {
  &:before {
    content: $mapearia-remove-circle-1;
  }
}
.mapearia-rewards-banner-check {
  &:before {
    content: $mapearia-rewards-banner-check;
  }
}
.mapearia-rewards-medal-1 {
  &:before {
    content: $mapearia-rewards-medal-1;
  }
}
.mapearia-scissors {
  &:before {
    content: $mapearia-scissors;
  }
}
.mapearia-send-to-back {
  &:before {
    content: $mapearia-send-to-back;
  }
}
.mapearia-send-to-front {
  &:before {
    content: $mapearia-send-to-front;
  }
}
.mapearia-server {
  &:before {
    content: $mapearia-server;
  }
}
.mapearia-server-add {
  &:before {
    content: $mapearia-server-add;
  }
}
.mapearia-server-subtract-1 {
  &:before {
    content: $mapearia-server-subtract-1;
  }
}
.mapearia-settings {
  &:before {
    content: $mapearia-settings;
  }
}
.mapearia-share-megaphone-2 {
  &:before {
    content: $mapearia-share-megaphone-2;
  }
}
.mapearia-spa-bamboo {
  &:before {
    content: $mapearia-spa-bamboo;
  }
}
.mapearia-spa-lotus-flower {
  &:before {
    content: $mapearia-spa-lotus-flower;
  }
}
.mapearia-star-constellation {
  &:before {
    content: $mapearia-star-constellation;
  }
}
.mapearia-subtract-circle-1 {
  &:before {
    content: $mapearia-subtract-circle-1;
  }
}
.mapearia-synchronize {
  &:before {
    content: $mapearia-synchronize;
  }
}
.mapearia-user-magnify {
  &:before {
    content: $mapearia-user-magnify;
  }
}
.mapearia-user-male {
  &:before {
    content: $mapearia-user-male;
  }
}
.mapearia-vector-circle {
  &:before {
    content: $mapearia-vector-circle;
  }
}
.mapearia-vector-line {
  &:before {
    content: $mapearia-vector-line;
  }
}
.mapearia-vector-square {
  &:before {
    content: $mapearia-vector-square;
  }
}
.mapearia-vector-triangle {
  &:before {
    content: $mapearia-vector-triangle;
  }
}
.mapearia-vote-thumbs-down {
  &:before {
    content: $mapearia-vote-thumbs-down;
  }
}
.mapearia-vote-thumbs-up {
  &:before {
    content: $mapearia-vote-thumbs-up;
  }
}
.mapearia-warehouse-box {
  &:before {
    content: $mapearia-warehouse-box;
  }
}
.mapearia-water-tap {
  &:before {
    content: $mapearia-water-tap;
  }
}
.mapearia-water-tower {
  &:before {
    content: $mapearia-water-tower;
  }
}
.mapearia-wind-flag {
  &:before {
    content: $mapearia-wind-flag;
  }
}
.mapearia-circle-plus {
  &:before {
    content: $mapearia-circle-plus;
  }
}
.mapearia-circle-minus {
  &:before {
    content: $mapearia-circle-minus;
  }
}
.mapearia-circle-check {
  &:before {
    content: $mapearia-circle-check;
  }
}
.mapearia-circle-cross {
  &:before {
    content: $mapearia-circle-cross;
  }
}
.mapearia-umbrella {
  &:before {
    content: $mapearia-umbrella;
  }
}
.mapearia-moon3 {
  &:before {
    content: $mapearia-moon3;
  }
}
.mapearia-drop {
  &:before {
    content: $mapearia-drop;
  }
}
.mapearia-sun4 {
  &:before {
    content: $mapearia-sun4;
  }
}
.mapearia-cloud6 {
  &:before {
    content: $mapearia-cloud6;
  }
}
.mapearia-location-2 {
  &:before {
    content: $mapearia-location-2;
  }
}
.mapearia-head {
  &:before {
    content: $mapearia-head;
  }
}
.mapearia-marquee {
  &:before {
    content: $mapearia-marquee;
  }
}
.mapearia-marquee-plus {
  &:before {
    content: $mapearia-marquee-plus;
  }
}
.mapearia-marquee-minus {
  &:before {
    content: $mapearia-marquee-minus;
  }
}

