$icomoon-font-path: "../fonts" !default;

$mapearia-ruler: "\e96b";
$mapearia-sunrise: "\e91f";
$mapearia-sun: "\e920";
$mapearia-moon: "\e921";
$mapearia-sun2: "\e922";
$mapearia-windy: "\e923";
$mapearia-wind: "\e924";
$mapearia-snowflake: "\e925";
$mapearia-cloudy: "\e926";
$mapearia-cloud: "\e927";
$mapearia-weather: "\e928";
$mapearia-weather2: "\e929";
$mapearia-weather3: "\e92a";
$mapearia-cloud2: "\e92b";
$mapearia-lightning: "\e92c";
$mapearia-lightning2: "\e947";
$mapearia-rainy: "\e948";
$mapearia-rainy2: "\e94f";
$mapearia-windy2: "\e950";
$mapearia-windy3: "\e951";
$mapearia-snowy: "\e952";
$mapearia-snowy2: "\e953";
$mapearia-snowy3: "\e954";
$mapearia-weather4: "\e955";
$mapearia-cloudy2: "\e956";
$mapearia-cloud3: "\e957";
$mapearia-lightning3: "\e958";
$mapearia-sun3: "\e959";
$mapearia-moon2: "\e95a";
$mapearia-cloudy3: "\e95b";
$mapearia-cloud4: "\e95c";
$mapearia-cloud5: "\e95d";
$mapearia-lightning4: "\e95e";
$mapearia-rainy3: "\e95f";
$mapearia-rainy4: "\e960";
$mapearia-windy4: "\e961";
$mapearia-windy5: "\e962";
$mapearia-snowy4: "\e963";
$mapearia-snowy5: "\e964";
$mapearia-weather5: "\e965";
$mapearia-cloudy4: "\e966";
$mapearia-lightning5: "\e967";
$mapearia-thermometer: "\e968";
$mapearia-Celsius: "\e969";
$mapearia-cd: "\e96a";
$mapearia-printer: "\e91c";
$mapearia-add-circle: "\e900";
$mapearia-airplane: "\e92d";
$mapearia-alien: "\e92e";
$mapearia-alien-head: "\e92f";
$mapearia-android: "\e930";
$mapearia-binoculars: "\e901";
$mapearia-car-2: "\e931";
$mapearia-check-box: "\e902";
$mapearia-close: "\e903";
$mapearia-coin-stack-1: "\e932";
$mapearia-file-bookmark: "\e933";
$mapearia-files-1: "\e934";
$mapearia-flash: "\e935";
$mapearia-folder-add: "\e904";
$mapearia-folder-check: "\e905";
$mapearia-folder-close: "\e906";
$mapearia-folder-subtract: "\e907";
$mapearia-inbox: "\e908";
$mapearia-location-map: "\e91d";
$mapearia-location-pin: "\e91e";
$mapearia-location-pin-add: "\e909";
$mapearia-location-pin-bank-2: "\e936";
$mapearia-location-pin-check: "\e90a";
$mapearia-location-pin-close: "\e90b";
$mapearia-location-pin-subtract: "\e90c";
$mapearia-nature-flower-1: "\e937";
$mapearia-nature-plant-1: "\e938";
$mapearia-navigation-before: "\e90d";
$mapearia-navigation-next: "\e90e";
$mapearia-pencil: "\e90f";
$mapearia-pin-2: "\e939";
$mapearia-places-home-3: "\e93a";
$mapearia-places-warehouse-1: "\e93b";
$mapearia-quill: "\e93c";
$mapearia-remove-circle-1: "\e93d";
$mapearia-rewards-banner-check: "\e93e";
$mapearia-rewards-medal-1: "\e93f";
$mapearia-scissors: "\e910";
$mapearia-send-to-back: "\e911";
$mapearia-send-to-front: "\e912";
$mapearia-server: "\e913";
$mapearia-server-add: "\e914";
$mapearia-server-subtract-1: "\e940";
$mapearia-settings: "\e915";
$mapearia-share-megaphone-2: "\e941";
$mapearia-spa-bamboo: "\e942";
$mapearia-spa-lotus-flower: "\e943";
$mapearia-star-constellation: "\e916";
$mapearia-subtract-circle-1: "\e944";
$mapearia-synchronize: "\e917";
$mapearia-user-magnify: "\e945";
$mapearia-user-male: "\e946";
$mapearia-vector-circle: "\e918";
$mapearia-vector-line: "\e919";
$mapearia-vector-square: "\e91a";
$mapearia-vector-triangle: "\e91b";
$mapearia-vote-thumbs-down: "\e949";
$mapearia-vote-thumbs-up: "\e94a";
$mapearia-warehouse-box: "\e94b";
$mapearia-water-tap: "\e94c";
$mapearia-water-tower: "\e94d";
$mapearia-wind-flag: "\e94e";
$mapearia-circle-plus: "\e040";
$mapearia-circle-minus: "\e041";
$mapearia-circle-check: "\e042";
$mapearia-circle-cross: "\e043";
$mapearia-umbrella: "\e060";
$mapearia-moon3: "\e061";
$mapearia-drop: "\e063";
$mapearia-sun4: "\e064";
$mapearia-cloud6: "\e065";
$mapearia-location-2: "\e071";
$mapearia-head: "\e074";
$mapearia-marquee: "\e082";
$mapearia-marquee-plus: "\e083";
$mapearia-marquee-minus: "\e084";

