﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.ProdutoServico.IndexVM
@{
    Layout = "~/Views/_LayoutDefault.cshtml";
}

<div id="filtro-grade" style="display:none;" data-bind="stopBindings: true">
    @HtmlHelper.Panel.Filtro(
    @<div data-toggle-default="#btnFiltrar">
        <div class="form-group">
            <label for="txtFiltroBuscaDetalhada" class="control-label">Código, Descrição ou EAN</label>
            <input type="text" id="txtFiltroBuscaDetalhada" data-bind="value: campoFiltroRapido" class="form-control" />
        </div>
         <div class="form-group">
             <label for="ddlFiltroMarca" class="control-label">Marca</label>
             <input type="hidden" id="ddlFiltroMarca" class="form-control no-search" multiple="multiple" />
         </div>
         <div class="form-group">
             <label for="ddlFiltroFornecedor" class="control-label">Fornecedor</label>
             <input type="hidden" id="ddlFiltroFornecedor" class="form-control no-search" multiple="multiple" />
         </div>
        <div class="form-group">
            <label for="ddlFiltroAtivo" class="control-label">Ativo</label>
            <select  id="ddlFiltroAtivo" class="form-control no-search">
                <option value="">Indiferente</option>
                <option value="true" selected="selected">Ativo</option>
                <option value="false">Inativo</option>
            </select>
        </div>
        <div class="form-actions">
            <button id="btnFiltrar" class="btn btn-primary"><i class="material-icons">&#xE8B6;</i> Buscar</button>
        </div>
    </div>,
    @<div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th data-bind="css: orderByCss('Codigo'), click: reorder.bind($data,'Codigo')">Código</th>
                    <th data-bind="css: orderByCss('Descricao'), click: reorder.bind($data,'Descricao')">Descrição</th>
                    <th data-bind="css: orderByCss('DescricaoCompletaProdutoServicoGrupo'), click: reorder.bind($data,'DescricaoCompletaProdutoServicoGrupo')">Grupo</th>
                    <th data-bind="css: orderByCss('DescricaoUnidade'), click: reorder.bind($data,'DescricaoUnidade')">Unidade</th>
                    <th class="col-xs-2" data-bind="css: orderByCss('Ativo'), click: reorder.bind($data,'Ativo')">Ativo</th>
                    <th class="col-xs-1" style="width:30px;">Ações</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: {data: data, afterRender: onRowRendered }">
                <tr>
                    <td><spam data-bind="text: Codigo"></spam></td>
                    <td><a data-bind="text: Descricao, attr: { href: '#edit/' + IdProdutoServico }"></a></td>
                    <td data-bind="text: DescricaoCompletaProdutoServicoGrupo"></td>
                    <td data-bind="text: DescricaoUnidade"></td>
                    <td><span data-bind="text: (Ativo ? 'Sim' : 'Não'), css: (Ativo ? 'label label-success' : 'label label-default')"></span></td>
                    <td><a data-bind="attr: { href: '#Edit/' + IdProdutoServico }" class="btn btn-secondary" title="Editar"><i class="material-icons">&#xE254;</i></a></td>
                </tr>
            </tbody>
        </table>
    </div>)
</div>

@section Scripts {
    <script>
        new crudRoute('/Estoque/ProdutoServico/List', '/Estoque/ProdutoServico/NewEdit', function () {
            return {
                BuscaDetalhada: $('#txtFiltroBuscaDetalhada').val(),
                IdProdutoServicoMarcaIn: $('#ddlFiltroMarca').val(),
                IdPessoaIn: $('#ddlFiltroFornecedor').val(),
                Ativo: $('#ddlFiltroAtivo').val()
            }
        },
            ['btnFiltrar', 'btnBuscaRapida'], 'Descricao', 'asc',
            [{ text: 'Ativo', value: 'Ativo', internal: 'Ativo', func: function (p) { return p ? 'Ativo' : 'Inativo' } },
                { text: 'Grupo', value: 'DescricaoCompletaProdutoServicoGrupo', internal: 'DescricaoCompletaProdutoServicoGrupo' }]
        );
    </script>

@HtmlHelper.Select.SearchableKO("ddlFiltroMarca", "IdProdutoServicoMarca", "IdProdutoServicoMarca",
                                              "Descricao", "Descricao", "ProdutoServicoMarca.Descricao", "/Estoque/ProdutoServicoMarca/List", "Ativo:true")

@HtmlHelper.Select.SearchableKO("ddlFiltroFornecedor", "IdPessoa", "IdPessoa", "NomePessoaExibicao", "BuscaPessoaDetalhada", "NomePessoaExibicao", "/Estoque/ProdutoServicoFornecedor/List", "")




    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
