﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.ProdutoServico.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-ProdutoServico-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtCodigo">Código<span>(Automático)</span></label>
                            <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricaoReduzida">Nome</label>
                            <input type="text" id="txtDescricaoReduzida" name="txtDescricaoReduzida" data-bind="value: DescricaoReduzida, validate: { required: true }" class="form-control" maxlength="50" />
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group opcional">
                            <label for="txtModelo">Modelo ou Detalhe</label>
                            <input type="text" id="txtModelo" name="txtModelo" data-bind="value: Modelo" class="form-control" maxlength="50" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlProdutoServicoGrupo">Grupo de Produto</label>
                            @HtmlHelper.Select.SearchableKO("ddlProdutoServicoGrupo", "IdProdutoServicoGrupo", "IdProdutoServicoGrupo", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Estoque/ProdutoServicoGrupo/List", "Ativo:true, UltimoNivel:true", required: true)
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group opcional">
                            <label for="ddlProdutoServicoMarca">Marca</label>
                            @HtmlHelper.Select.SearchableKO("ddlProdutoServicoMarca", "IdProdutoServicoMarca", "IdProdutoServicoMarca", "Descricao", "Descricao", "ProdutoServicoMarca.Descricao", "/Estoque/ProdutoServicoMarca/List", "Ativo:true", vmTextSelected: "vmDescricaoProdutoServicoMarca.Descricao")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label class="control-label" for="txtObservacao">Observação</label>
                            <textarea id="txtObservacao" name="txtObservacao" data-bind="value: Observacao" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" id="pnlControle" data-optional-label-text=" ">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Forma de Controle</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label" for="chkProdutoServicoIndependete">Como se controla este produto ?</label>
                    <input type="checkbox" class="no-uniform" id="chkProdutoServicoIndependete" data-bind="checked: ProdutoServicoIndependente, flipper: { observable: ProdutoServicoIndependente, options: { 'onText': 'Independente', 'offText': 'Família', 'css': 'secondary', 'width': '140px' } }">
                </div>
                <div id="divProdutoServicoFamilia" data-bind="visible: vmParams.ExibeProdutoServicoFamilia()">
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="ddlProdutoServicoFamilia">Família de Produto</label>
                                    @HtmlHelper.Select.SearchableKO("ddlProdutoServicoFamilia", "IdProdutoServicoFamilia", "IdProdutoServicoFamilia", "DescricaoFamiliaComUnidade", "Descricao", "ProdutoServicoFamilia.Descricao", "/Estoque/ProdutoServicoFamilia/List", "Ativo:true", dataBind: "validate: { required: vmParams.ExibeProdutoServicoFamilia() }", vmDataSelected: "vmParams.ProdutoServicoFamilia", idControleDependencia: "ddlProdutoServicoGrupo", idDependencia: "IdProdutoServicoGrupoIn")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="ddlUnidadeTipo">Este Produto é controlado em</label>
                                @HtmlHelper.Select.SearchableKO("ddlUnidadeTipo", "IdUnidadeTipo", "IdUnidadeTipo", "Descricao", "Descricao", "Descricao", "/Estoque/UnidadeTipo/List", "Ativo:true, IdUnidadeTipoIn:\\'1,4,3,7\\'", dataBind: "validate: { required: vmParams.ExibeProdutoServicoFamilia() }")
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="ddlUnidade">Unidade de Medida Padrão</label>
                                @HtmlHelper.Select.SearchableKO("ddlUnidade", "IdUnidade", "IdUnidade", "DescricaoSigla", "Descricao", "Descricao", "/Estoque/Unidade/List", "Ativo:true", "ddlUnidadeTipo", "IdUnidadeTipo", dataBind: "validate: { required: vmParams.ExibeProdutoServicoFamilia() }")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="ddlProdutoServicoFormaApresentacao">Qual a Forma de Apresentação (Embalagem)</label>
                                @HtmlHelper.Select.SearchableKO("ddlProdutoServicoFormaApresentacao", "IdProdutoServicoFormaApresentacao", "IdProdutoServicoFormaApresentacao", "DescricaoSigla", "BuscaDetalhada", "DescricaoSigla", "/Estoque/ProdutoServicoFormaApresentacao/List", "Ativo:true", dataBind: "validate: { required: vmParams.ExibeProdutoServicoFamilia() }", vmTextSelected: "vmDescricaoFormaApresentacao.Descricao")
                            </div>
                        </div>
                    </div>
                    <div id="divQuantidadeEmbalagem" data-bind="visible: ExibeQuantidadeEmbalagem">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="txtQuantidade">Quantidade por Embalagem</label>
                                    <input type="text" id="txtQuantidade" name="txtQuantidade" data-bind="value: Quantidade, validate: { required: ExibeQuantidadeEmbalagem }" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="chkPermitePesagem">Permite Pesagem</label>
                            <input type="checkbox" class="no-uniform" id="chkPermitePesagem" name="chkPermitePesagem" data-bind="checked: PermitePesagem, flipper: { observable: PermitePesagem, options: defaults.flipper.SimNao }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" id="pnlDescricao">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Como deseja que a Descrição do produto seja formada?</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlNomenclatura" class="control-label">Escolha um modelo</label>
                            <select placeholder="Nomenclatura" id="ddlNomenclatura" class="form-control no-search" data-bind="value: Nomenclatura">
                                <option value="1">Descrição + Modelo + Marca + Forma de Apresentação</option>
                                <option value="2">Descrição + Modelo + Forma de Apresentação + Marca</option>
                                <option value="6">Descrição + Modelo + Marca</option>
                                <option value="7">Descrição + Marca + Modelo</option>
                                <option value="3">Descrição + Marca</option>
                                <option value="4">Descrição + Modelo</option>
                                <option value="5">Descricao</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao" class="control-label">A Descrição do Produto será</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" class="form-control" data-bind="value: Descricao, text: vmNomenclatura" disabled="disabled" />
                        </div>
                    </div>
                </div>
                <fieldset>
                    <legend style="color:#626262;">Quais Ações podem ser realizadas com este Produto?</legend>
                    <div class="form-inline">
                        <div class="form-group">
                            <label class="control-label" for="chkComprado">Comprar</label>
                            <input type="checkbox" class="no-uniform" id="chkComprado" name="chkComprado" data-bind="checked: PermiteCompra, flipper: { observable: PermiteCompra, options: defaults.flipper.SimNao }">
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="chkArmazenado">Armazenar</label>
                            <input type="checkbox" class="no-uniform" id="chkArmazenado" name="chkArmazenado" data-bind="checked: Armazenamento, flipper: { observable: Armazenamento, options: defaults.flipper.SimNao }">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="chkProduzido">Produzir ou Fabricar</label>
                            <input type="checkbox" class="no-uniform" id="chkProduzido" name="chkProduzido" data-bind="checked: PermiteProducao, flipper: { observable: PermiteProducao, options: defaults.flipper.SimNao }">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="chkUso">Usar ou Consumir</label>
                            <input type="checkbox" class="no-uniform" id="chkUso" name="chkUso" data-bind="checked: PermiteUso, flipper: { observable: PermiteUso, options: defaults.flipper.SimNao }">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="chkVendido">Vender</label>
                            <input type="checkbox" class="no-uniform" id="chkVendido" name="chkVendido" data-bind="checked: PermiteVenda, flipper: { observable: PermiteVenda, options: defaults.flipper.SimNao }">
                        </div>
                    </div>
                </fieldset>
                <fieldset id="fildsetClasse" style="display:none">
                    <legend style="color:#626262;">Classe de Produto</legend>
                    <div class="form-inline">
                        <div class="form-group">
                            <div id="divMateriaPrima">
                                <label class="control-label" for="chkMateriaPrima">Matéria Prima</label>
                                <input type="checkbox" class="no-uniform" id="chkMateriaPrima" name="chkMateriaPrima" data-bind="checked: MateriaPrima, flipper: { observable: MateriaPrima, options: defaults.flipper.SimNao }">
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="divProdutoIntermediario">
                                <label class="control-label" for="chkProdutoIntermediario">Produto Intermediário</label>
                                <input type="checkbox" class="no-uniform" id="chkProdutoIntermediario" name="chkProdutoIntermediario" data-bind="checked: ProdutoIntermediario, flipper: { observable: ProdutoIntermediario, options: defaults.flipper.SimNao }">
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="divProdutoAcabado">
                                <label class="control-label" for="chkProdutoAcabado">Produto Acabado</label>
                                <input type="checkbox" class="no-uniform" id="chkProdutoAcabado" name="chkProdutoAcabado" data-bind="checked: ProdutoAcabado, flipper: { observable: ProdutoAcabado, options: defaults.flipper.SimNao }">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlControleLoteRecebimentoTipo" class="control-label">Controla Lote no Recebimento</label>
                            <select id="ddlControleLoteRecebimentoTipo" class="form-control no-search" data-bind="value: ControleLoteRecebimentoTipo">
                                <option value="1">Não Controla</option>
                                <option value="2">Informado Manualmente</option>
                                <option value="3">Gerado pela Data Invertida</option>
                                <option value="4">Gerado pela Data e Hora Invertida</option>
                                <option value="5">Gerar Sequencialmente</option>
                                <option value="6">Gerar Aplicação e Sub Aplicação</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlControleLoteProducaoTipo" class="control-label">Controla Lote na Produção ou Fabricação</label>
                            <select id="ddlControleLoteProducaoTipo" class="form-control no-search" data-bind="value: ControleLoteProducaoTipo">
                                <option value="1">Não Controla</option>
                                <option value="2">Informado Manualmente</option>
                                <option value="3">Gerado pela Data Invertida</option>
                                <option value="4">Gerado pela Data e Hora Invertida</option>
                                <option value="5">Gerar Sequencialmente</option>
                                <option value="6">Gerar Aplicação e Sub Aplicação</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkCompraAutomatica">Solicita Compra automática caso não tenha o total em estoque</label>
                            <input type="checkbox" class="no-uniform" id="chkCompraAutomatica" data-bind="checked: SolicitaCompraAutomatica, flipper: { observable: SolicitaCompraAutomatica, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-toggle="collapsible" id="pnlCaracterizacao">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Caracterização</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label for="ddlProdutoServicoCaracterizacaoClassificacao" class="control-label">Classificação de Produtos</label>
                                    @HtmlHelper.Select.SearchableKO("ddlProdutoServicoCaracterizacaoClassificacao", "IdProdutoServicoCaracterizacaoClassificacao", "IdProdutoServicoCaracterizacao", "Descricao", "Descricao", "Descricao", "/Estoque/ProdutoServicoCaracterizacao/List", "Ativo:true, NaturezaCaracterizacao: 1", idChaveRelacao: "IdProdutoServicoCaracterizacao")
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label for="ddlProdutoServicoCaracterizacaoSecao" class="control-label">Seção</label>
                                    @HtmlHelper.Select.SearchableKO("ddlProdutoServicoCaracterizacaoSecao", "IdProdutoServicoCaracterizacaoSecao", "IdProdutoServicoCaracterizacao", "Descricao", "Descricao", "Descricao", "/Estoque/ProdutoServicoCaracterizacao/List", "Ativo:true, NaturezaCaracterizacao: 2", idChaveRelacao: "IdProdutoServicoCaracterizacao")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="ddlProdutoServicoCaracterizacaoProduto" class="control-label">Caracteristicas</label>
                                    @HtmlHelper.Select.SearchableKO("ddlProdutoServicoCaracterizacaoProduto", "Caracteristicas", "IdProdutoServicoCaracterizacao", "Descricao", "Descricao", "Descricao", "/Estoque/ProdutoServicoCaracterizacao/List", "Ativo:true, NaturezaCaracterizacao: 3", idChaveRelacao: "IdProdutoServicoCaracterizacao", multiple: true)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label" for="txtCodigoEAN">EAN</label>
                                    <input type="text" id="txtCodigoEAN" name="txtCodigoEAN" data-bind="value: CodigoEAN" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" data-toggle="collapsible" data-open="false" id="pnlLocais" data-bind="visible: vmParams.ExibeLocais()">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">O Produto pode ser armazenado nos seguintes locais</h3>
            </div>
            <div class="panel-body">
                @HtmlHelper.GridView.GridNewEdit(
                id: "Local", // Declarar na página <template id="newedit-id"></template>
                vmExtend: "vmLocalExtend",
                vm: "Locais",
                columns: @<script>
                    [
                        { 'id': 'IdProdutoServicoProdutoLocal' },
                        { 'id': 'IdProdutoServico' },
                        { 'id': 'IdProdutoLocal' },
                        { 'id': 'SiglaQuantidadeIdeal' },
                        { 'id': 'SiglaQuantidadeMinima' },
                        { 'id': 'IdUnidadeQuantidadeMinima', 'defaultValue': vm.IdUnidade() },
                        { 'id': 'IdUnidadeQuantidadeIdeal','defaultValue': vm.IdUnidade() },
                        { 'id': 'QuantidadeMinima' },
                        { 'id': 'QuantidadeIdeal' },
                        { 'id': 'DescricaoProdutoLocal','displayName': 'Local', 'header':true,'sortable': true  },
                        { 'id': 'DescricaoQuantidadeMinima','displayName': 'Quantidade Minima', 'header':true, 'defaultValue': '','sortable': true  },
                        { 'id': 'DescricaoQuantidadeIdeal','displayName': 'Quantidade Ideal', 'header':true, 'defaultValue': '','sortable': true  },
                        { 'id': 'Detalhe','displayName': 'Detalhe', 'header':true, 'defaultValue': '','sortable': true },
                        defaults.gridNewEdit.column.acaoEditRemove
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: DescricaoProdutoLocal }  }"></td>
                    <td data-bind="text: DescricaoQuantidadeMinima"></td>
                    <td data-bind="text: DescricaoQuantidadeIdeal"></td>
                    <td data-bind="text: Detalhe"></td>
                    <td data-bind="template: { name: 'button-edit-remove' }"></td>
                </tr>, orderByCol: "DescricaoProdutoLocal", useHiddenColumns: false, orderByDir: HelpersUtil.OrderByDirEnum.Asc)
            </div>
        </div>
        <div class="panel panel-default" data-toggle="collapsible" data-open="false" id="pnlCaracteristicasFisicas">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Características Físicas</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        @HtmlHelper.Campo.UnidadeTipo("ddlValorPesoBruto","ValorPesoBruto", "4", "IdUnidadePesoBruto", label: "Peso Bruto")
                    </div>
                    <div class="col-xs-4">
                        @HtmlHelper.Campo.UnidadeTipo("ddlValorPesoLiquido","ValorPesoLiquido", "4", "IdUnidadePesoLiquido", label: "Peso Líquido")
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        @HtmlHelper.Campo.UnidadeTipo("ddlValorVolume", "ValorVolume", "3", "IdUnidadeVolume", label: "Volume")
                    </div>
                    <div class="col-xs-4">
                        @HtmlHelper.Campo.UnidadeTipo("ddlValorPesoBrutoMetro","ValorPesoBrutoMetro", "3", "IdUnidadePesoBrutoMetro", label: "Peso Bruto por Metro Cúbico (m³)")
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        @HtmlHelper.Campo.UnidadeTipo("ddlValorLargura", "ValorLargura", "1", "IdUnidadeLargura", label: "Largura")
                    </div>
                    <div class="col-xs-4">
                        @HtmlHelper.Campo.UnidadeTipo("ddlValorComprimento","ValorComprimento", "1", "IdUnidadeComprimento", label: "Comprimento")
                    </div>
                    <div class="col-xs-4">
                        @HtmlHelper.Campo.UnidadeTipo("ValorAltura", "ValorAltura", "1", "IdUnidadeAltura", label: "Altura")
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" data-toggle="collapsible" data-open="false" id="pnlComposicaoProduto">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Composição de Produto, Ingredientes e Príncipios Ativos</h3>
            </div>
            <div class="panel-body">

                @HtmlHelper.GridView.GridNewEdit(
                id: "Composicao", // Declarar na página <template id="newedit-id"></template>
                vm: "Composicao",
                vmExtend: "vmComposicaoExtend",
                title: "Composição",
                columns: @<script>
                    [
                        { 'id': 'IdProdutoServicoReferencia' },
                        { 'id': 'IdProdutoServico' },
                        { 'id': 'IdUnidadeIn'},
                        { 'id': 'IdUnidadeValor' },
                        { 'id': 'ValorVariacao' },
                        { 'id': 'Valor' },
                        { 'id': 'IdProdutoServicoUnidadeTipo', defaultValue: vmParams.IdProdutoServicoUnidadeTipoValor },
                        { 'id': 'IdUnidadeValorVariacao' },
                        
                        { 'id': 'DescricaoProdutoServicoReferencia' },
                        { 'id': 'DescricaoProdutoServico', displayName: 'Descrição', header: true,'sortable': true  },
                        { 'id': 'ValorUnidade', displayName: 'Quantidade', header: true,'sortable': true  },
                        { 'id': 'PermiteAlteracaoQuantidade', defaultValue: false,header: true,'sortable': true, displayName: 'Altera Quantidade' },
                        defaults.gridNewEdit.column.acaoEditRemove
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: DescricaoProdutoServico }  }"></td>
                     <td data-bind="text: ValorUnidade"></td>
                     <td data-bind="template: { name: 'label-permitealteracaoquantidade' }"></td>
                    <td data-bind="template: { name: 'button-edit-remove' }"></td>
                </tr>,orderByCol: "DescricaoProdutoServico",orderByDir: HelpersUtil.OrderByDirEnum.Asc,useHiddenColumns: false)

            </div>
        </div>
        <div class="panel panel-default" data-toggle="collapsible" data-open="false" id="pnlFormasApresentacoes">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Forma de Apresentação para Transporte e Medição de Produção</h3>
            </div>
            <div class="panel-body">
                @HtmlHelper.GridView.GridNewEdit(
                id: "Forma", // Declarar na página <template id="newedit-id"></template>
                vm: "FormasApresentacoes",
                title: "Relacionar Forma de Apresentação",
                columns: @<script>
                    [
                        { 'id': 'IdProdutoServicoFormaApresentacaoItem' },
                        { 'id': 'IdProdutoServico' },
                        { 'id': 'IdProdutoServicoFormaApresentacao' },
                        { 'id': 'Valor' },
                        { 'id': 'IdUnidade', defaultValue: vm.IdUnidade },
                        { 'id': 'IdUnidadeTipo', defaultValue: vm.IdUnidadeTipo },
                        { 'id': 'DescricaoProdutoServicoFormaApresentacao', displayName: 'Descrição', header: true,'sortable': true },
                        { 'id': 'ValorUnidadeSigla', displayName: 'Quantidade', header: true,'sortable': true  },
                        defaults.gridNewEdit.column.acaoEditRemove
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: DescricaoProdutoServicoFormaApresentacao }  }"></td>
                    <td data-bind="text: ValorUnidadeSigla"></td>
                    <td data-bind="template: { name: 'button-edit-remove' }"></td>
                </tr>,
                                                                              orderByCol: "DescricaoProdutoServico", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)
            </div>
        </div>
        <div class="panel panel-default" data-toggle="collapsible" data-open="false" id="pnlFornecedores" data-bind="whit: Fornecedores">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Fornecedores</h3>
            </div>
            <div class="panel-body">
                @HtmlHelper.GridView.GridNewEdit(
                id: "Fornecedor", // Declarar na página <template id="newedit-id"></template>
                vm: "Fornecedores",
                vmExtend: "vmFornecedorExtend",
                title: "Fornecedor",
                columns: @<script>
                    [
                        { 'id': 'IdProdutoServico' },
                        { 'id': 'IdPessoa' },
                        { 'id': 'PessoaNome', header: true, displayName: 'Nome ou Razão Social','sortable': true  },
                        { 'id': 'PessoaNomeSecundario', header: true, displayName: 'Apelido ou Nome Fantasia','sortable': true  },
                        defaults.gridNewEdit.column.acaoEditRemove
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: PessoaNome }  }"></td>
                    <td data-bind="text: PessoaNomeSecundario"></td>
                    <td data-bind="template: { name: 'button-edit-remove' }"></td>
                </tr>, orderByCol: "IdPessoa", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false, displayMode: "panel")
            </div>
        </div>
        <div class="panel panel-default panel-action">
            <div class="panel-body">
                <button type="submit" id="btn-salvar" class="btn btn-secondary btn-lg btn-primary-action"><i class="material-icons">&#xE5CA;</i> Salvar</button>
                <a href="#List" type="button" class="btn btn-primary btn-inverted btn-lg"><i class="material-icons">&#xE5C4;</i> Voltar</a>
                @if (@Model.IdProdutoServico.HasValue)
                {
                    <a href="#History/ProdutoServico/@Model.IdProdutoServico" type="button" class="btn btn-primary btn-inverted btn-lg pull-right"><i class="material-icons">&#xE889;</i> Histórico</a>
                }
            </div>
        </div>
    </form>

    <template id="newedit-Local">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="ddlProdutoLocal">Local de Armazenagem</label>
                    @HtmlHelper.Select.SearchableKO("IdProdutoLocal", "IdProdutoLocal", "IdProdutoLocal", "Descricao", "Descricao", "Descricao", "/Estoque/ProdutoLocal/List", "Ativo:true", required: true, vmTextSelected: "DescricaoProdutoLocal")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    @HtmlHelper.Campo.UnidadeTipo("ddlQuantidadeMinima", "QuantidadeMinima", "", "IdUnidadeQuantidadeMinima", label: "Quantidade Mínima", UnidadeSelecionadoApresentacao: "DescricaoQuantidadeMinima", AlteraUnidade: false, ValidateBind: "{ required : false, min : 1 } ")
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    @HtmlHelper.Campo.UnidadeTipo("ddlQuantidadeIdeal", "QuantidadeIdeal", "", "IdUnidadeQuantidadeIdeal", label: "Quantidade Ideal", UnidadeSelecionadoApresentacao: "DescricaoQuantidadeIdeal", AlteraUnidade: false, ValidateBind: "{ required: false, min: QuantidadeMinima }")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="txtDetalhe">Detalhe</label>
                    <input type="text" id="txtDetalhe" name="txtDetalhe" data-bind="value: Detalhe" class="form-control" maxlength="50" />
                </div>
            </div>
        </div>
    </template>

    <template id="newedit-Fornecedor">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="ddlPessoa">Proprietário</label>
                    @HtmlHelper.Select.SearchableKO("ddlPessoa", "IdPessoa", "IdPessoa", "Nome", "Nomes", "Nome", "/Corporativo/Pessoa/ListPessoaPersonalizado", "ComPessoa:true,ComEmpresaUsuaria:true,ComEmpresa:false,Ativo:true, IdPessoaNaturezaNotIn: 4", vmDataSelected: "Fornecedor")
                </div>
            </div>
            <div class="col-xs-12 form-group">
                <a href="#" class="link-edit panel-open-next">Não encontrou? Adicione um Novo</a>
            </div>
        </div>
    </template>

    <template id="newedit-Fornecedor-1" data-tab-id="Fornecedor" data-tab-title="Adicionar pessoa">
        @Html.Partial("~/Areas/Corporativo/Views/Pessoa/_PartialPessoa.cshtml", Model.Pessoa)
    </template>

    <template id="newedit-Composicao">
        <input type="hidden" id="txtValorUnidade" name="txtValorUnidade" data-bind="value: ValorUnidade = vmDescricaoProdutoComposicao.UnidadeSigla()" />
        <div class="row">
            <div class="col-xs-8">
                <div class="form-group">
                    <label for="ddlProdutoServico">Produto</label>
                    @HtmlHelper.Select.SearchableKO("ddlProdutoServico", "IdProdutoServico", "IdProdutoServico", "DescricaoReduzidaProdutoServicoSigla", "DescricaoReduzida", "DescricaoReduzidaProdutoServicoSigla", "/Estoque/ProdutoServico/List", "Ativo:true", required: true, vmTextSelected: "DescricaoProdutoServico")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                @HtmlHelper.Campo.UnidadeTipo("ddlValor", "Valor", "IdProdutoServicoUnidadeTipo", "IdUnidadeValor", label: "Quantidade", AlteraUnidade: false, UnidadeSelecionadoApresentacao: "vmDescricaoProdutoComposicao.UnidadeSigla")
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="form-group">
                    <label class="control-label" for="chkPermiteAlteracaoQuantidade">Permite Variação de Quantidade</label>
                    <input type="checkbox" class="no-uniform" id="chkPermiteAlteracaoQuantidade" name="chkPermiteAlteracaoQuantidade" data-bind="checked: PermiteAlteracaoQuantidade, flipper: { observable: PermiteAlteracaoQuantidade, options: defaults.flipper.SimNao }">
                </div>
            </div>
        </div>
        <div id="divVariacao" data-bind="visible: PermiteAlteracaoQuantidade">
            <div class="row">
                <div class="col-xs-4">
                    @HtmlHelper.Campo.UnidadeTipo("ddlValorVariacao", "ValorVariacao", "IdProdutoServicoUnidadeTipo", "IdUnidadeValorVariacao", label: "Variação Permitida", IdUnidadeIn: "IdUnidadeIn")
                </div>
            </div>
        </div>
    </template>

    <template id="newedit-Forma">
        <div class="row">
            <div class="col-xs-8">
                <div class="form-group">
                    <label for="ddlFormaApresentacao2">Forma de Apresentação (Embalagem)</label>
                    @HtmlHelper.Select.SearchableKO("ddlFormaApresentacao2", "IdProdutoServicoFormaApresentacao", "IdProdutoServicoFormaApresentacao", "DescricaoSigla", "BuscaDetalhada", "BuscaDetalhada", "/Estoque/ProdutoServicoFormaApresentacao/List", "Ativo:true, ControlaMovimentacao:true", required: true, vmTextSelected: "DescricaoProdutoServicoFormaApresentacao")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                @HtmlHelper.Campo.UnidadeTipo("ddlValor", "Valor", "IdUnidadeTipo", "IdUnidade", label: "Quantidade", UnidadeSelecionadoApresentacao: "ValorUnidadeSigla", AlteraUnidade: false)
            </div>
        </div>
    </template>
</div>

<script src="~/mg-assets/scripts/partial-pessoa.js"></script>
<script type="text/javascript">
    var form = $('#form-ProdutoServico-NewEdit');

    var vmComposicaoExtend = function (vm) {
        vm.PermiteAlteracaoQuantidade.subscribe(function(value) {
            if (!value) {
                vm.ValorVariacao(null);
                vm.IdUnidadeValorVariacao(null);
            }
            else
            {
                if(vm.IdProdutoServico() != null)
                {
                    $.post('/Estoque/ProdutoServico/List', JSON.stringify({
                        IdProdutoServico: vm.IdProdutoServico(),
                        Page: {
                            PageSize: 99999, CurrentPage: 1, OrderBy: 'Descricao asc'
                        }
                    })).success(function (data) {
                        if(data.Data[0].IdUnidade != null)
                        {
                            var xyx = data.Data[0];
                            var ids = [];
                            ids[0] = xyx.IdUnidade;
                            ids[1] = 91 // Procentagem

                            vm.IdUnidadeValor(xyx.IdUnidade);
                            vm.IdUnidadeIn(ids);
                            vm.IdUnidadeValorVariacao(xyx.IdUnidade);
                        }
                    });
                }

            }
        });

        ko.computed(function() {
            if(vm.IdProdutoServico() != null)
            {
                $.post('/Estoque/ProdutoServico/List', JSON.stringify({
                    IdProdutoServico: vm.IdProdutoServico(),
                    Page: {
                        PageSize: 99999, CurrentPage: 1, OrderBy: 'Descricao asc'
                    }
                })).success(function (data) {
                    if(data.Data[0].IdUnidade != null)
                    {
                        var xyx = data.Data[0];
                        var ids = [];
                        ids[0] = xyx.IdUnidade;
                        ids[1] = 91 // Procentagem

                        vm.IdUnidadeValor(xyx.IdUnidade);
                        vm.IdUnidadeIn(ids);
                        vm.IdUnidadeValorVariacao(xyx.IdUnidade);
                    }
                });
            }

            //debugger;
            //if(vm.Valor() != null && vmDescricaoProdutoComposicao.UnidadeSigla() != null)
            //{
            //    vm.ValorUnidade(null);
            //    vm.ValorUnidade(vmDescricaoProdutoComposicao.UnidadeSigla());
            //}

        });

        vm.IdProdutoServico.subscribe(function(newValue) {
            if(newValue == null)
            {
                vm.IdUnidadeValor(null);
                vm.Valor(null);
                vm.IdUnidadeValorVariacao(null);
                vm.ValorVariacao(null);
            }
        });

    }
    var vmFornecedorExtend = function (vm) {
        // overwrite properties
        this.Fornecedor = ko.observable(null);
        this.PessoaNome = ko.pureComputed(function() {
            var fornecedor = this.Fornecedor();
            if (fornecedor && fornecedor.hasOwnProperty('Nome'))
                return fornecedor.Nome;
        }, this);
        this.PessoaNomeSecundario = ko.pureComputed(function() {
            var fornecedor = this.Fornecedor();
            if (fornecedor && fornecedor.hasOwnProperty('NomeSecundario'))
                return fornecedor.NomeSecundario;
        }, this);
    };
    var vmLocalExtend = function(vm)
    {
        vm.QuantidadeIdeal.subscribe(function(newValue) {
            vm.DescricaoQuantidadeIdeal(newValue + " " + vmDescricaoProdutoLocal.SiglaIdeal());
        });

        vm.QuantidadeMinima.subscribe(function(newValue) {
            vm.DescricaoQuantidadeMinima(newValue + " " + vmDescricaoProdutoLocal.SiglaMinimo());
        });

    };

    var vmDescricaoFormaApresentacao = {
        Descricao: ko.observable('')
    };
    var vmDescricaoProdutoServicoMarca = {
        Descricao: ko.observable('')
    };
    var vmDescricaoProdutoLocal = {
        SiglaIdeal: ko.observable(''),
        SiglaMinimo: ko.observable(''),
    };
    var vmDescricaoProdutoComposicao = {
        UnidadeSigla: ko.observable('')
    };

    var vm = {
        ExibeQuantidadeEmbalagem : ko.observable(false),
        @Html.ObservableFor(model => model.IdProdutoServico),
        @Html.ObservableFor(model => model.IdEmpresa),
        @Html.ObservableFor(model => model.IdProdutoServicoGrupo),
        @Html.ObservableFor(model => model.IdProdutoServicoMarca),
        @Html.ObservableFor(model => model.IdProdutoServicoFamilia),
        @Html.ObservableFor(model => model.Codigo),
        @Html.ObservableFor(model => model.Descricao),
        @Html.ObservableFor(model => model.DescricaoReduzida),
        @Html.ObservableFor(model => model.Nomenclatura),
        @Html.ObservableFor(model => model.Modelo),
        @Html.ObservableFor(model => model.Natureza),
        @Html.ObservableFor(model => model.ProdutoServicoIndependente),
        @Html.ObservableFor(model => model.Ativo),
        @Html.ObservableFor(model => model.PermiteCompra),
        @Html.ObservableFor(model => model.PermiteControle),
        @Html.ObservableFor(model => model.PermiteProducao),
        @Html.ObservableFor(model => model.PermiteUso),
        @Html.ObservableFor(model => model.PermiteVenda),
        @Html.ObservableFor(model => model.ChaveVersao),
        @Html.ObservableFor(model => model.CodigoEAN),
        @Html.ObservableFor(model => model.IdProdutoServicoFormaApresentacao),
        @Html.ObservableFor(model => model.IdUnidade),
        @Html.ObservableFor(model => model.IdUnidadeTipo),
        @Html.ObservableFor(model => model.Quantidade),
        @Html.ObservableFor(model => model.Observacao),
        @Html.ObservableFor(model => model.Armazenamento),
        @Html.ObservableFor(model => model.PermitePesagem),
        @Html.ObservableFor(model => model.IdProdutoServicoCaracterizacaoClassificacao),
        @Html.ObservableFor(model => model.IdProdutoServicoCaracterizacaoSecao),
        @Html.ObservableFor(model => model.ValorPesoBruto),
        @Html.ObservableFor(model => model.IdUnidadePesoBruto),
        @Html.ObservableFor(model => model.ValorPesoLiquido),
        @Html.ObservableFor(model => model.IdUnidadePesoLiquido),
        @Html.ObservableFor(model => model.IdUnidadePesoLiquido),
        @Html.ObservableFor(model => model.ValorVolume),
        @Html.ObservableFor(model => model.IdUnidadeVolume),
        @Html.ObservableFor(model => model.ValorLargura),
        @Html.ObservableFor(model => model.IdUnidadeLargura),
        @Html.ObservableFor(model => model.ValorComprimento),
        @Html.ObservableFor(model => model.IdUnidadeComprimento),
        @Html.ObservableFor(model => model.ValorAltura),
        @Html.ObservableFor(model => model.IdUnidadeAltura),
        @Html.ObservableFor(model => model.ValorPesoBrutoMetro),
        @Html.ObservableFor(model => model.IdUnidadePesoBrutoMetro),
        @Html.ObservableFor(model => model.ControleLoteRecebimentoTipo),
        @Html.ObservableFor(model => model.ControleLoteProducaoTipo),
        @Html.ObservableFor(model => model.ProdutoIntermediario),
        @Html.ObservableFor(model => model.MateriaPrima),
        @Html.ObservableFor(model => model.ProdutoAcabado),
        @Html.ObservableFor(model => model.SolicitaCompraAutomatica),
        @Html.ObservableFor(model => model.Caracteristicas),
        @Html.ObservableFor(model => model.Locais),
        @Html.ObservableFor(model => model.Fornecedores),
        @Html.ObservableFor(model => model.Composicao),
        @Html.ObservableFor(model => model.FormasApresentacoes),
        Save: function () {
            if (!vm.isValidShowErrors()) { return; };
            $.ajaxJsonAntiforgery(form, {
                data: ko.toJSON(vm),
                url: '/Estoque/ProdutoServico/NewEdit/',
                success: function (result) {
                    mgFeedbackBase.feedbackCrud(result, 'Produto salvo com sucesso.');
                }
            });
        }
    };
    ko.computed(function(){
        console.log(ko.computedContext.isInitial(), vm.IdUnidade());        
    })    

    var vmParams = function () {
        this.ExibeProdutoServicoFamilia = ko.observable(false);
        //this.ExibeDados = ko.observable(true);
        this.ExibeLocais = ko.observable(false);
        this.ProdutoServicoFamilia = ko.observable();

        ko.computed(function() {
            var produto = this.ProdutoServicoFamilia();
            if (produto && produto.hasOwnProperty('IdUnidade'))
                vm.IdUnidade(produto.IdUnidade);

            if (produto && produto.hasOwnProperty('IdUnidadeTipo'))
                vm.IdUnidadeTipo(produto.IdUnidadeTipo);

        }, this);
    }
    vmParams = new vmParams();

    // inicialização de componentes
    if (!vm.IdProdutoServicoFamilia() === null) {
        vmParams.ExibeProdutoServicoFamilia(true)
        //vmParams.ExibeDados(false)
    }
    ko.computed(function() {
        var permiteArmazenamento = vm.Armazenamento();
        if (permiteArmazenamento) {
            vmParams.ExibeLocais(true);
        } else {
            vmParams.ExibeLocais(false);
            vm.Locais.removeAll();
        }
    });

    // regras para produto/serviço independente ou família
    ko.computed(function() {
        if (vm.ProdutoServicoIndependente()) {
            // independente
            vmParams.ExibeProdutoServicoFamilia(false); // este campo também atribui/remove obrigatoriedade
            //vmParams.ExibeDados(true); // ao exibir dados atribui-se obrigatoriedade aos campos do panel
            // passo o valor nulo para determinadas propriedades.
            vm.IdProdutoServicoFamilia(null);
        }
        else {
            // família de produtos
            //vmParams.ExibeDados(false); // ao esconder dados remove-se a obrigatoriedade dos campos do panel
            vmParams.ExibeProdutoServicoFamilia(true); // este campo também atribui/remove obrigatoriedade
            // passo o valor nulo para determinadas propriedades
            vm.IdUnidadeTipo(null);
            vm.IdUnidade(null);
            vm.Quantidade(null);
        }
    });

    ko.applyBindings(vm, form[0]);

    mg.CollapsibleVM('#pnlFornecedores', [ vm.Fornecedores() ]);
    mg.CollapsibleVM('#pnlDescricao', [ vm.Descricao ]);
    mg.CollapsibleVM('#pnlLocais', [ vm.Locais()]);
    mg.CollapsibleVM('#pnlCaracterizacao', [ vm.IdProdutoServicoCaracterizacaoClassificacao(), vm.IdProdutoServicoCaracterizacaoSecao()]);
    mg.CollapsibleVM('#pnlComposicaoProduto', [ vm.Composicao()]);
    mg.CollapsibleVM('#pnlCaracteristicasFisicas', [ vm.IdUnidadePesoBruto(), vm.IdUnidadePesoLiquido(),vm.IdUnidadeVolume(), vm.IdUnidadePesoBrutoMetro(), vm.IdUnidadeLargura(), vm.IdUnidadeComprimento(),vm.IdUnidadeAltura() ]);
    mg.CollapsibleVM('#pnlFormasApresentacoes', [vm.FormasApresentacoes()]);

    if(vm.PermiteCompra() == true)
    {
        $("#fildsetClasse").css("display","block");
        $("#divMateriaPrima").css("display","block");
    }
    else
    {
        if(vm.PermiteProducao() == false)
            $("#fildsetClasse").css("display","none");
    }

    if(vm.PermiteProducao() == true)
    {
        $("#fildsetClasse").css("display","block");
        $("#divMateriaPrima").css("display","block");
        $("#divProdutoIntermediario").css("display","block");
        $("#divProdutoAcabado").css("display","block");
    }
    else
    {
        if(vm.PermiteCompra() == false)
            $("#fildsetClasse").css("display","none");

        $("#divProdutoIntermediario").css("display","none");
        $("#divProdutoAcabado").css("display","none");
    }

    vm.PermiteCompra.subscribe(function(newValue) {
        if(newValue == true)
        {
            $("#fildsetClasse").css("display","block");
            $("#divMateriaPrima").css("display","block");
        }
        else
        {
            if(vm.PermiteProducao() == false)
                $("#fildsetClasse").css("display","none");

        }
    });

    vm.PermiteProducao.subscribe(function(newValue) {
        if(newValue == true)
        {
            $("#fildsetClasse").css("display","block");
            $("#divMateriaPrima").css("display","block");
            $("#divProdutoIntermediario").css("display","block");
            $("#divProdutoAcabado").css("display","block");
        }
        else
        {
            if(vm.PermiteCompra() == false)
                $("#fildsetClasse").css("display","none");

            $("#divProdutoIntermediario").css("display","none");
            $("#divProdutoAcabado").css("display","none");
        }
    });

    var vmNomenclatura = ko.computed(function() {
        if(vm.Nomenclatura() != null || vm.Nomenclatura() != '')
        {
            var descricaoReduzida = vm.DescricaoReduzida() == null ? '' : vm.DescricaoReduzida();
            var modelo = vm.Modelo() == null ? '' : vm.Modelo();
            var formaApresentacao = vmDescricaoFormaApresentacao.Descricao() == null ? '' : vmDescricaoFormaApresentacao.Descricao();
            var marca = vmDescricaoProdutoServicoMarca.Descricao() == null ? '' : vmDescricaoProdutoServicoMarca.Descricao();
            var descricao = "";

            switch (vm.Nomenclatura()) {
                case "1":
                    {
                        descricao = descricaoReduzida;
                        if(modelo.trim())
                            descricao += " - " + modelo;
                        if(marca.trim())
                            descricao += " - " + marca;
                        if(formaApresentacao.trim())
                            descricao += " - " + formaApresentacao;
                    }
                    break;
                case "2":
                    {
                        descricao = descricaoReduzida;
                        if(modelo.trim())
                            descricao += " - " + modelo;
                        if(formaApresentacao.trim())
                            descricao += " - " + formaApresentacao;
                        if(marca.trim())
                            descricao += " - " + marca;
                    }
                    break;
                case "3":
                    {
                        descricao = descricaoReduzida;

                        if(marca.trim())
                            descricao += " - " + marca;
                    }
                    break;
                case "4":
                    {
                        descricao = descricaoReduzida;

                        if(modelo.trim())
                            descricao += " - " + modelo;
                    }
                    break;
                case "5":
                    {
                        descricao = descricaoReduzida;
                    }
                    break;
                case "6":
                    {
                        descricao = descricaoReduzida;

                        if(modelo.trim())
                            descricao += " - " + modelo;
                        if(marca.trim())
                            descricao += " - " + marca;
                    }
                    break;
                case "7":
                    {
                        descricao = descricaoReduzida;

                        if(marca.trim())
                            descricao += " - " + marca;
                        if(modelo.trim())
                            descricao +=  " - " + modelo;
                    }
            }
            vm.Descricao(descricao)
        }
    });

    //Características Físicas
    //Peso
    vm.IdUnidadePesoBruto.subscribe(function(newValue) {
        if(newValue != null)
            vm.IdUnidadePesoLiquido(newValue);
    });
    vm.ValorPesoBruto.subscribe(function(newValue) {
        if(newValue != null)
            vm.ValorPesoLiquido(newValue);
    });

    //Volume
    vm.IdUnidadeVolume.subscribe(function(newValue) {
        if(newValue != null)
            vm.IdUnidadePesoBrutoMetro(newValue);
    });
    vm.ValorVolume.subscribe(function(newValue) {
        if(newValue != null)
            vm.ValorPesoBrutoMetro(newValue);
    });

    //Medidas
    vm.IdUnidadeLargura.subscribe(function(newValue) {
        if(newValue != null)
        {
            vm.IdUnidadeComprimento(newValue);
            vm.IdUnidadeAltura(newValue);
        }
    });
    vm.ValorLargura.subscribe(function(newValue) {
        if(newValue != null)
        {
            vm.ValorComprimento(newValue);
            vm.ValorAltura(newValue);
        }
    });

    ko.computed(function() {
        if(vm.IdProdutoServicoFormaApresentacao() != null )
        {
            $.post('/Estoque/ProdutoServicoFormaApresentacao/List', JSON.stringify({
                IdProdutoServicoFormaApresentacao: vm.IdProdutoServicoFormaApresentacao(),
                Page: {
                    PageSize: 99999, CurrentPage: 1, OrderBy: 'Descricao asc'
                }
            })).success(function (data) {
                if(!data.Data[0].PermiteVariosItens)
                {
                    vm.Quantidade(1);
                    vm.ExibeQuantidadeEmbalagem(false);
                }
                else
                    vm.ExibeQuantidadeEmbalagem(true);
            });
        }
    });

    function SelecionaFornecedores(){
        var result = "";
        var i=0;
        var total = vm.Fornecedores().length;
        ko.utils.arrayForEach(vm.Fornecedores(), function(item) {
            i+=1;
            if(total > i)
            {
                result += item.IdPessoa + ", ";
            }
            else
            {
                result += item.IdPessoa + "";
            }
        });
        $("#txtIdsFornecedores").val(result);
    };
    function SelecionaLocais(){
        var result = "";
        var i=0;
        var total = vm.Locais().length;
        ko.utils.arrayForEach(vm.Locais(), function(item) {
            i+=1;
            if(total > i)
            {
                result += item.IdProdutoLocal + ", ";
            }
            else
            {
                result += item.IdProdutoLocal + "";
            }
        });
        $("#txtIdsLocais").val(result);
    };
</script>