﻿@{
    ViewBag.Title = "Filtragem Logs";
    Layout = "~/Views/_LayoutDefault.cshtml";
}

<div data-bind="stopBindings: true">
    @Html.AntiForgeryToken()
    <div id="filtro-grade">
        @HtmlHelper.Panel.Filtro(
        @<div data-toggle-default="#btnFiltrarLogs">
            <div class="form-group">
                <label for="txtFiltroId" class="control-label">Id</label>
                <input type="text" id="txtFiltroId" data-bind="value: campoFiltroRapido" placeholder="Id" class="form-control" />
            </div>
             <div class="form-group">
                 <label for="txtDataInicio">Data Início</label>
                 <div class="input-group date form-group">
                     <input id="txtDataInicio" name="DataInicio" class="form-control" data-bind="mask: { options: defaults.mask.date }" maxlength="11" />
                 </div>
             </div>
             <div class="form-group">
                 <label for="txtDataTermino">Data Término</label>
                 <div class="input-group date form-group">
                     <input id="txtDataTermino" name="txtDataTermino" class="form-control" data-bind="mask: { options: defaults.mask.date }" maxlength="11" />
                 </div>
             </div>
             <div class="form-group">
                 <label for="txtIdPessoa" class="control-label">Id Pessoa</label>
                 <input type="text" id="txtIdPessoa" placeholder="Id Pessoa" class="form-control" />
             </div>
             <div class="form-group">
                 <label for="txtIdEmpresa" class="control-label">Id Empresa</label>
                 <input type="text" id="txtIdEmpresa" placeholder="Id Empresa" class="form-control" value="1" />
             </div>
             <div class="form-group">
                 <label for="txtIdEmpresaUsuaria" class="control-label">Id Empresa Usuária</label>
                 <input type="text" id="txtIdEmpresaUsuaria" placeholder="Id Empresa Usuária" class="form-control" />
             </div>
             <div class="form-group">
                 <label for="ddlNivel" class="control-label">Nível</label>
                 <select id="ddlNivel" class="form-control no-search">
                     <option value="" selected="selected">Todos</option>
                     <option value="DEBUG">DEBUG</option>
                     <option value="INFO">INFO</option>
                     <option value="WARN">WARN</option>
                     <option value="ERROR">ERROR</option>
                     <option value="FATAL">FATAL</option>
                 </select>
             </div>
             <div class="form-group">
                 <label for="txtLogger" class="control-label">Logger</label>
                 <input type="text" id="txtLogger" placeholder="Logger" class="form-control" />
             </div>
             <div class="form-group">
                 <label for="txtMethod" class="control-label">Método</label>
                 <input type="text" id="txtMethod" placeholder="Método" class="form-control" />
             </div>
            <div class="form-actions">
                <button id="btnFiltrarLogs" class="btn btn-primary"><i class="material-icons">&#xE8B6;</i> Buscar</button>
            </div>
        </div>,
        @<div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th @*data-bind="css: orderByCss('log.Date'), click: reorder.bind($data,'log.Date')"*@>Date</th>
                        <th>Username</th>
                        <th>Identity</th>
                        <th>IdPessoa</th>
                        <th>IdEmpresa</th>
                        <th>IdEmpresaUsuaria</th>
                        <th>Thread</th>
                        <th>Level</th>
                        <th>Logger</th>
                        <th>Method</th>
                        <th>Line</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: {data: data, afterRender: onRowRendered }">
                    <tr>
                        <td data-bind="text: Id"></td>
                        <td data-bind="text: $root.formatDate(Date,'dd/mm/yyyy hh:MM')"></td>
                        <td data-bind="text: Username"></td>
                        <td data-bind="text: Identity"></td>
                        <td data-bind="text: IdPessoa"></td>
                        <td data-bind="text: IdEmpresa"></td>
                        <td data-bind="text: IdEmpresaUsuaria"></td>
                        <td data-bind="text: Thread"></td>
                        <td data-bind="text: Level"></td>
                        <td data-bind="text: Logger"></td>
                        <td data-bind="text: Method"></td>
                        <td data-bind="text: Line"></td>
                        <td data-bind="text: Message"></td>                        
                    </tr>
                </tbody>
            </table>
        </div>)
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        new crudRoute('/Log/List', '/Log/Index', function () {
                return {
                    Id: $('#txtFiltroId').val(),
                    DataInicio: $('#txtDataInicio').val(),                    
                    DataTermino: $('#txtDataTermino').val(),
                    IdPessoa: $('#txtIdPessoa').val(),
                    IdEmpresa: $('#txtIdEmpresa').val(),
                    IdEmpresaUsuaria: $('#txtIdEmpresaUsuaria').val(),
                    Level: $('#ddlNivel').val(),
                    Logger: $('#txtLogger').val(),
                    Method: $('#txtMethod').val(),
                }
            },
            ['btnFiltrarLogs', 'btnBuscaRapida'], 'Log.Id', 'asc'            
        );
    </script>
}