﻿@model HTM.MasterGestor.Web.UI.Areas.Criacao.ViewModels.Raca.IndexVM

<div id="filtro-grade">
    <template id="filter-RacaIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroIdCriacaoTipo" class="control-label">Tipo de Animal</label>            
            @HtmlHelper.Select.SearchableKO("ddlFiltroIdCriacaoTipo", "IdCriacaoTipoIn", "IdCriacaoTipo", "Descricao", "Descricao", "Descricao", "/Criacao/Tipo/List", "Ativo:true", idChaveRelacao: "IdCriacaoTipo", multiple: true)
        </div>
        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "RacaIndex",
    newUrl: "#/Criacao/Raca/New",
    editUrl: "#/Criacao/Raca/Edit",
    listUrl: "/Criacao/Raca/List",
    columns:
    @<script>
        [
           { 'id': 'IdCriacaoRaca', editColumn: true },
           { 'id': 'RegistroProprio', 'defaultValue': '', 'filter': true },
           { 'id': 'IdCriacaoTipoIn', filter: true },
           { 'id': 'Descricao', filter: true, header: true, 'defaultFilter': true, displayName: 'Descrição' },
           { 'id': 'DescricaoCriacaoTipo', header: true, displayName: 'Tipo Animal' },          
           { 'id': 'EditarRegistro', 'header': true, 'filter': true, 'sortable': true, 'displayName': 'Editar Registro' },
           defaults.gridNewEdit.column.ativo,
           { displayName: "Ações", header: true, width: '160px' }
        ]
    </script>,
      templateRows:
    @<tr>
        <td data-bind="text: Descricao"></td>
        <td data-bind="text: DescricaoCriacaoTipo"></td>
        <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>
        <td data-bind="template: 'label-status'"></td>
         <td>
             <div style="float:left">
                 <span data-bind="template: { name: 'button-edit-url', data: { id: IdCriacaoRaca } }"></span>
             </div>

             <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                 <a data-bind="attr: { href: '#/Criacao/Raca/Ativar/' + IdCriacaoRaca}" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
             </div>

             <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                 <a data-bind="attr: { href: '#/Criacao/Raca/Inativar/' + IdCriacaoRaca}" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
             </div>

             <div style="float:left;padding-left:5px;" data-bind="visible: (EditarRegistro == false)">
                 <a data-bind="attr: { href: '#/Criacao/Raca/View/' + IdCriacaoRaca}" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
             </div>

         </td>
    </tr>,
    api: "indexVM.api",
    orderByCol: "Descricao",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,
    useHiddenColumns: false)
</div>

@section Scripts {  
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
