﻿@model HTM.MasterGestor.Web.UI.Areas.Criacao.ViewModels.Raca.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-CriacaoRaca-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlCriacaoTipo">Tipo do Animal</label>
                            @HtmlHelper.Select.SearchableKO("ddlCriacaoTipo", "IdCriacaoTipo", "IdCriacaoTipo", "DescricaoCompleta", "Descricao", "DescricaoCompleta", "/Criacao/Tipo/List", "Ativo:true", required: true)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlCriacaoGrupoCategoria">Grupo de Categoria</label>
                            <input type="hidden" id="ddlCriacaoGrupoCategoria" name="ddlCriacaoGrupoCategoria" data-bind="value: IdCriacaoGrupoCategoria" class="form-control" />
                            @HtmlHelper.Select.SearchableKO("ddlCriacaoGrupoCategoria", "IdCriacaoGrupoCategoria", "IdCriacaoGrupoCategoria", "Descricao", "Descricao", "Descricao", "/Criacao/GrupoCategoria/List", "Ativo:true", "ddlCriacaoTipo", "IdCriacaoTipo", required: true)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
                <div data-toggle="collapsible" class="optional" id="pnlMaisCampos">
                    <a href="#">Informações Adicionais</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="form-group">
                                    <label for="txtObservacao">Observação</label>
                                    <textarea id="txtObservacao" name="txtObservacao" data-bind="value: Observacao" class="form-control" maxlength="5000" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label class="control-label" for="chkApelido">Exibe campo Apelido em Animal</label>
                                        <input type="checkbox" class="no-uniform" id="chkApelido" data-bind="checked: ExibeApelido, flipper: { observable: ExibeApelido, options: { 'css': 'warning' } }">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="chkUtilizarDescricaoLote">Permite dar Nome ao Lote</label>
                                        <input type="checkbox" class="no-uniform" id="chkUtilizarDescricaoLote" data-bind="checked: UtilizarDescricaoLote, flipper: { observable: UtilizarDescricaoLote, options: defaults.flipper.ativoInativo }">
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" id="pnlCicloVida">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Ciclo de Vida</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3">
                        @HtmlHelper.Campo.UnidadeTipo("ddlCicloVidaPanel", "CicloVida", "5", "IdUnidadeCicloVida", label: "Ciclo de Vida (Médio)", ValidateBind: "{ required: true }")
                    </div>
                </div>
                <br>
                @HtmlHelper.GridView.GridNewEdit(
                id: "Estagio", // Declarar na página <template id="newedit-id"></template>
                vm: "Estagios",
                columns: @<script>
                    [
                        { 'id': 'IdCriacaoRacaEstagioVida' },
                        { 'id': 'IdCriacaoRaca' },
                        { 'id': 'IdUnidadeEstagioVida', 'defaultValue': vm.IdUnidadeCicloVida },
                        { 'id': 'InicioEstagioVida' },
                        { 'id': 'Descricao','displayName': 'Descrição', 'header': true },
                        { 'id': 'DescricaoUnidadeEstagioVidaInicio','displayName': 'Início', 'header': true },
                        { 'id': 'Ativo', 'defaultValue': true, 'header': true },
                        defaults.gridNewEdit.column.acao
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: Descricao }  }"></td>
                    <td data-bind="text: DescricaoUnidadeEstagioVidaInicio"></td>
                    <td data-bind="template: { name: 'label-status' }"></td>
                    <td data-bind="template: { name: 'button-edit' }"></td>
                </tr>,
                orderByCol: "InicioEstagioVida",
                orderByDir: HelpersUtil.OrderByDirEnum.Asc)
            </div>
        </div>

        <div class="panel panel-default" data-toggle="collapsible" id="pnlLinhagem">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Linhagem</h3>
            </div>
            <div class="panel-body">
                @HtmlHelper.GridView.GridNewEdit(
                id: "Linhagem", // Declarar na página <template id="newedit-id"></template>
                vm: "Linhagem",
                columns: @<script>
                    [
                        { 'id': 'IdCriacaoLinhagem' },
                        { 'id': 'IdCriacaoRaca' },
                        { 'id': 'Descricao','displayName': 'Descrição', 'header': true },
                        { 'id': 'Ativo', 'defaultValue': true, 'header': true },
                        defaults.gridNewEdit.column.acao
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: Descricao }  }"></td>
                    <td data-bind="template: { name: 'label-status' }"></td>
                    <td data-bind="template: { name: 'button-edit' }"></td>
                </tr>,
                orderByCol: "Descricao",
                orderByDir: HelpersUtil.OrderByDirEnum.Asc)
            </div>
        </div>        
    </form>

    <template id="newedit-Estagio">
        <input type="hidden" data-bind="value: DescricaoUnidadeEstagioVidaInicio = vmCicloVida.DescricaoUnidade()" />
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="txtDescricaoEstagio">Estágio de Vida</label>
                    <input type="text" id="txtDescricaoEstagio" name="txtDescricaoEstagio" data-bind="value: Descricao, validate: { required:true }" class="form-control" maxlength="20" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <div class="form-group">
                    @HtmlHelper.Campo.UnidadeTipo("ddlInicioEstagioVida", "InicioEstagioVida", "5", "IdUnidadeEstagioVida", label: "Início do Estágio (Fase)", UnidadeSelecionadoApresentacao: "vmCicloVida.DescricaoUnidade")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="control-label" for="chkAtivoEstagio">Ativo</label>
                    <input type="checkbox" class="no-uniform" id="chkAtivoEstagio" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                </div>
            </div>
        </div>
    </template>

    <template id="newedit-Linhagem">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="txtDescricaoLinhagem">Descrição</label>
                    <input type="text" id="txtDescricaoLinhagem" name="txtDescricaoLinhagem" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="control-label" for="chkLinhagem">Ativo</label>
                    <input type="checkbox" class="no-uniform" id="chkLinhagem" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                </div>
            </div>
        </div>
    </template>
</div>



