﻿@model HTM.MasterGestor.Web.UI.Areas.Questionario.ViewModels.UnidadeAmostral.NewEditVM

<div>
    <form id="form-QuestionarioUnidadeAmostral-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlNaturezaOperacional">Natureza Operacional</label>
                            @HtmlHelper.Select.SearchableKO("ddlNaturezaOperacional", "IdNaturezaOperacional", "IdNaturezaOperacional", "Descricao", "Descricao", "Descricao", "/Corporativo/NaturezaOperacional/List", "Ativo:true", required: true)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
