﻿@model HTM.MasterGestor.Web.UI.Areas.Agricola.ViewModels.PlantioEspacamento.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-PlantioEspacamento-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtDescricaoDetalhada">Descrição Detalhada</label>
                            <input type="text" id="txtDescricaoDetalhada" name="txtDescricaoDetalhada" data-bind="value: DescricaoDetalhada, validate: { required: true }" class="form-control" maxlength="200" />
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="50" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: defaults.flipper.ativoInativo">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Espaçamento</h3>
            </div>
            <div class="panel-body" id="pnlReferencia">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label>Característica de espaçamento</label>
                            <select class="form-control no-uniform" data-bind="options: Espacamentos, optionsText: 'name', optionsValue: 'id', value: EspacamentoOpcao"></select>
                        </div>
                    </div>
                </div>
                <div id="pnlDetalhesEspacamento">

                    @*<h5>Detalhes do Espaçamento</h5>*@

                    <div class="row">
                        <div class="col-xs-2" data-bind="visible: EspacamentoOpcao() > 0">
                            <div class="form-group">
                                <label for="ddlUnidade">Unidade</label>
                                @HtmlHelper.Select.SearchableKO("ddlUnidade", "IdUnidade", "IdUnidade", "Descricao", "Descricao", "Descricao", "/Estoque/Unidade/List", "Ativo: true, IdUnidadeTipo: 1", dataBind: "validate: { required: vmParams.ValidaLinha() }")
                            </div>
                        </div>
                        <div id="linha-area" class="col-xs-2" data-bind="visible: EspacamentoOpcao() > 0">
                            <div class="form-group">
                                <label for="txtLinha">Linha</label>
                                <input type="text" id="txtLinha" name="txtLinha" data-bind="value: Linha, maskDecimal: {}, validate: { required: vmParams.ValidaLinha() }" class="form-control" maxlength="18" />
                            </div>
                        </div>
                        <div id="entre-linha-area" class="col-xs-2" data-bind="visible: EspacamentoOpcao() > 1">
                            <div class="form-group">
                                <label for="txtEntreLinha">EntreLinha</label>
                                <input type="text" id="txtEntreLinha" name="txtEntreLinha" data-bind="value: EntreLinha, maskDecimal: {}, validate: { required: vmParams.ValidaEntreLinha() }" class="form-control" maxlength="18" />
                            </div>
                        </div>
                        <div id="entre-linha-dupla-area" class="col-xs-2" data-bind="visible: EspacamentoOpcao() > 2">
                            <div class="form-group">
                                <label style="width:190px" for="txtEntreLinhaDupla">Entre Espaçamentos Duplos</label>
                                <input type="text" id="txtEntreLinhaDupla" name="txtEntreLinhaDupla" data-bind="value: EntreLinhaDupla, maskDecimal: {}, validate: { required: vmParams.ValidaEntreLinhaDupla() } " class="form-control" maxlength="18" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>