﻿@model HTM.MasterGestor.Web.UI.Areas.Contabilidade.ViewModels.ObjetoTipo.IndexVM

<div id="filtro-grade">
    <template id="filter-ObjetoTipoContabilIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "ObjetoTipoContabilIndex",
    newUrl: "#/Contabilidade/ObjetoTipo/New",
    editUrl: "#/Contabilidade/ObjetoTipo/Edit",
    listUrl: "/Contabilidade/ObjetoTipo/List",
    columns:
    @<script>
        [
           { 'id': 'Codigo', header: true, displayName: 'Código' },
           { 'id': 'Descricao', filter: true, 'defaultFilter': true, header: true, displayName: 'Descrição' },
           { 'id': 'DescricaoNatureza', header: true, displayName: 'Natureza' },           
           { 'id': 'IdObjetoTipoContabil', editColumn: true },
           defaults.gridNewEdit.column.ativo,
           defaults.gridNewEdit.column.acao
        ]
    </script>,
      templateRows:
    @<tr>
        <td data-bind="text: Codigo"></td>
        <td data-bind="text: Descricao"></td>
        <td data-bind="text: DescricaoNatureza"></td>
        <td data-bind="template: 'label-status'"></td>
        <td data-bind="template: { name: 'button-edit-url', data: { id: IdObjetoTipoContabil } }"></td>
    </tr>,
    api: "indexVM.api",
    orderByCol: "Descricao",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,
    useHiddenColumns: false)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
