﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.ProdutoLocal.IndexVM

<div id="filtro-grade" style="display:none;">

    <template id="filter-EstoqueProdutoLocalIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "EstoqueProdutoLocalIndex",
    newUrl: "#/Estoque/ProdutoLocal/New",
    editUrl: "#/Estoque/ProdutoLocal/Edit",
    listUrl: "/Estoque/ProdutoLocal/List",
    columns:
    @<script>
        [
            { 'id': 'Descricao', header: true, filter: true, defaultFilter: true, displayName: 'Descrição' },
            { 'id': 'Sigla', header: true, sortable: true },       
            { 'id': 'IdProdutoLocal', editColumn: true },
            defaults.gridNewEdit.column.ativo,
            defaults.gridNewEdit.column.acao
        ]
    </script>,
    templateRows:
    @<tr>
        <td data-bind="text: Descricao"></td>       
        <td data-bind="text: Sigla"></td>    
        <td data-bind="template: 'label-status'"></td>        
        <td data-bind="template: { name: 'button-edit-url', data: { id: IdProdutoLocal } }"></td>
    </tr>
    ,
    api: "indexVM.api",
    orderByCol: "Descricao",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,    
    useHiddenColumns: false)    
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
