﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.ProdutoLocal.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-ProdutoLocal-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate:{ required:true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtSigla">Sigla</label>
                            <input type="text" id="txtSigla" name="txtSigla" data-bind="value: Sigla, validate:{ required:true }" class="form-control" maxlength="10" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-inline">
                            <div class="form-group">
                                <label class="control-label" for="chkLocalMovel">Local Móvel (Volante)</label>
                                <input type="checkbox" class="no-uniform" id="chkLocalMovel" name="chkLocalMovel" data-bind="checked: LocalMovel, flipper: { observable: LocalMovel, options: defaults.flipper.SimNao }">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="chkLocalPertenceTerceiro">Local Pertence a Terceiros</label>
                                <input type="checkbox" class="no-uniform" id="chkLocalPertenceTerceiro" name="chkLocalPertenceTerceiro" data-bind="checked: LocalPertenceTerceiro, flipper: { observable: LocalPertenceTerceiro, options: defaults.flipper.SimNao }">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="optional" id="pnlAplicacao" data-bind="collapsible: { vmArray: [ IdAplicacaoTipo(), IdAplicacao() ] }">
                    <a href="#">Este Local estiver relacionado a uma Aplicação informar abaixo</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label for="ddlAplicacaoTipo">Tipo de Aplicação</label>
                                    @HtmlHelper.Select.SearchableKO("ddlAplicacaoTipo", "IdAplicacaoTipo", "IdAplicacaoTipo", "Descricao", "Descricao", "Descricao", "/Aplicacao/AplicacaoTipo/List", dadosComplObservable: "dadosComplAplicacaoTipo",idChaveRelacao:"IdAplicacaoTipo")
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="ddlAplicacao">Aplicação</label>
                                    @HtmlHelper.Select.SearchableKO("ddlAplicacao", "IdAplicacao", "IdAplicacaoReferencia", "DescricaoAplicacaoReferenciaExibicao", "DescricaoBusca", "DescricaoAplicacaoReferenciaExibicao", "/Aplicacao/AplicacaoReferencia/ListPorAplicacaoTipo", "Ativo:true", urlSelecao: "/Aplicacao/AplicacaoReferencia/ListarPorId", idControleDependencia: "ddlAplicacaoTipo", idDependencia: "IdAplicacaoTipoIn", idChaveRelacao: "IdAplicacaoReferencia")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="optional" data-bind="collapsible: { vmArray: [ IdsPessoa() ] }">
                    <a href="#"> Restrição de Empresa Usuária</a>
                    <div>
                        <div class=" row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="ddlPessoasRestritas">Caso alguma Empresa Usuário não possa usar este Local informe abaixo</label>
                                    @HtmlHelper.Select.SearchableKO("ddlPessoasRestritas", "IdsPessoa", "IdPessoaIn", "NomeSecundario", "Nomes", "NomeSecundario", "/Corporativo/Pessoa/ListPessoaPersonalizado", "ComPessoa:false, ComEmpresaUsuaria:true, ComEmpresa:false, Ativo:true, IdPessoaNaturezaNotIn: 4", idChaveRelacao: "IdPessoa", multiple: true)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="display:none;">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtCor">Cor <span data-bind="text: '(' + (ko.unwrap(Cor) === null ? 'nenhuma selecionada' : ko.unwrap(Cor)) + ')'"></span></label>
                            <seletor-cores id="txtCor" params="setColorToLayer: false, selectedColor: Cor"></seletor-cores>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>