﻿<template id="newedit-Endereco">
    <div>
        @*<input type="hidden" data-bind="visible: $component.debug, text: console.log(ko.toJSON($data, null, 2))" />*@
        <input type="hidden" id="txtLocalidade" name="txtLocalidade" data-bind="value: Localidade" class="form-control" />

        <div class="row">
            <div class="col-xs-6">
                @*<div class="form-group">
                        <label for="ddlEnderecoTipo">Tipo Endereço</label>
                        @HtmlHelper.Select.SearchableKO("ddlEnderecoTipo", "IdsPessoaEnderecoTipo", "IdPessoaEnderecoTipoIn", "Descricao", "Descricao", "Descricao", "/Corporativo/PessoaEnderecoTipo/List", required: true, multiple: true, idChaveRelacao: "IdPessoaEnderecoTipo", vmTextSelected: "DescricaoPessoaEnderecoTipo", dadosComplObservable: "DadosComplementaresEndereco")
                    </div>*@
                <div class="form-group">
                    <label for="radio">Tipo Endereço</label><br />
                    <div class="btn-group">
                        <label for="ddlEnderecoTipo1" class="btn btn-primary btn-inverted"><input id="ddlEnderecoTipo1" class="vanilla" value="1" data-bind="retornaTiposEnderecoText: { idsTipoEndereco: ['1'] }, checked: IdPessoaEnderecoTipo,  vanillaUniform: { checkParentCSS: true }" type="checkbox" name="tipoendereco">Sede ou Domicílio</label>
                        <label for="ddlEnderecoTipo2" class="btn btn-primary btn-inverted"><input id="ddlEnderecoTipo2" class="vanilla" value="2" data-bind="retornaTiposEnderecoText: { idsTipoEndereco: ['2'] }, checked: IdPessoaEnderecoTipo, vanillaUniform: { checkParentCSS: true }" type="checkbox" name="tipoendereco">Cobrança</label>
                        <label for="ddlEnderecoTipo3" class="btn btn-primary btn-inverted"><input id="ddlEnderecoTipo3" class="vanilla" value="3" data-bind="retornaTiposEnderecoText: { idsTipoEndereco: ['3'] }, checked: IdPessoaEnderecoTipo, vanillaUniform: { checkParentCSS: true }" type="checkbox" name="tipoendereco">Entrega ou Recebimento</label>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="txtCEP">CEP</label>
                    <input type="text" id="txtCEP" name="txtCEP" data-bind="value: CEP, alteraCEP: this, validate: { 'cep': true }, mask: { options: defaults.mask.cep, value: CEP }" class="form-control" maxlength="10" />
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="ddlPais">País</label>
                    @HtmlHelper.Select.SearchableKO("ddlPais", "IdPais", "IdPais", "NomeResumido", "NomeResumido", "NomeResumido", "/Localizacao/Pais/List", "Ativo:true", required: true)
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="ddlTipoLogradouro">Tipo Logradouro</label>
                    @HtmlHelper.Select.SearchableKO("ddlTipoLogradouro", "IdTipoLogradouro", "IdTipoLogradouro", "DescricaoTipoLogradouro", "DescricaoTipoLogradouro", "DescricaoTipoLogradouro", "/Localizacao/HTMCEP/BuscaTipoLogradouro", "", required: true)
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="txtLogradouro">Logradouro</label>
                    <input type="text" id="txtLogradouro" name="txtLogradouro" data-bind="value: Logradouro, validate: { value: Logradouro, required: true }" class="form-control" maxlength="100" />
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="txtNumero">Número</label>
                    <input type="text" id="txtNumero" name="txtNumero" data-bind="value: Numero" class="form-control" maxlength="8" />
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="txtComplemento">Complemento</label>
                    <input type="text" id="txtComplemento" name="txtComplemento" data-bind="value: Complemento" class="form-control" maxlength="50" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-5">
                <div class="form-group">
                    <label for="txtBairro">Bairro </label>
                    <input type="text" id="txtBairro" name="txtBairro" data-bind="value: Bairro" class="form-control" maxlength="50" />
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="ddlEstado">Estado</label>
                    @HtmlHelper.Select.SearchableKO("ddlEstado", "IdEstado", "IdEstado", "NomeResumido", "NomeResumido", "NomeResumido", "/Localizacao/Estado/List", "", required: true, vmDataSelected: "Endereco")
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="ddlLocalidade">Município</label>
                    @HtmlHelper.Select.SearchableKO("ddlLocalidade", "IdLocalidade", "IdLocalidade", "NomeResumido", "NomeResumido", "NomeResumido", "/Localizacao/Localidade/List", "", "ddlEstado", "IdEstado", required: true)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="txtReferencia">Referência</label>
                    <textarea id="txtReferencia" name="txtReferencia" data-bind="value: Referencia" class="form-control" maxlength="100" style="min-height: 65px;" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group last">
                    <label class="control-label" for="chkAtivo">Ativo</label>
                    <input type="checkbox" class="no-uniform" id="chkEnderecoAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                </div>
            </div>
        </div>
    </div>
</template>
