﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.Pessoa.NewVM

<div data-bind="stopBindings: true, pessoaBinding: this">
    <form id="form-corporativopessoa-new" data-bind="validateForm: { submitHandler: vm.Save }">
        <div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="ddlNatureza">Natureza</label>
                        <select id="ddlNatureza" name="pessoa-ddlNatureza" class="form-control" data-bind="value: IdPessoaNatureza, validate: { required: true }">
                            <option value="1">Pessoa Física</option>
                            <option value="2">Pessoa Jurídica</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="txtCodigo">Código<span>(Automático)</span></label>
                        <input type="text" id="pessoa-txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" maxlength="500" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="txtNome" data-bind="text: LabelNome">Nome<span>(Nome Fantasia)</span></label>
                        <input type="text" id="pessoa-txtNome" name="txtNome" data-bind="value: Nome, validate: { required: true }" class="form-control" maxlength="500" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="txtNomeSecundario" data-bind="text: LabelNomeSecundario">Apelido<span>(Razão Social)</span></label>
                        <input type="text" id="pessoa-txtNomeSecundario" name="txtNomeSecundario" data-bind="value: NomeSecundario, validate: { required: true }" class="form-control" maxlength="500" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="ddlPerfilPessoa">Perfis</label>
                        @HtmlHelper.Select.SearchableKO("pessoa-ddlPerfilPessoa", "IdsPerfil", "IdPessoaPerfil", "Descricao", "Descricao", "Descricao", "/Corporativo/PessoaPerfil/List", "Ativo:true", idChaveRelacao: "IdPessoaPerfil", multiple: true, required: true)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label" for="chkAtivo">Ativo</label>
                        <input type="checkbox" class="no-uniform" id="pessoa-chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-xs-6">
                    <button id="pessoa-btnSalvar" data-bind="click: SaveNew" type="button" class="btn btn-lg btn-secondary btn-block"><i class="material-icons">&#xE5CA;</i> Salvar</button>
                </div>
                <div class="col-xs-6">
                    <button id="pessoa-btnPanelClose" class="panel-close btn btn-lg btn-primary btn-block btn-inverted"><i class="material-icons">&#xE14C;</i> Cancelar</button>
                </div>
            </div>

            @*<!-- Panel 2  -->
            <!-- DOCUMENTOS E DADOS DE CONTATO -->
            <div class="row">
                <div class="col-xs-8">
                    <div class="form-group">
                        <label for="pessoa-txtDocumento1" data-bind="text: LabelDocumento1">Documento</label>
                        <input type="text" id="pessoa-txtDocumento1" name="pessoa-txtDocumento1" data-bind="value: Documento1" class="form-control" maxlength="18" />
                    </div>
                </div>
                <div class="col-xs-4" data-bind="visible: IdPessoaNatureza() == 2">
                    <div class="form-group">
                        <label class="control-label" for="pessoa-chkPossuiSimplesNacional">Optante Simples Nacional</label>
                        <input type="checkbox" class="no-uniform" id="pessoa-chkPossuiSimplesNacional" data-bind="checked: PossuiSimplesNacional, flipper: { observable: PossuiSimplesNacional, options: {'css': 'warning'} }">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="form-group">
                        <label for="pessoa-txtDocumento2" data-bind="text: LabelDocumento2">Documento</label>
                        <input type="text" id="pessoa-txtDocumento2" name="txtDocumento2" data-bind="value: Documento2" class="form-control" maxlength="18" />
                    </div>
                </div>
                <div class="col-xs-2" data-bind="visible: IdPessoaNatureza() == 2">
                    <div class="form-group">
                        <label class="control-label" for="pessoa-chkIsentoIE">Isento Inscrição Estadual</label>
                        <input type="checkbox" class="no-uniform" id="pessoa-chkIsentoIE" data-bind="checked: IsentoIE, flipper: { observable: IsentoIE, options: {'css': 'warning'} }">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="form-group">
                        <label for="pessoa-txtDocumento3" data-bind="text: LabelDocumento3">Documento</label>
                        <input type="text" id="pessoa-txtDocumento3" name="txtDocumento3" data-bind="value: Documento3" class="form-control" maxlength="18" />
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="pessoa-txtData" data-bind="if: IdPessoaNatureza() == 2">Data abertura</label>
                        <label for="pessoa-txtData" data-bind="if: IdPessoaNatureza() == 1">Data Nascimento</label>
                        <div class="input-group date form-group">
                            <input id="txtData" name="pessoa-txtData" placeholder="" class="form-control" data-bind="value: DataExibicao, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataExibicao }" />
                            <span class="input-group-addon">
                                <i class="material-icons">&#xE878;</i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="pessoa-ddlCNAE">(CNAE)Código Nacional de Atividade Econômica</label>
                        @HtmlHelper.Select.SearchableKO("pessoa-ddlCNAE", "IdCnae", "IdCnae", "CodigoDescricao", "CodigoDescricao", "CodigoDescricao", "/Corporativo/CNAE/List", "Ativo:true")
                    </div>
                </div>
            </div>*@

            @*<!-- Panel 3  -->
            <!-- ENDEREÇO -->
            <div class="row">
                <!-- Botões Tipo de endereço  -->
                <!-- Implementar Botões -->
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="pessoa-ddlEnderecoTipo">Tipo Endereço</label>
                        @HtmlHelper.Select.SearchableKO("pessoa-ddlEnderecoTipo", "IdsPessoaEnderecoTipo", "IdPessoaEnderecoTipoIn", "Descricao", "Descricao", "Descricao", "/Corporativo/PessoaEnderecoTipo/List", required: true, multiple: true, idChaveRelacao: "IdPessoaEnderecoTipo", vmTextSelected: "DescricaoPessoaEnderecoTipo", dadosComplObservable: "DadosComplementaresEndereco")
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- CEP e Tipo e Tipo de Endereço  -->
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="pessoa-txtCEP">CEP</label>
                        <input type="text" id="pessoa-txtCEP" name="pessoa-txtCEP" data-bind="value: CEP, alteraCEP: this, validate: { 'cep': true }, mask: { options: defaults.mask.cep, value: CEP }" class="form-control" maxlength="10" />
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Tipo de Logradouro e Logradouro -->
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="pessoaddlTipoLogradouro">Tipo Logradouro</label>
                        @HtmlHelper.Select.SearchableKO("pessoa-ddlTipoLogradouro", "IdTipoLogradouro", "IdTipoLogradouro", "DescricaoTipoLogradouro", "DescricaoTipoLogradouro", "DescricaoTipoLogradouro", "/Localizacao/HTMCEP/BuscaTipoLogradouro", "", required: true)
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="form-group">
                        <label for="pessoa-txtLogradouro">Logradouro</label>
                        <input type="text" id="pessoa-txtLogradouro" name="pessoa-txtLogradouro" data-bind="value: Logradouro, validate: { value: Logradouro, required: true }" class="form-control" maxlength="100" />
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Número e Complemento -->
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="pessoa-txtNumero">Número</label>
                        <input type="text" id="pessoa-txtNumero" name="pessoa-txtNumero" data-bind="value: Numero" class="form-control" maxlength="8" />
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="pessoa-txtComplemento">Complemento</label>
                        <input type="text" id="pessoa-txtComplemento" name="pessoa-txtComplemento" data-bind="value: Complemento" class="form-control" maxlength="50" />
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Bairro e Estado -->
                <div class="col-xs-8">
                    <div class="form-group">
                        <label for="pessoa-txtBairro">Bairro</label>
                        <input type="text" id="pessoa-txtBairro" name="pessoa-txtBairro" data-bind="value: Bairro" class="form-control" maxlength="50" />
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="pessoa-ddlEstado">Estado</label>
                        @HtmlHelper.Select.SearchableKO("pessoa-ddlEstado", "IdEstado", "IdEstado", "NomeResumido", "NomeResumido", "Estado.NomeResumido", "/Localizacao/Estado/List", "", required: true, vmDataSelected: "Endereco")
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Município e Pais -->
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="pessoa-ddlLocalidade">Município</label>
                        @HtmlHelper.Select.SearchableKO("pessoa-ddlLocalidade", "IdLocalidade", "IdLocalidade", "NomeResumido", "NomeResumido", "Localidade.NomeResumido", "/Localizacao/Localidade/List", "", "ddlEstado", "IdEstado", required: true)
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="pessoa-ddlPais">País</label>
                        @HtmlHelper.Select.SearchableKO("pessoa-ddlPais", "IdPais", "IdPais", "NomeResumido", "NomeResumido", "Pais.NomeResumido", "/Localizacao/Pais/List", "", required: true)
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Referência para Localização -->
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="pessoa-txtReferencia">Referência</label>
                        <textarea id="pessoa-txtReferencia" name="pessoa-txtReferencia" data-bind="value: Referencia" class="form-control" maxlength="100" style="min-height: 80px;" />
                    </div>
                </div>
            </div>*@

        </div>
    </form>
</div>







