﻿@HtmlHelper.GridView.GridNewEdit(
id: "Endereco", // Declarar na página <template id="newedit-id"></template>
vm: "Enderecos",
vmExtend: "EnderecoExtend",
title: "Endereço",
columns: @<script>
    [
        { 'id': 'IdPessoaEndereco' },
        { 'id': 'IdPais', 'defaultValue': 1 },
        { 'id': 'IdPessoa' },
        { 'id': 'IdsPessoaEnderecoTipo' },        
        { 'id': 'IdPessoaEnderecoTipo', defaultValue:["3"] },
        { 'id': 'IdLogradouro' },
        { 'id': 'IdTipoLogradouro' },
        { 'id': 'Logradouro' },
        { 'id': 'IdEstado' },
        { 'id': 'IdLocalidade' },
        { 'id': 'IdBairro' },
        { 'id': 'CEP', 'sortable': true, 'header': true },
        { 'id': 'Localidade' },
        { 'id': 'Numero' },
        { 'id': 'LogradouroNumeroComplemento', 'displayName': 'Logradouro, Número e Complemento', 'header': true },
        { 'id': 'Bairro', 'header': true },
        { 'id': 'Localidade' },
        { 'id': 'Sigla', 'header': true, 'displayName': 'UF' },
        { 'id': 'Complemento' },
        { 'id': 'Referencia' },
        { 'id': 'ChaveVersao' },
        { 'id': 'DescricaoPessoaEnderecoTipo', 'header': true, 'displayName': 'Tipo Endereço' },
        { 'id': 'Ativo', 'defaultValue': true, 'header': true },
        defaults.gridNewEdit.column.acao
    ]
    </script>,
templateRows:
    @<tr>
        <td data-bind="template: { name: 'link-edit', data: { text: CEP }  }"></td>
        <td data-bind="text: ko.utils.unwrapObservable(Logradouro) + ((ko.utils.unwrapObservable(Numero) != null && ko.utils.unwrapObservable(Numero).length > 0)  ? ', ' + (ko.utils.unwrapObservable(Numero) +   (ko.utils.unwrapObservable(Complemento) != null && (ko.utils.unwrapObservable(Complemento).length > 0) ? ' - ' + ko.utils.unwrapObservable(Complemento) : '')) : '')"></td>
        <td data-bind="text: Localidade"></td>
        <td data-bind="text: Sigla"></td>
         <td data-bind="retornaTiposEnderecoText: { idsTipoEndereco: IdPessoaEnderecoTipo }"></td>
        <td data-bind="template: { name: 'label-status' }"></td>
        <td data-bind="template: { name: 'button-edit' }"></td>
    </tr>,
    orderByCol: "Localidade",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc)