﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.Pessoa.IndexVM

<routeoptions data-route-custom="route-pessoa"></routeoptions>

<div id="filtro-grade">
    <template id="filter-PessoaIndex">
        <div class="form-group">
            <label for="txtFiltroNomeRazao" class="control-label">Nome, Razão, Apelido ou Palavra Chave</label>
            <input type="text" id="txtFiltroNomeRazao" data-bind="textInput: Nomes" class="form-control" />
        </div>
        <div class="form-group">
            <label for="txtFiltroDocumentoTelefone" class="control-label">Código, Documento ou Telefone</label>
            <input type="text" id="txtFiltroDocumentoTelefone" data-bind="textInput: DocumentoTelefone" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroPessoaPerfil">Perfil</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroPessoaPerfil", "IdPessoaPerfilIn", "IdPessoaPerfilIn", "Descricao", "Descricao", "Descricao", "/Corporativo/PessoaPerfil/List", "", multiple: true, idChaveRelacao: "IdPessoaPerfil")
        </div>        
        <div class="form-group">
            <label for="ddlFiltroUsuario">Usuário</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroUsuario", "IdUsuario", "IdUsuario", "Login", "Login", "Login", "/Seguranca/Usuario/List", "Ativo:true", idChaveRelacao: "IdUsuario")
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
        id: "PessoaIndex",
        newUrl: "#/Corporativo/Pessoa/New",
        editUrl: "#/Corporativo/Pessoa/Edit",
        listUrl: "/Corporativo/Pessoa/List",
        columns:
        @<script>
            [
                { 'id': 'IdPessoa', editColumn: true },
                { 'id': 'Nomes', 'filter': true, 'defaultFilter': true },
                { 'id': 'DocumentoTelefone', filter: true },
                { 'id': 'IdPessoaPerfilIn', filter: true },
                { 'id': 'IdUsuario', filter: true },
                

                { 'id': 'Codigo', 'header': true, 'filter': true, displayName: 'Código', sortable: true },
                { 'id': 'Nome', 'header': true, displayName: 'Nome ou Razão', sortable: true },
                { 'id': 'NomeSecundario', 'header': true, displayName: 'Apelido ou Fantasia', sortable: true },
                { 'id': 'Telefones', 'header': true, displayName: 'Telefones', sortable: true },                
                defaults.gridNewEdit.column.ativo,
                { displayName: "Ações", width: "145px", header: true, sortable: false }
            ]
        </script>,
        templateRows:
        @<tr>
            @*<td data-bind="template: 'checkbox-select'"></td>*@
            <td data-bind="text: Codigo"></td>
            <td data-bind="text: Nome, id: IdPessoa"></td>
            <td><span data-bind="text: NomeSecundario"></span></td>            
            <td><span data-bind="text: Telefones"></span></td>
            <td data-bind="template: 'label-status'"></td>
            <td>
                <span data-bind="template: { name: 'button-edit-url', data: { id: IdPessoa } }"></span>    
                <a data-bind="attr: { href: '#/Corporativo/Pessoa/Usuario/' + IdPessoa }" class="btn btn-secondary btn-icon" title="Usuário"><i class="material-icons">&#xE7FD;</i></a>
                <a data-bind="attr: { href: '#/Corporativo/Pessoa/PessoaContaBancaria/' + IdPessoa }" class="btn btn-secondary btn-icon" title="Contas Bancárias"><i class="material-icons">&#xE53E;</i></a>
            </td>
        </tr>
        ,
        api: "indexVM.api",
        orderByCol: "Nome",
        orderByDir: HelpersUtil.OrderByDirEnum.Asc,
        useHiddenColumns: false,
        useSelection: false)

    @*<template id="selectedAction-PessoaIndex">        
    </template>*@

</div>



