﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.Pessoa.NewVM

@{
    Layout = "~/Views/_LayoutDefault.cshtml";
}

<div data-bind="stopBindings: true">
    <form id="form-CorporativoPessoa-New" data-bind="validateForm: { submitHandler: vmPessoa.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="ddlNatureza">Natureza</label>
                                <select id="ddlNatureza" name="ddlNatureza" class="form-control required" data-bind="value: IdPessoaNatureza">
                                    <option value="1">Pessoa Física</option>
                                    <option value="2">Pessoa Jurídica</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtCodigo">Código<span>(Automático)</span></label>
                                <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" maxlength="500" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="txtNome" data-bind="text: LabelNome">Nome<span>(Nome Fantasia)</span></label>
                                <input type="text" id="txtNome" name="txtNome" data-bind="value: Nome, validate: { required: true }" class="form-control" maxlength="500" />
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="txtNomeSecundario" data-bind="text: LabelNomeSecundario">Apelido<span>(Razão Social)</span></label>
                                <input type="text" id="txtNomeSecundario" name="txtNomeSecundario" data-bind="value: NomeSecundario, validate: { required: true }" class="form-control" maxlength="500" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <label for="ddlPerfilPessoa">Perfis</label>                                
                                @HtmlHelper.Select.SearchableKO("ddlPerfilPessoa", "IdsPerfil", "IdPessoaPerfilIn", "Descricao", "Descricao", "Descricao", "/Corporativo/PessoaPerfil/List", "", multiple: true, idChaveRelacao: "IdPessoaPerfil", required: true)
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for="chkAtivo">Ativo</label>
                                <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                            </div>
                        </div>
                    </div>
                    <!-- Dados opcionais -->
                    <div data-toggle="collapsible" class="optional" id="pnlMaisCampos">
                        <a href="#">Exibir mais campos</a>
                        <div>
                            <div class="row">
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label for="txtDocumento1" data-bind="text: LabelDocumento1">Documento</label>
                                        <input type="text" id="txtDocumento1" name="txtDocumento1" data-bind="value: Documento1, validate: vm.ValidarDocumento()" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label for="txtDocumento2" data-bind="text: LabelDocumento2">Documento</label>
                                        <input type="text" id="txtDocumento2" name="txtDocumento2" data-bind="value: Documento2" class="form-control" maxlength="18" />
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label for="txtDocumento3" data-bind="text: LabelDocumento3">Documento</label>
                                        <input type="text" id="txtDocumento3" name="txtDocumento3" data-bind="value: Documento3" class="form-control" maxlength="18" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="txtPalavraChave">Palavra Chave</label>
                                        <input type="text" id="txtPalavraChave" name="txtPalavraChave" data-bind="value: PalavraChave" class="form-control" maxlength="250" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary btn-lg btn-primary-action pull-left"><i class="material-icons">&#xE5CA;</i> Salvar</button>
                    <button type="button" class="btn btn-primary btn-inverted btn-lg pull-left" data-dismiss="modal"><i class="material-icons">&#xE5C4;</i> Voltar</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script type="text/javascript">
    var form = $('#form-CorporativoPessoa-New');
    var vmPessoa = {
        PessoaNatureza: {
            PessoaFisica: 1,
            PessoaJuridica: 2
        },
        @Html.ObservableFor(model => model.IdPessoa),
        @Html.ObservableFor(model => model.IdsPerfil),
        @Html.ObservableFor(model => model.Ativo),
        @Html.ObservableFor(model => model.Codigo),
        @Html.ObservableFor(model => model.Documento1),
        @Html.ObservableFor(model => model.Documento2),
        @Html.ObservableFor(model => model.Documento3),
        @Html.ObservableFor(model => model.IdPessoaNatureza),
        @Html.ObservableFor(model => model.Nome),
        @Html.ObservableFor(model => model.NomeSecundario),
        @Html.ObservableFor(model => model.Telefone1),
        @Html.ObservableFor(model => model.Telefone2),
        @Html.ObservableFor(model => model.PalavraChave),
        @Html.ObservableFor(model => model.Observacao),
        Save: function () {
            debugger;
            if (!vmPessoa.isValidShowErrors()) { return; }            
            $.ajax({
                type: "POST",
                data: { json: ko.toJSON(vmPessoa) },
                url: '/Corporativo/Pessoa/New/',
                success: function (result) {
                    mgFeedbackBase.feedbackCrud(result, 'Objetivo da Cultura salvo com sucesso.');
                }
            });
        }
    };

    vmPessoa.LabelNome = ko.computed(function(){
        if (vmPessoa.IdPessoaNatureza() == vmPessoa.PessoaNatureza.PessoaFisica)
            return "Nome";
        else if (vmPessoa.IdPessoaNatureza() == vmPessoa.PessoaNatureza.PessoaJuridica)
            return "Razão Social";
    });
    vmPessoa.LabelNomeSecundario = ko.computed(function(){
        if (vmPessoa.IdPessoaNatureza() == vmPessoa.PessoaNatureza.PessoaFisica)
            return "Apelido";
        else if (vmPessoa.IdPessoaNatureza() == vmPessoa.PessoaNatureza.PessoaJuridica)
            return "Nome Fantasia";
    });
    vmPessoa.LabelDocumento1 = ko.computed(function(){
        if (vmPessoa.IdPessoaNatureza() == vmPessoa.PessoaNatureza.PessoaFisica)
            return "CPF";
        else if (vmPessoa.IdPessoaNatureza() == vmPessoa.PessoaNatureza.PessoaJuridica)
            return "CNPJ";
    });
    vmPessoa.LabelDocumento2 = ko.computed(function(){
        if (vmPessoa.IdPessoaNatureza() == vmPessoa.PessoaNatureza.PessoaFisica)
            return "RG";
        else if (vmPessoa.IdPessoaNatureza() == vmPessoa.PessoaNatureza.PessoaJuridica)
            return "Insc. Estadual";
    });
    vmPessoa.LabelDocumento3 = ko.computed(function(){
        if (vmPessoa.IdPessoaNatureza() == vmPessoa.PessoaNatureza.PessoaFisica)
            return "CNH";
        else if (vmPessoa.IdPessoaNatureza() == vmPessoa.PessoaNatureza.PessoaJuridica)
            return "Insc. Municipal";
    });

    ko.applyBindings(vmPessoa, form[0]);
     
    </script>

    
}