﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.Pessoa.NewEditVM

<routeoptions data-route-custom="route-pessoa"></routeoptions>

<div data-bind="stopBindings: true">

    <form id="form-CorporativoPessoa-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <div class="btn-group">
                                <label class="btn btn-primary btn-inverted" for="option1">
                                    <input type="radio" name="options" id="option1" value="2" data-bind="checked: IdPessoaNatureza, vanillaUniform: { checkParentCSS: true }"> Pessoa Jurídica
                                </label>
                                <label class="btn btn-primary btn-inverted" for="option2">
                                    <input type="radio" name="options" id="option2" value="1" data-bind="checked: IdPessoaNatureza, vanillaUniform: { checkParentCSS: true }"> Pessoa Física
                                </label>
                            </div>                           
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtCodigo">Código<span>(Automático)</span></label>
                            <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" maxlength="500" />
                        </div>
                    </div>

                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtNome" data-bind="text: LabelNome">Nome<span>(Nome Fantasia)</span></label>
                            <input type="text" id="txtNome" name="txtNome" data-bind="value: Nome, validate: { required: true }" class="form-control" maxlength="500" />
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtNomeSecundario" data-bind="text: LabelNomeSecundario">Apelido<span>(Razão Social)</span></label>
                            <input type="text" id="txtNomeSecundario" name="txtNomeSecundario" data-bind="value: NomeSecundario, validate: { required: true }" class="form-control" maxlength="500" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="ddlPerfilPessoa">Perfis</label>
                            @HtmlHelper.Select.SearchableKO("ddlPerfilPessoa", "IdsPerfil", "IdPessoaPerfilIn", "Descricao", "Descricao", "Descricao", "/Corporativo/PessoaPerfil/List", "Ativo:true", idChaveRelacao: "IdPessoaPerfil", multiple: true, required: true)
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
                <div class="optional hide-panel" id="pnlDadosAdicionais" data-bind="collapsible: { vmArray: [ vm.Telefone1(), vm.Telefone2(), vm.Email(), vm.Site(), vm.PalavraChave() ] }">
                    <a href="#">Dados Adicionais</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="txtTelefone1">Telefone 1</label>
                                    <input type="text" id="txtTelefone1" name="txtTelefone1" data-bind="value: Telefone1, validate: { phone: true },  mask: { options: defaults.mask.phone, value: Telefone1 }" class="form-control" maxlength="16" />
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="txtTelefone2">Telefone 2<span>(Celular)</span></label>
                                    <input type="text" id="txtTelefone2" name="txtTelefone2" data-bind="value: Telefone2, validate: { phone: true }, mask: { options: defaults.mask.phone, value: Telefone2 }" class="form-control" maxlength="16" />
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label for="txtEmail">E-mail</label>
                                    <input type="text" id="txtEmail" name="txtEmail" data-rule-email data-bind="value: Email, validate: { email: true }" class="form-control" maxlength="100" />
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label for="txtSite">Site</label>
                                    <input type="text" id="txtSite" name="txtSite" data-bind="value: Site" class="form-control" maxlength="50" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7">
                                <div class="form-group">
                                    <label for="txtPalavraChave">Palavra Chave</label>
                                    <input type="text" id="txtPalavraChave" name="txtPalavraChave" data-bind="value: PalavraChave" class="form-control" maxlength="250" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Dados opcionais -->
                <div class="optional" id="pnlMaisCampos" data-bind="collapsible: { vmArray: [ vm.Documento1(), vm.Documento2(), vm.Documento3(), vm.PalavraChave(), vm.Data() ] }">
                    <a href="#">Documentos</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="txtDocumento1" data-bind="text: LabelDocumento1">Documento</label>
                                    <input type="text" id="txtDocumento1" name="txtDocumento1" data-bind="value: Documento1, validate: vm.ValidarDocumento()" class="form-control" />
                                </div>
                            </div>
                            <div class="col-xs-2" data-bind="visible: IdPessoaNatureza() == 2">
                                <div class="form-group">
                                    <label class="control-label" for="chkPossuiSimplesNacional">Optante Simples Nacional</label>
                                    <input type="checkbox" class="no-uniform" id="chkPossuiSimplesNacional" data-bind="checked: PossuiSimplesNacional, flipper: { observable: PossuiSimplesNacional, options: {'css': 'warning'} }">
                                </div>
                            </div>
                            <div class="col-xs-2" data-bind="visible: IdPessoaNatureza() == 2">
                                <div class="form-group">
                                    <label class="control-label" for="chkIsentoIE">Isento Inscrição Estadual</label>
                                    <input type="checkbox" class="no-uniform" id="chkIsentoIE" data-bind="checked: IsentoIE, flipper: { observable: IsentoIE, options: {'css': 'warning'} }">
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="txtDocumento2" data-bind="text: LabelDocumento2">Documento</label>
                                    <input type="text" id="txtDocumento2" name="txtDocumento2" data-bind="value: Documento2, enable:IsentoIE() == false" class="form-control" maxlength="18" />
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="txtDocumento3" data-bind="text: LabelDocumento3">Documento</label>
                                    <input type="text" id="txtDocumento3" name="txtDocumento3" data-bind="value: Documento3" class="form-control" maxlength="18" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="txtData" data-bind="if: IdPessoaNatureza() == 2">Data abertura</label>
                                    <label for="txtData" data-bind="if: IdPessoaNatureza() == 1">Data Nascimento</label>
                                    <div class="input-group date form-group">
                                        <input id="txtData" name="txtData" placeholder="" class="form-control" data-bind="value: DataExibicao, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataExibicao }" />
                                        <span class="input-group-addon">
                                            <i class="material-icons">&#xE878;</i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label for="ddlCNAE">(CNAE) Código Nacional de Atividade Econômica</label>
                                        @HtmlHelper.Select.SearchableKO("ddlCNAE", "IdCnae", "IdCnae", "CodigoDescricao", "CodigoDescricao", "CodigoDescricao", "/Corporativo/CNAE/List", "Ativo:true")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="optional hide-panel" id="pnlObservacao" data-bind="collapsible: { vmArray: [ vm.Observacao() ] }">
                    <a href="#">Observação</a>
                    <div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <textarea data-bind="value: Observacao" class="form-control" id="txtObservacao" data-allowclear="false" maxlength="500" style=" min-height: 80px;"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-default" data-toggle="collapsible" id="pnlEnderecos">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Endereços</h3>
            </div>
            <div class="panel-body">
                @Html.Partial("~/Areas/Corporativo/Views/Pessoa/_PartialEnderecoLista.cshtml")
            </div>
        </div>

        <div class="panel panel-default hide-panel" data-toggle="collapsible" id="pnlContatos">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Contatos</h3>
            </div>
            <div class="panel-body">

                <template id="headerAction-Contato">
                    @*<div class="form-group">
                        <div class="btn-group">
                            <label class="btn btn-primary btn-inverted" for="option1">
                                <input type="radio" name="options" id="option1" value="2" data-bind="checked: IdPessoaNatureza, vanillaUniform: { checkParentCSS: true }"> Pessoa Jurídica
                            </label>
                            <label class="btn btn-primary btn-inverted" for="option2">
                                <input type="radio" name="options" id="option2" value="1" data-bind="checked: IdPessoaNatureza, vanillaUniform: { checkParentCSS: true }"> Pessoa Física
                            </label>
                        </div>
                    </div>*@
                </template>

                @HtmlHelper.GridView.GridNewEdit(
                id: "Contato", // Declarar na página <template id="newedit-id"></template>
                vm: "Contatos",
                columns: @<script>
                    [
                        { 'id': 'IdPessoaContato' },
                        { 'id': 'IdPessoa' },
                        { 'id': 'ChaveVersao' },
                        { 'id': 'Descricao', 'displayName': 'Nome', 'header': true },
                        { 'id': 'Telefone1', 'displayName': 'Telefone 1', 'header': true, groupable: true },
                        { 'id': 'Telefone2', 'displayName': 'Telefone 2', 'header': true },
                        { 'id': 'Email', 'displayName': 'E-mail', 'header': true },
                        { 'id': 'Ativo', 'defaultValue': true, 'header': true, 'groupable': true, groupTextValues: ['Sim', 'Não'] },
                        defaults.gridNewEdit.column.acao
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: Descricao }  }"></td>
                    <td data-bind="text: Telefone1"></td>
                    <td data-bind="text: Telefone2"></td>
                    <td data-bind="text: Email"></td>
                    <td data-bind="template: { name: 'label-status' }"></td>
                    <td data-bind="template: { name: 'button-edit' }"></td>
                </tr>, orderByCol: "Descricao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useCustomHeaderAction: true)
            </div>
        </div>

        @HtmlHelper.CampoDinamico.PainelDeCampos()       

        <div class="panel panel-default panel-action">
            <div class="panel-body">
                <button type="submit" id="btn-salvar" class="btn btn-primary btn-primary-action btn-lg"><i class="material-icons material-md">&#xE5CA;</i> Salvar</button>
            </div>
        </div>
    </form>

    @Html.Partial("~/Areas/Corporativo/Views/Pessoa/_PartialEnderecoModal.cshtml")

    @*<template id="selectedAction-Contato">
        </template>*@

    <template id="newedit-Contato">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="txtDescricaoContato">Nome</label>
                    <input type="text" id="txtDescricaoContato" name="txtDescricaoContato" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="txtContatoTelefone1">Telefone 1</label>
                    <input type="text" id="txtContatoTelefone1" name="txtContatoTelefone1" data-bind="value: Telefone1, mask: { options: defaults.mask.phone, value: Telefone1 }, validate: { phone: true }" class="form-control" maxlength="16" />
                </div>
            </div>

            <div class="col-xs-3">
                <div class="form-group">
                    <label for="txtContatoTelefone2">Telefone 2<span>(Celular)</span></label>
                    <input type="text" id="txtContatoTelefone2" name="txtContatoTelefone2" data-bind="value: Telefone2, mask: { options: defaults.mask.phone, value: Telefone2 }, validate: { phone: true }" class="form-control" maxlength="16" />
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="txtContatoEmail">Email</label>
                    <input type="text" id="txtContatoEmail" data-rule-email name="txtContatoEmail" data-bind="value: Email, validate: { email: true }" class="form-control" maxlength="50" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="control-label" for="chkAtivo">Ativo</label>
                    <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                </div>
            </div>
        </div>
    </template>
</div>

@*@foreach (var item in Model.Caracteristicas)
    {
        if (item.IdCaracteristicaTipo == 8)
        {
            @HtmlHelper.Select.SearchableKO("ddl" + item.Codigo, "IdCaracteristicaOpcao", "IdCaracteristicaOpcao",
                "Valor", "Valor", "CaracteristicaOpcao.Valor", "/Configuracao/CaracteristicaOpcao/List", "", "param" + item.Codigo, "IdCaracteristica")
        }
    }*@


