﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.Pessoa.PessoaContaBancariaVM

<routeoptions data-route-custom="route-pessoa"></routeoptions>

<div>
    <form id="form-PessoaContaBancaria-NewEdit" data-bind="formSubmit: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="col-xs-1">
                        <div class="form-group read-mode">
                            <label for="txtCodigoPessoa">Código</label>
                            <input type="text" id="txtCodigoPessoa" name="txtCodigoPessoa" data-bind="value: Codigo" disabled="disabled" class="form-control" maxlength="120" />
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group read-mode">
                            <label for=" txtnomepessoa">Nome</label>
                            <input type="text" id="txtNomePessoa" name="txtNomePessoa" data-bind="value: Nome" disabled="disabled" class="form-control" maxlength="120" />
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group read-mode">
                            <label for="txtNomeSecundarioPessoa">Apelido</label>
                            <input type="text" id="txtNomeSecundarioPessoa" name="txtNomeSecundarioPessoa" data-bind="value: NomeSecundario" disabled="disabled" class="form-control" maxlength="120" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-toggle="collapsible" id="pnlContas">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Contas Bancárias</h3>
                </div>
                <div class="panel-body">
                    @HtmlHelper.GridView.GridNewEdit(
                id: "ContaBancaria", // Declarar na página <template id="newedit-id"></template>
                vm: "Contas",
                vmExtend: "ContaBancariaExtend",
                title: "Conta Bancária",
                columns: @<script>
                    [
                        { 'id': 'IdPessoaContaBancaria' },
                        { 'id': 'IdPessoa' },
                        { 'id': 'IdPessoaContaBancaria' },
                        { 'id': 'IdFinanceiroContaTipo' },
                        { 'id': 'IdFinanceiroEntidade' },
                        { 'id': 'Agencia' },
                        { 'id': 'Conta' },
                        { 'id': 'DigitoVerificadorAgencia' },
                        { 'id': 'DigitoVerificadorConta' },
                        { 'id': 'DescricaoFinanceiroEntidade', 'displayName': 'Entidade', 'header': true },
                        { 'id': 'DescricaoFinanceiroContaTipo', 'displayName': 'Tipo', 'header': true },
                        { 'id': 'DetalhesConta', 'displayName': 'Detalhes', 'header': true },
                        { 'id': 'Principal', 'displayName': 'Principal', 'header': true },
                        { 'id': 'Ativo', 'defaultValue': true, 'header': true },
                        defaults.gridNewEdit.column.acao
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: DescricaoFinanceiroEntidade }  }"></td>
                    <td data-bind="text: DescricaoFinanceiroContaTipo"></td>
                    <td data-bind="text: DetalhesConta"></td>
                    <td data-bind="template: { name: 'label-status', data: { status: Principal } }"></td>
                    <td data-bind="template: { name: 'label-status' }"></td>
                    <td data-bind="template: { name: 'button-edit' }"></td>
                </tr>, orderByCol: "DescricaoFinanceiroEntidade", orderByDir: HelpersUtil.OrderByDirEnum.Asc)
                </div>
            </div>
        </div>
    </form>
    <template id="newedit-ContaBancaria">
        <div class="row">
            <div class="col-xs-5">
                <div class="form-group">
                    <label for="ddlFinanceiroContaTipo">Tipo</label>
                    @HtmlHelper.Select.SearchableKO("ddlFinanceiroContaTipo", "IdFinanceiroContaTipo", "IdFinanceiroContaTipo", "Descricao", "Descricao", "Descricao", "/Financeiro/ContaTipo/List", "Ativo:true", required: true, vmTextSelected: "DescricaoFinanceiroContaTipo")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <div class="form-group">
                    <label for="ddlFinanceiroEntidade">Entidade</label>
                    @HtmlHelper.Select.SearchableKO("ddlFinanceiroEntidade", "IdFinanceiroEntidade", "IdFinanceiroEntidade", "DescricaoComposta", "DescricaoCodigo", "DescricaoComposta", "/Financeiro/Entidade/List", "Ativo:true, CaixaInterno: false", required: true, vmTextSelected: "DescricaoFinanceiroEntidade")
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="txtAgencia">Agência</label>
                    <input type="text" id="txtAgencia" name="txtAgencia" data-bind="value: Agencia" class="form-control" maxlength="10" />
                </div>
            </div>
            <div class="col-xs-1">
                <div class="form-group">
                    <label for="txtDigitoVerificadorAgencia">DV</label>
                    <input type="text" id="txtDigitoVerificadorAgencia" name="txtDigitoVerificadorAgencia" data-bind="value: DigitoVerificadorAgencia" class="form-control" maxlength="1" />
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="txtConta">Conta</label>
                    <input type="text" id="txtConta" name="txtConta" data-bind="value: Conta" class="form-control" maxlength="10" />
                </div>
            </div>
            <div class="col-xs-1">
                <div class="form-group">
                    <label for="txtDigitoVerificadorConta">DV</label>
                    <input type="text" id="txtDigitoVerificadorConta" name="txtDigitoVerificadorConta" data-bind="value: DigitoVerificadorConta" class="form-control" maxlength="1" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="control-label" for="chkPrincipal"> Principal</label>
                    <input type="checkbox" class="no-uniform" id="chkPrincipal" data-bind="checked: Principal, flipper: { observable: Principal, options: { 'css': 'warning' } }">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="control-label" for="chkAtivo">Ativo</label>
                    <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                </div>
            </div>
        </div>
    </template>
</div>




