﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.Pessoa.UsuarioVM

<routeoptions data-route-custom="route-pessoa" data-action-title="listagem de sub processo" data-title-descricao="@Model.NomeExibicao"></routeoptions>

<div>
    <form id="form-Usuario-NewEdit" data-bind="formSubmit: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row" data-bind="validateOptions: { appendErrorsToRoot: true } ">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="txtLoginUsuario">Usuário</label>
                                @*, validate: { validarUsuario: vm.IdPessoa }*@
                                <input type="text" id="txtLoginUsuario" name="txtLoginUsuario" data-bind="value: Login, validate: { validarUsuario: vm.IdPessoa, required: true }" class="form-control" maxlength="120" />
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="txtEmailUsuario">E-mail</label>
                                <input type="text" id="txtEmailUsuario" name="txtEmailUsuario" data-bind="value: Email, validate: { email: true, required: true }" class="form-control" maxlength="120" />
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="ddlGrupoUsuario">Grupo</label>
                                @HtmlHelper.Select.SearchableKO("ddlGrupoUsuario", "IdGrupoUsuario", "IdGrupoUsuario", "Descricao", "Descricao", "Descricao", "/Seguranca/GrupoUsuario/List", "Ativo: true, Modelo: false", dataBind: "validate: { required: true }")
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkAtivoUsuario">Ativo</label>
                                <input type="checkbox" class="no-uniform" id="chkAtivoUsuario" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }, attr: { 'disabled': UsuarioNuncaAcessou }">
                            </div>
                        </div>
                        <div class="col-xs-3" data-bind="visible: BotaoAtivacao">
                            <div class="form-group">
                                <input type="button" id="btnReenviarEmailAtivacao" class="btn btn-secondary" value="Reenviar e-mail de ativação" data-bind="attr: { 'visible': BotaoAtivacao }" />
                            </div>
                        </div>
                    </div>

                    <fieldset>
                        <legend>Atribuições do Usuário</legend>
                        <div class="optional not-clear" data-bind="collapsible: { vmArray: [ vm.IdsGrupoResponsabilidade() ]}" id="pnlAtribuicoesUsuario">
                            <a href="#">Grupo de Responsabilidade</a>                            
                            <div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="ddlGrupoResponsabilidadeIn">Infome quais Grupos de Responsabilidade o Usuário pertence.</label>
                                            @HtmlHelper.Select.SearchableKO("ddlGrupoResponsabilidadeIn", "IdsGrupoResponsabilidade", "IdGrupoResponsabilidadeIn", "Descricao", "Descricao", "Descricao", "/Corporativo/GrupoResponsabilidade/List", "Ativo:true", idChaveRelacao: "IdGrupoResponsabilidade", multiple: true)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Restrição de Conteúdo</legend>
                        <div class="optional" data-bind="collapsible: { vmArray: [ vm.IdsPessoaEmpresa() ]}" id="pnlRestricoesPessoaEmpresa">
                            <a href="#">Empresa Usuária</a>
                            <div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="ddlPessoaEmpresa">Informe quais Empresas Usuárias o usuário não poderá acessar.</label>
                                            @HtmlHelper.Select.SearchableKO("ddlPessoaEmpresa", "IdsPessoaEmpresa", "IdPessoaIn", "CodigoNomeSecundario", "BuscaAvancada", "CodigoNomeSecundario", "/Corporativo/EmpresaUsuaria/List", "Ativo:true", idChaveRelacao: "IdPessoa", multiple: true)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="optional" data-bind="collapsible: { vmArray: [ vm.IdsAplicacaoTipo() ]}" id="pnlRestricoesTipoAplicacao">
                            <a href="#">Tipo de Aplicação</a>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="ddlAplicacaoTipo">Informe quais Tipos de Aplicações o usuário não poderá utilizar.</label>
                                            @HtmlHelper.Select.SearchableKO("ddlAplicacaoTipo", "IdsAplicacaoTipo", "IdAplicacaoTipoIn", "DescricaoComposta", "DescricaoCompostaBusca", "DescricaoComposta", "/Aplicacao/AplicacaoTipo/List", "Ativo:true ", idChaveRelacao: "IdAplicacaoTipo", multiple: true)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="optional" data-bind="collapsible: { vmArray: [ vm.IdsCentroCusto() ]}" id="pnlRestricoesCentroCusto">                           
                            <a href="#">Centro de Custo</a>                           
                            <div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="ddlPlanoContasVersaoCentroCusto">Versão do Centro de Custo</label>
                                            @HtmlHelper.Select.SearchableKO("ddlPlanoContasVersaoCentroCusto", "IdVersaoPlanoContasCentroCusto", "IdPlanoContasVersao", "Descricao", "Descricao", "Descricao", "/Contabilidade/VersaoPlanoContas/List", "Ativo:true, PlanoContasTipo:2", idChaveRelacao: "IdPlanoContasVersao")
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="ddlPlanoContasRestritos">Informe quais Centros de Custos o usuário não poderá utilizar.</label>
                                            @HtmlHelper.Select.SearchableKO("ddlCentroCusto", "IdsCentroCusto", "IdCentroCustoIn", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Contabilidade/CentroCusto/ListarHierarquicamentePorParametro", "Ativo:true", idChaveRelacao: "IdCentroCusto", multiple: true, idControleDependencia: "ddlPlanoContasVersaoCentroCusto", idDependencia: "IdVersaoPlanoContas")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="optional" data-bind="collapsible: { vmArray: [ vm.IdsFinanceiroClassificacao() ]}" id="pnlRestricoesClassificacaoFinanceira">
                            <a href="#">Classificação Financeira</a>
                            <div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="ddlPlanoContasVersaoClassificacaoFinanceira">Versão da Classificação Financeira</label>
                                            @HtmlHelper.Select.SearchableKO("ddlPlanoContasVersaoClassificacaoFinanceira", "IdVersaoPlanoContasClassificacao", "IdPlanoContasVersao", "Descricao", "Descricao", "Descricao", "/Contabilidade/VersaoPlanoContas/List", "Ativo:true, PlanoContasTipo:4", idChaveRelacao: "IdPlanoContasVersao")
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="ddlPlanoContasRestritos">Informe quais Classificações Financeiras o usuário não poderá utilizar.</label>
                                            @HtmlHelper.Select.SearchableKO("ddlClassificacaoFinanceira", "IdsFinanceiroClassificacao", "IdFinanceiroClassificacaoIn", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Financeiro/Classificacao/ListarHierarquicamentePorParametro", "Ativo:true", idChaveRelacao: "IdFinanceiroClassificacao", multiple: true, idControleDependencia: "ddlPlanoContasVersaoClassificacaoFinanceira", idDependencia: "IdVersaoPlanoContas")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="optional" data-bind="collapsible: { vmArray: [ vm.IdsPlanoContas() ]}" id="pnlRestricoesPlanoContas">
                            <a href="#">Plano de Contas</a>
                            <div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="ddlPlanoContasVersaoPlanoContas">Versão Plano de Contas</label>
                                            @HtmlHelper.Select.SearchableKO("ddlPlanoContasVersaoPlanoContas", "IdVersaoPlanoContasPlanoContas", "IdPlanoContasVersao", "Descricao", "Descricao", "Descricao", "/Contabilidade/VersaoPlanoContas/List", "Ativo:true, PlanoContasTipo:1", idChaveRelacao: "IdPlanoContasVersao")
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="ddlPlanoContasRestritos">Informe quais Contas o usuário não poderá utilizar.</label>
                                            @HtmlHelper.Select.SearchableKO("ddlPlanoContasRestritos", "IdsPlanoContas", "IdPlanoContasIn", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Contabilidade/PlanoContas/ListarHierarquicamentePorParametro", "Ativo:true", idChaveRelacao: "IdPlanoContas", multiple: true, idControleDependencia: "ddlPlanoContasVersaoPlanoContas", idDependencia: "IdVersaoPlanoContas")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="optional" data-bind="collapsible: { vmArray: [ vm.IdsProdutoServicoGrupo(), vm.IdsProdutoServico() ]}" id="pnlRestricoesProdutoServicoGrupo">
                            <a href="#">Grupo de Produto e Produto</a>
                            <div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="ddlProdutoServicoGrupo">Informe quais Grupos de Produto o usuário não poderá utilizar.</label>
                                            @HtmlHelper.Select.SearchableKO("ddlProdutoServicoGrupo", "IdsProdutoServicoGrupo", "IdProdutoServicoGrupoIn", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Estoque/ProdutoServicoGrupo/List", "Ativo:true, UltimoNivel:true", idChaveRelacao: "IdProdutoServicoGrupo", multiple: true)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="ddlProdutoServico">Informe quais Produtos o usuário não poderá utilizar.</label>
                                            @HtmlHelper.Select.SearchableKO("ddlProdutoServico", "IdsProdutoServico", "IdProdutoServicoIn", "DescricaoCodigo", "DescricaoCodigoBusca", "DescricaoCodigo", "/Estoque/Produto/List", "Ativo:true ", idChaveRelacao: "IdProdutoServico", multiple: true)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="optional" data-bind="collapsible: { vmArray: [ vm.IdsProdutoLocal() ]}" id="pnlRestricoesProducaoLocal">
                            <a href="#">Local de Armazenagem</a>
                            <div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="ddlProducaoLocal">Informe quais Locais da Armazenagem o usuário não poderá utilizar.</label>
                                            @HtmlHelper.Select.SearchableKO("ddlProducaoLocal", "IdsProdutoLocal", "IdProdutoLocalIn", "Descricao", "Descricao", "Descricao", "/Estoque/ProdutoLocal/List", "Ativo:true ", idChaveRelacao: "IdProdutoLocal", multiple: true)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </form>
</div>