﻿@model HTM.MasterGestor.Web.UI.Areas.Contabilidade.ViewModels.DocumentoTipo.IndexVM

<div id="filtro-grade">
    <template id="filter-DocumentoTipoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "DocumentoTipoIndex",
    newUrl: "#/Contabilidade/DocumentoTipo/New",
    editUrl: "#/Contabilidade/DocumentoTipo/Edit",
    listUrl: "/Contabilidade/DocumentoTipo/List",
    columns:
    @<script>
        [
           { 'id': 'IdDocumentoTipo', editColumn:true },
           { 'id': 'Descricao', displayName: 'Descrição', filter: true, header: true, 'defaultFilter': true, sortable: true },
           { 'id': 'DescricaoProcesso', header: true, displayName: 'Processo', sortable: true },
           defaults.gridNewEdit.column.ativo,
           defaults.gridNewEdit.column.acao
        ]
    </script>,
      templateRows:
    @<tr>
         <td data-bind="text: Descricao, id: IdDocumentoTipo"></td>
        <td data-bind="text: DescricaoProcesso"></td>
        <td data-bind="template: 'label-status'"></td>
        <td data-bind="template: { name: 'button-edit-url', data: { id: IdDocumentoTipo } }"></td>
    </tr>, api: "indexVM.api", orderByCol: "Descricao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
