﻿@model HTM.MasterGestor.Web.UI.Areas.Contabilidade.ViewModels.DocumentoTipo.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-DocumentoTipo-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate : { required: true }" class="form-control required" maxlength="120" />
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlProcesso">Processo</label>
                            @HtmlHelper.Select.SearchableKO("ddlProcesso", "IdProcesso", "IdProcesso", "Descricao", "Descricao", "Descricao", "/Corporativo/Processo/List", "Ativo:true", required: true)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">DEFINIÇÕES FINANCEIRAS</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="ddlTipoVencimentoDiaNaoUtil" class="control-label">Se Vencimento em Dias não Úteis</label>
                            <select class="form-control no-search" id="ddlMovimentoEstoque" data-bind="value: TipoVencimentoDiaNaoUtil">
                                <option value="1">Não influência</option>
                                <option value="2">Antecipa</option>
                                <option value="3">Prorroga</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">DEFINIÇÕES FISCAIS</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="ddlFiscalImposto">Utilizado para recolhimento do Imposto</label>
                            @HtmlHelper.Select.SearchableKO("ddlFiscalImposto", "IdFiscalImposto", "IdFiscalImposto", "SiglaDescricao", "BuscaDetalhada", "SiglaDescricao", "/Contabilidade/Imposto/List", "Ativo:true")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkListaLivroFiscal">Lista no Livro Fiscal</label>
                            <input type="checkbox" class="no-uniform" id="chkListaLivroFiscal" data-bind="checked: ListaLivroFiscal, flipper: { observable: ListaLivroFiscal, options: {'css': 'warning'} }">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkListaValorLivroFiscal">Lista Valores no Livro Fiscal</label>
                            <input type="checkbox" class="no-uniform" id="chkListaValorLivroFiscal" data-bind="checked: ListaValorLivroFiscal, flipper: { observable: ListaValorLivroFiscal, options: {'css': 'warning'} }">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="txtObservacao">Observação para Livro Fiscal</label>
                            <textarea id="txtObservacao" name="txtDescricao" data-bind="value: ObservacaoLivroFiscal" class="form-control" maxlength="200" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>