﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.Processo.IndexVM

<div id="filtro-grade">
    <template id="filter-ProcessoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
        id: "ProcessoIndex",
        newUrl: "#/Corporativo/Processo/New",
        editUrl: "#/Corporativo/Processo/Edit",
        listUrl: "/Corporativo/Processo/List",
        columns:
        @<script>
            [
                { 'id': 'IdProcesso', editColumn: true },
                { 'id': 'Descricao', 'header': true, 'filter': true, 'defaultFilter': true, 'displayName': 'Descrição', sortable: true },
                defaults.gridNewEdit.column.ativo,
                { 'displayName': 'Ações', width: '160px', header: true }
            ]
        </script>,
        templateRows:
        @<tr>
            <td data-bind="text: Descricao, id:  IdProcesso"></td>
            <td data-bind="template: 'label-status'"></td>
            <td>
                <a href="#" data-bind="template: { name: 'button-edit-url', data: { id: IdProcesso } }"></a>
                <a href="#" title="SubProcesso" data-bind="attr: { href: '#/Corporativo/SubProcesso/List/' + IdProcesso }" class="btn btn-secondary btn-icon"><i class="material-icons">&#xE896;</i></a>
                <a href="#" title="Situação do Processo" data-bind="attr: { href: '#/Corporativo/ProcessoSituacao/List/' + IdProcesso }" class="btn btn-secondary btn-icon"><i class="material-icons">&#xE896;</i></a>
            </td>
        </tr>, api: "indexVM.api", orderByCol: "Descricao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)

</div>
@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}

