﻿@{
    ViewBag.Title = "Acesso Simultâneo";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/_LayoutDefault.cshtml";
}
<routeoptions data-quiet="true" data-display-message="true"></routeoptions>
<div class="message-container">
    <h2 class="msg-403">477</h2>
    <p>
        Acesso Simultâneo
        <ul class="fa-ul">
            <li><i class="fa-li fa fa-angle-right"></i>Algum integrante de sua equipe foi autenticado com o mesmo usuário/senha.</li>
            <li><i class="fa-li fa fa-angle-right"></i>Verifique quem acessou e peça para utilizar outro usuário.</li>
            <li><i class="fa-li fa fa-angle-right"></i>Se não reconhecer quem acessou, faça o login e altere sua senha.</li>
            <li style="font-weight: 500; font-size: 1.2em; margin-top: 23px;"><i class="fa-li fa fa-long-arrow-left"></i>Atualize a página ou <a id="redirect" href="#" class="link-edit">clique aqui</a> para <br /> acessar novamente</li>
        </ul>
        <p>
    </p>
    <script>
        document.getElementById('redirect').addEventListener('click', function (e) {
            e.preventDefault();
            window.location.reload();
        });
    </script>
</div>
