﻿@{
    ViewBag.Title = ":(";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/_LayoutMain.cshtml";
}
<routeoptions data-quiet="true" data-show-header="false" data-display-message="true"></routeoptions>
<div class="message-container">
    <h2 class="msg-404">500</h2>
    <p>
        Desculpem-nos. Ocorreu um erro no sistema.
        <ul class="fa-ul">            
            <li><i class="fa-li fa fa-angle-right"></i> O suporte foi notificado e nossos desenvolvedores estão trabalhando rapidamente para resolver a questão, porém se o mesmo persistir entre em contato.</li>
            <li style="font-weight: 500; font-size: 1.2em; margin-top: 23px;"><i class="fa-li fa fa-long-arrow-left"></i><a id="redirect" href="#" class="link-edit">Clique aqui</a> para tentar novamente, <br /> ou volte para a <a href="/" class="link-edit">página inicial</a></li>
        </ul>
    </p>
    <script>
        document.body.classList.add('loading-fail');
        document.getElementById('redirect').addEventListener('click', function (e) {
            e.preventDefault();
            @if (HTM.MasterGestor.Web.UI.Infrastructure.ControladorSessaoUsuario.SessaoCorrente == null)
            {
                <text> window.location.href = '/';</text>
            }
            else
            {
                <text>window.location.reload();</text>
            }
        });
</script>
</div>
