﻿@{
    ViewBag.Title = "SemPermissao";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/_LayoutDefault.cshtml";
}
<routeoptions data-quiet="true" data-show-header-title="false"></routeoptions>
<div class="message-container">
    <h2 class="msg-404">404</h2>
    <p>
        Página não encontrada.
        <ul class="fa-ul">
            <li><i class="fa-li fa fa-angle-right"></i> A página não existe, foi removida ou renomeada.</li>
            <li style="font-weight: 500; font-size: 1.2em; margin-top: 23px;"><i class="fa-li fa fa-long-arrow-left"></i> Procure a tela pelo <a href="#" class="link-edit" id="toggleMenu">menu</a> no canto superior esquerdo.</li>
        </ul>
    </p>
    <script>
        document.body.classList.add('loading-fail');
        document.getElementById('toggleMenu').addEventListener('click', function (e) {
            e.preventDefault();
            $('#mmenuhtml').mmenu('toggleMenu');
        });
    </script>
</div>
