﻿@model HTM.MasterGestor.Web.UI.Areas.Contabilidade.ViewModels.CentroCusto.IndexVM

<div id="filtro-grade">
    <template id="filter-CentroCustoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="value: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroPlanoContasVersao" class="control-label" style="width: 200px">Versão</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroPlanoContasVersao", "IdPlanoContasVersao", "IdPlanoContasVersao", "Descricao", "Descricao", "Descricao", "/Contabilidade/VersaoPlanoContas/List", "Ativo:true, PlanoContasTipo:2", required: true)
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "CentroCustoIndex",
    newUrl: "#/Contabilidade/CentroCusto/New",
    editUrl: "#/Contabilidade/CentroCusto/Edit",
    listUrl: "/Contabilidade/CentroCusto/ListarHierarquicamentePorParametro",
    columns:
    @<script>
        [
           { 'id': 'IdCentroCusto', filter: true, editColumn: true },
           { 'id': 'IdPlanoContasVersao', filter: true },
           { 'id': 'DescricaoPlanoContasVersao', 'groupable': true, displayName: 'Versão' },
           { 'id': 'DescricaoPai', groupable: true, displayName: 'Superior', groupTextValues: ['defaultValue', 'Sem Superior Relacionado'] },
           { 'id': 'Codigo', 'header': true, 'filter': true, displayName: 'Código', sortable: true, header: true },
           { 'id': 'Descricao', 'filter': true, 'defaultFilter': true, displayName: 'Descrição', sortable: true, header: true },
           defaults.gridNewEdit.column.ativo,
           defaults.gridNewEdit.column.acao
        ]
    </script>,
      templateRows:
    @<tr>
        <td><span data-bind="text: Codigo, id: IdCentroCusto"></span></td>
        <td><span data-bind="text: Descricao"></span></td>
        <td data-bind="template: 'label-status'"></td>
        <td data-bind="template: { name: 'button-edit-url', data: { id: IdCentroCusto } }"></td>
    </tr>,
         api: "indexVM.api",
         orderByCol: "Codigo",
         orderByDir: HelpersUtil.OrderByDirEnum.Asc,
         useHiddenColumns: false)
</div>
@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}