﻿@model HTM.MasterGestor.Web.UI.Areas.Contabilidade.ViewModels.CentroCusto.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-CentroCusto-NewEdit" data-bind="with: CentroCusto, validateForm: { submitHandler: vm.CentroCusto().Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default" data-bind="validateOptions: { appendErrorsToRoot: true }">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="ddlPlanoContasVersao">Versão</label>
                            @HtmlHelper.Select.SearchableKO("ddlPlanoContasVersao", "IdPlanoContasVersao", "IdPlanoContasVersao", "DescricaoComposta", "Descricao", "Descricao", "/Contabilidade/VersaoPlanoContas/List", "Ativo:true, PlanoContasTipo:2", required: true)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtCodigo">Código</label>
                            <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo, attr: { 'disabled': IdPlanoContasVersao() == null  },  mask: { value: Codigo, maskValue:Mascara, validate: { required: true} }" class="form-control" maxlength="15" />
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="ddlCentroCustoSuperior">Possui Centro de Custo superior? Se sim qual é ele?</label>
                            @HtmlHelper.Select.SearchableKO("ddlCentroCustoSuperior", "IdCentroCustoPai", "IdCentroCusto", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Contabilidade/CentroCusto/ListarHierarquicamentePorParametro", "Ativo:true,UltimoNivel:false", idChaveRelacao: "IdCentroCusto", dataBind: "attr: { 'disabled':  true }")
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkUltimoNivel">Último Nível</label>
                            <input type="checkbox" class="no-uniform" id="chkUltimoNivel" data-bind="checked: UltimoNivel, flipper: { observable: UltimoNivel, options: { 'css': 'warning' } }">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6" data-bind="visible: UltimoNivel() == true">
                        <div class="form-group">
                            <label for="ddlAtividadeEconomica">Este Centro de Custo pertence a uma única Atividade Econômica? Se sim, qual?</label>
                            @HtmlHelper.Select.SearchableKO("ddlAtividadeEconomica", "IdAtividadeEconomica", "IdAtividadeEconomica", "Descricao", "Descricao", "Descricao", "/Contabilidade/AtividadeEconomica/List", "Ativo:true")
                        </div>
                    </div>
                </div>
                <div class="row" data-bind="visible: UltimoNivel() == true">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="chkPermiteUsoSemAplicacao">Permite utilizar o Centro de Custo sem Informar uma Aplicação</label>
                            <input type="checkbox" class="no-uniform" id="chkPermiteUsoSemAplicacao" data-bind="checked: PermiteUsoSemAplicacao, flipper: { observable: PermiteUsoSemAplicacao, options: { 'css': 'warning' } }">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="chkPermiteUsoSemOrdemServico">Permite o uso direto, sem informar Ordem de Serviço</label>
                            <input type="checkbox" class="no-uniform" id="chkPermiteUsoSemOrdemServico" data-bind="checked: PermiteUsoSemOrdemServico, flipper: { observable: PermiteUsoSemOrdemServico, options: { 'css': 'warning' } }">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" data-toggle="collapsible" id="pnlRestricoes" data-bind="visible: UltimoNivel">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">DESEJA LIMITAR O USO DESTE CENTRO DE CUSTO POR ALGUMA EMPRESA ?</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="ddlEmpresaUsuaria">Apenas assinalar empresas que não pode usar este Centro de Custo.<br>Caso todas empresas possam, deixe todas sem seleção.</label>
                            @HtmlHelper.Select.SearchableKO("ddlEmpresaUsuaria", "IdsPessoasRestritas", "IdPessoaIn", "NomeSecundario", "NomeSecundario", "NomeSecundario", "/Corporativo/EmpresaUsuaria/List", "Ativo:true", multiple: true, idChaveRelacao: "IdPessoa")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>