﻿@model HTM.MasterGestor.Web.UI.Areas.Automotivo.ViewModels.SubTipoEquipamento.IndexVM

<div id="filtro-grade" style="display:none;">
    <template id="filter-AutomotivoSubTipoEquipamentoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroTipoEquipamento">Tipo Equipamento</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroTipoEquipamento", "IdAutomotivoTipoEquipamentoIN", "IdAutomotivoTipoEquipamento", "Descricao", "Descricao", "Descricao", "/Automotivo/TipoEquipamento/List", "Ativo: true", idChaveRelacao: "IdAutomotivoTipoEquipamento", multiple: true)
        </div>
        
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "AutomotivoSubTipoEquipamentoIndex",
    newUrl: "#/Automotivo/SubTipoEquipamento/New",
    editUrl: "#/Automotivo/SubTipoEquipamento/Edit",
    listUrl: "/Automotivo/SubTipoEquipamento/List",
    columns:
    @<script>
        [   
            { 'id': 'Descricao', filter: true, defaultFilter: true, header: true, displayName: 'Descrição', sortable: true },
            { 'id': 'DescricaoAutomotivoTipoEquipamento', header: true, displayName: 'Tipo Equipamento', sortable: true, groupable: true },
            { 'id': 'IdAutomotivoTipoEquipamentoIN', filter: true },
            { 'id': 'IdAutomotivoSubTipoEquipamento', editColumn: true },
            defaults.gridNewEdit.column.ativo,
            defaults.gridNewEdit.column.acao
        ]
    </script>,
    templateRows:
    @<tr>       
        <td data-bind="text: Descricao"></td>           
        <td data-bind="text: DescricaoAutomotivoTipoEquipamento"></td>  
        <td data-bind="template: { name: 'label-status' }"></td>       
        <td data-bind="template: { name: 'button-edit-url', data: { id: IdAutomotivoSubTipoEquipamento } }"></td>
    </tr>
    ,
    api: "indexVM.api",
    orderByCol: "Descricao",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,   
    useHiddenColumns: false)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}