﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.Saldo.IndexVM

<routeoptions data-route-custom="route-EstoqueSaldo"></routeoptions>

<div id="filtro-grade">
    <template id="filter-SaldoIndex">
        <!-- Descrição ou Código -->
        <div class="form-group">
            <label for="txtFiltroBuscaAvancada" class="control-label">Busca Avançada</label>
            <input type="text" id="txtFiltroBuscaAvancada" data-bind="textInput: BuscaAvancada" class="form-control" />
        </div>
        <!-- Grupo de Produto -->
        <div class="form-group">
            <label for="ddlFiltroProdutoServicoGrupo" class="control-label">Grupo de Produto</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroProdutoServicoGrupo", "IdProdutoServicoGrupoIn", "IdProdutoServicoGrupoIn", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Estoque/ProdutoServicoGrupo/List", "Ativo:true, UltimoNivel:true", idChaveRelacao: "IdProdutoServicoGrupo", multiple: true)
        </div>
        <!-- Família de Produto -->
        <div class="form-group">
            <label for="ddlFiltroProdutoServicoFamilia" class="control-label">Família de Produto</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroProdutoServicoFamilia", "IdProdutoServicoFamiliaIn", "IdProdutoServicoFamiliaIn", "Descricao", "Descricao", "Descricao", "/Estoque/ProdutoServicoFamilia/List", "Ativo:true", idChaveRelacao: "IdProdutoServicoFamilia", multiple: true)
        </div>
        <!-- :: Data, mas qual ? ::  -->
        <!-- Empresa Usuária -->
        <div class="form-group">
            <label for="ddlFiltroPessoaEmpresa" class="control-label">Empresa</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroPessoaEmpresa", "IdPessoaIn", "IdPessoaIn", "CodigoNomeSecundario", "CodigoNomeSecundario", "CodigoNomeSecundario", "/Corporativo/EmpresaUsuaria/List", "Ativo:true", idChaveRelacao: "IdPessoa", multiple: true)
        </div>
        <!-- Produto Local -->
        <div class="form-group">
            <label for="ddlFiltroProdutoLocal" class="control-label">Local de Armazenagem</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroProdutoLocal", "IdProdutoLocalIn", "IdProdutoLocalIn", "Descricao", "Descricao", "Descricao", "/Estoque/ProdutoLocal/List", "Ativo:true", idChaveRelacao: "IdProdutoLocal", multiple: true)
        </div>
        <!-- Visão -->
        <div class="form-group">
            <label for="radio">Visão</label><br />
            <div class="btn-group">
                <label for="filter-Visao1" class="btn-primary btn-inverted btn"><input id="filter-Visao1" value="1" data-bind="checked: Visao, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-Visao">Família e Produto</label>
                <label for="filter-Visao2" class="btn-primary btn-inverted btn"><input id="filter-Visao2" value="2" data-bind="checked: Visao, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-Visao">Produto</label>
            </div>
        </div>
    </template>

        @HtmlHelper.GridView.GridIndex(
        id: "SaldoIndex",
        newUrl: "#/Estoque/Saldo/New",
        editUrl: "#/Estoque/Saldo/Edit",
        listUrl: "/Estoque/Saldo/List",
        columns:
        @<script>
            [
                { 'id': 'Id', editColumn: true },
                { 'id': 'BuscaAvancada', filter: true, defaultFilter: true },
                { 'id': 'IdProdutoServicoGrupoIn', filter: true },
                { 'id': 'IdProdutoServicoFamiliaIn', filter: true },
                { 'id': 'IdPessoaIn', filter: true },
                { 'id': 'Visao', filter: true, defaultValue: 1 },
                { 'id': 'ProdutoServicoGrupoDescricao', grupopable: true },
                { 'id': 'IdProdutoLocalIn', filter: true },
                { 'id': 'Sigla' },
                { 'id': 'IdProdutoServicoFamilia' },
                { 'id': 'IdProdutoServico' },
                { 'id': 'ProdutoOuFamilia', header: true, displayName: 'Produto ou Família', sortable: true },
                { 'id': 'Tipo', header: true, displayName: 'Tipo', sortable: true },
                { 'id': 'QtdeUnidadeProdutoServico', header: true, displayName: 'Qtde', sortable: true },
                { 'id': 'ValorUnitario', header: true, displayName: 'Valor Unitário', sortable: true },
                { 'id': 'ValorTotal', header: true, displayName: 'Valor Total', sortable: true },
                { displayName: "Ações", width: "110px", header: true, sortable: false }
            ]
        </script>,
        templateRows:
        @<tr>
            <td data-bind="text: ProdutoOuFamilia, id: Id"></td>
            <td data-bind="text: Tipo"></td>
            <td data-bind="text: QtdeUnidadeProdutoServico, maskDecimal: { value: QtdeUnidadeProdutoServico, casasDecimais: CasasDecimais }"></td>
            <td data-bind="text: ValorUnitario, maskDecimal: { value: ValorUnitario, casasDecimais: CasasDecimaisFinanceiroMoeda, prefix: SiglaFinanceiroMoeda, extendedOptions: { rightAlign: false } }"></td>
            <td data-bind="text: ValorTotal, maskDecimal: { value: ValorTotal, casasDecimais: CasasDecimaisFinanceiroMoeda, prefix: SiglaFinanceiroMoeda, extendedOptions: { rightAlign: false } }"></td>
            <td>
                <div data-bind="visible: Tipo === 'F'">
                    <a data-bind="attr: { href: '#/Estoque/Saldo/ProdutoPorFamilia/' + IdProdutoServicoFamilia }" class="btn btn-secondary btn-icon" title="Produtos"><i class="material-icons">&#xE152;</i></a>
                    <a data-bind="attr: { href: '#/Estoque/Saldo/LocalPorFamilia/' + IdProdutoServicoFamilia }" class="btn btn-secondary btn-icon" title="Locais"><i class="material-icons">&#xE88A;</i></a>
                </div>
                <div data-bind="visible: Tipo === 'P'">
                    <a data-bind="attr: { href: '#/Estoque/Saldo/LocalPorProduto/' + IdProdutoServico }" class="btn btn-secondary btn-icon" title="Locais"><i class="material-icons">&#xE88A;</i></a>
                </div>
            </td>
        </tr>,
        api: "indexVM.api", orderByCol: "Id", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: true, showNewButton: false)
</div>
@section Scripts
{
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
   
}

