﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.Saldo.SaldoVM

<routeoptions data-route-custom="route-EstoqueSaldo"></routeoptions>

<div data-bind="stopBindings: true">
    <form id="form-LocalPorProduto-NewEdit" data-bind="formSubmit: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default" data-open="false" id="pnlProdutos">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Locais</h3>
            </div>
            <div class="panel-body">
                @HtmlHelper.GridView.GridNewEdit(
                id: "Item", // Declarar na página <template id="newedit-id"></template>
                vm: "lstItem",
                title: "Locais",
                columns: @<script>
                    [
                        { 'id': 'IdProdutoLocal' },

                        { 'id': 'Sigla' },
                        { 'id': 'CasasDecimais' },

                        { 'id': 'SiglaProdutoServicoFormaApresentacao' },
                        { 'id': 'CasasDecimaisProdutoServicoFormaApresentacao' },

                        { 'id': 'SiglaFinanceiroMoeda' },
                        { 'id': 'CasasDecimaisFinanceiroMoeda' },

                        { 'id': 'ProdutoLocalDescricao', header: true, displayName: 'Local', 'sortable': true },
                        { 'id': 'EmpresaUsuaria', header: true, displayName: 'Empresa', 'sortable': true },
                        { 'id': 'QtdeProdutoServicoFormaApresentacao', header: true, displayName: 'Apresentação', 'sortable': true },
                        { 'id': 'QtdeUnidadeProdutoServico', header: true, displayName: 'Quantidade', 'sortable': true },
                        { 'id': 'ValorUnitario', header: true, displayName: 'Valor Unitário', 'sortable': true },
                        { 'id': 'ValorTotal', header: true, displayName: 'Valor Unitário', 'sortable': true }
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="text: ProdutoLocalDescricao "></td>
                    <td data-bind="text: EmpresaUsuaria "></td>
                    <td data-bind="text: QtdeProdutoServicoFormaApresentacao, maskDecimal: { value: QtdeProdutoServicoFormaApresentacao, casasDecimais: CasasDecimaisProdutoServicoFormaApresentacao, prefix: SiglaProdutoServicoFormaApresentacao, extendedOptions: { rightAlign: false } }"></td>
                    <td data-bind="text: QtdeUnidadeProdutoServico, maskDecimal: { value: QtdeUnidadeProdutoServico, casasDecimais: CasasDecimais, prefix: Sigla, extendedOptions: { rightAlign: false } }"></td>
                    <td data-bind="text: ValorUnitario, maskDecimal: { value: ValorUnitario, casasDecimais: CasasDecimaisFinanceiroMoeda, prefix: SiglaFinanceiroMoeda, extendedOptions: { rightAlign: false } }"></td>
                    <td data-bind="text: ValorTotal, maskDecimal: { value: ValorTotal, casasDecimais: CasasDecimaisFinanceiroMoeda , prefix: SiglaFinanceiroMoeda, extendedOptions: { rightAlign: false } }"></td>
                </tr>, orderByCol: "ProdutoLocalDescricao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false, showNewButton: false)
            </div>
        </div>
    </form>

    <template id="newedit-Item">
    </template>

</div>
