﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.Saldo.SaldoVM

<routeoptions data-route-custom="route-EstoqueSaldo"></routeoptions>

<div data-bind="stopBindings: true">
    <form id="form-ProdutoPorFamilia-NewEdit" data-bind="formSubmit: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default" data-open="false" id="pnlProdutos">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Produtos</h3>
            </div>
            <div class="panel-body">
                @HtmlHelper.GridView.GridNewEdit(
                id: "Item", // Declarar na página <template id="newedit-id"></template>
                vm: "lstItem",
                title: "Produtos",
                columns: @<script>
                    [
                        { 'id': 'IdProdutoServico' },
                        { 'id': 'SiglaFormaApresentacao' },
                        { 'id': 'CasasDecimaisFormaApresentacao' },
                        { 'id': 'QtdeFormaApresentacao' },

                        { 'id': 'Sigla' },
                        { 'id': 'CasasDecimais' },

                        { 'id': 'SiglaProdutoServicoFormaApresentacao' },
                        { 'id': 'CasasDecimaisProdutoServicoFormaApresentacao' },

                        { 'id': 'SiglaFinanceiroMoeda' },
                        { 'id': 'CasasDecimaisFinanceiroMoeda' },

                        { 'id': 'ProdutoOuFamilia', header: true, displayName: 'Produto', 'sortable': true },
                        { 'id': 'QtdeProdutoServicoFormaApresentacao', header: true, displayName: 'Apresentação', 'sortable': true },
                        { 'id': 'QtdeUnidadeProdutoServico', header: true, displayName: 'Quantidade', 'sortable': true },
                        { 'id': 'ValorUnitario', header: true, displayName: 'Valor Unitário', 'sortable': true },
                        { 'id': 'ValorTotal', header: true, displayName: 'Valor Unitário', 'sortable': true },

                        { displayName: "Ações", width: "70px", header: true, sortable: false }
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="text: ProdutoOuFamilia "></td>
                    <td data-bind="text: QtdeProdutoServicoFormaApresentacao, maskDecimal: { value: QtdeProdutoServicoFormaApresentacao, casasDecimais: CasasDecimaisProdutoServicoFormaApresentacao, prefix: SiglaProdutoServicoFormaApresentacao, extendedOptions: { rightAlign: false } }"></td>
                     <td data-bind="text: QtdeUnidadeProdutoServico, maskDecimal: { value: QtdeUnidadeProdutoServico, casasDecimais: CasasDecimais, prefix: Sigla, extendedOptions: { rightAlign: false } }"></td>
                     <td data-bind="text: ValorUnitario, maskDecimal: { value: ValorUnitario, casasDecimais: CasasDecimaisFinanceiroMoeda, prefix: SiglaFinanceiroMoeda, extendedOptions: { rightAlign: false } }"></td>
                     <td data-bind="text: ValorTotal, maskDecimal: { value: ValorTotal, casasDecimais: CasasDecimaisFinanceiroMoeda , prefix: SiglaFinanceiroMoeda, extendedOptions: { rightAlign: false } }"></td>
                    <td>
                        <a data-bind="attr: { href: '#/Estoque/Saldo/LocalPorProduto/' + IdProdutoServico() }" class="btn btn-secondary btn-icon" title="Produtos"><i class="material-icons">&#xE88A;</i></a>
                    </td>
                </tr>, orderByCol: "ProdutoOuFamilia", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false, showNewButton: false)
            </div>
        </div>
    </form>

    <template id="newedit-Item">
    </template>

</div>
