﻿@model HTM.MasterGestor.Web.UI.Areas.Contabilidade.ViewModels.AtividadeEconomicaPeriodo.IndexVM

<div id="filtro-grade">
    <template id="filter-AtividadeEconomicaPeriodoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroPeriodoPai">Período Superior</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroPeriodoPai", "IdAtividadeEconomicaPeriodoPaiIn", "IdAtividadeEconomicaPeriodo", "Descricao", "Descricao", "Descricao", "/Contabilidade/AtividadeEconomicaPeriodo/List", "Ativo: true", multiple: true, idChaveRelacao: "IdAtividadeEconomicaPeriodo")
        </div>
        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "AtividadeEconomicaPeriodoIndex",
    newUrl: "#/Contabilidade/AtividadeEconomicaPeriodo/New",
    editUrl: "#/Contabilidade/AtividadeEconomicaPeriodo/Edit",
    listUrl: "/Contabilidade/AtividadeEconomicaPeriodo/List",
    columns:
    @<script>
        [
           { 'id': 'IdAtividadeEconomicaPeriodo', editColumn: true },
           { 'id': 'RegistroProprio', 'defaultValue': '', 'filter': true },
           { 'id': 'DescricaoPai', sortable: true, groupable: true, displayName: 'Período Superior', groupTextValues: ['defaultValue', '[Sem Nível Superior]'] },
           { 'id': 'IdAtividadeEconomicaPeriodoPaiIn', filter: true },
           { 'id': 'Descricao', filter: true, header: true, 'defaultFilter': true },
           { 'id': 'DescricaoCompleta', filter: true, header: true, displayName: 'Superior' },
           { 'id': 'Sigla', header: true, displayName: 'Sigla' },
           { 'id': 'PeriodoVigor', header: true, displayName: 'Período Vigor' },
           { 'id': 'UltimoNivel', header: true, displayName: 'Último Nível' },
           { 'id': 'DescricaoHierarquica' },
           { 'id': 'EditarRegistro', 'header': true, 'filter': true, 'sortable': true, 'displayName': 'Editar Registro' },
           defaults.gridNewEdit.column.ativo,
           { displayName: "Ações", header: true, width: '160px' }
        ]
    </script>,
      templateRows:
    @<tr>
        <td data-bind="text: Descricao"></td>
        <td data-bind="text: DescricaoHierarquica"></td>
        <td data-bind="text: Sigla"></td>
        <td data-bind="text: Vigencia"></td>
        <td data-bind="template: { name: 'label-status', data: { status: UltimoNivel } }"></td>
         <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>
        <td data-bind="template: 'label-status'"></td>
         <td>
             <div style="float:left">
                 <span data-bind="template: { name: 'button-edit-url', data: { id: IdAtividadeEconomicaPeriodo } }"></span>
             </div>

             <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                 <a data-bind="attr: { href: '#/Contabilidade/AtividadeEconomicaPeriodo/Ativar/' + IdAtividadeEconomicaPeriodo}" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
             </div>

             <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                 <a data-bind="attr: { href: '#/Contabilidade/AtividadeEconomicaPeriodo/Inativar/' + IdAtividadeEconomicaPeriodo}" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
             </div>

             <div style="float:left;padding-left:5px;" data-bind="visible: (EditarRegistro == false)">
                 <a data-bind="attr: { href: '#/Contabilidade/AtividadeEconomicaPeriodo/View/' + IdAtividadeEconomicaPeriodo}" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
             </div>

         </td>
    </tr>,
    api: "indexVM.api",
    orderByCol: "DescricaoPai",
    orderByDir: HelpersUtil.OrderByDirEnum.Desc,
    groupByCol: "DescricaoPai",
    groupByDir: "desc",
    useHiddenColumns: false)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}