﻿@model HTM.MasterGestor.Web.UI.Areas.Contabilidade.ViewModels.AtividadeEconomicaPeriodo.NewEditVM
<div data-bind="stopBindings: true">
    <form id="form-AtividadeEconomicaPeriodo-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="60" />
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtSigla">Sigla</label>
                            <input type="text" id="txtSigla" name="txtSigla" data-bind="value: Sigla, validate: { required: true }" class="form-control" maxlength="10" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="ddlIdAtividadeEconomicaPeriodoPai">Período de Atividade Superior</label>
                            @HtmlHelper.Select.SearchableKO("ddlIdAtividadeEconomicaPeriodoPai", "IdAtividadeEconomicaPeriodoPai", "IdAtividadeEconomicaPeriodo", "DescricaoDetalhada", "Descricao", "Descricao", "/Contabilidade/AtividadeEconomicaPeriodo/List", "Ativo: true, UltimoNivel:false, ComAtividadesEconomica:true", allowClear: true, idChaveRelacao: "IdAtividadeEconomicaPeriodo", vmDataSelected: "vmParam.AtividadeSuperior")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">                        
                        <div class="form-group">
                            <label class="control-label" for="chkUltimoNivel">Ultimo Nível</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: UltimoNivel, flipper: { observable: UltimoNivel, options: { 'onText': 'Sim', 'offText': 'Não', 'css': 'warning' } }">
                        </div>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.SimNao }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" data-toggle="collapsible" data-optional-label-text="" id="pnlPeriodoLancamentos">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Período para lançamentos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <label>Quais as datas que abrangem este período?</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtDataInicio">Data Início</label>
                            <div class="input-group date form-group">
                                <input id="txtDataInicio" name="DataInicio" placeholder="Selecione" class="form-control" data-bind="value: DataInicioExibicao, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataInicioExibicao }, validate: { required:true }" />
                                <span class="input-group-addon">
                                    <i class="material-icons">&#xE878;</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtDataTermino">Data Término</label>
                            <div class="input-group date form-group">
                                <input id="txtDataTermino" name="txtDataTermino" placeholder="Selecione" class="form-control" data-bind="value: DataTermino, datepicker: { options: defaults.datepicker.date }, mask:{ options: defaults.mask.date, value: DataTermino }, validate: { required:true }" />
                                <span class="input-group-addon">
                                    <i class="material-icons">&#xE878;</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" data-toggle="collapsible" id="pnlAtividadesEconomicas">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Atividades Econômicas</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <label>Este Período de Atividade se relaciona a quais Atividades Econômicas?</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">                            
                            @HtmlHelper.Select.SearchableKO("ddlAtividadeEconomica", "IdsAtividadeEconomica", "IdAtividadeEconomicaIn", "Descricao", "Descricao", "Descricao", "/Contabilidade/AtividadeEconomica/List", "Ativo:true", multiple: true, idChaveRelacao: "IdAtividadeEconomica")
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="panel panel-default" data-bind="collapsible: { vmArray: [vm.IdsPessoa() ] }" id="pnlEmpresasUsuariasRestritas">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Restrição de Uso para Empresa Usuária</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <label>Este Período de Atividade restringe o uso para quais Empresas Usuárias?</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            @HtmlHelper.Select.SearchableKO("ddlPessoaRestrita", "IdsPessoa", "IdPessoa", "NomeSecundario", "ApelidoFantasia", "NomeSecundario", "/Corporativo/Pessoa/ListPessoaPersonalizado", "ComPessoa:false,ComEmpresaUsuaria:true,ComEmpresa:false,Ativo:true, IdPessoaNaturezaNotIn: 4", idChaveRelacao: "IdPessoa", multiple: true)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>