﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.Ordem.IndexVM

<div id="filtro-grade">
    <template id="filter-OrdemIndex">
        <!--Código, Descrição -->
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Código ou Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: DescricaoBusca" class="form-control" />
        </div>
        <!-- Categoria Serviço -->
        <div class="form-group">
            <label for="ddlFiltroCategoriaServico" class="control-label">Categoria de Serviço</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroCategoriaServico", "IdCategoriaServicoIn", "IdCategoriaServicoIn", "Descricao", "Descricao", "Descricao", "/Corporativo/CategoriaServico/List", dadosCompl: "Ativo:true", multiple:true, idChaveRelacao:"IdCategoriaServico")
        </div>
        <!-- Aplicação -->
        <div class="form-group">
            <label for="ddlFiltroAplicacao" class="control-label">Aplicação</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroAplicacao", "IdAplicacaoReferenciaIn", "IdAplicacaoReferenciaIn", "DescricaoAplicacaoReferenciaExibicao", "DescricaoBusca", "DescricaoAplicacaoReferenciaExibicao", "/Aplicacao/AplicacaoReferencia/ListPorAplicacaoTipo", dadosCompl: "Ativo:true, IdAplicacaoTipoIn: \\'1,2,3,4,5\\'", multiple: true, idChaveRelacao: "IdAplicacaoReferencia")
        </div>
        <!-- Sub Aplicação -->
        <div class="form-group">
            <label for="ddlFiltroSubAplicacao" class="control-label">Sub Aplicação</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroSubAplicacao", "IdSubAplicacaoReferenciaIn", "IdSubAplicacaoReferenciaIn", "DescricaoSubAplicacaoReferenciaExibicao", "DescricaoBusca", "DescricaoSubAplicacaoReferenciaExibicao", "/Aplicacao/SubAplicacaoReferencia/ListPorTipoAplicacao", dadosCompl: "Ativo:true,IdAplicacaoTipoIn: \\'1,2,3,4,5\\'", multiple: true, idChaveRelacao: "IdSubAplicacaoReferencia")
        </div>
        <!-- Situação -->
        <!-- Período de Atidade -->
        <div class="form-group" style="width: 250px">
            <label for="ddlFiltroAtividadeEconomicaPeriodo" class="control-label">Período de Atividade</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroAtividadeEconomicaPeriodo", "IdAtividadeEconomicaPeriodo", "AtividadeEconomicaPeriodo", "Descricao", "Descricao", "Descricao", "/Contabilidade/AtividadeEconomicaPeriodo/List", dadosCompl: "Ativo:true")
        </div>
        <!-- Período de Programação -->
        <div class="form-group">
            <label for="txtFiltroPeriodoEstimado" class="control-label">Período de Programação</label>
            <div class="input-group date">
                <input type="text" id="txtFiltroPeriodoEmissao" data-bind="daterangepicker: { startDate: StrDataInicioEstimativa, endDate: StrDataTerminoEstimativa }" class="form-control" />
                <div class="input-group-addon input-group-btn"><i class="material-icons">&#xE916;</i></div>
            </div>
        </div>
        <!-- Período de Realização -->
        <div class="form-group">
            <label for="txtFiltroPeriodoRealizado" class="control-label">Período de Realização</label>
            <div class="input-group date">
                <input type="text" id="txtFiltroPeriodoEmissao" data-bind="daterangepicker: { startDate: StrDataInicioRealizado, endDate: StrDataTerminoRealizado }" class="form-control" />
                <div class="input-group-addon input-group-btn"><i class="material-icons">&#xE916;</i></div>
            </div>
        </div>
        <!--Natureza Operacional-->
        <div class="form-group">
            <label for="ddlFiltroNaturezaOperacional" class="control-label">Natureza Operacional</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroNaturezaOperacional", "IdNaturezaOperacionalIn", "IdNaturezaOperacionalIn", "Descricao", "Descricao", "Descricao", "/Corporativo/NaturezaOperacional/List", dadosCompl: "Ativo:true", multiple: true,idChaveRelacao:"IdNaturezaOperacional")
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
        id: "OrdemIndex",
        newUrl: "#/Corporativo/Ordem/New",
        editUrl: "#/Corporativo/Ordem/Edit",
        listUrl: "/Corporativo/Ordem/List",
        columns:
        @<script>
            [
                { 'id': 'IdOrdem', editColumn: true },
                { 'id': 'DescricaoBusca', 'filter': true, 'defaultFilter': true },
                { 'id': 'IdCategoriaServicoIn', 'filter': true },
                { 'id': 'IdNaturezaOperacionalIn', 'filter': true },
                { 'id': 'IdAplicacaoReferenciaIn', filter: true },
                { 'id': 'IdSubAplicacaoReferenciaIn', filter: true },
                { 'id': 'IdAtividadeEconomicaPeriodo', 'filter': true },
                { 'id': 'StrDataInicioEstimativa', 'filter': true },
                { 'id': 'StrDataTerminoEstimativa', 'filter': true },
                { 'id': 'StrDataInicioRealizado', 'filter': true },
                { 'id': 'StrDataTerminoRealizado', 'filter': true },
                { 'id': 'PessoaEmitente', 'filter': true, 'displayName': 'Emitente', groupable: true },
                { 'id': 'PessoaDestinatario', 'filter': true, 'displayName': 'Destinatário', groupable: true },
                { 'id': 'Codigo', 'header': true, 'filter': true, 'displayName': 'Código', sortable: true },
                { 'id': 'Descricao', 'header': true, 'filter': true, 'displayName': 'Descrição', sortable: true },
                { 'id': 'DescricaoCategoriaServico', 'header': true, 'displayName': 'Descrição (Categoria)', sortable: true },
                { 'id': 'DescricaoAplicacaoReferenciaExibicao', 'header': true, 'displayName': 'Aplicação', groupable:true },
                { 'id': 'DescricaoSubAplicacaoReferenciaExibicao', 'header': true, 'displayName': 'Sub Aplicação', groupable: true },
                { 'id': 'PeriodoEstimadoExibicao', 'header': true, 'displayName': 'Programação' },
                { 'id': 'PeriodoRealizadoExibicao', 'header': true, 'displayName': 'Realizado' },
                defaults.gridNewEdit.column.ativo,
                defaults.gridNewEdit.column.acao
            ]
        </script>,
        templateRows:
        @<tr>
            <td data-bind="text: Codigo"></td>
            <td data-bind="text: Descricao, id: IdOrdem"></td>
            <td data-bind="text: DescricaoCategoriaServico"></td>
            <td data-bind="text: DescricaoAplicacaoReferenciaExibicao"></td>
            <td data-bind="text: DescricaoSubAplicacaoReferenciaExibicao"></td>
            <td data-bind="text: PeriodoEstimadoExibicao"></td>
            <td data-bind="text: PeriodoRealizadoExibicao"></td>
            <td data-bind="template: 'label-status'"></td>
            <td data-bind="template: { name: 'button-edit-url', data: { id: IdOrdem } }"></td>
        </tr>, api: "indexVM.api", orderByCol: "Descricao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)

</div>
@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}

