﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.Ordem.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-Ordem-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtCodigo">Código<span>(Automático)</span></label>
                                <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" maxlength="500" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlCategoriaServico" class="control-label">Categoria de Serviço</label>
                                @HtmlHelper.Select.SearchableKO("ddlCategoriaServico", "IdCategoriaServico", "IdCategoriaServico", "Descricao", "Descricao", "Descricao", "/Corporativo/CategoriaServico/ListComItensRestritos", dadosCompl:"Ativo:true", vmDataSelected: "vmParam.CategoriaServicoVM", required: true)
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group read-mode">
                                <label for="txtDescricaoFormaApropriacao">Forma de Apropriação de Custo</label>
                                <input type="text" id="txtDescricaoFormaApropriacao" name="txtDescricaoFormaApropriacao" data-bind="value: DescricaoFormaApropriacaoCusto" class="form-control" maxlength="150" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlPessoaEmitente">Emitente</label>
                                @HtmlHelper.Select.SearchableKO("ddlPessoaEmitente", "IdPessoaEmitente", "IdPessoa", "NomeSecundario", "ApelidoFantasia", "NomeSecundario", "/Corporativo/Pessoa/ListPessoaPersonalizado", dadosComplObservable: "dadosComplementaresEmpresaUsuariaEmitente", idChaveRelacao: "IdPessoa", required: true)
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlPessoaDestinatario">Destinatário</label>
                                @HtmlHelper.Select.SearchableKO("ddlPessoaDestinatario", "IdPessoaDestinatario", "IdPessoa", "NomeSecundario", "ApelidoFantasia", "NomeSecundario", "/Corporativo/Pessoa/ListPessoaPersonalizado", dadosComplObservable: "dadosComplementaresEmpresaUsuariaDestinataria", idChaveRelacao: "IdPessoa", required: true)
                            </div>
                        </div>
                        <div class="col-xs-4" data-bind="visible: DescricaoObrigatoria">
                            <div class="form-group">
                                <label for="txtDescricao">Descrição</label>
                                <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: DescricaoObrigatoria }" class="form-control" maxlength="150" />
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: ResponsavelVisivel">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="ddlResponsaveis">Responsáveis</label>
                                @HtmlHelper.Select.SearchableKO("ddlResponsaveis", "IdsPessoaResponsavel", "IdPessoaIn", "NomeSecundario", "ApelidoFantasia", "NomeSecundario", "/Corporativo/Pessoa/ListPessoaPersonalizado", "ComPessoa:true,ComEmpresaUsuaria:false,ComEmpresa:false,Ativo:true, IdPessoaNaturezaNotIn: 4", idChaveRelacao: "IdPessoa", multiple: true, dataBind: "validate: { required : ResponsavelObrigatorio } ")
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkAtivo">Ativo</label>
                                <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" id="pnlAplicacao">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Aplicação</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlAplicacao">Onde será realizado o Serviço (Aplicação)</label>
                                @HtmlHelper.Select.SearchableKO("ddlAplicacao", "IdsAplicacao", "IdAplicacaoReferenciaIn", "DescricaoAplicacaoReferenciaExibicao", "DescricaoBusca", "DescricaoAplicacaoReferenciaExibicao", "/Aplicacao/AplicacaoReferencia/ListPorAplicacaoTipo", dadosComplObservable: "dadosComplementaresAplicacao", idChaveRelacao: "IdAplicacaoReferencia", multiple: true, required: true)
                            </div>
                        </div>
                        <div class="col-xs-4" data-bind="visible: ExibeSubAplicacao">
                            <div class="form-group">
                                <label for="ddlSubAplicacao">Detalhes de onde será realizado o Serviço (Sub Aplicação)</label>
                                @HtmlHelper.Select.SearchableKO("ddlSubAplicacao", "IdsSubAplicacao", "IdSubAplicacaoReferenciaIn", "DescricaoSubAplicacaoExibicao", "DescricaoSubAplicacaoBusca", "DescricaoSubAplicacaoExibicao", "/Aplicacao/SubAplicacaoReferencia/ListPorTipoAplicacao", idChaveRelacao: "IdSubAplicacaoReferencia", dataBind: "validate: { required : SubAplicacaoObrigatoria } ", multiple: true, idControleDependencia: "ddlAplicacao", idDependencia: "IdAplicacaoReferenciaIn", dadosComplObservable: "dadosComplementaresSubAplicacao")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" id="pnlPeriodo">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Período de Realização</h3>
                </div>
                <div class="panel-body">
                    <div class="row" data-bind="visible: ExibePeriodoAtividadeEconomica">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <label for="ddlResponsaveis">Para qual Período de Atividade esta Ordem esta sendo realizada?</label>
                                @HtmlHelper.Select.SearchableKO("ddlAtividadeEconomicaPeriodo", "IdAtividadeEconomicaPeriodo", "IdAtividadeEconomicaPeriodo", "DescricaoDetalhada", "Descricao", "Descricao", "/Contabilidade/AtividadeEconomicaPeriodo/List", dadosComplObservable: "dadosComplementaresAtividadeEconomicaPeriodo", idChaveRelacao: "IdAtividadeEconomicaPeriodo", dataBind: "validate: { required : ExibePeriodoAtividadeEconomica } ")
                            </div>
                        </div>
                    </div>
                    <fieldset data-bind="visible: ExibePeriodoAtividadeEconomica">
                        <legend>Programação</legend>
                        <div class="row">
                            <div class="col-xs-4" data-bind="visible: ExibeDataInicioEstimada">
                                <div class="form-group">
                                    <label for="txtDataInicio">Data Início Programação</label>
                                    <div class="input-group date">
                                        <input id="txtDataInicioEstimada" name="txtDataInicioEstimada" class="form-control" data-bind="value: DataInicioEstimadaExibicao, datepicker: { options: defaults.datepicker.datetime }, mask: { options: defaults.mask.datetime, value: DataInicioEstimadaExibicao }, validate: { required: ExibeDataInicioEstimada } " />
                                        <span class="input-group-addon">
                                            <i class="material-icons">&#xE878;</i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4" data-bind="visible: ExibeDataTerminoEstimada">
                                <div class="form-group">
                                    <label for="txtDataInicio">Data Término Programação</label>
                                    <div class="input-group date">
                                        <input id="txtDataTerminoEstimadaExibicao" name="txtDataTerminoEstimadaExibicao" class="form-control" data-bind="value: DataTerminoEstimadaExibicao, datepicker: { options: defaults.datepicker.datetime }, mask: { options: defaults.mask.datetime, value: DataTerminoEstimadaExibicao }, validate: { required: ExibeDataTerminoEstimada }" />
                                        <span class="input-group-addon">
                                            <i class="material-icons">&#xE878;</i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset data-bind="visible: ExibePeriodoAtividadeEconomica">
                        <legend>Realização</legend>
                        <div class="row">
                            <div class="col-xs-4" data-bind="visible: ExibeDataInicioRealizado">
                                <div class="form-group">
                                    <label for="txtDataInicio">Data Início Realização</label>
                                    <div class="input-group date">
                                        <input id="txtDataInicioRealizadoExibicao" name="txtDataInicioRealizadoExibicao" class="form-control" data-bind="value: DataInicioRealizadoExibicao, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataInicioRealizadoExibicao }" />
                                        <span class="input-group-addon">
                                            <i class="material-icons">&#xE878;</i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4" data-bind="visible: ExibeDataTerminoRealizado">
                                <div class="form-group">
                                    <label for="txtDataInicio">Data Término Realização</label>
                                    <div class="input-group date">
                                        <input id="txtDataTerminoRealizadoExibicao" name="txtDataTerminoRealizadoExibicao" class="form-control" data-bind="value: DataTerminoRealizadoExibicao, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataTerminoRealizadoExibicao }" />
                                        <span class="input-group-addon">
                                            <i class="material-icons">&#xE878;</i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="panel panel-default" id="pnlEtapasServicos">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Etapas, Serviços e Programação de Recursos </h3>
                </div>
                <div class="panel-body">

                    @HtmlHelper.GridView.GridNewEdit(
                id: "EtapaServico", // Declarar na página <template id="newedit-id"></template>
                vm: "Etapas",
                title: "Dados Básicos",
                addTitle: "Novo",
                columns: @<script>
                    [
                        { 'id': 'IdOrdemEtapa' },
                        { 'id': 'IdAtividadeEconomicaEtapa' },
                        { 'id': 'IdOrdem' },
                        { 'id': 'IdProdutoServico' },
                        { 'id': 'Sequencia', header: true, displayName: 'Sequência', 'sortable': true },
                        { 'id': 'DescricaoAtividadeEconomicaEtapa', header: true, displayName: 'Etapa', 'sortable': true },
                        { 'id': 'DescricaoProdutoServico', header: true, displayName: 'Serviços', 'sortable': true },
                        defaults.gridNewEdit.column.acaoEditRemove
                    ]
                    </script>,
                templateRows:
                    @<tr>
                        <td data-bind="template: { name: 'link-edit', data: { text: Sequencia }  }"></td>
                        <td data-bind="text: DescricaoAtividadeEconomicaEtapa"></td>
                        <td data-bind="text: DescricaoProdutoServico"></td>
                        <td data-bind="template: { name: 'button-edit-remove' }"></td>
                    </tr>, orderByCol: "Sequencia", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)
                </div>
            </div>
        </div>
    </form>
    <template id="newedit-EtapaServico">
        <div class="row">
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="txtSequencia">Sequência</label>
                    <input type="number" id="txtSequencia" name="txtSequencia" data-bind="value: Sequencia " class="form-control" maxlength="4" />
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="ddlAtividadeEconomicaEtapa">Etapa</label>
                    @HtmlHelper.Select.SearchableKO("ddlAtividadeEconomicaEtapa", "IdAtividadeEconomicaEtapa", "IdAtividadeEconomicaEtpa", "Descricao", "Descricao", "Descricao", "/Contabilidade/AtividadeEconomicaEtapa/List","Ativo:true", required: true, vmTextSelected: "DescricaoAtividadeEconomicaEtapa", dadosComplObservable: "vm.dadosComplementaresAtividadeEconomicaEtapa")
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label class="control-label" for="ddlServico">Serviço</label>
                    @HtmlHelper.Select.SearchableKO("ddlServico", "IdProdutoServico", "IdProdutoServico", "Descricao", "Descricao", "Descricao", "/Estoque/Servico/List", "Ativo:true, Natureza:2", idChaveRelacao: "IdProdutoServico", required: true, vmTextSelected: "DescricaoProdutoServico", dadosComplObservable: "vm.dadosComplementaresProdutoServico")
                </div>
            </div>
        </div>
    </template>
</div>
