﻿@model HTM.MasterGestor.Web.UI.Areas.Questionario.ViewModels.Contexto.NewEditVM

<routeOptions data-show-back-button="true" data-route-custom='route-Questionario' data-title-descricao="@Model.DescricaoExibicao"></routeOptions>

<div>
    <form id="form-QuestionarioContexto-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Contexto para Aplicação do Questionário</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="ddlTelaContexto">Telas que serão apresentados os Questionário</label>
                            @HtmlHelper.Select.SearchableKO("ddlTelaContexto", "IdsTela", "IdTelaIn", "Descricao", "Descricao", "Descricao", "/Configuracao/Tela/List", required: true, dadosCompl: "Ativo:1, ExibeMenu:1", multiple: true, idChaveRelacao: "IdTela")
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Informações Referência do Questionário</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label class="control-label" for="chkEmpresaUsuariaObrigatoria">Informa Empresa Usuária</label>
                            <input type="checkbox" class="no-uniform" id="chkEmpresaUsuariaObrigatoria" data-bind="checked: EmpresaUsuariaObrigatoria, flipper: { observable: EmpresaUsuariaObrigatoria, options: {'css':'warning'} }">
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label class="control-label" for="chkInformaPessoa">Informar Pessoa Aplicadora</label>
                            <input type="checkbox" class="no-uniform" id="chkInformaPessoa" data-bind="checked: InformaPessoa, flipper: { observable: InformaPessoa, options: {'css':'warning'} }">
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label class="control-label" for="chkInformaPeriodoAtividade">Informa Período Produção</label>
                            <input type="checkbox" class="no-uniform" id="chkInformaPeriodoAtividade" data-bind="checked: InformaPeriodoAtividade, flipper: { observable: InformaPeriodoAtividade, options: {'css':'warning'} }">
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label class="control-label" for="chkInformaHora">Informa Hora</label>
                            <input type="checkbox" class="no-uniform" id="chkInformaHora" data-bind="checked: InformaHora, flipper: { observable: InformaHora, options: {'css':'warning'} }">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkPermiteDataDiferenteLancamento">Permite Data Aplicação diferente de Lançamento</label>
                            <input type="checkbox" class="no-uniform" id="chkPermiteDataDiferenteLancamento" data-bind="checked: PermiteDataDiferenteLancamento, flipper: { observable: PermiteDataDiferenteLancamento, options: {'css':'warning'} }">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlQuestionarioCategoriaMedidorContexto">Se refere a alguma Categoria de Medidor. Se sim, informe.</label>
                            @HtmlHelper.Select.SearchableKO("ddlQuestionarioCategoriaMedidorContexto", "IdsCategoriaMedidor", "IdQuestionarioCategoriaMedidorIn", "Descricao", "Descricao", "Descricao", "/Questionario/CategoriaMedidor/List", dadosCompl: "Ativo:true", idChaveRelacao:"IdQuestionarioCategoriaMedidor", multiple: true)
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlQuestionarioUnidadeAmostralContexto">Se refere a algum Tipo de Unidade Amostral. Se sim, informe.</label>
                            @HtmlHelper.Select.SearchableKO("ddlQuestionarioUnidadeAmostralContexto", "IdQuestionarioUnidadeAmostral", "IdQuestionarioUnidadeAmostral", "Descricao", "Descricao", "Descricao", "/Questionario/UnidadeAmostral/List", dadosCompl: "Ativo:1")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtControleQualidadeReferencia">Referência no Controle de Qualidade</label>
                            <input type="text" id="txtControleQualidadeReferencia" name="txtControleQualidadeReferencia" data-bind="value: ControleQualidadeReferencia" class="form-control" maxlength="50" />
                        </div>
                    </div>
                </div>

                <div class="optional hide-panel" id="pnlDetalhesEmpresa" data-bind="collapsible: { vmArray: [ vm.IdsPessoaEmpresa() ] }, visible: vm.EmpresaUsuariaObrigatoria() == true ">
                    <a href="#">Detalhes de Empresa</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="form-group">
                                    <label for="ddlEmpresaUsuarioContexto">Informe quais Empresas Usuárias não pode ser usada no Questionário.</label>
                                    @HtmlHelper.Select.SearchableKO("ddlEmpresaUsuarioContexto", "IdsPessoaEmpresa", "IdPessoaIn", "CodigoNomeSecundario", "BuscaAvancada", "CodigoNomeSecundario", "/Corporativo/EmpresaUsuaria/List", dadosCompl: "Ativo:1", multiple: true, idChaveRelacao: "IdPessoa")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="optional hide-panel" id="pnlDetalhesPessoaAplicacao" data-bind="collapsible: { vmArray: [ vm.IdsPessoa() ] }, visible: vm.InformaPessoa() == true ">
                    <a href="#">DETALHES DA PESSOA APLICADORA DE QUESTIONÁRIO</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label" for="chkPermitePessoaDiferenteDoDigitador">Permite Aplicador ser diferente de Digitador</label>
                                    <input type="checkbox" class="no-uniform" id="chkPermitePessoaDiferenteDoDigitador" data-bind="checked: PermitePessoaDiferenteDoDigitador, flipper: { observable: PermitePessoaDiferenteDoDigitador, options: {'css':'warning'} }">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="txtNomeAplicador">Nome do Aplicador</label>
                                    <input type="text" id="txtNomeAplicador" name="txtNomeAplicador" data-bind="value: NomeAplicador, validate: { required: vm.PermitePessoaDiferenteDoDigitador() }" class="form-control" maxlength="50" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6" data-bind="visible: vm.PermitePessoaDiferenteDoDigitador() == true">
                                <div class="form-group">
                                    <label for="ddlTipoAplicacaoQuestionarioPessoa" class="control-label">Outras Informações a serem Preenchidos ou Parâmetros para Aplicação do Questionário</label>
                                    <select id="ddlTipoOutroReferencia" name="ddlTipoAplicacaoQuestionarioPessoa" class="form-control no-search" data-bind="value: TipoAplicacaoQuestionarioPessoa">
                                        <option value="1">Todos podem aplicar</option>
                                        <option value="2">Apenas de Determinado Perfil</option>
                                        <option value="3">Apenas de Pessoas Definidas</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row" data-bind="visible: vm.TipoAplicacaoQuestionarioPessoa() == 2">
                            <div class="col-xs-8">
                                <div class="form-group">
                                    <label for="ddlPessoaPerfilXContexto">Informe quais Perfis de Pessoa podem Aplicar o Questionário.</label>
                                    @HtmlHelper.Select.SearchableKO("ddlPessoaPerfilXContexto", "IdsPessoaPerfilAplicador", "IdPessoaPerfilIn", "Descricao", "Descricao", "Descricao", "/Corporativo/PessoaPerfil/List", dataBind: " validate: { required: vm.TipoAplicacaoQuestionarioPessoa() == 2 } ", dadosCompl: "Ativo:1", multiple: true, idChaveRelacao: "IdPessoaPerfil")
                                </div>
                            </div>
                        </div>

                        <div class="row" data-bind="visible: vm.TipoAplicacaoQuestionarioPessoa() == 3 ">
                            <div class="col-xs-8">
                                <div class="form-group">
                                    <label for="ddlPessoaContexto">Informe quais Pessoas podem Aplicar o Questionário.</label>
                                    @HtmlHelper.Select.SearchableKO("ddlPessaoContexto", "IdsPessoa", "IdPessoaIn", "CodigoNomeSecundario", "BuscaAvancada", "CodigoNomeSecundario", "/Corporativo/Pessoa/List", dataBind: " validate: { required: vm.TipoAplicacaoQuestionarioPessoa() == 3 } ", dadosCompl: "Ativo:1,IdPessoaNaturezaNotIn:3", multiple: true, idChaveRelacao: "IdPessoa")
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Parâmetros para Aplicação do Questionário</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="ddlTipoAplicacaoQuestionario" class="control-label">Outras Informações a serem Preenchidos ou Parâmetros para Aplicação do Questionário</label>
                            <select id="ddlTipoAplicacaoQuestionario" name="ddlTipoAplicacaoQuestionario" class="form-control no-search" data-bind="value: TipoAplicacaoQuestionario">
                                <option value=""></option>
                                <option value="5">Pessoa</option>
                                <option value="1">Aplicação</option>
                                <option value="2">Categoria de Serviço</option>
                                <option value="3">Tipo de Documento</option>
                                <option value="4">Cultura</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Tipo Aplicação e Sub Tipo Aplicação -->
                <!-- Begin -->
                <div class="row" data-bind="visible: vm.TipoAplicacaoQuestionario() == 1">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="ddlAplicacaoTipoContextoParametro">Informe quais Tipos de Aplicação podem ser usados no Questionário.</label>
                            @HtmlHelper.Select.SearchableKO("ddlAplicacaoTipoContextoParametro", "IdsAplicacaoTipoParametro", "IdAplicacaoTipoIn", "Descricao", "Descricao", "Descricao", "/Aplicacao/AplicacaoTipo/List", dataBind: " validate: { required: vm.TipoAplicacaoQuestionario() == 1 }", dadosCompl: "Ativo:1", multiple: true, idChaveRelacao: "IdAplicacaoTipo")
                        </div>
                    </div>
                </div>
                <div class="row" data-bind="visible: vm.TipoAplicacaoQuestionario() == 1">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label class="control-label" for="chkPermiteSubAplicacao">Permite Sub Aplicação</label>
                            <input type="checkbox" class="no-uniform" id="chkPermiteSubAplicacao" data-bind="checked: PermiteSubAplicacao, flipper: { observable: PermiteSubAplicacao, options: {'css':'warning'} }">
                        </div>
                    </div>
                    <div class="col-xs-6" data-bind="visible: vm.PermiteSubAplicacao() == true">
                        <div class="form-group">
                            <label for="ddlSubAplicacaoTipoContextoParametro">Informe quais os Tipos de SubAplicações podem ser usados no Questionário.</label>
                            @HtmlHelper.Select.SearchableKO("ddlSubAplicacaoTipoContextoParametro", "IdsSubAplicacaoTipoParametro", "IdSubAplicacaoTipoIn", "Descricao", "Descricao", "Descricao", "/Aplicacao/SubAplicacaoTipo/List", dataBind: " validate: { required: vm.PermiteSubAplicacao() }", dadosCompl: "Ativo:1", multiple: true, idChaveRelacao: "IdSubAplicacaoTipo", idControleDependencia: "ddlAplicacaoTipoContextoParametro", idDependencia: "IdAplicacaoTipoIn")
                        </div>
                    </div>
                </div>

                <!-- Categoria de Serviço -->
                <div class="row" data-bind="visible: vm.TipoAplicacaoQuestionario() == 2">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="ddlCategoriaServicoContexto">Informe para quais Categorias de Serviço o Questionário deve ser apresentado.</label>
                            @HtmlHelper.Select.SearchableKO("ddlCategoriaServicoContexto", "IdsCategoriaServico", "IdCategoriaServicoIn", "Descricao", "Descricao", "Descricao", "/Corporativo/CategoriaServico/List", dataBind: " validate: { required: vm.TipoAplicacaoQuestionario() == 2 }", dadosCompl: "Ativo:1", multiple: true, idChaveRelacao: "IdCategoriaServico")
                        </div>
                    </div>
                </div>

                <!-- Tipo Documento -->
                <div class="row" data-bind="visible: vm.TipoAplicacaoQuestionario() == 3">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="ddlDocumentoTipoContexto">Informe para quais Categorias de Serviço o Questionário deve ser apresentado.</label>
                            @HtmlHelper.Select.SearchableKO("ddlDocumentoTipoContexto", "IdsDocumentoTipo", "IdDocumentoTipoIn", "Descricao", "Descricao", "Descricao", "/Contabilidade/DocumentoTipo/List", dataBind: " validate: { required: vm.TipoAplicacaoQuestionario() == 3 }", dadosCompl: "Ativo:1", multiple: true, idChaveRelacao: "IdDocumentoTipo")
                        </div>
                    </div>
                </div>

                <!-- Cultura -->
                <div class="row" data-bind="visible: vm.TipoAplicacaoQuestionario() == 4">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="ddlProducaoCulturaContexto">Informe para quais Categorias de Serviço o Questionário deve ser apresentado.</label>
                            @HtmlHelper.Select.SearchableKO("ddlProducaoCulturaContexto", "IdsProducaoCultura", "IdProducaoCulturaIn", "Descricao", "Descricao", "Descricao", "/Agricola/Cultura/List", dataBind: " validate: { required: vm.TipoAplicacaoQuestionario() == 4 }", dadosCompl: "Ativo:1", multiple: true, idChaveRelacao: "IdProducaoCultura")
                        </div>
                    </div>
                </div>

                <!-- Pessoa -->
                <div class="optional hide-panel" id="pnlDetalhesPessoa" data-bind="collapsible: { vmArray: [ vm.IdsPessoaPerfil() ] }, visible: vm.TipoAplicacaoQuestionario() == 5" >
                    <a href="#">Detalhes de Pessoa</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label" for="chkPermiteAdicionarPessoa">Permite Adicionar Pessoa</label>
                                    <input type="checkbox" class="no-uniform" id="chkPermiteAdicionarPessoa" data-bind="checked: PermiteAdicionarPessoa, flipper: { observable: PermiteAdicionarPessoa, options: {'css':'warning'} }">
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label" for="chkPermiteConsultaPessoa">Permite Consultar Pessoa</label>
                                    <input type="checkbox" class="no-uniform" id="chkPermiteConsultaPessoa" data-bind="checked: PermiteConsultaPessoa, flipper: { observable: PermiteConsultaPessoa, options: {'css':'warning'} }">
                                </div>
                            </div>
                            <div class="col-xs-5" data-bind="visible: vm.PermiteConsultaPessoa() == true">
                                <div class="form-group">
                                    <label for="ddlPessoaPerfilContexto">Informe quais Perfis de Pessoa podem ser consultados no Questionário.</label>
                                    @HtmlHelper.Select.SearchableKO("ddlPessoaPerfilContexto", "IdsPessoaPerfil", "IdPessoaPerfilIn", "Descricao", "Descricao", "Descricao", "/Corporativo/PessoaPerfil/List", dataBind: " validate: { required: vm.PermiteConsultaPessoa() }", dadosCompl: "Ativo:1", multiple: true, idChaveRelacao: "IdPessoaPerfil")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </form>
</div>
