﻿@model HTM.MasterGestor.Web.UI.Areas.Agricola.ViewModels.UnidadeTipo.IndexVM

<div id="filtro-grade">
    <template id="filter-AgricolaUnidadeTipoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroUnidadeTipo" class="control-label">Tipo de Unidade</label>
            <select class="form-control no-search" data-bind="value: CaracteristicaUnidadeTipo" id="ddlFiltroUnidadeTipo">
                <option value="">Indiferente</option>
                <option value="1">Agricultura</option>
                <option value="2">Extrativismo</option>
                <option value="3">Local de criação cultivado</option>
                <option value="4">Local de criação sem cultivo e fixo</option>
                <option value="5">Local de criação sem cultivo e móvel</option>
                <option value="6">Processamento / Beneficiamento</option>
            </select>
        </div>
        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "AgricolaUnidadeTipoIndex",
    newUrl: "#/Agricola/UnidadeTipo/New",
    editUrl: "#/Agricola/UnidadeTipo/Edit",
    listUrl: "/Agricola/UnidadeTipo/List",
    columns:
    @<script>
        [
           { 'id': 'IdProducaoUnidadeTipo', editColumn: true },
           { 'id': 'RegistroProprio', 'defaultValue': '', 'filter': true },
           { 'id': 'CaracteristicaUnidadeTipo', defaultValue: '', filter: true },
           { 'id': 'Descricao', filter: true, header: true, 'defaultFilter': true, displayName: 'Descrição' },
           { 'id': 'Prefixo', header: true },
           { 'id': 'EditarRegistro', 'header': true, 'filter': true, 'sortable': true, 'displayName': 'Editar Registro' },
           defaults.gridNewEdit.column.ativo,
           { displayName: "Ações", header: true, width: '160px' }
        ]
    </script>,
      templateRows:
    @<tr>
        <td data-bind="text: Descricao"></td>
        <td data-bind="text: Prefixo"></td>
        <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>
        <td data-bind="template: 'label-status'"></td>
        <td>
            <div style="float:left">
                <span data-bind="template: { name: 'button-edit-url', data: { id: IdProducaoUnidadeTipo } }"></span>
            </div>

            <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                <a data-bind="attr: { href: '#/Agricola/UnidadeTipo/Ativar/' + IdProducaoUnidadeTipo}" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
            </div>

            <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                <a data-bind="attr: { href: '#/Agricola/UnidadeTipo/Inativar/' + IdProducaoUnidadeTipo}" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
            </div>

            <div style="float:left;padding-left:5px;" data-bind="visible: (EditarRegistro == false)">
                <a data-bind="attr: { href: '#/Agricola/UnidadeTipo/View/' + IdProducaoUnidadeTipo}" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
            </div>
    </tr>,
    api: "indexVM.api",
    orderByCol: "Descricao",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,
    useHiddenColumns: false)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
