﻿@model HTM.MasterGestor.Web.UI.Areas.Agricola.ViewModels.UnidadeTipo.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-ProdutoUnidadeTipo-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlUnidadeTipo" class="control-label">Caracterização do Tipo de Unidade</label>
                            <select class="form-control no-search required" id="ddlUnidadeTipo" data-bind="value: CaracteristicaUnidadeTipo">
                                <option value="1">Agricultura e outras opções de Cultivo</option>
                                <option value="7">Viveiro de Mudas</option>
                                <option value="2">Vegetação Nativa e Extrativismo</option>
                                <option value="3">Local de criação com opção de cultivo</option>
                                <option value="4">Local de criação sem cultivo</option>
                                <option value="5">Local de criação móvel</option>
                                <option value="6">Local onde se Beneficia ou Processa</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="chkPermiteRepresentacaoGeo">Permite Representação Geográfica</label>
                            <input type="checkbox" class="no-uniform" id="chkPermiteRepresentacaoGeo" data-bind="checked: PermiteRepresentacaoGeo, flipper: { observable: PermiteRepresentacaoGeo, options: { 'css': 'warning' } }">
                        </div>
                    </div>
                </div>
                <div class="row" data-bind="visible: PermiteRepresentacaoGeo">
                    <!-- Cor -->
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtCor">Cor <span data-bind="text: '(' + (ko.unwrap(Cor) === null ? 'nenhuma selecionada' : ko.unwrap(Cor)) + ')'"></span></label>
                            <seletor-cores id="txtCor" params="setColorToLayer: false, selectedColor: Cor"></seletor-cores>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-toggle="collapsible" id="pnlSubLocais">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">LOCAL DE PRODUÇÃO E CONTROLE DE SUB-UNIDADE</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlProducaoLocalTipo">Tipos de Local de Produção</label>
                                @HtmlHelper.Select.SearchableKO("ddlProducaoLocalTipo", "IdsProducaoLocalTipo", "IdProducaoLocalTipoIn", "Descricao", "Descricao", "Descricao", "/Agricola/TipoLocal/List", "PermiteSubLocais:true, Ativo:true", idChaveRelacao: "IdProducaoLocalTipo", multiple: true)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTipoControleSubUnidade" class="control-label">Utiliza controle de Sub Unidade</label>
                                <select class="form-control required" name="ddlTipoControleSubUnidade" id="ddlTipoControleSubUnidade" data-bind="value: TipoControleSubUnidade">
                                    <option value="1">Não Utiliza</option>
                                    <option value="2">Utiliza o controle Sub Unidade, mas não é Obrigatório</option>
                                    <option value="3">Utiliza e Obriga o controle de Sub Unidade</option>
                                </select>
                            </div>
                        </div>
                        <div id="divDescricao" data-bind="visible: vmParams.ExibeDescricaoSubUnidade()">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="txtDescricaoSubUnidade" class="control-label">Como deseja denominar o Sub Local?</label>
                                    <input type="text" id="txtDescricaoSubUnidade" name="txtDescricaoSubUnidade" data-bind="value: DescricaoSubUnidade, validate: { required: vmParams.ExibeDescricaoSubUnidade() }" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-toggle="collapsible" id="pnlDetalhes">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">DETALHES DE IDENTIFICAÇÃO</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtPrefixo">Prefixo para Código</label>
                                <input type="text" id="txtPrefixo" name="txtPrefixo" data-bind="value: Prefixo" class="form-control" maxlength="120" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-toggle="collapsible" id="pnlUnidades">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">UNIDADES DE MEDIDA BASE PARA PRODUÇÃO</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <label class="control-label" for="chkPossuiUnidadeBase">Possui Unidade Base para controles e avaliações de rendimentos ?</label>
                                <input type="checkbox" class="no-uniform" id="chkPossuiUnidadeBase" data-bind="checked: PossuiUnidadeBase, flipper: defaults.flipper.ativoInativo">
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row" data-bind="visible: PossuiUnidadeBase">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="ddlUnidadeTipoPrincipal">Tipo da Unidade Principal</label>
                                @HtmlHelper.Select.SearchableKO("ddlUnidadeTipoPrincipal", "IdUnidadeTipoPrincipal", "IdUnidadeTipo", "Descricao", "Descricao", "Descricao", "/Estoque/UnidadeTipo/List", "Ativo:true", idChaveRelacao: "IdUnidadeTipo", dataBind: " validate: { required: PossuiUnidadeBase  }")
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="ddlUnidadePrincipal">Unidade Principal Padrão </label>
                                @HtmlHelper.Select.SearchableKO("ddlUnidadePrincipal", "IdUnidadePrincipal", "IdUnidade", "DescricaoSigla", "DescricaoSiglaBusca", "DescricaoSigla", "/Estoque/Unidade/List", "Ativo:true", idChaveRelacao: "IdUnidade", dataBind: " validate: { required: PossuiUnidadeBase }", idControleDependencia: "ddlUnidadeTipoPrincipal", idDependencia: "IdUnidadeTipo")
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="ddlUnidadeTipoSecundaria">Tipo da Unidade Secundaria</label>
                                @HtmlHelper.Select.SearchableKO("ddlUnidadeTipoSecundaria", "IdUnidadeTipoSecundaria", "IdUnidadeTipo", "Descricao", "Descricao", "Descricao", "/Estoque/UnidadeTipo/List", "Ativo:true", idChaveRelacao: "IdUnidadeTipo")
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="ddlUnidadeSecundaria">Unidade Secundaria Padrão</label>
                                @HtmlHelper.Select.SearchableKO("ddlUnidadeSecundaria", "IdUnidadeSecundaria", "IdUnidade", "DescricaoSigla", "DescricaoSiglaBusca", "DescricaoSigla", "/Estoque/Unidade/List", "Ativo:true", idChaveRelacao: "IdUnidade", idControleDependencia: "ddlUnidadeTipoSecundaria", idDependencia: "IdUnidadeTipo")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-action">
            <div class="panel-body">
                <button type="submit" id="btn-salvar" class="btn btn-secondary btn-lg btn-primary-action"><i class="material-icons">&#xE5CA;</i> Salvar</button>
                <a href="#List" type="button" class="btn btn-primary btn-inverted btn-lg"><i class="material-icons">&#xE5C4;</i> Voltar</a>
                @if (@Model.IdProducaoUnidadeTipo.HasValue)
                {
                    <a href="#History/ProducaoUnidadeTipo/@Model.IdProducaoUnidadeTipo" type="button" class="btn btn-primary btn-inverted btn-lg pull-right"><i class="material-icons">&#xE889;</i> Histórico</a>
                }
            </div>
        </div>
    </form>
</div>

<template id="newedit-UnidadeBase">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="txtDescricaoUnidadeTipoBase">Descrição</label>
                <input type="text" id="txtDescricaoUnidadeTipoBase" name="txtDescricaoUnidadeTipoBase" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="50" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label for="ddlUnidadeTipoBase">Tipo de Unidade</label>
                @HtmlHelper.Select.SearchableKO("ddlUnidadeTipoBase", "IdUnidadeTipo", "IdUnidadeTipo", "Descricao", "Descricao", "Descricao", "/Estoque/UnidadeTipo/List", "Ativo:true", required: true, vmTextSelected: "DescricaoUnidadeTipo")
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label for="ddlUnidade">Unidade Base</label>
                @HtmlHelper.Select.SearchableKO("ddlUnidade", "IdUnidade", "IdUnidade", "DescricaoSigla", "Descricao", "Descricao", "/Estoque/Unidade/List", "Ativo:true", "ddlUnidadeTipoBase", "IdUnidadeTipo", required: true, vmTextSelected: "DescricaoUnidade")
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2">
            <div class="form-group">
                <label for="txtOrdem">Ordem</label>
                <input type="text" id="txtOrdem" name="txtOrdem" data-bind="value: Ordem" class="form-control" maxlength="3" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div class="form-group">
                <label class="control-label" for="chkUnidadeBaseAtivo">Ativo</label>
                <input type="checkbox" class="no-uniform" id="chkUnidadeBaseAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
            </div>
        </div>
    </div>
</template>




