﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.VariavelPagamento.IndexVM

<div id="filtro-grade">
    <template id="filter-VariavelPagamentoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroContaContabil" class="control-label">Conta Contábil</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroContaContabil", "IdPlanoContasIn", "IdPlanoContasIn", "DescricaoCompletaMascara", "DescricaoCompletaMascara", "DescricaoCompletaMascara", "/Contabilidade/PlanoContas/ListarHierarquicamentePorParametro", "Ativo:true, UltimoNivel:true", idChaveRelacao: "IdPlanoContas", multiple: true)
        </div>
        <div class="form-group">
            <label for="ddlFiltroTipoVariavel" class="control-label">Tipo Variável</label>
            <select id="ddlFiltroTipoVariavel" data-bind="value: TipoVariavel" class="form-control no-search">
                <option value="">Indiferente</option>
                <option value="1">Acréscimo</option>
                <option value="2">Dedução ou Desconto</option>
                <option value="3">Despesa</option>
                <option value="4">Não Interfere</option>
            </select>
        </div>
        <div class="form-group" style="width: 350px">
            <label for="ddlFiltroClassificacaoFinanceira">Classificação Financeira</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroClassificacaoFinanceira", "IdFinanceiroClassificacaoIn", "IdFinanceiroClassificacao", "DescricaoCompletaComMascara", "DescricaoCompleta", "DescricaoCompleta", "/Financeiro/Classificacao/ListarHierarquicamentePorParametro", allowClear: true, idChaveRelacao: "IdFinanceiroClassificacao", dadosCompl: "Ativo:true, UltimoNivel:true", multiple: true)
        </div>
        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>

        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
     id: "VariavelPagamentoIndex",
     newUrl: "#/Financeiro/VariavelPagamento/New",
     editUrl: "#/Financeiro/VariavelPagamento/Edit",
     listUrl: "/Financeiro/VariavelPagamento/List",
     columns:
    @<script>
        [
            { 'id': 'IdFinanceiroVariavelPagamento', editColumn: true },
            { 'id': 'RegistroProprio', 'defaultValue': '', 'filter': true },
            { 'id': 'IdFinanceiroClassificacaoIn', filter: true },
            { 'id': 'IdPlanoContasIn', filter: true },
            { 'id': 'TipoVariavelIn', filter: true },
            { 'id': 'TipoVariavel', filter: true },
            { 'id': 'Descricao', 'header': true, 'filter': true, 'defaultFilter': true, 'displayName': 'Descrição', sortable: true },
            { 'id': 'DescricaoTipoVariavel', 'header': true, 'filter': true, 'displayName': 'Tipo Variável', sortable: true, groupable: true },
            { 'id': 'EditarRegistro', 'header': true, 'filter': true, 'sortable': true, 'displayName': 'Editar Registro' },
            defaults.gridNewEdit.column.ativo,
            { displayName: "Ações", header: true, width: '160px' }
        ]
    </script>,
        templateRows:
        @<tr>
            <td data-bind="text: Descricao, id: IdFinanceiroVariavelPagamento"></td>
            <td data-bind="text: DescricaoTipoVariavel"></td>
             <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>
            <td data-bind="template: 'label-status'"></td>
             <td>
                 <div style="float:left">
                     <span data-bind="template: { name: 'button-edit-url', data: { id: IdFinanceiroVariavelPagamento } }"></span>
                 </div>

                 <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                     <a data-bind="attr: { href: '#/Financeiro/VariavelPagamento/Ativar/' + IdFinanceiroVariavelPagamento }" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
                 </div>

                 <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                     <a data-bind="attr: { href: '#/Financeiro/VariavelPagamento/Inativar/' + IdFinanceiroVariavelPagamento }" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
                 </div>

                 <div style="float:left;padding-left:5px;" data-bind="visible: (EditarRegistro == false)">
                     <a data-bind="attr: { href: '#/Financeiro/VariavelPagamento/View/' + IdFinanceiroVariavelPagamento }" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
                 </div>

             </td>
        </tr>, api: "indexVM.api", orderByCol: "Descricao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)
</div>
@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}

