﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.VariavelPagamento.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-FinanceiroVariavelPagamento-NewEdit" data-bind="validateForm: { submitHandler: Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtDescricao">Descrição</label>
                                <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="150" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTipoVariavel" class="control-label">Tipo Variável</label>
                                <select placeholder="Ativo" id="ddlTipoVariavel" data-bind="value: TipoVariavel" class="form-control no-search">
                                    <option value="1">Acréscimo</option>
                                    <option value="2">Dedução ou Desconto</option>
                                    <option value="3">Despesa</option>
                                    <option value="4">Nao Interfere</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-2" data-bind="visible: TipoVariavel() == 1">
                            <div class="form-group">
                                <label class="control-label" for="chkAntecipacao">Antecipação</label>
                                <input type="checkbox" class="no-uniform" id="chkAntecipacao" data-bind="checked: Antecipacao, flipper: { observable: Antecipacao, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkAtivo">Ativo</label>
                                <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Parâmetros Contábeis</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlClassificacaoFinanceira">Classificação Financeira</label>
                                @HtmlHelper.Select.SearchableKO("ddlClassificacaoFinanceira", "IdFinanceiroClassificacao", "IdFinanceiroClassificacao", "DescricaoCompletaComMascara", "DescricaoCompleta", "DescricaoCompleta", "/Financeiro/Classificacao/ListarHierarquicamentePorParametro", allowClear: true, idChaveRelacao: "IdFinanceiroClassificacao", dadosComplObservable: "DadosComplementaresClassificacaoFinanceira", required: true)
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlPlanoContasFiscalDebito">Conta Débito</label>
                                @HtmlHelper.Select.SearchableKO("ddlPlanoContasFiscalDebito", "IdPlanoContasFiscalDebito", "IdPlanoContas", "DescricaoCompletaMascara", "DescricaoCompletaMascara", "DescricaoCompletaMascara", "/Contabilidade/PlanoContas/ListarHierarquicamentePorParametro", "Ativo:true, UltimoNivel:true", required: true, idChaveRelacao: "IdPlanoContas")
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlPlanoContasFiscalCredito">Conta Crédito</label>
                                @HtmlHelper.Select.SearchableKO("ddlPlanoContasFiscalCredito", "IdPlanoContasFiscalCredito", "IdPlanoContas", "DescricaoCompletaMascara", "DescricaoCompletaMascara", "DescricaoCompletaMascara", "/Contabilidade/PlanoContas/ListarHierarquicamentePorParametro", "Ativo:true, UltimoNivel:true", required: true, idChaveRelacao: "IdPlanoContas")
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlPlanoContasGerencialDebito">Conta Débito</label>
                                @HtmlHelper.Select.SearchableKO("ddlPlanoContasGerencialDebito", "IdPlanoContasGerencialDebito", "IdPlanoContas", "DescricaoCompletaMascara", "DescricaoCompletaMascara", "DescricaoCompletaMascara", "/Contabilidade/PlanoContas/ListarHierarquicamentePorParametro", "Ativo:true, UltimoNivel:true", required: true, idChaveRelacao: "IdPlanoContas")
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlPlanoContasGerencialCredito">Conta Crédito</label>
                                @HtmlHelper.Select.SearchableKO("ddlPlanoContasGerencialCredito", "IdPlanoContasGerencialCredito", "IdPlanoContas", "DescricaoCompletaMascara", "DescricaoCompletaMascara", "DescricaoCompletaMascara", "/Contabilidade/PlanoContas/ListarHierarquicamentePorParametro", "Ativo:true, UltimoNivel:true", required: true, idChaveRelacao: "IdPlanoContas")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
