﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.SaldoInicial.IndexVM

<div id="filtro-grade">
    <template id="filter-EstoqueSaldoInicialIndex">
        <!-- Empresa Usuária -->
        <div class="form-group">
            <label for="ddlEmpresaUsuariaFiltro">Empresa</label>
            @HtmlHelper.Select.SearchableKO("ddlEmpresaUsuariaFiltro", "IdPessoaEmpresa", "IdPessoa", "CodigoNomeSecundario", "Nomes", "Codigo", "/Corporativo/EmpresaUsuaria/List", idChaveRelacao: "IdPessoa", dadosCompl: "Ativo:true")
        </div>
        <!-- Grupo de Produto -->
        <div class="form-group">
            <label for="ddlProdutoServicoGrupoFiltro">Grupo de Produto</label>
            @HtmlHelper.Select.SearchableKO("ddlProdutoServicoGrupoFiltro", "IdProdutoServicoGrupo", "IdProdutoServicoGrupo", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Estoque/ProdutoServicoGrupo/List", "Ativo:true")
        </div>
        <!-- Produto -->
        <div class="form-group">
            <label for="ddlProdutoServicoFiltro">Produto</label>
            @HtmlHelper.Select.SearchableKO("ddlProdutoServicoFiltro", "IdProdutoServico", "IdProdutoServico", "DescricaoCodigo", "DescricaoCodigoBusca", "DescricaoCodigo", "/Estoque/Produto/ListProdutoServicoPorProdutoLocal", "Ativo:true", idChaveRelacao: "IdProdutoServico")
        </div>
        <!-- Período de Movimentação -->
        <div class="form-group">
            <label for="txtFiltroPeriodoSolicitacao" class="control-label">Período de Solicitação</label>
            <div class="input-group date" style="width:230px">
                <input type="text" id="txtFiltroPeriodoSolicitacao" data-bind="daterangepicker: { startDate: DataMovimentacaoInicio, endDate: DataMovimentacaoFim }" class="form-control" />
                <div class="input-group-addon input-group-btn"><i class="material-icons">&#xE916;</i></div>
            </div>
        </div>
        <!-- Responsável -->
        <div class="form-group">
            <label for="ddlPessoaResponsávelFiltro">Responsável</label>
            @HtmlHelper.Select.SearchableKO("ddlPessoaResponsávelFiltro", "IdPessoaRealizacao", "IdPessoa", "Nome", "Nomes", "Nome", "/Corporativo/Pessoa/ListPessoaPersonalizado", "ComPessoa:true, ComEmpresaUsuaria:true, ComEmpresa:false, Ativo:true, IdPessoaNaturezaNotIn: 4", idChaveRelacao: "IdPessoa")
        </div>
        <!-- Local de Origem -->
        <div class="form-group">
            <label for="ddlProdutoLocalFiltro">Local de Origem</label>
            @HtmlHelper.Select.SearchableKO("ddlProdutoLocalFiltro", "IdProdutoLocal", "IdProdutoLocal", "Descricao", "Descricao", "Descricao", "/Estoque/ProdutoLocal/List", "Ativo:true")
        </div>
    </template>

    @HtmlHelper.GridView.GridIndex(
        id: "EstoqueSaldoInicialIndex",
        newUrl: "#/Estoque/SaldoInicial/New",
        editUrl: "#/Estoque/SaldoInicial/Edit",
        listUrl: "/Estoque/SaldoInicial/List",
        columns:
        @<script>
            [
                { 'id': 'IdEstoqueSaldoInicial', editColumn: true, displayName: 'Código', sortable: true },


                { 'id': 'IdPessoaEmpresa', filter: true, defaultFilter: true },
                { 'id': 'IdProdutoServicoGrupo', filter: true, defaultFilter: true },
                { 'id': 'IdProdutoServico', filter: true },
                { 'id': 'IdPessoaRealizacao', filter: true },
                { 'id': 'IdProdutoLocal', filter: true },
                { 'id': 'DataMovimentacaoInicio', filter: true },
                { 'id': 'DataMovimentacaoFim', filter: true },

                { 'id': 'DataLancamentoExibicao', header: true, displayName: 'Data', sortable: true },
                { 'id': 'NomeSecundarioEmpresaUsuaria', header: true, displayName: 'Empresa', sortable: true },
                { 'id': 'QtdeItens', header: true, displayName: 'Itens', sortable: true },
                defaults.gridNewEdit.column.acao
            ]
        </script>,
        templateRows:
        @<tr>
            <td data-bind="text: DataLancamentoExibicao"></td>
            <td data-bind="text: NomeSecundarioEmpresaUsuaria"></td>
            <td data-bind="text: QtdeItens"></td>
            <td data-bind="template: { name: 'button-edit-url', data: { id: IdEstoqueSaldoInicial } }"></td>
        </tr>, api: "indexVM.api", orderByCol: "DataLancamentoExibicao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: true)
</div>
@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}

