﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.SaldoInicial.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-SaldoInicial-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="ddlPessoaEmpresa">Empresa</label>
                            @HtmlHelper.Select.SearchableKO("ddlPessoaEmpresa", "IdPessoa", "IdPessoa", "CodigoNomeSecundario", "BuscaAvancada", "CodigoNomeSecundario", "/Corporativo/EmpresaUsuaria/List", "Ativo:true,ComRestricaoUsuarioLogado:true", idChaveRelacao: "IdPessoa", required: true)
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtDataReferencia">Data Referência</label>
                            <div class="input-group date">
                                <input id="txtDataReferencia" name="txtDataReferencia" class="form-control" data-bind="value: DataReferenciaExibicao, validate: { required: true }, datepicker: { options: $.extend(defaults.datepicker.date, { maxDate: moment().add(7, 'day') }) }, mask: { options: defaults.mask.date, value: DataReferenciaExibicao }, dicaMes: {}" />
                                <span class="input-group-addon">
                                    <i class="material-icons">&#xE878;</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group read-mode">
                            <label for="ddlTransacao">Transacao</label>
                            @HtmlHelper.Select.SearchableKO("ddlTransacao", "IdTransacao", "IdTransacao", "Descricao", "Descricao", "Descricao", "/Corporativo/Transacao/List", "Ativo:true, IdTransacao: 52", required: true, disabled: true)
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group read-mode">
                            <label for="ddlPessoa">Responsável</label>
                            @HtmlHelper.Select.SearchableKO("ddlPessoa", "IdPessoaRealizacao", "IdPessoa", "NomeSecundario", "Nomes", "NomeSecundario", "/Corporativo/Pessoa/ListPessoaPersonalizado", "ComPessoa:true, ComEmpresaUsuaria:false, ComEmpresa:false, Ativo:true, IdPessoaNaturezaNotIn: 4", idChaveRelacao: "IdPessoa")
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group read-mode">
                            <label for="txtDataLancamento">Data Lançamento</label>
                            <div class="input-group date">
                                <input id="txtDataLancamento" name="txtDataLancamento" class="form-control" data-bind="value: DataLancamentoExibicao, validate: { required: true }, datepicker: { options: defaults.datepicker.datetime }, mask: { options: defaults.mask.datetime, value: DataLancamentoExibicao}" disabled="disabled" />
                                <span class="input-group-addon">
                                    <i class="material-icons">&#xE878;</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" data-toggle="collapsible" id="pnlItens">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Itens</h3>
            </div>
            <div class="panel-body">
                @HtmlHelper.GridView.GridNewEdit(
                id: "Item", // Declarar na página <template id="newedit-id"></template>
                vm: "lstItem",
                vmExtend: "vmItemExtended",
                columns: @<script>
                    [
                        { 'id': 'IdEstoqueSaldoItem' },
                        { 'id': 'IdEstoqueSaldo' },
                        { 'id': 'IdProdutoServico' },
                        { 'id': 'IdProdutoLocal' },
                        { 'id': 'IdProdutoServicoFormaApresentacao' },
                        { 'id': 'IdUnidadeProdutoServico' },
                        { 'id': 'QtdeProdutoServicoFormaApresentacao' },
                        { 'id': 'QtdeProdutoServico' },
                        { 'id': 'ValorUnitario' },
                        { 'id': 'ValorTotal' },
                        { 'id': 'SiglaProdutoServicoFormaApresentacao' },
                        { 'id': 'SiglaUnidadeProdutoServico' },
                        { 'id': 'IdFinanceiroMoeda', defaultValue: vm.IdFinanceiroMoeda() },
                        { 'id': 'QtdePorEmbalagemProdutoServico' },

                        { 'id': 'CasasDecimaisFormaApresentacao', defaultValue: 0 },
                        { 'id': 'CasasDecimaisUnidadeProduto', defaultValue: 0 },
                        { 'id': 'CasasDecimaisFinanceiroMoeda', defaultValue: 0 },
                        { 'id': 'SiglaMoeda', defaultValue: 'R$' },

                        { 'id': 'DescricaoProdutoServico', 'displayName': 'Produto', 'header': true },
                        { 'id': 'DescricaoProdutoLocal', 'displayName': 'Local', 'header': true },

                        { 'id': 'Apresentacao', 'displayName': 'Apresentação', 'header': true },
                        { 'id': 'Quantidade', 'displayName': 'Qtde', 'header': true },

                        { 'id': 'ValorUnitario', 'displayName': 'Valor Unitário', 'header': true },
                        { 'id': 'ValorTotal', 'displayName': 'Valor Total', 'header': true },
                        { 'id': 'Excluido' },
                        defaults.gridNewEdit.column.acaoEditRemove
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: DescricaoProdutoServico }  }"></td>
                    <td data-bind="text: DescricaoProdutoLocal"></td>
                    <td data-bind="text: ko.utils.unwrapObservable(QtdeProdutoServicoFormaApresentacao) + ' ' + ko.utils.unwrapObservable(SiglaProdutoServicoFormaApresentacao)  "></td>
                    <td data-bind="text: ko.utils.unwrapObservable(QtdeProdutoServico) + ' ' + ko.utils.unwrapObservable(SiglaUnidadeProdutoServico)"></td>
                    <td data-bind="text: ValorUnitario, maskDecimal: { value: ValorUnitario, casasDecimais: CasasDecimaisFinanceiroMoeda, prefix: SiglaMoeda, extendedOptions: { rightAlign: false } } "></td>
                    <td data-bind="text: ValorTotal, maskDecimal: { value: ValorTotal, casasDecimais: CasasDecimaisFinanceiroMoeda, prefix: SiglaMoeda, extendedOptions: { rightAlign: false } }"></td>
                    <td data-bind="template: { name: 'button-edit-remove' }"></td>
                </tr>, orderByCol: "DescricaoProdutoServico", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false, useRemovedColumn: true)
            </div>
        </div>
    </form>

    <template id="newedit-Item">
        <div class="row">
            <div class="col-xs-8">
                <div class="form-group">
                    <label for="ddlProdutoServico">Produto</label>
                    @HtmlHelper.Select.SearchableKO("ddlProdutoServico", "IdProdutoServico", "IdProdutoServico", "DescricaoCodigo", "DescricaoCodigoBusca", "DescricaoCodigo", "/Estoque/Produto/ListProdutoServicoPorProdutoLocal", "Ativo:true", idChaveRelacao: "IdProdutoServico", required: true, vmTextSelected: "DescricaoProdutoServico", vmDataSelected: "ProdutoServicoVM")
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="ddlProdutoLocal">Local</label>
                    @HtmlHelper.Select.SearchableKO("ddlProdutoLocal", "IdProdutoLocal", "IdProdutoLocal", "ProdutoLocalDescricao", "ProdutoLocalDescricao", "ProdutoLocalDescricao", "/Estoque/ProdutoServicoProdutoLocal/List", "Ativo:true", required: true, vmTextSelected: "DescricaoProdutoLocal", idControleDependencia:"ddlProdutoServico", idDependencia:"IdProdutoServico", idChaveRelacao:"IdProdutoLocal",allowClear:false)
                </div>
            </div>
        </div>
        <!-- TODO: Implementar Lote / Validade   -->
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="txtQtdeFormaApresentacao">Apresentação (Embalagem)</label>
                    <div class="input-group">
                        <input type="text" id="txtQtdeFormaApresentacao" name="txtQtdeFormaApresentacao" data-bind="value: QtdeProdutoServicoFormaApresentacao, maskDecimal: { casasDecimais: CasasDecimaisFormaApresentacao }" class="form-control" maxlength="50" />
                        <div class="input-group-btn">
                            @HtmlHelper.Select.SearchableKO("ddlProdutoServicoFormaApresentacao", "IdProdutoServicoFormaApresentacao", "IdProdutoServicoFormaApresentacao", "Sigla", "BuscaDetalhada", "Sigla", "/Estoque/ProdutoServicoFormaApresentacao/List", "Ativo:true", disabled: true, allowClear: false, required: true, vmTextSelected: "SiglaProdutoServicoFormaApresentacao")
                        </div>
                    </div>
                    Quantidade por Embalagem:&nbsp;&nbsp;<label id="lblQtdePorEmbalagemProdutoServico" name="lblQtdePorEmbalagemProdutoServico" data-bind="text:QtdePorEmbalagemProdutoServico"> </label>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="txtQtdeProdutoServico">Quantidade</label>
                    <div class="input-group">
                        <input type="text" id="txtQtdeProdutoServico" name="txtQtdeProdutoServico" data-bind="value: QtdeProdutoServico, maskDecimal: { casasDecimais: CasasDecimaisUnidadeProduto, min: 0 }, validate: { required: true }" class="form-control" maxlength="50" />
                        <div class="input-group-btn">
                            @HtmlHelper.Select.SearchableKO("ddlUnidadeProdutoServico", "IdUnidadeProdutoServico", "IdUnidade", "Sigla", "Sigla", "Sigla", "/Estoque/Unidade/List", "Ativo:true", idChaveRelacao: "IdUnidade", allowClear: false, required: true, vmDataSelected: "UnidadeProdutoVM", vmTextSelected: "SiglaUnidadeProdutoServico")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="txtValorAtual" class="control-label size-sm">Valor Unitário</label>
                    <div class="input-group" style="">
                        <div class="input-group-btn read-mode">
                            @HtmlHelper.Select.SearchableKO("ddlMoedaValorUnitario", "IdFinanceiroMoeda", "IdFinanceiroMoeda", "Sigla", "Sigla", "Sigla", "/Financeiro/Moeda/List", "Ativo:true, Natureza:1", idChaveRelacao: "IdFinanceiroMoeda", vmDataSelected: "FinanceiroMoedaVM", allowClear: false, disabled: true)
                        </div>
                        <input type="text" id="txtValorUnitario" name="txtValorUnitario" data-bind="value: ValorUnitario, maskDecimal: { casasDecimais: CasasDecimaisFinanceiroMoeda, min: 1 }" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="txtValorAtual" class="control-label size-sm">Valor Total</label>
                    <div class="input-group">
                        <div class="input-group-btn read-mode">
                            @HtmlHelper.Select.SearchableKO("ddlMoedaValorTotal", "IdFinanceiroMoeda", "IdFinanceiroMoeda", "Sigla", "Sigla", "Sigla", "/Financeiro/Moeda/List", "Ativo:true, Natureza:1", idChaveRelacao: "IdFinanceiroMoeda", allowClear: false, disabled: true, vmTextSelected: "SiglaMoeda")
                        </div>
                        <input type="text" id="txtValorTotal" name="txtValorTotal" data-bind="value: ValorTotal, dicaSaldo: { valorTotal: ValorTotal, quantidade: QtdeProdutoServico }, maskDecimal: { casasDecimais: CasasDecimaisFinanceiroMoeda }" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </template>

</div>
