﻿<div class="panel panel-default" data-bind="if: IdFinanceiroFormaPagamentoPrevista() == 5">
    <div class="panel-heading clearfix">
        <h3 class="panel-title"> Transferência Bancária </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="ddlFinanceiroContaTransferenciaOrigem">Conta Origem</label>
                    @HtmlHelper.Select.SearchableKO("ddlFinanceiroContaTransferenciaOrigem", "IdFinanceiroContaOrigem", "IdFinanceiroConta", "Detalhe", "BuscaDetalhada", "Detalhe", "/Financeiro/Conta/List", "Ativo:true", idChaveRelacao: "IdFinanceiroConta")
                </div>
            </div>
            <div class="col-xs-2" data-bind="if: TipoMovimentoFinanceiro() == 1">
                <div class="form-group">
                    <label for="txtSaldoAtualContaOrigem">Saldo Atual</label>
                    <input type="text" id="txtSaldoAtualContaOrigem" name="txtSaldoAtualContaOrigem" data-bind="value: SaldoAtualContaOrigem" class="form-control" disabled="disabled" />
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="txtNumeroTransferencia">Número</label>
                    <input type="text" id="txtNumeroTransferencia" name="txtNumeroTransferencia" data-bind="value: NumeroDocumento" class="form-control" />
                </div>
            </div>
        </div>
        <!-- Apenas se for único Título  -->
        <div class="row" data-bind="if: TipoMovimentoFinanceiro() == 1">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="ddlFinanceiroContaTransferenciaDestino">Conta Destino</label>
                    @HtmlHelper.Select.SearchableKO("ddlFinanceiroContaTransferenciaDestino", "IdFinanceiroContaDestino", "IdFinanceiroConta", "Detalhe", "BuscaDetalhada", "Detalhe", "/Financeiro/Conta/List", "Ativo:true", idChaveRelacao: "IdFinanceiroConta")
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="txtDocumentoTransferencia">Saldo Atual</label>
                    <input type="text" id="txtDocumentoTransferencia" name="txtDocumentoTransferencia" data-bind="value: DocumentoTransferencia" class="form-control" disabled="disabled" />
                </div>
            </div>
        </div>
    </div>
</div>
