﻿<div class="panel panel-default" data-bind="if: (IdFinanceiroFormaPagamentoPrevista() == 3 || IdFinanceiroFormaPagamentoPrevista() == 4)">
    <div class="panel-heading clearfix">
        <h3 class="panel-title">Cartão de Crédito ou Débito</h3>
    </div>
    <div class="panel-body">
        <div class="row" data-bind="if:TipoMovimentoFinanceiro() == 1">
            <div class="col-xs-4" data-bind="if: TipoMovimentoFinanceiro() == 1">
                <div class="form-group">
                    <label for="ddlFinanceiroCartao">Cartão</label>
                    @HtmlHelper.Select.SearchableKO("ddlFinanceiroCartao", "IdFinanceiroCartao", "IdFinanceiroCartao", "CartaoExibicao", "BuscaDetalhada", "CartaoExibicao", "/Financeiro/Cartao/List", "Ativo:true", idChaveRelacao: "IdFinanceiroCartao", vmDataSelected: "vmParam.InfoCartao")
                </div>
            </div>
            <div class="col-xs-2" data-bind="if: TipoMovimentoFinanceiro() == 1">
                <div class="form-group">
                    <label for="txtLimiteUsoCartao">Limite de Uso</label>
                    <input type="text" id="txtLimiteUsoCartao" name="txtLimiteUsoCartao" data-bind="value: LimiteUsoCartao" class="form-control" disabled="disabled" />
                </div>
            </div>
            <div class="col-xs-2" data-bind="if: TipoMovimentoFinanceiro() == 1">
                <div class="form-group">
                    <label for="txtSaldoDisponivelCartao">Saldo Antecipações</label>
                    <input type="text" id="txtSaldoDisponivelCartao" name="txtSaldoDisponivelCartao" data-bind="value: SaldoDisponivelCartao" class="form-control" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="row" data-bind="if: TipoMovimentoFinanceiro() == 1">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="ddlFinanceiroContaCartao">Conta</label>
                    @HtmlHelper.Select.SearchableKO("ddlFinanceiroContaCartao", "IdFinanceiroContaCartao", "IdFinanceiroConta", "Detalhe", "BuscaDetalhada", "Detalhe", "/Financeiro/Conta/List", "Ativo:true", idChaveRelacao: "IdFinanceiroConta", dataBind: "attr: { 'disabled': true }")
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="txtSaldoAtualContaCartao">Saldo Antecipações</label>
                    <input type="text" id="txtSaldoAtualContaCartao" name="txtSaldoAtualContaCartao" data-bind="value: SaldoAtualContaCartao" class="form-control" disabled="disabled" />
                </div>
            </div>
        </div>

        <!-- BEGIN ==> Quando A Receber-->
        <div class="row" data-bind="if:TipoMovimentoFinanceiro() == 2">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="dllFinanceiroContratoCartao">Operadora - Contrato</label>
                    @HtmlHelper.Select.SearchableKO("dllFinanceiroContratoCartao", "IdFinanceiroCartaoContratoOperadora", "IdFinanceiroCartaoContratoOperadora", "DescricaoContrato", "DescricaoContratoBusca", "DescricaoContratoBusca", "/Financeiro/ContratoOperadoraCartao/List", "Ativo:true", dataBind: "validate: { required: (TipoMovimentoFinanceiro() == 2 && IdFinanceiroFormaPagamentoPrevista() == 3 || IdFinanceiroFormaPagamentoPrevista() == 4) }")
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="dllFinanceiroContratoCartaoEquipamento">Equipamento</label>
                    @HtmlHelper.Select.SearchableKO("dllFinanceiroContratoCartaoEquipamento", "IdFinanceiroCartaoContratoOperadoraEquipamento", "IdFinanceiroCartaoContratoOperadoraEquipamento", "Descricao", "Descricao", "Descricao", "/Financeiro/ContratoOperadoraCartao/ListEquipamento", "Ativo:true", idControleDependencia: "dllFinanceiroContratoCartao", idDependencia: "IdFinanceiroCartaoContratoOperadora", dataBind: "validate: { required: (TipoMovimentoFinanceiro() == 2 && IdFinanceiroFormaPagamentoPrevista() == 3 || IdFinanceiroFormaPagamentoPrevista() == 4) }")
                </div>
            </div>
        </div>
        <!-- END ==>  Quando a Receber -->
    </div>
</div>
