﻿<div class="panel panel-default" data-bind="if: IdFinanceiroFormaPagamentoPrevista() == 6">
    <div class="panel-heading clearfix">
        <h3 class="panel-title">Boleto Bancário ou Débito Direto Autorizado (DDA)</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <!--Conta Origem-->
            <div class="col-xs-4">
                <div class="form-group" data-bind="if: TipoMovimentoFinanceiro() == 1">
                    <label for="ddlFinanceiroContaOrigemDDA">Conta Origem</label>
                    @HtmlHelper.Select.SearchableKO("ddlFinanceiroContaOrigemDDA", "IdFinanceiroContaOrigem", "IdFinanceiroConta", "Detalhe", "BuscaDetalhada", "Detalhe", "/Financeiro/Conta/List", "Ativo:true", idChaveRelacao: "IdFinanceiroConta")
                </div>
            </div>
            <div class="col-xs-2" data-bind="if: TipoMovimentoFinanceiro() == 1">
                <div class="form-group">
                    <label for="txtSaldoAtualContaOrigemDDA">Saldo Atual</label>
                    <input type="text" id="txtSaldoAtualContaOrigemDDA" name="txtSaldoAtualContaOrigemDDA" data-bind="value: SaldoAtualContaOrigem" class="form-control" disabled="disabled" />
                </div>
            </div>
            <div class="col-xs-2" data-bind="if: TipoMovimentoFinanceiro() == 1">
                <div class="form-group">
                    <label for="txtNumeroBoletoOuDebitoDireto">Número</label>
                    <input type="text" id="txtNumeroBoletoOuDebitoDireto" name="txtNumeroBoletoOuDebitoDireto" data-bind="value: NumeroDocumento" class="form-control" />
                </div>
            </div>
            <!-- Conta Destino -->
            <div class="col-xs-4" data-bind="if: TipoMovimentoFinanceiro() == 2">
                <div class="form-group">
                    <label for="ddlFinanceiroContaDestinoDDA">Conta Origem</label>
                    @HtmlHelper.Select.SearchableKO("ddlFinanceiroContaDestinoDDA", "IdFinanceiroContaDestino", "IdFinanceiroConta", "Detalhe", "BuscaDetalhada", "Detalhe", "/Financeiro/Conta/List", "Ativo:true", idChaveRelacao: "IdFinanceiroConta")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3" style="padding-top: 22px;">
                <div class="form-group">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary btn-inverted">
                            <input type="radio" name="options" id="option1" value="1" data-bind="bsChecked: CodigoBarraTipo, css: { active: CodigoBarraTipo() == 1}"> Digitado
                        </label>
                        <label class="btn btn-primary btn-inverted">
                            <input type="radio" name="options" id="option1" value="2" data-bind="bsChecked: CodigoBarraTipo, css: { active: CodigoBarraTipo() == 2}"> Leitor Ótico
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="txtCodigoBarra">Linha Digitável</label>
                    <input type="text" id="txtCodigoBarra" name="txtCodigoBarra" data-bind="value: CodigoBarra, validate: { required: IdFinanceiroFormaPagamentoPrevista() == 6 }" maxlength="100" class="form-control" />
                </div>
            </div>
        </div>
    </div>
</div>
