﻿<div class="panel panel-default" data-bind="if: IdFinanceiroFormaPagamentoPrevista() == 7 && TipoMovimentoFinanceiro() == 1">
    <div class="panel-heading clearfix">
        <h3 class="panel-title">Guia de Recolhimento</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="ddlFinanceiroContaOrigemGuiaRecolhimento">Conta Origem</label>
                    @HtmlHelper.Select.SearchableKO("ddlFinanceiroContaOrigemGuiaRecolhimento", "IdFinanceiroContaOrigem", "IdFinanceiroConta", "Detalhe", "BuscaDetalhada", "Detalhe", "/Financeiro/Conta/List", "Ativo:true", idChaveRelacao: "IdFinanceiroConta")
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="txtSaldoAtualContaOrigemGuiaRecolhimento">Saldo Atual</label>
                    <input type="text" id="txtSaldoAtualContaOrigemGuiaRecolhimento" name="txtSaldoAtualContaOrigemGuiaRecolhimento" data-bind="value: SaldoAtualContaOrigem" class="form-control" disabled="disabled" />
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="txtNumeroGuia">Número</label>
                    <input type="text" id="txtNumeroGuia" name="txtNumeroGuia" data-bind="value: NumeroDocumento" class="form-control" />
                </div>
            </div>
        </div>
    </div>
</div>