﻿<div class="panel panel-default" data-bind="if: IdFinanceiroFormaPagamentoPrevista() == 1">
    <div class="panel-heading clearfix">
        <h3 class="panel-title">Dinheiro (Espécie)</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4" data-bind="visible: TipoMovimentoFinanceiro() == 1">
                <div class="form-group">
                    <label for="ddlFinancieroContaOrigemEspecie">Conta Origem</label>
                    @HtmlHelper.Select.SearchableKO("ddlFinancieroContaOrigemEspecie", "IdFinanceiroContaOrigem", "IdFinanceiroConta", "Detalhe", "BuscaDetalhada", "Detalhe", "/Financeiro/Conta/List", "Ativo:true", idChaveRelacao: "IdFinanceiroConta", dataBind: "validate: { required: (IdFinanceiroFormaPagamentoPrevista() == 1 && TipoMovimentoFinanceiro() == 1) }")
                </div>
            </div>
            <div class="col-xs-4" data-bind="visible: TipoMovimentoFinanceiro() == 2">
                <div class="form-group">
                    <label for="ddlFinancieroContaOrigemEspecie">Conta Destino</label>
                    @HtmlHelper.Select.SearchableKO("ddlFinancieroContaDestinoEspecie", "IdFinanceiroContaDestino", "IdFinanceiroConta", "Detalhe", "BuscaDetalhada", "Detalhe", "/Financeiro/Conta/List", "Ativo:true", idChaveRelacao: "IdFinanceiroConta", dataBind: "validate: { required: (IdFinanceiroFormaPagamentoPrevista() == 1 && TipoMovimentoFinanceiro() == 2)  }")
                </div>
            </div>
            <!-- Exibir apenas se for Pagamento -->
            <div class="col-xs-2" data-bind="if: TipoMovimentoFinanceiro() == 1">
                <div class="form-group">
                    <label for="txtSaldoAtualEspecie">Saldo Atual</label>
                    <input type="text" id="txtSaldoAtualEspecie" name="txtSaldoAtualEspecie" data-bind="value: SaldoAntecipacoesExibicao" class="form-control" disabled="disabled" />
                </div>
            </div>
        </div>
        <!-- Humberto ficou confuso e por isso comentei este trecho de código -->
        @*<div class="row">
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="ddlTransacaoEspecie">Transacao</label>
                        @HtmlHelper.Select.SearchableKO("ddlTransacaoEspecie", "IdTransacao", "IdTransacao", "Descricao", "Descricao", "Descricao", "/Corporativo/Transacao/List", "Ativo:true", idChaveRelacao: "IdTransacao", dataBind: "validate: { required: IdFinanceiroFormaPagamentoPrevista() == 1 }")
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="ddlDocumentoTipoEspecie">Tipo Documento</label>
                        @HtmlHelper.Select.SearchableKO("ddlDocumentoTipoEspecie", "IdDocumentoTipo", "IdDocumentoTipo", "Descricao", "Descricao", "Descricao", "/Contabilidade/DocumentoTipo/List", "Ativo:true", idChaveRelacao: "IdDocumentoTipo", dataBind: "validate: { required: IdFinanceiroFormaPagamentoPrevista() == 1 }")
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="form-group">
                        <label for="txtNumeroDocumento">Número Documento</label>
                        <input type="text" id="txtNumeroDocumento" name="txtNumeroDocumento" data-bind="value: NumeroDocumento" class="form-control" disabled="disabled" />
                    </div>
                </div>
            </div>*@
    </div>
</div>