﻿<div class="panel panel-default" data-bind="if: IdFinanceiroFormaPagamentoPrevista() == 2">
    <div class="panel-heading clearfix">
        <h3 class="panel-title">Cheque</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group" data-bind="if: TipoMovimentoFinanceiro() == 1">
                    <label for="ddlFinancieroContaOrigemCheque">Conta Origem</label>
                    @HtmlHelper.Select.SearchableKO("ddlFinancieroContaOrigemCheque", "IdFinanceiroContaOrigem", "IdFinanceiroConta", "Detalhe", "BuscaDetalhada", "Detalhe", "/Financeiro/Conta/List", "Ativo:true", idChaveRelacao: "IdFinanceiroConta")
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group" data-bind="if: TipoMovimentoFinanceiro() == 2">
                    <label for="ddlFinancieroContaOrigemCheque">Conta Destino</label>
                    @HtmlHelper.Select.SearchableKO("ddlFinancieroContaDestinoCheque", "IdFinanceiroContaDestino", "IdFinanceiroConta", "Detalhe", "BuscaDetalhada", "Detalhe", "/Financeiro/Conta/List", "Ativo:true", idChaveRelacao: "IdFinanceiroConta")
                </div>
            </div>
            <!-- Exibir apenas se For Pagamento -->
            <div class="col-xs-2" data-bind="if: TipoMovimentoFinanceiro() == 1">
                <div class="form-group">
                    <label for="txtSaldoAtualCheque">Saldo Atual</label>
                    <input type="text" id="txtSaldoAtualCheque" name="txtSaldoAtualCheque" data-bind="value: SaldoAntecipacoesExibicao" class="form-control" disabled="disabled" />
                </div>
            </div>
            <div class="col-xs-2" data-bind="if:TipoMovimentoFinanceiro() == 1">
                <div class="form-group">
                    <label for="txtProximoCheque">Próximo Cheque</label>
                    <input type="text" id="txtNumeroDocumentoCheque" name="txtNumeroDocumentoCheque" data-bind="value: NumeroDocumento" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="ddlChequeDetalheTipo" class="control-label">Detalhe para Cheque</label>
                    <select id="ddlChequeDetalheTipo" name="ChequeDetalheTipo" class="form-control no-search" data-bind="value: ChequeDetalheTipo">
                        <option value="1">Um Cheque para cada Título</option>
                        <option value="2">Um Cheque para a mesma Pessoa e Vencimento</option>
                        <option value="3">Um Cheque para mesma Pessoa</option>
                        <option value="4">Um Cheque para todos os Títulos</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- TODO: Inserir aqui o Controle de Cheques -->
        <div class="row">
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="ddlTransacaoCheque">Transação</label>
                    @HtmlHelper.Select.SearchableKO("ddlTransacaoCheque", "IdTransacao", "IdTransacao", "Descricao", "Descricao", "Descricao", "/Corporativo/Transacao/List", "Ativo:true", idChaveRelacao: "IdTransacao")
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="ddlDocumentoTipoCheque">Tipo Documento</label>
                    @HtmlHelper.Select.SearchableKO("ddlDocumentoTipoCheque", "IdDocumentoTipo", "IdDocumentoTipo", "Descricao", "Descricao", "Descricao", "/Contabilidade/DocumentoTipo/List", "Ativo:true", idChaveRelacao: "IdDocumentoTipo")
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="txtNumeroDocumentoCheque">Número Documento</label>
                    <input type="text" id="txtNumeroDocumentoCheque" name="txtNumeroDocumentoCheque" data-bind="value: NumeroDocumento" class="form-control" />
                </div>
            </div>
        </div>
    </div>
</div>