﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.Pagamento.DetalhesPagamentoVM

<routeoptions data-use-custom-view="true" data-route-custom="route-financeiroPagamento" data-pos="2"></routeoptions>

<div data-bind="stopBindings: true">
    <form id="form-FinanceiroPagamentoBaixas-NewEdit" data-bind="validateForm: {  }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Baixas Realizadas</h3>
                </div>
                <div class="panel-body read-mode">
                    @HtmlHelper.GridView.GridNewEdit(
                id: "PagamentosRealizado", // Declarar na página <template id="newedit-id"></template>
                vm: "lstPagamentoRealizado",
                title: "Baixas Realizadas",
                columns: @<script>
                    [
                        { 'id': 'DataHoraBaixa', 'header': true, 'displayName': 'Data/Hora', sortable: true },
                        { 'id': 'DocumentoFinanceiroBaixa', 'header': true, 'displayName': 'Documento', sortable: true },
                        { 'id': 'DescricaoTipoMovimentoFinanceiro', 'header': true, 'displayName': 'Mov. Financerio', sortable: true },
                        { 'id': 'ValorAtual', 'header': true, 'displayName': 'Valor Documento', sortable: true },
                        { 'id': 'ValorDesconto', 'header': true, 'displayName': 'Valor Desconto', 'sortable': true },
                        { 'id': 'ValorMulta', 'header': true, 'displayName': 'Valor Multa', 'sortable': true },
                        { 'id': 'ValorJuro', 'header': true, 'displayName': 'Valor Juro', 'sortable': true },
                        { 'id': 'ValorVariacaoCambial', header: true, displayName: 'Variação Cambial', 'sortable': true },
                        { 'id': 'TotalBaixado', header: true, displayName: 'Total Baixado', 'sortable': true },
                        { 'id': 'NomeSecundarioPessoa', header: true, displayName: 'Pessoa Operação', 'sortable': true }
                    ]
                </script>,
                templateRows:
                @<tr>
                     <td data-bind="template: { name: 'link-edit', data: { text: DataHoraBaixa}  }"></td>
                     <td data-bind="text: DocumentoFinanceiroBaixa"></td>
                     <td data-bind="text: DescricaoTipoMovimentoFinanceiro"></td>
                     <td data-bind="text: ValorAtual"></td>
                     <td data-bind="text: ValorDesconto"></td>
                     <td data-bind="text: ValorMulta"></td>
                     <td data-bind="text: ValorJuro"></td>
                     <td data-bind="text: ValorVariacaoCambial"></td>
                     <td data-bind="text: TotalBaixado"></td>
                     <td data-bind="text: NomeSecundarioPessoa"></td>
                </tr>, orderByCol: "DataHoraBaixa", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false, showNewButton: false)
                </div>
            </div>
        </div>
    </form>
</div>
