﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.Pagamento.DetalheTituloVM

<routeoptions data-use-custom-view="true" data-route-custom="route-financeiroPagamento" data-pos="2"></routeoptions>

<div data-bind="stopBindings: true">
    <form id="form-FinanceiroDetalhesTitulo-NewEdit" data-bind="validateForm: { submitHandler: Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default read-mode">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="radio">Movimento Financeiro</label><br />
                                <div class="btn-group">
                                    <label for="neweditDetalheTitulo-TipoMovimentoFinanceiro1" class="btn-primary btn-inverted btn"><input id="newedit-TipoMovimentoFinanceiro1" value="1" data-bind="checked: TipoMovimentoFinanceiro, vanillaUniform: { checkParentCSS: true }" type="radio" name="neweditDetalheTitulo-TipoMovimentoFinanceiro">A Pagar</label>
                                    <label for="neweditDetalheTitulo-TipoMovimentoFinanceiro2" class="btn-primary btn-inverted btn"><input id="newedit-TipoMovimentoFinanceiro2" value="2" data-bind="checked: TipoMovimentoFinanceiro, vanillaUniform: { checkParentCSS: true }" type="radio" name="neweditDetalheTitulo-TipoMovimentoFinanceiro">A Receber</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtNomeRazaoPessoa">Razão Social</label>
                                <input type="text" id="txtNomeRazaoPessoa" name="txtNomeRazaoPessoa" data-bind="value: NomePessoa" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtMunicipioPessoa">Município (UF)</label>
                                <input type="text" id="txtMunicipioPessoa" name="txtMunicipioPessoa" data-bind="value: MunicipioPessoa" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtEmissaoDocumentoTipo">Emissão</label>
                                <input type="text" id="txtEmissaoDocumentoTipo" name="txtEmissaoDocumentoTipo" data-bind="value: DataEmissaoExibicao" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtDataVencimento">Vencimento</label>
                                <input type="text" id="txtDataVencimento" name="txtDataVencimento" data-bind="value: DataVencimentoExibicao" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtTitulo">Número</label>
                                <input type="text" id="txtTitulo" name="txtTitulo" data-bind="value: Titulo" class="form-control" maxlength="250" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="ddlDocumentoTipoDetalheTitulo">Tipo de Documento</label>
                                @HtmlHelper.Select.SearchableKO("ddlDocumentoTipoDetalheTitulo", "IdDocumentoTipo", "IdDocumentoTipo", "Descricao", "Descricao", "Descricao", "/Contabilidade/DocumentoTipo/List", "Ativo:true", disabled: true)
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtValorOriginalTituloExibicao">Valor</label>
                                <input type="text" id="txtValorOriginalTituloExibicao" name="txtValorOriginalTituloExibicao" data-bind="value: ValorOriginalTituloExibicao" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtValorBaixadoAnteriormente">Baixado</label>
                                <input type="text" id="txtValorBaixadoAnteriormente" name="txtValorBaixadoAnteriormente" data-bind="value: TotalBaixadoExibicao" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtSaldoPagar">Saldo a Pagar</label>
                                <input type="text" id="txtSaldoPagar" name="txtSaldoPagar" data-bind="value: SaldoAPagarExibicao" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtDataLimiteDesconto">Limite Desconto</label>
                                <input type="text" id="txtDataLimiteDesconto" name="txtDataLimiteDesconto" data-bind="value: DataLimiteDesconto" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-flex">
                <div class="panel panel-default col-flex">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title">Informações do Pagamento</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="form-group">
                                    <label for="ddlFinanceiroFormaPagamentoDetalhe">Forma de Pagamento</label>
                                    @HtmlHelper.Select.SearchableKO("ddlFinanceiroFormaPagamentoDetalhe", "IdFinanceiroFormaPagamento", "IdFinanceiroFormaPagamento", "Descricao", "Descricao", "Descricao", "/Financeiro/FormaPagamento/List", "Ativo:true, Titulo:true", idChaveRelacao: "IdFinanceiroFormaPagamento")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="form-group">
                                    <label for="ddlFinanceiroContaDetalheTitulo">Conta</label>
                                    @HtmlHelper.Select.SearchableKO("ddlFinanceiroContaDetalheTitulo", "IdFinanceiroConta", "IdFinanceiroConta", "Detalhe", "BuscaDetalhada", "Detalhe", "/Financeiro/Conta/List", "Ativo:true", disabled: true)
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group read-mode">
                                    <label for="txtSaldoAtual">Saldo Atual</label>
                                    <input type="text" id="txtSaldoAtual" name="txtSaldoAtual" data-bind="value: SaldoAtualExibicao" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group read-mode">
                                    <label for="txtSaldoAntecipacaoesExibicao">Saldo Antecipações</label>
                                    <input type="text" id="txtSaldoAntecipacaoesExibicao" name="txtSaldoAntecipacaoesExibicao" data-bind="value: SaldoAntecipacaoesExibicao" disabled="disabled" class="form-control" />
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group read-mode">
                                    <label for="txtSaldoCreditos">Saldo Créditos</label>
                                    <input type="text" id="txtSaldoCreditos" name="txtSaldoCreditos" data-bind="value: SaldoCreditosExibicao" disabled="disabled" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default col-flex">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title"></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-inline">
                                    <label for="txtValorTitulo" class="control-label size-md" data-bind="text: (TipoMovimentoFinanceiro() == 1 ? 'Valor do Título a Pagar' : 'Valor do Título a Receber')" />
                                    <div class="form-group">
                                        <div class="input-group" style="width: 251px">
                                            <div class="input-group-btn">
                                                @HtmlHelper.Select.SearchableKO("ddl1", "IdFinanceiroMoedaValorTitulo", "IdFinanceiroMoeda", "Sigla", "DescricaoDetalhadaBusca", "Sigla", "/Financeiro/Moeda/List", "Ativo:true", idChaveRelacao: "IdFinanceiroMoeda", required: true, width: "86px", allowClear: false)
                                            </div>
                                            <input type="text" id="txtValorTitulo" name="txtValorTitulo" data-bind="value: ValorTitulo, maskDecimal: { casasDecimais: 2 }" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" data-bind="if: IdFinanceiroMoedaValorAtual() != IdFinanceiroMoedaValorTitulo()">
                            <div class="col-xs-12">
                                <div class="form-inline">
                                    <label for="txtValorAtual" class="control-label size-md">Valor Atual</label>
                                    <div class="form-group">
                                        <div class="input-group" style="width: 251px">
                                            <div class="input-group-btn">
                                                @HtmlHelper.Select.SearchableKO("ddl2", "IdFinanceiroMoedaValorAtual", "IdFinanceiroMoeda", "Sigla", "DescricaoDetalhadaBusca", "Sigla", "/Financeiro/Moeda/List", "Ativo:true, Natureza:1", idChaveRelacao: "IdFinanceiroMoeda", required: true, allowClear: false, vmDataSelected: "param.MoedaValorAtual", width: "86px", disabled: true)
                                            </div>
                                            <input type="text" id="txtValorAtual" name="txtValorAtual" data-bind="value: ValorAtual, maskDecimal: { casasDecimais: 2 }" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group size-sm">
                                            <span class="input-group-addon" data-bind="text: param.SiglaValorAtual"></span>
                                            <input id="txtValorAtualCotacao" name="txtValorAtualCotacao" class="form-control" disabled="disabled" data-bind="value: ValorCotacao, maskDecimal: { casasDecimais: 2 }" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-inline">
                                        <label for="txtValorDesconto" class="control-label size-md">(-) Desconto</label>
                                        <div class="form-group">
                                            <div class="input-group" style="width: 251px">
                                                <div class="input-group-btn">
                                                    @HtmlHelper.Select.SearchableKO("ddl3", "IdFinanceiroMoedaValorAtual", "IdFinanceiroMoeda", "Sigla", "DescricaoSigla", "Sigla", "/Financeiro/Moeda/List", "Ativo:true, Natureza:1", idChaveRelacao: "IdFinanceiroMoeda", disabled: true)
                                                </div>
                                                <input type="text" id="txtValorDesconto" name="txtValorDesconto" data-bind="value: ValorDesconto, maskDecimal: { casasDecimais: 2, max: ValorAtual }" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group size-sm">
                                                <span class="input-group-addon">
                                                    %
                                                </span>
                                                <input id="txtPercDesconto" name="txtPercDesconto" class="form-control" data-bind="value: PercDesconto, maskDecimal: { casasDecimais: 2, extendedOptions: { min: 0, max: 100, allowMinus: false } }" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-inline">
                                        <label for="txtValorMulta" class="control-label size-md">(+) Multa</label>
                                        <div class="form-group">
                                            <div class="input-group" style="width: 251px">
                                                <div class="input-group-btn">
                                                    @HtmlHelper.Select.SearchableKO("ddl4", "IdFinanceiroMoedaValorAtual", "IdFinanceiroMoeda", "Sigla", "DescricaoSigla", "Sigla", "/Financeiro/Moeda/List", "Ativo:true, Natureza:1", idChaveRelacao: "IdFinanceiroMoeda", required: true, disabled: true)
                                                </div>
                                                <input type="text" id="txtValorMulta" name="txtValorMulta" data-bind="value: ValorMulta, maskDecimal: { casasDecimais: 2 , max: ValorAtual }" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group size-sm">
                                                <span class="input-group-addon">
                                                    %
                                                </span>
                                                <input id="txtPercMulta" name="txtPercMulta" class="form-control" data-bind="value: PercMulta, maskDecimal: { casasDecimais: 2, extendedOptions: { min: 0, max: 100, allowMinus: false } }" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-inline">
                                        <label for="txtValorJuros" class="control-label size-md">(+) Juros (a.m)</label>
                                        <div class="form-group">
                                            <div class="input-group" style="width: 251px">
                                                <div class="input-group-btn">
                                                    @HtmlHelper.Select.SearchableKO("ddl5", "IdFinanceiroMoedaValorAtual", "IdFinanceiroMoeda", "Sigla", "DescricaoSigla", "Sigla", "/Financeiro/Moeda/List", "Ativo:true, Natureza:1", idChaveRelacao: "IdFinanceiroMoeda", required: true, disabled: true)
                                                </div>
                                                <input type="text" id="txtValorJuro" name="txtValorJuro" data-bind="value: ValorJuro, maskDecimal: { casasDecimais: 2, max: ValorAtual }" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group size-sm">
                                                <span class="input-group-addon">
                                                    %
                                                </span>
                                                <input id="txtPercJuro" name="txtPercJuro" class="form-control" data-bind="value: PercJuro, maskDecimal: { casasDecimais: 2, extendedOptions: { min: 0, max: 100, allowMinus: false } }" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-inline">
                                        <label for="txtValorVariacaoCambial" class="control-label size-md">Variação Cambial</label>
                                        <div class="form-group">
                                            <div class="input-group" style="width: 251px">
                                                <div class="input-group-btn">
                                                    @HtmlHelper.Select.SearchableKO("ddl6", "IdFinanceiroMoedaValorAtual", "IdFinanceiroMoeda", "Sigla", "DescricaoSigla", "Sigla", "/Financeiro/Moeda/List", "Ativo:true, Natureza:1", idChaveRelacao: "IdFinanceiroMoeda", required: false, disabled: true)
                                                </div>
                                                <input type="text" id="txtValorVariacaoCambial" name="txtValorVariacaoCambial" data-bind="value: ValorVariacaoCambial, maskDecimal: { casasDecimais: 2, min: 0 }" class="form-control" />
                                                @*<div class="input-group-btn" style="width: 120px">
                                                    
                                                </div>*@
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="btn-group remove-check">
                                                <label for="NaturezaVariacaoCambialPos" title="Variação Cambial Positiva" class="btn-primary btn-inverted btn btn-icon btn-icon-lg"><i class="material-icons">&#xE145;</i><input type="radio" id="NaturezaVariacaoCambialPos" value="1" name="NaturezaVariacaoCambial" data-bind="checked: NaturezaVariacaoCambial, vanillaUniform: { checkParentCSS: true }" /></label>
                                                <label for="NaturezaVariacaoCambialNeg" title="Variação Cambial Negativa" class="btn-primary btn-inverted btn btn-icon btn-icon-lg"><i class="material-icons">&#xE15B;</i><input type="radio" id="NaturezaVariacaoCambialNeg" value="2" name="NaturezaVariacaoCambial" data-bind="checked: NaturezaVariacaoCambial, vanillaUniform: { checkParentCSS: true }" /></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-inline">
                                        <label for="txtValorBaixado" class="control-label size-md"> = Valor a Baixar</label>

                                        <div class="form-group">
                                            <div class="input-group read-mode" style="width: 251px">
                                                <div class="input-group-btn">
                                                    @HtmlHelper.Select.SearchableKO("ddl7", "IdFinanceiroMoedaValorAtual", "IdFinanceiroMoeda", "Sigla", "DescricaoSigla", "Sigla", "/Financeiro/Moeda/List", "Ativo:true, Natureza:1", idChaveRelacao: "IdFinanceiroMoeda", required: true, disabled: true)
                                                </div>
                                                <input type="text" id="txtTotal" name="txtTotal" data-bind="value: Total, maskDecimal: { casasDecimais: 2 }" disabled="disabled" class="form-control" />
                                            </div>
                                        </div>
                                        @*<div class="form-group read-mode">
                                                <div class="input-group size-sm">
                                                    <span class="input-group-addon">
                                                        %
                                                    </span>
                                                    <input id="txtPercentualBaixado" name="txtPercentualBaixado" class="form-control" data-bind="maskDecimal: { casasDecimais: 2 }" disabled="disabled" />
                                                </div>
                                            </div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-inline">
                                        <label for="txtSaldoEmAberto" class="control-label size-md">Saldo em Aberto</label>

                                        <div class="form-group read-mode">
                                            <div class="input-group" style="width: 251px">
                                                <div class="input-group-btn">
                                                    @HtmlHelper.Select.SearchableKO("ddl8", "IdFinanceiroMoedaValorAtual", "IdFinanceiroMoeda", "Sigla", "Sigla", "Sigla", "/Financeiro/Moeda/List", "Ativo:true, Natureza:1", idChaveRelacao: "IdFinanceiroMoeda", required: true, disabled: true)
                                                </div>
                                                <input type="text" id="txtSaldoEmAberto" name="txtSaldoEmAberto" data-bind="value: SaldoEmAberto, maskDecimal: { casasDecimais: 2 }" disabled="disabled" class="form-control" />
                                            </div>
                                        </div>
                                        @*<div class="form-group read-mode">
                                                <div class="input-group size-sm">
                                                    <span class="input-group-addon">
                                                        %
                                                    </span>
                                                    <input id="txtPercentualSaldoEmAberto" name="txtPercentualSaldoEmAberto" class="form-control" data-bind="maskDecimal: { casasDecimais: 2 }" disabled="disabled" />
                                                </div>
                                            </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="panel panel-default panel-action">
            <div class="panel-body">
                <a data-bind="event: { 'click': Save }" class="btn btn-primary btn-lg btn-primary-action"><i class="material-icons">&#xE5CA;</i> Salvar e Selecionar</a>
                <a href="#" data-bind="attr: { href: '/#/Financeiro/Pagamento/FormaPagamentoTitulo/' + Route.routeOptions.id }" class="btn btn-primary btn-lg btn-primary-action"><i class="material-icons">&#xE5CA;</i> Realizar Baixa</a>
                <a href="/#/Financeiro/Pagamento/Index" class="btn btn-primary btn-inverted btn-default btn-lg"><i class="material-icons">&#xE5C4;</i> Voltar</a>
            </div>
        </div>
    </form>
</div>