﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.Pagamento.DetalheAntecipacaoVM

<routeoptions data-use-custom-view="true" data-route-custom="route-financeiroPagamento" data-pos="2"></routeoptions>

<div data-bind="stopBindings: true">
    <form id="form-FinanceiroDetalhesAntecipacao-NewEdit" data-bind="validateForm: { submitHandler: Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default read-mode">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="radio">Movimento Financeiro</label><br />
                                <div class="btn-group">
                                    <label for="neweditDetalheAntecipacao-TipoMovimentoFinanceiro1" class="btn-primary btn-inverted btn"><input id="newedit-TipoMovimentoFinanceiro1" value="1" data-bind="checked: TipoMovimentoFinanceiro, vanillaUniform: { checkParentCSS: true }" type="radio" name="neweditDetalheAntecipacao-TipoMovimentoFinanceiro">A Pagar</label>
                                    <label for="neweditDetalheAntecipacao-TipoMovimentoFinanceiro2" class="btn-primary btn-inverted btn"><input id="newedit-TipoMovimentoFinanceiro2" value="2" data-bind="checked: TipoMovimentoFinanceiro, vanillaUniform: { checkParentCSS: true }" type="radio" name="neweditDetalheAntecipacao-TipoMovimentoFinanceiro">A Receber</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtNomeRazaoPessoa">Razão Social</label>
                                <input type="text" id="txtNomeRazaoPessoa" name="txtNomeRazaoPessoa" data-bind="value: NomePessoa" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtMunicipioPessoa">Município (UF)</label>
                                <input type="text" id="txtMunicipioPessoa" name="txtMunicipioPessoa" data-bind="value: MunicipioPessoa" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtEmissaoDocumentoTipo">Emissão</label>
                                <input type="text" id="txtEmissaoDocumentoTipo" name="txtEmissaoDocumentoTipo" data-bind="value: DataEmissaoExibicao" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtDataVencimento">Vencimento</label>
                                <input type="text" id="txtDataVencimento" name="txtDataVencimento" data-bind="value: DataVencimentoExibicao" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1">
                            <div class="form-group">
                                <label for="txtTitulo">Número</label>
                                <input type="text" id="txtTitulo" name="txtTitulo" data-bind="value: Titulo" class="form-control" maxlength="250" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="ddlDocumentoTipoPagamento">Tipo de Documento</label>
                                @HtmlHelper.Select.SearchableKO("ddlDocumentoTipoPagamento", "IdDocumentoTipo", "IdDocumentoTipo", "Descricao", "Descricao", "Descricao", "/Contabilidade/DocumentoTipo/List", "Ativo:true")
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtValorOriginalTituloExibicao">Valor</label>
                                <input type="text" id="txtValorOriginalTituloExibicao" name="txtValorOriginalTituloExibicao" data-bind="value: ValorOriginalAntecipacao" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtValorBaixadoAnteriormente">Baixado</label>
                                <input type="text" id="txtValorBaixadoAnteriormente" name="txtValorBaixadoAnteriormente" data-bind="value: TotalBaixadoExibicao" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtSaldoPagar">Saldo a Pagar</label>
                                <input type="text" id="txtSaldoPagar" name="txtSaldoPagar" data-bind="value: SaldoAPagarExibicao" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-flex">
                <div class="panel panel-default col-flex">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title">Informações do Pagamento</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="form-group">
                                    <label for="ddlFinanceiroFormaPagamento">Forma de Pagamento</label>
                                    @HtmlHelper.Select.SearchableKO("ddlFinanceiroFormaPagamento", "IdFinanceiroFormaPagamento", "IdFinanceiroFormaPagamento", "Descricao", "Descricao", "Descricao", "/Financeiro/FormaPagamento/List", idChaveRelacao: "IdFinanceiroFormaPagamento", required: true)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="form-group">
                                    <label for="ddlFinanceiroContaDetalheAntecipacao">Conta</label>
                                    @HtmlHelper.Select.SearchableKO("ddlFinanceiroContaDetalheAntecipacao", "IdFinanceiroConta", "IdFinanceiroConta", "Detalhe", "BuscaDetalhada", "Detalhe", "/Financeiro/Conta/List", "Ativo:true", disabled: true)
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group read-mode">
                                    <label for="txtSaldoAtual">Saldo Atual</label>
                                    <input type="text" id="txtSaldoAtual" name="txtSaldoAtual" data-bind="value: SaldoAtualExibicao" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group read-mode">
                                    <label for="txtSaldoAntecipacaoesExibicao">Saldo Antecipações</label>
                                    <input type="text" id="txtSaldoAntecipacaoesExibicao" name="txtSaldoAntecipacaoesExibicao" data-bind="value: SaldoAntecipacaoesExibicao" disabled="disabled" class="form-control" />
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group read-mode">
                                    <label for="txtSaldoCreditos">Saldo Créditos</label>
                                    <input type="text" id="txtSaldoCreditos" name="txtSaldoCreditos" data-bind="value: SaldoCreditosExibicao" disabled="disabled" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default col-flex">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title"></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-inline">
                                    <label for="txtValorTitulo" class="control-label size-md" data-bind="text: (TipoMovimentoFinanceiro() == 1 ? 'Valor Antecipação a Pagar' : 'Valor Antecipação a Receber')" />
                                    <div class="form-group">
                                        <div class="input-group" style="width: 251px">
                                            <div class="input-group-btn">
                                                @HtmlHelper.Select.SearchableKO("ddl1", "IdFinanceiroMoedaValorAntecipacao", "IdFinanceiroMoeda", "Sigla", "DescricaoDetalhadaBusca", "Sigla", "/Financeiro/Moeda/List", "Ativo:true", idChaveRelacao: "IdFinanceiroMoeda", required: true, width: "86px", disabledObservable: "PossuiBaixas")
                                            </div>
                                            <input type="text" id="txtValorAntecipacao" name="txtValorAntecipacao" data-bind="value: ValorAntecipacao, maskDecimal: { casasDecimais: 2 }" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" data-bind="if: IdFinanceiroMoedaValorAtual() != IdFinanceiroMoedaValorAntecipacao()">
                            <div class="col-xs-12">
                                <div class="form-inline">
                                    <label for="txtValorAtual" class="control-label size-md">Valor Atual</label>
                                    <div class="form-group">
                                        <div class="input-group" style="width: 251px">
                                            <div class="input-group-btn">
                                                @HtmlHelper.Select.SearchableKO("ddl2", "IdFinanceiroMoedaValorAtual", "IdFinanceiroMoeda", "Sigla", "DescricaoDetalhadaBusca", "Sigla", "/Financeiro/Moeda/List", "Ativo:true, Natureza:1", idChaveRelacao: "IdFinanceiroMoeda", required: true, allowClear: false, vmDataSelected: "param.MoedaValorAtual", width: "86px",disabled:true)
                                            </div>
                                            <input type="text" id="txtValorAtual" name="txtValorAtual" data-bind="value: ValorAtual, maskDecimal: { casasDecimais: 2 }" class="form-control" disabled="disabled" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group size-sm">
                                            <span class="input-group-addon" data-bind="text: param.SiglaValorAtual"></span>
                                            <input id="txtValorAtualCotacao" name="txtValorAtualCotacao" class="form-control" disabled="disabled" data-bind="value: ValorCotacao, maskDecimal: { casasDecimais: 2 }" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <hr />
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-inline">
                                        <label for="txtValorBaixado" class="control-label size-md"> = Valor a Baixar</label>
                                        <div class="form-group">
                                            <div class="input-group read-mode" style="width: 251px">
                                                <div class="input-group-btn">
                                                    @HtmlHelper.Select.SearchableKO("ddl3", "IdFinanceiroMoedaValorAtual", "IdFinanceiroMoeda", "Sigla", "DescricaoDetalhadaBusca", "Sigla", "/Financeiro/Moeda/List", "Ativo:true, Natureza:1", idChaveRelacao: "IdFinanceiroMoeda", required: true, disabled: true)
                                                </div>
                                                <input type="text" id="txtTotal" name="txtTotal" data-bind="value: Total, maskDecimal: { casasDecimais: 2 }" disabled="disabled" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group read-mode">
                                            <div class="input-group size-sm">
                                                <span class="input-group-addon">
                                                    %
                                                </span>
                                                <input id="txtPercentualABaixar" name="txtPercentualABaixar" class="form-control" data-bind="value: PercentualBaixar, maskDecimal: { casasDecimais: 2 }" disabled="disabled" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-inline">
                                        <label for="txtSaldoEmAberto" class="control-label size-md">Saldo em Aberto</label>
                                        <div class="form-group read-mode">
                                            <div class="input-group" style="width: 251px">
                                                <div class="input-group-btn">
                                                    @HtmlHelper.Select.SearchableKO("ddl4", "IdFinanceiroMoedaValorAtual", "IdFinanceiroMoeda", "Sigla", "DescricaoDetalhadaBusca", "Sigla", "/Financeiro/Moeda/List", "Ativo:true, Natureza:1", idChaveRelacao: "IdFinanceiroMoeda", required: true, disabled: true)
                                                </div>
                                                <input type="text" id="txtSaldoEmAberto" name="txtSaldoEmAberto" data-bind="value: SaldoEmAberto, maskDecimal: { casasDecimais: 2 }" disabled="disabled" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group read-mode">
                                            <div class="input-group size-sm">
                                                <span class="input-group-addon">
                                                    %
                                                </span>
                                                <input id="txtPercentualSaldoEmAberto" name="txtPercentualSaldoEmAberto" class="form-control" data-bind="maskDecimal: { casasDecimais: 2 }" disabled="disabled" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="panel panel-default" id="pnlPagamentosRealizados" data-bind="whit: lstPagamentoRealizado, collapsible: { vmArray: [ lstPagamentoRealizado() ]}">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Pagamentos Realizados</h3>
            </div>
            <div class="panel-body">
                @HtmlHelper.GridView.GridNewEdit(
                id: "PagamentoRealizado", // Declarar na página <template id="newedit-id"></template>
                vm: "lstPagamentoRealizado",
                title: "Baixas Realizadas",
                columns: @<script>
                    [
                        { 'id': 'DataBaixa', header: true, displayName: 'Data', 'sortable': true },
                        { 'id': 'DescricaoFinanceiroConta', header: true, displayName: 'Conta', 'sortable': true },
                        { 'id': 'DescricaoFinanceiroFormaPagamento', header: true, displayName: 'Forma Pagamento', 'sortable': true },
                        { 'id': 'Titulo', header: true, displayName: 'Título', 'sortable': true },
                        { 'id': 'ValorExibicao', header: true, displayName: 'Valor', 'sortable': true }
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="text: DataBaixa"></td>
                    <td data-bind="text: DescricaoFinanceiroConta"></td>
                    <td data-bind="text: DescricaoFinanceiroFormaPagamento"></td>
                    <td data-bind="text: Titulo"></td>
                    <td data-bind="text: ValorExibicao"></td>
                </tr>, orderByCol: "DataBaixa", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false, showNewButton: false)
            </div>
        </div>*@

        <div class="panel panel-default panel-action">
            <div class="panel-body">
                <a data-bind="event: { 'click': Save }" class="btn btn-primary btn-lg btn-primary-action" id="btnSalvarSelecionar"><i class="material-icons">&#xE5CA;</i> Salvar e Selecionar</a>
                <a href="#" data-bind="attr: { href: '/#/Financeiro/Pagamento/FormaPagamentoTitulo/' + Route.routeOptions.id }" class="btn btn-primary btn-lg btn-primary-action" id="btnRealizarBaixa"><i class="material-icons">&#xE5CA;</i> Realizar Baixa</a>
                <a href="/#/Financeiro/Pagamento/Index" class="btn btn-primary btn-inverted btn-default btn-lg"><i class="material-icons">&#xE5C4;</i> Voltar</a>
            </div>
        </div>

    </form>
    <template id="newedit-PagamentoRealizado">

    </template>
</div>
