﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.Pagamento.FormaPagamentoTituloVM

<routeoptions data-route-custom="route-financeiroPagamento" data-pos="2"></routeoptions>

<div data-bind="stopBindings: true">
    <form id="form-FinanceiroFormaPagamentoTitulo-NewEdit" data-bind="validateForm: { submitHandler: Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row read-mode">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtTitulosSelecionadosExibicao">Títulos Selecionados</label>
                            <input type="text" id="txtTitulosSelecionadosExibicao" name="txtTitulosSelecionadosExibicao" data-bind="value: TitulosSelecionadosExibicao" class="form-control" disabled="disabled" />
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtDataBaixa">Data da Baixa</label>
                            <input type="text" id="txtDataBaixa" name="txtDataBaixa" data-bind="value: DataBaixa" class="form-control" disabled="disabled" />
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtTotalBaixar">Total a Baixar</label>
                            <input type="text" id="txtTotalBaixar" name="txtTotalBaixar" data-bind="value: TotalBaixar, maskDecimal: { casasDecimais: 2, extendedOptions: { rightAlign: false } }" class="form-control" disabled="disabled" />
                        </div>
                    </div>
                    <div class="row" data-bind="if: vm.QuantidadeSelecionados() == 1">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtSaldoAntecipacoesExibicao">Saldo Antecipações</label>
                                <input type="text" id="txtSaldoAntecipacoesExibicao" name="txtSaldoAntecipacoesExibicao" data-bind="value: SaldoAntecipacoesExibicao, maskDecimal: { casasDecimais: 2, extendedOptions: { rightAlign: false } }" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtSaldoCreditos">Saldo Créditos</label>
                                <input type="text" id="txtSaldoCreditos" name="txtSaldoCreditos" data-bind="value: SaldoCreditosExibicao, maskDecimal: { casasDecimais: 2, extendedOptions: { rightAlign: false } }" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Apenas quando for 1 Título/Antecipação  -->
                <div class="row read-mode" data-bind="if: QuantidadeSelecionados() == 1">
                    <div class="col-xs-5">
                        <div class="form-group">
                            <label for="txtNomePessoa">Pessoa</label>
                            <input type="text" id="txtNomePessoa" name="txtNomePessoa" data-bind="value: NomePessoa" class="form-control" disabled="disabled" />
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="form-group">
                            <label for="txtMunicipioPessoa">Munícipio (UF)</label>
                            <input type="text" id="txtMunicipioPessoa" name="txtMunicipioPessoa" data-bind="value: MunicipioPessoa" class="form-control" disabled="disabled" />
                        </div>
                    </div>
                </div>
                <!-- Apenas quando for 1 Título/Antecipação  -->
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlFinanceiroFormaPagamento">Forma de Pagamento</label>
                            @HtmlHelper.Select.SearchableKO("ddlFinanceiroFormaPagamento", "IdFinanceiroFormaPagamentoPrevista", "IdFinanceiroFormaPagamento", "Descricao", "Descricao", "Descricao", "/Financeiro/FormaPagamento/List", idChaveRelacao: "IdFinanceiroFormaPagamento", dadosComplObservable: "FormaPagamentoDadosCompl")
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @Html.Partial("~/Areas/Financeiro/Views/Pagamento/_PartialFormaPagamentoDinheiro.cshtml")
        @Html.Partial("~/Areas/Financeiro/Views/Pagamento/_PartialFormaPagamentoCheque.cshtml")
        @Html.Partial("~/Areas/Financeiro/Views/Pagamento/_PartialFormaPagamentoCartao.cshtml")
        @Html.Partial("~/Areas/Financeiro/Views/Pagamento/_PartialFormaPagamentoTransferencia.cshtml")
        @Html.Partial("~/Areas/Financeiro/Views/Pagamento/_PartialFormaPagamentoBoleto.cshtml")
        @Html.Partial("~/Areas/Financeiro/Views/Pagamento/_PartialFormaPagamentoGuia.cshtml")

        <div class="panel panel-default" data-bind="if: (IdFinanceiroFormaPagamentoPrevista() == 8 && Tipo() == 1)">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Abatimento de Créditos</h3>
            </div>
            <div class="panel-body">
                @HtmlHelper.GridView.GridNewEdit(
                id: "AbatimentoCredito", // Declarar na página <template id="newedit-id"></template>
                vm: "lstAbatimentoCredito",
                vmExtend: "vmAbatimentoCreditoExtend",
                title: "Abatimento de Crédito",
                addTitle: "",
                columns: @<script>
                    [
                        { 'id': 'IdFinanceiroTitulo' },
                        { 'id': 'IdFinanceiroAntecipacao' },
                        { 'id': 'ValorBaixar' },
                        { 'id': 'DescricaoDocumentoFinanceiro', header: true, displayName: 'Tipo Documento', 'sortable': true },
                        { 'id': 'Numero', header: true, displayName: 'Número', 'sortable': true },
                        { 'id': 'DataEmissaoExibicao', header: true, displayName: 'Data Emissão', 'sortable': true },
                        { 'id': 'DataVencimentoExibicao', header: true, displayName: 'Data Venc', 'sortable': true },
                        { 'id': 'ValorBaixadoExibicao', header: true, displayName: 'Valor Baixado', 'sortable': true },
                        { 'id': 'ValorSaldoExibicao', header: true, displayName: 'Saldo', 'sortable': true },
                        { 'id': 'ValorBaixarExibicao', header: true, displayName: 'Baixar', 'sortable': true },
                        defaults.gridNewEdit.column.acaoEditRemove
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: DescricaoDocumentoFinanceiro }  }"></td>
                    <td data-bind="text: Numero"></td>
                    <td data-bind="text: DataEmissaoExibicao"></td>
                    <td data-bind="text: DataVencimentoExibicao"></td>
                    <td data-bind="text: ValorBaixadoExibicao"></td>
                    <td data-bind="text: ValorSaldoExibicao"></td>
                    <td data-bind="text: ValorBaixarExibicao"></td>
                    <td data-bind="template: { name: 'button-edit-remove' }"></td>
                </tr>, orderByCol: "DescricaoDocumentoFinanceiro", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false, showNewButton: false)

                <!-- ko if: ko.unwrap(vm.lstAbatimentoCredito).length > 0 -->
                <div class="row read-mode">
                    <div class="col-xs-3 col-xs-offset-6">
                        <div class="form-group">
                            <label for="abatimento-txtTotalBaixar">Total Selecionado</label>
                            <input type="text" id="abatimento-txtTotalBaixar" name="abatimento-txtTotalBaixar" data-bind="value: TotalBaixar, maskDecimal: { casasDecimais: 2, extendedOptions: { rightAlign: false } }" class="form-control" disabled="disabled" />
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="abatimento-txtSaldoBaixa">Saldo da Baixa</label>
                            <input type="text" id="abatimento-txtSaldoBaixa" name="abatimento-txtSaldoBaixa" data-bind="value: SaldoBaixa, maskDecimal: { casasDecimais: 2, extendedOptions: { rightAlign: false } }" class="form-control" disabled="disabled" />
                        </div>
                    </div>
                </div>
                <div class="row read-mode" data-bind="if: ko.unwrap(SaldoDiferenca) != 0">
                    <div class="col-xs-3 col-xs-offset-9">
                        <div class="form-group">
                            <label for="abatimento-txtTotalDiferenca">Diferença</label>
                            <input type="text" id="abatimento-txtTotalDiferenca" name="abatimento-txtTotalDiferenca" data-bind="value: SaldoDiferenca, maskDecimal: { casasDecimais: 2, extendedOptions: { rightAlign: false } }" class="form-control" disabled="disabled" />
                        </div>
                    </div>
                </div>
                <div class="row" data-bind="visible: SaldoExcedidoExibicao">
                    @*<div class="col-xs-5">
                        <div class="form-group">
                            <label for="saldoExcedido-ddlTransacao">Transação</label>
                            @HtmlHelper.Select.SearchableKO("saldoExcedido-ddlTransacao", "IdTransacaoSaldoExcedido", "IdTransacao", "Descricao", "Descricao", "Descricao", "/Corporativo/Transacao/List", dadosComplObservable: "dadosComplTransacaoSaldoExcedido", dataBind: "validate: { required: SaldoExcedidoExibicao }", idChaveRelacao: "IdTransacao")
                        </div>
                    </div>*@
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="saldoExcedido-ddlDocumentoTipo">Tipo Documento</label>
                            @HtmlHelper.Select.SearchableKO("saldoExcedido-ddlDocumentoTipo", "IdDocumentoTipoSaldoExcedido", "IdDocumentoTipo", "Descricao", "Descricao", "Descricao", "/Corporativo/SubProcesso/ListDocumentoTipoPorProcesso", "Ativo:true", idChaveRelacao: "IdDocumentoTipo", dataBind: "validate: { required: SaldoExcedidoExibicao }")
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="saldoExcedido-txtTitulo">Número<span>(Automático)</span></label>
                            <input type="text" id="saldoExcedido-txtTitulo" name="saldoExcedido-txtTitulo" data-bind="value: CodigoSaldoExcedido, required: { validate: SaldoExcedidoExibicao   }" maxlength="1" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="saldoExcedido-txtValorAntecipacao">Valor excedido(Antecipação)</label>
                            <input type="text" id="saldoExcedido-txtValorAntecipacao" name="saldoExcedido-txtValorAntecipacao" data-bind="value: ValorSaldoExcedido, maskDecimal: { casasDecimais: vm.CasasDecimaisMoedaAntecipacao }, required: { validate: SaldoExcedidoExibicao   }" class="form-control" maxlength="15" />
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>

        <div class="panel panel-default panel-action">
            <div class="panel-body">
                <a data-bind="event: { 'click': Save }" class="btn btn-primary btn-lg btn-primary-action"><i class="material-icons">&#xE5CA;</i> Confirmar Baixa</a>
                <a href="/#/Financeiro/Pagamento/Index" class="btn btn-primary btn-inverted btn-default btn-lg"><i class="material-icons">&#xE5C4;</i> Voltar</a>
            </div>
        </div>
    </form>

    <template id="newedit-AbatimentoCredito">
        <div class="row">
            <div class="col-xs-5">
                <div class="form-group">
                    <label for="modal-txtValorBaixar">Valor Baixar</label>
                    <input type="text" id="modal-txtValorBaixar" name="modal-txtValorBaixar" data-bind="value: ValorBaixar, maskDecimal: { casasDecimais: 2 }" class="form-control" />
                </div>
            </div>
        </div>
    </template>

</div>
