﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.Pagamento.IndexVM

<routeoptions data-use-custom-view="true" data-route-custom="route-financeiroPagamento" data-pos="1"></routeoptions>

<div id="filtro-grade">
    <template id="filter-FinanceiroPagamentoIndex">
        <!-- Movimento Financeiro -->
        <div class="form-group">
            <label for="radio">Movimento Financeiro</label><br />
            <div class="btn-group">
                <label for="filter-TipoOperacao1" class="btn-primary btn-inverted btn"><input id="filter-TipoOperacao1" value="1" data-bind="checked: TipoMovimentoFinanceiro, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">A Pagar</label>
                <label for="filter-TipoOperacao2" class="btn-primary btn-inverted btn"><input id="filter-TipoOperacao2" value="2" data-bind="checked: TipoMovimentoFinanceiro, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">A Receber</label>
            </div>
        </div>
        <!-- Documento Financeiro  -->
        <div class="form-group" style="max-width: none">
            <label for="radio">Documento</label><br />
            <div class="btn-group">
                <label for="filter-TipoBusca1" class="btn-primary btn-inverted btn"><input id="filter-TipoBusca1" value="1" data-bind="checked: TipoBusca, vanillaUniform: { checkParentCSS: true }" type="checkbox" name="filter-situacao">Título</label>
                <label for="filter-TipoBusca2" class="btn-primary btn-inverted btn"><input id="filter-TipoBusca2" value="2" data-bind="checked: TipoBusca, vanillaUniform: { checkParentCSS: true }" type="checkbox" name="filter-situacao">Antecipação</label>
                <label for="filter-TipoBusca3" class="btn-primary btn-inverted btn"><input id="filter-TipoBusca3" value="3" data-bind="checked: TipoBusca, vanillaUniform: { checkParentCSS: true }" type="checkbox" name="filter-situacao">Antecipação a Baixar</label>
            </div>                                               
        </div>
        <!-- Tipo de Documento (Pagamento) -->
        <div class="form-group" data-bind="visible: TipoMovimentoFinanceiro() == '1'">
            <label for="ddlFiltroDocumentoTipoPagamento" class="control-label">Documento Tipo</label>
            <div style="min-width: 300px">
                @HtmlHelper.Select.SearchableKO("ddlFiltroDocumentoTipoPagamento", "IdDocumentoTipo", "IdDocumentoTipo", "DescricaoDocumentoTipo", "DescricaoDocumentoTipo", "DescricaoDocumentoTipo", "/Corporativo/Transacao/ListTransacaoDocumentoTipoRecebimento", "Ativo:true", idChaveRelacao: "IdDocumentoTipo")
            </div>
        </div>
        <!-- Tipo de Documento (Recebimento) -->
        <div class="form-group" data-bind="visible: TipoMovimentoFinanceiro() == '2'">
            <label for="ddlFiltroDocumentoTipoRecebimento" class="control-label">Documento Tipo</label>
            <div style="min-width: 300px;">
                @HtmlHelper.Select.SearchableKO("ddlFiltroDocumentoTipoRecebimento", "IdDocumentoTipo", "IdDocumentoTipo", "DescricaoDocumentoTipo", "DescricaoDocumentoTipo", "DescricaoDocumentoTipo", "/Corporativo/Transacao/ListTransacaoDocumentoTipoRecebimento", "Ativo:true", idChaveRelacao: "IdDocumentoTipo")
            </div>
        </div>
        <!-- Número -->
        <div class="form-group" style="width: 90px">
            <label for="txtFiltroTitulo" class="control-label">Número</label>
            <input type="text" id="txtFiltroTitulo" data-bind="textInput: Titulo" class="form-control" />
        </div>
        <!-- Forma de Pagamento-->
        <div class="form-group">
            <label for="ddlFiltroFinanceiroFormaPagamento" class="control-label">Forma de Pagamento</label>
            @HtmlHelper.Select.SelectCheckbox(id: "ddlFiltroFinanceiroFormaPagamento", campoId: "IdFinanceiroFormaPagamentoPrevistaIn", campoIdPesquisa: "IdFinanceiroFormaPagamentoIn", campoValor: "Descricao", campoOrdenacao: "Descricao", campoIdChaveRelacao: "IdFinanceiroFormaPagamento", url: "/Financeiro/FormaPagamento/List", dadosCompl: "Ativo: true", selectOptions: "{ showSubText: true }")
        </div>
        <!-- TODO: Implementar Filtro (Filtrar Apenas) -->
        <!-- Período de Vencimento -->
        <div class="form-group">
            <label for="txtFiltroPeriodoVencimento" class="control-label">Período de Vencimento</label>
            <div class="input-group date">
                <input type="text" id="txtFiltroPeriodoVencimento" data-bind="daterangepicker: { startDate: DataVencimentoInicio, endDate: DataVencimentoFim }" class="form-control" />
                <div class="input-group-addon input-group-btn"><i class="material-icons">&#xE916;</i></div>
            </div>
        </div>
        <!-- Período de Emissão -->
        <div class="form-group">
            <label for="txtFiltroPeriodoEmissao" class="control-label">Período de Emissão</label>
            <div class="input-group date">
                <input type="text" id="txtFiltroPeriodoEmissao" data-bind="daterangepicker: { startDate: DataEmissaoInicio, endDate: DataEmissaoFim }" class="form-control" />
                <div class="input-group-addon input-group-btn"><i class="material-icons">&#xE916;</i></div>
            </div>
        </div>
        <!-- Pessoa -->
        <div class="form-group">
            <label for="ddlFiltroPessoaCliente" class="control-label">Pessoa</label>
            <div style="width:210px">
                @HtmlHelper.Select.SearchableKO("ddlFiltroPessoaCliente", "IdPessoa", "IdPessoaIn", "NomeSecundarioDocumento", "Nomes", "NomeSecundarioDocumento", "/Corporativo/Pessoa/List", "Ativo:true, IdPessoaNaturezaNotIn:3", idChaveRelacao: "IdPessoa")
            </div>
        </div>
        <!-- Situação -->
        <div class="form-group">
            <label for="radio">Situação</label><br />
            <div class="btn-group">
                <label for="filter-Situacao1" class="btn-primary btn-inverted btn"><input id="filter-Situacao1" value="1" data-bind="checked: Situacao, vanillaUniform: { checkParentCSS: true }" type="checkbox" name="filter-situacao">A Baixar</label>
                <label for="filter-Situacao2" class="btn-primary btn-inverted btn"><input id="filter-Situacao2" value="2" data-bind="checked: Situacao, vanillaUniform: { checkParentCSS: true }" type="checkbox" name="filter-situacao">Parcial</label>
                <label for="filter-Situacao3" class="btn-primary btn-inverted btn"><input id="filter-Situacao3" value="3" data-bind="checked: Situacao, vanillaUniform: { checkParentCSS: true }" type="checkbox" name="filter-situacao">Baixado</label>
            </div>                                             
        </div>
    </template>

    @HtmlHelper.GridView.GridIndex(
        id: "FinanceiroPagamentoIndex",
        newUrl: "#/Financeiro/Pagamento/New",
        editUrl: "#/Financeiro/Pagamento/FormaPagamentoTitulo",
        listUrl: "/Financeiro/Pagamento/List",
        columns:
        @<script>
            [
                { 'id': 'ID', editColumn: true, filter: true, defaultFilter: true },
                { 'id': 'Tipo' },
                { 'id': 'IdDocumentoTipo', filter: true },
                { 'id': 'IdPessoa', filter: true },
                { 'id': 'TipoBusca', filter: true, defaultValue: ["1", "2"] },
                { 'id': 'IdFinanceiroFormaPagamentoPrevistaIn', filter: true },
                { 'id': 'TipoMovimentoFinanceiro', defaultValue: 1, filter: true },
                { 'id': 'DataVencimentoInicio', defaultValue: null, filter: true },
                { 'id': 'DataVencimentoFim', defaultValue: null, filter: true },
                { 'id': 'DataEmissaoInicio', defaultValue: null, filter: true },
                { 'id': 'DataEmissaoFim', defaultValue: null, filter: true },
                { 'id': 'Situacao', filter: true, defaultValue: ["1"] },
                { 'id': 'Chave', editColumn: true, filter: true, defaultFilter: true },
                { 'id': 'NomePessoa', 'header': true, 'displayName': 'NomePessoa', sortable: true },
                { 'id': 'TipoDescricao', 'header': true, 'displayName': 'Documento', sortable: true },
                { 'id': 'Titulo', 'header': true, 'displayName': 'Número', sortable: true, filter: true },
                { 'id': 'DataVencimento', 'header': true, 'displayName': 'Vencimento', sortable: true },
                { 'id': 'ValorAtualExibicao', 'header': true, 'displayName': 'Valor', sortable: true },
                { 'id': 'ValorSaldoAtualExibicao', 'header': true, 'displayName': 'Saldo', sortable: true },
                { 'id': 'ValorBaixarExibicao', 'header': true, 'displayName': 'Baixar', sortable: true },
                { 'id': 'DescricaoProcessoSituacao', 'header': true, 'displayName': 'Situação', sortable: true },
                { 'id': 'PossuiCreditos', 'header': true, 'displayName': 'Créditos', sortable: true },
                { displayName: "Ações", width: "186px", header: true, sortable: false }
            ]
        </script>,
        templateRows:
        @<tr>
            <!-- ko if: $component.useSelection -->
            <td data-bind="template: { name: 'checkbox-select' }"></td>
            <!-- /ko -->
            <td data-bind="text: NomePessoa"></td>
            <td data-bind="text: TipoDescricao"></td>
            <td data-bind="text: Titulo, id: ID"></td>
            <td data-bind="text: DataVencimento, id: ID"></td>
            <td data-bind="text: ValorAtualExibicao, id: ID"></td>
            <td data-bind="text: ValorSaldoAtualExibicao, id: ID"></td>
            <td data-bind="text: ValorBaixarExibicao, id: ID"></td>
            <td data-bind="text: DescricaoProcessoSituacao, id: ID"></td>
            <td data-bind="template: { name: 'label-status', data: { status: PossuiCreditos } }"></td>
            <td>
                <!-- ko if: Tipo == 1 -->
                <a data-bind="rowEditEnable: {}, attr: { href: '#/Financeiro/Pagamento/DetalhesTitulo/' + Chave } " class="btn btn-secondary btn-icon" title="Detalhes"><i class="material-icons">&#xE065;</i></a>
                <!-- /ko -->
                <!-- ko if: Tipo == 2 -->
                <a data-bind="rowEditEnable: {}, attr: { href: '#/Financeiro/Pagamento/DetalhesAntecipacao/' + Chave } " class="btn btn-secondary btn-icon" title="Detalhes"><i class="material-icons">&#xE065;</i></a>
                <!-- /ko -->
                <a data-bind="rowEditEnable: {}, attr: { href: '#/Financeiro/Pagamento/FormaPagamentoTitulo/' + Chave }" class="btn btn-secondary btn-icon" title="Baixar"><i class="material-icons">&#xE876;</i></a>
                <a data-bind="attr: { href: '#/Financeiro/Pagamento/Baixas/' + Chave }" class="btn btn-secondary btn-icon" title="Baixas"><i class="material-icons">&#xE877;</i></a>
                <a data-bind="rowEditEnable: {}, attr: { href: '#/Financeiro/Pagamento/Cancelar/' + Chave }" class="btn btn-secondary btn-icon" title="Desfazer"><i class="material-icons">&#xE166;</i></a>
            </td>
        </tr>, api: "indexVM.api", orderByCol: "ID", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: true, showNewButton: false, useSelection: true, useSelectionObservable: "indexVM.useSelection")

    <template id="selectedFooter-FinanceiroPagamentoIndex">
        <!-- ko stopBindings: {} -->
        <div id="indexBindAction" style="display: inline-block; float: left">
            <div style="display: inline-block;">
                <div class="form-group form-group-text">
                    <label>Total a Baixar</label>
                    <input type="text" class="form-control" id="total-baixar" readonly="readonly" data-bind="maskDecimal: { casasDecimais: 2, prefix: 'R$ ' }, value: totalBaixar">
                </div>
            </div>
        </div>
        <!-- /ko-->
    </template>
    <template id="selectedAction-FinanceiroPagamentoIndex">
        <a class="cancelar btn btn-lg btn-default btn-rounded btn-secondary" data-bind="attr: { href: '#/Financeiro/Pagamento/FormaPagamentoTitulo/' }" title="Realizar Baixa"> <i class="material-icons material-rounded material-secondary">&#xE8DC;</i> Realizar Baixa</a>
    </template>

</div>
@section Scripts {

}



