﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.Produto.IndexVM

<routeoptions data-route-custom="route-produto"></routeoptions>

<div id="filtro-grade">

    <template id="filter-ProdutoIndex">
        <div class="form-group">
            <label for="txtFiltroBuscaDetalhada" class="control-label">Código, Descrição ou EAN</label>
            <input type="text" id="txtFiltroBuscaDetalhada" data-bind="textInput: BuscaDetalhada" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroGrupo" class="control-label" style="width: 350px">Grupo de Produto</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroGrupo", "IdGrupoInBuscaSeparada", "IdGrupoInBuscaSeparada", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Estoque/ProdutoServicoGrupo/List", "Ativo:true, NaturezaIn:\\'1,3\\'", idChaveRelacao: "IdProdutoServicoGrupo", multiple: true)
        </div>
        <div class="form-group">
            <label for="ddlFiltroFamilia" class="control-label">Família de Produto</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroFamilia", "IdProdutoServicoFamiliaIn", "IdProdutoServicoFamiliaIn", "Descricao", "Descricao", "Descricao", "/Estoque/ProdutoServicoFamilia/List", "Ativo:true", idChaveRelacao: "IdProdutoServicoFamilia", multiple: true)
        </div>
        <div class="form-group">
            <label for="ddlFiltroMarca" class="control-label">Marca</label>            
            @HtmlHelper.Select.SearchableKO("ddlFiltroMarca", "IdProdutoServicoMarcaIn", "IdProdutoServicoMarcaIn", "Descricao", "Descricao", "ProdutoServicoMarca.Descricao", "/Estoque/ProdutoServicoMarca/List", "Ativo:true", idChaveRelacao: "IdProdutoServicoMarca", multiple: true)
        </div>
        <div class="form-group">
            <label for="ddlFiltroFornecedor" class="control-label">Fornecedores</label>            
            @HtmlHelper.Select.SearchableKO("ddlFiltroFornecedor", "IdPessoaIn", "IdPessoaIn", "NomePessoaExibicao", "BuscaPessoaDetalhada", "NomePessoaExibicao", "/Estoque/ProdutoServicoFornecedor/List", "", idChaveRelacao: "IdPessoa", multiple: true)
        </div>
        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>
        @HtmlHelper.Campo.DropAtivo()        
    </template>

    <div>
        @HtmlHelper.GridView.GridIndex(
        id: "ProdutoIndex",
        newUrl: "#/Estoque/Produto/ProdutoDadosBasicos",
        editUrl: "#/Estoque/Produto/ProdutoDadosBasicos",
        listUrl: "/Estoque/Produto/List",
        columns:
        @<script>
            [
                { 'id': 'IdProdutoServico', editColumn: true },
                { 'id': 'RegistroProprio', 'defaultValue': '', 'filter': true },
                { 'id': 'IdProdutoServicoMarcaIn', filter: true },
                { 'id': 'BuscaDetalhada', filter: true, defaultFilter: true },
                { 'id': 'IdGrupoInBuscaSeparada', filter: true },
                { 'id': 'IdPessoaIn', filter: true },
                { 'id': 'IdProdutoServicoFamiliaIn', filter: true },
                { 'id': 'Codigo', header: true, displayName: 'Código' },
                { 'id': 'Descricao', header: true, displayName: 'Descrição' },
                { 'id': 'DescricaoCompletaProdutoServicoGrupo', header: true, groupable: true, sortable: true, displayName: 'Grupo' },
                { 'id': 'SiglaUnidade', header: true, displayName: 'Unidade' },
                { 'id': 'SiglaProdutoServicoFormaApresentacao', header: true, displayName: 'Apresentação' },
                { 'id': 'EditarRegistro', 'header': true, 'filter': true, 'sortable': true, 'displayName': 'Editar Registro' },
                defaults.gridNewEdit.column.ativo,
                { displayName: "Ações", width: "210px", header: true, sortable: false }
            ]
        </script>,
        templateRows:
        @<tr>
             <td data-bind="text: Codigo"></td>
             <td data-bind="text: Descricao"></td>
             <td data-bind="text: DescricaoCompletaProdutoServicoGrupo"></td>
             <td data-bind="text: SiglaUnidade"></td>
             <td data-bind="text: SiglaProdutoServicoFormaApresentacao"></td>
             <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>
             <td data-bind="template: 'label-status'"></td>
             <td>
                 <a data-bind="attr: { href: '#/Estoque/Produto/ProdutoDadosBasicos/' + IdProdutoServico }" class="btn btn-secondary btn-icon" title="Dados Básicos"><i class="material-icons">&#xE254;</i></a>
                 <a data-bind="attr: { href: '#/Estoque/Produto/ProdutoCaracterizacaoAcoes/' + IdProdutoServico }" class="btn btn-secondary btn-icon" title="Ação e Caracterização"><i class="material-icons">&#xE8B8;</i></a>
                 <a data-bind="attr: { href: '#/Estoque/Produto/ProdutoComposicao/' + IdProdutoServico }" class="btn btn-secondary btn-icon" title="Composição do Produto"><i class="fa fa-sitemap"></i></a>
                 <a data-bind="attr: { href: '#/Estoque/Produto/ProdutoFornecedor/' + IdProdutoServico }" class="btn btn-secondary btn-icon" title="Fornecedor"><i class="material-icons">&#xE8D3;</i></a>

                 <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                     <a data-bind="attr: { href: '#/Estoque/Produto/Ativar/' + IdProdutoServico }" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
                 </div>

                 <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                     <a data-bind="attr: { href: '#/Estoque/Produto/Inativar/' + IdProdutoServico }" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
                 </div>

                 <div style="float:left;padding-left:5px;" data-bind="visible: (EditarRegistro == false)">
                     <a data-bind="attr: { href: '#/Estoque/Produto/View/' + IdProdutoServico }" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
                 </div>
            </td>         
        </tr>
        ,
        api: "indexVM.api",
        orderByCol: "Descricao",
        orderByDir: HelpersUtil.OrderByDirEnum.Asc,
        useHiddenColumns: false)        
    </div>
</div>

@section Scripts {  
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
