﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.Produto.NewEditDadosBasicosVM

<routeoptions data-route-custom="route-produto"></routeoptions>

<div data-bind="stopBindings: true">
    <form id="form-ProdutoDadosBasicos-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtCodigo">Código<span>(Automático)</span></label>
                            <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDuplicate" class="control-label">Descrição</label>
                            <input type="text" id="txtDuplicate" name="txtDuplicate" class="form-control" data-bind="value: Descricao, text: vmNomenclatura" disabled="disabled" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricaoReduzida">Nome</label>
                            <input type="text" id="txtDescricaoReduzida" name="txtDescricaoReduzida" data-bind="value: DescricaoReduzida, validate: { required: true }" class="form-control" maxlength="50" />
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group opcional">
                            <label for="txtModelo">Modelo ou Detalhe</label>
                            <input type="text" id="txtModelo" name="txtModelo" data-bind="value: Modelo" class="form-control" maxlength="50" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlProdutoServicoGrupo">Grupo de Produto</label>
                            @HtmlHelper.Select.SearchableKO("ddlProdutoServicoGrupo", "IdProdutoServicoGrupo", "IdProdutoServicoGrupo", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Estoque/ProdutoServicoGrupo/List", "Ativo:true, UltimoNivel:true, NaturezaIn:\\'1,3\\'", required: true)
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group opcional">
                            <label for="ddlProdutoServicoMarca">Marca</label>
                            @HtmlHelper.Select.SearchableKO("ddlProdutoServicoMarca", "IdProdutoServicoMarca", "IdProdutoServicoMarca", "Descricao", "Descricao", "Descricao", "/Estoque/ProdutoServicoMarca/List", "Ativo:true", vmTextSelected: "Descricao")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
                <div class="optional" id="pnlDescricao" data-open="false">
                    <a href="#">Personalizar Descrição</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="ddlNomenclatura" class="control-label">Escolha um modelo</label>
                                    <select placeholder="Nomenclatura" id="ddlNomenclatura" class="form-control no-search" data-bind="value: Nomenclatura">
                                        <option value="1">Nome + Modelo + Marca + Forma de Apresentação</option>
                                        <option value="2">Nome + Modelo + Forma de Apresentação + Marca</option>
                                        <option value="6">Nome + Modelo + Marca</option>
                                        <option value="7">Nome + Marca + Modelo</option>
                                        <option value="3">Nome + Marca</option>
                                        <option value="4">Nome + Modelo</option>
                                        <option value="5">Nome</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="txtDescricao" class="control-label">A Descrição do Produto será</label>
                                    <input type="text" id="txtDescricao" name="txtDescricao" class="form-control" data-bind="value: Descricao, text: vmNomenclatura" disabled="disabled" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="optional" id="pnlObservacao">
                    <a href="#">Observação</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="form-group">
                                    <textarea id="txtObservacao" name="txtObservacao" data-bind="value: Observacao" class="form-control" style="min-height:70px;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" id="pnlControle" data-optional-label-text=" ">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Forma de Controle</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label" for="chkProdutoServicoIndependete">Como se controla este produto ?</label>
                    <input type="checkbox" class="no-uniform" id="chkProdutoServicoIndependete" data-bind="checked: ProdutoServicoIndependente, flipper: { observable: ProdutoServicoIndependente, options: { 'onText': 'Independente', 'offText': 'Família', 'css': 'warning', 'width': '140px' } }">
                </div>
                <div id="divProdutoServicoFamilia" data-bind="visible: vmParams.ExibeProdutoServicoFamilia()">
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="ddlProdutoServicoFamilia">Família de Produto</label>
                                    @HtmlHelper.Select.SearchableKO("ddlProdutoServicoFamilia", "IdProdutoServicoFamilia", "IdProdutoServicoFamilia", "DescricaoFamiliaComUnidade", "Descricao", "Descricao", "/Estoque/ProdutoServicoFamilia/List", "Ativo:true", dataBind: "validate: { required: vmParams.ExibeProdutoServicoFamilia() }", vmDataSelected: "vmParams.ProdutoServicoFamilia", idControleDependencia: "ddlProdutoServicoGrupo", idDependencia: "IdProdutoServicoGrupoIn")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="ddlUnidadeTipo">Este Produto é controlado em</label>
                                @HtmlHelper.Select.SearchableKO("ddlUnidadeTipo", "IdUnidadeTipo", "IdUnidadeTipo", "Descricao", "Descricao", "Descricao", "/Estoque/UnidadeTipo/List", "Ativo:true, IdUnidadeTipoIn:\\'1,4,3,7\\'", dataBind: "validate: { required: vmParams.ExibeProdutoServicoFamilia() }, enable: vm.ProdutoServicoIndependente() == true")
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="ddlUnidade">Unidade de Medida Padrão</label>
                                @HtmlHelper.Select.SearchableKO("ddlUnidade", "IdUnidade", "IdUnidade", "DescricaoSigla", "DescricaoSiglaBusca", "Descricao", "/Estoque/Unidade/List", "Ativo:true", "ddlUnidadeTipo", "IdUnidadeTipo", dataBind: "validate: { required: vmParams.ExibeProdutoServicoFamilia() }", vmDataSelected: "vmParamsUnidade.UnidadePadrao")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            @*<div class="form-group">
                                    <label for="ddlProdutoServicoFormaApresentacao">Qual a Forma de Apresentação (Embalagem)</label>
                                    @HtmlHelper.Select.SearchableKO("ddlProdutoServicoFormaApresentacao", "IdProdutoServicoFormaApresentacao", "IdProdutoServicoFormaApresentacao", "DescricaoSigla", "BuscaDetalhada", "DescricaoSigla", "/Estoque/ProdutoServicoFormaApresentacao/List", "Ativo:true", dataBind: "validate: { required: vmParams.ExibeProdutoServicoFamilia() }", vmTextSelected: "vmDescricaoFormaApresentacao.Descricao")
                                </div>*@
                            <div class="form-group">
                                <label for="ddlProdutoServicoFormaApresentacao">Qual a Forma de Apresentação (Embalagem)</label>
                                @HtmlHelper.Select.SearchableKO("ddlProdutoServicoFormaApresentacao", "IdProdutoServicoFormaApresentacao", "IdProdutoServicoFormaApresentacao", "DescricaoSigla", "BuscaDetalhada", "DescricaoSigla", "/Estoque/ProdutoServicoFormaApresentacao/List", "Ativo:true", dataBind: "validate: { required: vmParams.ExibeProdutoServicoFamilia() }")
                            </div>
                        </div>
                    </div>
                    <div id="divQuantidadeEmbalagem" data-bind="visible: ExibeQuantidadeEmbalagem">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="txtQuantidade">Quantidade por Embalagem</label>
                                    <div class="input-group" style="width:150px">
                                        <input type="number" id="txtQuantidade" name="txtQuantidade" data-bind="value: Quantidade, validate: { required: ExibeQuantidadeEmbalagem }" class="form-control" />
                                        <span class="input-group-addon" data-bind="text: vmUnidadeSigla.Sigla"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="optional" id="pnlUnidadeComercial" data-bind="collapsible: { vmArray: [ vm.lstUnidadeComercial() ] }, visible: (vm.IdUnidade() != null && vm.IdUnidadeTipo() != null)">
                    <a href="#">Unidades Comerciais</a>
                    <div>

                        @HtmlHelper.GridView.GridNewEdit(
                id: "UnidadeComercial", // Declarar na página <template id="newedit-id"></template>
                vm: "lstUnidadeComercial",
                title: "Unidades Comerciais",
                columns: @<script>
                    [

                        { 'id': 'IdProdutoServicoUnidadeComercial', 'editColumn': true },
                        { 'id': 'IdProdutoServico' },
                        { 'id': 'IdUnidadeTipo' },
                        { 'id': 'IdUnidade' },
                        { 'id': 'FatorConversao' },
                        { 'id': 'IdUnidadeProdutoServicoReferencia', 'defaultValue': vm.IdUnidade() },
                        { 'id': 'IdUnidadeTipoProdutoServicoReferencia', 'defaultValue': vm.IdUnidadeTipo() },
                        { 'id': 'Excluido' },
                        { 'id': 'DescricaoUnidade', 'displayName': 'Unidade', 'header': true, 'sortable': true },
                        { 'id': 'FatorConversaoExibicao', 'displayName': 'Conversão', 'header': true, 'sortable': true },
                        { 'id': 'PermiteFracionar', 'defaultValue': false },
                        defaults.gridNewEdit.column.acaoEditRemove
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: DescricaoUnidade }  }"></td>
                    <td data-bind="text: FatorConversaoExibicao"></td>
                    <td data-bind="template: { name: 'button-edit-remove' }"></td>
                </tr>, useRemovedColumn: true, useHiddenColumns: false, orderByCol: "DescricaoUnidade", orderByDir: HelpersUtil.OrderByDirEnum.Asc)
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" data-open="false" id="pnlCaracterizacao">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Caracterização</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="ddlProdutoServicoCaracterizacaoClassificacao" class="control-label">Classificação de Produtos</label>
                                @HtmlHelper.Select.SearchableKO("ddlProdutoServicoCaracterizacaoClassificacao", "IdProdutoServicoCaracterizacaoClassificacao", "IdProdutoServicoCaracterizacao", "Descricao", "Descricao", "Descricao", "/Estoque/ProdutoServicoCaracterizacao/List", "Ativo:true, NaturezaCaracterizacao: 1", idChaveRelacao: "IdProdutoServicoCaracterizacao")
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="ddlProdutoServicoCaracterizacaoSecao" class="control-label">Seção</label>
                                @HtmlHelper.Select.SearchableKO("ddlProdutoServicoCaracterizacaoSecao", "IdProdutoServicoCaracterizacaoSecao", "IdProdutoServicoCaracterizacao", "Descricao", "Descricao", "Descricao", "/Estoque/ProdutoServicoCaracterizacao/List", "Ativo:true, NaturezaCaracterizacao: 2", idChaveRelacao: "IdProdutoServicoCaracterizacao")
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="ddlProdutoServicoCaracterizacaoProduto" class="control-label">Caracteristicas</label>
                                @HtmlHelper.Select.SearchableKO("ddlProdutoServicoCaracterizacaoProduto", "Caracteristicas", "IdProdutoServicoCaracterizacao", "Descricao", "Descricao", "Descricao", "/Estoque/ProdutoServicoCaracterizacao/List", "Ativo:true, NaturezaCaracterizacao: 3", idChaveRelacao: "IdProdutoServicoCaracterizacao", multiple: true)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" data-open="false" id="pnlCodigosAuxiliares">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">CÓDIGOS AUXILIARES DE IDENTIFICAÇÃO</h3>
            </div>
            <div class="panel-body">
                <div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="txtCodigoEAN">EAN</label>
                                <input type="text" id="txtCodigoEAN" name="txtCodigoEAN" data-bind="value: CodigoEAN" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-action">
            <div class="panel-body">
                <button type="submit" id="btn-salvar" class="btn btn-secondary btn-lg btn-primary-action"><i class="fa fa-check"></i> Salvar</button>
                <a href="#List" type="button" class="btn btn-primary btn-inverted btn-lg"><i class="fa fa-arrow-left"></i> Voltar</a>
                @if (@Model.IdProdutoServico.HasValue)
                {
                    <a href="#History/ProdutoServico/@Model.IdProdutoServico" type="button" class="btn btn-primary btn-inverted btn-lg pull-right"><i class="fa fa-archive"></i> Histórico</a>
                }
            </div>
        </div>
    </form>

    <template id="newedit-UnidadeComercial">
        <div class="row">
            <div class="col-xs-5">
                <div class="form-group">
                    <label for="ddlUnidadeTipoForUnidadeComercial">Tipo de Unidade</label>
                    @HtmlHelper.Select.SearchableKO("ddlUnidadeTipoForUnidadeComercial", "IdUnidadeTipo", "IdUnidadeTipo", "Descricao", "Descricao", "Descricao", "/Estoque/UnidadeTipo/List", "Ativo:true", required: true)
                </div>
            </div>
            <div class="col-xs-5">
                <div class="form-group">
                    <label for="ddlUndiadeForUnidadeComercial">Unidade</label>
                    @HtmlHelper.Select.SearchableKO("ddlUndiadeForUnidadeComercial", "IdUnidade", "IdUnidade", "DescricaoSigla", "DescricaoSigla", "DescricaoSigla", "/Estoque/Unidade/List", "Ativo:true", required: true, idControleDependencia: "ddlUnidadeTipoForUnidadeComercial", idDependencia: "IdUnidadeTipo", vmTextSelected: "DescricaoUnidade")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5">
                @HtmlHelper.Campo.UnidadeTipo("utFatorConversao", "FatorConversao", "IdUnidadeTipoProdutoServicoReferencia", "IdUnidadeProdutoServicoReferencia", label: "Fator Conversão", UnidadeSelecionadoApresentacao: "FatorConversaoExibicao", ValidateBind: " { required: true }", AlteraUnidade: false)
            </div>
            <div class="col-xs-5">
                <div class="form-group">
                    <label class="control-label" for="chkPermiteFracionar">Permite uso de fração</label>
                    <input type="checkbox" class="no-uniform" id="chkPermiteFracionar" data-bind="checked: PermiteFracionar, flipper: { observable: PermiteFracionar, options: { 'css': 'warning' } }">
                </div>
            </div>
        </div>
    </template>
</div>
