﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.Produto.NewEditVM

<routeoptions data-route-custom="route-produto"></routeoptions>

<div data-bind="stopBindings: true">
    <form id="form-ProdutoComposicao-NewEdit" data-bind="formSubmit: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default" data-open="false" id="pnlComposicaoProduto">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Composição de Produto, Ingredientes e Príncipios Ativos</h3>
            </div>
            <div class="panel-body">
                <p>A Composição representa os itens que formam o Produto, formando uma Estrutura de Produto.</p>
                <p>Exemplo: Matéria Prima, Princípios Ativos e até outros Produtos.</p>
                @HtmlHelper.GridView.GridNewEdit(
                id: "Comp", // Declarar na página <template id="newedit-id"></template>
                vm: "Composicao",
                vmExtend: "vmComposicaoExtend",
                title: "Composição",
                columns: @<script>
                    [
                        { 'id': 'IdProdutoServicoReferencia', defaultValue: vm.IdProdutoServico() },
                        { 'id': 'IdProdutoServico' },
                        { 'id': 'IdUnidadeIn' },
                        { 'id': 'IdUnidadeValor' },
                        { 'id': 'ValorVariacao' },
                        { 'id': 'Valor' },
                        { 'id': 'IdProdutoServicoUnidadeTipo' },
                        { 'id': 'IdUnidadeValorVariacao' },
                        { 'id': 'DescricaoProdutoServicoReferencia' },
                        { 'id': 'DescricaoProdutoServico', displayName: 'Descrição', header: true, 'sortable': true },
                        { 'id': 'ValorUnidade', displayName: 'Quantidade', header: true, 'sortable': true },
                        { 'id': 'PermiteAlteracaoQuantidade', defaultValue: false, header: true, 'sortable': true, displayName: 'Permite Variação de Quantidade' },
                        { 'id': 'UnidadeSiglaVariacao', displayName: 'Variação', header: true, 'sortable': true },
                        defaults.gridNewEdit.column.acaoEditRemove
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: DescricaoProdutoServico }  }"></td>
                    <td data-bind="text: ValorUnidade"></td>
                    <td data-bind="template: { name: 'label-status', data : { status: PermiteAlteracaoQuantidade} }"></td>
                     <td data-bind="text: UnidadeSiglaVariacao"></td>
                    <td data-bind="template: { name: 'button-edit-remove' }"></td>
                </tr>, orderByCol: "DescricaoProdutoServico", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)
            </div>
        </div>
    </form>
    <template id="newedit-Comp">
        <input type="hidden" id="txtValorUnidade" data-bind="value: ValorUnidade = vmDescricaoProdutoComposicao.UnidadeSigla()" />
        <input type="hidden" id="txtUnidadeSiglaVariacao" data-bind="value: UnidadeSiglaVariacao = vmDescricaoProdutoComposicao.UnidadeSiglaVariacao()" />
        <input type="hidden" id="txtProdutoServico" data-bind="value: IdProdutoServicoReferencia " />

        <div class="row">
            <div class="col-xs-8">
                <div class="form-group">
                    <label for="ddlProdutoServicoComposicaoProduto">Produto ou Princípio Ativo</label>
                    @HtmlHelper.Select.SearchableKO("ddlProdutoServicoComposicaoProduto", "IdProdutoServico", "IdProdutoServico", "DescricaoProdutoServicoSigla", "BuscaDetalhada", "DescricaoProdutoServicoSigla", "/Estoque/PrincipioAtivo/List", "Ativo:true", required: true, vmTextSelected: "DescricaoProdutoServico", idControleDependencia: "txtProdutoServico", idDependencia: "IdProdutoServicoNotin")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                @HtmlHelper.Campo.UnidadeTipo("unidadeTipoValor", "Valor", "IdProdutoServicoUnidadeTipo", "IdUnidadeValor", label: "Quantidade", AlteraUnidade: false, UnidadeSelecionadoApresentacao: "vmDescricaoProdutoComposicao.UnidadeSigla")
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="form-group">
                    <label class="control-label" for="chkPermiteAlteracaoQuantidade">Permite Variação de Quantidade</label>
                    <input type="checkbox" class="no-uniform" id="chkPermiteAlteracaoQuantidade" data-bind="checked: PermiteAlteracaoQuantidade, flipper: { observable: PermiteAlteracaoQuantidade, options: { 'css' : 'warning' } }">
                </div>
            </div>
        </div>
        <div id="divVariacao" data-bind="visible: PermiteAlteracaoQuantidade">
            <div class="row">
                <div class="col-xs-4">
                    @*PermiteUnidadeNula: false,*@
                    @HtmlHelper.Campo.UnidadeTipo("unidadeTipoValorVariacao", "ValorVariacao", "IdProdutoServicoUnidadeTipo", "IdUnidadeValorVariacao", label: "Variação Permitida", IdUnidadeIn: "IdUnidadeIn", UnidadeSelecionadoApresentacao: "vmDescricaoProdutoComposicao.UnidadeSiglaVariacao")
                </div>
            </div>
        </div>
    </template>
</div>