﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.Produto.NewEditVM
<routeoptions data-route-custom="route-produto"></routeoptions>
<div data-bind="stopBindings: true">
    <form id="form-ProdutoCaracterizacaoAcoes-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default" data-open="false" id="pnlDescricao">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Quais Ações podem ser realizadas com este Produto?</h3>
            </div>
            <div class="panel-body">
                <div class="form-inline">
                    <div class="form-group">
                        <label class="control-label" for="chkComprado">Comprar ou Receber</label>
                        <input type="checkbox" class="no-uniform" id="chkComprado" name="chkComprado" data-bind="checked: PermiteCompra, flipper: { observable: PermiteCompra, options: defaults.flipper.SimNao }">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="chkArmazenado">Armazenar</label>
                        <input type="checkbox" class="no-uniform" id="chkArmazenado" name="chkArmazenado" data-bind="checked: Armazenamento, flipper: { observable: Armazenamento, options: defaults.flipper.SimNao }">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="chkProduzido">Produzir ou Fabricar</label>
                        <input type="checkbox" class="no-uniform" id="chkProduzido" name="chkProduzido" data-bind="checked: PermiteProducao, flipper: { observable: PermiteProducao, options: defaults.flipper.SimNao }">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="chkUso">Usar ou Consumir</label>
                        <input type="checkbox" class="no-uniform" id="chkUso" name="chkUso" data-bind="checked: PermiteUso, flipper: { observable: PermiteUso, options: defaults.flipper.SimNao }">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="chkVendido">Vender ou Enviar</label>
                        <input type="checkbox" class="no-uniform" id="chkVendido" name="chkVendido" data-bind="checked: PermiteVenda, flipper: { observable: PermiteVenda, options: defaults.flipper.SimNao }">
                    </div>
                </div>
                <fieldset id="fildsetClasse" style="display:none">
                    <legend style="color:#626262;">Classe de Produto</legend>
                    <div class="form-inline">
                        <div class="form-group">
                            <div id="divMateriaPrima">
                                <label class="control-label" for="chkMateriaPrima">Matéria Prima</label>
                                <input type="checkbox" class="no-uniform" id="chkMateriaPrima" name="chkMateriaPrima" data-bind="checked: MateriaPrima, flipper: { observable: MateriaPrima, options: defaults.flipper.SimNao }">
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="divProdutoIntermediario">
                                <label class="control-label" for="chkProdutoIntermediario">Produto Intermediário</label>
                                <input type="checkbox" class="no-uniform" id="chkProdutoIntermediario" name="chkProdutoIntermediario" data-bind="checked: ProdutoIntermediario, flipper: { observable: ProdutoIntermediario, options: defaults.flipper.SimNao }">
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="divProdutoAcabado">
                                <label class="control-label" for="chkProdutoAcabado">Produto Acabado</label>
                                <input type="checkbox" class="no-uniform" id="chkProdutoAcabado" name="chkProdutoAcabado" data-bind="checked: ProdutoAcabado, flipper: { observable: ProdutoAcabado, options: defaults.flipper.SimNao }">
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div class="row" data-bind="visible: vm.ExibeFracionamentos()">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="chkPermiteFracionarFormaApresentacao">Permite fracionar a Forma de Apresentação (Embalagem)</label>
                            <input type="checkbox" class="no-uniform" id="chkPermiteFracionarFormaApresentacao" name="chkPermiteFracionarFormaApresentacao" data-bind="checked: PermiteFracionarFormaApresentacao, flipper: { observable: PermiteFracionarFormaApresentacao, options: {'css': 'warning'} }">
                        </div>
                    </div>
                    <div class="col-xs-1" data-bind="visible: vm.PermiteFracionarFormaApresentacao()">
                        <div class="form-group">
                            <label for="txtCasasDecimaisFormaApresentacao" style="width:380px">Número de Casas Decimais da Forma de Apresentação</label>
                            <input type="number" id="txtCasasDecimaisFormaApresentacao" name="txtCasasDeciamaisFormaApresentacao" data-bind="value: CasasDecimaisFormaApresentacao, required: { validate: vm.PermiteFracionarFormaApresentacao(), mask: { options: defaults.mask.integer } }" class="form-control" maxlength="3" />
                        </div>
                    </div>
                </div>
                <div class="row" data-bind="visible: vm.ExibeFracionamentos()">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="chkPermiteFracionarUnidadeControle">Permite fracionar a Unidade de Controle</label>
                            <input type="checkbox" class="no-uniform" id="chkPermiteFracionarUnidadeControle" name="chkPermiteFracionarUnidadeControle" data-bind="checked: PermiteFracionarUnidadeControle, flipper: { observable: PermiteFracionarUnidadeControle, options: {'css': 'warning'} }">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="panel panel-default" data-open="false" id="pnlComprasRecebimento" data-bind="visible: PermiteCompra">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Informações: Compras ou Recebimento</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkSolicitaCompraAutomatica">Gera Solicitação caso atinja o Estoque Mínimo</label>
                            <input type="checkbox" class="no-uniform" id="chkSolicitaCompraAutomatica" data-bind="checked: SolicitaCompraAutomatica, flipper: { observable: SolicitaCompraAutomatica, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
                <div class="optional" id="pnlFiscal" data-open="false">
                    <a href="#">Utilização Prevista para Fins Fiscais</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="form-group">
                                    <label for="ddlClassificacaoFiscal">Utilização Prevista para fins Fiscais</label>
                                    @HtmlHelper.Select.SearchableKO("ddlClassificacaoFiscal", "IdsFiscalClassificacao", "IdFiscalClassificacaoIn", "Descricao", "Descricao", "Descricao", "/Contabilidade/ClassificacaoFiscal/List", "Ativo:true, Natureza:1", multiple: true, idChaveRelacao: "IdFiscalClassificacao")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="form-group">
                                    <label for="ddlClassificacaoFiscalPadrao">Utilização Padrão</label>
                                    @HtmlHelper.Select.SearchableKO("ddlClassificacaoFiscalPadrao", "IdFiscalClassificacaoPadrao", "IdFiscalClassificacao", "Descricao", "Descricao", "Descricao", "/Contabilidade/ClassificacaoFiscal/List", "Ativo:true,Natureza:1", idControleDependencia: "ddlClassificacaoFiscal", idDependencia: "IdFiscalClassificacaoIn", idChaveRelacao: "IdFiscalClassificacao")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="optional" id="pnlLoteRecebimento" data-open="false" data-bind="with: LoteValidade">
                    <a href="#">Lote de Recebimento</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="ddlLoteRecebimentoTipo" class="control-label">Controla Lote no Recebimento</label>
                                    <select id="ddlLoteRecebimentoTipo" class="form-control no-search" data-bind="value: LoteRecebimentoTipo">
                                        <option value="1">Não Controla</option>
                                        <option value="2">Informado Manualmente</option>
                                        <option value="3">Gerado por Regra</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" data-bind="visible: ExibeControlePorRegraRecebimento">
                            <div class="col-xs-8">
                                <div class="form-group">
                                    <label for="ddlIdsRegraRecebimento" class="control-label">Regra de Geração de Código</label>
                                    @HtmlHelper.Select.SearchableKO("ddlIdsRegraRecebimento", "IdsRegraRecebimento", "IdProdutoServicoOpcaoRegraIn", "Descricao", "Descricao", "Ordem", "/Estoque/ProdutoServicoOpcaoRegra/List", "Ativo:true", idChaveRelacao: "IdProdutoServicoOpcaoRegra", multiple: true)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="ddlControleValidadeRecebimentoTipo" class="control-label">Controla Validade</label>
                                    <select id="ddlControleValidadeRecebimentoTipo" class="form-control no-search" data-bind="value: ControleValidadeRecebimentoTipo">
                                        <option value="1" selected="selected">Não Controla</option>
                                        <option value="2">Por Data</option>
                                        <option value="3">Por Tempo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-1" data-bind="visible: ExibeTempoRecebimento">
                                @HtmlHelper.Campo.UnidadeTipo("unidadeTipoRecebimento", "ValorUnidadeRecebimento", "5", "IdUnidadeValidadeRecebimento", label: "Tempo")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" data-open="false" id="pnlLocais" data-bind="visible: vmParams.ExibeLocais()">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Informações de Armazenagem</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="chkControlaSaldo" class="control-label">Controla Saldo</label>
                            <input type="checkbox" class="no-uniform" id="chkControlaSaldo" data-bind="checked: ControlaSaldo, flipper: { observable: ControlaSaldo, options: { 'css': 'warning' } }">
                        </div>
                    </div>
                </div>
                <br />
                <p>O Produto pode ser armazenado nos seguintes locais</p>

                @HtmlHelper.GridView.GridNewEdit(
                id: "Local", // Declarar na página <template id="newedit-id"></template>
                vmExtend: "vmLocalExtend",
                vm: "Locais",
                columns: @<script>
                    [
                        { 'id': 'IdProdutoServicoProdutoLocal' },
                        { 'id': 'IdProdutoServico' },
                        { 'id': 'IdProdutoLocal' },
                        { 'id': 'SiglaQuantidadeIdeal' },
                        { 'id': 'SiglaQuantidadeMinima' },
                        { 'id': 'IdUnidadeQuantidadeMinima', 'defaultValue': vm.IdUnidade() },
                        { 'id': 'IdUnidadeQuantidadeIdeal', 'defaultValue': vm.IdUnidade() },
                        { 'id': 'QuantidadeMinima' },
                        { 'id': 'QuantidadeIdeal' },
                        { 'id': 'DescricaoProdutoLocal', 'displayName': 'Local', 'header': true, 'sortable': true },
                        { 'id': 'DescricaoQuantidadeMinima', 'displayName': 'Quantidade Minima', 'header': true, 'defaultValue': '', 'sortable': true },
                        { 'id': 'DescricaoQuantidadeIdeal', 'displayName': 'Quantidade Ideal', 'header': true, 'defaultValue': '', 'sortable': true },
                        { 'id': 'Detalhe', 'displayName': 'Detalhe', 'header': true, 'defaultValue': '', 'sortable': true },
                        defaults.gridNewEdit.column.acaoEditRemove
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: DescricaoProdutoLocal }  }"></td>
                    <td data-bind="text: DescricaoQuantidadeMinima"></td>
                    <td data-bind="text: DescricaoQuantidadeIdeal"></td>
                    <td data-bind="text: Detalhe"></td>
                    <td data-bind="template: { name: 'button-edit-remove' }"></td>
                </tr>, orderByCol: "DescricaoProdutoLocal", useHiddenColumns: false, orderByDir: HelpersUtil.OrderByDirEnum.Asc)
            </div>
        </div>
        <div class="panel panel-default" data-open="false" id="pnlProducao" data-bind="visible: PermiteProducao">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Informações: Produção, Fabricação e Beneficiamento</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkPermitePesagem">Permite Pesagem</label>
                            <input type="checkbox" class="no-uniform" id="chkPermitePesagem" data-bind="checked: PermitePesagem, flipper: { observable: PermitePesagem, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
                <div class="optional" id="pnlEstimativaProducao" data-open="false">
                    <a href="#">Estimativa de Produção</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="ddlUnidadeEstimativaTipo" class="control-label">A Estimativa e Produção ser informada por</label>
                                    <select id="ddlUnidadeEstimativaTipo" class="form-control no-search" data-bind="value: UnidadeEstimativaTipo">
                                        <option value=""></option>
                                        <option value="1">Unidade do Produto</option>
                                        <option value="2">Forma de Apresentação (ou Embalgem) do Produto</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="optional" id="pnlLoteProducao" data-bind="with: LoteValidade">
                    <a href="#">Controle de Lote na Fabricação</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="ddlLoteProducaoTipo" class="control-label">Controla Lote na Produção</label>
                                    <select id="ddlLoteProducaoTipo" class="form-control no-search" data-bind="value: LoteProducaoTipo">
                                        <option value="1">Não Controla</option>
                                        <option value="2">Informado Manualmente</option>
                                        <option value="3">Gerado por Regra</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" data-bind="visible: ExibeControlePorRegraProducao">
                            <div class="col-xs-8">
                                <div class="form-group">
                                    <label for="ddlIdsRegraProducao" class="control-label">Regra de Geração de Código</label>
                                    @HtmlHelper.Select.SearchableKO("ddlIdsRegraProducao", "IdsRegraProducao", "IdProdutoServicoOpcaoRegraIn", "Descricao", "Descricao", "Ordem", "/Estoque/ProdutoServicoOpcaoRegra/List", "Ativo:true", idChaveRelacao: "IdProdutoServicoOpcaoRegra", multiple: true)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="ddlControleValidadeProducaoTipo" class="control-label">Controla Validade</label>
                                    <select id="ddlControleValidadeProducaoTipo" class="form-control no-search" data-bind="value: ControleValidadeProducaoTipo">
                                        <option value="1" selected="selected">Não Controla</option>
                                        <option value="2">Por Data</option>
                                        <option value="3">Por Tempo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-1" data-bind="visible: ExibeTempoProducao">
                                @HtmlHelper.Campo.UnidadeTipo("unidadeTipoValidadeProducao", "ValorUnidadeProducao", "5", "IdUnidadeValidadeProducao", label: "Tempo")
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" data-open="false" id="pnlUsoConsumo" data-bind="visible: PermiteUso">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Informações: Uso e Consumo</h3>
            </div>
            <div class="panel-body">
                <div class="optional" id="pnlControleAreasAgricolas" data-bind="with: RestricaoAcessoConsumo">
                    <a href="#">Controle de Áreas Agrícolas que tiveram Aplicação do Produto</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label" for="chkControlaTempoReentrada">Controla Reentrada na Unidade de Produção</label>
                                    <input type="checkbox" class="no-uniform" id="chkControlaTempoReentrada" data-bind="checked: ControlaTempoReentrada, flipper: { observable: ControlaTempoReentrada, options: { 'css': 'warning' } }">
                                </div>
                            </div>
                            <div class="col-xs-2" data-bind="visible: ControlaTempoReentrada">
                                @HtmlHelper.Campo.UnidadeTipo("unidadeTipoTempoReentrada", "ValorTempoReentrada", "5", "IdUnidadeReentrada", label: "Tempo")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" data-open="false" id="pnlVendasEnvio" data-bind="visible: PermiteVenda">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Informações: Vendas ou Envio</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label class="control-label" for="ddlClassificacaoFiscalPrevista">Origem da Mercadoria para fins Fiscais</label>
                            @HtmlHelper.Select.SearchableKO("ddlClassificacaoFiscalPrevista", "IdFiscalClassificacaoPrevista", "IdFiscalClassificacao", "Descricao", "Descricao", "Descricao", "/Contabilidade/ClassificacaoFiscal/List", "Ativo:true,Natureza:2", idChaveRelacao: "IdFiscalClassificacao")
                        </div>
                    </div>
                </div>
                <div class="optional" id="pnlControleConsumoHumanoAnimal" data-bind="with: RestricaoAcessoConsumo">
                    <a href="#">Restrição para Consumo Humano ou Animal</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label" for="chkControlaTempoMinimo">Tempo mínimo liberado para consumo</label>
                                    <input type="checkbox" class="no-uniform" id="chkControlaTempoMinimo" data-bind="checked: ControlaTempoMinimo, flipper: { observable: ControlaTempoMinimo, options: { 'css': 'warning' } }">
                                </div>
                            </div>
                            <div class="col-xs-3" data-bind="visible: ControlaTempoMinimo">
                                @HtmlHelper.Campo.UnidadeTipo("unidadeTipoTempoMinimo", "ValorTempoMinimo", "5", "IdUnidadeMinimo", label: "Tempo")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="optional" data-open="false" id="pnlCaracteristicasFisicas">
                    <a href="#">Características Físicas</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-3">
                                @HtmlHelper.Campo.UnidadeTipo("unidadeTipoPesoBruto", "ValorPesoBruto", "4", "IdUnidadePesoBruto", label: "Peso Bruto")
                            </div>
                            <div class="col-xs-3">
                                @HtmlHelper.Campo.UnidadeTipo("unidadeTipoPesoLiquido", "ValorPesoLiquido", "4", "IdUnidadePesoLiquido", label: "Peso Líquido")
                            </div>
                        </div>

                    </div>
                </div>
                <div class="optional" data-open="false" id="pnlCaracteristicasFisicasMaisInfo">
                    <a href="#">Mais Informações</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-3">
                                @HtmlHelper.Campo.UnidadeTipo("unidadeTipoVolume", "ValorVolume", "3", "IdUnidadeVolume", label: "Volume")
                            </div>
                            <div class="col-xs-3">
                                @HtmlHelper.Campo.UnidadeTipo("unidadeTipoPesoBrutoMetro", "ValorPesoBrutoMetro", "3", "IdUnidadePesoBrutoMetro", label: "Peso Bruto por Metro Cúbico (m³)")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                @HtmlHelper.Campo.UnidadeTipo("unidadeTipoLargura", "ValorLargura", "1", "IdUnidadeLargura", label: "Largura")
                            </div>
                            <div class="col-xs-3">
                                @HtmlHelper.Campo.UnidadeTipo("unidadeTipoComprimento", "ValorComprimento", "1", "IdUnidadeComprimento", label: "Comprimento")
                            </div>
                            <div class="col-xs-3">
                                @HtmlHelper.Campo.UnidadeTipo("unidadeTipoAltura", "ValorAltura", "1", "IdUnidadeAltura", label: "Altura")
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
    <template id="newedit-Local">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="ddlProdutoLocal">Local de Armazenagem</label>
                    @HtmlHelper.Select.SearchableKO("IdProdutoLocal", "IdProdutoLocal", "IdProdutoLocal", "Descricao", "Descricao", "Descricao", "/Estoque/ProdutoLocal/List", "Ativo:true", required: true, vmTextSelected: "DescricaoProdutoLocal")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    @HtmlHelper.Campo.UnidadeTipo("unidadeTipoQuantidadeMinima", "QuantidadeMinima", "", "IdUnidadeQuantidadeMinima", label: "Quantidade Mínima", UnidadeSelecionadoApresentacao: "DescricaoQuantidadeMinima", AlteraUnidade: false, ValidateBind: "{ required : false, minNumber : 1, options: { appendErrorsToParentComponentContext: true } }")
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    @HtmlHelper.Campo.UnidadeTipo("unidadeTipoQuantidadeIdeal", "QuantidadeIdeal", "", "IdUnidadeQuantidadeIdeal", label: "Quantidade Ideal", UnidadeSelecionadoApresentacao: "DescricaoQuantidadeIdeal", AlteraUnidade: false, ValidateBind: "{ required: false, minNumber: QuantidadeMinima, options: { appendErrorsToParentComponentContext: true } }")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="txtDetalhe">Detalhe</label>
                    <input type="text" id="txtDetalhe" name="txtDetalhe" data-bind="value: Detalhe" class="form-control" maxlength="50" />
                </div>
            </div>
        </div>
    </template>
</div>