﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.Produto.NewEditVM

<routeoptions data-route-custom="route-produto"></routeoptions>

<div data-bind="stopBindings: true">
    <form id="form-ProdutoFornecedor-NewEdit" data-bind="formSubmit: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()       

        <div class="panel panel-default" data-open="false" id="pnlFornecedores" data-bind="whit: Fornecedores">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Fornecedores</h3>
            </div>
            <div class="panel-body">
                <p>Relação de possíveis fornecedores deste produto.</p>
                <p>Os fornecedores presentes em Cotações e Compras serão incluídos automaticamente.</p>
                <p>Para relacionar fornecedores manualmente clique no botão abaixo.</p>
                @HtmlHelper.GridView.GridNewEdit(
                id: "Fornecedor", // Declarar na página <template id="newedit-id"></template>
                vm: "Fornecedores",
                vmExtend: "vmFornecedorExtend",
                title: "Fornecedor",
                addTitle: "Relacionar",
                columns: @<script>
                    [
                        { 'id': 'IdProdutoServico' },
                        { 'id': 'IdPessoa' },
                        { 'id': 'PessoaNome', header: true, displayName: 'Nome ou Razão Social', 'sortable': true },
                        { 'id': 'PessoaNomeSecundario', header: true, displayName: 'Apelido ou Nome Fantasia', 'sortable': true },
                        defaults.gridNewEdit.column.acaoEditRemove
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: PessoaNome }  }"></td>
                    <td data-bind="text: PessoaNomeSecundario"></td>
                    <td data-bind="template: { name: 'button-edit-remove' }"></td>
                </tr>, orderByCol: "IdPessoa", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false, displayMode: "panel")
            </div>
        </div>
        <div class="panel panel-default panel-action">
            <div class="panel-body">
                <button type="submit" id="btn-salvar" class="btn btn-secondary btn-lg btn-primary-action"><i class="fa fa-check"></i> Salvar</button>
                <a href="#List" type="button" class="btn btn-primary btn-inverted btn-lg"><i class="fa fa-arrow-left"></i> Voltar</a>
                @if (@Model.IdProdutoServico.HasValue)
                {
                    <a href="#History/ProdutoServico/@Model.IdProdutoServico" type="button" class="btn btn-primary btn-inverted btn-lg pull-right"><i class="fa fa-archive"></i> Histórico</a>
                }
            </div>
        </div>
    </form>

    <template id="newedit-Fornecedor">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="ddlPessoa">Fornecedor</label>
                    @HtmlHelper.Select.SearchableKO("ddlPessoa", "IdPessoa", "IdPessoa", "Nome", "Nomes", "Nome", "/Corporativo/Pessoa/ListPessoaPersonalizado", "ComPessoa:true,ComEmpresaUsuaria:true,ComEmpresa:false,Ativo:true, IdPessoaNaturezaNotIn: 4", vmDataSelected: "Fornecedor", required: true)
                </div>
            </div>
            <div class="col-xs-12 form-group">
                <a href="#" class="link-edit panel-open-next">Não encontrou? Adicione um Novo</a>
            </div>
        </div>
    </template>

    <template id="newedit-Fornecedor-1" data-tab-id="Fornecedor" data-tab-title="Adicionar pessoa">
        @Html.Partial("~/Areas/Corporativo/Views/Pessoa/_PartialPessoa.cshtml", Model.Pessoa)
    </template>
</div>