﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.CompraEstoqueRestricao.IndexVM

<div id="filtro-grade">
    <template id="filter-RestricaoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Pessoa</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: NomePessoa" class="form-control" />
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
        id: "RestricaoIndex",
        newUrl: "#/Estoque/CompraEstoqueRestricao/New",
        editUrl: "#/Estoque/CompraEstoqueRestricao/Edit",
        listUrl: "/Estoque/CompraEstoqueRestricao/List",
        columns:
        @<script>
            [
                { 'id': 'IdProdutoServicoCompraEstoqueRestricao', editColumn: true },
                { 'id': 'NomePessoa', 'header': true, 'filter': true, 'defaultFilter': true, 'displayName': 'Nome', sortable: true },
                defaults.gridNewEdit.column.ativo,
                defaults.gridNewEdit.column.acao
            ]
        </script>,
        templateRows:
        @<tr>
            <td data-bind="text: NomePessoa, id: IdProdutoServicoCompraEstoqueRestricao"></td>
            <td data-bind="template: 'label-status'"></td>
            <td data-bind="template: { name: 'button-edit-url', data: { id: IdProdutoServicoCompraEstoqueRestricao } }"></td>
        </tr>, api: "indexVM.api", orderByCol: "NomePessoa", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)

</div>
@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}

