﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.CompraEstoqueRestricao.NewEditVM

<div data-bind="stopBindings: true">

    <form id="form-CompraEstoqueRestricao-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <input type="hidden" id="txtSiglaMoeda" name="txtSiglaMoeda" value="@Model.SiglaMoedaExibicao" />
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlPessoa">Pessoa</label>
                                @HtmlHelper.Select.SearchableKO("ddlPessoa", "IdPessoa", "IdPessoa", "Nome", "Nomes", "Nome", "/Corporativo/Pessoa/ListPessoaPersonalizado", dadosComplObservable: "vm.dadosComplePessoa", required: true, dataBind: "attr:{'disabled' : vm.IdProdutoServicoCompraEstoqueRestricao() != null }") <!--Apenas Pessoas Físicas-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for="chkAtivo">Ativo</label>
                                <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-toggle="collapsible" id="pnlRestricoesSolicitacao" data-bind="collapsible: { vmArray: [ vm.RestricoesSolicitacao() ] }">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Solicitação de Compras e Requisição de Estoque</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label" for="chkPermiteSolicitarRequisitar">Permite Solicitação e Requisição</label>
                                <input type="checkbox" class="no-uniform" id="chkPermiteSolicitarRequisitar" data-bind="checked: PermiteSolicitarRequisitar, flipper: { observable: PermiteSolicitarRequisitar, options: {'css': 'warning'} }">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label" for="chkPermiteRealizarEntrega">Permite Realizar Entrega de Produtos</label>
                                <input type="checkbox" class="no-uniform" id="chkPermiteRealizarEntrega" data-bind="checked: PermiteRealizarEntrega, flipper: { observable: PermiteRealizarEntrega, options: {'css': 'warning'} }">
                            </div>
                        </div>
                    </div>
                    <div class="optional hide-panel" id="pnlRestricaoUso" data-bind="collapsible: { vmArray: [ vm.RestricoesSolicitacao() ] }">
                        <a href="#">Restrição de Uso</a>
                        <div>
                            <p>
                                Caso queira restringir os Grupos de Produtos e seus limites, para Solicitação e Requisição, informe-os abaixo.
                            </p>
                            @HtmlHelper.GridView.GridNewEdit(
                            id: "RestricaoSolicitacaoCompras", // Declarar na página <template id="newedit-id"></template>
                            vm: "RestricoesSolicitacao",
                            vmExtend: "vmRestricoesSolicitacaoExtend",
                            title: "Novo",
                        columns: @<script>
                            [
                                { 'id': 'IdProdutoServicoCompraEstoqueRestricaoSolicitacao' },
                                { 'id': 'IdProdutoServicoGrupo' },
                                { 'id': 'ValorMaximoCompras' },
                                { 'id': 'ValorMaximoMes' },
                                { 'id': 'ValorMaximoAno' },
                                { 'id': 'DescricaoCompletaProdutoServicoGrupo', header: true, displayName: 'Grupo de Produto', sortable: true },
                                { 'id': 'ValorMaximoComprasExibicao', header: true, displayName: 'Valor por Compra', sortable: true },
                                { 'id': 'ValorMaximoMesExibicao', header: true, displayName: 'Valor por Mês', sortable: true },
                                { 'id': 'ValorMaximoAnoExibicao', header: true, displayName: 'Valor por Ano', sortable: true },
                                defaults.gridNewEdit.column.acaoEditRemove
                            ]
                            </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: DescricaoCompletaProdutoServicoGrupo }  }"></td>
                    <td data-bind="text: ValorMaximoComprasExibicao"></td>
                    <td data-bind="text: ValorMaximoMesExibicao"></td>
                    <td data-bind="text: ValorMaximoAnoExibicao"></td>
                    <td data-bind="template: { name: 'button-edit-remove' }"></td>
                </tr>, orderByCol: "DescricaoCompletaProdutoServicoGrupo", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)

                            <div class="optional" id="pnlAutorizacao" data-bind="collapsible: { vmArray: [ vm.IdsPessoaAutorizada() ] }">
                                <a href="#">Autorização para os usuários abaixo realizarem Solicitação e Requisição em seu nome</a>
                                <div>
                                    <div class="row">
                                        <div class="col-xs-7">
                                            <div class="form-group">
                                                <label for="ddlPessoasRestricaoAprovacao">Caso queira autorizar Usuários Solicitarem e Requisitarem em nome da Pessoa, informe-os abaixo.</label>
                                                @HtmlHelper.Select.SearchableKO("ddlPessoaAutorizacao", "IdsPessoaAutorizada", "IdPessoaIn", "NomePessoa", "Nomes", "NomePessoa", "/Seguranca/Usuario/List", dadosComplObservable: "vm.dadosComplePessoaAutorizacao", multiple: true, idChaveRelacao: "IdPessoa")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="optional" id="pnlRestricaoAprovador" data-bind="collapsible: { vmArray: [ vm.IdsPessoaAprovadorSolicitacaoCompra() ] }">
                                <a href="#">Restrição de Aprovador</a>
                                <div>
                                    <div class="row">
                                        <div class="col-xs-7">
                                            <div class="form-group">
                                                <label for="ddlPessoasRestricaoAprovacao">Caso queira que esta Pessoa tenha Aprovadores fixos, informe quais são eles.</label>
                                                @HtmlHelper.Select.SearchableKO("ddlPessoasRestricaoAprovacao", "IdsPessoaAprovadorSolicitacaoCompra", "IdPessoaIn", "NomePessoa", "Nomes", "NomePessoa", "/Seguranca/Usuario/List", dadosComplObservable: "vm.dadosComplePessoaAprovador", multiple: true, idChaveRelacao: "IdPessoa")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-toggle="collapsible" id="pnlRestricoesCotacaoAprovacao" data-bind="collapsible: { vmArray: [ vm.RestricoesCotacaoAprovacao() ] }">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Cotação e Aprovação de Compras</h3>
                </div>
                <div class="panel-body">
                    <p>
                        Caso queira que esta Pessoa apenas possa fazer Cotação e Aprovação de Compras de alguns Grupos de Produtos, informe quais são eles.
                    </p>
                    <p>
                        Caso queira restringir um valor máximo, definina-o durante o cadastro.
                    </p>
                    @HtmlHelper.GridView.GridNewEdit(
                id: "RestricaoCotacaoAprovacao", // Declarar na página <template id="newedit-id"></template>
                vm: "RestricoesCotacaoAprovacao",
                vmExtend: "vmRestricoesCotacaoAprovacaoExtend",
                title: "Novo",
                columns: @<script>
                    [
                        { 'id': 'IdProdutoServicoCompraEstoqueRestricaoCompra' },
                        { 'id': 'IdProdutoServicoGrupo' },
                        { 'id': 'ValorMaximoCompras' },
                        { 'id': 'ValorMaximoMes' },
                        { 'id': 'ValorMaximoAno' },
                        { 'id': 'DescricaoCompletaProdutoServicoGrupo', header: true, displayName: 'Grupo de Produto', sortable: true },
                        { 'id': 'ValorMaximoComprasExibicao', header: true, displayName: 'Valor por Compra', sortable: true },
                        { 'id': 'ValorMaximoMesExibicao', header: true, displayName: 'Valor por Mês', sortable: true },
                        { 'id': 'ValorMaximoAnoExibicao', header: true, displayName: 'Valor por Ano', sortable: true },
                        defaults.gridNewEdit.column.acaoEditRemove
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: DescricaoCompletaProdutoServicoGrupo }  }"></td>
                    <td data-bind="text: ValorMaximoComprasExibicao"></td>
                    <td data-bind="text: ValorMaximoMesExibicao"></td>
                    <td data-bind="text: ValorMaximoAnoExibicao"></td>
                    <td data-bind="template: { name: 'button-edit-remove' }"></td>
                </tr>, orderByCol: "DescricaoCompletaProdutoServicoGrupo", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)
                    <div class="optional" id="pnlPessoasRestricaoAprovacaoCotacao" data-bind="collapsible: { vmArray: [ vm.IdsPessoasAprovadoresCotacao() ] }">
                        <a href="#">Restrição de Aprovador</a>
                        <div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="ddlPessoasRestricaoAprovacaoCotacao">Caso queira que esta Pessoa tenha Aprovadores fixos, informe quais são eles.</label>
                                        @HtmlHelper.Select.SearchableKO("ddlPessoasRestricaoAprovacaoCotacao", "IdsPessoasAprovadoresCotacao", "IdPessoaIn", "NomePessoa", "Nomes", "NomePessoa", "/Seguranca/Usuario/List", "Ativo:true", multiple: true, idChaveRelacao: "IdPessoa")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-toggle="collapsible" id="pnlRestricoesProdutoRecebimento" data-bind="collapsible: { vmArray: [ vm.RestricaoRecebimentoProduto.Divergencias() ] }">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Recebimento de Produto</h3>
                </div>
                <div class="panel-body" data-bind="with: RestricaoRecebimentoProduto">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="chkRestringeSubstituirFornecedor">A Entrada de Compra deve ser com o mesmo Fornecedor do Pedido de Compra</label>
                                <input type="checkbox" class="no-uniform" id="chkRestringeSubstituirFornecedor" data-bind="checked: RestringeSubstituirFornecedor, flipper: { observable: RestringeSubstituirFornecedor, options: { 'css':'warning' } }">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="chkRestringeReceberProdutoSemNota">O Pedido de Compra deve ser informado na Entrada da Compra</label>
                                <input type="checkbox" class="no-uniform" id="chkRestringeReceberProdutoSemNota" data-bind="checked: RestringeReceberProdutoSemNota, flipper: { observable: RestringeReceberProdutoSemNota, options: { 'css':'warning' } }">
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>No recebimento de Documento de Entrada este Usuário possa dar entrada com algumas Divergências, informe quais são as mesmas a seguir.</label>
                            </div>
                        </div>
                    </div>
                    @HtmlHelper.GridView.GridNewEdit(
                id: "Divergencia", // Declarar na página <template id="newedit-id"></template>
                vm: "Divergencias",
                vmExtend: "vmDivergenciasExtend",
                title: "Novo",
                columns: @<script>
                    [
                        { 'id': 'IdProdutoServicoCompraEstoqueRestricaoRecebimentoDivergencia' },
                        { 'id': 'IdProdutoServicoCompraEstoqueRestricaoRecebimento' },
                        { 'id': 'DescricaoDivergenciaTipo', header: true, displayName: 'Divergência', sortable: true },
                        { 'id': 'PercentualVariacaoExibicao', header: true, displayName: 'Percentual de Variação', sortable: true },
                        { 'id': 'DivergenciaTipo' },
                        { 'id': 'PercentualVariacao' },
                        defaults.gridNewEdit.column.acaoEditRemove
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: DescricaoDivergenciaTipo }  }"></td>
                    <td data-bind="text: PercentualVariacaoExibicao"></td>
                    <td data-bind="template: { name: 'button-edit-remove' }"></td>
                </tr>, orderByCol: "DescricaoDivergenciaTipo", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)
                </div>
            </div>
        </div>
    </form>
    <template id="newedit-RestricaoSolicitacaoCompras">
        <div class="row">
            <div class="col-xs-9">
                <div class="form-group">
                    <label for="ddlProdutoServicoGrupoSolicitacao">Grupo de Produto</label>
                    @HtmlHelper.Select.SearchableKO("ddlProdutoServicoGrupoSolicitacao", "IdProdutoServicoGrupo", "IdProdutoServicoGrupo", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Estoque/ProdutoServicoGrupo/List", "Ativo:true, UltimoNivel: true", required: true, vmTextSelected: "DescricaoCompletaProdutoServicoGrupo")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="ddlValorMaximoComprasSolicitacao">Valor Máximo por Compra</label>
                    <div class="form-group-unidade input-group">
                        <div class="input-group-addon">
                            <span>@Model.SiglaMoedaExibicao</span>
                        </div>
                        <input type="text" class="form-control" data-bind="value: ValorMaximoCompras, maskDecimal: { }" id="ddlValorMaximoComprasSolicitacao" style="text-align: right;" />
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="ddlValorMaximoMesComprasSolicitacao">Valor Máximo por Mês</label>
                    <div class="form-group-unidade input-group">
                        <div class="input-group-addon">
                            <span>@Model.SiglaMoedaExibicao</span>
                        </div>
                        <input type="text" class="form-control" data-bind="value: ValorMaximoMes, maskDecimal: { }" id="ddlValorMaximoMesComprasSolicitacao" style="text-align: right;" />
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="ddlValorMaximoAnoComprasSolicitacao">Valor Máximo por Ano</label>
                    <div class="form-group-unidade input-group">
                        <div class="input-group-addon">
                            <span>@Model.SiglaMoedaExibicao</span>
                        </div>
                        <input type="text" class="form-control" data-bind="value: ValorMaximoAno, maskDecimal: { }" id="ddlValorMaximoAnoComprasSolicitacao" style="text-align: right;" />
                    </div>
                </div>
            </div>

        </div>
    </template>
    <template id="newedit-RestricaoCotacaoAprovacao">
        <div class="row">
            <div class="col-xs-9">
                <div class="form-group">
                    <label for="ddlProdutoServicoGrupo">Grupo de Produto</label>
                    @HtmlHelper.Select.SearchableKO("ddlProdutoServicoGrupoCotacao", "IdProdutoServicoGrupo", "IdProdutoServicoGrupo", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Estoque/ProdutoServicoGrupo/List", "Ativo:true, UltimoNivel: true", required: true, vmTextSelected: "DescricaoCompletaProdutoServicoGrupo")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="ddlValorMaximoComprasCotacao">Valor Máximo por Documento</label>
                    <div class="form-group-unidade input-group">
                        <div class="input-group-addon">
                            <span>@Model.SiglaMoedaExibicao</span>
                        </div>
                        <input type="text" class="form-control" data-bind="value: ValorMaximoCompras, maskDecimal: {}" id="ddlValorMaximoComprasCotacao" name="ddlValorMaximoComprasCotacao" style="text-align: right;" />
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="ddlValorMaximoMesCotacao">Valor Máximo por Mês</label>
                    <div class="form-group-unidade input-group">
                        <div class="input-group-addon">
                            <span>@Model.SiglaMoedaExibicao</span>
                        </div>
                        <input type="text" class="form-control" data-bind="value: ValorMaximoMes, maskDecimal: {}" id="ddlValorMaximoMesCotacao" name="ddlValorMaximoMesCotacao" style="text-align: right;" />
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="ddlValorMaximoAnoCotacao">Valor Máximo por Ano</label>
                    <div class="form-group-unidade input-group">
                        <div class="input-group-addon">
                            <span>@Model.SiglaMoedaExibicao</span>
                        </div>
                        <input type="text" class="form-control" data-bind="value: ValorMaximoAno, maskDecimal: {}" id="ddlValorMaximoAnoCotacao" name="ddlValorMaximoAnoCotacao" style="text-align: right;" />
                    </div>
                </div>
            </div>

        </div>
    </template>
    <template id="newedit-Divergencia">
        <div class="row">
            <div class="col-xs-9">
                <div class="form-group">
                    <label for="ddlDivergenciaTipo">Divergência</label>
                    <select id="ddlDivergenciaTipo" name="ddlDivergenciaTipo" class="form-control no-search" data-bind="value: DivergenciaTipo, validate: { required : true}">
                        <option value="1">Alterar Ordem de Serviço</option>
                        <option value="2">Alterar Centro de Custo</option>
                        <option value="3">Divergência da Previsão de Pagamento</option>
                        <option value="4">Divergência de Despesas Acessórias</option>
                        <option value="5">Divergência de Preço Unitário</option>
                        <option value="6">Quantidade Menor que o Pedido</option>
                        <option value="7">Quantidade Maior que o Pedido</option>
                        <option value="8">Divergência Total da Nota com o Pedido</option>
                        <option value="9">Divergência Impostos</option>
                        <option value="10">Recebimento antes da Data Prevista</option>
                        <option value="11">Recebimento após a Data Prevista</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group" data-bind="visible: DivergenciaTipo() == 5 || DivergenciaTipo() == 8 || DivergenciaTipo() == 9">
                    <label for="txtVariacao">Variação no Valor da Compra</label>
                    <div class="input-group">
                        <input type="number" min="1" max="100" id="txtVariacao" name="txtVariacao" data-bind="value: PercentualVariacao" class="form-control" maxlength="5" />
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>