﻿@model HTM.MasterGestor.Web.UI.Areas.Criacao.ViewModels.Categoria.IndexVM

<div id="filtro-grade">
    <template id="filter-CriacaoCategoriaIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div> 
        <div class="form-group">
            <label for="ddlFiltroIdCriacaoGrupoCategoria" class="control-label">Grupo de Categoria</label>            
            @HtmlHelper.Select.SearchableKO("ddlFiltroIdCriacaoTipo", "IdCriacaoTipoIn", "IdCriacaoTipo", "Descricao", "Descricao", "Descricao", "/Criacao/Tipo/List", "Ativo:true", multiple: true, idChaveRelacao: "IdCriacaoTipo")
        </div>
        <div class="form-group">
            <label for="ddlFiltroIdCriacaoTipo" class="control-label">Tipo de Animal</label>
            <input type="hidden" id="ddlFiltroIdCriacaoTipo" class="form-control" multiple="multiple" />
            @HtmlHelper.Select.SearchableKO("ddlFiltroIdCriacaoGrupoCategoria", "IdCriacaoGrupoCategoriaIn", "IdCriacaoGrupoCategoria", "Descricao", "Descricao", "Descricao", "/Criacao/GrupoCategoria/List", "Ativo:true", multiple: true, idChaveRelacao: "IdCriacaoGrupoCategoria")
        </div>
        <div class="form-group">
            <label for="ddlFiltroIdCaracterizacaoTipo" class="control-label">Tipo de Caracterização</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroIdCaracterizacaoTipo", "IdCriacaoCaracterizacaoTipoIn", "IdCriacaoCaracterizacaoTipo", "Descricao", "Descricao", "Descricao", "/Criacao/TipoCaracterizacao/List", "Ativo:true", multiple: true, idChaveRelacao: "IdCriacaoCaracterizacaoTipo")
        </div>    
        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>   
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "CriacaoCategoriaIndex",
    newUrl: "#/Criacao/Categoria/New",
    editUrl: "#/Criacao/Categoria/Edit",
    listUrl: "/Criacao/Categoria/List",
    columns:
    @<script>
        [
           { 'id': 'IdCriacaoCategoria', editColumn: true },
           { 'id': 'RegistroProprio', 'defaultValue': '', 'filter': true },
           { 'id': 'IdCriacaoTipoIn', filter: true },
           { 'id': 'IdCriacaoGrupoCategoriaIn', filter: true },
           { 'id': 'IdCriacaoCaracterizacaoTipoIn', filter: true },
           { 'id': 'Descricao', header: true, filter: true, defaultFilter: true, displayName: 'Descrição' },
           { 'id': 'DescricaoCriacaoGrupoCategoria', header: true, displayName: 'Grupo de Categoria', groupable: true },
           { 'id': 'DescricaoCriacaoTipo', header: true, displayName: 'Tipo de Animal', groupable: true },
           { 'id': 'EditarRegistro', 'header': true, 'filter': true, 'sortable': true, 'displayName': 'Editar Registro' },
           defaults.gridNewEdit.column.ativo,
           { displayName: "Ações", header: true, width: '160px' }
        ]
    </script>,
      templateRows:
    @<tr>
        <td data-bind="text: Descricao"></td>
        <td data-bind="text: DescricaoCriacaoGrupoCategoria"></td>  
        <td data-bind="text: DescricaoCriacaoTipo"></td>  
        <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>        
        <td data-bind="template: 'label-status'"></td>
         <td>
             <div style="float:left">
                 <span data-bind="template: { name: 'button-edit-url', data: { id: IdCriacaoCategoria } }"></span>
             </div>

             <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                 <a data-bind="attr: { href: '#/Criacao/Categoria/Ativar/' + IdCriacaoCategoria}" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
             </div>

             <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                 <a data-bind="attr: { href: '#/Criacao/Categoria/Inativar/' + IdCriacaoCategoria}" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
             </div>

             <div style="float:left;padding-left:5px;" data-bind="visible: (EditarRegistro == false)">
                 <a data-bind="attr: { href: '#/Criacao/Categoria/View/' + IdCriacaoCategoria}" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
             </div>

         </td>
    </tr>,
    api: "indexVM.api",
    orderByCol: "Descricao",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,
    useHiddenColumns: false)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
