﻿@model HTM.MasterGestor.Web.UI.Areas.Criacao.ViewModels.Categoria.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-CriacaoCategoria-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlCriacaoGrupoCategoria">Grupo de Categoria</label>
                            @HtmlHelper.Select.SearchableKO("ddlCriacaoGrupoCategoria", "IdCriacaoGrupoCategoria", "IdCriacaoGrupoCategoria", "Descricao", "Descricao", "Descricao", "/Criacao/GrupoCategoria/List", "Ativo:true", required: true)
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="ddlSexo" class="control-label">Sexo</label>
                            <select class="form-control" name="ddlSexo" id="ddlSexo" data-bind="value: Sexo, validate: { required: true }">
                                <option value="1">Macho</option>
                                <option value="2">Fêmea</option>
                                <option value="3">Indefinido</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="ddlClasse" class="control-label">Classe</label>
                            <select class="form-control" name="ddlClasse" id="ddlClasse" data-bind="value: Classe, validate: { required: true }">
                                <option value="1">Classe Inicial</option>
                                <option value="2">Classe Intermediária</option>
                                <option value="3">Classe Final</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Forma de Alteração</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-inline">
                            <div class="form-group">
                                <label class="control-label" for="chkFormaAlteracaoManual">Manual</label>
                                <input type="checkbox" class="no-uniform" id="chkFormaAlteracaoManual" data-bind="checked: FormaAlteracaoManual, flipper: { observable: FormaAlteracaoManual, options: { 'css': 'warning' } }">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="chkFormaAlteracaoTempo">Automático por Tempo</label>
                                <input type="checkbox" class="no-uniform" id="chkFormaAlteracaoTempo" data-bind="checked: FormaAlteracaoTempo, flipper: { observable: FormaAlteracaoTempo, options: { 'css': 'warning' } }">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="chkFormaAlteracaoServico">Automático por Serviço</label>
                                <input type="checkbox" class="no-uniform" id="chkFormaAlteracaoServico" data-bind="checked: FormaAlteracaoServico, flipper: { observable: FormaAlteracaoServico, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" data-bind="visible: vm.FormaAlteracaoTempo()">
                    <div id="pnlTempoVida">
                        <div class="col-xs-2">
                            @HtmlHelper.Campo.UnidadeTipo("ddlTempoVida", "TempoVida", "5", "IdUnidadeTempoVida", label: "Tempo de Vida", ValidateBind: "{ required: vm.FormaAlteracaoTempo() }")
                        </div>
                    </div>
                </div>
                <div class="row" data-bind="visible: vm.FormaAlteracaoTempo()">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="ddlServicos" class="control-label">Categoria referência para contagem de Vida na mudança "Automática por Tempo".</label>
                            @HtmlHelper.Select.SearchableKO("ddlCriacaoCategoriaReferencia", "IdCriacaoCategoriaReferencia", "IdCategoriaServico", "Descricao", "Descricao", "Descricao", "/Criacao/Categoria/List", "Ativo:true, IdCriacaoCategoriaNotIn: " + (@Model.IdCriacaoCategoria.HasValue ? @Model.IdCriacaoCategoria.Value.ToString() : "null"), idChaveRelacao: "IdCriacaoCategoria", dataBind: "validate: { required: vm.FormaAlteracaoTempo() }")
                        </div>
                    </div>
                </div>
                <div class="row" data-bind="visible: vm.FormaAlteracaoServico()">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="ddlServicos" class="control-label">Serviços que se realizados alteram para esta Categoria.</label>
                            @HtmlHelper.Select.SearchableKO("ddlServicos", "IdsProdutoServico", "IdProdutoServicoIn", "Descricao", "Descricao", "Descricao", "/Estoque/Servico/List", "Ativo:true", idChaveRelacao: "IdProdutoServico", multiple: true, dataBind: "validate: { required: vm.FormaAlteracaoServico() }")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Informações Econômicas</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlCentroCusto" class="control-label">Atividade Econômica</label>
                            @HtmlHelper.Select.SearchableKO("ddlAtividadeEconomica", "IdAtividadeEconomica", "IdAtividadeEconomica", "Descricao", "Descricao", "Descricao", "/Contabilidade/AtividadeEconomica/List", "Ativo:true")
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlCentroCusto" class="control-label">Centro de Custo</label>
                            @HtmlHelper.Select.SearchableKO("ddlCentroCusto", "IdCentroCusto", "IdCentroCusto", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Contabilidade/CentroCusto/ListarHierarquicamentePorParametro", "Ativo:true, UltimoNivel:true, ComRestricaoUsuario:true", dataBind: "validate: { required: CentroCustoObrigatorio()== true }")
                        </div>
                    </div>
                </div>
                <div class="optional" id="pnlLancamentosContabeisLote" data-bind="collapsible: { vmArray: [ vm.IdProdutoServicoLote() ] }">
                    <a href="#">Informações para Lançamentos Contábeis do Lote</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="ddlProdutoServico">Os Lotes serão considerados Produto de Estoque</label>
                                    @HtmlHelper.Select.SearchableKO("ddlProdutoServicoLote", "IdProdutoServicoLote", "IdProdutoServico", "DescricaoCodigo", "DescricaoCodigoBusca", "DescricaoCodigo", "/Estoque/Produto/List", "Ativo:true, ComparOuProduzir:true", idChaveRelacao: "IdProdutoServico")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="optional" id="pnlLancamentosContabeisLote" data-bind="collapsible: { vmArray: [ vm.ControleLancamentoContabilTipo(), vm.IdProdutoServicoAnimal() ] }">
                    <a href="#">Informações para Lançamentos Contábeis do Animal</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-primary btn-inverted">
                                            <input type="radio" name="options" id="option1" value="1" data-bind="bsChecked: ControleLancamentoContabilTipo, css: { active: ControleLancamentoContabilTipo() == 1}"> Item de Estoque
                                        </label>
                                        <label class="btn btn-primary btn-inverted">
                                            <input type="radio" name="options" id="option1" value="2" data-bind="bsChecked: ControleLancamentoContabilTipo, css: { active: ControleLancamentoContabilTipo() == 2}"> Bem Imobilizado
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" data-bind="visible: vm.ControleLancamentoContabilTipo() == 1">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="ddlProdutoServico">Os Animais serão considerados o item de Estoque (Produto)</label>
                                    @HtmlHelper.Select.SearchableKO("ddlProdutoServicoAnimal", "IdProdutoServicoAnimal", "IdProdutoServico", "DescricaoCodigo", "DescricaoCodigoBusca", "DescricaoCodigo", "/Estoque/Produto/List", "Ativo:true, ComparOuProduzir:true, PermiteProducao:true", idChaveRelacao: "IdProdutoServico")
                                </div>
                            </div>
                        </div>
                        <div class="row" data-bind="visible: vm.ControleLancamentoContabilTipo() == 2">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="ddlClassePatrimonial">Os Animais serão considerados a Classe Patrimonial</label>
                                    @HtmlHelper.Select.SearchableKO("ddlClassePatrimonial", "IdClassePatrimonial", "IdClassePatrimonial", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Corporativo/ClassePatrimonial/List", "Ativo:true, UltimoNivel:true", dataBind: "validate: { required: vm.ControleLancamentoContabilTipo() ==2 } ", idChaveRelacao: "IdClassePatrimonial")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

