﻿@model HTM.MasterGestor.Web.UI.Areas.Seguranca.ViewModels.TelaHistoricoAcesso.IndexVM

<div id="filtro-grade" style="display:none;">
    <template id="filter-TelaHistoricoAcessoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: DescricaoReferencia" class="form-control" />
        </div>
        <div class="form-group" style="width:150px;">
            <label for="txtFiltroDataInicio" class="control-label">Data Início</label>
            <div class="input-group">
                <input data-bind="datepicker: { options: defaults.datepicker.date }, textInput: DataInicio" type="text" class="form-control" id="txtFiltroDataInicio" name="txtFiltroDataInicio" />
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
        <div class="form-group" style="width:150px;">
            <label for="txtFiltroDataFim" class="control-label">Data Fim</label>
            <div class="input-group">
                <input data-bind="datepicker: { options: defaults.datepicker.date }, textInput: DataFim" type="text" class="form-control" id="txtFiltroDataFim" name="txtFiltroDataFim" />
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
        <div class="form-group">
            <label for="ddlFiltroTipo" class="control-label">Tipo</label>
            <select id="ddlFiltroTipo" data-bind="select2: { valor: IdTelaHistoricoAcessoTipoIn }" class="form-control" multiple="multiple">
                <option value="1">Listagem</option>
                <option value="2">Inclusão</option>
                <option value="3">Edição</option>
                <option value="4">Visualização</option>
            </select>
        </div>
        @*<div class="form-group">
            <label for="ddlUsuario">Usuário</label>
            @HtmlHelper.Select.SearchableKO("ddlUsuario", "Usuario", "IdPessoa", "Nome", "Nome", "Nome", "/Corporativo/Pessoa/List", "Ativo: true, PossuiUsuario: true", idChaveRelacao: "IdPessoa", multiple: true)
        </div>*@       
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "TelaHistoricoAcessoIndex",
    //newUrl: "#/Seguranca/TelaHistoricoAcesso/New",
    //editUrl: "#/Seguranca/TelaHistoricoAcesso/Edit",
    listUrl: "/Seguranca/TelaHistoricoAcesso/List",
    columns:
    @<script>
        [   
            { 'id': 'DescricaoReferencia', filter: true, defaultFilter: true },
            { 'id': 'DataInicio', filter: true },
            { 'id': 'DataFim', filter: true },
            { 'id': 'IdTelaHistoricoAcessoTipoIn', filter: true, defaultValue: '' },
            { 'id': 'Data', header: true },
            { 'id': 'NomePessoa', 'header': true, displayName: 'Usuário', sortable: true },
            { 'id': 'TituloTelaTela', header: true, sortable: true, displayName: 'Tela' },
            { 'id': 'DescricaoTelaHistoricoAcessoTipo', header: true, sortable: true, displayName: 'Tipo' },
            { 'id': 'DescricaoReferencia', header: true, sortable: true, displayName: 'Registro', width: '120px', textAlign: 'right' },
            { 'id': 'TimeOffset', filter: true, defaultValue: new Date().getTimezoneOffset() }            
        ]
    </script>,
    templateRows:
    @<tr>
         @*<td data-bind="text: $root.formatDate(Data,'dd/mm/yyyy HH:MM')"></td>*@
         <td data-bind="text: DataHoraExibicao"></td>
         <td data-bind="text: NomePessoa"></td>
         <td data-bind="text: TituloTelaTela"></td>
         <td data-bind="text: DescricaoTelaHistoricoAcessoTipo"></td>
         <td data-bind="text: DescricaoReferencia"></td>     
    </tr>
    ,
    api: "indexVM.api",
    orderByCol: "Data",
    orderByDir: HelpersUtil.OrderByDirEnum.Desc,
    useHiddenColumns: false,
    showNewButton: false,
    open: false)
</div>


@*<div id="filtro-grade" style="display:none;" data-bind="stopBindings: true">
    @HtmlHelper.Panel.Filtro(  
    @<div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th @Knockout.GridHeader("TelaHistoricoAcesso.Data")>Data</th>
                    <th @Knockout.GridHeader("Pessoa.Nome")>Usuário</th>
                    <th @Knockout.GridHeader("Tela.TituloTela")>Tela</th>
                    <th @Knockout.GridHeader("TelaHistoricoAcessoTipo.Descricao")>Tipo</th>
                    <th @Knockout.GridHeader("TelaHistoricoAcesso.DescricaoReferencia")>Registro</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: {data: data, afterRender: onRowRendered }">
                <tr>
                    <td data-bind="text: $root.formatDate(Data,'dd/mm/yyyy HH:MM')"></td>
                    <td data-bind="text: NomePessoa"></td>
                    <td data-bind="text: TituloTelaTela"></td>
                    <td data-bind="text: DescricaoTelaHistoricoAcessoTipo"></td>
                    <td data-bind="text: DescricaoReferencia"></td>
                </tr>
            </tbody>
        </table>
    </div>, "", "light-blue", false)
</div>*@

@section Scripts {
    @*<script>
        $('.panel-filter').collapsible('open');

        $.validator.addMethod("ValidarDataInicio", function (value, element) {
            return !($('#txtFiltroDataFim').val() != '' && $('#txtFiltroDataInicio').val() == '');
        }, $.validator.messages.required);

        $.validator.addMethod("ValidarDataFim", function (value, element) {
            return !($('#txtFiltroDataInicio').val() != '' && $('#txtFiltroDataFim').val() == '');
        }, $.validator.messages.required);

        $('#frmFiltro').validate({
            rules: {
                'txtFiltroDataInicio': {
                    ValidarDataInicio: true
                },
                'txtFiltroDataFim': {
                    ValidarDataFim: true
                }
            }
        });

        new crudRoute('/Seguranca/TelaHistoricoAcesso/List', '', function () {
            return {
                DescricaoReferencia: $('#txtFiltroDescricao').val(),
                IdTelaHistoricoAcessoTipoIn: $('#ddlFiltroTipo').val(),
                DataInicio: $('#txtFiltroDataInicio').val(),
                DataFim: $('#txtFiltroDataFim').val(),
                TimeOffset: new Date().getTimezoneOffset()
            }
        },
            ['btnFiltrar', 'btnBuscaRapida'], 'TelaHistoricoAcesso.Data', 'desc',
            [{ text: 'Tela', value: 'Tela.Descricao', internal: 'DescricaoTela' },
             { text: 'Tipo', value: 'TelaHistoricoAcessoTipo.Descricao', internal: 'DescricaoTelaHistoricoAcessoTipo' },
             { text: 'Usuário', value: 'Pessoa.Nome', internal: 'NomePessoa' }]
        );
    </script>*@

    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}