﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.FormaPagamento.IndexVM

<div id="filtro-grade">
    <template id="filter-FinanceiroFormaPagamentoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
        id: "FinanceiroFormaPagamentoIndex",
        newUrl: "#/Financeiro/FormaPagamento/New",
        editUrl: "#/Financeiro/FormaPagamento/Edit",
        listUrl: "/Financeiro/FormaPagamento/List",
        columns:
        @<script>
            [
                { 'id': 'IdFinanceiroFormaPagamento', 'editColumn': true },
                { 'id': 'Descricao', 'header': true, 'displayName': 'Descrição', filter: true, 'defaultFilter': true, sortable: true },
                { 'id': 'NaturezaDescricao', 'header': true, 'displayName': 'Naureza', sortable: true, groupable: true },
                { 'id': 'Cobranca', 'header': true, 'displayName': 'Usa Cobrança', sortable: true },
                { 'id': 'Bordero', 'header': true, 'displayName': 'Usa Borderô', sortable: true },
                { 'id': 'Titulo', 'header': true, 'displayName': 'Usa Título', sortable: true },
                { 'id': 'Antecipacao', 'header': true, 'displayName': 'Usa Antecipação', sortable: true },
                defaults.gridNewEdit.column.ativo,
                defaults.gridNewEdit.column.acao
            ]
        </script>,
        templateRows:
        @<tr>
            <td><span data-bind="text: Descricao"></span></td>
            <td><span data-bind="text: NaturezaDescricao"></span></td>
            <td data-bind="template: { name: 'label-status', data: { status: Cobranca } }"></td>
            <td data-bind="template: { name: 'label-status', data: { status: Bordero } }"></td>
            <td data-bind="template: { name: 'label-status', data: { status: Titulo } }"></td>
            <td data-bind="template: { name: 'label-status', data: { status: Antecipacao } }"></td>
            <td data-bind="template: 'label-status'"></td>
            <td data-bind="template: { name: 'button-edit-url', data: { id: IdFinanceiroFormaPagamento } }"></td>
        </tr>, api: "indexVM.api", orderByCol: "Descricao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false, showFilter: true)
</div>
@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}