﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.FormaPagamento.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-FinanceiroFormaPagamento-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="Descricao">Descrição</label>
                                <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="250" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlNaturezaFinanceira" class="control-label">Natureza da Operação Financeira</label>
                                <select id="ddlNaturezaFinanceira" name="ddlNaturezaFinanceira" class="form-control no-search" data-bind="value: NaturezaFinanceira">
                                    <option value="1" selected="selected">Contas a Pagar e Receber</option>
                                    <option value="2">Contas a Pagar</option>
                                    <option value="3">Contas a Receber</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <label for="ddlFinanceiroItemUtilizacao">Informações que podem ser usadas</label>
                                @HtmlHelper.Select.SearchableKO("ddlFinanceiroItemUtilizacao", "IdsItens", "IdFinanceiroItemUtilizacaoIn", "Descricao", "Descricao", "Descricao", "/Financeiro/ItemUtilizacao/List", "", idChaveRelacao: "IdFinanceiroItemUtilizacao", multiple: true, required: true)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label class="control-label" for="chkCobranca">Usado em Cobrança</label>
                                <input type="checkbox" class="no-uniform" id="chkCobranca" data-bind="checked: Cobranca, flipper: { observable: Cobranca, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label class="control-label" for="chkBordero">Usado em Borderô</label>
                                <input type="checkbox" class="no-uniform" id="chkBordero" data-bind="checked: Bordero, flipper: { observable: Bordero, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label class="control-label" for="chkTitulo">Usado em  Título</label>
                                <input type="checkbox" class="no-uniform" id="chkTitulo" data-bind="checked: Titulo, flipper: { observable: Titulo, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label class="control-label" for="chkAntecipacao">Usado em Antecipação</label>
                                <input type="checkbox" class="no-uniform" id="chkAntecipacao" data-bind="checked: Antecipacao, flipper: { observable: Antecipacao, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkAtivo">Ativo</label>
                                <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
