﻿@model HTM.MasterGestor.Web.UI.Areas.Aplicacao.ViewModels.TabelaReferencia.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-TabelaReferencia-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required:true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlTabela">Tabela</label>
                            @HtmlHelper.Select.SearchableKO("ddlTabela", "Tabela", "TABLE_NAME", "TABLE_NAME", "TABLE_NAME", "TABLE_NAME", "/Core/Tabela/List", "", idChaveRelacao: "TABLE_NAME", required: true)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlCampoChave">Campo Chave</label>
                            @HtmlHelper.Select.SearchableKO("ddlCampoChave", "CampoChave", "COLUMN_NAME", "COLUMN_NAME", "COLUMN_NAME", "COLUMN_NAME", "/Core/Coluna/List", "", "ddlTabela", "TABLE_NAME", idChaveRelacao: "COLUMN_NAME")
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlTipoCampoChave">Tipo Campo</label>
                            <select id="ddlTipoCampoChave" name="ddlTipoCampoChave" class="form-control required" data-bind="value: TipoCampoChave">
                                <option value="int" selected="selected">Inteiro</option>
                                <option value="varchar">Alfanumérico</option>
                                <option value="decimal">Decimal</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlCampoDescricao">Campo Descrição</label>
                            @HtmlHelper.Select.SearchableKO("ddlCampoDescricao", "CampoDescricao", "COLUMN_NAME", "COLUMN_NAME", "COLUMN_NAME", "COLUMN_NAME", "/Core/Coluna/List", "", "ddlTabela", "TABLE_NAME", idChaveRelacao: "COLUMN_NAME", required: true)
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlTipoCampoDescricao">Tipo Campo</label>
                            <select id="ddlTipoCampoDescricao" name="ddlTipoCampoDescricao" class="form-control" data-bind="value: TipoCampoDescricao, validate: { required: true }">
                                <option value="int">Inteiro</option>
                                <option value="varchar" selected="selected">Alfanumérico</option>
                                <option value="decimal">Decimal</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-action">
            <div class="panel-body">
                <button type="submit" id="btn-salvar" class="btn btn-secondary btn-lg btn-primary-action"><i class="material-icons">&#xE5CA;</i> Salvar</button>
                <a href="#List" type="button" class="btn btn-primary btn-inverted btn-lg"><i class="material-icons">&#xE5C4;</i> Voltar</a>
                @if (@Model.IdAplicacaoTabelaReferencia.HasValue)
                {
                    <a href="#History/AplicacaoTabelaReferencia/@Model.IdAplicacaoTabelaReferencia" type="button" class="btn btn-primary btn-inverted btn-lg pull-right"><i class="material-icons">&#xE889;</i> Histórico</a>
                }
            </div>
        </div>

    </form>
</div>

<script type="text/javascript">
    var form = $('#form-TabelaReferencia-NewEdit');

    var vm = {
        @Html.ObservableFor(model => model.IdAplicacaoTabelaReferencia),
        @Html.ObservableFor(model => model.Tabela),
        @Html.ObservableFor(model => model.Descricao),
        @Html.ObservableFor(model => model.CampoChave),
        @Html.ObservableFor(model => model.CampoDescricao),
        @Html.ObservableFor(model => model.TipoCampoChave),
        @Html.ObservableFor(model => model.TipoCampoDescricao),
        @Html.ObservableFor(model => model.Ativo),
        @Html.ObservableFor(model => model.ChaveVersao),
          Save: function () {
             if (!vm.isValidShowErrors()) { return; };
                $.ajaxJsonAntiforgery(form, {
                    data: ko.toJSON(vm),
                    url: '/Aplicacao/TabelaReferencia/NewEdit/',
                    success: function (result) {
                        mgFeedbackBase.feedbackCrud(result, 'Tabela Referência salva com sucesso.');
                    }
                });
            }
    };
    ko.applyBindings(vm, form[0]);
</script>