﻿@model HTM.MasterGestor.Web.UI.Areas.Contabilidade.ViewModels.AtividadeEconomica.IndexVM

<div id="filtro-grade">
    <template id="filter-AtividadeEconomicaIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroAtividadeEconomicaSegmento" class="control-label">Segmento Econômico</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroAtividadeEconomicaSegmento", "IdAtividadeEconomicaSegmentoIn", "IdAtividadeEconomicaSegmento", "Descricao", "Descricao", "Descricao", "/Contabilidade/AtividadeEconomicaSegmento/List", "Ativo:true", idChaveRelacao: "IdAtividadeEconomicaSegmento")
        </div>
        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "AtividadeEconomicaIndex",
    newUrl: "#/Contabilidade/AtividadeEconomica/New",
    editUrl: "#/Contabilidade/AtividadeEconomica/Edit",
    listUrl: "/Contabilidade/AtividadeEconomica/List",
    columns:
    @<script>
        [
           { 'id': 'IdAtividadeEconomica', editColumn: true },
           { 'id': 'IdAtividadeEconomicaSegmentoIn', filter: true },
           { 'id': 'RegistroProprio', 'defaultValue': '', 'filter': true },
           { 'id': 'Descricao', filter: true, header: true, 'defaultFilter': true },
           { 'id': 'DescricaoAtividadeEconomicaSegmento', header: true, displayName: 'Segmento' },
           { 'id': 'EditarRegistro', 'header': true, 'filter': true, 'sortable': true, 'displayName': 'Editar Registro' },
           defaults.gridNewEdit.column.ativo,
           { displayName: "Ações", header: true, width: '160px' }
        ]
    </script>,
      templateRows:
    @<tr>
        <td data-bind="text: Descricao"></td>
        <td data-bind="text: DescricaoAtividadeEconomicaSegmento"></td>
        <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>
        <td data-bind="template: 'label-status'"></td>
        <td>
            <div style="float:left">
                <span data-bind="template: { name: 'button-edit-url', data: { id: IdAtividadeEconomica } }"></span>
            </div>

            <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                <a data-bind="attr: { href: '#/Contabilidade/AtividadeEconomica/Ativar/' + IdAtividadeEconomica}" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
            </div>

            <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                <a data-bind="attr: { href: '#/Contabilidade/AtividadeEconomica/Inativar/' + IdAtividadeEconomica}" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
            </div>

            <div style="float:left;padding-left:5px;" data-bind="visible: (EditarRegistro == false)">
                <a data-bind="attr: { href: '#/Contabilidade/AtividadeEconomica/View/' + IdAtividadeEconomica}" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
            </div>

        </td>
    </tr>,
    api: "indexVM.api",
    orderByCol: "Descricao",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,
    useHiddenColumns: false)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
