﻿@model HTM.MasterGestor.Web.UI.Areas.Contabilidade.ViewModels.AtividadeEconomica.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-AtividadeEconomica-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlAtividadeEconomicaSegmento">Segmento</label>
                            @HtmlHelper.Select.SearchableKO("ddlAtividadeEconomicaSegmento", "IdAtividadeEconomicaSegmento", "IdAtividadeEconomicaSegmento", "Descricao", "Descricao", "Descricao", "/Contabilidade/AtividadeEconomicaSegmento/List", "Ativo:true", required: true)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlNaturezaOperacional">Natureza de Controle Operacional</label>
                            @HtmlHelper.Select.SearchableKO("ddlNaturezaOperacional", "IdNaturezaOperacional", "IdNaturezaOperacional", "Descricao", "Descricao", "Descricao", "/Corporativo/NaturezaOperacional/List", "Ativo:true", required: true)
                        </div>
                    </div>
                </div>

                @*<div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlNaturezaOperacional">Natureza de Controle Operacional</label>
                                <select class="form-control no-search" id="ddlNaturezaOperacional" data-bind="value: NaturezaOperacional, validate: { required : true }">
                                    <option value="" selected="selected">Nenhuma</option>
                                    <option value="1">Agrícola</option>
                                    <option value="2">Criações</option>
                                    <option value="3">Processamento,Beneficiamento ou Fabricação</option>
                                    <option value="4">Comercial</option>
                                </select>
                            </div>
                        </div>
                    </div>*@

                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" data-toggle="collapsible" id="pnlProdutoServico">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Produto e Serviço realizados por esta Atividade Econômica</h3>
            </div>
            <div class="panel-body">
                @HtmlHelper.GridView.GridNewEdit(
                id: "ProdutoServico", // Declarar na página <template id="newedit-id"></template>
                vmExtend: "vmProdutoExtend",
                vm: "ProdutosServicos",
                columns: @<script>
                    [

                        { 'id': 'IdAtividadeEconomicaProdutoServico', 'editColumn': true },
                        { 'id': 'IdProdutoServico' },
                        { 'id': 'IdProdutoServicoNotIn' },
                        { 'id': 'ObrigatorioProduto', 'defaultValue': true },
                        { 'id': 'ObrigatorioServico', 'defaultValue': false },
                        { 'id': 'Natureza', 'defaultValue': '1' },
                        { 'id': 'DescricaoNatureza', 'displayName': 'Natureza', 'header': true, 'sortable': true },
                        { 'id': 'DescricaoProdutoServico', 'displayName': 'Produto ou Serviço', 'header': true, 'sortable': true },
                        defaults.gridNewEdit.column.ativo,
                        defaults.gridNewEdit.column.acao
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: DescricaoNatureza }  }"></td>
                    <td data-bind="text: DescricaoProdutoServico"></td>
                    <td data-bind="template: { name: 'label-status' }"></td>
                    <td data-bind="template: { name: 'button-edit' }"></td>
                </tr>,
                                                                                                                                                                                                 orderByCol: "DescricaoNatureza",
                                                                                                                                                                                                 orderByDir: HelpersUtil.OrderByDirEnum.Asc, title: "Produto ou Serviço")
            </div>
        </div>
        <div class="panel panel-default" data-toggle="collapsible" id="pnltiposaplicacao">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Aplicações</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="">Onde pode ser realizada esta Atividade? (Tipos de Aplicações)</label>
                            @HtmlHelper.Select.SearchableKO("ddlIdsAtividadeEconomica", "IdsAplicacoesTipo", "IdAplicacaoTipoIn", "Descricao", "Descricao", "Descricao", "/Aplicacao/AplicacaoTipo/List", "Ativo:true", multiple: true, idChaveRelacao: "IdAplicacaoTipo")
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" data-toggle="collapsible" id="pnlEtapas">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Etapas ou Sub Atividades</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkPossuiSubAtividades">Esta Atividade Econômica possui Sub Atividades ou Etapas?</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: PossuiSubAtividades, flipper: { observable: PossuiSubAtividades, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
                <div id="SubAtividades" data-bind="if: PossuiSubAtividades()">
                    @HtmlHelper.GridView.GridNewEdit(
                    id: "Etapa", // Declarar na página <template id="newedit-id"></template>
                    vm: "Etapas",
                    columns: @<script>
                        [
                            { 'id': 'IdAtividadeEconomicaAtividadeEconomicaEtapa', 'editColumn': true },
                            { 'id': 'IdAtividadeEconomica' },
                            { 'id': 'IdAtividadeEconomicaEtapa' },
                            { 'id': 'DescricaoAtividadeEconomicaEtapa', 'displayName': 'Descrição', 'header': true, 'sortable': true },
                            { 'id': 'Ordem', 'displayName': 'Ordem', 'header': true, 'sortable': true, 'width': '120px' },
                            defaults.gridNewEdit.column.ativo,
                            defaults.gridNewEdit.column.acao
                        ]
                    </script>,
                    templateRows:
                    @<tr>
                        <td data-bind="template: { name: 'link-edit', data: { text: DescricaoAtividadeEconomicaEtapa }  }"></td>
                        <td data-bind="text: Ordem"></td>
                        <td data-bind="template: { name: 'label-status' }"></td>
                        <td data-bind="template: { name: 'button-edit' }"></td>
                    </tr>, orderByCol: "Ordem", title: "Sub Atividade ou Etapa", orderByDir: HelpersUtil.OrderByDirEnum.Asc)
                </div>
            </div>
        </div>

        <div class="panel panel-default panel-action">
            <div class="panel-body">
                <button type="submit" id="btn-salvar" class="btn btn-secondary btn-lg btn-primary-action"><i class="material-icons">&#xE5CA;</i> Salvar</button>
                <a href="#List" type="button" class="btn btn-primary btn-inverted btn-lg"><i class="material-icons">&#xE5C4;</i> Voltar</a>
                @if (@Model.IdAtividadeEconomica.HasValue)
                {
                    <a href="#History/AtividadeEconomica/@Model.IdAtividadeEconomica" type="button" class="btn btn-primary btn-inverted btn-lg pull-right"><i class="material-icons">&#xE889;</i> Histórico</a>
                }
            </div>
        </div>
    </form>
    <template id="newedit-ProdutoServico">
        <div class="row">
            <div class="form-group">
                <div class="col-xs-6">
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary btn-inverted">
                                <input type="radio" name="options" id="option1" value="1" data-bind="bsChecked: Natureza, css: { active: Natureza() == 1}"> Produto
                            </label>
                            <label class="btn btn-primary btn-inverted">
                                <input type="radio" name="options" id="option1" value="2" data-bind="bsChecked: Natureza, css: { active: Natureza() == 2}"> Serviço
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" col-xs-8" data-bind="if: Natureza() == 1">
                <div class="form-group" data-bind="visible: Natureza() == 1">
                    <label for="ddlProduto">Produto</label>
                    @HtmlHelper.Select.SearchableKO("ddlProduto", "IdProdutoServico", "IdProdutoServico", "DescricaoCodigo", "DescricaoCodigoBusca", "DescricaoCodigo", "/Estoque/Produto/List", "Ativo:true, VendaOuProducao:true", vmTextSelected: "DescricaoProdutoServico", dataBind: "validate: { required: ObrigatorioProduto() }", idControleDependencia: "txtProdutoServicoNotIn", idDependencia: "IdProdutoServicoNotIn", idChaveRelacao: "IdProdutoServico")
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" col-xs-8" data-bind="if: Natureza() == 2">
                <div class="form-group" data-bind="visible: Natureza() == 2">
                    <label for="ddlServico">Serviço</label>
                    @HtmlHelper.Select.SearchableKO("ddlServico", "IdProdutoServico", "IdProdutoServico", "Descricao", "Descricao", "Descricao", "/Estoque/Servico/List", "Ativo:true, VendaOuProducao:true", vmTextSelected: "DescricaoProdutoServico", dataBind: "validate: { required: ObrigatorioServico() }", idControleDependencia: "txtProdutoServicoNotIn", idDependencia: "IdProdutoServicoNotIn", idChaveRelacao: "IdProdutoServico")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="control-label" for="chkProdutoServicoAtivo">Ativo</label>
                    <input type="checkbox" class="no-uniform" id="chkProdutoServicoAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                </div>
            </div>

            <div class="col-xs-2" data-bind="visible:false">
                <div class="form-group">
                    <input type="text" id="txtProdutoServicoNotIn" name="txtProdutoServicoNotIn" data-bind="value: IdProdutoServicoNotIn" class="form-control" maxlength="120" />
                </div>
            </div>
        </div>
    </template>
    <template id="newedit-Etapa">
        <input type="hidden" id="txtDescricaoAtividadeEconomicaEtapa" name="txtDescricaoAtividadeEconomicaEtapa" data-bind="value: DescricaoAtividadeEconomicaEtapa = vmAtividadeEconomicaAtividadeEconomicaEtapa.DescricaoAtividadeEconomicaEtapa()" />
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="ddlAtividadeEconomicaEtapa">Descrição</label>
                    @HtmlHelper.Select.SearchableKO("ddlAtividadeEconomicaEtapa", "IdAtividadeEconomicaEtapa", "IdAtividadeEconomicaEtapa", "Descricao", "Descricao", "Descricao", "/Contabilidade/AtividadeEconomicaEtapa/List", "Ativo:true", required: true, allowClear: true, vmTextSelected: "vmAtividadeEconomicaAtividadeEconomicaEtapa.DescricaoAtividadeEconomicaEtapa")
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="ddlAtividadeEconomicaEtapa">Ordem</label>
                    <input type="number" id="txtOrdem" name="txtOrdem" data-bind="value: Ordem" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="control-label" for="chkEtapaAtiva">Ativo</label>
                    <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }" />
                </div>
            </div>
        </div>
    </template>
</div>
