﻿@model HTM.MasterGestor.Web.UI.Areas.Agricola.ViewModels.ConfiguracaoEstimativaVariedade.IndexVM


<!-- set area navigation -->
<routeoptions data-show-back-button="true" data-show-breadcrumb="true" data-pos="2" data-route-custom='route-variedade' data-title-descricao="@Model.DescricaoExibicao"></routeoptions>

<div id="filtro-grade">

    <template id="filter-ConfiguracaoEstimativaVariedadeIndex">

        <!-- Produto -->
        <div class="form-group" style="width: 300px">
            <label for="ddlFiltroProdutoServico" class="control-label">Produto</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroProdutoServico", "IdProdutoServico", "IdProdutoServico", "Descricao", "Descricao", "Descricao", "/Estoque/Produto/List", "Ativo:true")
        </div>
        <!-- Época de Plantio -->
        <div class="form-group" style="width: 300px">
            <label for="ddlFiltroProdutoServico" class="control-label">Época de Plantio</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroProducaoEpocaPlantio", "IdProducaoEpocaPlantio", "IdProducaoEpocaPlantio", "Descricao", "Descricao", "Descricao", "/Agricola/EpocaPlantio/List", "Ativo:true")
        </div>

        @HtmlHelper.Campo.DropAtivo()

    </template>
    @HtmlHelper.GridView.GridIndex(
    id: "ConfiguracaoEstimativaVariedadeIndex",
    newUrl: "#/Agricola/ConfiguracaoEstimativaVariedade/New",
    editUrl: "#/Agricola/ConfiguracaoEstimativaVariedade/Edit",
    listUrl: "/Agricola/ConfiguracaoEstimativaVariedade/List",
    columns:
    @<script>
        [
            { 'id': 'IdProducaoConfiguracaoEstimativaVariedade', editColumn: true },
            { 'id': 'IdProducaoVariedade', filter: true, defaultValue: @Model.ParentId.ToString() },
            { 'id': 'IdProdutoServico', filter: true },
            { 'id': 'IdProducaoEpocaPlantio', filter: true },

            { 'id': 'DescricaoProdutoServico', header: true, displayName: 'Produto', filter: true, defaultFilter: true, sortable: true },
            { 'id': 'DescricaoProducaoEpocaPlantio', header: true, displayName: 'Época Plantio', sortable: true },
            { 'id': 'DescricaoEspacamento', header: true, displayName: 'Espacamentos' },
            { 'id': 'Principal', header: true, displayName: 'Principal', sortable: true },
            defaults.gridNewEdit.column.ativo,
            defaults.gridNewEdit.column.acao
        ]
    </script>,
        templateRows:
        @<tr>
            <td data-bind="text: DescricaoProdutoServico, id: IdProducaoConfiguracaoEstimativaVariedade"></td>
            <td data-bind="text: DescricaoProducaoEpocaPlantio, id: IdProducaoConfiguracaoEstimativaVariedade"></td>
            <td data-bind="text: DescricaoEspacamento, id: IdProducaoConfiguracaoEstimativaVariedade"></td>
            <td data-bind="template: { name: 'label-status', data: { status: Principal } }"></td>
            <td data-bind="template: 'label-status'"></td>
            <td data-bind="template: { name: 'button-edit-url', data: { id: IdProducaoConfiguracaoEstimativaVariedade } }"></td>
        </tr>, parentId: Model.ParentId.ToString(),
            api: "indexVM.api",
            orderByCol: "DescricaoProdutoServico",
            orderByDir: HelpersUtil.OrderByDirEnum.Asc,
            useHiddenColumns: false)


</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}