﻿@model HTM.MasterGestor.Web.UI.Areas.Agricola.ViewModels.ConfiguracaoEstimativaCultura.NewEditVM

<routeoptions data-pos="3" data-route-custom='route-cultura' data-action-title="estimativa de cultura" data-title-descricao="@Model.DescricaoExibicao"></routeoptions>

<div data-bind="stopBindings: true">
    <form id="form-ConfiguracaoEstimativaCultura-NewEdit" novalidate data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlProdutoServico">Produto</label>
                                @HtmlHelper.Select.SearchableKO("ddlProdutoServico", "IdProdutoServico", "IdProdutoServico", "DescricaoCodigo", "DescricaoCodigoBusca", "DescricaoCodigo", "/Estoque/Produto/List", dadosComplObservable: "DadosComplementaresProduto", required: true, dataBind: "attr: { disabled: vm.DesabilitaProduto() } ")
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlProducaoEpocaPlantio">Época de Plantio</label>
                                @HtmlHelper.Select.SearchableKO("ddlProducaoEpocaPlantio", "IdProducaoEpocaPlantio", "IdProducaoEpocaPlantio", "Descricao", "Descricao", "Descricao", "/Agricola/EpocaPlantio/List", dadosComplObservable: "DadosComplementaresEpocaPlantio", required: true, dataBind: "attr: { disabled: vm.DesabilitaEpocaPlantio() }")
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlProducaoPlantioEspacamento">Espaçamentos</label>
                                @HtmlHelper.Select.SearchableKO("ddlProducaoPlantioEspacamento", "IdsEspacamento", "IdProducaoPlantioEspacamentoIn", "Descricao", "Descricao", "Descricao", "/Agricola/PlantioEspacamento/List", dadosComplObservable: "DadosComplementaresEspacamento", idChaveRelacao: "IdProducaoPlantioEspacamento", required: true, multiple: true, dataBind: "attr: { disabled: vm.DesabilitaEspacamento() }")
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label" for="chkPrincipal">Configuração Padrão</label>
                                <input type="checkbox" class="no-uniform" id="chkPrincipal" data-bind="checked: Principal, flipper: { observable: Principal, options: { 'css': 'warning'} }">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label" for="chkAtivo">Ativo</label>
                                <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" data-toggle="collapsible" id="pnlItens">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Estimativas</h3>
            </div>
            <div class="panel-body">
                @HtmlHelper.GridView.GridNewEdit(
                id: "Item", // Declarar na página <template id="newedit-id"></template>
                vm: "Itens",
                vmExtend: "ItemExtend",
                columns: @<script>
                    [
                        { 'id': 'IdProducaoConfiguracaoEstimativaItem' },
                        { 'id': 'IdProducaoEpocaPlantio' },
                        { 'id': 'PerdaValor' },
                        { 'id': 'ProducaoValor' },
                        { 'id': 'IdUnidadeRendimento' },
                        { 'id': 'Colheita', 'displayName': 'Colheita', 'header': true, 'sortable': true },
                        { 'id': 'DescricaoEstimativaComposta', 'displayName': vm.ExibeEstimativaProducao() == true ? 'Produção' : 'Perda %', 'header': true, 'sortable': true },
                        { 'id': 'Ativo', 'defaultValue': true, 'header': true },
                        defaults.gridNewEdit.column.acao
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: Colheita }  }"></td>
                    <td data-bind="text: DescricaoEstimativaComposta"></td>
                    <td data-bind="template: { name: 'label-status' }"></td>
                    <td data-bind="template: { name: 'button-edit' }"></td>
                </tr>,orderByCol: "Colheita",orderByDir: HelpersUtil.OrderByDirEnum.Asc)
            </div>
        </div>
        <div class="panel panel-default panel-action">
            <div class="panel-body">
                <button type="submit" id="btn-salvar" class="btn btn-secondary btn-lg btn-primary-action"><i class="material-icons">&#xE5CA;</i> Salvar</button>
                <a href="#List" type="button" class="btn btn-primary btn-inverted btn-lg"><i class="material-icons">&#xE5C4;</i> Voltar</a>
                @if (@Model.IdProducaoConfiguracaoEstimativaCultura.HasValue)
                {
                    <a href="#History/ConfiguracaoEstimativaCultura/@Model.IdProducaoConfiguracaoEstimativaCultura" type="button" class="btn btn-primary btn-inverted btn-lg pull-right"><i class="material-icons">&#xE889;</i> Histórico</a>
                }
            </div>
        </div>
    </form>
    <template id="newedit-Item">
        <div class="row">
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="txtColheita">Colheita</label>
                    <input type="number" id="txtColheita" name="txtColheita" min="1" data-bind="value: Colheita, validate: { required: true }, attr: { disabled: vm.ExibeEstimativaProducao() == false }" class="form-control" maxlength="120" />
                </div>
            </div>
            <!-- Exibie estimativa de produção -->
            <div class="col-xs-2" data-bind="visible: vm.ExibeEstimativaProducao() == true">
                <div class="form-group">
                    <label for="txtProducaoValor">Valor</label>
                    <input type="text" id="txtProducaoValor" name="txtProducaoValor" min="0" data-bind="value: ProducaoValor, validate: { required: vm.ExibeEstimativaProducao() == true }" class="form-control" maxlength="20" />
                </div>
            </div>
            <div class="col-xs-5" data-bind="visible:vm.ExibeEstimativaProducao() == true">
                <div class="form-group">
                    <label for="ddlUnidadeRendimento">Unidade de Rendimento</label>
                    @HtmlHelper.Select.SearchableKO("ddlUnidadeRendimento", "IdUnidadeRendimento", "IdUnidadeRendimento", "DescricaoSigla", "DescricaoSiglaBusca", "DescricaoSigla", "/Estoque/UnidadeRendimento/List", "Ativo:true, Producaa:true", dataBind: "validate: { required: vm.ExibeEstimativaProducao() == true }")

                </div>
            </div>

            <!-- Exibe Estimativa de Perda de Produção -->
            <div class="col-xs-4" data-bind="visible: vm.ExibeEstimativaProducao() == false">
                <div class="form-group">
                    <label for="txtPerdaValor">Perda Estimada de Produtividade</label>
                    <div class="input-group" style="max-width:100px;">
                        <input type="text" id="txtPerdaValor" name="txtPerdaValor" data-bind="value: PerdaValor, validate: { required:vm.ExibeEstimativaProducao() == false }" class="form-control" maxlength="20" />
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="control-label" for="chkItemAtivo">Ativo</label>
                    <input type="checkbox" class="no-uniform" id="chkItemAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                </div>
            </div>
        </div>
    </template>
</div>