﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.Cotacao.IndexVM

<div id="filtro-grade">
    <template id="filter-MoedaIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Moeda, Índice ou Taxa</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: DescricaoDetalhadaBusca" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroNatureza" class="control-label">Natureza</label>
            <select id="ddlFiltroNatureza" data-bind="value: Natureza" class="form-control no-search">
                <option value="">Todas</option>
                <option value="1">Moeda</option>
                <option value="2">Índice e Taxa</option>
                <option value="3">Produção Agrícola</option>
                <option value="4">Produção Pecuária</option>
            </select>
        </div>
        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>
        @*<div class="form-group">
                <label for="ddlFiltroPeriodoRapido" class="control-label">Período Rápido</label>
                <select id="ddlFiltroPeriodoRapido" data-bind="value: PeriodoRapido" class="form-control no-search">
                    <option value="1">Hoje</option>
                    <option value="2">Semana Atual</option>
                    <option value="3">Mês Atual</option>
                    <option value="4">Mês Anterior</option>
                    <option value="5">Últimos 30 Dias</option>
                </select>
            </div>*@
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "MoedaIndex",
    newUrl: "#/Financeiro/Cotacao/New",
    editUrl: "#/Financeiro/Cotacao/Edit",
    listUrl: "/Financeiro/Cotacao/List",
    columns:
    @<script>
        [
            { 'id': 'IdFinanceiroCotacaoMoeda', editColumn: true },
            { 'id': 'RegistroProprio', 'defaultValue': '', 'filter': true },
            { 'id': 'DescricaoDetalhadaBusca', 'filter': true, 'defaultFilter': true },
            { 'id': 'Natureza', 'defaultValue': '', 'filter': true },
            { 'id': 'Origem', 'defaultValue': '', 'filter': true },
            { 'id': 'PeriodoRapido', 'filter': true },
            { 'id': 'DataExibicao', groupable: true, displayName: 'Data' },
            { 'id': 'DataExibicao', 'header': true, 'filter': true, displayName: 'Data', sortable: true },
            { 'id': 'DescricaoFinanceiroMoeda', 'header': true, displayName: 'Moeda. Índice. Taxa e Produto Agropecuário', sortable: true },
            { 'id': 'DescricaoFinanceiroMoedaReferencia', 'header': true, displayName: 'Moeda Referência', sortable: true },
            { 'id': 'ValorExibicao', 'header': true, displayName: 'Valor', sortable: true },
            { 'id': 'EditarRegistro', 'header': true, 'filter': true, 'sortable': true, 'displayName': 'Editar Registro' },
            defaults.gridNewEdit.column.ativo,
            { displayName: "Ações", header: true, width: '160px' }
        ]
    </script>,
        templateRows:
        @<tr>
            <td data-bind="text: DataExibicao, id: IdFinanceiroCotacaoMoeda"></td>
            <td data-bind="text: DescricaoFinanceiroMoeda"></td>
            <td><span data-bind="text: DescricaoFinanceiroMoedaReferencia"></span></td>
            <td><span data-bind="text: ValorExibicao"></span></td>
            <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>
            <td data-bind="template: 'label-status'"></td>
            <td>
                <div style="float:left">
                    <span data-bind="template: { name: 'button-edit-url', data: { id: IdFinanceiroCotacaoMoeda } }"></span>
                </div>

                <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                    <a data-bind="attr: { href: '#/Financeiro/Cotacao/Ativar/' + IdFinanceiroCotacaoMoeda}" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
                </div>

                <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                    <a data-bind="attr: { href: '#/Financeiro/Cotacao/Inativar/' + IdFinanceiroCotacaoMoeda}" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
                </div>

                <div style="float:left;padding-left:5px;" data-bind="visible: (EditarRegistro == false)">
                    <a data-bind="attr: { href: '#/Financeiro/Cotacao/View/' + IdFinanceiroCotacaoMoeda}" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
                </div>

            </td>
        </tr>, api: "indexVM.api", orderByCol: "DataExibicao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)

</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}

