﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.Cotacao.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-FinanceiroCotacaoMoeda-NewEdit" data-bind="with: Cotacao, validateForm: { submitHandler: vm.Cotacao().Save }">
        @Html.AntiForgeryToken()

        <div data-bind="validateOptions: { appendErrorsToRoot: true }">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtData">Data</label>
                                <div class="input-group date form-group">
                                    <input id="txtData" name="txtData" class="form-control" data-bind="value: DataExibicao, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataExibicao }, validate: { required: true }" />
                                    <span class="input-group-addon">
                                        <i class="material-icons">&#xE878;</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlFinanceiroMoedaReferencia" class="control-label">Moeda Referência</label>
                                @HtmlHelper.Select.SearchableKO("ddlFinanceiroMoedaReferencia", "IdFinanceiroMoedaReferencia", "IdFinanceiroMoeda", "DescricaoComposta", "Descricao", "Descricao", "/Financeiro/Moeda/List", "Ativo:true", idChaveRelacao: "IdFinanceiroMoeda", required: true)
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlFinanceiroMoeda" class="control-label">Moeda, Índice, Taxa ou Produto Agropecuário</label>
                                @HtmlHelper.Select.SearchableKO("ddlFinanceiroMoeda", "IdFinanceiroMoeda", "IdFinanceiroMoeda", "DescricaoComposta", "Descricao", "DescricaoComposta", "/Financeiro/Moeda/List", "Ativo:true", required: true, vmDataSelected: "vmParams.FinanceiroMoeda")
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtValorCotacao">Valor</label>
                                <input type="text" id="txtValorCotacao" name="txtValorCotacao" data-bind="value: ValorCotacao, validate: { required: true }, maskDecimal: { casasDecimais: CasasDecimais }" class="form-control" maxlength="35">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkAtivo">Ativo</label>
                                <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
