﻿@model HTM.MasterGestor.Web.UI.Areas.Configuracao.ViewModels.NotificacaoTela.IndexVM


<div id="filtro-grade" style="display:none;">
    <template id="filter-NotificacaoTelaIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Assunto</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: AssuntoFormatado" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroTipo">Tipo</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroForma", "IdNotificacaoFormaIn", "IdNotificacaoForma", "DescricaoCompleta", "Descricao", "Descricao", "/Configuracao/NotificacaoForma/List", "Ativo: true, IdNotificacaoFormaPai : 1", idChaveRelacao: "IdNotificacaoForma", multiple: true)
        </div>
        <div class="form-group">
            <label for="ddlFiltroForma">Forma</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroTipo", "IdNotificacaoTipoIn", "IdNotificacaoTipo", "DescricaoCompleta", "Descricao", "Descricao", "/Configuracao/NotificacaoTipo/List", "Ativo: true, ComHierarquia:true, ComPai: false", idChaveRelacao: "IdNotificacaoTipo", multiple: true)
        </div>
        <div class="form-group">
            <label for="ddlFiltroTela">Tela</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroTela", "IdTelaIn", "IdTela", "TituloTela", "TituloTela", "TituloTela", "/Configuracao/Tela/List", "Ativo: true", idChaveRelacao: "IdTela", multiple: true)
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "NotificacaoTelaIndex",
    newUrl: "#/Configuracao/NotificacaoTela/New",
    editUrl: "#/Configuracao/NotificacaoTela/Edit",
    listUrl: "/Configuracao/NotificacaoTela/List",
    columns:
    @<script>
        [
            { 'id': 'IdNotificacaoTela', editColumn: true },
            { 'id': 'AssuntoFormatado', filter: true, defaultFilter: true, header: true, displayName: 'Assunto', sortable: true },
            { 'id': 'IdNotificacaoFormaIn', filter: true },
            { 'id': 'IdNotificacaoTipoIn', filter: true },
            { 'id': 'IdTelaIn', filter: true },
            { 'id': 'DescricaoNotificacaoTipo', header: true, displayName: 'Tipo', groupable: true, sortable: true },
            { 'id': 'DescricaoNotificacaoForma', header: true, displayName: 'Forma', groupable: true, sortable: true },
            { 'id': 'TituloTela', header: true, displayName: 'Tela', groupable: true, sortable: true, groupTextValues: ['defaultValue', '[Todas as Telas]'] },
            defaults.gridNewEdit.column.ativo,
            defaults.gridNewEdit.column.acao
        ]
    </script>,
    templateRows:
    @<tr>
         <td data-bind="text: AssuntoFormatado"></td>
        <td data-bind="text: DescricaoNotificacaoTipo"></td>
        <td data-bind="text: DescricaoNotificacaoForma"></td>
        <td data-bind="text: TituloTela"></td>
        <td data-bind="template: { name: 'label-status' }"></td>
        <td data-bind="template: { name: 'button-edit-url', data: { id: IdNotificacaoTela } }"></td>
    </tr>, api: "indexVM.api", orderByCol: "IdNotificacaoTela", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}