﻿@model HTM.MasterGestor.Web.UI.Areas.Configuracao.ViewModels.NotificacaoTela.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-ConfiguracaoNotificacaoTela-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default" id="pnl-tela">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Tela</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlNotificacaoTipo">Tipo</label>
                            @HtmlHelper.Select.SearchableKO("ddlNotificacaoTipo", "IdNotificacaoTipo", "IdNotificacaoTipo", "DescricaoCompleta", "Descricao", "Descricao", "/Configuracao/NotificacaoTipo/List", "Ativo: true, ComPai: false", required: true)
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlNotificacaoForma">Forma</label>
                            @HtmlHelper.Select.SearchableKO("ddlNotificacaoForma", "IdNotificacaoForma", "IdNotificacaoForma", "DescricaoCompleta", "Descricao", "Descricao", "/Configuracao/NotificacaoForma/List", "Ativo: true, IdNotificacaoFormaPai : 1", required: true)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="chkTodasTelas">Exibir em todas as Telas</label>
                            <input type="checkbox" class="no-uniform" id="chkTodasTelas" name="chkTodasTelas" data-bind="checked: TodasTelas, flipper: { observable: TodasTelas, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group" data-bind="visible: !TodasTelas()">
                            <label for="ddlTela">Tela</label>
                            @HtmlHelper.Select.SearchableKO("ddlTela", "IdTela", "IdTela", "TituloTela", "TituloTela", "TituloTela", "/Configuracao/Tela/List", "Ativo: true", dataBind: " validate: { required: !TodasTelas()} ", allowClear:true)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" name="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
                <div class="optional" data-toggle="collapsible" id="pnlDadosAdicionais">
                    <a href="#">Campo da tela, data de início e fim da notificação</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="txtTelaCampo">Campo Tela</label>
                                    <input type="text" id="txtTelaCampo" name="txtTelaCampo" data-bind="value: TelaCampo" class="form-control" maxlength="50" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="txtDataInicio">Data Início</label>
                                    <div class="input-group date form-group">
                                        <input id="txtDataInicio" name="DataInicio" class="form-control" data-bind="value: DataInicio, datepicker: { options: defaults.datepicker.date }" />
                                        <span class="input-group-addon">
                                            <i class="material-icons">&#xE878;</i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="txtDataTermino">Data Término</label>
                                    <div class="input-group date form-group">
                                        <input id="txtDataTermino" name="txtDataTermino" class="form-control" data-bind="value: DataTermino, datepicker: { options: defaults.datepicker.date }" />
                                        <span class="input-group-addon">
                                            <i class="material-icons">&#xE878;</i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Conteúdo</h3>
            </div>
            <div class="panel-body" data-bind="with: NotificacaoEnvio">
                <div data-bind="validateOptions: { appendErrorsToRoot: true }">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="txtAssunto">Assunto</label>
                                <input type="text" id="txtAssunto" name="txtAssunto" data-bind="value: AssuntoFormatado, validate: { required: true }" class="form-control" data-allowclear="false" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="txtCorpo">Corpo</label>
                                <textarea data-bind="value: CorpoFormatado, wysiwyg: { observable: CorpoFormatado, options: defaults.wysiwyg.text }, validate: { required: { params: true, message: '' } }" class="form-control" id="txtCorpo" name="txtCorpo" data-allowclear="false"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>





