﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.EmpresaUsuaria.IndexVM
@{  
    Layout = "";
}

<div id="filtro-grade" style="display:none;">

    <template id="filter-EmpresaUsuariaIndex">
        <div class="form-group">
            <label for="txtFiltroNome" class="control-label">Nome ou Fantasia</label>
            <input type="text" id="txtFiltroNome" data-bind="textInput: Nomes" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroNatureza">Natureza</label>
            <select id="ddlFiltroNatureza" data-bind="value: IdPessoaNatureza" class="form-control">
                <option value="0">Todas</option>
                <option value="1">Pessoa Física</option>
                <option value="2">Pessoa Jurídica</option>
            </select>
        </div>
        @HtmlHelper.Campo.DropAtivo()

    </template>

    @HtmlHelper.GridView.GridIndex(
        id: "EmpresaUsuariaIndex",
        newUrl: "#/Corporativo/EmpresaUsuaria/New",
        editUrl: "#/Corporativo/EmpresaUsuaria/Edit",
        listUrl: "/Corporativo/EmpresaUsuaria/List",
        columns:
        @<script>
            [
                { 'id': 'IdPessoa', editColumn: true },
                { 'id': 'Codigo', 'header': true, 'filter': true, 'defaultFilter': true, displayName: 'Código', sortable: true },
                { 'id': 'Nome', 'header': true, displayName: 'Nome ou Razão', sortable: true },
                { 'id': 'Nomes', filter: true, defaultFilter: true },
                { 'id': 'NomeSecundario', 'header': true, displayName: 'Apelido ou Fantasia', sortable: true },
                { 'id': 'IdPessoaNatureza', filter: true, defaultValue: "0" },
                { 'id': 'Documento1Masked', 'header': true, displayName: 'CPF ou CNPJ' },
                defaults.gridNewEdit.column.ativo,
                defaults.gridNewEdit.column.acao
            ]
        </script>,
        templateRows:
        @<tr>
             <td data-bind="template: { name: 'link-edit-url', data: { text: Codigo, id: IdPessoa }  }"></td>
             <td data-bind="template: { name: 'link-edit-url', data: { text: Nome, id: IdPessoa }  }"></td>
             <td><span data-bind="text: NomeSecundario"></span></td>
             <td><span data-bind="text: Documento1Masked"></span></td>
             <td data-bind="template: 'label-status'"></td>
             <td data-bind="template: { name: 'button-edit-url', data: { id: IdPessoa } }"></td>           
        </tr>
        ,
        api: "indexVM.api",        
        orderByCol: "Nome",
        orderByDir: HelpersUtil.OrderByDirEnum.Asc,
        useHiddenColumns: false)
</div>

@section Scripts {   
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}