﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.EmpresaUsuaria.NewEditVM

<div data-bind="stopBindings: true">

    <form id="form-CorporativoPessoa-NewEdit" novalidate data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="ddlNatureza">Natureza</label>
                                <select id="ddlNatureza" name="ddlNatureza" class="form-control" data-bind="value: IdPessoaNatureza, validate: { value: IdPessoaNatureza, required: true }">
                                    <option value="1">Pessoa Física</option>
                                    <option value="2">Pessoa Jurídica</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtCodigo">Código<span>(Automático)</span></label>
                                <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" maxlength="20" />
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="txtNome" data-bind="text: LabelNome">Nome<span>(Razão Social)</span></label>
                                <input type="text" id="txtNome" name="txtNome" data-bind="value: Nome, validate: { value: IdPessoaNatureza, required: true } " class="form-control" maxlength="500" />
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="txtNomeSecundario" data-bind="text: LabelNomeSecundario">Apelido/Nome Fantasia</label>
                                <input type="text" id="txtNomeSecundario" name="txtNomeSecundario" data-bind="value: NomeSecundario, validate: { value: NomeSecundario, required: true }" class="form-control" maxlength="500" />
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="with: PessoaEmpresa">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="ddlFinanceiroMoeda">Moeda Padrão</label>
                                @HtmlHelper.Select.SearchableKO("ddlFinanceiroMoeda", "IdFinanceiroMoeda", "IdFinanceiroMoeda", "DescricaoComposta", "DescricaoDetalhadaBusca", "Descricao", "/Financeiro/Moeda/List", "Ativo: true", required: true, dataBind: "attr: { 'disabled': vm.PessoaEmpresa.IdFinanceiroMoeda() != null && vm.IdPessoa() != null }")
                            </div>
                        </div>
                        @*<div class="col-xs-3">
                            <div class="form-group">
                                <label for="ddlClasseContabil">Classe Contábil</label>
                                @HtmlHelper.Select.SearchableKO("ddlClasseContabil", "IdClasseContabil", "IdClasseContabil", "Descricao", "Descricao", "Descricao", "/Contabilidade/ClasseContabil/List", "Ativo: true", required: true, dataBind: "attr: { 'disabled': vm.PessoaEmpresa.IdClasseContabil() != null && vm.IdPessoa() != null }")
                            </div>
                        </div>*@
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="ddlClasseContabil">Classe Contábil</label>
                                @HtmlHelper.Select.SearchableKO("ddlClasseContabil", "IdClasseContabil", "IdClasseContabil", "Descricao", "Descricao", "Descricao", "/Contabilidade/ClasseContabil/List", "Ativo: true")
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="chkAtivo">Ativo</label>
                        <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                    </div>
                    <div class="optional" data-toggle="collapsible" id="pnlMaisCampos">
                        <a href="#">Outras informações</a>
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="txtDocumento1" data-bind="text: LabelDocumento1">Documento</label>
                                    <input type="text" id="txtDocumento1" name="txtDocumento1" data-bind="value: Documento1, validate: vm.ValidarDocumento()" class="form-control" />
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="txtDocumento2" data-bind="text: LabelDocumento2">Documento</label>
                                    <input type="text" id="txtDocumento2" name="txtDocumento2" data-bind="value: Documento2" class="form-control" maxlength="18" />
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="txtDocumento3" data-bind="text: LabelDocumento3">Documento</label>
                                    <input type="text" id="txtDocumento3" name="txtDocumento3" data-bind="value: Documento3" class="form-control" maxlength="18" />
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="txtData" data-bind="text: vm.IdPessoaNatureza() == vm.PessoaNatureza.PessoaFisica ? 'Data de Nascimento' : 'Data de Fundação'"></label>
                                    <div class="input-group date form-group">
                                        <input id="txtData" name="Data" placeholder="" class="form-control" data-bind="value: Data, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: Data }" />
                                        <span class="input-group-addon">
                                            <i class="material-icons">&#xE878;</i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" data-toggle="collapsible" id="pnlDadosAdicionais">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Adicionais</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtTelefone1">Telefone 1</label>
                            <input type="text" id="txtTelefone1" name="txtTelefone1" data-bind="value: Telefone1, validate: { phone: true }, mask: { options: defaults.mask.phone, value: Telefone1 }" class="form-control" maxlength="16" />
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtTelefone2">Telefone 2<span>(Celular)</span></label>
                            <input type="text" id="txtTelefone2" name="txtTelefone2" data-bind="value: Telefone2, validate: { phone: true }, mask: { options: defaults.mask.phone, value: Telefone2 }" class="form-control" maxlength="16" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtEmail">E-mail</label>
                            <input type="text" id="txtEmail" name="txtEmail" data-bind="value: Email, validate: { email: true }" class="form-control" maxlength="100" />
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtSite">Site</label>
                            <input type="text" id="txtSite" name="txtSite" data-bind="value: Site" class="form-control" maxlength="50" />
                        </div>
                    </div>
                </div>                
            </div>
        </div>
        <div class="panel panel-default" data-toggle="collapsible" id="pnlEnderecos">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Endereços</h3>
            </div>
            <div class="panel-body">
                @Html.Partial("~/Areas/Corporativo/Views/Pessoa/_PartialEnderecoLista.cshtml")
            </div>
        </div>
        <div class="panel panel-default" data-toggle="collapsible" id="pnlContatos">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Contatos</h3>
            </div>
            <div class="panel-body">

                @HtmlHelper.GridView.GridNewEdit(
                id: "Contato", // Declarar na página <template id="newedit-id"></template>
                vm: "Contatos",
                columns: @<script>
                    [
                        { 'id': 'IdPessoaContato' },
                        { 'id': 'IdPessoa' },
                        { 'id': 'ChaveVersao' },
                        { 'id': 'Descricao', 'defaultValue': '', 'displayName': 'Nome', 'header': true },
                        { 'id': 'Telefone1', 'displayName': 'Telefone 1', 'header': true },
                        { 'id': 'Telefone2', 'displayName': 'Telefone 2', 'header': true },
                        { 'id': 'Email', 'displayName': 'E-mail', 'header': true },
                        { 'id': 'Ativo', 'defaultValue': true, 'header': true },
                        defaults.gridNewEdit.column.acao
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: Descricao }  }"></td>
                    <td data-bind="text: Telefone1"></td>
                    <td data-bind="text: Telefone2"></td>
                    <td data-bind="text: Email"></td>
                    <td data-bind="template: { name: 'label-status' }"></td>
                    <td data-bind="template: { name: 'button-edit' }"></td>
                </tr>,
                orderByCol: "Descricao",
                orderByDir: HelpersUtil.OrderByDirEnum.Asc)
            </div>
        </div>
        <div class="panel panel-default panel-action">
            <div class="panel-body">
                <button type="submit" id="btn-salvar" class="btn btn-secondary btn-lg btn-primary-action"><i class="material-icons">&#xE5CA;</i> Salvar</button>
                <a href="#List" type="button" class="btn btn-primary btn-inverted btn-lg"><i class="material-icons">&#xE5C4;</i> Voltar</a>
                @if (@Model.IdPessoa.HasValue)
                {
                    <a href="#History/Pessoa/@Model.IdPessoa" type="button" class="btn btn-primary btn-inverted btn-lg pull-right"><i class="material-icons">&#xE889;</i> Histórico</a>
                }
            </div>
        </div>
    </form>
    @Html.Partial("~/Areas/Corporativo/Views/Pessoa/_PartialEnderecoModal.cshtml")
    <template id="newedit-Contato">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="txtDescricaoContato">Nome</label>
                    <input type="text" id="txtDescricaoContato" name="txtDescricaoContato" data-bind="value: Descricao, validate: { 'required': true }" class="form-control" maxlength="120" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="txtContatoTelefone1">Telefone 1</label>
                    <input type="text" id="txtContatoTelefone1" name="txtContatoTelefone1" data-bind="value: Telefone1, validate: { 'phone': true }, mask: { options: defaults.mask.phone, value: Telefone1 }" class="form-control" maxlength="16" />
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <label for="txtContatoTelefone2">Telefone 2<span>(Celular)</span></label>
                    <input type="text" id="txtContatoTelefone2" name="txtContatoTelefone2" data-bind="value: Telefone2, validate: { 'phone': true }, mask: { options: defaults.mask.phone, value: Telefone2 }" class="form-control" maxlength="16" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="txtContatoEmail">Email</label>
                    <input type="text" id="txtContatoEmail" data-rule-email name="txtContatoEmail" data-bind="value: Email" class="form-control" maxlength="50" />
                </div>
            </div>

            <div class="col-xs-12">
                <div class="form-group">
                    <label class="control-label" for="chkAtivo">Ativo</label>
                    <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                </div>
            </div>
        </div>
    </template>
</div>
