﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.Movimento.IndexVM

<div id="filtro-grade">
    <template id="filter-EstoqueMovimentoIndex">

        <!-- Produto -->
        <div class="form-group">
            <label for="ddlProdutoServicoFiltro">Produto</label>
            @HtmlHelper.Select.SearchableKO("ddlProdutoServicoFiltro", "IdProdutoServicoIn", "IdProdutoServicoIn", "DescricaoCodigo", "DescricaoCodigoBusca", "DescricaoCodigo", "/Estoque/Produto/ListProdutoServicoPorProdutoLocal", "Ativo:true", idChaveRelacao: "IdProdutoServico", multiple: true)
        </div>
        <!-- Grupo de Produto -->
        <div class="form-group">
            <label for="ddlProdutoServicoGrupoFiltro">Grupo de Produto</label>
            @HtmlHelper.Select.SearchableKO("ddlProdutoServicoGrupoFiltro", "IdProdutoServicoGrupoIn", "IdProdutoServicoGrupoIn", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Estoque/ProdutoServicoGrupo/List", "Ativo:true, UltimoNivel:true", idChaveRelacao: "IdProdutoServicoGrupo", multiple: true)
        </div>

        <!-- Família de Produto -->
        <div class="form-group">
            <label for="ddlProdutoServicoFamiliaFiltro">Família</label>
            @HtmlHelper.Select.SearchableKO("ddlProdutoServicoFamiliaFiltro", "IdProdutoServicoFamiliaIn", "IdProdutoServicoFamiliaIn", "Descricao", "Descricao", "Descricao", "/Estoque/ProdutoServicoFamilia/List", "Ativo:true", idChaveRelacao: "IdProdutoServicoFamilia", multiple: true)
        </div>
        <!-- Período de Movimentação -->
        <div class="form-group">
            <label for="txtFiltroPeriodoSolicitacao" class="control-label">Período de Movimentação</label>
            <div class="input-group date" style="width:230px">
                <input type="text" id="txtFiltroPeriodoSolicitacao" data-bind="daterangepicker: { startDate: DataMovimentacaoInicio, endDate: DataMovimentacaoFim }" class="form-control" />
                <div class="input-group-addon input-group-btn"><i class="material-icons">&#xE916;</i></div>
            </div>
        </div>
        <!-- Responsável -->
        @*<div class="form-group">
                <label for="ddlPessoaResponsávelFiltro">Responsável</label>
                @HtmlHelper.Select.SearchableKO("ddlPessoaResponsávelFiltro", "IdPessoaRealizacao", "IdPessoa", "Nome", "Nomes", "Nome", "/Corporativo/Pessoa/ListPessoaPersonalizado", "ComPessoa:true, ComEmpresaUsuaria:true, ComEmpresa:false, Ativo:true", idChaveRelacao: "IdPessoa")
            </div>*@
        <!-- Centro de Custo -->
        <div class="form-group">
            <label for="ddlCentorCustoFiltro">Centro de Custo</label>
            @HtmlHelper.Select.SearchableKO("ddlCentroCustoFiltro", "IdCentroCustoIn", "IdCentroCustoIn", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Contabilidade/CentroCusto/ListarHierarquicamentePorParametro", "Ativo:true, ComRestricaoUsuario:true", idChaveRelacao: "IdCentroCusto", multiple: true)
        </div>
        <!-- Local -->
        <div class="form-group">
            <label for="ddlProdutoLocalFiltro">Local de Estoque</label>
            @HtmlHelper.Select.SearchableKO("ddlProdutoLocalFiltro", "IdProdutoLocalIn", "IdProdutoLocalIn", "Descricao", "Descricao", "Descricao", "/Estoque/ProdutoLocal/List", "Ativo:true", idChaveRelacao: "IdProdutoLocal", multiple: true)
        </div>
        <!-- Empresa Usuária  -->
        <div class="form-group">
            <label for="ddlProdutoLocalFiltro">Empresa</label>
            @HtmlHelper.Select.SearchableKO("ddlEmpresaUsuariaFiltro", "IdPessoaIn", "IdPessoaIn", "NomeSecundario", "NomeDocumento", "NomeSecundario", "/Corporativo/Pessoa/ListPessoaPersonalizado", "ComPessoa:false, ComEmpresaUsuaria:true, ComEmpresa:false, Ativo:true, IdPessoaNaturezaNotIn: 4", required: true, idChaveRelacao: "IdPessoa", multiple: true)
        </div>
    </template>

    @HtmlHelper.GridView.GridIndex(
        id: "EstoqueMovimentoIndex",
        newUrl: "#/Estoque/Movimento/New",
        editUrl: "#/Estoque/Movimento/Edit",
        listUrl: "/Estoque/Movimento/List",
        columns:
        @<script>
            [
                { 'id': 'IdEstoqueMovimento', editColumn: true, sortable: true },

                { 'id': 'IdProdutoServicoIn', filter: true, defautFilter: true },
                { 'id': 'IdProdutoServicoGrupoIn', filter: true },
                { 'id': 'IdProdutoServicoFamiliaIn', filter: true },
                { 'id': 'IdProdutoLocalIn', filter: true },
                { 'id': 'DataMovimentacaoInicio', filter: true },
                { 'id': 'DataMovimentacaoFim', filter: true },
                { 'id': 'IdCentroCustoIn', filter: true },
                { 'id': 'IdPessoaIn', filter: true },

                { 'id': 'DataMovimentoExibicao', header: true, displayName: 'Data', sortable: true },
                { 'id': 'ProdutoServicoDescricao', header: true, displayName: 'Produto', sortable: true },
                { 'id': 'DocumentoOrigem', header: true, displayName: 'Documento', sortable: true },
                { 'id': 'ProdutoLocalDescricao', header: true, displayName: 'Local', sortable: true },
                { 'id': 'ApresentacaoExibicao', header: true, displayName: 'Apresentacao', sortable: true },
                { 'id': 'UnidadeProdutoExibicao', header: true, displayName: 'Quantidade', sortable: true },
                { 'id': 'ValorExibicao', header: true, displayName: 'Valor', sortable: true },
                { displayName: "Ações", header: true, width: '190px' }
            ]
        </script>,
        templateRows:
        @<tr>
            <td data-bind="text: DataMovimentoExibicao"></td>
            <td data-bind="text: ProdutoServicoDescricao"></td>
            <td data-bind="text: DocumentoOrigem"></td>
            <td data-bind="text: ProdutoLocalDescricao"></td>
            <td data-bind="text: ApresentacaoExibicao"></td>
            <td data-bind="text: UnidadeProdutoExibicao"></td>
            <td data-bind="text: ValorExibicao"></td>
            <td>
                <div style="float:left">
                    <span data-bind="template: { name: 'button-edit-url', data: { id: IdEstoqueMovimento } }"></span>
                </div>
                <div style="float:left;padding-left:5px;" data-bind="visible: ApenasVisualizacao == true">
                    @*<a data-bind="attr: { href: UrlView }" class="btn btn-secondary btn-icon" title="Visualizar"><i class="fa fa-file-text-o"></i></a>*@
                    <a data-bind="attr: { href: '/#/r/' + ko.unwrap(UrlView).replace('/#/','') + '/p/{\'routeOptions\':{\'routeBack\':[{\'url\':\'/#/Estoque/Movimento/List\'}]}}'}" class="btn btn-secondary btn-icon" title="Visualizar"><i class="fa fa-file-text-o"></i></a>                    
                </div>
                <div style="float:left;padding-left:5px;">
                    <a title="Excluir" data-bind="click: function(data, e) { if (confirm('Deseja excluir a Movimentação ' + data.Codigo + '?')) DeleteItem(data.IdEstoqueMovimento); }" class="btn btn-secondary btn-icon"><i class="material-icons">&#xE92B;</i></a>
                </div>
            </td>

        </tr>, api: "indexVM.api", orderByCol: "DataMovimentoExibicao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)
</div>
@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
<script type="text/javascript">
    function DeleteItem(id) {
        $.ajax({
            type: "DELETE",
            dataType: "text",
            url: "/Estoque/Movimento/Delete",
            data: "id=" + id,
            cache: false,
            success: function (data) {
                var ret = jQuery.parseJSON(data);
                if (ret.Response.Sucesso == true) {
                    alert('Item Excluído com sucesso.');
                    $('#btnFiltrar').click();
                }

                else
                    alert(ret.Response.MensagemFinal);
            }

        });
    }
</script>
