﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.Movimento.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-EstoqueMovimento-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-1">
                            <div class="form-group">
                                <label for="ddlEmpresaUsuaria">Empresa</label>
                                @HtmlHelper.Select.SearchableKO("ddlEmpresaUsuaria", "IdPessoa", "IdPessoa", "Codigo", "NomeDocumento", "Codigo", "/Corporativo/Pessoa/ListPessoaPersonalizado", "ComPessoa:false, ComEmpresaUsuaria:true, ComEmpresa:false, Ativo:true, IdPessoaNaturezaNotIn: 4", required: true, idChaveRelacao: "IdPessoa", allowClear: false)
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTransacao">Transação</label>
                                @HtmlHelper.Select.SearchableKO("ddlTransacao", "IdTransacao", "IdTransacao", "Descricao", "Descricao", "Descricao", "/Corporativo/Transacao/List", required: true, dadosComplObservable: "dadosComplementaresTransacao", vmDataSelected: "TransacaoVM")
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group read-mode">
                                <label for="ddlDocumentoTipo">Tipo Documento</label>
                                @HtmlHelper.Select.SearchableKO("ddlDocumentoTipo", "IdDocumentoTipo", "IdDocumentoTipo", "Descricao", "Descricao", "Descricao", "/Contabilidade/DocumentoTipo/List", required: true, disabled: false)
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtCodigo">Código<span>(Automático)</span></label>
                                <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" maxlength="500" />
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtDataMovimento">Data Movimento</label>
                                <div class="input-group date">
                                    <input id="txtDataMovimento" name="txtDataMovimento" class="form-control" data-bind="value: DataMovimentoExibicao, validate: { required: true }, datepicker: { options: defaults.datepicker.datetime }, mask: { options: defaults.mask.datetime, value: DataMovimentoExibicao }" />
                                    <span class="input-group-addon">
                                        <i class="material-icons">&#xE878;</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="form-group read-mode">
                                <label for="ddlPessoaMovimentacao">Responsável</label>
                                @HtmlHelper.Select.SearchableKO("ddlPessoaMovimentacao", " IdPessoaMovimento", "IdPessoa", "NomeSecundario", "Nomes", "NomeSecundario", "/Corporativo/Pessoa/ListPessoaPersonalizado", "ComPessoa:true, ComEmpresaUsuaria:false, ComEmpresa:false, Ativo:true, IdPessoaNaturezaNotIn: 4", idChaveRelacao: "IdPessoa")
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtDataLancamento">Data Lançamento</label>
                                <div class="input-group date">
                                    <input id="txtDataLancamento" name="txtDataLancamento" class="form-control" data-bind="value: DataLancamentoExibicao, validate: { required: true }, datepicker: { options: defaults.datepicker.datetime }, mask: { options: defaults.mask.datetime, value: DataLancamentoExibicao}" disabled="disabled" />
                                    <span class="input-group-addon">
                                        <i class="material-icons">&#xE878;</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlCentroCusto">Centro de Custo</label>
                                @HtmlHelper.Select.SearchableKO("ddlCentroCusto", "IdCentroCusto", "IdCentroCusto", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Contabilidade/CentroCusto/ListarHierarquicamentePorParametro", dadosComplObservable: "dadosComplementaresCentroCusto", idChaveRelacao: "IdCentroCusto", required: true)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="ddlProdutoServico">Produto</label>
                                @HtmlHelper.Select.SearchableKO("ddlProdutoServico", "IdProdutoServico", "IdProdutoServico", "DescricaoCodigo", "DescricaoCodigoBusca", "DescricaoCodigo", "/Estoque/Produto/ListProdutoServicoPorProdutoLocal", "Ativo:true", idChaveRelacao: "IdProdutoServico", required: true, vmDataSelected: "ProdutoServicoVM", allowClear: false)
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="ddlProdutoLocal">Local</label>
                                @HtmlHelper.Select.SearchableKO("ddlProdutoLocal", "IdProdutoLocal", "IdProdutoLocal", "ProdutoLocalDescricao", "ProdutoLocalDescricao", "ProdutoLocalDescricao", "/Estoque/ProdutoServicoProdutoLocal/List", "Ativo:true", required: true, idControleDependencia: "ddlProdutoServico", idDependencia: "IdProdutoServico", idChaveRelacao: "IdProdutoLocal",allowClear:false)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="txtQtdeFormaApresentacao">Apresentação (Embalagem)</label>
                                <div class="input-group">
                                    <input type="text" id="txtQtdeFormaApresentacao" name="txtQtdeFormaApresentacao" data-bind="value: QtdeProdutoServicoFormaApresentacao, maskDecimal: { casasDecimais: CasasDecimaisFormaApresentacao }" class="form-control" maxlength="50" />
                                    <div class="input-group-btn">
                                        @HtmlHelper.Select.SearchableKO("ddlProdutoServicoFormaApresentacao", "IdProdutoServicoFormaApresentacao", "IdProdutoServicoFormaApresentacao", "Sigla", "BuscaDetalhada", "Sigla", "/Estoque/ProdutoServicoFormaApresentacao/List", "Ativo:true", disabled: true, allowClear: false, required: true)
                                    </div>
                                </div>
                                Quantidade por Embalagem:  <label id="txtQtdePorEmbalagemProdutoServico" name="txtQtdePorEmbalagemProdutoServico" data-bind="text: QtdePorEmbalagemProdutoServico"></label>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtQtdeProdutoServico">Quantidade</label>
                                <div class="input-group">
                                    <input type="text" id="txtQtdeProdutoServico" name="txtQtdeProdutoServico" data-bind="value: QtdeProdutoServico, maskDecimal: { casasDecimais: CasasDecimaisUnidadeProduto, min: 0 }, validate: { required: true }" class="form-control" maxlength="50" />
                                    <div class="input-group-btn">
                                        @HtmlHelper.Select.SearchableKO("ddlUnidadeProdutoServico", "IdUnidadeProdutoServico", "IdUnidade", "Sigla", "Sigla", "Sigla", "/Estoque/Unidade/List", "Ativo:true", idChaveRelacao: "IdUnidade", allowClear: false, required: true, vmDataSelected: "UnidadeProdutoVM", vmTextSelected: "SiglaUnidadeProdutoServico")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtValor" class="control-label size-sm">Valor</label>
                                <div class="input-group">
                                    <div class="input-group-btn read-mode">
                                        @HtmlHelper.Select.SearchableKO("ddlMoedaValor", "IdFinanceiroMoeda", "IdFinanceiroMoeda", "Sigla", "Sigla", "Sigla", "/Financeiro/Moeda/List", "Ativo:true, Natureza:1", idChaveRelacao: "IdFinanceiroMoeda", allowClear: false, disabled: true)
                                    </div>
                                    <input type="text" id="txtValor" name="txtValor" data-bind="value: Valor, maskDecimal: { casasDecimais: CasasDecimaisFinanceiroMoeda }" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <!-- TODO: Implementar Lote/Validade por Produto -->
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

