﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.ProdutoServicoCaracterizacao.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-ProdutoServicoCaracterizacao-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required:true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlNaturezaCaracterizacao" class="control-label">Natureza de Caracterização</label>
                            <select class="form-control" name="ddlNaturezaCaracterizacao" id="ddlNaturezaCaracterizacao" data-bind="value: NaturezaCaracterizacao, validate: { required:true }">
                                <option value=""></option>
                                <option value="1">Classificação</option>
                                <option value="2">Seção</option>
                                <option value="3">Característica</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="ddlProdutoGrupo">Grupo de Produto</label>
                            @HtmlHelper.Select.SearchableKO("ddlProdutoGrupo", "IdsProdutoServicoGrupo", "IdProdutoServicoGrupoIn",
                             "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Estoque/ProdutoServicoGrupo/List", "Ativo:true, UltimoNivel:true", idChaveRelacao: "IdProdutoServicoGrupo", required: true, multiple: true)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </form>
</div>