﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.Cartao.IndexVM

<div id="filtro-grade">
    <template id="filter-FinanceiroCartaoIndex">
        <div class="form-group">
            <label for="ddlFiltroFinanceiroEntidade" class="control-label">Entidade Financeira</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroFinanceiroEntidade", "IdFinanceiroEntidadeIn", "IdFinanceiroEntidadeIn", "DescricaoComposta", "DescricaoCodigo", "DescricaoComposta", "/Financeiro/Entidade/List", "Ativo:true", required: true, multiple:true)
        </div>
        <div class="form-group">
            <label for="ddlFiltroTitularCartao" class="control-label">Titular Cartão</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroTitularCartao", "IdPessoaTitularCartaoIn", "IdPessoaIn", "Nome", "NomeDocumento", "Nome", "/Corporativo/Pessoa/ListPessoaPersonalizado", "Ativo:true, ComPessoa:true, ComEmpresaUsuaria:true, ComEmpresa:false, IdPessoaNaturezaNotIn: 4", idChaveRelacao: "IdPessoa", multiple: true)
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
        id: "FinanceiroCartaoIndex",
        newUrl: "#/Financeiro/Cartao/New",
        editUrl: "#/Financeiro/Cartao/Edit",
        listUrl: "/Financeiro/Cartao/List",
        columns:
        @<script>
            [
                { 'id': 'IdFinanceiroCartao', editColumn: true },
                { 'id': 'IdFinanceiroEntidadeIn', filter: true, defaultFilter:true },
                { 'id': 'IdPessoaTitularCartaoIn', filter: true },
                { 'id': 'DescricaoFinanceiroEntidade', 'header': true, 'displayName': 'Entidade', sortable: true },
                { 'id': 'TipoCartaoExibicao', 'header': true,'displayName': 'Tipo', sortable: true },
                { 'id': 'Numero', 'header': true, 'displayName': 'Número', sortable: true },
                { 'id': 'Validade', 'header': true, 'displayName': 'Validade', sortable: true },
                { 'id': 'Principal', 'header': true, 'displayName': 'Principal', sortable: true },
                defaults.gridNewEdit.column.ativo,
                defaults.gridNewEdit.column.acao
            ]
        </script>,
        templateRows:
        @<tr>
            <td data-bind="text: DescricaoFinanceiroEntidade, id: IdFinanceiroCartao"></td>
            <td><span data-bind="text: TipoCartaoExibicao"></span></td>
            <td><span data-bind="text: Numero"></span></td>
            <td><span data-bind="text: Validade"></span></td>
            <td data-bind="template: { name: 'label-status', data: { status: Principal } }"></td>
            <td data-bind="template: 'label-status'"></td>
            <td data-bind="template: { name: 'button-edit-url', data: { id: IdFinanceiroCartao } }"></td>
        </tr>, api: "indexVM.api", orderByCol: "DescricaoFinanceiroEntidade", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)
</div>
@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}

