﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.Cartao.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-FinanceiroCartao-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="ddlFinanceiroEntidade">Entidade Financeira</label>
                                @HtmlHelper.Select.SearchableKO("ddlFinanceiroEntidade", "IdFinanceiroEntidade", "IdFinanceiroEntidade", "DescricaoComposta","DescricaoCodigo", "DescricaoComposta", "/Financeiro/Entidade/List", "Ativo:true", required: true)
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="txtNumero">Número</label>
                                <input type="text" id="txtNumero" name="txtNumero" data-bind="value: Numero, validate: { required: true },  mask: { options: defaults.mask.cartaocredito } " class="form-control" />
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtValidade">Validade</label>
                                <div class="input-group date form-group">
                                    <input data-bind="value: Validade, datepicker: { options: defaults.datepicker.monthyear }" id="txtValidade" name="txtValidade" class="form-control" />
                                    <span class="input-group-addon">
                                        <i class="material-icons">&#xE878;</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtCodigoSeguranca">Código de Segurança</label>
                                <input type="text" id="txtCodigoSeguranca" name="txtCodigoSeguranca" data-bind="value: CodigoSeguranca" class="form-control" maxlength="3" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="ddlPessoaTitularCartao">Titular Cartão</label>
                                @HtmlHelper.Select.SearchableKO("ddlPessoaTitularCartao", "IdPessoaTitularCartao", "IdPessoa", "Nome", "NomeDocumento", "Nome", "/Corporativo/Pessoa/ListPessoaPersonalizado", "ComPessoa:true,ComEmpresaUsuaria:true,ComEmpresa:false,Ativo:true, IdPessoaNaturezaNotIn: 4", idChaveRelacao: "IdPessoa", required: true)
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="ddlFinanceiroConta">Conta Bancária</label>
                                @HtmlHelper.Select.SearchableKO("ddlFinanceiroConta", "IdFinanceiroConta", "IdFinanceiroConta", "Detalhe", "BuscaDetalhada", "Detalhe", "/Financeiro/Conta/List", "Ativo:true", dataBind: " validate: { required: vm.CartaoDebito() } ", idControleDependencia: "ddlPessoaTitularCartao", idDependencia: "IdPessoaTitularConta")
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtLimiteUso">Limite de Uso</label>
                                <div class="input-group">
                                    <span class="input-group-addon">R$</span>
                                    <input id="txtLimiteUso" name="txtLimiteUso" data-bind="value: LimiteUso, maskDecimal: {}" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkCartaoDebito">Cartão de Débito</label>
                                <input type="checkbox" class="no-uniform" id="chkCartaoDebito" data-bind="checked: CartaoDebito, flipper: { observable: CartaoDebito, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkCartaoCredito">Cartão de Crédito</label>
                                <input type="checkbox" class="no-uniform" id="chkCartaoCredito" data-bind="checked: CartaoCredito, flipper: { observable: CartaoCredito, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                        <div class="col-xs-2" data-bind="if: CartaoCredito">
                            <div class="form-group">
                                <label for="txtDiaVencimentoFatura">Dia de Vencimento</label>
                                <input type="text" id="txtDiaVencimentoFatura" name="txtDiaVencimentoFatura" data-bind="value: DiaVencimentoFatura, mask: { options: defaults.mask.integer }, validate: { required: CartaoCredito } " class="form-control" min="1" max="31" placeholder="DD" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkPrincipal">Principal</label>
                                <input type="checkbox" class="no-uniform" id="chkPrincipal" data-bind="checked: Principal, flipper: { observable: Principal, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkAtivo">Ativo</label>
                                <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
