﻿@model HTM.MasterGestor.Web.UI.Areas.Configuracao.ViewModels.Tema.IndexVM


<div id="filtro-grade" style="display: none;">

    <template id="filter-TemaIndex">

        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>

        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
        id: "TemaIndex",
        newUrl: "#/Configuracao/Tema/New",
        editUrl: "#/Configuracao/Tema/Edit",
        listUrl: "/Configuracao/Tema/List",
        columns:
        @<script>
            [
                { 'id': 'Descricao', 'filter': true, 'defaultFilter': true, header: true },
                { 'id': 'IdTema', editColumn: true },
                defaults.gridNewEdit.column.ativo,
                defaults.gridNewEdit.column.acao
            ]
        </script>,
        templateRows:
        @<tr>
            <td data-bind="template: { name: 'link-edit-url', data: { text: Descricao, id: IdTema }  }"></td>           
            <td data-bind="template: 'label-status'"></td>
            <td data-bind="template: { name: 'button-edit-url', data: { id: IdTema } }"></td>
        </tr>,
        api: "indexVM.api",
        orderByCol: "Descricao",
        orderByDir: HelpersUtil.OrderByDirEnum.Asc,
        useHiddenColumns: false)   
</div>

@section Scripts {   

    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}