﻿@model HTM.MasterGestor.Web.UI.Areas.Configuracao.ViewModels.Tema.NewEditVM
<div data-bind="stopBindings: true">
    <form id="form-Tema-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="250" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="ddlSetCores">Paleta de cores</label>

                            <div data-bind="foreach: Cores" class="paletas">
                                <input data-bind="checkedValue: $data.id, checked: $root.SetCores, vanillaUniform: {}" type="radio" name="cor" />
                                <div class="paleta">
                                    <div data-bind="style: { background: primaria }"></div>
                                    <div data-bind="style: { background: secundaria }"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtTitulo">Título da Página Inicial</label>
                            <input type="text" id="txtTitulo" name="txtTitulo" data-bind="value: Titulo, validate: { required: true }" class="form-control" maxlength="250" />
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtFavicon">Favicon</label>
                            <input type="text" id="txtFavicon" name="txtFavicon" data-bind="value: Favicon, validate: { required: true }" class="form-control" maxlength="250" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtLogoTelaConexao">Logo Tela Conexão</label>
                            <input type="text" id="txtLogoTelaConexao" name="txtLogoTelaConexao" data-bind="value: LogoTelaConexao, validate: { required: true }" class="form-control" maxlength="250" />
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtLogoInterno">Logo Interno</label>
                            <input type="text" id="txtLogoInterno" name="txtLogoInterno" data-bind="value: LogoInterno, validate: { required: true }" class="form-control" maxlength="250" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
                <br />
                <div data-bind="collapsible: { vmArray: [vm.ArquivosDigitais() ] }" class="optional" id="pnlImagens">
                    <a href="#">Imagens para a Tela de Conexão</a>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                @HtmlHelper.Campo.Upload()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-action">
            <div class="panel-body">
                <button type="submit" id="btn-salvar" class="btn btn-secondary btn-lg btn-primary-action"><i class="material-icons">&#xE5CA;</i>Salvar</button>
                <a href="#List" type="button" class="btn btn-primary btn-inverted btn-lg"><i class="material-icons">&#xE5C4;</i>Voltar</a>
                @if (@Model.IdTema.HasValue)
                {
                    <a href="#History/Tema/@Model.IdTema" type="button" class="btn btn-primary btn-inverted btn-lg pull-right"><i class="material-icons">&#xE889;</i>Histórico</a>
                }
            </div>
        </div>
    </form>
</div>

<script src="~/mg-assets/scripts/knockout-upload-mapping.js"></script>
