﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.Entidade.IndexVM


<div id="filtro-grade">
    <template id="filter-EntidadeIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Código ou Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: DescricaoCodigo" class="form-control" />
        </div>
        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "EntidadeIndex",
    newUrl: "#/Financeiro/Entidade/New",
    editUrl: "#/Financeiro/Entidade/Edit",
    listUrl: "/Financeiro/Entidade/List",
    columns:
    @<script>
        [
           { 'id': 'IdFinanceiroEntidade', editColumn: true },
           { 'id': 'RegistroProprio', 'defaultValue': '', 'filter': true },
           { 'id': 'DescricaoCodigo', filter: true, 'defaultFilter': true },
           { 'id': 'Codigo', 'filter': true, displayName: 'Código', header: true },
           { 'id': 'Descricao', header: true, displayName: 'Descrição' },
           { 'id': 'DescricaoResumida', header: true, displayName: 'Descrição Resumida' },
           { 'id': 'EditarRegistro', 'header': true, 'filter': true, 'sortable': true, 'displayName': 'Editar Registro' },
           defaults.gridNewEdit.column.ativo,
           { displayName: "Ações", header: true, width: '160px' }
        ]
    </script>,
      templateRows:
    @<tr>
        <td data-bind="text: Codigo"></td>
        <td data-bind="text: Descricao"></td>
        <td data-bind="text: DescricaoResumida"></td>
         <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>
        <td data-bind="template: 'label-status'"></td>
         <td>
             <div style="float:left">
                 <span data-bind="template: { name: 'button-edit-url', data: { id: IdFinanceiroEntidade } }"></span>
             </div>

             <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                 <a data-bind="attr: { href: '#/Financeiro/Entidade/Ativar/' + IdFinanceiroEntidade}" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
             </div>

             <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                 <a data-bind="attr: { href: '#/Financeiro/Entidade/Inativar/' + IdFinanceiroEntidade}" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
             </div>

             <div style="float:left;padding-left:5px;" data-bind="visible: (EditarRegistro == false)">
                 <a data-bind="attr: { href: '#/Financeiro/Entidade/View/' + IdFinanceiroEntidade}" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
             </div>

         </td>
        <td data-bind="template: { name: 'button-edit-url', data: { id: IdFinanceiroEntidade } }"></td>
    </tr>,
    api: "indexVM.api",
    orderByCol: "Descricao",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,
    useHiddenColumns: false)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}