﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.Entidade.NewEditVM
<div data-bind="stopBindings: true">
    <form id="form-FinanceiroEntidade-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            @*<label for="txtCodigo">Código<span>(Automático)</span></label>*@
                            <label for="txtCodigo">Código</label>
                            <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" maxlength="500" />
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="ddlPais">Pais</label>
                            @HtmlHelper.Select.SearchableKO("ddlPais", "IdPais", "IdPais", "NomeResumido", "NomeResumido", "NomeResumido", "/Localizacao/Pais/List", "Ativo:true", allowClear: true)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate : { required: true }" class="form-control required" maxlength="60" />
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricaoResumida">Descrição Resumida</label>
                            <input type="text" id="txtDescricaoResumida" name="txtDescricaoResumida" data-bind="value: DescricaoResumida" class="form-control" maxlength="60" required="required" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="chkOperadoraCartao">Operdora de Cartão de Crédito ou Débito</label>
                            <input type="checkbox" class="no-uniform" id="chkOperadoraCartao" data-bind="checked: OperadoraCartao, flipper: { observable: OperadoraCartao, options: { 'css': 'warning' } }" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.SimNao }" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>