@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.UsuarioPerfil.IndexVM
@{
    Layout = "~/Views/_LayoutDefault.cshtml";
}
<div id="filtro-grade" style="display:none;" data-bind="stopBindings: true">
    @HtmlHelper.Panel.Filtro(
    @<div data-toggle-default="#btnFiltrar">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="value: campoFiltroRapido"  class="form-control" />
        </div>       
        <div class="form-group">
            <label for="ddlFiltroIdEmpresaPadrao" class="control-label">IdEmpresaPadrao</label>
            <input type="hidden" id="ddlFiltroIdEmpresaPadrao"  class="form-control" multiple="multiple" />
        </div>
        <div class="form-group">
            <label for="txtFiltroDataNascimento" class="control-label">Data de nascimento</label>
            <input type="text" id="txtFiltroDataNascimento" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroSexo" class="control-label">Sexo</label>
            <select class="form-control no-search" id="ddlFiltroSexo"></select>
        </div>
        <div class="form-group">
            <label for="txtFiltroChaveVersao" class="control-label">Chave versão</label>
            <input type="text" id="txtFiltroChaveVersao" class="form-control" />
        </div>
        <div class="form-actions">
            <button id="btnFiltrar" class="btn btn-primary"><i class="material-icons">&#xE8B6;</i> Buscar</button>
        </div>
    </div>,
    @<div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th data-bind="css: orderByCss('IdUsuarioPerfil'), click: reorder.bind($data,'IdUsuarioPerfil')">IdUsuarioPerfil</th>
                    @*<th data-bind="css: orderByCss('Login'), click: reorder.bind($data,'Login')">Login</th>*@
                    @*<th data-bind="css: orderByCss('Nome'), click: reorder.bind($data,'Nome')">Nome</th>*@
                    <th data-bind="css: orderByCss('DataNascimento'), click: reorder.bind($data,'DataNascimento')">DataNascimento</th>
                    <th data-bind="css: orderByCss('Sexo'), click: reorder.bind($data,'Sexo')">Sexo</th>
                    <th data-bind="css: orderByCss('ChaveVersao'), click: reorder.bind($data,'ChaveVersao')">ChaveVersao</th>
                    <th class="col-xs-1" style="width:30px;">Ações</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: {data: data, afterRender: onRowRendered }">
                <tr>
                    <td data-bind="text: IdUsuarioPerfil "></td>
                    @*<td data-bind="text: Login"></td>
                    <td data-bind="text: Nome"></td>*@
                    <td data-bind="text: DataNascimento"></td>
                    <td data-bind="text: (Sexo ? 'Feminino' : 'Masculino')"></td>
                    <td data-bind="text: ChaveVersao"></td>
                    <td><a data-bind="attr: { href: '#Edit/' + IdUsuarioPerfil }" class="btn btn-secondary" title="Editar"><i class="material-icons">&#xE254;</i></a></td>
                </tr>
            </tbody>
        </table>
    </div>)
</div>
@section Scripts {
    <script>
        new crudRoute('/Corporativo/UsuarioPerfil/List', '/Corporativo/UsuarioPerfil/NewEdit', function () {
            return {                
                IdEmpresaPadraoIn: $('#ddlFiltroIdEmpresaPadrao').val(),
                DataNascimento: $('#txtFiltroDataNascimento').val(),
                Sexo: $('#ddlFiltroSexo').val(),
                ChaveVersao: $('#txtFiltroChaveVersao').val(),
            }
        },
				['btnFiltrar', 'btnBuscaRapida'], 'IdUsuarioPerfil', 'desc',
				[]
				);
    </script>
    @* 1 - Verificar as Areas de referência da listagem, 2 - verificar se a coluna do valor é 'Descricao' *@
    @HtmlHelper.Select.SearchableKO("ddlFiltroIdEmpresaPadrao", "IdPessoa", "IdPessoa",
            "Nome",
            "Descricao", "Pessoa.Nome", "/Corporativo/Pessoa/List", "Ativo:true")
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
