﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.UsuarioPerfil.UsuarioPerfilVM

<div data-bind="stopBindings: true">
    <form id="form-UsuarioPerfil" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtNome">Nome</label>
                            <input type="text" id="txtNome" name="txtNome" data-bind="value: Nome" class="form-control" maxlength="60" disabled="disabled" />
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtApelido">Apelido</label>
                            <input type="text" id="txtApelido" name="txtApelido" data-bind="value: NomeSecundario" class="form-control" maxlength="60" disabled="disabled" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtEmail">E-mail</label>
                            <input type="text" id="txtEmail" name="txtUsuario" data-bind="value: Email" class="form-control" maxlength="60" disabled="disabled" />
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtTelefoneFixo">Telefone fixo</label>
                            <input type="text" id="txtTelefoneFixo" name="txtTelefoneFixo" data-bind="value: Telefone1" class="form-control" maxlength="60" disabled="disabled" />
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtTelefoneCelular">Telefone celular</label>
                            <input type="text" id="txtTelefoneCelular" name="txtTelefoneCelular" data-bind="value: Telefone2" class="form-control" maxlength="60" disabled="disabled" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Adicionais</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="txtDataInicio">Data Nascimento</label>
                                    <div class="input-group date">
                                        <input id="txtDataNascimento" name="txtDataNascimento" placeholder="" class="form-control" data-bind="value: DataNascimentoExibicao, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataNascimentoExibicao }, validate: { required: true }" />
                                        <span class="input-group-addon">
                                            <i class="material-icons">&#xE878;</i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="ddlSexo">Sexo</label>
                                    <select id="ddlSexo" name="ddlSexo" data-bind="value: SexoOpcao" class="form-control">
                                        <option value="">Selecione</option>
                                        <option value="false">Masculino</option>
                                        <option value="true">Feminino</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="form-group read-mode">
                                    <label for="ddlIdPessoaEmpresa">Empresa padrão</label>
                                    @HtmlHelper.Select.SearchableKO("ddlIdPessoaEmpresa", "IdPessoaEmpresa", "IdPessoa", "Nome", "Nomes", "Nome", "/Corporativo/Pessoa/ListPessoaPersonalizado", "ComPessoa:false, ComEmpresaUsuaria:true, ComEmpresa:false, Ativo:true", "", "", idChaveRelacao: "IdPessoa", required: true)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            @HtmlHelper.Campo.Upload(UploadSingleImage: true)
                        </div>
                    </div>
                </div>
                <div class="optional" id="pnlNotificacoes" data-bind="collapsible: { vmArray: [ vm.PermiteNotificacaoProcessoEmail(), vm.PermiteNotificacaoProcessoEmail() ] }">
                    <a href="#">Notificações</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="control-label" for="chkPermiteNotificacaoProcessoEmail">Permite envio de E-mail</label>
                                    <input type="checkbox" class="no-uniform" id="chkPermiteNotificacaoProcessoEmail" data-bind="checked: PermiteNotificacaoProcessoEmail, flipper: { observable: PermiteNotificacaoProcessoEmail, options: { 'css': 'warning' } }">
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="control-label" for="chkPermiteNotificacaoProcessoSMS">Permite envio de SMS</label>
                                    <input type="checkbox" class="no-uniform" id="chkPermiteNotificacaoProcessoSMS" data-bind="checked: PermiteNotificacaoProcessoSMS, flipper: { observable: PermiteNotificacaoProcessoSMS, options: { 'css': 'warning' } }">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default panel-action">
            <div class="panel-body">
                <button type="submit" id="btn-salvar" class="btn btn-secondary btn-lg btn-primary-action"><i class="material-icons">&#xE5CA;</i> Salvar</button>
            </div>
        </div>
    </form>
</div>