﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.Empresa.IndexVM

<routeoptions data-route-custom='route-empresa'></routeoptions>

<div id="filtro-grade" style="display:none;">
    <template id="filter-EmpresaIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Nome" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroEmpresaGrupo">Grupo de Empresa</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroEmpresaGrupo", "IdEmpresaGrupoIn", "IdEmpresaGrupo", "Descricao", "Descricao", "Descricao", "/Corporativo/EmpresaGrupo/List", "Ativo: true", idChaveRelacao: "IdEmpresaGrupo", multiple: true)
        </div>
        <div class="form-group">
            <label for="ddlFiltroPlano">Plano Técnico</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroPlano", "IdGrupoMenuIn", "IdGrupoMenu", "Descricao", "Descricao", "Descricao", "/Configuracao/GrupoMenu/List", "Ativo: true", idChaveRelacao: "IdGrupoMenu", multiple: true)
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "EmpresaIndex",
    newUrl: "#/Corporativo/Empresa/New",
    editUrl: "#/Corporativo/Empresa/Edit",
    listUrl: "/Corporativo/Empresa/List",
    columns:
    @<script>
        [
            { 'id': 'IdEmpresa', editColumn: true },
            { 'id': 'IdEmpresa', 'header': true, filter: true, defaultFilter: true, displayName: 'Código', sortable: true },
            { 'id': 'Nome', 'header': true, filter: true, defaultFilter: true, displayName: 'Descrição', sortable: true },
            { 'id': 'Sigla', 'header': true, filter: true, displayName: 'Sigla', sortable: true },
            { 'id': 'DescricaoEmpresaGrupo', 'header': true, displayName: 'Grupo Empresa', sortable: true },
            { 'id': 'DescricaoGrupoMenu', 'header': true, displayName: 'Plano Técnico', sortable: true },
            { 'id': 'IdGrupoMenuIn', filter: true },
            { 'id': 'IdEmpresaGrupoIn', filter: true },

            defaults.gridNewEdit.column.ativo,
            { displayName: "Ações", header: true, width: '140px' }
        ]
    </script>,
    templateRows:
    @<tr>
        <td data-bind="text: IdEmpresa"></td>
        <td data-bind="text: Nome"></td>
        <td data-bind="text: Sigla"></td>
        <td data-bind="text: DescricaoEmpresaGrupo"></td>
        <td data-bind="text: DescricaoGrupoMenu"></td>
        <td data-bind="template: 'label-status'"></td>
        <td>
            <div style="float:left">
                <span data-bind="template: { name: 'button-edit-url', data: { id:IdEmpresa } }"></span>
            </div>
            <div style="float: left; padding-left: 5px;">
                <a data-bind="attr: { href: '#/Corporativo/ModeloConteudo/List/' + IdEmpresa }" class="btn btn-secondary btn-icon" title="Modelo de Conteúdo"><i class="material-icons">&#xE8F0;</i></a>
            </div>
        </td>
    </tr>,api: "indexVM.api",orderByCol: "Nome",orderByDir: HelpersUtil.OrderByDirEnum.Asc,useHiddenColumns: true)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
