﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.Empresa.NewEditVM

<routeoptions data-route-custom='route-empresa'></routeoptions>

<div data-bind="stopBindings: true">
    <form id="form-CorporativoEmpresa-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Nome</label>
                            <input type="text" id="txtDescricao" name="txtNome" data-bind="value: Nome, validate : { required : true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtSigla">Sigla</label>
                            <input type="text" id="txtSigla" name="txtSigla" data-bind="value: Sigla, validate : { required : true }" class="form-control" maxlength="10" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlEmpresaGrupo">Grupo de Empresa</label>
                            @HtmlHelper.Select.SearchableKO("ddlEmpresaGrupo", "IdEmpresaGrupo", "IdEmpresaGrupo", "Descricao", "Descricao", "Descricao", "/Corporativo/EmpresaGrupo/List", "Ativo: true", vmTextSelected: "EmpresaGrupoDescricao")
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlGrupoMenu">Plano Técnico</label>
                            @HtmlHelper.Select.SearchableKO("ddlGrupoMenu", "IdGrupoMenu", "IdGrupoMenu", "Descricao", "Descricao", "Descricao", "/Configuracao/GrupoMenu/List", "Ativo: true", required: true)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtUrlSubDominio">Sub-Domínio para URL</label>
                            <input type="text" id="txtUrlSubDominio" name="txtUrlSubDominio" data-bind="value: UrlSubDominio, validate : { required : true }" class="form-control" data-allowclear="false" />
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlFinanceiroMoeda">Moeda Padrão</label>
                            @HtmlHelper.Select.SearchableKO("ddlFinanceiroMoeda", "IdFinanceiroMoeda", "IdFinanceiroMoeda", "DescricaoComposta", "DescricaoDetalhadaBusca", "Descricao", "/Financeiro/Moeda/List", "Ativo: true", required: true)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="chkEmpresaModelo">Empresa Modelo</label>
                            <input type="checkbox" class="no-uniform" id="chkEmpresaModelo" data-bind="checked: EmpresaModelo, flipper: { observable: EmpresaModelo, options: {'css':'secundary'} }">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Modelo de Conteúdo</h3>
            </div>
            <div class="panel-body">
                @HtmlHelper.GridView.GridNewEdit(
                    id: "ModeloConteudo", // Declarar na página <template id="newedit-id"></template>
                    vm: "Modelos",
                    vmExtend: "ModeloConteudoExtend",
                    title: "Modelo de Conteúdo",
                    columns: @<script>
                        [
                            { 'id': 'IdEmpresaModeloConteudo' },
                            { 'id': 'IdEmpresa' },
                            { 'id': 'IdTela' },
                            { 'id': 'IdModulo' },
                            { 'id': 'IdsEmpresa' },
                            { 'id': 'EditarRegistro' },
                            { 'id': 'ModuloDescricaoPai', displayName: 'Módulo', 'sortable': true, 'groupable': true },

                            { 'id': 'TelaDescricao', header: true, displayName: 'Cadastro', 'sortable': true },
                            { 'id': 'ModuloDescricao', header: true, displayName: 'Módulo', 'sortable': true },
                            { 'id': 'Modelo', header: true, displayName: 'Modelo', 'sortable': true },
                            { 'id': 'PermiteCadastroIndependente', header: true, displayName: 'Cadastrar', 'sortable': true, 'defaultValue': true },

                            defaults.gridNewEdit.column.acao
                        ]
                    </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text:  TelaDescricao }  }"></td>
                    <td data-bind="text: ModuloDescricao"></td>
                    <td data-bind="text: Modelo"></td>
                    <td data-bind="template: { name: 'label-status', data: { status: PermiteCadastroIndependente } }"></td>
                    <td data-bind="template: { name: 'button-edit' }"></td>
                </tr>, orderByCol: "ModuloDescricao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false, showNewButton: false)
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados de Remetente</h3>
            </div>
            <div class="panel-body" data-bind="with: EmpresaRemetente">
                <fieldset>
                    <legend><i class="ei-icon-mail-alt ei"></i> E-mail</legend>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtNomeApresentacao">Nome de Exibição</label>
                                <input type="text" id="txtNomeApresentacao" name="txtNomeApresentacao" data-bind="value: NomeApresentacao, validate : { required : true }" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlAplicativo">Aplicativo</label>
                                @HtmlHelper.Select.SearchableKO("ddlAplicativo", "IdAplicativo", "IdAplicativo", "Descricao", "Descricao", "Descricao", "/Configuracao/Aplicativo/List", "Ativo: true", required: true)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtEmail">Email de Envio</label>
                                <input type="text" id="txtEmail" name="txtEmail" data-bind="value: Email, validate : { required : true }" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtEmailResposta">Email para Resposta</label>
                                <input type="text" id="txtEmailResposta" name="txtEmailResposta" data-bind="value: EmailResposta, validate : { required : true }" class="form-control" data-allowclear="false" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtusuario">Usuário</label>
                                <input type="text" id="txtusuario" name="txtusuario" data-bind="value: Usuario, validate : { required : true }" class="form-control" placeholder="" data-allowclear="false" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtSenha">Senha</label>
                                <input type="text" id="txtSenha" name="txtSenha" data-bind="value: Senha, validate : { required : true }" class="form-control" placeholder="" data-allowclear="false" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtSmtp">SMTP</label>
                                <input type="text" id="txtSmtp" name="txtSmtp" data-bind="value: SMTP, validate : { required : true }" class="form-control required" data-allowclear="false" />
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtPorta">Porta</label>
                                <input type="text" id="txtPorta" name="txtPorta" data-bind="value: Porta, validate : { required : true }" class="form-control" />
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend><i class="fa fa-phone"></i> Telefone</legend>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="Resposta">Telefone Envio</label>
                                <input type="text" id="Resposta" data-bind="value:Telefone, mask: { options: defaults.mask.phone, value: Telefone }" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtTelefoneResposta">Telefone Resposta</label>
                                <input type="text" id="txtTelefoneResposta" data-bind="value:TelefoneResposta, mask: { options: defaults.mask.phone, value: TelefoneResposta }" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label" for="chkAtivoRemetente">Ativo</label>
                                <input type="checkbox" class="no-uniform" id="chkAtivoRemetente" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

    </form>
    <template id="newedit-ModeloConteudo">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group read-mode">
                    <label for="ddlModulo">Tela<span>Cadastro</span></label>
                    @HtmlHelper.Select.SearchableKO("ddlTela", "IdTela", "IdTela", "TituloMenu", "TituloMenu", "TituloMenu", "/Configuracao/Tela/List", "Ativo: true", required: true, allowClear: false, disabled: true)
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group read-mode">
                    <label for="ddlModulo">Módulo</label>
                    @HtmlHelper.Select.SearchableKO("ddlModulo", "IdModulo", "IdModulo", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Configuracao/Modulo/List", "Ativo: true, ComPai: true, UltimoNivel:true", required: true, allowClear: false, disabled: true)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="ddlModulo">Empresas Modelos</label>
                    @HtmlHelper.Select.SearchableKO("ddlEmpresas", "IdsEmpresa", "IdEmpresa", "Nome", "Nome", "Nome", "/Corporativo/Empresa/List", dadosComplObservable: "EmpresaModeloDadosCompl", multiple: true, idChaveRelacao: "IdEmpresa", vmTextSelected: "Modelo")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="control-label" for="chkPermiteCadastroIndependente">Permite cadastramento independente do modelo</label>
                    <input type="checkbox" class="no-uniform" id="chkPermiteCadastroIndependente" data-bind="checked: PermiteCadastroIndependente, flipper: { observable: PermiteCadastroIndependente, options: { 'css': 'warning' } }">
                </div>
            </div>
        </div>
    </template>
</div>