﻿@model HTM.MasterGestor.Web.UI.Areas.Configuracao.ViewModels.GrupoMenu.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-ConfiguracaoGrupoMenu-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="txtDescricao">Descrição</label>
                        <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                    </div>
                    <div class="form-group">
                        <label for="ddlTema">Tema</label>
                        @HtmlHelper.Select.SearchableKO("ddlTema", "IdTema", "IdTema", "Descricao", "Descricao", "Descricao", "/Configuracao/Tema/List", "Ativo: true, ComPai: false", required: true)
                    </div>
                    <div class="form-group">
                        <label for="ddlModulo">Módulo</label>
                        @HtmlHelper.Select.SearchableKO("ddlModulo", "IdsModulos", "IdModuloIn", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Configuracao/Modulo/List", "Ativo: true, ComPai:false", idChaveRelacao: "IdModulo", required: true, multiple: true)
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="chkAtivo">Ativo</label>
                        <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                    </div>

                    <div class="form-group">
                        <label for="ddlAplicacoesTipos">Quais os Tipos de Aplicação este plano pode ser acessado?</label>
                        @HtmlHelper.Select.SearchableKO("ddlAplicacoesTipos", "IdsAplicacoesTipos", "IdAplicacaoTipoIn", "Descricao", "Descricao", "Descricao", "/Aplicacao/AplicacaoTipo/List", "Ativo:true", idChaveRelacao: "IdAplicacaoTipo", multiple: true)

                        @*<input type="hidden" id="ddlAplicacoesTipos" class="form-control" multiple="multiple" data-bind="value: IdsAplicacoesTipos" />
                            @HtmlHelper.Select.Searchable("ddlAplicacoesTipos", "IdAplicacaoTipo", "IdAplicacaoTipoIn", "Descricao","Descricao", "Descricao", "/Aplicacao/AplicacaoTipo/List", "Ativo:true")*@
                    </div>

                    <div class="form-group">
                        <label for="ddlAplicacoesTipos">Quais os Tipos de Natureza Operacional este plano pode ter acesso?</label>
                        @HtmlHelper.Select.SearchableKO("ddlNaturezaOperacional", "IdsNaturezaOperacional", "IdNaturezaOperacionalIn", "Descricao", "Descricao", "Descricao", "/Corporativo/NaturezaOperacional/List", "Ativo:true", idChaveRelacao: "IdNaturezaOperacional", multiple: true)
                    </div>

                </div>
            </div>
        </div>
        <div class="row col-horizontal">
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title">Telas Disponíveis</h3>
                    </div>
                    <div class="panel-body">
                        <div style="margin-bottom: 20px">
                            <button class="btnExpandirCategoria btn btn-default btn-icon" data-tree="tree-telas" title="Expandir todos"><i class="material-icons">&#xE147;</i></button>
                            <button class="btnRecolherCategoria btn btn-default btn-icon" data-tree="tree-telas" title="Recolher todos"><i class="material-icons">&#xE15C;</i></button>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="material-icons">&#xE8B6;</i></div>
                                <input id="BuscaTreeTelas" type="search" placeholder="Busca rápida" class="form-control" />
                                <span class="input-group-btn">
                                    <button id="BuscaTreeTelasClear" class="btn btn-default btn-icon" title="Limpar" type="button"><i class="material-icons">&#xE14C;</i></button>
                                </span>
                            </div>
                        </div>
                        <div class="alert alert-info alert-icon clearfix" id="mensagem-tree-telas" style="display: none">
                            <i class="material-icons">&#xE002;</i>
                            <span class="text">Não há registros para o critério de pesquisa informado. <br /> Tente usar outro termo de busca ou <a href="#" class="link-edit">limpar o filtro</a>.</span>
                        </div>
                        <div id="tree-telas" class="jstree-select"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title">Telas Selecionadas</h3>
                    </div>
                    <div class="panel-body">
                        <div style="margin-bottom: 20px">
                            <button id="btnNovaCategoria" class="btn btn-secondary"><i class="fa fa-folder"></i> Nova categoria</button>
                            <button class="btnExpandirCategoria btn btn-default btn-icon" data-tree="tree-menu" title="Expandir todos"><i class="material-icons">&#xE147;</i></button>
                            <button class="btnRecolherCategoria btn btn-default btn-icon" data-tree="tree-menu" title="Recolher todos"><i class="material-icons">&#xE15C;</i></button>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="material-icons">&#xE8B6;</i></div>
                                <input id="BuscaTreeMenu" type="search" placeholder="Busca rápida" class="form-control" />
                                <span class="input-group-btn">
                                    <button id="BuscaTreeMenuClear" class="btn btn-default btn-icon" title="Limpar" type="button"><i class="material-icons">&#xE14C;</i></button>
                                </span>
                            </div>
                        </div>

                        <div class="alert alert-info alert-icon clearfix" id="mensagem-tree-menu" style="display: none">
                            <i class="material-icons">&#xE002;</i>
                            <span class="text">Não há registros para o critério de pesquisa informado. <br /> Tente usar outro termo de busca ou <a href="#" class="link-edit">limpar o filtro</a>.</span>
                        </div>
                        <div id="tree-menu" class="jstree-select"></div>
                    </div>
                </div>
            </div>
        </div>       
        <div id="panelSelection" class="panel panel-selected panel-action">
            <div class="panel-body">
                <button class="cancelar btn btn-lg btn-icon btn-default btn-rounded pull-right"><i class="material-icons">&#xE14C;</i> Cancelar seleção</button>

                <div class="selecionados">nenhum item selecionado</div>
                <button class="novo btn btn-lg btn-icon btn-secondary btn-rounded"><i class="material-icons">&#xE145;</i> Nova categoria</button>
                <button class="copiar btn btn-lg btn-icon btn-secondary btn-rounded"><i class="fa fa-copy"></i> Copiar</button>
                <button class="colar btn btn-lg btn-icon btn-secondary btn-rounded"><i class="fa fa-paste"></i> Colar</button>
                <button class="renomear btn btn-lg btn-icon btn-secondary btn-rounded"><i class="fa fa-font"></i> Renomear</button>
                <button class="remover btn-lg btn btn-icon btn-danger btn-rounded"><i class="material-icons">&#xE14C;</i> Remover</button>
            </div>
        </div>
    </form>
</div>



