﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.BenfeitoriaTipo.IndexVM

<div id="filtro-grade">
    <template id="filter-BenfeitoriaTipoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroBenfeitoriaTipoSuperior" class="control-label">Tipo</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroBenfeitoriaTipoSuperior", "IdBenfeitoriTipoIn", "IdBenfeitoriTipoIn", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Corporativo/BenfeitoriaTipo/List", "Ativo:true", idChaveRelacao: "IdBenfeitoriaTipo", multiple: true)
        </div>
        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
        id: "BenfeitoriaTipoIndex",
        newUrl: "#/Corporativo/BenfeitoriaTipo/New",
        editUrl: "#/Corporativo/BenfeitoriaTipo/Edit",
        listUrl: "/Corporativo/BenfeitoriaTipo/List",
        columns:
        @<script>
            [
                { 'id': 'IdBenfeitoriaTipo', editColumn: true },
                { 'id': 'IdBenfeitoriTipoIn', filter: true },
                { 'id': 'RegistroProprio', 'defaultValue': '', 'filter': true },
                { 'id': 'IdBenfeitoriaTipoPai' },
                
                { 'id': 'Descricao', 'header': true, 'filter': true, 'defaultFilter': true, 'displayName': 'Descrição', sortable: true },
                { 'id': 'DescricaoHierarquica', 'header': true, 'filter': true, displayName: 'Superior', sortable: true },
                { 'id': 'DescricaoPai', 'groupable': true, displayName: 'Tipo Superior', groupTextValues: ['defaultValue', 'Sem Superior Relacionado'] },
                { 'id': 'UltimoNivel', 'header': true, 'filter': true, displayName: 'Último Nível', sortable: true },
                { 'id': 'EditarRegistro', 'header': true, 'filter': true, 'sortable': true, 'displayName': 'Editar Registro' },

                defaults.gridNewEdit.column.ativo,
                { displayName: "Ações", header: true, width: '160px' }
            ]
        </script>,
        templateRows:
        @<tr>
            <td data-bind="text: Descricao, id: IdBenfeitoriaTipo"></td>
            <td><span data-bind="text: DescricaoHierarquica"></span></td>
            <td data-bind="template: { name: 'label-status', data: { status: UltimoNivel } }"></td>
             <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>
            <td data-bind="template: 'label-status'"></td>
             <td>
                 <div style="float:left">
                     <span data-bind="template: { name: 'button-edit-url', data: { id: IdBenfeitoriaTipo } }"></span>
                 </div>

                 <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                     <a data-bind="attr: { href: '#/Corporativo/BenfeitoriaTipo/Ativar/' + IdBenfeitoriaTipo}" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
                 </div>

                 <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                     <a data-bind="attr: { href: '#/Corporativo/BenfeitoriaTipo/Inativar/' + IdBenfeitoriaTipo}" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
                 </div>

                 <div style="float:left;padding-left:5px;" data-bind="visible: (EditarRegistro == false)">
                     <a data-bind="attr: { href: '#/Corporativo/BenfeitoriaTipo/View/' + IdBenfeitoriaTipo}" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
                 </div>

             </td>
        </tr>, api: "indexVM.api", orderByCol: "Descricao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)
</div>
@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}

