﻿@model HTM.MasterGestor.Web.UI.Areas.Configuracao.ViewModels.Permissao.IndexVM
@{
    Layout = "~/Views/_LayoutDefault.cshtml";
}

<div id="filtro-grade" style="display:none;" data-bind="stopBindings: true">
    @HtmlHelper.Panel.Filtro(
    @<div data-toggle-default="#btnFiltrar">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="value: campoFiltroRapido"  class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroTipoEquipamento">Módulo</label>
            <input type="hidden" id="ddlFiltroModulo" class="form-control" multiple="multiple" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroAtivo" class="control-label">Ativo</label>
            <select  id="ddlFiltroAtivo" class="form-control no-search">
                <option value="">Indiferente</option>
                <option value="true" selected="selected">Ativo</option>
                <option value="false">Inativo</option>
            </select>
        </div>
        <div class="form-actions">
            <button id="btnFiltrar" class="btn btn-primary"><i class="material-icons">&#xE8B6;</i> Buscar</button>
        </div>
    </div>,
    @<div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th data-bind="css: orderByCss('Permissao.Descricao'), click: reorder.bind($data,'Permissao.Descricao')">Descrição</th>
                    <th data-bind="css: orderByCss('Modulo.Descricao'), click: reorder.bind($data,'ModuloPai.Descricao')">Módulo</th>
                    <th class="col-xs-2" data-bind="css: orderByCss('Permissao.Ativo'), click: reorder.bind($data,'Permissao.Ativo')">Ativo</th>
                    <th class="col-xs-1" style="width:30px;">Ações</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: {data: data, afterRender: onRowRendered }">
                <tr>
                    <td><a data-bind="text: Descricao, attr: { href: '#edit/' + IdPermissao }"></a></td>
                    <td data-bind="text: DescricaoModulo"></td>
                    <td><span data-bind="text: (Ativo ? 'Sim' : 'Não'), css: (Ativo ? 'label label-success' : 'label label-default')"></span></td>
                    <td><a data-bind="attr: { href: '#Edit/' + IdPermissao }" class="btn btn-secondary" title="Editar"><i class="material-icons">&#xE254;</i></a></td>
                </tr>
            </tbody>
        </table>
    </div>)
</div>

@section Scripts {
    <script>
        new crudRoute('/Configuracao/Permissao/List', '/Configuracao/Permissao/NewEdit', function () {
            return {
                Descricao: $('#txtFiltroDescricao').val(),
                Ativo: $('#ddlFiltroAtivo').val(),
                IdModuloIn: $('#ddlFiltroModulo').val()
            }
        },
            ['btnFiltrar', 'btnBuscaRapida'], 'Permissao.Descricao', 'asc',
            [{ text: 'Ativo', value: 'Permissao.Ativo', internal: 'Ativo', func: function (p) { return p ? 'Ativo' : 'Inativo' } },
             { text: 'Módulo', value: 'Modulo.Descricao', internal: 'DescricaoModulo' }]
        );
    </script>
    @*@HtmlHelper.Select.Searchable("ddlFiltroModulo", "IdModulo", "IdModulo","DescricaoCompleta", "DescricaoCompleta","DescricaoCompleta", "/Configuracao/Modulo/List", "Ativo: true, ComPai:false")*@

@HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)

}