﻿@model HTM.MasterGestor.Web.UI.Areas.Configuracao.ViewModels.Permissao.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-ConfiguracaoPermissao-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="ddlPermissao">Permissão</label>
                        <select id="ddlPermissao" name="ddlPermissao" data-bind="value: IdPermissao" class="form-control required" placeholder="Selecione">
                            <option value=""></option>
                            @*@foreach (var permissao in Model.PermissaoOptions)
                            {
                                <option value="@(((int)permissao).ToString())">@permissao.ToString()</option>
                            }*@
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="txtDescricao">Descrição</label>
                        <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                    </div>
                    <div class="form-group">
                        <label for="ddlModulo">Módulo</label>
                        @HtmlHelper.Select.SearchableKO("ddlModulo", "IdModulo", "IdModulo", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Configuracao/Modulo/List", "Ativo: true, ComPai: false")
                    </div>
                    <div class="form-group" style="">
                        <label for="ddlTela">Telas</label>                        
                        @HtmlHelper.Select.SearchableKO("ddlTela", "IdsTela", "IdTelaIn", "TituloTela", "TituloMenu", "Modulo.Descricao, Tela.TituloMenu", "/Configuracao/Tela/List", "Ativo: true", multiple: true, idChaveRelacao: "IdTela")
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="chkAtivo">Ativo</label>
                        <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Ações Disponíveis</h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-6">
                    <div data-bind="foreach: Acoes">
                        <div class="form-group form-group-inline">
                            <label data-bind="text: DescricaoPermissaoAcao"></label>
                            <input type="checkbox" class="no-uniform" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                            <span data-bind="visible: Ativo"><input type="checkbox" class="no-uniform" data-bind="checked: Hierarquia, flipper: { observable: Hierarquia, options: { onText: 'Com Hierarquia', offText: 'Sem Hierarquia', css: 'warning', width: '150px'} }"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="panel panel-default panel-action">
            <div class="panel-body">
                <button type="submit" id="btn-salvar" class="btn btn-secondary btn-lg btn-primary-action"><i class="material-icons">&#xE5CA;</i> Salvar</button>
                <a href="#List" type="button" class="btn btn-primary btn-inverted btn-lg"><i class="material-icons">&#xE5C4;</i> Voltar</a>
                @*@if (@Model.IdPermissao.HasValue)
                {
                    <a href="#History/Modulo/@((int)Model.IdPermissao)" type="button" class="btn btn-primary btn-inverted btn-lg pull-right"><i class="material-icons">&#xE889;</i> Histórico</a>
                }*@
            </div>
        </div>
    </form>
</div>

@*<script type="text/javascript">
    var form = $('#form-ConfiguracaoPermissao-NewEdit');

    var vm = {
        @Html.ObservableFor(model => model.IdModulo),
        @Html.ObservableFor(model => model.IdPermissao),
        @Html.ObservableFor(model => model.IdsTela),
        @Html.ObservableFor(model => model.Descricao),
        @Html.ObservableFor(model => model.Ativo),
        @Html.ObservableFor(model => model.ChaveVersao),
        @Html.ObservableFor(model=> model.Acoes),
            Save: function () {
                if (!vm.isValidShowErrors()) { return; } 
                $.ajaxJsonAntiforgery(form, {
                    data: ko.toJSON(vm),
                    url: '/Configuracao/Permissao/NewEdit/',
                    success: function (result) {
                        mgFeedback.feedbackCrud(result, 'Permissão salva com sucesso.');
                    }
                });
            }
    };

    vm.Acoes = ko.mapping.fromJS(vm.Acoes());
    vm.AcoesJS = ko.computed({
        read: function () {
            return ko.mapping.toJS(vm.Acoes);
        },
        write: function (value) {
            return ko.mapping.fromJS(value, vm.Acoes);
        },
        owner: this
    });

    ko.applyBindings(vm, form[0]);
   
</script>*@

