﻿@model HTM.MasterGestor.Web.UI.Areas.Questionario.ViewModels.Configuracao.IndexVM

<routeoptions data-route-custom='route-Questionario'></routeoptions>

<div id="filtro-grade" style="display:none;">
    <template id="filter-QuestionarioConfiguracaoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlQuestionarioTipoFiltro" class="control-label">Tipo de Questionario</label>
            @HtmlHelper.Select.SearchableKO("ddlQuestionarioTipoFiltro", "IdQuestionarioTipo", "IdQuestionarioTipo", "Descricao", "Descricao", "Descricao", "/Questionario/Tipo/List", "Ativo:true", required: true)
        </div>
        <div class="form-group">
            <label for="ddlQuestionarioCategoriaFiltro" class="control-label">Categoria de Questionario</label>
            @HtmlHelper.Select.SearchableKO("ddlQuestionarioCategoriaFiltro", "IdQuestionarioCategoria", "IdQuestionarioCategoria", "Descricao", "Descricao", "Descricao", "/Questionario/Categoria/List", "Ativo:true")
        </div>
        <div class="form-group">
            <label for="ddlNaturezaOperacionalFiltro" class="control-label">Natureza Operacional</label>
            @HtmlHelper.Select.SearchableKO("ddlNaturezaOperacionalFiltro", "IdNaturezaOperacional", "IdNaturezaOperacional", "Descricao", "Descricao", "Descricao", "/Corporativo/NaturezaOperacional/List", "Ativo:true")
        </div>
        <div class="form-group">
            <label for="txtReferenciaControleFiltro" class="control-label">Referência</label>
            <input type="text" id="txtReferenciaControleFiltro" name="txtReferenciaControleFiltro" data-bind="value: ReferenciaControle" class="form-control" />
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "QuestionarioConfiguracaoIndex",
    newUrl: "#/Questionario/Configuracao/New",
    editUrl: "#/Questionario/Configuracao/Edit",
    listUrl: "/Questionario/Configuracao/List",
    columns:
    @<script>
        [
            { 'id': 'IdQuestionarioConfiguracao', editColumn: true },
            { 'id': 'IdQuestionarioTipo', filter: true },
            { 'id': 'IdQuestionarioCategoria', filter: true },
            { 'id': 'IdNaturezaOperacional', filter: true },
            { 'id': 'ReferenciaControle', filter: true },
            { 'id': 'Descricao', filter: true, defaultFilter: true, header: true, displayName: 'Descrição', sortable: true },
            { 'id': 'QuestionarioTipoDescricao', filter: true, defaultFilter: true, header: true, displayName: 'Tipo', sortable: true },
            { 'id': 'QuestionarioCategoriaDescricao', filter: true, defaultFilter: true, header: true, displayName: 'Categoria', sortable: true },
            defaults.gridNewEdit.column.ativo,
            { displayName: "Ações", header: true, width: '98px' }
        ]
    </script>,
    templateRows:
    @<tr>
        <td data-bind="text: Descricao"></td>
        <td data-bind="text: QuestionarioTipoDescricao"></td>
        <td data-bind="text: QuestionarioCategoriaDescricao"></td>
        <td data-bind="template: { name: 'label-status' }"></td>
         <td>
             <a href="#" data-bind="template: { name: 'button-edit-url', data: { id: IdQuestionarioConfiguracao } }"></a>
             <a href="#" title="Versão do Questionário" data-bind="attr: { href: '#/Questionario/Versao/List/' + IdQuestionarioConfiguracao }" class="btn btn-secondary btn-icon"><i class="material-icons">&#xE3FB;</i></a>
         </td>
    </tr>
    ,
    api: "indexVM.api",
    orderByCol: "Descricao",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,
    useHiddenColumns: false)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
