﻿@model HTM.MasterGestor.Web.UI.Areas.Questionario.ViewModels.Configuracao.NewEditVM

<routeOptions data-route-custom='route-Questionario'></routeOptions>

<div>
    <form id="form-QuestionarioConfiguracao-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-2">
                    <div class="form-group">
                        <label for="txtCodigo">Código<span>(Automático)</span></label>
                        <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" maxlength="500" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlQuestionarioTipo">Natureza Operacional</label>
                            @HtmlHelper.Select.SearchableKO("ddlNaturezaOperacional", "IdNaturezaOperacional", "IdNaturezaOperacional", "Descricao", "Descricao", "Descricao", "/Corporativo/NaturezaOperacional/List", "Ativo:true", required: true)
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlQuestionarioTipo">Tipo de Questinário</label>
                            @HtmlHelper.Select.SearchableKO("ddlQuestionarioTipo", "IdQuestionarioTipo", "IdQuestionarioTipo", "Descricao", "Descricao", "Descricao", "/Questionario/Tipo/List", "Ativo:true", required: true)
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlQuestionarioCategoria">Categoria de Questinário</label>
                            @HtmlHelper.Select.SearchableKO("ddlQuestionarioCategoria", "IdQuestionarioCategoria", "IdQuestionarioCategoria", "Descricao", "Descricao", "Descricao", "/Questionario/Categoria/List", "Ativo:true", required: true, idControleDependencia:"ddlQuestionarioTipo", idDependencia: "IdQuestionarioTipo")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="txtSubDescricao">Sub Descrição</label>
                            <input type="text" id="txtSubDescricao" name="txtSubDescricao" data-bind="value: SubDescricao" class="form-control" maxlength="50" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="txtDescricaoDetalhada">Descrição Detalhada</label>
                            <textarea data-bind="value: DescricaoDetalhada, wysiwyg: { observable: DescricaoDetalhada, options: defaults.wysiwyg.text }" class="form-control" id="txtDescricaoDetalhada" name="txtDescricaoDetalhada" data-allowclear="false"></textarea>
                        </div>
                    </div>
                </div>
                <div class="optional hide-panel" id="pnlObservacao" data-bind="collapsible: { vmArray: [ vm.Observacao() ] }">
                    <a href="#">Observação</a>
                    <div>
                        <div class="row">
                            <div class="form-group col-xs-8">
                                <textarea data-bind="value: Observacao" class="form-control" id="txtObservacao" data-allowclear="false" maxlength="500" style=" min-height 80px;"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtCor">Cor <span data-bind="text: '(' + (ko.unwrap(Cor) === null ? 'nenhuma selecionada' : ko.unwrap(Cor)) + ')'"></span></label>
                            <seletor-cores id="txtCor" params="setColorToLayer: false, selectedColor: Cor"></seletor-cores>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
