﻿@model HTM.MasterGestor.Web.UI.Areas.Mapeamento.ViewModels.Camada.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-MapeamentoCamada-NewEdit" data-bind="validateForm: { submitHandler: Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default" data-bind="with: data">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="form-group">
                            <label for="ddlCamadaNaturezaOperacional">Natureza Operacional</label>
                            @HtmlHelper.Select.SearchableKO("ddlCamadaNaturezaOperacional", "IdNaturezaOperacional", "IdNaturezaOperacional", "Descricao", "Descricao", "Descricao", "/Corporativo/NaturezaOperacional/List", "Ativo:true, VinculadasAoPlanoTecnico:true", required: true)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <div class="form-group">
                            <label for="ddlMapeamentoCamadaCategoria">Categoria de Camada</label>
                            @*@HtmlHelper.Select.SearchableKO("ddlMapeamentoCamadaCategoria", "IdMapeamentoCamadaCategoria", "IdMapeamentoCamadaCategoria", "DescricaoExibicao", "Descricao", "Descricao", "/Mapeamento/Categoria/List", "Ativo:true", vmTextSelected: "$parent.DescricaoMapeamentoCategoriaCamada", dataBind: "validate: { required: $root.ExibeCategoria() == true }", idChaveRelacao: "IdMapeamentoCamadaCategoria")*@
                            @HtmlHelper.Select.SearchableKO("ddlMapeamentoCamadaCategoria", "IdMapeamentoCamadaCategoria", "IdMapeamentoCamadaCategoria", "DescricaoExibicao", "Descricao", "Descricao", "/Mapeamento/Categoria/List", "Ativo:true",idChaveRelacao: "IdMapeamentoCamadaCategoria")
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="form-group">
                            <label for="txtCamadaDescricao">Descrição</label>
                            <input type="text" id="txtCamadaDescricao" name="txtCamadaDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="150" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-inline">
                            <div class="form-group">
                                <label class="control-label" for="chkVisivelConsulta">Visível em Consultas</label>
                                <input type="checkbox" class="no-uniform" id="chkVisivelConsulta" data-bind="checked: VisivelConsulta, flipper: { observable: VisivelConsulta, options: { 'css': 'warning' } }">
                            </div>    
                            <div class="form-group">
                                <label class="control-label" for="chkSomenteLeitura">Somente Leitura</label>
                                <input type="checkbox" class="no-uniform" id="chkSomenteLeitura" data-bind="checked: SomenteLeitura, flipper: { observable: SomenteLeitura, options: { 'css': 'warning' } }">
                            </div>                 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkCamadaAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkCamadaAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
