﻿<div id="grade-historico">

    <template id="filter-HistoricoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricaoHistorico" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricaoHistorico" data-bind="textInput: Descricao" class="form-control" />
        </div>           
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "HistoricoIndex",
    listUrl: "/Historico/List/",
    columns:
    @<script>
        [
            { 'id': 'IdReferencia', filter: true, defaultValue: @ViewBag.IdReferencia },
            { 'id': 'TimeOffset', filter: true, defaultValue: new Date().getTimezoneOffset() },
            { 'id': 'Objeto', filter: true, defaultValue: '@ViewBag.Objeto' },
            { 'id': 'IdHistoricoOperacao' },
            { 'id': 'IdHistorico', header: true, filter:true, displayName: '' },
            { 'id': 'Descricao', header: true, displayName: 'Descrição', filter: true, defaultFilter: true },
            { 'id': 'NomeSecundarioPessoa', 'header': true, displayName: 'Alterado por' },
            { 'id': 'Data', displayName: 'Data', header: true },
            { 'id': 'DescricaoHistoricoOperacao', 'header': true, displayName: 'Operação' }
        ]
    </script>,
    templateRows:
    @<tr>
        <td>
            <button class="btn btn-secondary btn-expand" data-bind="click: function (data, elem) { $parentContext.$root.expandGridRow(elem, '/HistoricoItem/ItensGridView/' + IdHistorico ); } "></button>
        </td>
        <td data-bind="text: Descricao"></td>             
        <td data-bind="text: NomeSecundarioPessoa"></td>
        <td data-bind="text: $root.formatDate(Data,'dd/mm/yyyy hh:MM')"></td>
        <td data-bind="text: DescricaoHistoricoOperacao"></td>
    </tr>,
    open: true,
    api: "api",
    showNewButton: false,
    showExportButtons: false,
    orderByCol: "Historico.Data",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,
    useHiddenColumns: false)
</div>
