﻿@model HTM.MasterGestor.Web.UI.Areas.Configuracao.ViewModels.Notificacao.IndexVM

<routeOptions data-use-custom-view="true"></routeOptions>

<div id="filtro-grade">   

    <template id="filter-Notificacao">
        <div class="form-group">
            <label for="txtFiltroAssunto" class="control-label">Assunto</label>
            <input type="text" id="txtFiltroAssunto" data-bind="value: AssuntoFormatado" class="form-control" />
        </div>
    </template>
   
    @HtmlHelper.GridView.GridIndex(
        id: "Notificacao", // Declarar na página <template id="newedit-id"></template>
        listUrl: "/Configuracao/Notificacao/List",                   
        columns: @<script>
            [
                { 'id': 'DataEnviada', filter: true },
                { 'id': 'AssuntoFormatado', 'sortable': false, 'header': true, filter: true, defaultFilter: true, 'displayName': 'Assunto' },
                { 'id': 'CorpoFormatado', 'header': true, 'sortable': false, 'displayName': 'Conteúdo' },
                { 'id': 'DataHoraEnviada', 'header': true, 'sortable': false,  'displayName': 'Data Envio' }
            ]
        </script>,
        templateRows:
        @<tr>
            <td data-bind="text: AssuntoFormatado"></td>
            <td data-bind="text: CorpoFormatado"></td>
            <td data-bind="text: DataHoraEnviada"></td>
        </tr>, 
    orderByCol: "DataHoraEnviada", 
    orderByDir: HelpersUtil.OrderByDirEnum.Asc, 
    useHiddenColumns: false, 
    showNewButton: false,
    open: true,
    showExportButtons: false,
    showFilter: false)
     
</div>