﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.UnidadeRendimento.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-UnidadeRendimento-NewEdit" novalidate data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="txtDescricao">Descrição</label>
                                <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate : { required : true }" class="form-control" maxlength="50" />
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtSigla">Sigla</label>
                                <input type="text" id="txtSigla" name="txtSigla" data-bind="value: Sigla, validate: { required : true} " class="form-control" maxlength="10" />
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtCasasDecimais">Casas Decimais</label>
                                <input type="number" id="txtCasasDecimais" name="txtCasasDecimais" data-bind="value: CasasDecimais, validate: { required : true} " class="form-control" />
                            </div>
                        </div>
                    </div>
                    <fieldset>
                        <legend style="color:#626262;">ESTA UNIDADE É USADA PARA QUAIS CONTROLES ?</legend>
                        <div class="form-inline">
                            <div class="form-group">
                                <label class="control-label" for="chkMaoDeObra">Mão de Obra</label>
                                <input type="checkbox" class="no-uniform" id="chkMaoDeObra" name="chkMaoDeObra" data-bind="checked: MaoDeObra, flipper: { observable: MaoDeObra, options: defaults.flipper.SimNao }">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="chkEquipamento">Equipamentos</label>
                                <input type="checkbox" class="no-uniform" id="chkEquipamento" name="chkEquipamento" data-bind="checked: Equipamento, flipper: { observable: Equipamento, options: defaults.flipper.SimNao }">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="chkInsumo">Insumos</label>
                                <input type="checkbox" class="no-uniform" id="chkInsumo" name="chkInsumo" data-bind="checked: Insumo, flipper: { observable: Insumo, options: defaults.flipper.SimNao }">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="chkProducao">Producao</label>
                                <input type="checkbox" class="no-uniform" id="chkProducao" name="chkProducao" data-bind="checked: Producao, flipper: { observable: Producao, options: defaults.flipper.SimNao }">
                            </div>
                        </div>
                    </fieldset>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="txtFormula">Fórmula</label>
                                <textarea id="txtFormula" name="txtFormula" data-bind="value: Formula, validate : { required : true }" class="form-control" maxlength="50" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label" for="chkAtivo">Ativo</label>
                                <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-action">
            <div class="panel-body">
                <button type="submit" id="btn-salvar" class="btn btn-secondary btn-lg btn-primary-action"><i class="fa fa-check"></i> Salvar</button>
                <a href="#List" type="button" class="btn btn-primary btn-inverted btn-lg"><i class="fa fa-arrow-left"></i> Voltar</a>
                @if (@Model.IdUnidadeRendimento.HasValue)
                    {
                <a href="#History/UnidadeRendimento/@Model.IdUnidadeRendimento" type="button" class="btn btn-primary btn-inverted btn-lg pull-right"><i class="fa fa-archive"></i> Histórico</a>
                    }
            </div>
        </div>
    </form>
</div>
