﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.Conta.IndexVM

<div id="filtro-grade">

    <template id="filter-ContaIndex">
        <div class="form-group">
            <label for="txtFiltroDetalhe" class="control-label">Descrição, Agência ou Conta</label>
            <input type="text" id="txtFiltroDetalhe" data-bind="textInput: BuscaDetalhada" class="form-control" />
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "ContaIndex",
    newUrl: "#/Financeiro/Conta/New",
    editUrl: "#/Financeiro/Conta/Edit",
    listUrl: "/Financeiro/Conta/List",
    columns:
    @<script>
        [
           { 'id': 'IdFinanceiroConta', editColumn: true },
           { 'id': 'BuscaDetalhada', filter: true, 'defaultFilter': true },
           { 'id': 'DescricaoEntidade', displayName: 'Entidade', header: true },
           { 'id': 'DescricaoFinanceiroContaTipo', displayName: 'Tipo', header: true },
           { 'id': 'Detalhe', header: true },
           { 'id': 'ContaPreferencial', header: true, displayName:'Favorita', filter:true },
           defaults.gridNewEdit.column.ativo,
           defaults.gridNewEdit.column.acao
        ]
    </script>,
      templateRows:
    @<tr>
        <td data-bind="text: DescricaoEntidade"></td>
        <td data-bind="text: DescricaoFinanceiroContaTipo"></td>
        <td data-bind="text: Detalhe"></td>
        <td data-bind="template: { name: 'label-status', data: { status: ContaPreferencial } }"></td>
        <td data-bind="template: 'label-status'"></td>
        <td data-bind="template: { name: 'button-edit-url', data: { id: IdFinanceiroConta } }"></td>
    </tr>,
    api: "indexVM.api",
    orderByCol: "Descricao",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,
    useHiddenColumns: false)
</div>


@*<div id="filtro-grade" style="display:none;" data-bind="stopBindings: true">
    
    @<div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-xs-3" data-bind="css: orderByCss('DescricaoEntidade'), click: reorder.bind($data,'DescricaoEntidade')">Entidade</th>
                    <th class="col-xs-3" data-bind="css: orderByCss('DescricaoFinanceiroContaTipo'), click: reorder.bind($data,'DescricaoFinanceiroContaTipo')">Tipo</th>
                    <th class="col-xs-3" data-bind="css: orderByCss('Detalhe'), click: reorder.bind($data,'Detalhe')">Detalhe</th>
                    <th class="col-xs-2" data-bind="css: orderByCss('Ativo'), click: reorder.bind($data,'Ativo')">Ativo</th>
                    <th class="col-xs-2" style="width:30px;">Ações</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: {data: data, afterRender: onRowRendered }">
                <tr>
                    <td><a data-bind="text: DescricaoEntidade, attr: {href: '#edit/' + IdFinanceiroConta }"></a></td>
                    <td><span data-bind="text: DescricaoFinanceiroContaTipo"></span></td>
                    <td><span data-bind="text: Detalhe"></span></td>
                    <td><span data-bind="text: (Ativo ? 'Sim' : 'Não'), css: (Ativo ? 'label label-success' : 'label label-default')"></span></td>
                    <td><a title="Editar" data-bind="attr: { href: '#Edit/' + IdFinanceiroConta }" class="btn btn-secondary"><i class="material-icons">&#xE254;</i></a></td>
                </tr>
            </tbody>
        </table>
    </div>)
</div>*@

@section Scripts {
    @*<script>
        new crudRoute('/Financeiro/Conta/List', '/Financeiro/Conta/NewEdit', function () {
            return {
                BuscaDetalhada: $('#txtFiltroDetalhe').val(),
                Ativo: $('#ddlFiltroAtivo').val()
            }
        },
            ['btnFiltrar', 'btnBuscaRapida'], 'Descricao', 'asc',
            [{ text: 'Ativo', value: 'Ativo', internal: 'Ativo', func: function (p) { return p ? 'Ativo' : 'Inativo' } }]
        );
    </script>*@
        
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)

}