﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.Conta.NewEditVM
<div data-bind="stopBindings: true">
    <form id="form-FinanceiroConta-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlContaTipo">Tipo de Conta</label>
                            @HtmlHelper.Select.SearchableKO("ddlContaTipo", "IdFinanceiroContaTipo", "IdFinanceiroContaTipo", "Descricao", "Descricao", "Descricao", "/Financeiro/ContaTipo/List", "Ativo:true", required: true)
                        </div>
                    </div>
                </div>
                <div class="dadosEmpresaUsuaria" data-bind="visible: CaixaInternoContaTipo">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlEmpresaUsuaria">Empresa Usuária</label>
                                @HtmlHelper.Select.SearchableKO("ddlEmpresaUsuaria", "IdPessoa", "IdPessoa", "Nome", "Nomes", "Nome", "/Corporativo/Pessoa/ListPessoaPersonalizado", "ComPessoa:false,ComEmpresaUsuaria:true,ComEmpresa:false,Ativo:true, IdPessoaNaturezaNotIn: 4", dataBind: "validate : { required: CaixaInternoContaTipo() == true } ")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dadosBancariosArea" data-bind="visible: CaixaInternoContaTipo() == false">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="">Entidade Financeira</label>
                                @HtmlHelper.Select.SearchableKO("ddlEntidadeFinanceira", "IdFinanceiroEntidade", "IdFinanceiroEntidade", "DescricaoComposta", "DescricaoCodigo", "DescricaoComposta", "/Financeiro/Entidade/List", "Ativo:true", "ddlContaTipo", "IdFinanceiroContaTipo", dataBind: "validate : { required: CaixaInternoContaTipo() == false }")
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtAgencia">Agência</label>
                                <input type="text" id="txtAgencia" name="txtAgencia" data-bind="value: Agencia, validate: { required: CaixaInternoContaTipo() == false }" class="form-control" maxlength="10" />
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <div class="form-group">
                                <label for="txtAgenciaDigito">DV</label>
                                <input type="text" id="txtAgenciaDigito" name="txtAgenciaDigito" data-bind="value: AgenciaDigito" class="form-control" maxlength="3" />
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtConta">Conta</label>
                                <input type="text" id="txtConta" name="txtConta" data-bind="value: Conta, validate: { required: CaixaInternoContaTipo() == false }" class="form-control" maxlength="10" />
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <div class="form-group">
                                <label for="txtContaDigito">DV</label>
                                <input type="text" id="txtContaDigito" name="txtContaDigito" data-bind="value: ContaDigito" class="form-control" maxlength="10" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlPessoTitularConta">Titular da Conta</label>
                                @HtmlHelper.Select.SearchableKO("ddlPessoTitularConta", "IdPessoaTitularConta", "IdPessoa", "Nome", "Nomes", "Nome", "/Corporativo/Pessoa/ListPessoaPersonalizado", "ComPessoa:true, ComEmpresaUsuaria:false, ComEmpresa:false, Ativo:true, IdPessoaNaturezaNotIn: 4", idChaveRelacao: "IdPessoa", dataBind: "validate: { required : vm.CaixaInternoContaTipo() == false }")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="descricaoArea" data-bind="visible: CaixaInternoContaTipo">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtDescricao">Descrição</label>
                                <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: CaixaInternoContaTipo }" class="form-control" maxlength="60" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label class="control-label" for="chkContaPreferencial">Conta Favorita</label>
                            <input type="checkbox" class="no-uniform" id="chkContaPreferencial" data-bind="checked: ContaPreferencial, flipper: { observable: ContaPreferencial, options: { 'css': 'warning' } }" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlNatureza" class="control-label">Natureza de Conta ou Caixa</label>
                            <select id="ddlNatureza" name="ddlNatureza" class="form-control no-search" data-bind="value: Natureza">
                                <option value="1">Disponível</option>
                                <option value="2">Não Disponível</option>
                                <option value="3">Aplicação e Investimento</option>
                                <option value="4">Conta Corrente</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.SimNao }" />
                        </div>
                    </div>
                </div>

                <!-- Restrição de Uso -->
                <div class="optional" id="pnlRestricoes" data-bind="collapsible: { vmArray: [ vm.IdsPessoaMovimentacaoRestricao(), vm.IdsPessoaConsultaRestricao() ] }">
                    <a href="#">Restrição de Uso</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="ddlPessaoMovimentoRestricao">Movimentação: caso apenas algumas pessoas possam  Movimentar esta Conta informe-as abaixo</label>
                                    @HtmlHelper.Select.SearchableKO("ddlPessaoMovimentoRestricao", "IdsPessoaMovimentacaoRestricao", "IdPessoaIn", "NomeSecundarioPessoa", "NomeSecundarioPessoa", "NomeSecundarioPessoa", "/Seguranca/Usuario/List", "Ativo:true", idChaveRelacao:"IdPessoa", multiple:true)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="ddlPessaoConsultaRestricao">Consulta Saldo: caso apenas algumas pessoas possam Consulta o Saldo desta Conta informe-as abaixo</label>
                                    @HtmlHelper.Select.SearchableKO("ddlPessaoConsultaRestricao", "IdsPessoaConsultaRestricao", "IdPessoaIn", "NomeSecundarioPessoa", "NomeSecundarioPessoa", "NomeSecundarioPessoa", "/Seguranca/Usuario/List", "Ativo:true", idChaveRelacao: "IdPessoa", multiple: true)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </form>
</div>