﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.ConciliacaoBancaria.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-FinanceiroConciliacaoBancaria-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="txtDataConciliacao">Data para a Conciliação</label>
                                <div class="input-group date">
                                    <input id="txtDataConciliacao" name="txtDataConciliacao" class="form-control" data-bind="value: DataConciliacaoExibicao, validate: { required: true }, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataConciliacaoExibicao }" />
                                    <span class="input-group-addon">
                                        <i class="material-icons">&#xE878;</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
