﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.ConciliacaoBancaria.IndexVM

<routeoptions data-use-custom-view="true" data-route-custom="route-financeiroConciliacao" data-pos="1"></routeoptions>

<div id="filtro-grade">
    <template id="filter-FinanceiroConciliacaoBancariaIndex">

        <div class="form-group">
            <label for="txtFiltroPeriodoEmissao" class="control-label">Período Movimentação</label>
            <div class="input-group date">
                <input type="text" id="txtFiltroPeriodoMovimentacao" data-bind="daterangepicker: { startDate: DataMovimentacaoInicio, endDate: DataMovimentacaoFim }" class="form-control" />
                <div class="input-group-addon input-group-btn"><i class="material-icons">&#xE916;</i></div>
            </div>
        </div>
        <div class="form-group" style="width: 300px">
            <label for="ddlFinancieroContaOrigemEspecie" class="control-label">Conta ou Caixa</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroFinanceiroConta", "IdFinanceiroConta", "IdFinanceiroConta", "Detalhe", "BuscaDetalhada", "Detalhe", "/Financeiro/Conta/List", "Ativo:true", idChaveRelacao: "IdFinanceiroConta")
        </div>
        <div class="form-group">
            <label for="radio">Situação</label><br />
            <div class="btn-group">
                <label for="filter-Conciliacao1" class="btn-primary btn-inverted btn"><input id="filter-Conciliacao1" value="1" data-bind="checked: ConciliacaoIn, vanillaUniform: { checkParentCSS: true }" type="checkbox" name="filter-conciliacaoin">A Conciliar</label>
                <label for="filter-Conciliacao2" class="btn-primary btn-inverted btn"><input id="filter-Conciliacao2" value="2" data-bind="checked: ConciliacaoIn, vanillaUniform: { checkParentCSS: true }" type="checkbox" name="filter-conciliacaoin">Conciliado</label>
            </div>
        </div>
    </template>

    @HtmlHelper.GridView.GridIndex(
        id: "FinanceiroConciliacaoBancariaIndex",
        newUrl: "#/Financeiro/ConciliacaoBancaria/New",
        editUrl: "#/Financeiro/ConciliacaoBancaria/Edit",
        listUrl: "/Financeiro/MovimentacaoBancaria/ListConciliacaoPorMovimentacaoBancaria",
        columns:
        @<script>
            [
                { 'id': 'IdFinanceiroMovimentacaoBancaria', editColumn: true, filter: true, defaultFilter: true },
                { 'id': 'DataMovimentacaoInicio', filter: true },
                { 'id': 'DataMovimentacaoFim', filter: true },
                { 'id': 'IdFinanceiroConta', filter: true },
                { 'id': 'ConciliacaoIn', filter: true, defaultValue: [] },
                { 'id': 'DataMovimentacaoExibicao', 'header': true, 'displayName': 'Sistema', sortable: true },
                { 'id': 'DataConciliacaoExibicao', 'header': true, 'displayName': 'Movimentação', sortable: true },
                { 'id': 'Documento', 'header': true, 'displayName': 'Documento', sortable: true },
                { 'id': 'DescricaoFinanceiroMovimentacaoContaHistorico', 'header': true, 'displayName': 'Histórico', sortable: true },
                { 'id': 'ValorBaixadoExibicao', 'header': true, 'displayName': 'Valor', sortable: true },
                { 'id': 'Conciliado', 'header': true, 'displayName': 'Conciliado', sortable: true },
                { 'id': 'DescricaoOrigem', 'header': true, 'displayName': 'Origem', sortable: true },
                { displayName: "Ações", width: "184px", header: true, sortable: false }
            ]
        </script>,
        templateRows:
        @<tr>
            <td data-bind="template: { name: 'checkbox-select' }"></td>
            <td data-bind="text: DataMovimentacaoExibicao,id: IdFinanceiroMovimentacaoBancaria"></td>
            <td data-bind="text: DataConciliacaoExibicao,id: IdFinanceiroMovimentacaoBancaria"></td>
            <td data-bind="text: Documento"></td>
            <td data-bind="text: DescricaoFinanceiroMovimentacaoContaHistorico"></td>
            <td data-bind="text: ValorBaixadoExibicao"></td>
            <td data-bind="template: { name: 'label-status', data: { status: Conciliado } }"></td>
            <td data-bind="text: DescricaoOrigem"></td>
            <td>
                <!-- <a role="link" data-bind="attr:  { href: '#/Financeiro/ConciliacaoBancaria/ConciliacaoBancaria/' + IdFinanceiroConciliacaoBancaria, disabled: IdFinanceiroConciliacaoBancaria == null ? true : false }" class="btn btn-secondary btn-icon" title="Conciliar"><i class="material-icons">&#xE254;</i></a>-->
                <a role="link" data-bind="attr: { href: '#/Financeiro/ConciliacaoBancaria/ExcluirConciliacaoBancaria/' + IdFinanceiroConciliacaoBancaria, disabled: IdFinanceiroConciliacaoBancaria == null ? true : false }" class="btn btn-secondary btn-icon" title="Cancelar"><i class="material-icons">&#xE14C;</i></a>
            </td>
        </tr>, api: "indexVM.api", orderByCol: "DataMovimentacaoExibicao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: true, showNewButton: false, useSelection: true)

    <template id="selectedAction-FinanceiroConciliacaoBancariaIndex">
        <a class="cancelar btn btn-lg btn-icon btn-default btn-rounded pull-right" data-bind="attr: { href: '#/Financeiro/ConciliacaoBancaria/ConciliacaoBancaria/' }" title="Realizar Baixa"> <i class="material-icons">&#xE877;</i> Conciliar</a>
    </template>

</div>
@section Scripts {

}



