﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.Requisicao.IndexVM

<div id="filtro-grade">
    <template id="filter-EstoqueRequisicaoIndex">
        <!-- Grupo de Produto -->
        <div class="form-group min-width-lg">
            <label for="ddlProdutoServicoGrupoFiltro">Grupo de Produto</label>
            @HtmlHelper.Select.SearchableKO("ddlProdutoServicoGrupoFiltro", "IdProdutoServicoGrupo", "IdProdutoServicoGrupo", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Estoque/ProdutoServicoGrupo/List", "Ativo:true")
        </div>
        <!-- Produto -->
        <div class="form-group min-width-lg">
            <label for="ddlProdutoServicoFiltro">Produto</label>
            @HtmlHelper.Select.SearchableKO("ddlProdutoServicoFiltro", "IdProdutoServico", "IdProdutoServico", "DescricaoCodigo", "DescricaoCodigoBusca", "DescricaoCodigo", "/Estoque/Produto/ListProdutoServicoPorProdutoLocal", "Ativo:true", idChaveRelacao: "IdProdutoServico", width: "120px")
        </div>

        <!-- Requisitante -->
        <div class="form-group min-width-lg">
            <label for="ddlPessoaRequisitanteFiltro">Requisitante</label>
            @HtmlHelper.Select.SearchableKO("ddlPessoaRequisitanteFiltro", "IdPessoaRequisitante", "IdPessoa", "Nome", "Nomes", "Nome", "/Corporativo/Pessoa/ListPessoaPersonalizado", "ComPessoa:true, ComEmpresaUsuaria:true, ComEmpresa:false, Ativo:true, IdPessoaNaturezaNotIn: 4", idChaveRelacao: "IdPessoa")
        </div>

        <!-- Solicitante -->
        <div class="form-group min-width-lg">
            <label for="ddlPessoaSolicitanteFiltro">Solicitante</label>
            @HtmlHelper.Select.SearchableKO("ddlPessoaSolicitanteFiltro", "IdPessoaSolicitante", "IdPessoa", "Nome", "Nomes", "Nome", "/Corporativo/Pessoa/ListPessoaPersonalizado", "ComPessoa:true, ComEmpresaUsuaria:true, ComEmpresa:false, Ativo:true, IdPessoaNaturezaNotIn: 4", idChaveRelacao: "IdPessoa")
        </div>
        <!-- TODO: Situação -->
        <!-- Grupo de Produto -->
        <div class="form-group min-width-lg">
            <label for="ddlAplicacaoTipoFiltro">Tipo Aplicação</label>
            @HtmlHelper.Select.SearchableKO("ddlAplicacaoTipoFiltro", "IdAplicacaoTipo", "IdAplicacaoTipo", "DescricaoComposta", "DescricaoCompostaBusca", "DescricaoComposta", "/Aplicacao/AplicacaoTipo/List", "Ativo:true", idChaveRelacao: "IdAplicacaoTipo")
        </div>

        <!-- Aplicação -->
        <!-- ko if: IdAplicacaoTipo() != null -->
        <div class="form-group min-width-lg">
            <label for="ddlAplicacaoFiltroComposto">Aplicação</label>
            @HtmlHelper.Select.SearchableKO("ddlAplicacaoFiltroComposto", "IdAplicacao", "IdAplicacaoReferencia", "DescricaoAplicacaoReferenciaExibicao", "DescricaoBusca", "DescricaoAplicacaoReferenciaExibicao", "/Aplicacao/AplicacaoReferencia/ListPorAplicacaoTipo", urlSelecao: "/Aplicacao/AplicacaoReferencia/ListarPorId", dadosCompl: "Ativo:true", idChaveRelacao: "IdAplicacaoReferencia", idControleDependencia: "ddlAplicacaoTipoFiltro", idDependencia: "IdAplicacaoTipoIn")
        </div>
        <!-- /ko -->
        <!-- Aplicação -->
        <!-- ko if: IdAplicacaoTipo() == '' -->
        <div class="form-group min-width-lg">
            <label for="ddlAplicacaoFiltroSimples">Aplicação</label>
            @HtmlHelper.Select.SearchableKO("ddlAplicacaoFiltroSimples", "IdAplicacao", "IdAplicacaoReferencia", "DescricaoAplicacaoReferenciaExibicao", "DescricaoBusca", "DescricaoAplicacaoReferenciaExibicao", "/Aplicacao/AplicacaoReferencia/ListPorAplicacaoTipo", urlSelecao: "/Aplicacao/AplicacaoReferencia/ListarPorId", dadosCompl: "Ativo:true, IdAplicacaoTipoIn: \"1,2,3,4,5\" ", idChaveRelacao: "IdAplicacaoReferencia")
        </div>
        <!-- /ko -->
        <!-- Período de Solicitação -->
        <div class="form-group">
            <label for="txtFiltroPeriodoSolicitacao" class="control-label">Período de Solicitação</label>
            <div class="input-group date" style="width:230px">
                <input type="text" id="txtFiltroPeriodoSolicitacao" data-bind="daterangepicker: { startDate: DataRequisicaoInicio, endDate: DataRequisicaoFim }" class="form-control" />
                <div class="input-group-addon input-group-btn"><i class="material-icons">&#xE916;</i></div>
            </div>
        </div>
    </template>

    @HtmlHelper.GridView.GridIndex(
        id: "EstoqueRequisicaoIndex",
        newUrl: "#/Estoque/Requisicao/New",
        editUrl: "#/Estoque/Requisicao/Edit",
        listUrl: "/Estoque/Requisicao/List",
        columns:
        @<script>
            [
                { 'id': 'IdEstoqueRequisicao', editColumn: true },

                { 'id': 'IdProdutoServicoGrupo', filter: true, defaultFilter: true },
                { 'id': 'IdProdutoServico', filter: true },
                { 'id': 'IdPessoaRequisitante', filter: true },
                { 'id': 'IdPessoaSolicitante', filter: true },
                { 'id': 'IdAplicacaoTipo', filter: true },
                { 'id': 'IdAplicacao', filter: true, defaultValue: '' },
                { 'id': 'DataRequisicaoInicio', filter: true },
                { 'id': 'DataRequisicaoFim', filter: true },

                { 'id': 'Codigo', header: true, displayName: 'Código', sortable: true },
                { 'id': 'DataRequisicaoExibicao', header: true, displayName: 'Data', sortable: true },
                { 'id': 'Tempo', header: true, displayName: 'Tempo' },
                { 'id': 'NomeSecundarioPessoaRequisitante', header: true, displayName: 'Requisitante', sortable: true },
                { 'id': 'NomeSecundarioPessoaResponsavel', header: true, displayName: 'Responsável', sortable: true },
                { 'id': 'DescricaoProcessoSituacao', header: true, displayName: 'Situação', sortable: true },
                { displayName: "Ações", header: true, width: '110px' }
            ]
        </script>,
        templateRows:
        @<tr>
            <td data-bind="text: Codigo, id: IdEstoqueRequisicao"></td>
            <td data-bind="text: DataRequisicaoExibicao"></td>
            <td data-bind="text: Tempo"></td>
            <td data-bind="text: NomeSecundarioPessoaRequisitante"></td>
            <td data-bind="text: NomeSecundarioPessoaResponsavel"></td>
            <td data-bind="text: DescricaoProcessoSituacao"></td>
            <td>
                <div style="float:left">
                    <span data-bind="template: { name: 'button-edit-url', data: { id: IdEstoqueRequisicao } }"></span>
                </div>
                <div style="float:left;padding-left:5px;" data-bind="visible: EditarRegistro === false">
                    <a data-bind="attr: { href: '#/Estoque/Requisicao/View/' + IdEstoqueRequisicao  }" class="btn btn-secondary btn-icon" title="Visualizar"><i class="fa fa-file-text-o"></i></a>
                </div>
            </td>
        </tr>, api: "indexVM.api", orderByCol: "DataRequisicaoExibicao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)
</div>
@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}

