﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.Requisicao.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-EstoqueRequisicao-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="ddlEmpresaUsuaria">Empresa</label>
                                @HtmlHelper.Select.SearchableKO("ddlEmpresaUsuaria", "IdPessoa", "IdPessoa", "Codigo", "Nomes", "Codigo", "/Corporativo/EmpresaUsuaria/List", required: true, idChaveRelacao: "IdPessoa", dadosCompl: "Ativo:true")
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlDocumentoTipo">Tipo Documento</label>
                                @HtmlHelper.Select.SearchableKO("ddlDocumentoTipo", "IdDocumentoTipo", "IdDocumentoTipo", "Descricao", "Descricao", "Descricao", "/Contabilidade/DocumentoTipo/List", required: true, dadosComplObservable: "DocumentoTipoDadosCompleObservable")
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtCodigo">Código<span>(Automático)</span></label>
                                <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" maxlength="500" />
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtDataRequisicao">Data Requisição</label>
                                <div class="input-group date">
                                    <input id="txtDataRequisicao" name="txtDataRequisicao" class="form-control mes-trigger" data-bind="value: DataRequisicaoExibicao, validate: { required: true }, datepicker: { options: defaults.datepicker.datetime }, mask: { options: defaults.mask.datetime, value: DataRequisicaoExibicao }" />
                                    <span class="input-group-addon">
                                        <i class="material-icons">&#xE878;</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtDataMovimentacao">Data Lançamento</label>
                                <div class="input-group date">
                                    <input id="txtDataMovimentacao" name="txtDataMovimentacao" class="form-control mes-trigger" data-bind="value: DataMovimentacaoExibicao, validate: { required: true }, datepicker: { options: defaults.datepicker.datetime }, mask: { options: defaults.mask.datetime, value: DataMovimentacaoExibicao}" disabled="disabled" />
                                    <span class="input-group-addon">
                                        <i class="material-icons">&#xE878;</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlPessoaRequisitante">Requisitante</label>
                                <!-- HtmlHelper.Select.SearchableKO("ddlPessoaRequisitante", "IdPessoaRequisitante", "IdPessoa", "CodigoNomeSecundario", "NomeDocumento", "Codigo", "/Corporativo/Pessoa/ListPorTipoComRestricaoCompraEstoque", urlSelecao: "/Estoque/CompraEstoqueRestricao/ListarRestricaoPorIdPessoa",  dadosComplObservable: "dadosCompleRequisitante", required: true, idChaveRelacao: "IdPessoa", preSelecaoUrl: "Estoque/CompraEstoqueRestricao/List", preSelecaoDadosCompl: "Ativo: true", preSelecaoData: "preSelecaoRequisitante", vmDataSelected:"PessoaRequisitanteVM") -->
                                @HtmlHelper.Select.SearchableKO("ddlPessoaRequisitante", "IdPessoaRequisitante", "IdPessoa", "CodigoNomeSecundario", "NomeDocumento", "Codigo", "/Corporativo/Pessoa/ListPorTipoComRestricaoCompraEstoque", dadosComplObservable: "dadosCompleRequisitante", required: true, idChaveRelacao: "IdPessoa", vmDataSelected: "PessoaRequisitanteVM")
                            </div>
                        </div>
                        <div class="col-xs-4 read-mode">
                            <div class="form-group">
                                <label for="ddlPessoaResponsavel">Responsável</label>
                                @HtmlHelper.Select.SearchableKO("ddlPessoaResponsavel", "IdPessoaResponsavel", "IdPessoa", "CodigoNomeSecundario", "NomeDocumento", "Codigo", "/Corporativo/Pessoa/ListPorTipoComRestricaoCompraEstoque", dadosComplObservable: "dadosCompleRequisitante", required: true, idChaveRelacao: "IdPessoa", disabled: true)
                                @*<input type="text" id="txtUsuarioLogada" name="txtUsuarioLogada" data-bind="value: UsuarioLogado" class="form-control" maxlength="50" />*@
                            </div>
                        </div>
                        <div class="col-xs-2 read-mode" data-bind="visible: (IdEstoqueRequisicao != null && IdProcessoSituacao != null)">
                            <div class="form-group">
                                <label for="ddlProcessoSituacao">Situação</label>
                                @*<input type="text" id="txtDescricaoProcessoSituacao" name="txtDescricaoProcessoSituacao" data-bind="value: DescricaoProcessoSituacao" class="form-control" maxlength="50" />*@
                                @HtmlHelper.Select.SearchableKO("ddlProcessoSituacao", "IdProcessoSituacao", "IdProcessoSituacao", "Descricao", "Descricao", "Descricao", "/Corporativo/ProcessoSituacao/List")
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlAplicacao">Aplicação</label>
                                @HtmlHelper.Select.SearchableKO("ddlAplicacao", "IdAplicacao", "IdAplicacaoReferencia", "DescricaoAplicacaoReferenciaExibicao", "DescricaoBusca", "DescricaoAplicacaoReferenciaExibicao", "/Aplicacao/AplicacaoReferencia/ListPorAplicacaoTipo", urlSelecao: "/Aplicacao/AplicacaoReferencia/ListarPorId", dadosComplObservable: "AplicacaoDadosCompleObservable", idChaveRelacao: "IdAplicacaoReferencia", vmDataSelected: "AplicacaoVM", required: true)
                            </div>
                        </div>
                        <!-- Benfeitoria -->
                        <div class="col-xs-4" data-bind="visible: (AplicacaoVM() != null && AplicacaoVM().IdAplicacaoTipo == 1 && vm.ExibeObjetoSemAplicacao() == false)">
                            <div class="form-group">
                                <label for="ddlObjetoAplicacaoBenfeitoria">Objeto</label>
                                @HtmlHelper.Select.SearchableKO("ddlObjetoAplicacaoBenfeitoria", "IdObjeto", "IdObjeto", "DescricaoCompleta", "DescricaoBusca", "OrderbyKey", "/Corporativo/Objeto/ListarPorAplicacaoBenfeitoria", idControleDependencia: "ddlAplicacao", idDependencia: "IdAplicacao", dataBind: "validate: { required: (AplicacaoVM() != null && AplicacaoVM().IdAplicacaoTipo == 1) }  ")
                            </div>
                        </div>
                        <!-- Local Produção -->
                        <div class="col-xs-4" data-bind="visible: (AplicacaoVM() != null && AplicacaoVM().IdAplicacaoTipo == 2 && vm.ExibeObjetoSemAplicacao() == false)">
                            <div class="form-group">
                                <label for="ddlObjetoAplicacaoProducaoLocal">Objeto</label>
                                @HtmlHelper.Select.SearchableKO("ddlObjetoAplicacaoProducaoLocal", "IdObjeto", "IdObjeto", "DescricaoCompleta", "DescricaoBusca", "OrderbyKey", "/Corporativo/Objeto/ListarPorAplicacaoProducaoLocal", idControleDependencia: "ddlAplicacao", idDependencia: "IdAplicacao", dataBind: "validate: { required: (AplicacaoVM() != null && AplicacaoVM().IdAplicacaoTipo == 2) }  ")
                            </div>
                        </div>
                        <!-- Lote Animal -->
                        <div class="col-xs-4" data-bind="visible: (AplicacaoVM() != null && AplicacaoVM().IdAplicacaoTipo == 3 && vm.ExibeObjetoSemAplicacao() == false)">
                            <div class="form-group">
                                <label for="ddlObjetoAplicacaoLoteAnimal">Objeto</label>
                                @HtmlHelper.Select.SearchableKO("ddlObjetoAplicacaoLoteAnimal", "IdObjeto", "IdObjeto", "DescricaoCompleta", "DescricaoBusca", "OrderbyKey", "/Corporativo/Objeto/ListarPorAplicacaoCriacaoLote", idControleDependencia: "ddlAplicacao", idDependencia: "IdAplicacao", dataBind: "validate: { required: (AplicacaoVM() != null && AplicacaoVM().IdAplicacaoTipo == 3) }  ")
                            </div>
                        </div>
                        <!-- Animal -->
                        <div class="col-xs-4" data-bind="visible: (AplicacaoVM() != null && AplicacaoVM().IdAplicacaoTipo == 4 && vm.ExibeObjetoSemAplicacao() == false)">
                            <div class="form-group">
                                <label for="ddlObjetoAplicacaoAnimal">Objeto</label>
                                @HtmlHelper.Select.SearchableKO("ddlObjetoAplicacaoAnimal", "IdObjeto", "IdObjeto", "DescricaoCompleta", "DescricaoBusca", "OrderbyKey", "/Corporativo/Objeto/ListarPorAplicacaoCriacaoAnimal", idControleDependencia: "ddlAplicacao", idDependencia: "IdAplicacao", dataBind: "validate: { required: (AplicacaoVM() != null && AplicacaoVM().IdAplicacaoTipo == 4) }  ")
                            </div>
                        </div>
                        <!-- Equipamento -->
                        <div class="col-xs-4" data-bind="visible: (AplicacaoVM() != null && AplicacaoVM().IdAplicacaoTipo == 5 && vm.ExibeObjetoSemAplicacao() == false)">
                            <div class="form-group">
                                <label for="ddlObjetoAplicacaoEquipamento">Objeto</label>
                                @HtmlHelper.Select.SearchableKO("ddlObjetoAplicacaoEquipamento", "IdObjeto", "IdObjeto", "DescricaoCompleta", "DescricaoBusca", "OrderbyKey", "/Corporativo/Objeto/ListarPorAplicacaoEquipamento", idControleDependencia: "ddlAplicacao", idDependencia: "IdAplicacao", dataBind: "validate: { required: (AplicacaoVM() != null && AplicacaoVM().IdAplicacaoTipo == 5) }  ")
                            </div>
                        </div>
                        <!-- Sem Aplicação -->
                        <div class="col-xs-4" data-bind="visible: (IdAplicacao() == null && vm.ExibeObjetoSemAplicacao() == true)">
                            <div class="form-group">
                                <label for="ddlObjetoSemAplicacao">Objeto</label>
                                @HtmlHelper.Select.SearchableKO("ddlObjetoSemAplicacao", "IdObjeto", "IdObjeto", "DescricaoCompleta", "DescricaoBusca", "DescricaoObjeto", "/Corporativo/Objeto/ListarObjetoCentroCustoSemAplicacao", dataBind: "validate: { required: IdAplicacao() == null } ")
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: IdDocumentoTipo() == 34">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlEstoqueRequisicaoOrigem">Requisição Origem</label>
                                @HtmlHelper.Select.SearchableKO("ddlEstoqueRequisicaoOrigem", "IdEstoqueRequisicaoOrigem", "IdEstoqueRequisicao", "DescricaoEstoqueRequisicao", "BuscaAvancada", "DescricaoEstoqueRequisicao", "/Estoque/Requisicao/ListRequisicaoCompleta", "Ativo:true", idChaveRelacao: "IdEstoqueRequisicao", dadosComplObservable: "dadosCompleRequisicaoOrigem")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-open="false" id="pnlItens" data-bind="whit: lstItem">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Itens</h3>
                </div>
                <div class="panel-body">
                    @HtmlHelper.GridView.GridNewEdit(
                    id: "Item", // Declarar na página <template id="newedit-id"></template>
                    vm: "lstItem",
                    vmExtend: "vmItemExtended",
                    title: "Item",
                    addTitle: "Novo",
                    columns: @<script>
                        [
                            { 'id': 'IdEstoqueRequisicaoItem' },
                            { 'id': 'IdEstoqueRequisicao' },
                            { 'id': 'IdProdutoServico' },
                            { 'id': 'DescricaoProdutoServico' },
                            { 'id': 'IdProdutoLocal' },
                            { 'id': 'QtdeProdutoServico' },
                            { 'id': 'IdUnidadeProdutoServico' },
                            { 'id': 'IdProdutoServicoFormaApresentacao' },
                            { 'id': 'IdsSubAplicacao' },
                            { 'id': 'IdsOrdemEtapa' },

                            { 'id': 'QtdeProdutoServicoFormaApresentacao' },
                            { 'id': 'SiglaProdutoServicoFormaApresentacao' },
                            { 'id': 'QtdePorEmbalagemProdutoServico' },

                            { 'id': 'SiglaUnidadeProdutoServico' },
                            { 'id': 'CasasDecimaisFormaApresentacao' },
                            { 'id': 'CasasDecimaisUnidadeProduto' },

                            { 'id': 'QtdeProdutoServicoSaldo' },
                            { 'id': 'QtdeFormaApresentacaoSaldo' },

                            { 'id': 'lstEntregaRealizada', defaultValue: ko.observableArray([]) },
                            { 'id': 'Numero', header: true, displayName: 'Item' },
                            { 'id': 'CodigoDescricaoProdutoServico', header: true, displayName: 'Produto' },
                            { 'id': 'DescricaoProdutoLocal', header: true, displayName: 'Local' },
                            { 'id': 'Requisitado', header: true, displayName: 'Requisitado' },
                            { 'id': 'Entregue', header: true, displayName: 'Entregue' },
                            { 'id': 'Residual', header: true, displayName: 'A Entregar' },
                            { 'id': 'Situacao', header: true, displayName: 'Situação' },
                            { 'id': 'ApresentacaoSaldo' },
                            { 'id': 'EditarRegistro', defaultValue: true },
                            { 'id': 'Excluido' },
                            defaults.gridNewEdit.column.acaoEditRemove
                        ]
                    </script>,
                    templateRows:
                    @<tr>
                        <td data-bind="text: Numero"></td>
                        <td data-bind="text: CodigoDescricaoProdutoServico"></td>
                        <td data-bind="text: DescricaoProdutoLocal"></td>
                        <td data-bind="text: Requisitado"></td>
                        <td data-bind="text: Entregue"></td>
                        <td data-bind="text: Residual"></td>
                        <td data-bind="text: Situacao"></td>
                        <td data-bind="template: { name: 'button-edit-remove' }"></td>
                    </tr>, orderByCol: "Numero", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false, displayMode: "custom", showNewButtonObservable: "vm.PermiteRequisitar", useRemovedColumn: true)
                </div>
            </div>
        </div>
    </form>

    <panels id="panels-requisicao-bind" params="panels: [{ title: 'Itens da Requisição (Produto)', template: { gridContext: 'Item', id: 'panel-requisicao', css: 'half', beforeSave: Requisicao.saveItem, beforeClose: Requisicao.beforeClose  }}, { title: 'Entregas dos itens requisição', template: { vmContext: Entrega, id: 'panel-requisicao-entregas', css: 'half panel-requisicao-entregas' }}]">
    </panels>

    <template id="panel-requisicao-entregas">

        @*<div class="row" data-bind="with: $root.Entrega.itemSelected">
                <div class="col-xs-12">
                    <div class="form-group" style="margin-bottom: 0">
                        <label>Situação da entrega</label><br />
                        <div class="btn-group">
                            <label class="btn btn-primary btn-inverted" for="option1">
                                <input type="checkbox" id="option1" value="total" data-bind="checked: EntregaTotal, enable: HabilitaAdicionaEntregaParcial, vanillaUniform: { checkParentCSS: true }"> Entrega Total
                            </label>
                        </div>
                    </div>
                </div>
            </div>*@

        <div data-bind="hidden: lstEntregaRealizada().length > 0">

            @HtmlHelper.GridView.GridNewEdit(
            id: "entregas", // Declarar na página <template id="newedit-id"></template>
            vm: "lstEntregaRealizada",
            vmExtend: "vmEntregaExtended",
            title: "Entrega Parcial",
            addTitle: "Nova",
            columns: @<script>
                [
                    { 'id': 'IdEstoqueRequisicaoEntrega' },
                    { 'id': 'IdEstoqueRequisicaoItem' },
                    { 'id': 'IdProdutoServicoLote' },
                    { 'id': 'IdProdutoServicoFormaApresentacao' },
                    { 'id': 'IdUnidadeProdutoServico' },

                    { 'id': 'QtdeProdutoServicoFormaApresentacao' },
                    { 'id': 'QtdeProdutoServico' },

                    { 'id': 'QtdeRealProdutoServico' },

                    { 'id': 'DataHora' },
                    { 'id': 'IdPessoaEntrega', defaultValue: 47 },

                    { 'id': 'NomeSecundarioPessoaEntrega' },
                    { 'id': 'Entregue' },

                    { 'id': 'QtdeFormaApresentacaoSaldo' },
                    { 'id': 'QtdeProdutoServicoSaldo' },

                    { 'id': 'ExibicaoEstoqueRequisicaoItem' },
                    { 'id': 'DataHoraExibicao', header: true, displayName: 'Data' },
                    { 'id': 'DescricaoProdutoServicoLote', header: true, displayName: 'Lote' },
                    { 'id': 'QtdeDescricaoProdutoServicoFormaApresentacao', header: true, displayName: 'Apresentação' },
                    { 'id': 'QtdeDescricaoProdutoServico', header: true, displayName: 'Quantidade' },
                    { 'id': 'EditarRegistro', defaultValue: true },
                    { 'id': 'Excluido' },
                    defaults.gridNewEdit.column.acaoEditRemove
                ]
            </script>,
            templateRows:
            @<tr>
                <td data-bind="text: DataHoraExibicao"></td>
                <td data-bind="text: DescricaoProdutoServicoLote"></td>
                <td data-bind="text: QtdeProdutoServicoFormaApresentacao"></td>
                <td data-bind="text: QtdeProdutoServico"></td>
                <td data-bind="template: { name: 'button-edit-remove' }"><!-- TODO: Implementar regra de EditarRegistro, não serão exibidos ações se item de estoque já tiver sido movimentado --></td>
            </tr>, orderByCol: "DataHoraExibicao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false, displayMode: "modal", showNewButtonObservable: "ExibeAdicionarNovo", useRemovedColumn: true)

        </div>
    </template>

    <template id="panel-requisicao">
        <div class="row" data-bind="css: { 'read-mode': !EditaItemRequisicao() }">
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="txtNumero">Item<span>(Automático)</span></label>
                    <input type="text" id="txtNumero" name="txtNumero" data-bind="value: Numero, mask : { options: defaults.mask.integer, value: Numero }" class="form-control" maxlength="6" />
                </div>
            </div>
            <div class="col-xs-10">
                <div class="form-group">
                    <label for="ddlItemProdutoServico">Produto</label>
                    @HtmlHelper.Select.SearchableKO("ddlItemProdutoServico", "IdProdutoServico", "IdProdutoServico", "DescricaoCodigo", "DescricaoCodigoBusca", "DescricaoCodigo", "/Estoque/Produto/List", dadosComplObservable: "dadosCompleProduto", idChaveRelacao: "IdProdutoServico", vmDataSelected: "ProdutoServicoVM", vmTextSelected: "CodigoDescricaoProdutoServico", required: true)
                </div>
            </div>
        </div>
        <div class="row" data-bind="visible: (!ControlaSaldo() && IdProdutoServico()!= null) ">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="txtDescricaoProduto">Descrição do Produto</label>
                    <input id="txtDescricaoProduto" name="txtDescricaoProduto" type="text" class="form-control" data-bind="value: DescricaoProdutoServico, validate: { required: !ControlaSaldo() }" maxlength="150" />
                </div>
            </div>
        </div>
        <div class="row" data-bind="css: { 'read-mode': !EditaItemRequisicao() }">
            <div class="col-xs-8">
                <div class="form-group">
                    <label for="ddlItemProdutoLocal">Local de Armazenagem</label>
                    @HtmlHelper.Select.SearchableKO("ddlItemProdutoLocal", "IdProdutoLocal", "IdProdutoLocal", "ProdutoLocalDescricao", "ProdutoLocalDescricao", "ProdutoLocalDescricao", "/Estoque/ProdutoServicoProdutoLocal/List", "Ativo:true", idChaveRelacao: "IdProdutoLocal", idControleDependencia: "ddlItemProdutoServico", idDependencia: "IdProdutoServico", required: true, allowClear: false, vmTextSelected: "DescricaoProdutoLocal")
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group read-mode">
                    <label for="txtItemSaldoLocal">Saldo no Local</label>
                    <div class="input-group">
                        <input type="text" id="txtQtdeFormaApresentacaoSaldo" name="txtQtdeFormaApresentacaoSaldo" data-bind="value: QtdeFormaApresentacaoSaldo, maskDecimal: { casasDecimais: CasasDecimaisUnidadeProduto, min: 1 }" class="form-control" maxlength="50" disabled="disabled" />
                        <div class="input-group-btn">
                            @HtmlHelper.Select.SearchableKO("ddlProdutoServicoFormaApresentacaoSaldo", "IdProdutoServicoFormaApresentacao", "IdProdutoServicoFormaApresentacao", "Sigla", "BuscaDetalhada", "DescricaoSigla", "/Estoque/ProdutoServicoFormaApresentacao/List", "Ativo:true", disabled: true)
                        </div>

                        <input type="text" id="txtQtdeProdutoServicoSaldo" name="txtQtdeProdutoServicoSaldo" data-bind="value: QtdeProdutoServicoSaldo, maskDecimal: { casasDecimais: CasasDecimaisUnidadeProduto, min: 1 }" class="form-control" maxlength="50" disabled="disabled" />
                        <div class="input-group-btn">
                            @HtmlHelper.Select.SearchableKO("ddlUnidadeProdutoServicoSaldo", "IdUnidadeProdutoServico", "IdUnidade", "Sigla", "Sigla", "Sigla", "/Estoque/Unidade/List", "Ativo:true", idChaveRelacao: "IdUnidade", disabled: true)
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6" data-bind="css: { 'read-mode': !EditaItemRequisicao() }">
                <div class="form-group">
                    <label for="txtQtdeFormaApresentacao">Apresentação (Embalagem)</label>
                    <div class="input-group">
                        <input type="text" id="txtQtdeFormaApresentacao" name="txtQtdeFormaApresentacao" data-bind="value: QtdeProdutoServicoFormaApresentacao, maskDecimal: { casasDecimais: CasasDecimaisFormaApresentacao }" class="form-control" maxlength="50" />
                        <div class="input-group-btn">
                            @HtmlHelper.Select.SearchableKO("ddlProdutoServicoFormaApresentacao", "IdProdutoServicoFormaApresentacao", "IdProdutoServicoFormaApresentacao", "Sigla", "BuscaDetalhada", "Sigla", "/Estoque/ProdutoServicoFormaApresentacao/List", "Ativo:true", disabled: true, allowClear: false, vmTextSelected: "SiglaProdutoServicoFormaApresentacao", required: true)
                        </div>
                    </div>
                    Quantidade por Embalagem:  <label id="txtQtdePorEmbalagemProdutoServico" name="QtdePorEmbalagemProdutoServico" data-bind="text:QtdePorEmbalagemProdutoServico"></label>
                </div>
            </div>
            <div class="col-xs-6" data-bind="css: { 'read-mode': !ExibeQuantidadeRequisicao() }">
                <div class="form-group">
                    <label for="txtQtdeProdutoServico">Quantidade</label>
                    <div class="input-group">
                        <input type="text" id="txtQtdeProdutoServico" name="txtQtdeProdutoServico" data-bind="value: QtdeProdutoServico, maskDecimal: { casasDecimais: CasasDecimaisUnidadeProduto }, validate: { required: true, min: SaldoEntregarRegra }" class="form-control" maxlength="50" />
                        <div class="input-group-btn">
                            @HtmlHelper.Select.SearchableKO("ddlUnidadeProdutoServico", "IdUnidadeProdutoServico", "IdUnidade", "Sigla", "Sigla", "Sigla", "/Estoque/Unidade/List", "Ativo:true", idChaveRelacao: "IdUnidade", allowClear: false, vmTextSelected: "SiglaUnidadeProdutoServico", vmDataSelected: "UnidadeProdutoServicoItemVM", required: true, dadosComplObservable: "dadosCompleUnidadeItem")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" data-bind="if: ExibeSubAplicacao, css: { 'read-mode': !EditaItemRequisicao() }">
            <div class="col-xs-8">
                <div class="form-group">
                    <label for="ddlItemSubAplicacaoReferencia">Sub Aplicação (detalhes de onde está sendo usado o Produto)</label>
                    @HtmlHelper.Select.SearchableKO("ddlItemSubAplicacaoReferencia", "IdsSubAplicacao", "IdSubAplicacaoIn", "DescricaoSubAplicacaoExibicao", "DescricaoSubAplicacaoBusca", "DescricaoSubAplicacaoExibicao", "/Aplicacao/SubAplicacaoReferencia/ListPorTipoAplicacao", urlSelecao: "/Aplicacao/SubAplicacaoReferencia/ListarPorIds", allowClear: false, idChaveRelacao: "IdSubAplicacaoReferencia", dadosComplObservable: "DadosCompleSubAplicacao", multiple: true)
                </div>
            </div>
        </div>
        <div class="row" data-bind="if: ExibeEntregaRapida">
            <div class="col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row" data-bind="if: ExibeEntregaRapida">
            <div class="col-xs-12">
                <div class="form-group pull-left">
                    <label for="chkEntregaTotal" style="display: block">Entrega Total</label>
                    <input type="checkbox" id="chkEntregaTotal" name="chkEntregaTotal" data-bind="checked: EntregaTotal, enable: $data.isValid, flipper: {}" />
                </div>
                <div class="alert alert-info alert-left">
                    <p><strong>Sim:</strong> serão entregues todos os itens da requisição. <br /><strong>Não:</strong> Faz somente a requisição, ou adiciona entregas parciais</p>
                </div>
            </div>
        </div>
    </template>

    <template id="newedit-entregas">
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group read-mode">
                    <label for="txtEntregaRequisitado">Requisitado</label>
                    <input type="text" id="txtEntregaRequisitado" name="txtEntregaRequisitado" data-bind="value: ExibicaoEstoqueRequisicaoItem" class="form-control" disabled="disabled" />
                </div>
            </div>
            @*<div class="col-xs-4">
                    <div class="form-group read-mode">
                        <label for="txtEntregaTotalEntregue">Total Entregue</label>
                        <input type="text" id="txtEntregaTotalEntregue" name="txtEntregaTotalEntregue" data-bind="value: Entregue" class="form-control" disabled="disabled" />
                    </div>
                </div>*@
            <div class="col-xs-4">
                <div class="form-group read-mode">
                    <label for="txtEntregaSaldo">Total Entregue</label>
                    <div class="input-group">
                        <input type="text" id="txtQtdeFormaApresentacaoSaldoEntregue" name="txtQtdeFormaApresentacaoSaldoEntregue" data-bind="value: QtdeFormaApresentacaoSaldo, maskDecimal: { casasDecimais: 2 }" class="form-control" maxlength="50" disabled="disabled" />
                        <div class="input-group-btn">
                            @HtmlHelper.Select.SearchableKO("ddlProdutoServicoFormaApresentacaoSaldoEntregue", "IdProdutoServicoFormaApresentacao", "IdProdutoServicoFormaApresentacao", "Sigla", "BuscaDetalhada", "DescricaoSigla", "/Estoque/ProdutoServicoFormaApresentacao/List", "Ativo:true", disabled: true)
                        </div>

                        <input type="text" id="txtQtdeProdutoServicoSaldoEntregue" name="txtQtdeProdutoServicoSaldoEntregue" data-bind="value: QtdeProdutoServicoSaldo, maskDecimal: { casasDecimais: 2 }" class="form-control" maxlength="50" disabled="disabled" />
                        <div class="input-group-btn">
                            @HtmlHelper.Select.SearchableKO("ddlUnidadeProdutoServicoSaldoEntregue", "IdUnidadeProdutoServico", "IdUnidade", "Sigla", "Sigla", "Sigla", "/Estoque/Unidade/List", "Ativo:true", idChaveRelacao: "IdUnidade", disabled: true)
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group read-mode">
                    <label for="txtEntregaSaldo">Saldo a Entregar</label>
                    @*<input type="text" id="txtEntregaSaldo" name="txtEntregaSaldo" data-bind="value: SaldoEntregar" class="form-control" disabled="disabled" />*@

                    <div class="input-group">
                        <input type="text" id="txtQtdeFormaApresentacaoSaldoEntrega" name="txtQtdeFormaApresentacaoSaldoEntrega" data-bind="value: QtdeFormaApresentacaoSaldo, maskDecimal: { casasDecimais: 2 }" class="form-control" maxlength="50" disabled="disabled" />
                        <div class="input-group-btn">
                            @HtmlHelper.Select.SearchableKO("ddlProdutoServicoFormaApresentacaoSaldoEntrega", "IdProdutoServicoFormaApresentacao", "IdProdutoServicoFormaApresentacao", "Sigla", "BuscaDetalhada", "DescricaoSigla", "/Estoque/ProdutoServicoFormaApresentacao/List", "Ativo:true", disabled: true)
                        </div>

                        <input type="text" id="txtQtdeProdutoServicoSaldoEntrega" name="txtQtdeProdutoServicoSaldoEntrega" data-bind="value: QtdeProdutoServicoSaldo, maskDecimal: { casasDecimais: 2 }" class="form-control" maxlength="50" disabled="disabled" />
                        <div class="input-group-btn">
                            @HtmlHelper.Select.SearchableKO("ddlUnidadeProdutoServicoSaldoEntrega", "IdUnidadeProdutoServico", "IdUnidade", "Sigla", "Sigla", "Sigla", "/Estoque/Unidade/List", "Ativo:true", idChaveRelacao: "IdUnidade", disabled: true)
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="txtDataRequisicaoEntrega">Data Requisição</label>
                    <div class="input-group date">
                        <input id="txtDataRequisicaoEntrega" name="txtDataRequisicaoEntrega" class="form-control mes-trigger" data-bind="value: DataHoraExibicao, validate: { required: true }, datepicker: { options: defaults.datepicker.datetime }, mask: { options: defaults.mask.datetime, value: DataHoraExibicao }" />
                        <span class="input-group-addon">
                            <i class="material-icons">&#xE878;</i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="txtEntregaQtdeFormaApresentacao">Apresentação (Embalagem)</label>
                    <div class="input-group">
                        <input type="text" id="txtEntregaQtdeFormaApresentacao" name="txtEntregaQtdeFormaApresentacao" data-bind="value: QtdeProdutoServicoFormaApresentacao, validate: { max: SaldoEntregar, required: true }" class="form-control" maxlength="50" />
                        <div class="input-group-btn">
                            @HtmlHelper.Select.SearchableKO("ddlEntregaProdutoServicoFormaApresentacao", "IdProdutoServicoFormaApresentacao", "IdProdutoServicoFormaApresentacao", "Sigla", "BuscaDetalhada", "Sigla", "/Estoque/ProdutoServicoFormaApresentacao/List", "Ativo:true", disabled: true, allowClear: false)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="txtEntregasQtde">Quantidade</label>
                    <div class="input-group">
                        <input type="text" id="txtEntregasQtde" name="txtEntregasQtde" data-bind="value: QtdeProdutoServico, mask: { options: defaults.mask.integer, value: QtdeProdutoServico }, validate: { max: SaldoEntregar, required: true }" class="form-control" />
                        <div class="input-group-btn">
                            @HtmlHelper.Select.SearchableKO("ddlEntregaUnidadeProdutoServico", "IdUnidadeProdutoServico", "IdUnidade", "Sigla", "Sigla", "Sigla", "/Estoque/Unidade/List", "Ativo:true", idChaveRelacao: "IdUnidade", allowClear: false)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group read-mode">
                    <label for="ddlPessoaEntregax">Usuário da Entrega</label>
                    @*@HtmlHelper.Select.SearchableKO("ddlPessoaEntregax", "IdPessoaEntrega", "IdPessoa", "CodigoNomeSecundario", "NomeDocumento", "Codigo", "/Corporativo/Pessoa/ListPorTipoComRestricaoCompraEstoque", idChaveRelacao: "IdPessoa", disabled:true)*@
                </div>
            </div>
        </div>
    </template>

</div>
