﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.AprovacaoProcessoConfiguracao.IndexVM

<routeoptions data-route-custom="route-AprovacaoProcessoConfiguracao" data-pos="1"></routeoptions>

<div id="filtro-grade">
    <template id="filter-AprovacaoProcessoConfiguracaoIndex">
        <div class="form-group" style="width: 250px">
            <label for="ddlFiltroSubProcesso" class="control-label">Processo e Sub Processo</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroSubProcesso", "IdSubProcesso", "IdSubProcesso", "DescricaoComProcesso", "Descricao", "DescricaoComProcesso", "/Corporativo/SubProcesso/List", "Ativo:true")
        </div>
    </template>
    @HtmlHelper.GridView.GridIndex(
        id: "AprovacaoProcessoConfiguracaoIndex",
        newUrl: "#/Corporativo/AprovacaoProcessoConfiguracao/New",
        editUrl: "#/Corporativo/AprovacaoProcessoConfiguracao/Edit",
        listUrl: "/Corporativo/SubProcesso/ListAprovacaoProcessoConfiguracao",
        columns:
        @<script>
            [
                { 'id': 'IdAprovacaoProcessoConfiguracao', filter: true, editColumn: true },
                { 'id': 'IdSubProcesso', filter: true },
                { 'id': 'Descricao', 'header': true, 'filter': true, 'defaultFilter': true, 'displayName': 'Sub Processo', sortable: true },
                { 'id': 'DescricaoProcesso', 'header': true, 'filter': true, 'defaultFilter': true, 'displayName': 'Processo', sortable: true, groupable: true },
                { 'id': 'PermiteComunicacao', 'header': true, 'filter': true, 'displayName': 'Permite Comunicacao', sortable: true, },
                { 'id': 'Parametrizado', 'header': true, 'filter': true, 'defaultFilter': true, 'displayName': 'Parametrizado', sortable: true, groupable: true, groupTextValues: ['Parametrizado', 'Não Parametrizado'] },
                { 'id': 'RealizaAprovacaoAprovacaoProcessoConfiguracao', 'header': true, 'filter': true, 'displayName': 'Realiza Aprovação', sortable: true, },
                defaults.gridNewEdit.column.acao
            ]
        </script>,
        templateRows:
        @<tr>
            <td data-bind="text: Descricao, id: IdAprovacaoProcessoConfiguracao"></td>
            <td data-bind="text: DescricaoProcesso"></td>
             <td data-bind="template: { name: 'label-status', data: { status: PermiteComunicacao } }"></td>
            <td data-bind="template: { name: 'label-status', data: { status: Parametrizado } }"></td>
            <td data-bind="template: { name: 'label-status', data: { status: RealizaAprovacaoAprovacaoProcessoConfiguracao } }"></td>
            <td>
                <div style="float:left;padding-left:5px;" data-bind="visible: IdAprovacaoProcessoConfiguracao == null">
                    <a data-bind="attr: { href: '#/Corporativo/AprovacaoProcessoConfiguracao/New/' + IdSubProcesso } " class="btn btn-secondary btn-icon" title="Novo"><i class="material-icons">&#xE150;</i></a>
                </div>
                <div style="float:left;padding-left:5px;" data-bind="visible: IdAprovacaoProcessoConfiguracao != null">
                    <a data-bind="attr: { href: '#/Corporativo/AprovacaoProcessoConfiguracao/Edit/' + IdAprovacaoProcessoConfiguracao } " class="btn btn-secondary btn-icon" title="Editar"><i class="material-icons">&#xE150;</i></a>
                </div>
            </td>
        </tr>, api: "indexVM.api", orderByCol: "Descricao", groupByCol: "Descricao", groupByDir: "asc", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: true)
</div>
@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}

