﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.AprovacaoProcessoConfiguracao.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-AprovacaoProcessoConfiguracao-NewEdit" data-bind="validateForm: { submitHandler: Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlSubProcesso" class="control-label">Processo e Sub Processo</label>
                                @HtmlHelper.Select.SearchableKO("ddlSubProcesso", "IdSubProcesso", "IdSubProcesso", "DescricaoComProcesso", "Descricao", "DescricaoComProcesso", "/Corporativo/SubProcesso/List", "Ativo:true, PermiteAprovacao:true", required: true)
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkRealizaAprovacao">Realiza Aprovação</label>
                                <input type="checkbox" class="no-uniform" id="chkRealizaAprovacao" data-bind="checked: RealizaAprovacao, flipper: { observable: RealizaAprovacao, options: defaults.flipper.ativoInativo }">
                            </div>
                        </div>
                        
                    </div>
                    <div class="row" data-bind="visible: RealizaAprovacao() == true">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkPermiteComunicacao">Permite Comunicação</label>
                                <input type="checkbox" class="no-uniform" id="chkPermiteComunicacao" data-bind="checked: PermiteComunicacao, flipper: { observable: PermiteComunicacao, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-bind="visible: RealizaAprovacao">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Configuração do Modelo de Aprovação</h3>
                </div>
                <div class="panel-body">
                    @HtmlHelper.GridView.GridNewEdit(
                id: "Etapa", // Declarar na página <template id="newedit-id"></template>
                vm: "lstEtapa",
                title: "Etapa",
                addTitle: "Nova",
                columns: @<script>
                    [
                        { 'id': 'IdAprovacaoProcessoConfiguracaoEtapa' },
                        { 'id': 'IdAprovacaoProcessoConfiguracao' },
                        { 'id': 'TempoLimite' },
                        { 'id': 'IdUnidadeTempo' },
                        { 'id': 'IdsGrupoResponsabilidade' },
                        { 'id': 'IdsUsuario' },
                        { 'id': 'Etapa', header: true, displayName: 'Etapa', 'sortable': true },
                        { 'id': 'GrupoResponsabilidadeExibicao', header: true, displayName: 'Grupos de Responsabilidade' },
                        { 'id': 'UsuarioExibicao', header: true, displayName: 'Pessoas' },
                        { 'id': 'QtdeAprovacaoNecessaria', header: true, displayName: 'Aprovações', 'sortable': true, defaultValue: 1 },
                        { 'id': 'FinalProcesso', header: true, displayName: 'Finaliza', 'sortable': true, defaultValue: false },
                        defaults.gridNewEdit.column.ativo,
                        defaults.gridNewEdit.column.acao
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: Etapa }  }"></td>
                    <td data-bind="text: GrupoResponsabilidadeExibicao"></td>
                    <td data-bind="text: UsuarioExibicao"></td>
                    <td data-bind="text: QtdeAprovacaoNecessaria"></td>
                    <td data-bind="template: { name: 'label-status', data: { status: FinalProcesso } }"></td>
                    <td data-bind="template: 'label-status'"></td>
                    <td data-bind="template: { name: 'button-edit' }"></td>
                </tr>, orderByCol: "Etapa", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: true)
                </div>
            </div>
        </div>
    </form>

    <template id="newedit-Etapa">
        <div class="row">
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="txtEtapa">Etapa</label>
                    <input type="number" id="txtEtapa" name="txtEtapa" data-bind="value: Etapa, validate: { required: true }" class="form-control" maxlength="4" min="1" />
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="txtQtdeAprovacaoNecessaria">Aprovações Necessárias</label>
                    <input type="number" id="txtQtdeAprovacaoNecessaria" name="txtQtdeAprovacaoNecessaria" data-bind="value: QtdeAprovacaoNecessaria, validate: { required: true }" class="form-control" maxlength="4" min="1" />
                </div>
            </div>
            <div class="col-xs-4">
                @HtmlHelper.Campo.UnidadeTipo("unidadeTempo", "TempoLimite", "5", "IdUnidadeTempo", label: "Tempo Limite")
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label class="control-label" for="chkFinalProcesso">Finaliza o Processo de Aprovação</label>
                    <input type="checkbox" class="no-uniform" id="chkFinalProcesso" data-bind="checked: FinalProcesso, flipper: { observable: FinalProcesso, options: { 'css': 'warning' } }">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="ddlGrupoResponsabilidade" class="control-label">Grupo de Responsabilidade</label>
                    @HtmlHelper.Select.SearchableKO("ddlGrupoResponsabilidade", "IdsGrupoResponsabilidade", "IdGrupoResponsabilidadeIn", "Descricao", "Descricao", "Descricao", "/Corporativo/GrupoResponsabilidade/List", "Ativo:true", multiple: true, vmTextSelected: "GrupoResponsabilidadeExibicao", idChaveRelacao: "IdGrupoResponsabilidade")
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="ddlUsuario" class="control-label">Pessoa</label>
                    @HtmlHelper.Select.SearchableKO("ddlUsuario", "IdsUsuario", "IdUsuarioIn", "NomePessoa", "Nomes", "NomePessoa", "/Seguranca/Usuario/List", "Ativo:true", multiple: true, vmTextSelected: "UsuarioExibicao", idChaveRelacao: "IdUsuario")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label class="control-label" for="chkAtivo">Ativo</label>
                    <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                </div>
            </div>
        </div>
    </template>

</div>



