﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.CategoriaServico.IndexVM
<routeoptions data-route-custom="route-categoriaServico"></routeoptions>

<div id="filtro-grade">
    <template id="filter-CategoriServicoIndex">
        <div class="form-group">
            <label for="txtFiltroCodigoDescricao" class="control-label">Código ou Descrição</label>
            <input type="text" id="txtFiltroCodigoDescricao" data-bind="textInput: CodigoDescricao" class="form-control" />
        </div>
        @*<div class="form-group">
                <label for="ddlAplicacaoTipo">Onde pode ser usado (Aplicação)</label>
                @HtmlHelper.Select.SearchableKO("ddlAplicacaoTipo", "IdAplicacaoTipoIn", "IdAplicacaoTipoIn", "Descricao", "Descricao", "Descricao", "/Aplicacao/AplicacaoTipo/List", "Ativo:true", multiple: true, idChaveRelacao: "IdAplicacaoTipo")
            </div>*@


        <div class="form-group">
            <label for="ddlFiltroAplicacoesTipo" class="control-label">Onde pode ser usado (Aplicação)</label>
            <select id="ddlFiltroAplicacoesTipo" class="form-control no-search" data-bind="value: TipoAplicacaoTipo">
                <option value="" selected="selected"></option>
                <option value="1">Benfeitoria</option>
                <option value="2">Local de Produção</option>
                <option value="3">Benfeitoria e Local de Produção</option>
                <option value="4">Lote</option>
                <option value="5">Animal</option>
                <option value="6">Lote e Animal</option>
                <option value="7">Equipamento</option>
            </select>
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
        id: "CategoriServicoIndex",
        newUrl: "#/Corporativo/CategoriaServico/New",
        editUrl: "#/Corporativo/CategoriaServico/Edit",
        listUrl: "/Corporativo/CategoriaServico/List",
        columns:
        @<script>
            [
                { 'id': 'CodigoDescricao', 'filter': true, 'defaultFilter': true },
                { 'id': 'IdAplicacaoTipoIn', filter: true },
                { 'id': 'TipoAplicacaoTipo', filter: true },
                { 'id': 'IdCategoriaServico', editColumn: true },
                { 'id': 'Codigo', 'header': true, 'filter': true, displayName: 'Código', sortable: true },
                { 'id': 'Descricao', 'header': true, displayName: 'Descrição', sortable: true },
                { 'id': 'DescricaoTipoAplicacaoTipo', 'header': true, displayName: 'Pode ser usado em', sortable: true },
                { 'id': 'DescricaoTipoUtilizacao', 'header': true, displayName: 'Tipo', sortable: true },
                defaults.gridNewEdit.column.ativo,
                { displayName: "Ações", header: true, width: '325px' }
            ]
        </script>,
        templateRows:
        @<tr>
            <td data-bind="text: Codigo"></td>
            <td data-bind="text: Descricao, id: IdCategoriaServico"></td>
            <td data-bind="text: DescricaoTipoAplicacaoTipo"></td>
            <td data-bind="text: DescricaoTipoUtilizacao"></td>
            <td data-bind="template: 'label-status'"></td>
            <td>
                <div style="float:left">
                    <span data-bind="template: { name: 'button-edit-url', data: { id: IdCategoriaServico } }"></span>
                </div>
                <div style="float:left;padding-left:5px;">
                    <a data-bind="attr: { href: '#/Corporativo/CategoriaServicoOrdem/CategoriaServicoOrdem/' + IdCategoriaServico }" class="btn btn-secondary btn-icon" title="Ordem"><i class="fa fa-file-text-o"></i></a>
                </div>
                <div style="float:left;padding-left:5px;">
                    <a data-bind="attr: { href: '#/Corporativo/CategoriaServicoProduto/Produto/' + IdCategoriaServico }" class="btn btn-secondary btn-icon" title="Produto"><i class="fa fa-product-hunt"></i></a>
                </div>
                <div style="float:left;padding-left:5px;" data-bind="visible: (IdNaturezaOperacional == 3)">
                    <a data-bind="attr: { href: '#/Corporativo/CategoriaServicoMateriaPrima/MateriaPrima/' + IdCategoriaServico }" class="btn btn-secondary btn-icon" title="Materia Prima"><i class="fa fa-cubes"></i></a>
                </div>
                <div style="float:left;padding-left:5px;">
                    <a data-bind="attr: { href: '#/Corporativo/CategoriaServicoEquipamento/Equipamento/' + IdCategoriaServico }" class="btn btn-secondary btn-icon" title="Equipamento"><i class="fa fa-truck"></i></a>
                </div>
                <div style="float:left;padding-left:5px;">
                    <a data-bind="attr: { href: '#/Corporativo/CategoriaServicoMaoDeObra/MaoDeObra/' + IdCategoriaServico }" class="btn btn-secondary btn-icon" title="Mão de Obra"><i class="fa fa-hand-paper-o"></i></a>
                </div>
                <div style="float:left;padding-left:5px;">
                    <a data-bind="attr: { href: '#/Corporativo/CategoriaServicoProducao/Producao/' + IdCategoriaServico }" class="btn btn-secondary btn-icon" title="Produção"><i class="fa fa-shopping-basket"></i></a>
                </div>
                <div data-bind="visible: IdNaturezaOperacional == 1" style="float:left;padding-left:5px;">
                    <a data-bind="attr: { href: '#/Corporativo/CategoriaServicoPlantio/Plantio/' + IdCategoriaServico }" class="btn btn-secondary btn-icon" title="Plantio"><i class="fa fa-tree"></i></a>
                </div>
            </td>
        </tr>, api: "indexVM.api", orderByCol: "Descricao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)
</div>

