﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.CategoriaServico.NewEditVM

<routeoptions data-route-custom="route-categoriaServico"></routeoptions>

<div data-bind="stopBindings: true">
    <form id="form-CategoriaServico-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtCodigo">Código<span>(Automático)</span></label>
                                <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" maxlength="500" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtDescricao">Descrição</label>
                                <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="150" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkAtivo">Ativo</label>
                                <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                            </div>
                        </div>
                    </div>
                    <div class="optional" id="pnlDetalheCategoriaServico" data-bind="collapsible: { vmArray: [ vm.IdNaturezaOperacional(), vm.IdsAtividadeEconomica()  ] }">
                        <a href="#">Detalhe sobre a Categoria</a>
                        <div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="ddlNaturezaOperacional" class="control-label">Natureza de Controle Operacional</label>
                                        @HtmlHelper.Select.SearchableKO("ddlNaturezaOperacional", "IdNaturezaOperacional", "IdNaturezaOperacional", "Descricao", "Descricao", "Descricao", "/Corporativo/NaturezaOperacional/List", "Ativo:true")
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="ddlTipoApropiacaoCusto" class="control-label">Forma de Apropiação para Custos</label>
                                        <select placeholder="ddlTipoApropiacaoCusto" id="ddlTipoApropiacaoCusto" class="form-control no-search" data-bind="value: TipoApropiacaoCusto">
                                            <option value="1">Serviços Gerais</option>
                                            <option value="2">Serviços de Produção e Operacionais</option>
                                            <option value="3">Serviços para Investimento</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label for="ddlAtividadeEconomica" class="control-label">Atividade Econômica</label>
                                        @HtmlHelper.Select.SearchableKO("ddlAtividadeEconomica", "IdsAtividadeEconomica", "IdAtividadeEconomicaIn", "Descricao", "Descricao", "Descricao", "/Contabilidade/AtividadeEconomica/ListComAplicacaoTipo", "Ativo:true", idChaveRelacao: "IdAtividadeEconomica", multiple: true, vmDataSelected: "AtividadeEconomicaParam")
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="control-label" for="chkPlanejamentoObrigatorio">Exige Planejamento</label>
                                        <input type="checkbox" class="no-uniform" id="chkPlanejamentoObrigatorio" data-bind="checked: PlanejamentoObrigatorio, flipper: { observable: PlanejamentoObrigatorio, options: { 'css': 'warning' } }">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="control-label" for="chkPermiteApontamentoMovel">Permite ser utilizado via Apontamento Móvel</label>
                                        <input type="checkbox" class="no-uniform" id="chkPermiteApontamentoMovel" data-bind="checked: PermiteApontamentoMovel, flipper: { observable: PermiteApontamentoMovel, options: { 'css': 'warning' } }">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-toggle="collapsible" id="pnlInformeServicoIdentificacao" data-bind="collapsible: { vmArray: [ vm.PermiteInformeServico(), vm.TipoCodigo(), vm.Prefixo()  ] }">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Informe de Serviço e Identificação</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label" for="chkPermiteInformeServico">Permite realizar Informe de Serviço</label>
                                <input type="checkbox" class="no-uniform" id="chkPermiteInformeServico" data-bind="checked: PermiteInformeServico, flipper: { observable: PermiteInformeServico, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label" for="chkTerminoInforme">Permite Informar Término no Próprio Informe</label>
                                <input type="checkbox" class="no-uniform" id="chkTerminoInforme" data-bind="checked: TerminoInforme, flipper: { observable: TerminoInforme, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTipoCodigo" class="control-label">A geração de Código do Informe será definida</label>
                                <select placeholder="ddlTipoCodigo" id="ddlTipoCodigo" class="form-control no-search" data-bind="value: TipoCodigo">
                                    <option value="1">Manualmente</option>
                                    <option value="2">Sequencialmente</option>
                                    <option value="3">Sequencialmente por Empresa Usuária</option>
                                    <option value="4">Sequencialmente por Categoria de Serviço</option>
                                    <option value="5">Sequencialmente por Local e Cultura</option>
                                    <option value="6">Sequencialmente por Local, Cultura e Ano</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtPrefixo">Prefixo paa Codificação</label>
                                <input type="text" id="txtPrefixo" name="txtPrefixo" data-bind="value: Prefixo" class="form-control" maxlength="5" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" id="pnlAplicacoesSubAplicacoes">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Aplicações e Sub Aplicações</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="ddlAplicacoesTipo">Onde se pode utilizar esta Categoria?</label>
                                <select id="ddlAplicacoesTipo" class="form-control no-search" data-bind="value: TipoAplicacaoTipo" style="min-width: 250px">
                                    <option value="1">Benfeitoria</option>
                                    <option value="2">Local de Produção</option>
                                    <option value="3">Benfeitoria e Local de Produção</option>
                                    <option value="4">Lote</option>
                                    <option value="5">Animal</option>
                                    <option value="6">Lote e Animal</option>
                                    <option value="7">Equipamento</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Tipo de Aplicação -->
                    <!-- begin -->
                    <!-- (Tipo de Benfeitoria, Tipo de Equipamento, Tipo de Animal, Tipo de Local de Produção) -->
                    <!-- Tipo de Benfeitoria[ TipoAplicacaoTipo == 1 || 3 ] -->
                    <div class="row" data-bind="visible: (vm.TipoAplicacaoTipo() == '1' || vm.TipoAplicacaoTipo() == '3')">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="ddlBenfeitoriaTipo">Quais os Tipos de Benfeitoria que podem ser utilizados?</label>
                                @HtmlHelper.Select.SearchableKO("ddlBenfeitoriaTipo", "IdsBenfeitoriaTipo", "IdBenfeitoriaTipoIn", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Corporativo/BenfeitoriaTipo/List", idChaveRelacao: "IdBenfeitoriaTipo", multiple: true, dataBind: "validate: { required:  (vm.TipoAplicacaoTipo() == '1') }", dadosCompl: "Ativo:true, UltimoNivel:true")
                            </div>
                        </div>
                    </div>
                    <!-- Local de Produção --->
                    <div class="row" data-bind="visible: (vm.TipoAplicacaoTipo() == '2' || vm.TipoAplicacaoTipo() == '3')">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="ddlProducaoLocalTipo">Quais os Tipos de Local de Produção que podem ser utilizados?</label>
                                @HtmlHelper.Select.SearchableKO("ddlProducaoLocalTipo", "IdsProducaoLocalTipo", "IdProducaoLocalTipoIn", "Descricao", "Descricao", "Descricao", "/Agricola/TipoLocal/List", idChaveRelacao: "IdProducaoLocalTipo", multiple: true, dataBind: "validate: { required:  (vm.TipoAplicacaoTipo() == '2' || vm.TipoAplicacaoTipo() == 3) }", dadosComplObservable: "dadosComplementaresLocalProducao")
                            </div>
                        </div>
                    </div>
                    <!--Tipo Criação Animal-->
                    <div class="row" data-bind="visible:  (vm.TipoAplicacaoTipo() == '4' ||  vm.TipoAplicacaoTipo() == '5' ||  vm.TipoAplicacaoTipo() == '6')">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <label for="ddlCriacaoTipo">Quais os Tipos de Animal que podem ser utilizados?</label>
                                @HtmlHelper.Select.SearchableKO("ddlCriacaoTipo", "IdsCriacaoTipo", "IdCriacaoTipoIn", "Descricao", "Descricao", "Descricao", "/Criacao/Tipo/List", "Ativo:true", idChaveRelacao: "IdCriacaoTipo", multiple: true, dataBind: "validate: { required:  (vm.TipoAplicacaoTipo() == 4 || vm.TipoAplicacaoTipo() == 5 || vm.TipoAplicacaoTipo() == 6 && vm.TipoControleSubAplicacao() == '3') }")
                            </div>
                        </div>
                    </div>
                    <!-- Tipo Equipamento -->
                    <div class="row" data-bind="visible:  vm.TipoAplicacaoTipo() == '7'">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <label for="ddlAutomotivoEquipamento">Quais os Tipos de Equipamento que podem ser utilizados?</label>
                                @HtmlHelper.Select.SearchableKO("ddlAutomotivoEquipamento", "IdsAutomotivoTipoEquipamento", "IdAutomotivoTipoEquipamentoIn", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Automotivo/TipoEquipamento/List", "Ativo:true, UltimoNivel:true", idChaveRelacao: "IdAutomotivoTipoEquipamento", multiple: true, dataBind: "validate: { required: vm.TipoAplicacaoTipo() == 7 }")
                            </div>
                        </div>
                    </div>

                    <!-- end -->
                    <!-- Condicional para Exibição e Controle de Sub Aplicação -->
                    <div class="row" data-bind="visible: (vm.TipoAplicacaoTipo() == '2' || vm.TipoAplicacaoTipo() == '3' || vm.TipoAplicacaoTipo() == '4' || vm.TipoAplicacaoTipo() == '5' || vm.TipoAplicacaoTipo() == '6' || vm.TipoAplicacaoTipo() == '7')">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="ddlTipoControleSubAplicacao" class="control-label">Permite o Controle de Sub Aplicações?</label>
                                <select id="ddlTipoControleSubAplicacao" class="form-control no-search" data-bind="value: TipoControleSubAplicacao" style="min-width: 250px">
                                    <option value="1" selected="selected">Não Permitido</option>
                                    <option value="2">Permitido</option>
                                    <option value="3">Obrigatório</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: (TipoControleSubAplicacao() == '2' || TipoControleSubAplicacao() == '3')">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label" for="chkMultiAplicacao">Permite o uso de várias Aplicações(Propriedades Rurais, Equipamentos, Animais, Etc.) </label>
                                <input type="checkbox" class="no-uniform" id="chkMultiAplicacao" data-bind="checked: MultiAplicacao, flipper: { observable: MultiAplicacao, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                    </div>

                    <!-- Sub Tipo de Aplicação  -->
                    <!-- begin -->
                    <!-- Tipo de Unidade de Produção -->
                    <div class="row" data-bind="visible: ((vm.TipoControleSubAplicacao() == '2' || vm.TipoControleSubAplicacao() == '3') && (vm.TipoAplicacaoTipo() == '2' || vm.TipoAplicacaoTipo() == '3'))">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="ddlUnidadeProducao">Quais os Tipo Unidade e Área de Produção podem ser utilizados?</label>
                                @HtmlHelper.Select.SearchableKO("ddlUnidadeProducao", "IdsProducaoUnidadeTipo", "IdProducaoUnidadeTipoIn", "DescricaoProducaoUnidadeTipo", "DescricaoProducaoUnidadeTipo", "DescricaoProducaoUnidadeTipo", "/Agricola/ProducaoUnidadeTipoLocalTipo/List", "Ativo:true", idChaveRelacao: "IdProducaoUnidadeTipo", multiple: true, dataBind: "validate: { required: (vm.TipoControleSubAplicacao() == 3 && (vm.TipoAplicacaoTipo() == '2' || vm.TipoAplicacaoTipo() == '3'))}", idControleDependencia: "ddlProducaoLocalTipo", idDependencia: "IdProducaoLocalTipoIn")
                            </div>
                        </div>
                    </div>
                    <!-- Categoria Animal -->
                    <div class="row" data-bind="visible: ((vm.TipoControleSubAplicacao() == '2' || vm.TipoControleSubAplicacao() == '3') && (vm.TipoAplicacaoTipo() == '4' || vm.TipoAplicacaoTipo() == '5' || vm.TipoAplicacaoTipo() == '6'))">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="ddlCategoriaAnimal">Quais as Categorias de Animal podem ser utilizados?</label>
                                @HtmlHelper.Select.SearchableKO("ddlCategoriaAnimal", "IdsCriacaoCategoria", "IdCriacaoCategoriaIn", "Descricao", "Descricao", "Descricao", "/Criacao/Categoria/List", "Ativo:true", idChaveRelacao: "IdCriacaoCategoria", multiple: true, dataBind: "validate: { required: (vm.TipoControleSubAplicacao() == 3 && (vm.TipoAplicacaoTipo() == '2' || vm.TipoAplicacaoTipo() == '3'))}")
                            </div>
                        </div>
                    </div>
                    <!--Parte Equipamento-->
                    <div class="row" data-bind="visible: ((vm.TipoControleSubAplicacao() == '2' || vm.TipoControleSubAplicacao() == '3') && (vm.TipoAplicacaoTipo() == '7'))">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <label for="ddlAplicacoesSubTipo">Quais as Partes Equipamento podem ser utilizados?</label>
                                @HtmlHelper.Select.SearchableKO("ddlAutomotivoParteEquipamento", "IdsAutomotivoParteEquipamento", "IdAutomotivoParteEquipamentoIn", "Descricao", "Descricao", "Descricao", "/Automotivo/ParteEquipamento/List", "Ativo:true", idChaveRelacao: "IdAutomotivoParteEquipamento", multiple: true, dataBind: "validate: { required: ((vm.TipoControleSubAplicacao() == '2' || vm.TipoControleSubAplicacao() == '3') && (vm.TipoAplicacaoTipo() == '7')) }")
                            </div>
                        </div>
                    </div>

                    <!-- end -->
                </div>
            </div>
            <div class="panel panel-default" data-toggle="collapsible" id="pnlEtapaSubAtividade" data-bind="collapsible: { vmArray: [vm.IdsEtapas() ] }">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Etapa e Sub Atividade</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label" for="chkControleEtapa">Controla Etapa</label>
                                <input type="checkbox" class="no-uniform" id="chkControleEtapa" data-bind="checked: PermiteControleEtapa, flipper: { observable: PermiteControleEtapa, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: vm.PermiteControleEtapa() == true">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <label for="ddlAtividadeEconomicaEtapa">Quais as Etapas são realizadas nesta Categoria ?</label>
                                @HtmlHelper.Select.SearchableKO("ddlAtividadeEconomicaEtapa", "IdsEtapas", "IdAtividadeEconomicaEtapaIn", "DescricaoAtividadeEconomicaEtapa", "DescricaoAtividadeEconomicaEtapa", "DescricaoAtividadeEconomicaEtapa", "/Contabilidade/AtividadeEconomicaEtapa/ListPorAtividadeEconomica", "Ativo:true", idChaveRelacao: "IdAtividadeEconomicaEtapa", multiple: true, dataBind: "validate: { required: vm.PermiteControleEtapa() } ", dadosComplObservable: "dadosComplementaresAtividadeEconomicaEtapa")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-toggle="collapsible" id="pnlServicoAtividadeOperacao" data-bind="collapsible: { vmArray: [vm.IdsProdutoServicoGrupo(),vm.EtapasServico() ] }">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Serviços, Atividades ou Operações</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTipoRestricaoServico" class="control-label">Existe restrição de Serviços ?</label>
                                <select placeholder="ddlTipoRestricaoServico" id="ddlTipoRestricaoServico" class="form-control no-search" data-bind="value: TipoRestricaoServico">
                                    <option value="1">Sem Restrição</option>
                                    <option value="2">Restrição por Grupo de Serviços</option>
                                    <option value="3">Restrição por Serviços Individualmente</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label" for="chkPermiteControleTempoPorServico">Controla Tempo por Serviço</label>
                                <input type="checkbox" class="no-uniform" id="chkPermiteControleTempoPorServico" data-bind="checked: PermiteControleTempoPorServico, flipper: { observable: PermiteControleTempoPorServico, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: vm.TipoRestricaoServico() == 2">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <label for="ddlIdsProdutoServicoGrupo">Quais os Grupos de Serviços e Atividades podem ser informados ?</label>
                                @HtmlHelper.Select.SearchableKO("ddlIdsProdutoServicoGrupo", "IdsProdutoServicoGrupo", "IdProdutoServicoGrupoIn", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Estoque/ProdutoServicoGrupo/List", "Ativo:true, UltimoNivel:true", idChaveRelacao: "IdProdutoServicoGrupo", multiple: true, dataBind: " validate: { required: (vm.TipoRestricaoServico() == 2 && vm.PermiteControleEtapa() == false) } ")
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: vm.TipoRestricaoServico() == 3">
                        <div class="panel-body">
                            @HtmlHelper.GridView.GridNewEdit(
                    id: "EtapaServico", // Declarar na página <template id="newedit-id"></template>
                    vm: "EtapasServico",
                    title: "Restrição de Serviços",
                    addTitle: "Relacionar",
                    columns: @<script>
                        [
                            { 'id': 'IdCategoriaServicoEtapaServico' },
                            { 'id': 'IdCategoriaServico' },
                            { 'id': 'IdProdutoServico' },
                            { 'id': 'IdAtividadeEconomicaEtapa' },
                            { 'id': 'DescricaoAtividadeEconomicaEtapa', header: true, displayName: 'Etapa', 'sortable': true },
                            { 'id': 'DescricaoProdutoServico', header: true, displayName: 'Serviço', 'sortable': true },
                            { 'id': 'Ordem', header: true, displayName: 'Ordem', 'sortable': true },
                            defaults.gridNewEdit.column.acaoEditRemove
                        ]
                    </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: DescricaoAtividadeEconomicaEtapa }  }"></td>
                    <td data-bind="text: DescricaoProdutoServico"></td>
                    <td data-bind="text: Ordem"></td>
                    <td data-bind="template: { name: 'button-edit-remove' }"></td>
                </tr>, orderByCol: "Ordem", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" id="pnlEmpresaEmissoraEmpresaDestinataria">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">EMPRESAS EMISSORAS E DESTINATÁRIOS</h3>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <legend>Empresa Emissora</legend>
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="form-group">
                                    <label for="ddlIdsEmpresaEmissora">Caso alguma Empresa não possa Emitir Ordem ou Informes desta Categoria de Serviços aponte-os abaixo</label>
                                    @HtmlHelper.Select.SearchableKO("ddlEmpresaEmissora", "IdsEmpresaEmissora", "IdPessoaIn", "NomeSecundario", "Nomes", "NomeSecundario", "/Corporativo/Pessoa/ListPessoaPersonalizado", "Ativo:true, ComPessoa:false, ComEmpresa:false, ComEmpresaUsuaria:true, IdPessoaNaturezaNotIn: 4", idChaveRelacao: "IdPessoa", multiple: true)
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>DESTINATÁRIO DO SERVIÇO</legend>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="ddlTipoDestinatario" class="control-label">Possui destinatário padrão?</label>
                                    <select id="ddlTipoDestinatario" class="form-control no-search" data-bind="value: TipoDestinatario">
                                        <option value="1">Para Qualquer Empresa</option>
                                        <option value="2">Para Qualquer Empresa Usuária e Qualquer Pessoa</option>
                                        <option value="3">Para a Empresa Usuária Selecionada</option>
                                        <option value="4">Para a Empresa Usuária Selecionada e Qualquer Pessoa</option>
                                        <option value="5">Para Qualquer Pessoa</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-4" data-bind="visible: vm.TipoDestinatario() == 1 || vm.TipoDestinatario() == 2">
                                <div class="form-group">
                                    <label for="ddlTipoDestinatario" class="control-label">Possui destinatário padrão?</label>
                                    @HtmlHelper.Select.SearchableKO("ddlEmpresaUsuariaPadrao", "IdPessoaEmpresa", "IdPessoa", "NomeSecundario", "Nomes", "NomeSecundario", "/Corporativo/Pessoa/ListPessoaPersonalizado", "Ativo:true,ComEmpresa:false,ComEmpresaUsuaria:true,ComPessoa:false, IdPessoaNaturezaNotIn: 4", idChaveRelacao: "IdPessoa")
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Usuários Emissores</legend>
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="form-group">
                                    <label for="ddlIdsUsuarioRestrito">Caso algum Usuário não possa Emitir Ordem ou Informes desta Categoria de Serviço aponte-os abaixo</label>
                                    @HtmlHelper.Select.SearchableKO("ddlIdsUsuarioRestrito", "IdsUsuarioRestritos", "IdUsuarioIn", "NomePessoa", "Nomes", "NomePessoa", "/Seguranca/Usuario/List", "Ativo:true", idChaveRelacao: "IdUsuario", multiple: true)
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </form>
    <template id="newedit-EtapaServico">
        <div class="row">
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="txtOrdem-Modal">Ordem</label>
                    <input type="number" id="txtOrdem-Modal" name="txtOrdem-Modal" data-bind="value: Ordem" class="form-control" maxlength="500" />
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="ddlAtividadeEconomicaEtapaModal">Etapa</label>
                    @HtmlHelper.Select.SearchableKO("ddlAtividadeEconomicaEtapaModal", "IdAtividadeEconomicaEtapa", "IdAtividadeEconomicaEtapa", "Descricao", "Descricao", "Descricao", "/Contabilidade/AtividadeEconomicaEtapa/List", "Ativo:true", idChaveRelacao: "IdAtividadeEconomicaEtapa", required: true, vmTextSelected: "DescricaoAtividadeEconomicaEtapa")
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="ddlProdutoServico-modal">Serviço</label>
                    @HtmlHelper.Select.SearchableKO("ddlProdutoServico-modal", "IdProdutoServico", "IdProdutoServico", "Descricao", "BuscaDetalhada", "Descricao", "/Estoque/Servico/List", "Ativo:true", idChaveRelacao: "IdProdutoServico", required: true, vmTextSelected: "DescricaoProdutoServico")
                </div>
            </div>
        </div>
    </template>
</div>
