﻿@model HTM.MasterGestor.Web.UI.Areas.Questionario.ViewModels.Categoria.NewEditVM

<div>
    <form id="form-QuestionarioCategoria-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlQuestionarioTipo">Tipo de Questinário</label>
                            @HtmlHelper.Select.SearchableKO("ddlQuestionarioTipo", "IdQuestionarioTipo", "IdQuestionarioTipo", "Descricao", "Descricao", "Descricao", "/Questionario/Tipo/List", "Ativo:true", required: true)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="txtDescricaoDetalhada">Descrição Detalhada</label>
                            <textarea data-bind="value: DescricaoDetalhada, wysiwyg: { observable: DescricaoDetalhada, options: defaults.wysiwyg.text }" class="form-control" id="txtDescricaoDetalhada" name="txtDescricaoDetalhada" data-allowclear="false"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
