﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.ModeloConteudo.IndexVM

<routeoptions data-show-back-button="true" data-route-custom="route-empresa" data-title-descricao="@Model.DescricaoExibicao"></routeoptions>

<div id="filtro-grade">
    <template id="filter-ModeloConteudoIndex">
        <div class="form-group" style="width:300px">
            <label for="ddlFiltroTela">Tela</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroTela", "IdTela", "IdTela", "Descricao", "TituloTela", "TituloTela", "/Configuracao/Tela/List", "Ativo: true")
        </div>
        <div class="form-group">
            <label for="ddlFiltroModulo" class="control-label" style="width: 300px">Módulo</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroModulo", "IdModulo", "IdModulo", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Configuracao/Modulo/List", "Ativo:true")
        </div>
    </template>

    @HtmlHelper.GridView.GridIndex(
        id: "ModeloConteudoIndex",
        newUrl: "#/Corporativo/ModeloConteudo/New",
        editUrl: "#/Corporativo/ModeloConteudo/Edit",
        listUrl: "/Corporativo/ModeloConteudo/List",
        parentId: "'" + Model.ParentId.ToString() + "'",
        columns:
        @<script>
            [
                { 'id': 'IdEmpresaModeloConteudo', 'filter': true, 'editColumn': true },
                { 'id': 'IdTela', 'filter': true },
                { 'id': 'IdModulo', 'filter': true },

                { 'id': 'TelaDescricao', 'header': true, 'filter': true, displayName: 'Tela', sortable: true },
                { 'id': 'ModuloDescricao', 'header': true, 'filter': true, displayName: 'Módulo', sortable: true, groupable:true },
                { 'id': 'Modelo', header: true, displayName: 'Modelo', 'sortable': true },
                { 'id': 'PermiteCadastroIndependente', header: true, displayName: 'Cadastrar', 'sortable': true },

                { displayName: "Ações", width: "85px", header: true, sortable: false }
            ]
        </script>,
        templateRows:
        @<tr>
             <td data-bind="text: TelaDescricao"></td>
             <td data-bind="text: ModuloDescricao"></td>
             <td data-bind="text: Modelo"></td>
             <td data-bind="template: { name: 'label-status', data: { status: PermiteCadastroIndependente } }"></td>
             <td data-bind="template: { name: 'button-edit-url', data: { id: IdEmpresaModeloConteudo } }"></td>
        </tr>,api: "indexVM.api",orderByCol: "TelaDescricao", groupByCol:"ModuloDescricao", orderByDir: HelpersUtil.OrderByDirEnum.Asc,useHiddenColumns: true,useSelection: true)
</div>

