﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.ModeloConteudo.NewEditVM

<routeoptions data-route-custom='route-empresa'></routeoptions>

<div data-bind="stopBindings: true">
    <form id="form-ModeloConteudo-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group read-mode">
                            <label for="ddlModulo">Tela<span>Cadastro</span></label>
                            @HtmlHelper.Select.SearchableKO("ddlTela", "IdTela", "IdTela", "TituloMenu", "TituloMenu", "TituloMenu", "/Configuracao/Tela/List", "Ativo: true", required: true, allowClear: false, disabled: true)
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group read-mode">
                            <label for="ddlModulo">Módulo</label>
                            @HtmlHelper.Select.SearchableKO("ddlModulo", "IdModulo", "IdModulo", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Configuracao/Modulo/List", "Ativo: true, ComPai: true, UltimoNivel:true", required: true, allowClear: false, disabled: true)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="ddlModulo">Empresas Modelos</label>
                            @HtmlHelper.Select.SearchableKO("ddlEmpresas", "IdsEmpresa", "IdEmpresa", "Nome", "Nome", "Nome", "/Corporativo/Empresa/List", dadosComplObservable: "EmpresaModeloDadosCompl", multiple: true, idChaveRelacao: "IdEmpresa", vmTextSelected: "Modelo")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkPermiteCadastroIndependente">Permite cadastramento independente do modelo</label>
                            <input type="checkbox" class="no-uniform" id="chkPermiteCadastroIndependente" data-bind="checked: PermiteCadastroIndependente, flipper: { observable: PermiteCadastroIndependente, options: { 'css': 'warning' } }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
