﻿@model HTM.MasterGestor.Web.UI.Areas.Aplicacao.ViewModels.AplicacaoTipo.IndexVM

<div id="filtro-grade">
    <template id="filter-AplicacaoTipoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>        
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "AplicacaoTipoIndex",
    newUrl: "#/Aplicacao/AplicacaoTipo/New",
    editUrl: "#/Aplicacao/AplicacaoTipo/Edit",
    listUrl: "/Aplicacao/AplicacaoTipo/List",
    columns:
    @<script>
        [
           { 'id': 'Codigo', header: true, displayName: 'Código' },
           { 'id': 'Descricao', displayName: 'Descrição', filter: true, header: true, 'defaultFilter': true },
           { 'id': 'DescricaoAplicacaoTabelaReferencia', header: true, displayName: 'Tabela Aplicação' },
           { 'id': 'UtilizaCategoriaAplicacao', header: true, displayName: 'Possui Sub Aplicação' },
           { 'id': 'DescricaoCentroCustoTipo', header: true, displayName: 'Centro de Custo' },
           { 'id': 'IdAplicacaoTipo', editColumn: true },
           defaults.gridNewEdit.column.ativo,
           defaults.gridNewEdit.column.acao
        ]
    </script>,
      templateRows:
    @<tr>
         <td data-bind="text: Codigo"></td>       
         <td data-bind="text: Descricao"></td>   
         <td data-bind="text: DescricaoAplicacaoTabelaReferencia"></td>  
         <td data-bind="template: { name: 'label-status', data: { status: UtilizaCategoriaAplicacao } }"></td>
         <td data-bind="text: DescricaoCentroCustoTipo"></td>
         <td data-bind="template: 'label-status'"></td>
         <td data-bind="template: { name: 'button-edit-url', data: { id: IdAplicacaoTipo } }"></td>
    </tr>,
    api: "indexVM.api",
    orderByCol: "Descricao",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,
    useHiddenColumns: false)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
