﻿@model HTM.MasterGestor.Web.UI.Areas.Aplicacao.ViewModels.AplicacaoTipo.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-AplicacaoTipo-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtCodigo">Código<span>(Automático)</span></label>
                            <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo, enable: EditarRegistro" class="form-control" maxlength="120" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true}, enable: EditarRegistro" class="form-control" maxlength="120" />
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="ddlTabelaReferencia">Tabela Referência de Aplicação</label>
                            @HtmlHelper.Select.SearchableKO("ddlTabelaReferencia", "IdAplicacaoTabelaReferencia", "IdAplicacaoTabelaReferencia", "Descricao", "Descricao", "Descricao", "/Aplicacao/TabelaReferencia/List", "Ativo:true", idChaveRelacao: "IdAplicacaoTabelaReferencia", required: true, dataBind: "enable: EditarRegistro")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkUtilizaCategoriaAplicacao">Utiliza conceito de Tabela Referência para Categorias de Aplicação</label>
                            <input type="checkbox" class="no-uniform" id="chkUtilizaCategoriaAplicacao" data-bind="checked: UtilizaCategoriaAplicacao, flipper: { observable: UtilizaCategoriaAplicacao, options: { 'onText': 'Sim', 'offText': 'Não', 'css': 'warning'}, enable: EditarRegistro }">
                        </div>
                    </div>
                </div>
                <div class="row">
                    @*<div class="col-xs-3">
                            <div class="form-group">
                                <label for="txtDescricaoTabelaReferenciaTipoAplicacao">Descrição da Tabela Referência</label>
                                <input type="text" id="txtDescricaoTabelaReferenciaTipoAplicacao" name="txtDescricaoTabelaReferenciaTipoAplicacao" data-bind="value: DescricaoTabelaReferenciaTipoAplicacao, validate: { required: UtilizaCategoriaAplicacao }, enable: EditarRegistro" class="form-control" maxlength="120" />
                            </div>
                        </div>*@
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="ddlTabelaReferencia">Tabela Referência do Tipo de Aplicação</label>
                            @HtmlHelper.Select.SearchableKO("ddlIdTabelaReferenciaTipoAplicacao", "IdTabelaReferenciaTipoAplicacao", "IdAplicacaoTabelaReferencia", "Descricao", "Descricao", "Descricao", "/Aplicacao/TabelaReferencia/List", "Ativo:true", idChaveRelacao: "IdAplicacaoTabelaReferencia", dataBind: " enable: EditarRegistro")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="ddlCentroCustoTipo" class="control-label">O Centro de Custo será vinculado na Entidade</label>
                            <select placeholder="Nomenclatura" id="ddlCentroCustoTipo" class="form-control no-search" data-bind="value: CentroCustoTipo,validate :{ required: true }">
                                <option value="1" selected="selected">Aplicação</option>
                                <option value="2">Sub Aplicação</option>
                                <option value="3">Categoria Aplicação</option>
                                <option value="4">Sub Categoria de Aplicação</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo, enable: EditarRegistro }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" data-toggle="collapsible" data-open="false" id="pnlItens" data-bind="whit: Itens">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Caracterização do Tipo de Aplicação</h3>
            </div>
            <div class="panel-body">
                @HtmlHelper.GridView.GridNewEdit(
                id: "Item", // Declarar na página <template id="newedit-id"></template>
                vm: "Itens",
                vmExtend: "vmItemExtended",
                title: "Caracterização do Tipo de Aplicação",
                columns: @<script>
                    [
                        { 'id': 'IdAplicacaoTipoItem' },
                        { 'id': 'IdAplicacaoTipo' },
                        { 'id': 'IdAplicacaoTabelaReferenciaCategoria' },
                        { 'id': 'IdAplicacaoTabelaReferenciaSubAplicacao' },
                        { 'id': 'IdAplicacaoTabelaReferenciaSubAplicacaoTipo' },
                        { 'id': 'IdAplicacaoTabelaReferenciaSubCategoria' },
                        { 'id': 'NomenclaturaSubAplicacao' },
                        { 'id': 'UtilizaSubAplicacaoTipo' },
                        { 'id': 'DescricaoSubAplicacao',header: true, displayName: 'Sub Aplicação',sortable: true },
                        { 'id': 'DescricaoCategoria',header: true, displayName: 'Categoria Aplicação',sortable: true },
                        { 'id': 'DescricaoSubCategoria',header: true, displayName: 'Sub Categoria Aplicação',sortable: true },
                        { 'id': 'Ativo', defaultValue: true, header: true },
                        defaults.gridNewEdit.column.acao
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: DescricaoSubAplicacao }  }"></td>
                    <td data-bind="text: DescricaoCategoria"></td>
                    <td data-bind="text: DescricaoSubCategoria"></td>
                    <td data-bind="template: { name: 'label-status' }"></td>
                    <td data-bind="template: { name: 'button-edit' }"></td>
                </tr>, orderByCol: "DescricaoSubAplicacao", orderByDir: HelpersUtil.OrderByDirEnum.Asc)
            </div>
        </div>
        <div class="panel panel-default panel-action">
            <div class="panel-body">
                <button type="submit" id="btn-salvar" class="btn btn-secondary btn-lg btn-primary-action"><i class="material-icons">&#xE5CA;</i> Salvar</button>
                <a href="#List" type="button" class="btn btn-primary btn-inverted btn-lg"><i class="material-icons">&#xE5C4;</i> Voltar</a>
                @if (@Model.IdAplicacaoTipo.HasValue)
                {
                    <a href="#History/AplicacaoTipo/@Model.IdAplicacaoTipo" type="button" class="btn btn-primary btn-inverted btn-lg pull-right"><i class="material-icons">&#xE889;</i> Histórico</a>
                }
            </div>
        </div>
    </form>
    <template id="newedit-Item">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="txtDescricaoSubAplicacao">Descrição da Sub Aplicação</label>
                    <input type="text" id="txtDescricaoSubAplicacao" name="txtDescricaoSubAplicacao" data-bind="value: DescricaoSubAplicacao, validate: { required: true} " class="form-control" />
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="ddlSubAplicacao">Tabela Referência da Sub Aplicação</label>
                    @HtmlHelper.Select.SearchableKO("ddlSubAplicacao", "IdAplicacaoTabelaReferenciaSubAplicacao", "IdAplicacaoTabelaReferencia", "Descricao", "Descricao", "Descricao", "/Aplicacao/TabelaReferencia/List", "Ativo:true", required: true, idChaveRelacao: "IdAplicacaoTabelaReferencia")
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="control-label" for="chkUtilizaSubAplicacaoTipo">Utiliza conceito de Tipo de Sub Aplicação</label>
                    <input type="checkbox" class="no-uniform" id="chkUtilizaSubAplicacaoTipo" data-bind="checked: UtilizaSubAplicacaoTipo, flipper: { observable: UtilizaSubAplicacaoTipo, options: defaults.flipper.ativoInativo }">
                </div>
            </div>
        </div>

        <div class="row" data-bind="visible: UtilizaSubAplicacaoTipo">
            @*<div class="col-xs-6">
                    <div class="form-group">
                        <label for="txtDescricaoSubAplicacaoTipo">Descrição Tipo de Sub Aplicação</label>
                        <input type="text" id="txtDescricaoSubAplicacaoTipo" name="txtDescricaoSubAplicacaoTipo" data-bind="value: DescricaoSubAplicacaoTipo, validate : { required: UtilizaSubAplicacaoTipo }" class="form-control" />
                    </div>
                </div>*@
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="ddlSubAplicacaoTipo">Tabela Referência do Tipo Sub Aplicação</label>
                    @HtmlHelper.Select.SearchableKO("ddlSubAplicacaoTipo", "IdAplicacaoTabelaReferenciaSubAplicacaoTipo", "IdAplicacaoTabelaReferencia", "Descricao", "Descricao", "Descricao", "/Aplicacao/TabelaReferencia/List", "Ativo:true", idChaveRelacao: "IdAplicacaoTabelaReferencia", dataBind: "validate: { required: UtilizaSubAplicacaoTipo }")
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="txtDescricaoCategoria">Descrição da Categoria</label>
                    <input type="text" id="txtDescricaoCategoria" name="txtDescricaoCategoria" data-bind="value: DescricaoCategoria" class="form-control" />
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="ddlCategoria">Tabela Referência da Categoria</label>
                    @HtmlHelper.Select.SearchableKO("ddlCategoria", "IdAplicacaoTabelaReferenciaCategoria", "IdAplicacaoTabelaReferencia", "Descricao", "Descricao", "Descricao", "/Aplicacao/TabelaReferencia/List", "Ativo:true", idChaveRelacao: "IdAplicacaoTabelaReferencia")
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="txtDescricaoSubCategoria">Descrição da Sub Categoria</label>
                    <input type="text" id="txtDescricaoSubCategoria" name="txtDescricaoSubCategoria" data-bind="value: DescricaoSubCategoria" class="form-control" />
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="ddlSubCategoria">Tabela Referência da Sub Categoria</label>
                    @HtmlHelper.Select.SearchableKO("ddlSubCategoria", "IdAplicacaoTabelaReferenciaSubCategoria", "IdAplicacaoTabelaReferencia", "Descricao", "Descricao", "Descricao", "/Aplicacao/TabelaReferencia/List", "Ativo:true", idChaveRelacao: "IdAplicacaoTabelaReferencia")
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="ddlNomenclatura" class="control-label">A Descrição da Sub Aplicação será definida por:</label>
                    <select placeholder="Nomenclatura" id="ddlNomenclatura" class="form-control no-search" data-bind="value: NomenclaturaSubAplicacao">
                        <option value="1" selected="selected">Sub Aplicação</option>
                        <option value="2">Sub Aplicação + Categoria Aplicação</option>
                        <option value="3">Sub Aplicação + Sub Categoria Aplicação</option>
                        <option value="4">Categoria Aplicação + Sub Categoria Aplicação</option>
                        <option value="5">Sub Categoria Aplicação + Categoria Aplicação </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="control-label" for="chkAtivoItem">Ativo</label>
                    <input type="checkbox" class="no-uniform" id="chkAtivoItem" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                </div>
            </div>
        </div>

    </template>
</div>

