﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.EmpresaGrupo.IndexVM

<div id="filtro-grade" style="display:none;">
    <template id="filter-EmpresaGrupoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroPlano">Plano Técnico</label>            
            @HtmlHelper.Select.SearchableKO("ddlFiltroPlano", "IdGrupoMenuIn", "IdGrupoMenu", "Descricao", "Descricao", "Descricao", "/Configuracao/GrupoMenu/List", "Ativo: true", idChaveRelacao: "IdGrupoMenu", multiple: true)
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "EmpresaGrupoIndex",
    newUrl: "#/Corporativo/EmpresaGrupo/New",
    editUrl: "#/Corporativo/EmpresaGrupo/Edit",
    listUrl: "/Corporativo/EmpresaGrupo/List",
    columns:
    @<script>
        [   
            { 'id': 'Descricao', 'header': true, filter: true, defaultFilter: true, displayName: 'Descrição', sortable: true },
            { 'id': 'DescricaoGrupoMenu', 'header': true, displayName: 'Grupo Menu', sortable: true },
            { 'id': 'IdGrupoMenuIn', filter: true },
            { 'id': 'IdEmpresaGrupo', editColumn: true },
            defaults.gridNewEdit.column.ativo,
            defaults.gridNewEdit.column.acao
        ]
    </script>,
    templateRows:
    @<tr>
        <td data-bind="text: Descricao"></td>       
        <td data-bind="text: DescricaoGrupoMenu"></td>       
        <td data-bind="template: 'label-status'"></td>
        <td data-bind="template: { name: 'button-edit-url', data: { id: IdEmpresaGrupo } }"></td>
    </tr>
    ,
    api: "indexVM.api",
    orderByCol: "Descricao",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,
    useHiddenColumns: false)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}