﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.EmpresaGrupo.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-CorporativoEmpresaGrupo-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control " maxlength="120" />
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="ddlGrupoMenu">Plano Técnico</label>
                            @HtmlHelper.Select.SearchableKO("ddlGrupoMenu", "IdGrupoMenu", "IdGrupoMenu", "Descricao", "Descricao", "Descricao", "/Configuracao/GrupoMenu/List", "Ativo: true", required: true, allowClear:false)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="ddlEmpresaReferencia">Empresa Referência</label>
                            @HtmlHelper.Select.SearchableKO("ddlEmpresaReferencia", "IdEmpresaReferencia", "IdEmpresa", "Nome", "Nome", "Nome", "/Corporativo/Empresa/List", "Ativo: true", required: true, idChaveRelacao:"IdEmpresa")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Modelo de Conteúdo</h3>
            </div>
            <div class="panel-body">
                @HtmlHelper.GridView.GridNewEdit(
                    id: "ModeloConteudo", // Declarar na página <template id="newedit-id"></template>
                    vm: "Conteudos",
                    title: "Modelo de Conteúdo",
                    columns: @<script>
                        [
                            { 'id': 'IdEmpresaGrupoModeloConteudo' },
                            { 'id': 'IdEmpresaGrupo' },
                            { 'id': 'IdTela' },
                            { 'id': 'IdModulo' },
                            { 'id': 'IdsEmpresa' },
                            { 'id': 'EditarRegistro' },
                            { 'id': 'ModuloDescricao', header: true, displayName: 'Módulo', 'sortable': true },
                            { 'id': 'TelaDescricao', header: true, displayName: 'Cadastro', 'sortable': true },
                            { 'id': 'Modelo', header: true, displayName: 'Modelo', 'sortable': true },
                            { 'id': 'PermiteCadastroIndependente', header: true, displayName: 'Cadastrar', 'sortable': true, 'defaultValue': true },

                            defaults.gridNewEdit.column.acao
                        ]
                    </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: ModuloDescricao }  }"></td>
                    <td data-bind="text: TelaDescricao"></td>
                     <td data-bind="text: Modelo"></td>
                    <td data-bind="template: { name: 'label-status', data: { status: PermiteCadastroIndependente } }"></td>
                    <td data-bind="template: { name: 'button-edit' }"></td>
                </tr>, orderByCol: "ModuloDescricao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false, showNewButton: false)
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados de Remetente</h3>
            </div>
            <div class="panel-body" data-bind="with: EmpresaRemetente">
                <fieldset data-bind="validateOptions: { appendErrorsToRoot: true }">
                    <legend><i class="fa fa-envelope"></i> Email</legend>

                    <div class="row">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <label for="txtNomeApresentacao">Nome de Exibição</label>
                                <input type="text" id="txtNomeApresentacao" data-bind="value: NomeApresentacao, validate: { required: true }" class="form-control" data-allowclear="false" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtEmail">Email de Envio</label>
                                <input type="text" id="txtEmail" data-bind="value: Email, validate: { required: true, email: true }" class="form-control" data-allowclear="false" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtEmailResposta">Email para Resposta</label>
                                <input type="text" id="txtEmailResposta" data-bind="value: EmailResposta, validate: { required: true, email: true }" class="form-control" data-allowclear="false" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtusuario">Usuário</label>
                                <input type="text" id="txtusuario" data-bind="value: Usuario, validate: { required: true }" class="form-control" placeholder="" data-allowclear="false" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtSenha">Senha</label>
                                <input type="password" id="txtSenha" data-bind="value: Senha, validate: { required: true }" class="form-control" placeholder="" data-allowclear="false" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtSmtp">SMTP</label>
                                <input type="text" id="txtSmtp" data-bind="value: SMTP, validate: { required: true }" class="form-control" placeholder="" data-allowclear="false" />
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtPorta">Porta</label>
                                <input type="text" id="txtPorta" data-bind="value: Porta, validate: { required: true }" class="form-control" placeholder="" data-allowclear="false" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label" for="chkAtivoRemetente">Ativo</label>
                                <input type="checkbox" class="no-uniform" id="chkAtivoRemetente" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                            </div>
                        </div>
                    </div>

                    <legend><i class="fa fa-phone"></i> Telefones</legend>

                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="Resposta">Telefone Envio</label>
                                <input type="text" id="Resposta" data-bind="value: Telefone, mask: { options: defaults.mask.phone, value: Telefone }, validate: { required: true }" class="form-control" placeholder="" data-allowclear="false" />
                            </div>
                        </div>

                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtTelefoneResposta">Telefone Resposta</label>
                                <input type="text" id="txtTelefoneResposta" data-bind="value: TelefoneResposta, mask: { options: defaults.mask.phone, value: TelefoneResposta }, validate: { required: true }" class="form-control" placeholder="" />
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

    </form>
    <template id="newedit-ModeloConteudo">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="ddlModulo">Tela<span>Cadastro</span></label>
                    @HtmlHelper.Select.SearchableKO("ddlTela", "IdTela", "IdTela", "TituloMenu", "TituloMenu", "TituloMenu", "/Configuracao/Tela/List", "Ativo: true", required: true, allowClear: false)
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="ddlModulo">Módulo</label>
                    @HtmlHelper.Select.SearchableKO("ddlModulo", "IdModulo", "IdModulo", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Configuracao/Modulo/List", "Ativo: true, ComPai: true, UltimoNivel:true", required: true, allowClear: false)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="ddlModulo">Empresas Modelos</label>
                    @HtmlHelper.Select.SearchableKO("ddlEmpresas", "IdsEmpresa", "IdEmpresa", "Nome", "Nome", "Nome", "/Corporativo/Empresa/List", "Ativo: true, EmpresaModelo:true", multiple: true, idChaveRelacao:"IdEmpresa", vmTextSelected: "Modelo")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="control-label" for="chkPermiteCadastroIndependente">Permite cadastramento independente do modelo</label>
                    <input type="checkbox" class="no-uniform" id="chkPermiteCadastroIndependente" data-bind="checked: PermiteCadastroIndependente, flipper: { observable: PermiteCadastroIndependente, options: { 'css': 'warning' } }">
                </div>
            </div>
        </div>
    </template>
</div>

@*<script type="text/javascript">
        var form = $('#form-CorporativoEmpresaGrupo-NewEdit');

        var vmEmpresaRemetente = {
            @Html.ObservableFor(model => model.EmpresaRemetente.IdEmpresaRemetente),
            @Html.ObservableFor(model => model.EmpresaRemetente.IdEmpresa),
            @Html.ObservableFor(model => model.EmpresaRemetente.IdAplicativo),
            @Html.ObservableFor(model => model.EmpresaRemetente.NomeApresentacao),
            @Html.ObservableFor(model => model.EmpresaRemetente.Email),
            @Html.ObservableFor(model => model.EmpresaRemetente.EmailResposta),
            @Html.ObservableFor(model => model.EmpresaRemetente.Telefone),
            @Html.ObservableFor(model => model.EmpresaRemetente.TelefoneResposta),
            @Html.ObservableFor(model => model.EmpresaRemetente.Usuario),
            @Html.ObservableFor(model => model.EmpresaRemetente.Senha),
            @Html.ObservableFor(model => model.EmpresaRemetente.SMTP),
            @Html.ObservableFor(model => model.EmpresaRemetente.Porta),
            @Html.ObservableFor(model => model.EmpresaRemetente.Ativo),
            @Html.ObservableFor(model => model.EmpresaRemetente.ChaveVersao),
        };

        var vm = {
            EmpresaRemetente : ko.observable(vmEmpresaRemetente),
            @Html.ObservableFor(model => model.IdEmpresaGrupo),
            @Html.ObservableFor(model => model.IdGrupoMenu),
            @Html.ObservableFor(model => model.Descricao),
            @Html.ObservableFor(model => model.Ativo),
            @Html.ObservableFor(model => model.ChaveVersao),
                Save: function () {
                    if (!vm.isValidShowErrors()) { return; }
                    $.ajaxJsonAntiforgery(form, {
                        data: ko.toJSON(vm),
                        url: '/Corporativo/EmpresaGrupo/NewEdit/',
                        success: function (result) {
                            mgFeedbackBase.feedbackCrud(result, 'Empresa - Grupo salvo com sucesso.');
                        }
                    });
                }
        };

        ko.applyBindings(vm, form[0]);

    </script>*@

