﻿<!-- ko if: showPanelFilter --> 
<div data-bind="template: { name: 'panel-' + templateId, foreach: filterData, afterRender: onTemplateRender }">
</div>
<!-- /ko -->

<div class="panel panel-light-blue panel-filter panel-gridview" data-use-optional-label="true" data-optional-label-text="" data-container-class=".search-advanced" data-bind="collapsible: { open: openFilter }">
    <!-- ko if: showFilter -->
    <div id="search-fields" data-bind="defaultAction: '#btnFiltrar'">
        <div class="panel-heading clearfix">
            <h3 class="panel-title">Filtro</h3>
            <div class="search" data-bind="if: defaultFilterId.length > 0">
                <div class="input-group input-group-sm">
                    <input type="text" id="inputBuscaRapida" class="form-control" accesskey="/" data-bind="textInput: defaultFilter, clearOnEsc: {}" placeholder="Busca rápida" />
                    <div class="input-group-btn"><button class="btn btn-lg btn-primary btn-icon" data-bind="event: { click: refreshData }"><i class="fa fa-search"></i></button></div>
                </div>
            </div>
        </div>
        <div class="search-advanced clearfix form-inline">
            <div data-bind="template: { name: 'filter-' + templateId, foreach: filterData, afterRender: onTemplateRender }">
            </div>
            <div class="form-actions">
                <button id="btnFiltrar" data-bind="event: { click: refreshData }" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                <a href="#" class="link-edit" style="margin-left: 20px;" id="btnLimparFiltros" data-bind="event: { click: clearFilters }">Resetar filtros</a>
            </div>
        </div>
    </div>
    <!-- /ko -->

    <div class="panel-body" data-bind="css: isLoading() ? 'loading-container is-loading' : 'loading-container'">
        <div class="gridview-loader">
        </div>

        <div data-bind="if: (!open && totalRecords() == undefined && !showNewButtonObservable())">
            <div class="alert alert-info alert-icon alert-nodata clearfix" style="margin: 0; width: 240px">
                <i class="material-icons">&#xE002;</i>
                <span class="text">Escolha uma opção acima para exibir a lista e/ou clique em buscar.</span>
            </div>
        </div>

        <!-- ko if: showNewButtonObservable -->
        <a href="#" accesskey="n" title='Pressione "alt + N"' data-bind="attr: { 'href': $component.newUrl }" class="btn btn-secondary btn-lg btn-novo" style="float: left" data-action="inserir"><i class="material-icons material-md"></i> Novo</a>
        <!-- /ko -->
        <!-- ko if: useCustomHeaderAction -->
        <!-- ko template: { name: 'headerAction-' + templateId } -->
        <!-- /ko -->
        <!-- /ko-->

        <div class="alert alert-info alert-icon alert-nodata clearfix" data-bind="visible: totalRecords() === 0" style="margin-bottom: 10px">
            <i class="material-icons">&#xE002;</i>
            <span class="text">Não há registros para o critério de pesquisa informado. <br /> Tente usar outro termo de busca ou <a href="#" class="link-edit" data-bind="event: { click: clearFilters }">limpar os filtros</a>.</span>
        </div>



        <!-- ko ifnot: isInitial -->
        <div data-bind="if: totalRecords() > 0, visible: showGrid, gridBindings: this">
            <div class="form-inline table-top clearfix">
                <!-- ko if: showExportButtons -->
                <div class="form-group grid-exportar" data-bind="css: groupByOptions().length == 1 && showNewButtonObservable() == false ? 'pull-left' : ''">
                    <label>
                        Exportar em
                    </label>
                    <div class="control-group">
                        <button class="btn btn-primary btn-inverted" data-bind="event: { click: exportToPDF }" data-toggle="tooltip" title="Exportar para PDF"><i class="fa fa-file-pdf-o"></i> PDF</button>
                        <button class="btn btn-primary btn-inverted" data-bind="event: { click: exportToExcel }" data-toggle="tooltip" title="Exportar para Excel"><i class="fa fa-file-excel-o"></i> Excel</button>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: groupByOptions().length > 1 -->
                <div data-bind="css: showNewButtonObservable() == false ? 'pull-left' : ''">
                    <div class="form-group grid-agrupar" data-bind="css: showExportButtons ? 'form-group grid-agrupar' : 'form-group grid-agrupar'">
                        <label for="gpByColumn">Agrupar por</label>
                        <div class="control-group">
                            <div class="inline-block">
                                <select id="gpByColumn" class="no-uniform form-control" data-bind="options: groupByOptions, optionsText: 'displayName', optionsValue: 'id', value: groupByCol"></select>
                            </div>
                            <div class="inline-block" data-bind="visible: groupByCol() !== ''">
                                <select id="filtro-group-by-direction" class="no-uniform form-control" data-bind="value: groupByDir">
                                    <option value=""></option>
                                    <option value="asc">Crescente</option>
                                    <option value="desc">Decrescente</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </div>

            <!-- teste checkAll -->
            <!--<input type="checkbox" data-bind="checked: selectAll" /><br /> state <span data-bind="text: selectAllState"></span><br />
            <span data-bind="text: selectedValuesAdd() ? '' : 'Todos menos '"></span> ids selecionados: <span data-bind="text: ko.mapping.toJS(selectedValues)"></span>-->

            <table class="table table table-hover table-striped table-row-editable">
                <thead>
                    <tr>
                        <!-- ko if: useSelection -->
                        <th class="th-checkbox" data-sortable="false"><span style="visibility: hidden"><input type="checkbox" data-bind="checked: selectAll, vanillaUniform: {}" /></span></th>
                        <!-- /ko -->
                        <!-- ko foreach: getColumns -->
                        <th data-bind="style: { width: $data.hasOwnProperty('width') ? width : 'auto' }, text: displayName, css: $parent.getColumnsCSS($data), visible: ($data.hasOwnProperty('visible') ? ko.utils.unwrapObservable($data.visible) : true)"></th>
                        <!-- /ko -->
                    </tr>
                </thead>
                <tbody data-bind="rowClick: { element: $element }">
                    <!-- ko template: { name: 'list-' + templateId, foreach: data, afterRender: onRowRendered } -->
                    <!-- /ko -->
                </tbody>
            </table>

            <!-- ko if: usePagination -->
            <div class="pagination pagination-block">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group total-records" data-bind="visible: showTotalRecords">
                            <label for="totalRecords">total de registros</label> <span class="badge" id="totalRecords" data-bind="text: totalRecords()"></span>
                            <span data-bind="visible: totalPages() > 1"><label for="totalPages">total de páginas</label> <span class="badge" id="totalPages" data-bind="text: totalPages()"></span></span>
                        </div>
                        <div data-bind="visible: totalPages() > 1">
                            <button class="btn btn-primary first" data-bind="event: { click: firstPage }, enable: currentPage() > 1"><i class="material-icons material-md">&#xE5DC;</i> Primeiro </button>
                            <button class="btn btn-primary previous" data-bind="event: { click: previousPage }, enable: currentPage() > 1"><i class="material-icons material-md">chevron_left</i> Anterior</button>

                            <div class="page-number">
                                <div class="input-group">
                                    <label for="goToPage" class="sr-only">Pagina</label>
                                    <input data-toggle-default="#btnIrPagina" min="1" class="form-control ignore-validate" id="goToPage" type="number" data-bind="value: currentPage, attr: { max: totalPages() }" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" id="btnIrPagina" data-bind="event: { click: goToPage() }">Ir</button>
                                    </span>
                                </div>
                            </div>

                            <button class="btn btn-primary next" data-bind="event: { click: nextPage }, enable: currentPage() != totalPages()">Próxima <i class="material-icons material-md material-right">&#xE5CC;</i></button>
                            <button class="btn btn-primary last" data-bind="event: { click: lastPage }, enable: currentPage() != totalPages()"> Última <i class="material-icons material-md material-right">&#xE5DD;</i></button>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group page-size" data-bind="if: totalRecords() > 10 ">
                            <label for="pageSize">Registros por página</label>
                            <select id="pageSize" class="form-control no-uniform" data-bind="value: pageSize, valueAllowUnset: true">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="200">200</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /ko -->
        </div>

        <div class="form-group" data-bind="if: useHiddenColumns && hiddenRowsCount() > 0">
            <span href="#" class="label-hidden" for="chkShowHidden">Exibir <span data-bind="text: title.toLowerCase()"></span> <span data-bind="text: (hiddenRowsCount() > 1 ? 'inativo(a)': 'inativo(a)')"></span></span>
            <input id="chkShowHidden" type="checkbox" class="no-uniform" data-bind="checked: showHidden, flipper: { options: defaults.flipper.ativoInativo }" />
        </div>
        <!-- /ko -->


    </div> <!-- /panel-body -->

    <script type="text/html" id="button-edit-url">
        <a href="#" class="btn btn-secondary btn-icon" title="Editar" data-bind="css: ($parent.hasOwnProperty('EditarRegistro') && $parent['EditarRegistro'] === false ? 'btn btn-secondary btn-icon disabled' : 'btn btn-secondary btn-icon'), attr: { 'href': ($component['parentId'] !== null ? ($component.editUrl + '/' + $component['parentId'] + '/' + id) : ($component.editUrl + '/' + id)) }"><i class="material-icons">&#xE254;</i></a>
    </script>
    <script type="text/html" id="button-view-url">
        <a href="#" class="btn btn-secondary btn-icon" title="Visualizar" data-bind="attr: { 'href': $component.editUrl + '/' + id }"><i class="fa fa-search"></i></a>
    </script>
    <script type="text/html" id="button-new">
        <a href="#" class="btn btn-secondary btn-lg btn-novo" data-bind="attr: { 'href': $component.newUrl }"><i class="material-icons">&#xE145;</i> Novo</a>
    </script>
    <script type="text/html" id="button-edit-remove-url">
        <a href="#" class="btn btn-secondary btn-icon" data-bind="attr: { 'href': ($component['parentId'] !== null ? ($component.editUrl + '/' + $component['parentId'] + '/' + id) : ($component.editUrl + '/' + id)) }"><i class="material-icons">&#xE254;</i></a>
        <!--<a href="#" class="btn btn-danger btn-icon" data-bind="click: $component.removeItem"><i class="material-icons">&#xE14C;</i></a>-->
    </script>
    <script type="text/html" id="checkbox-select">
        <!-- ko if: $component.useSelection -->
        <input type="checkbox" data-bind="attr: { 'disabled': ($data.hasOwnProperty('EditarRegistro') && $data['EditarRegistro'] === false ? 'disabled' : false) }, checked: _selectedView, event: { 'change': _change }, vanillaUniform: {}" />
        <!-- /ko -->
    </script>
    <script type="text/html" id="label-status">
        <span data-bind="html: $component.setStatus($element)"></span>
    </script>
    <script type="text/html" id="link-edit-url">
        <a href="#" data-bind="text: text, attr: { 'href': $component.editUrl + '/' + id }"></a>
    </script>
    
</div>


<div data-bind="gridSelectPanelAction: {}" class="panel panel-selected panel-action" style="bottom: 0; opacity: 0;">
    <div class="panel-body">
        <!-- ko if: document.getElementById('selectedFooter-' + templateId) -->
        <!-- ko template: { name: 'selectedFooter-' + templateId } -->
        <!-- /ko -->
        <!-- /ko -->
        <div class="form-group-text form-group form-group-with-selection">
            <label>Com 
                <!-- ko if: selectedValues().length == 1 -->
                <span class="badge">1</span> item selecionado
                <!-- /ko -->
                <!-- ko if: selectedValues().length > 1 -->
                <span class="badge" data-bind="text: selectedValues().length"></span> itens selecionados
                <!-- /ko -->
            </label> 
            <div class="selected-actions">
                <!-- ko if: document.getElementById('selectedFooter-' + templateId) -->
                <!-- ko template: { name: 'selectedAction-' + templateId } -->
                <!-- /ko -->
                <!-- /ko -->
                <button class="cancelar btn btn-lg btn-default btn-rounded pull-right"><i class="material-icons"></i> Cancelar seleção</button>
            </div>
        </div>
    </div>
</div>    



