﻿@model HTM.MasterGestor.Web.UI.Areas.Questionario.ViewModels.MedidorItem.IndexVM

<template id="headerAction-QuestionarioMedidorItemIndex">
    <a data-bind="visible: totalRecords() > 0" style="margin-left: 8px; float: left" href="/#/Questionario/MedidorItem/MapaMedidor" class="btn btn-primary btn-lg"><i class="material-icons">&#xE55B;</i> Visualizar no mapa</a>
</template>


<div id="filtro-grade" style="display:none;">
    <template id="filter-QuestionarioMedidorItemIndex">
        <div class="form-group">
            <label for="txtFiltrCodigo" class="control-label">Código</label>
            <input type="text" id="txtFiltrCodigo" data-bind="textInput: Codigo" class="form-control" />
        </div>
        <div class="form-group" style="width: 300px">
            <label class="control-label" for="ddlQuestionarioCategoriaMedidorFiltro">Categoria de Medidor</label>
            @HtmlHelper.Select.SearchableKO("ddlQuestionarioCategoriaMedidorFiltro", "IdQuestionarioCategoriaMedidorIn", "IdQuestionarioCategoriaMedidorIn", "Descricao", "Descricao", "Descricao", "/Questionario/CategoriaMedidor/List", "Ativo:true", allowClear: true, idChaveRelacao: "IdQuestionarioCategoriaMedidor")
        </div>
        <div class="form-group" style="width: 300px">
            <label class="control-label" for="ddlFiltroProducaoLocalDescricao">Local de Produção</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroProducaoLocalDescricao", "IdProducaoLocal", "IdProducaoLocal", "DescricaoExibicao", "BuscaAvancada", "DescricaoExibicao", "/Agricola/LocalProducao/List", "Ativo:true", allowClear: true)
        </div>
        <div class="form-group" style="width: 300px">
            <label class="control-label" for="ddlFiltroAtividadeEconomicaperiodo">Período de Produção</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroAtividadeEconomicaperiodo", "IdAtividadeEconomicaPeriodo", "IdAtividadeEconomicaPeriodo", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Contabilidade/AtividadeEconomicaPeriodo/List", "Ativo:true,UltimoNivel:true", allowClear: false)
        </div>
        @*<div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="control-group">
                <div class="btn-group">
                    <label class="btn btn-primary btn-inverted" for="filter-RegistroProprio1">
                        Meus Registros <input class="vanilla" id="filter-RegistroProprio1" data-bind="checkedValue: $data, checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" value="true" type="radio" name="filter-TipoOperacao">
                    </label>                    
                    <label class="btn btn-primary btn-inverted" for="filter-RegistroProprio2">
                        Todos Registros <input class="vanilla" id="filter-RegistroProprio2" data-bind="checkedValue: $data, checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" value="false" type="radio" name="filter-TipoOperacao">
                    </label>                    
                </div>
            </div>
        </div>*@

        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "QuestionarioMedidorItemIndex",
    newUrl: "#/Questionario/MedidorItem/New",
    editUrl: "#/Questionario/MedidorItem/Edit",
    listUrl: "/Questionario/MedidorItem/List",
    columns:
    @<script>
        [
            { 'id': 'IdQuestionarioMedidorItem', editColumn: true },
            { 'id': 'IdQuestionarioCategoriaMedidorIn', 'filter': true },
            { 'id': 'IdProducaoLocal', 'filter': true },
            { 'id': 'IdAtividadeEconomicaPeriodo', 'defaultValue': '@Model.idAtividadeEconomicaPeriodo.ToString()', 'filter': true },
            { 'id': 'RegistroProprio', 'defaultValue': '', 'filter': true },
            { 'id': 'Codigo', filter: true, defaultFilter: true, header: true, displayName: 'Código', sortable: true },
            { 'id': 'QuestionarioTipoMedidorDescricao', filter: true, header: true, displayName: 'Categoria', sortable: true },
            { 'id': 'ProducaoLocalCompleto', filter: true, displayName: 'Local de Produção', header: true, sortable: true, groupable: true },
            { 'id': 'EditarRegistro', 'header': true, 'filter': true, 'sortable': true, 'displayName': 'Editar Registro' },
            defaults.gridNewEdit.column.ativo,
            { displayName: "Ações", header: true, width: '160px' }
        ]
    </script>,
    templateRows:
    @<tr>
        <td data-bind="text: Codigo"></td>
        <td data-bind="text: QuestionarioCategoriaMedidorDescricao"></td>
         <td data-bind="text: ProducaoLocalCompleto"></td>
        <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>
        <td data-bind="template: { name: 'label-status' }"></td>
        <td>
            <div style="float:left">
                <span data-bind="template: { name: 'button-edit-url', data: { id: IdQuestionarioMedidorItem } }"></span>
            </div>

            <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                <a data-bind="attr: { href: '#/Questionario/MedidorItem/Ativar/' + IdQuestionarioMedidorItem}" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
            </div>

            <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                <a data-bind="attr: { href: '#/Questionario/MedidorItem/Inativar/' + IdQuestionarioMedidorItem}" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
            </div>

            <div style="float:left;padding-left:5px;" data-bind="visible: (EditarRegistro == false)">
                <a data-bind="attr: { href: '#/Questionario/MedidorItem/View/' + IdQuestionarioMedidorItem}" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
            </div>
        </td>
    </tr>
    ,
    api: "indexVM.api",
    orderByCol: "ProducaoLocalDescricao,Codigo",
    groupByCol: "ProducaoLocalCompleto",
    groupByDir: "asc",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,
    useHiddenColumns: false,
    useCustomHeaderAction: true)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
