﻿<div data-bind="stopBindings: true" id="route-map">
    @Html.AntiForgeryToken()

    <div id="aside-menu" class="aside-panel">
        <div class="aside-toggle-container">
            <button class="aside-toggle-button" aria-label="Recolher painel lateral" data-bind="event: { click: togglePanel }"></button>
        </div>
        <div class="panel panel-default">           
            <div class="panel-heading">
                <div>
                    <span class="btn-back-container in"><a href="/#/Questionario/MedidorItem/Index" class="btn-back btn-primary btn-inverted btn-rounded-icon"></a></span>
                    <ol class="breadcrumb">
                        <li><a id="tituloTela" href="/#/Questionario/MedidorItem/Index">Medidor de Item</a></li>
                        <li class="actiHve">Mapa</li>
                    </ol>
                </div>
            </div>
            <div class="panel-body">
                <fieldset>
                    <div class="form-inline">
                        <div class="form-group">
                            <button class="btn btn-secondary" data-bind="event: { click: showDetalhesFiltro }"><i class="material-icons">&#xE152;</i> Detalhes</button>
                        </div>
                        <div class="form-group filtro-categorias">
                            <label for="ddlMapeamentoCamadaCategoriaFiltro"></label>
                            @HtmlHelper.Select.SelectCheckbox(id: "ddlMapeamentoCamadaCategoriaFiltro", campoId: "IdMapeamentoCamadaCategoriaFiltro", campoIdPesquisa: "IdMapeamentoCamadaCategoriaIn", campoValor: "DescricaoExibicao", campoOrdenacao: "Descricao", campoIdChaveRelacao: "IdMapeamentoCamadaCategoria", url: "/Mapeamento/Categoria/List", dadosCompl: "Ativo: true, Base: false", selectOptions: "{ showSubText: true }")
                        </div>                        
                    </div>

                    <div class="container-itens-mapa" style="top: 115px">
                        <div id="treeMapaMedidor" class="jstree-check-untie tree-mapa"></div>
                    </div>
                </fieldset>              
            </div>
        </div>
    </div>

    <div id="map-container">
        <div id="search-box">
        </div>
        <div id="toolbar" style="display: none;">
        </div>
        <div id="map"></div>
    </div>

    <!-- modais -->

    <div class="modal fade" id="modal-filtro-detalhes" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Detalhes do filtro</h4>
                </div>
                <div id="modal-filtro-template">
                    <div id="alert-sem-filtro">
                        <div class="alert alert-info alert-icon clearfix">
                            <i class="material-icons">&#xE002;</i>
                            <span class="text">Nenhum filtro selecionado@*<br /> Para filtrar, vá para a <a data-dismiss="modal" href="/#/Questionario/MedidorItem/Index" class="link-edit">tela de listagem</a>.*@</span>
                        </div>
                    </div>
                    <div id="modal-filtro-content" class="modal-body read-mode">
                        <!-- ko with: dadosFiltro -->
                        <div class="form-group">
                            <label for="txtFiltrCodigoMapa" class="control-label">Código</label>
                            <input type="text" id="txtFiltrCodigoMapa" disabled="disabled" data-bind="textInput: Codigo" class="form-control" />
                        </div>
                        <div class="form-group" style="width: 300px">
                            <label class="control-label" for="ddlQuestionarioCategoriaMedidorFiltroMapa">Categoria de Medidor</label>
                            @HtmlHelper.Select.SearchableKO("ddlQuestionarioCategoriaMedidorFiltroMapa", "IdQuestionarioCategoriaMedidorIn", "IdQuestionarioCategoriaMedidorIn", "Descricao", "Descricao", "Descricao", "/Questionario/CategoriaMedidor/List", "Ativo:true", allowClear: true, disabled: true, idChaveRelacao: "IdQuestionarioCategoriaMedidor")
                        </div>
                        <div class="form-group" style="width: 300px">
                            <label class="control-label" for="ddlFiltroProducaoLocalDescricaoMapa">Local de Produção</label>
                            @HtmlHelper.Select.SearchableKO("ddlFiltroProducaoLocalDescricaoMapa", "IdProducaoLocal", "IdProducaoLocal", "DescricaoExibicao", "BuscaAvancada", "DescricaoExibicao", "/Agricola/LocalProducao/List", "Ativo:true", allowClear: true, disabled: true)
                        </div>
                        <div class="form-group" style="width: 300px">
                            <label class="control-label" for="ddlFiltroAtividadeEconomicaperiodoMapa">Período de Produção</label>
                            @HtmlHelper.Select.SearchableKO("ddlFiltroAtividadeEconomicaperiodoMapa", "IdAtividadeEconomicaPeriodo", "IdAtividadeEconomicaPeriodo", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Contabilidade/AtividadeEconomicaPeriodo/List", "Ativo:true,UltimoNivel:true", allowClear: true)
                        </div>
                        @*<div class="form-group">
                            <label for="radio">Exibição</label><br />
                            <div class="btn-group">
                                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1Mapa" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" disabled="disabled" name="filter-TipoOperacao">Meus Registros</label>
                                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2Mapa" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" disabled="disabled" name="filter-TipoOperacao">Todos Registros</label>
                            </div>
                        </div>*@
                        <div class="form-group">
                            <label for="ddlFiltroAtivo" class="control-label">Ativo</label>
                            <select placeholder="Ativo" id="ddlFiltroAtivo" disabled="disabled" data-bind="value: Ativo" class="form-control no-search">
                                <option value="">Indiferente</option>
                                <option value="true">Ativo</option>
                                <option value="false">Inativo</option>
                            </select>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <template id="template-measure-popup">
        @*<area-position-info params="layer: layer"></area-position-info>*@
    </template>
    <template id="template-popup">
        <div id="popup-info">
            <p data-bind="text: layer.feature.properties.MapeamentoElementoDescricao"></p>
            <div class="observacao" data-bind="html: layer.feature.properties.MapeamentoElementoObservacao"></div>

            <div style="min-width: 350px">
                <area-position-info params="layer: layer"></area-position-info>
            </div>
            @*<a id="iw-editFeature" href="#" data-bind="event: { 'click': layerEditPopupEvent }">edit</a>
            <a id="iw-removeFeature" href="#" data-bind="event: { 'click': layerRemovePopupEvent }">remover</a>*@
        </div>

    </template>
</div>
