﻿@model HTM.MasterGestor.Web.UI.Areas.Questionario.ViewModels.MedidorItem.NewEditVM

<div>
    <form id="form-QuestionarioMedidorItem-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtCodigo">Código<span>(Automático)</span></label>
                            <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" maxlength="10" />
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtDataInstalacao">Data de Instalação</label>
                            <div class="input-group date">
                                <input id="txtDataInstalacao" name="txtDataInstalacao" class="form-control" data-bind="value: DataInstalacaoExibicao,validate: { required: true }, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataInstalacaoExibicao }" />
                                <span class="input-group-addon">
                                    <i class="material-icons">&#xE878;</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="ddlQuestionarioCategoriaMedidor">Categoria do Medidor</label>
                            @HtmlHelper.Select.SearchableKO("ddlQuestionarioCategoriaMedidor", "IdQuestionarioCategoriaMedidor", "IdQuestionarioCategoriaMedidor", "Descricao", "Descricao", "Descricao", "/Questionario/CategoriaMedidor/List", "Ativo:true", required: true)
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="ddlAtividadeEconomicaPeriodo">Período de Produção</label>
                            @HtmlHelper.Select.SearchableKO("ddlAtividadeEconomicaPeriodo", "IdAtividadeEconomicaPeriodo", "IdAtividadeEconomicaPeriodo", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Contabilidade/AtividadeEconomicaPeriodo/List", "Ativo:true,UltimoNivel:true", required: true)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="ddlLocalProducao">Local de Produção</label>
                            @HtmlHelper.Select.SearchableKO("ddlLocalProducao", "IdProducaoLocal", "IdProducaoLocal", "DescricaoExibicao", "BuscaAvancada", "DescricaoExibicao", "/Agricola/LocalProducao/List", "Ativo:true", required: true)
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="ddlUnidadeProducao">Unidade de Produção</label>
                            @HtmlHelper.Select.SearchableKO("ddlUnidadeProducao", "IdProducaoUnidade", "IdProducaoUnidade", "DescricaoCompleta", "CodigoDescricao", "DescricaoCompleta", "/Agricola/Unidade/List", "Ativo:true", required: true, idControleDependencia: "ddlLocalProducao", idDependencia: "IdProducaoLocal")
                        </div>
                    </div>
                </div>
                <div data-toggle="collapsible" class="optional" id="pnlCoordenadas" data-bind="collapsible: { vmArray: [ vm.Latitude(), vm.Longitude() ] }">
                    <a href="#">Coordenadas</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label" for="txtLatitude">Latitude <span>(decimal, WGS84)</span></label>
                                    <input type="text" class="form-control" id="txtLatitude" name="txtLatitude" data-bind="value: Latitude, maskCoordenada:  { extendedOptions: { min: -89.99999999, max: 89.99999999 } }" maxlength="20" />
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label" for="txtLongitude">Longitude <span>(decimal, WGS84)</span></label>
                                    <input type="text" class="form-control" id="txtLongitude" name="txtLongitude" data-bind="value: Longitude, maskCoordenada:  { extendedOptions: { min: -89.99999999, max: 89.99999999 } }" maxlength="20" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
