﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.Antecipacao.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-FinanceiroAntecipacao-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="radio">Movimento Financeiro</label><br />
                                <div class="btn-group">
                                    <label for="newedit-TipoMovimentoFinanceiro1" class="btn-primary btn-inverted btn"><input id="newedit-TipoMovimentoFinanceiro1" value="1" data-bind="checked: TipoMovimentoFinanceiro, vanillaUniform: { checkParentCSS: true }" type="radio" name="newedit-TipoMovimentoFinanceiro">A Pagar</label>
                                    <label for="newedit-TipoMovimentoFinanceiro2" class="btn-primary btn-inverted btn"><input id="newedit-TipoMovimentoFinanceiro2" value="2" data-bind="checked: TipoMovimentoFinanceiro, vanillaUniform: { checkParentCSS: true }" type="radio" name="newedit-TipoMovimentoFinanceiro">A Receber</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4" data-bind="visible: TipoMovimentoFinanceiro() == 1">
                            <div class="form-group">
                                <label for="ddlDocumentoTipoPagamento">Tipo Documento</label>
                                @HtmlHelper.Select.SearchableKO("ddlDocumentoTipoPagamento", "IdDocumentoTipo", "IdDocumentoTipo", "DescricaoDocumentoTipo", "DescricaoDocumentoTipo", "DescricaoDocumentoTipo", "/Corporativo/Transacao/ListTransacaoDocumentoTipoPagamento", "Ativo:true, RepresentaAntecipacao:true", idChaveRelacao: "IdDocumentoTipo", dataBind: "validate : { required : TipoMovimentoFinanceiro() == 1 }")
                            </div>
                        </div>
                        <div class="col-xs-4" data-bind="visible: TipoMovimentoFinanceiro() == 2">
                            <div class="form-group">
                                <label for="ddlDocumentoTipoRecebimento">Tipo Documento</label>
                                @HtmlHelper.Select.SearchableKO("ddlDocumentoTipoRecebimento", "IdDocumentoTipo", "IdDocumentoTipo", "DescricaoDocumentoTipo", "DescricaoDocumentoTipo", "DescricaoDocumentoTipo", "/Corporativo/Transacao/ListTransacaoDocumentoTipoRecebimento", "Ativo:true, RepresentaAntecipacao:true", idChaveRelacao: "IdDocumentoTipo", dataBind: "validate : { required : TipoMovimentoFinanceiro() == 2 }")
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtTitulo">Número<span>(Automático)</span></label>
                                <input type="text" id="txtTitulo" name="txtTitulo" data-bind="value: Titulo" maxlength="1" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <div class="form-group">
                                <label for="txtSerie">Série</label>
                                <input type="text" id="txtSerie" name="txtSerie" data-bind="value: Serie" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xs-3" data-bind="visible: IdFinanceiroAntecipacao() != null">
                            <div class="form-group read-mode">
                                <label for="ddlProcessoSituacao">Situação Baixa</label>
                                @HtmlHelper.Select.SearchableKO("ddlProcessoSituacao", "IdProcessoSituacao", "IdProcessoSituacao", "Descricao", "Descricao", "Descricao", "/Corporativo/ProcessoSituacao/List", "Ativo:true", dataBind: " { validate: { required: IdFinanceiroAntecipacao() != null } }")
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlPessoa">Pessoa</label>
                                @HtmlHelper.Select.SearchableKO("ddlPessoa", "IdPessoa", "IdPessoa", "NomeSecundarioDocumento", "Nomes", "NomeSecundarioDocumento", "/Corporativo/Pessoa/List", "Ativo:true, IdPessoaNaturezaNotIn:3", required: true)
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="ddlEstado">Município</label>
                                @HtmlHelper.Select.SearchableKO("ddlEstado", "IdPessoaEndereco", "IdPessoaEndereco", "LocalidadeEstado", "LocalidadeEstado", "Localidade", "/Corporativo/PessoaEndereco/List", "Ativo:true", required: true, idControleDependencia: "ddlPessoa", idDependencia: "IdPessoa")
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="ddlFinanceiroMoedaAntecipacao">Valor da Antecipação</label>
                                <div class="input-group">
                                    <div class="input-group-btn" style="width:75px;">
                                        @HtmlHelper.Select.SearchableKO("ddlFinanceiroMoedaAntecipacao", "IdFinanceiroMoedaAntecipacao", "IdFinanceiroMoeda", "Sigla", "DescricaoDetalhadaBusca", "Sigla", "/Financeiro/Moeda/List", "Ativo:true", idChaveRelacao: "IdFinanceiroMoeda", vmDataSelected: "vmParam.MoedaAntecipacao", required: true, allowClear: false)
                                    </div>
                                    <input type="text" id="txtValorAntecipacao" name="txtValorAntecipacao" data-bind="value: ValorAntecipacao, maskDecimal: { casasDecimais: vm.CasasDecimaisMoedaAntecipacao }, validate: { required:true }" class="form-control" maxlength="15" />
                                </div>
                            </div>
                        </div>
                        @*<div class="col-xs-1">
                                <div class="form-group">
                                    <label for="ddlFinanceiroMoedaAntecipacao">Moeda</label>
                                    @HtmlHelper.Select.SearchableKO("ddlFinanceiroMoedaAntecipacao", "IdFinanceiroMoedaAntecipacao", "IdFinanceiroMoeda", "Sigla", "Sigla", "Sigla", "/Financeiro/Moeda/List", "Ativo:true, Natureza:1", idChaveRelacao: "IdFinanceiroMoeda", vmDataSelected: "vmParam.MoedaAntecipacao", required: true)
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="txtValorAntecipacao">Valor</label>
                                    <input type="text" id="txtValorAntecipacao" name="txtValorAntecipacao" data-bind="value: ValorAntecipacao, maskDecimal: { casasDecimais: vm.CasasDecimaisMoedaAntecipacao }, validate: { required:true }" class="form-control" maxlength="15" />
                                </div>
                            </div>*@
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtDataPrevista">Data da Antecipação</label>
                                <div class="input-group date">
                                    <input id="txtDataPrevista" name="txtDataPrevista" class="form-control" data-bind="value: DataPrevistaExibicao,validate: { required: true }, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataPrevistaExibicao }" />
                                    <span class="input-group-addon">
                                        <i class="material-icons">&#xE878;</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5" data-bind="visible: DescricaoDocumentoOrigem() != null">
                            <div class="form-group read-mode">
                                <label for="txtDescricaoDocumentoOrigem">Documento de Origem</label>
                                <input id="txtDescricaoDocumentoOrigem" name="txtDescricaoDocumentoOrigem" class="form-control" data-bind="value: DescricaoDocumentoOrigem" />
                            </div>
                        </div>
                    </div>


                    <fieldset data-bind="visible: ExibeInformacaoCotacao">
                        <legend>Valores e Cotação</legend>
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label for="ddlValorCorrente">Valor Corrente</label>
                                    <div class="input-group">
                                        <div class="input-group-btn" style="width:75px;">
                                            @HtmlHelper.Select.SearchableKO("ddlValorCorrente", "IdFinanceiroMoedaValorAtual", "IdFinanceiroMoeda", "Sigla", "DescricaoDetalhadaBusca", "Sigla", "/Financeiro/Moeda/List", "Ativo:true", idChaveRelacao: "IdFinanceiroMoeda", allowClear: false, dataBind: " validate: { required : ExibeInformacaoCotacao } ", disabled:true)
                                        </div>
                                        <input type="text" id="txtValorAtual" name="txtValorAtual" data-bind="value: ValorAtual, maskDecimal: { casasDecimais: 2 }, validate: { required: ExibeInformacaoCotacao }" class="form-control" maxlength="15" disabled="disabled"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label for="ddlValorCorrente">Cotação</label>
                                    <div class="input-group">
                                        <div class="input-group-btn" style="width:75px;">
                                            @HtmlHelper.Select.SearchableKO("ddlMoedaCotacao", "IdFinanceiroMoedaValorAtual", "IdFinanceiroMoeda", "Sigla", "DescricaoDetalhadaBusca", "Sigla", "/Financeiro/Moeda/List", "Ativo:true", idChaveRelacao: "IdFinanceiroMoeda", allowClear: false, dataBind: " validate: { required : ExibeInformacaoCotacao } ",disabled:true)
                                        </div>
                                        <input type="text" id="txtValorCotacao" name="txtValorCotacao" data-bind="value: ValorCotacao, maskDecimal: { casasDecimais: 2 }, validate: { required: ExibeInformacaoCotacao }" class="form-control" maxlength="15" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="panel panel-default" data-bind="collapsible: { vmArray: [ vm.IdFinanceiroFormaPagamentoPrevista(), vm.IdPessoaPagamentoDestinatario() ]}">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Detalhes Previstos para Baixa</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlFinanceiroFormaPagmentoPrevista">Forma de Pagamento Prevista</label>
                                @HtmlHelper.Select.SearchableKO("ddlFinanceiroFormaPagmentoPrevista", "IdFinanceiroFormaPagamentoPrevista", "IdFinanceiroFormaPagamento", "Descricao", "Descricao", "Descricao", "/Financeiro/FormaPagamento/List", "Ativo:true, Antecipacao:true, Antecipacao:true", idChaveRelacao: "IdFinanceiroFormaPagamento")
                            </div>
                        </div>
                        <div class="col-xs-4" data-bind="visible: ((vm.IdFinanceiroFormaPagamentoPrevista() == 2 || vm.IdFinanceiroFormaPagamentoPrevista() == 5) && vm.TipoMovimentoFinanceiro() == 1)">
                            <div class="form-group">
                                <label for="ddlPessoaPagamentoDestinatario">Destinatário para Pagamento</label>
                                @HtmlHelper.Select.SearchableKO("ddlPessoaPagamentoDestinatario", "IdPessoaPagamentoDestinatario", "IdPessoa", "NomeSecundarioDocumento", "Nomes", "NomeSecundarioDocumento", "/Corporativo/Pessoa/List", "Ativo:true, IdPessoaNaturezaNotIn:3", idChaveRelacao: "IdPessoa", dataBind: "{ validate: { required: ((vm.IdFinanceiroFormaPagamentoPrevista() == 2 || vm.IdFinanceiroFormaPagamentoPrevista() == 5) && vm.TipoMovimentoFinanceiro() == 1) } }", vmDataSelected: "vmParam.PessoaDestinatarioPagamentoVM")
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: ((vm.IdFinanceiroFormaPagamentoPrevista() == 2 || vm.IdFinanceiroFormaPagamentoPrevista() == 5) && vm.TipoMovimentoFinanceiro() == 1)">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="ddlPessoaNatureza" class="control-label">Documento</label>
                                <select id="ddlPessoaNatureza" name="ddlPessoaNatureza" class="form-control no-search" data-bind="value: IdPessoaNatureza, validate: { required: ((vm.IdFinanceiroFormaPagamentoPrevista() == 2 || vm.IdFinanceiroFormaPagamentoPrevista() == 5) && vm.TipoMovimentoFinanceiro() == 1) }">
                                    <option value=""></option>
                                    <option value="1">CPF</option>
                                    <option value="2">CNPJ</option>
                                    <option value="3">Outro</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-2" data-bind="visible: ((vm.IdFinanceiroFormaPagamentoPrevista() == 2 || vm.IdFinanceiroFormaPagamentoPrevista() == 5) && vm.TipoMovimentoFinanceiro() == 1)">
                            <div class="form-group">
                                <label for="txtDocumentoPessoa">Número Documento</label>
                                <input type="text" id="txtDocumentoPessoa" name="txtDocumentoPessoa" data-bind="value: DocumentoPessoa, validate : { required : ((vm.IdFinanceiroFormaPagamentoPrevista() == 2 || vm.IdFinanceiroFormaPagamentoPrevista() == 5) && vm.TipoMovimentoFinanceiro() == 1) } " class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: vm.ExibeContaDetalhesPagamento()">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="ddlFinanceiroConta">Conta</label>
                                @HtmlHelper.Select.SearchableKO("ddlFinanceiroConta", "IdFinanceiroConta", "IdFinanceiroConta", "Detalhe", "BuscaDetalhada", "Detalhe", "/Financeiro/Conta/List", "Ativo:true", dataBind: " validate: { required: vm.ExibeContaDetalhesPagamento() } ")
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: vm.ExibeCartaoFinanceiro()">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="ddlFinanceiroCartao">Cartão Financeiro</label>
                                @HtmlHelper.Select.SearchableKO("ddlFinanceiroCartao", "IdFinanceiroCartao", "IdFinanceiroCartao", "CartaoExibicao", "BuscaDetalhada", "CartaoExibicao", "/Financeiro/Cartao/List", "Ativo:true", dataBind: "validate: { required: vm.ExibeCartaoFinanceiro() }")
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: vm.ExibeCodigoBarra()">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-primary btn-inverted">
                                        <input type="radio" name="options" id="option1" value="1" data-bind="bsChecked: CodigoBarraTipo, css: { active: CodigoBarraTipo() == 1}"> Digitado
                                    </label>
                                    <label class="btn btn-primary btn-inverted">
                                        <input type="radio" name="options" id="option1" value="2" data-bind="bsChecked: CodigoBarraTipo, css: { active: CodigoBarraTipo() == 2}"> Leitor Ótico
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: vm.ExibeCodigoBarra()">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="txtCodigoBarra">Representação Numérica</label>
                                <input type="text" id="txtCodigoBarra" name="txtCodigoBarra" data-bind="value: CodigoBarra, validate: { required: vm.ExibeCodigoBarra() }" maxlength="100" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-bind="visible: IdFinanceiroFormaPagamentoPrevista() ==4,collapsible: { vmArray: [ vm.IdFinanceiroFormaPagamentoPrevista() ]}">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Contabilização</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="ddlFinanceiroClassificacao">Classificação Financeira</label>
                                @HtmlHelper.Select.SearchableKO("ddlFinanceiroClassificacao", "IdFinanceiroClassificacao", "IdFinanceiroClassificacao", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Financeiro/Classificacao/ListarHierarquicamentePorParametro", "Ativo:true", idChaveRelacao: "IdFinanceiroClassificacao")
                            </div>
                        </div>
                    </div>

                    <div data-bind="visible: vm.IdFinanceiroClassificacao() != null">
                        <!-- Grid CFOP -->
                        @HtmlHelper.GridView.GridNewEdit(
                id: "ClassificacaoContabil", // Declarar na página <template id="newedit-id"></template>
                vm: "lstAntecipacaoClassificacaoContabil",
                vmExtend: "vmClassificacaoContabilExtend",
                title: "   ",
                useHiddenColumns: false,
                useRemovedColumn: true,
                columns: @<script>
                    [
                        { 'id': 'IdFinanceiroAntecipacaoClassificacaoContabil' },
                        { 'id': 'IdFinanceiroAntecipacao', defaultValue: vm.IdFinanceiroAntecipacao() },
                        { 'id': 'IdPlanoContas' },
                        { 'id': 'IdCentroCusto' },
                        { 'id': 'Natureza', defautValue: 1 },
                        { 'id': 'Excluido' },
                        { 'id': 'IdFinanceiroMoeda', defaultValue: vm.IdFinanceiroMoedaValorAtual() },
                        { 'id': 'ValorTitulo' },
                        { 'id': 'DescricaoCompletaPlanoContas', displayName: 'Conta', header: true, sortable: true },
                        { 'id': 'NaturezaDescricao', displayName: 'Natureza', header: true, sortable: true },
                        { 'id': 'ValorTituloExibicao', displayName: 'Valor', header: true, sortable: true },
                        defaults.gridNewEdit.column.acaoEditRemove
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: DescricaoCompletaPlanoContas }  }"></td>
                    <td data-bind="text: NaturezaDescricao"></td>
                    <td data-bind="text: ValorTituloExibicao"></td>
                    <td data-bind="template: { name: 'button-edit-remove' }"></td>
                </tr>, orderByCol: "DescricaoCompletaPlanoContas", orderByDir: HelpersUtil.OrderByDirEnum.Asc, showNewButton: true)
                    </div>

                </div>
            </div>
        </div>
    </form>

    <template id="newedit-ClassificacaoContabil">
        <div class="row">
            <div class="col-xs-8">
                <div class="form-group">
                    <label for="ddlPlanoConta">Conta</label>
                    @HtmlHelper.Select.SearchableKO("ddlPlanoConta", "IdPlanoContas", "IdPlanoContas", "DescricaoCompletaMascara", "DescricaoCompletaMascara", "DescricaoCompletaMascara", "/Contabilidade/PlanoContas/ListarHierarquicamentePorParametro", "Ativo:true, UltimoNivel:true", required: true, idControleDependencia: "ddlProcesso", idDependencia: "IdProcesso", idChaveRelacao: "IdPlanoContas", vmTextSelected: "DescricaoCompletaPlanoContas")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="form-group">
                    <label for="ddlCentroCusto">Centro de Custo</label>
                    @HtmlHelper.Select.SearchableKO("ddlCentroCusto", "IdCentroCusto", "IdCentroCusto", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Contabilidade/CentroCusto/ListarHierarquicamentePorParametro", "Ativo:true, UltimoNivel:true, ComRestricaoUsuario:true", required: true)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="">Natureza</label>
                </div>
                <div class="form-group">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary btn-inverted">
                            <input type="radio" name="options" id="option1" value="1" data-bind="bsChecked: Natureza, css: { active: Natureza() == 1 }"> Somar
                        </label>
                        <label class="btn btn-primary btn-inverted">
                            <input type="radio" name="options" id="option1" value="2" data-bind="bsChecked: Natureza, css: { active: Natureza() == 2}"> Deduzir
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-xs-10">
                <div class="form-inline">
                    <div class="form-group">
                        <label for="txtValorTituloContabilizacao">Valor do Título</label>
                    </div>
                    <div class="form-group" style="width: 100px">
                        @HtmlHelper.Select.SearchableKO("ddlFinanceiroMoedaModal", "IdFinanceiroMoeda", "IdFinanceiroMoeda", "Sigla", "DescricaoDetalhadaBusca", "Sigla", "/Financeiro/Moeda/List", "Ativo:true", idChaveRelacao: "IdFinanceiroMoeda", vmDataSelected: "vmParam.MoedaValorContabilizacao", dataBind: " attr: { disabled:true } ")
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtValorTituloContabilizacao" name="txtValorTituloContabilizacao" data-bind="value: ValorTitulo, maskDecimal: { casasDecimais: vmParam.CasasDecimaisContabilizacao }" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>
