﻿@model HTM.MasterGestor.Web.UI.Areas.Questionario.ViewModels.Questao.NewEditVM

<routeoptions data-show-back-button="true" data-route-custom='route-Questionario' data-title-descricao="@Model.DescricaoExibicao"></routeoptions>

<div>
    <form id="form-QuestionarioQuestao-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtSequenciaQuestao">Sequência<span>Opcional</span></label>
                            <input type="text" id="txtSequenciaQuestao" name="txtSequenciaQuestao" data-bind="value: Sequencia" class="form-control" maxlength="4" />
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlQuestionarioTopicoQuestao">Tópico</label>
                            @HtmlHelper.Select.SearchableKO("ddlQuestionarioTopicoQuestao", "IdQuestionarioVersaoTopico", "IdQuestionarioVersaoTopico", "SequenciaDescricao", "Descricao", "Sequencia", "/Questionario/Topico/List", required: true, idChaveRelacao: "IdQuestionarioVersaoTopico", dadosComplObservable: "dadosComplTopico")
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="txtDescricaoQuestao">Descrição</label>
                            <input type="text" id="txtDescricaoQuestao" name="txtDescricaoQuestao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkObrigatorio">Obrigatório</label>
                            <input type="checkbox" class="no-uniform" id="chkObrigatorio" data-bind="checked: Obrigatorio, flipper: { observable: Obrigatorio, options: {'css':'warning' } }">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkPermiteNaoSeAplica">Permite Não se Aplica</label>
                            <input type="checkbox" class="no-uniform" id="chkPermiteNaoSeAplica" data-bind="checked: PermiteNaoSeAplica, flipper: { observable: PermiteNaoSeAplica, options: {'css':'warning' } }">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkQuestaoMesmaLinha">Questão na mesma linha que a Anterior</label>
                            <input type="checkbox" class="no-uniform" id="chkQuestaoMesmaLinha" data-bind="checked: QuestaoMesmaLinha, flipper: { observable: QuestaoMesmaLinha, options: {'css':'warning' } }">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkPermiteFotoQuestao">Permite receber Imagens ?</label>
                            <input type="checkbox" class="no-uniform" id="chkPermiteFotoQuestao" data-bind="checked: PermiteFotoQuestao, flipper: { observable: PermiteFotoQuestao, options: {'css':'warning' } }">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="ddlTipoCampo">Tipo Campo</label>
                            @HtmlHelper.Select.SearchableKO("ddlTipoCampo", "TipoCampo", "IdCaracteristicaTipo", "Descricao", "Descricao", "Descricao", "/Configuracao/CaracteristicaTipo/List", "Ativo:true", required: true, idChaveRelacao: "IdCaracteristicaTipo")
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="ddlTipoJustificativa" class="control-label">Campo de Observação ou Justificativa</label>
                            <select id="ddlTipoJustificativa" name="ddlTipoJustificativa" class="form-control no-search" data-bind="value: TipoJustificativa">
                                <option value="1">Não é permitido</option>
                                <option value="2">Permitido</option>
                                <option value="3">Obrigatório</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" data-bind="visible: (vm.TipoCampo() == 3 || vm.TipoCampo() == 4)">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkPermiteValorNulo">Gera Zero</label>
                            <input type="checkbox" class="no-uniform" id="chkPermiteValorNulo" data-bind="checked: PermiteValorNulo, flipper: { observable: PermiteValorNulo, options: {'css': 'warning'} }">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtTamanhoCampo">Tamanho Máximo</label>
                            <input type="text" id="txtTamanhoCampo" name="txtTamanhoCampo" data-bind="value: TamanhoCampo, mask: { options: defaults.mask.integer }" class="form-control" maxlength="4" />
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="txtSubDescricaoQuestao">Sub Descrição</label>
                            <input type="text" id="txtSubDescricaoQuestao" name="txtSubDescricaoQuestao" data-bind="value: SubDescricao" class="form-control" maxlength="100" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="txtDescricaoDetalhadaQuestao">Descrição Detalhada</label>
                            <textarea data-bind="value: DescricaoDetalhada, wysiwyg: { observable: DescricaoDetalhada, options: defaults.wysiwyg.text }" class="form-control" id="txtDescricaoDetalhadaQuestao" name="txtDescricaoDetalhadaQuestao" data-allowclear="false"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" data-toggle="collapsible" id="pnlImagens">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Imagens</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            @HtmlHelper.Campo.Upload()
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" id="pnlOpcao" data-bind="visible: (TipoCampo() == 8 || TipoCampo() == 9)">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Opções</h3>
            </div>
            <div class="panel-body">
                <div class="panel-body">
                    @HtmlHelper.GridView.GridNewEdit(
                id: "Lista", // Declarar na página <template id="newedit-id"></template>
                vm: "lstOpcao",
                title: "Opção",
                columns: @<script>
                    [
                        { 'id': 'IdQuestionarioVersaoList' },
                        { 'id': 'IdQuestionarioVersaoQuestao' },
                        { 'id': 'Excluido' },

                        { 'id': 'Sequencia', 'header': true, 'displayName': 'Sequência', 'sortable': false },
                        { 'id': 'Valor', 'header': true, 'displayName': 'Valor', 'sortable': false },

                        defaults.gridNewEdit.column.acaoEditRemove
                    ]
                    </script>,
                templateRows:
                    @<tr>
                        <td data-bind="template: { name: 'link-edit', data: { text: Sequencia }  }"></td>
                        <td data-bind="template: { name: 'link-edit', data: { text: Valor }  }"></td>
                        <td data-bind="template: { name: 'button-edit-remove' }"></td>
                    </tr>, orderByCol: "Valor", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false, useRemovedColumn: true)
                </div>

            </div>
        </div>

    </form>
    <template id="newedit-Lista">
        <div class="row">
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="txtSequenciaOpcaoLista">Sequência<span>Opcional</span></label>
                    <input type="text" id="txtSequenciaOpcaoLista" name="txtSequenciaOpcaoLista" data-bind="value: Sequencia" class="form-control" />
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="txtValorLista">Valor</label>
                    <input type="text" id="txtValorLista" name="txtValorLista" data-bind="value: Valor, validate: { required: true }" class="form-control" />
                </div>
            </div>
        </div>
    </template>
</div>
