﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.Classificacao.IndexVM

<div id="filtro-grade">
    <template id="filter-ClassificacaoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlVersao">Versão do plano de Contas</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroVersao", "IdPlanoContasVersao", "IdPlanoContasVersao", "DescricaoComposta", "Descricao", "Descricao", "/Contabilidade/VersaoPlanoContas/List", "Ativo:true,PlanoContasTipo:4")
        </div>
        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "ClassificacaoIndex",
    newUrl: "#/Financeiro/Classificacao/New",
    editUrl: "#/Financeiro/Classificacao/Edit",
    listUrl: "/Financeiro/Classificacao/ListarHierarquicamentePorParametro",
    columns:
    @<script>
        [
           { 'id': 'IdFinanceiroClassificacao', editColumn: true },
           { 'id': 'RegistroProprio', 'defaultValue': '', 'filter': true },
           { 'id': 'IdPlanoContasVersao', filter: true },
           { 'id': 'Descricao', 'filter': true, 'defaultFilter': true, displayName: 'Descrição', sortable: true, header: true },
           { 'id': 'Codigo', 'header': true, 'filter': true, displayName: 'Código', sortable: true, header: true },
           { 'id': 'DescricaoPai', displayName: 'Superior', sortable: true, header: true, groupable: true, groupTextValues: ['defaultValue', '[Sem Nível Superior]'] },
           { 'id': 'DescricaoPlanoContasVersao', 'header': true, displayName: 'Versão', sortable: true },
           { 'id': 'EditarRegistro', 'header': true, 'filter': true, 'sortable': true, 'displayName': 'Editar Registro' },
           defaults.gridNewEdit.column.ativo,
           { displayName: "Ações", header: true, width: '160px' }
        ]
    </script>,
      templateRows:
    @<tr>
        <td data-bind="template: { name: 'link-edit-url', data: { text: Descricao, id: IdFinanceiroClassificacao }  }"></td>
        <td data-bind="template: { name: 'link-edit-url', data: { text: Codigo, id: IdFinanceiroClassificacao }  }"></td>
        <td><span data-bind="text: DescricaoPai"></span></td>
        <td><span data-bind="text: DescricaoPlanoContasVersao"></span></td>
        <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>
        <td data-bind="template: 'label-status'"></td>
        <td>
            <div style="float:left">
                <span data-bind="template: { name: 'button-edit-url', data: { id: IdFinanceiroClassificacao } }"></span>
            </div>

            <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                <a data-bind="attr: { href: '#/Financeiro/Classificacao/Ativar/' + IdFinanceiroClassificacao}" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
            </div>

            <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                <a data-bind="attr: { href: '#/Financeiro/Classificacao/Inativar/' + IdFinanceiroClassificacao}" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
            </div>

            <div style="float:left;padding-left:5px;" data-bind="visible: (EditarRegistro == false)">
                <a data-bind="attr: { href: '#/Financeiro/Classificacao/View/' + IdFinanceiroClassificacao}" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
            </div>
        </td>
    </tr>,
                                    api: "indexVM.api",
                                    orderByCol: "IdFinanceiroClassificacao",
                                    orderByDir: HelpersUtil.OrderByDirEnum.Asc,
                                    useHiddenColumns: false)
</div>

@section Scripts {

    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)

}