﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.Classificacao.NewEditVM

<div>

    <form id="form-FinanceiroClassificacao-NewEdit" data-bind="with: Classificacao, validateForm: { submitHandler: vm.Classificacao().Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default" data-bind="validateOptions: { appendErrorsToRoot: true }">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="ddlPlanoContasVersao" class="control-label">Versão</label>
                            @HtmlHelper.Select.SearchableKO("ddlPlanoContasVersao", "IdPlanoContasVersao", "IdPlanoContasVersao", "DescricaoComposta", "Descricao", "Descricao", "/Contabilidade/VersaoPlanoContas/List", "Ativo:true, PlanoContasTipo:4", dataBind: " attr: { 'disabled': IdFinanceiroClassificacao() != null ? true : false }", vmDataSelected: "vmParam.PlanoContasVersao", required: true)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtCodigo">Código</label>
                            <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo, validate : { required:true }, mask: { value: Codigo, maskValue:Mascara }, attr: { 'disabled': IdFinanceiroClassificacao() != null ? true : false }" class="form-control" maxlength="30" />
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate : { required:true }" class="form-control" maxlength="60" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="ddlSuperior">Superior</label>
                            @HtmlHelper.Select.SearchableKO("ddlSuperior", "IdFinanceiroClassificacaoPai ", "IdFinanceiroClassificacao", "DescricaoCompletaComMascara", "DescricaoCompleta", "DescricaoCompleta", "/Financeiro/Classificacao/ListarHierarquicamentePorParametro", "Ativo:true, UltimoNivel:false,IdFinanceiroClassificacaoNotIn: " + (@Model.IdFinanceiroClassificacao.HasValue ? @Model.IdFinanceiroClassificacao.Value.ToString() : "null"), allowClear: true, idChaveRelacao: "IdFinanceiroClassificacao", disabled: true)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="chkUltimoNivel">Último Nível</label>
                            <input type="checkbox" class="no-uniform" id="chkUltimoNivel" data-bind="checked: UltimoNivel, flipper: { observable: UltimoNivel, options:{ 'css': 'warning'} }">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.SimNao }">
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" data-toggle="collapsible" id="pnlRestricao" data-bind="visible: UltimoNivel">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title">DESEJA LIMITAR O USO DESTA CLASSIFICAÇÃO POR ALGUMA EMPRESA ?</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label" for="ddlPessoa">Apenas assinalar Empresas que não podem usar esta Classificação.</label>
                                    @HtmlHelper.Select.SearchableKO("ddlPessoa", "IdsPessoasRestritas", "IdPessoaIn", "Nome", "Nomes", "Nome", "/Corporativo/Pessoa/ListPessoaPersonalizado", "Ativo:true, ComPessoa:false,ComEmpresaUsuaria:true, ComEmpresa:false, IdPessoaNaturezaNotIn: 4", idChaveRelacao: "IdPessoa", multiple: true)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </form>
</div>
