﻿@model HTM.MasterGestor.Web.UI.Areas.Configuracao.ViewModels.Caracteristica.IndexVM

<div id="filtro-grade" style="display:none;">
    <template id="filter-CaracteristicaIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroModulo">Módulo</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroModulo", "IdModuloIn", "IdModulo", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Configuracao/Modulo/List", "Ativo: true, ComPai:false", idChaveRelacao: "IdModulo", multiple: true)
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "CaracteristicaIndex",
    newUrl: "#/Configuracao/Caracteristica/New",
    editUrl: "#/Configuracao/Caracteristica/Edit",
    listUrl: "/Configuracao/Caracteristica/List",
    columns:
    @<script>
        [   
            { 'id': 'Descricao', filter: true, defaultFilter: true, header: true, displayName: 'Descrição', sortable: true },
            { 'id': 'DescricaoModulo', header: true, displayName: 'Módulo', sortable: true },
            { 'id': 'IdModuloIn', filter: true },
            { 'id': 'IdCaracteristica', editColumn: true },
            defaults.gridNewEdit.column.ativo,
            defaults.gridNewEdit.column.acao
        ]
    </script>,
    templateRows:
    @<tr>       
        <td data-bind="text: Descricao"></td>     
        <td data-bind="text: DescricaoModulo"></td>     
        <td data-bind="template: { name: 'label-status' }"></td>       
        <td data-bind="template: { name: 'button-edit-url', data: { id: IdCaracteristica } }"></td>
    </tr>
    ,
    api: "indexVM.api",
    orderByCol: "Descricao",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,   
    useHiddenColumns: false)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}