﻿@model HTM.MasterGestor.Web.UI.Areas.Configuracao.ViewModels.Caracteristica.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-ConfiguracaoCaracteristica-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="ddlCaracteristicaTabela">Referência</label>
                            @HtmlHelper.Select.SearchableKO("ddlCaracteristicaTabela", "IdCaracteristicaTabela", "IdCaracteristicaTabela", "TabelaPrimaria", "TabelaPrimaria", "TabelaPrimaria", "/Configuracao/CaracteristicaTabela/List", "Ativo: true, ComPai: false")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados do Campo</h3>
            </div>
            <div class="panel-body">
                <div class="row">

                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>

                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtCodigo">Chave</label>
                            <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="ddlCaracteristicaTipo">Tipo Campo</label>
                            @HtmlHelper.Select.SearchableKO("ddlCaracteristicaTipo", "IdCaracteristicaTipo", "IdCaracteristicaTipo", "Descricao", "Descricao", "Descricao", "/Configuracao/CaracteristicaTipo/List", "Ativo: true", allowClear: true)
                        </div>
                    </div>
                </div>

                <div class="optional" data-toggle="collapsible" id="pnlMaisCampos">
                    <a href="#">Ordem, tamanho e obrigatoriedade</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="txtOrdem">Ordem</label>
                                    <input type="text" id="txtOrdem" name="txtOrdem" data-bind="value: Ordem" class="form-control" maxlength="2" />
                                </div>
                            </div>

                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="txtTamanho">Tamanho</label>
                                    <input type="text" id="txtTamanho" name="txtOrdem" data-bind="value: Tamanho" class="form-control" maxlength="3" />
                                </div>
                            </div>

                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label class="control-label" for="chkObrigatorio">Obrigatório</label>
                                    <input type="checkbox" class="no-uniform" id="chkObrigatorio" data-bind="checked: Obrigatorio, flipper: { observable: Obrigatorio, options: defaults.flipper.SimNao}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" data-toggle="collapsible" id="pnlOpcoes" data-bind="visible: vmParams.ExibeOpcoes()">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Opções</h3>
            </div>
            <div class="panel-body">
                @HtmlHelper.GridView.GridNewEdit(
                id: "Opcao",
                vm: "Opcoes",
                title: "Opção",
                columns:
                @<script>
                    [
                        { 'id': 'Valor', 'header': true },
                        { 'id': 'Excluido' },
                        defaults.gridNewEdit.column.acaoEditRemove
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: Valor }  }"></td>
                    <td data-bind="template: { name: 'button-edit-remove' }"></td>
                </tr>,
                         useHiddenColumns: false,
                         orderByCol: "Valor",
                         useRemovedColumn: true,
                         orderByDir: HelpersUtil.OrderByDirEnum.Desc)
            </div>

        </div>

        <div class="panel panel-default panel-action">
            <div class="panel-body">
                <button type="submit" id="btn-salvar" class="btn btn-secondary btn-lg btn-primary-action"><i class="material-icons">&#xE5CA;</i> Salvar</button>
                <a href="#List" type="button" class="btn btn-primary btn-inverted btn-lg"><i class="material-icons">&#xE5C4;</i> Voltar</a>
                @if (@Model.IdCaracteristica.HasValue)
                {
                    <a href="#History/Caracteristica/@Model.IdCaracteristica" type="button" class="btn btn-primary btn-inverted btn-lg pull-right"><i class="material-icons">&#xE889;</i> Histórico</a>
                }
            </div>
        </div>
    </form>

    <template id="newedit-Opcao">
        <div class="form-group">
            <label for="txtValor">Valor</label>
            <input type="text" id="txtValor" name="txtValor" data-bind="value: Valor, validate: { required: true }" class="form-control" maxlength="120" />
        </div>
    </template>

</div>
