﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.CNAE.IndexVM

<div id="filtro-grade">
    <template id="filter-CoporativoCNAEIndex">
        <div class="form-group">
            <label for="txtFiltroCodigoDescricao" class="control-label">Código ou Descrição</label>
            <input type="text" id="txtFiltroCodigoDescricao" data-bind="textInput: CodigoDescricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="txtFiltroSecao" class="control-label">Seção</label>
            <input type="text" id="txtFiltroSecao" data-bind="value: Secao" class="form-control" />
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
        id: "CoporativoCNAEIndex",
        newUrl: "#/Corporativo/CNAE/New",
        editUrl: "#/Corporativo/CNAE/Edit",
        listUrl: "/Corporativo/CNAE/List",
        columns:
        @<script>
            [
                { 'id': 'IdCnae', editColumn: true },
                { 'id': 'CodigoDescricao', filter: true, defaultFilter: true },
                { 'id': 'Secao', 'header': true, 'displayName': 'Seção', sortable: true, 'filter': true, 'groupable': true },
                { 'id': 'Codigo', 'header': true, 'displayName': 'Código', sortable: true },
                { 'id': 'Descricao', 'header': true, 'displayName': 'Descricao', sortable: true },
                defaults.gridNewEdit.column.ativo,
                defaults.gridNewEdit.column.acao
            ]
        </script>,
        templateRows:
        @<tr>
            <td data-bind="text: Secao, id: IdCnae"></td>
            <td><span data-bind="text: Codigo"></span></td>
            <td><span data-bind="text: Descricao"></span></td>
            <td data-bind="template: 'label-status'"></td>
            <td data-bind="template: { name: 'button-edit-url', data: { id: IdCnae } }"></td>
        </tr>, api: "indexVM.api", orderByCol: "Secao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)
</div>
