﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.CNAE.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-Cnae-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-1">
                            <div class="form-group">
                                <label for="txtSecao">Seção</label>
                                <input type="text" id="txtSecao" name="txtSecao" data-bind="value: Secao, validate: { required: true } " maxlength="1" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="txtCodigo">Código</label>
                                <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo, validate: { required: true },  mask: { options: { mask: '99.999' } }" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="txtDescricao">Descrição</label>
                                <textarea id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" maxlength="250" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkAtivo">Ativo</label>
                                <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
