﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.CategoriaServico.CategoriaServicoEquipamentoNewEditVM
<routeoptions data-route-custom="route-categoriaServico"></routeoptions>

<div data-bind="stopBindings: true">
    <form id="form-CategoriaServicoEquipamento-NewEdit" data-bind="formSubmit: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row read-mode">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtCodigo">Código</label>
                                <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" maxlength="10" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtDescricao">Descrição</label>
                                <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao" class="form-control" maxlength="150" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlAplicacoesTipo">Onde pode ser usada (Tipos de Aplicações)</label>
                                <select id="ddlAplicacoesTipo" class="form-control no-search" data-bind="value: TipoAplicacaoTipo" disabled="disabled">
                                    <option value="1">Benfeitoria</option>
                                    <option value="2">Local de Produção</option>
                                    <option value="3">Benfeitoria e Local de Produção</option>
                                    <option value="4">Lote</option>
                                    <option value="5">Animal</option>
                                    <option value="6">Lote e Animal</option>
                                    <option value="7">Equipamento</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-toggle="collapsible" id="pnlEquipamento">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">PARÂMETROS GERAIS: EQUIPAMENTOS</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTipoUtilizacao" class="control-label">Utilização de Equipamento</label>
                                <select placeholder="ddlTipoUtilizacao" id="ddlTipoUtilizacao" class="form-control no-search" data-bind="value: TipoUtilizacaoEquipamento, validate: { required : true}">
                                    <option value="1">Não permitido</option>
                                    <option value="2">Permitido</option>
                                    <option value="3">Obrigatório</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <fieldset data-bind="visible: vm.TipoUtilizacaoEquipamento() == '2' || vm.TipoUtilizacaoEquipamento() == '3'">
                        <legend>ONDE SERÁ INFORMADO?</legend>
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label" for="chkDiretamenteOrdem">Diretamente na Ordem</label>
                                    <input type="checkbox" class="no-uniform" id="chkDiretamenteOrdem" data-bind="checked: DiretamenteOrdem, flipper: { observable: DiretamenteOrdem, options: { 'css': 'warning' } }">
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label" for="chkInformeServico">Via Informe de Serviço</label>
                                    <input type="checkbox" class="no-uniform" id="chkInformeServico" data-bind="checked: InformeServico, flipper: { observable: InformeServico, options: { 'css': 'warning' } }">
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>
            <div class="panel panel-default" data-toggle="collapsible" id="pnlDetalhes" data-bind="collapsible: { vmArray: [ vm.TipoApontamentoOperador(), vm.TipoRestricaoEquipamento(), vm.TipoControleExecucao()] }, visible: vm.TipoUtilizacaoEquipamento() != '1'">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">DETALHES DE USO</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTipoApontamentoOperador" class="control-label">Apontamento de Operador (Motorista)</label>
                                <select id="ddlTipoApontamentoOperador" class="form-control no-search" data-bind="value: TipoApontamentoOperador">
                                    <option value="1">Não Permitido</option>
                                    <option value="2">Permitido</option>
                                    <option value="3">Obrigatório</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTipoRestricaoEquipamento" class="control-label">Existe restrição de Equipamentos ?</label>
                                <select id="ddlTipoRestricaoEquipamento" class="form-control no-search" data-bind="value: TipoRestricaoEquipamento">
                                    <option value="1">Sem Restrição</option>
                                    <option value="2">Restrição por Tipo de Equipamento</option>
                                    <option value="3">Restrição por Equipamento</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: vm.TipoRestricaoEquipamento() == 2">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <label for="ddlTipoRestricaoEquipamento" class="control-label">Caso apenas possam ser informados alguns Tipos de Equipamentos relacione-os abaixo</label>
                                @HtmlHelper.Select.SearchableKO("ddlTipoEquipamento", "IdsAutomotivoTipoEquipamento", "IdAutomotivoTipoEquipamentoIn", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Automotivo/TipoEquipamento/List", "Ativo:true", idChaveRelacao: "IdAutomotivoTipoEquipamento", multiple: true)
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: vm.TipoRestricaoEquipamento() == 3">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <label for="ddlTipoRestricaoEquipamento" class="control-label">Caso apenas possam ser ser informados alguns Equipamentos relacione-os abaixo</label>
                                @HtmlHelper.Select.SearchableKO("ddlEquipamento", "IdsAutomotivoEquipamento", "IdAutomotivoEquipamentoIn", "Descricao", "Descricao", "Descricao", "/Automotivo/Equipamento/List", "Ativo:true", idChaveRelacao: "IdAutomotivoEquipamento", multiple: true)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTipoControleExecucao" class="control-label">Controla o tempo de execução?</label>
                                <select id="ddlTipoControleExecucao" class="form-control no-search" data-bind="value: TipoControleExecucao">
                                    <option value="1">Não Controla</option>
                                    <option value="2">Informa o Início e Término</option>
                                    <option value="3">Informa o Tempo Total</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>