﻿@model HTM.MasterGestor.Web.UI.Areas.Configuracao.ViewModels.NotificacaoForma.IndexVM

<div id="filtro-grade" style="display:none;">
    <template id="filter-NotificacaoFormaIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>  
        <div class="form-group">
            <label for="ddlFiltroForma">Forma Superior</label>            
            @HtmlHelper.Select.SearchableKO("ddlFiltroForma", "IdNotificacaoFormaIn", "IdNotificacaoForma", "Descricao", "Descricao", "Descricao", "/Configuracao/NotificacaoForma/List", "Ativo: true", idChaveRelacao: "IdNotificacaoForma", multiple: true)
        </div>         
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "NotificacaoFormaIndex",
    newUrl: "#/Configuracao/NotificacaoForma/New",
    editUrl: "#/Configuracao/NotificacaoForma/Edit",
    listUrl: "/Configuracao/NotificacaoForma/List",
    columns:
    @<script>
        [   
            { 'id': 'Descricao', filter: true, defaultFilter: true, header: true, displayName: 'Descrição', sortable: true },
            { 'id': 'DescricaoCompleta', header: true, displayName: 'Caminho', sortable: true },
            { 'id': 'Formato', header: true, displayName: 'Formato', sortable: true },            
            { 'id': 'IdNotificacaoFormaIn', filter: true },
            { 'id': 'IdNotificacaoForma', editColumn: true },
            defaults.gridNewEdit.column.ativo,
            defaults.gridNewEdit.column.acao
        ]
    </script>,
    templateRows:
    @<tr>       
        <td data-bind="text: Descricao"></td>     
        <td data-bind="text: DescricaoCompleta"></td>
        <td data-bind="text: Formato"></td>     
        <td data-bind="template: { name: 'label-status' }"></td>       
        <td data-bind="template: { name: 'button-edit-url', data: { id: IdNotificacaoForma } }"></td>
    </tr>
    ,
    api: "indexVM.api",
    orderByCol: "Descricao",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,   
    useHiddenColumns: false)
</div>

@section Scripts { 
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}