﻿@model HTM.MasterGestor.Web.UI.Areas.Configuracao.ViewModels.NotificacaoForma.NewEditVM
<div data-bind="stopBindings: true">
    <form id="form-NotificacaoForma-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="txtDescricao">Descrição</label>
                        <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="60" />
                    </div>

                    <div class="form-group">
                        <label for="ddlNotificacaoFormaPai">Forma Superior</label>
                        @HtmlHelper.Select.SearchableKO("ddlNotificacaoFormaPai", "IdNotificacaoFormaPai", "IdNotificacaoForma", "Descricao", "Descricao", "NotificacaoForma.Descricao", "/Configuracao/NotificacaoForma/List", dadosComplObservable: "DadosComplementares", idChaveRelacao: "IdNotificacaoForma")
                    </div>

                    <div class="form-group">
                        <label for="ddlFormatoddlFormato">Formato</label>
                        <select placeholder="Ativo" id="ddlFiltroAtivo" class="form-control" data-allow-clear="true" data-bind="value: Formato, validate: { required: true }">
                            <option value="HTML" selected="selected">HTML</option>
                            <option value="Text">Text</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="chkAtivo">Ativo</label>
                        <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: defaults.flipper.ativoInativo">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>