﻿@model HTM.MasterGestor.Web.UI.Areas.Aplicacao.ViewModels.Operacao.IndexVM
@{
    Layout = "~/Views/_LayoutDefault.cshtml";
}
<div id="filtro-grade" style="display:none;" data-bind="stopBindings: true">
    @HtmlHelper.Panel.Filtro(
    @<div data-toggle-default="#btnFiltrar">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="value: campoFiltroRapido" class="form-control" />
        </div>
        
        <div class="form-group">
            <label for="ddlFiltroAtivo" class="control-label">Ativo</label>
            <select class="form-control no-search" id="ddlFiltroAtivo">
                <option value="">Indiferente</option>
                <option value="true" selected="selected">Ativo</option>
                <option value="false">Inativo</option>
            </select>
        </div>

        <div class="form-actions">
            <button id="btnFiltrar" class="btn btn-primary"><i class="material-icons">&#xE8B6;</i> Buscar</button>
        </div>
    </div>,
    @<div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th data-bind="css: orderByCss('Descricao'), click: reorder.bind($data,'Descricao')">Descricao</th>
                    <th class="col-xs-2" data-bind="css: orderByCss('Ativo'), click: reorder.bind($data,'Ativo')">Ativo</th>
                    <th class="col-xs-1" style="width:30px;">Ações</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: {data: data, afterRender: onRowRendered }">
                <tr>
                    <td><a data-bind="text: Descricao, attr: { href: '#edit/' + IdAplicacaoOperacao }"></a></td>
                    <td><span data-bind="text: (Ativo ? 'Sim' : 'Não'), css: (Ativo ? 'label label-success' : 'label label-default')"></span></td>
                    <td><a data-bind="attr: { href: '#Edit/' + IdAplicacaoOperacao }" class="btn btn-secondary" title="Editar"><i class="material-icons">&#xE254;</i></a></td>
                </tr>
            </tbody>
        </table>
    </div>)
</div>
@section Scripts {
    <script>
        new crudRoute('/Aplicacao/Operacao/List', '/Aplicacao/Operacao/NewEdit', function () {
            return {
               
                Descricao: $('#txtFiltroDescricao').val(),
                Ativo: $('#ddlFiltroAtivo').val()
            }
        },
				['btnFiltrar', 'btnBuscaRapida'], 'Descricao', 'asc',
				[{ text: 'Ativo', value: 'Ativo', internal: 'Ativo', func: function (p) { return p ? 'Ativo' : 'Inativo' } }]
				);
    </script>

    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
