﻿@model HTM.MasterGestor.Web.UI.Areas.Aplicacao.ViewModels.Operacao.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-AplicacaoOperacao-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlModulo">Modulo</label>
                            @HtmlHelper.Select.SearchableKO("ddlModulo", "IdModulo", "IdModulo", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Configuracao/Modulo/List", "Ativo:true,ComPai:false", required: true)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-action">
            <div class="panel-body">
                <button type="submit" id="btn-salvar" class="btn btn-secondary btn-lg btn-primary-action"><i class="material-icons">&#xE5CA;</i> Salvar</button>
                <a href="#List" type="button" class="btn btn-primary btn-inverted btn-lg"><i class="material-icons">&#xE5C4;</i> Voltar</a>
                @if (@Model.IdAplicacaoOperacao.HasValue)
                {
                    <a href="#History/AplicacaoOperacao/@Model.IdAplicacaoOperacao" type="button" class="btn btn-primary btn-inverted btn-lg pull-right"><i class="material-icons">&#xE889;</i> Histórico</a>
                }
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var form = $('#form-AplicacaoOperacao-NewEdit');

    var vm = {
        @Html.ObservableFor(model => model.IdAplicacaoOperacao),
        @Html.ObservableFor(model => model.Descricao),
        @Html.ObservableFor(model => model.IdModulo),
        @Html.ObservableFor(model => model.Ativo),
        @Html.ObservableFor(model => model.ChaveVersao),
            Save: function () {
              if (!vm.isValidShowErrors()) { return; };
                $.ajaxJsonAntiforgery(form, {
                    data: ko.toJSON(vm),
                    url: '/Aplicacao/Operacao/NewEdit/',
                    success: function (result) {
                        mgFeedbackBase.feedbackCrud(result, 'Operação salva com sucesso.');
                    }
                });
            }
    };

    ko.applyBindings(vm, form[0]);
</script>