﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.Benfeitoria.IndexVM

<div id="filtro-grade">
    <template id="filter-BenfeitoriaIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroBenfeitoriaTipoSuperior" class="control-label">Tipo</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroBenfeitoriaTipoSuperior", "IdBenfeitoriTipoIn", "IdBenfeitoriTipoIn", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Corporativo/BenfeitoriaTipo/List", "Ativo:true", idChaveRelacao: "IdBenfeitoriaTipo", multiple: true)
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
        id: "BenfeitoriaIndex",
        newUrl: "#/Corporativo/Benfeitoria/New",
        editUrl: "#/Corporativo/Benfeitoria/Edit",
        listUrl: "/Corporativo/Benfeitoria/List",
        columns:
        @<script>
            [
                { 'id': 'IdBenfeitoria', editColumn: true },
                { 'id': 'IdBenfeitoriTipoIn', filter: true },
                { 'id': 'IdBenfeitoriaTipo' },
                { 'id': 'IdCentroCusto' },
                { 'id': 'Descricao', 'header': true, 'filter': true, 'defaultFilter': true, 'displayName': 'Descrição', sortable: true },
                { 'id': 'DescricaoBenfeitoriaTipo', 'header': true, 'filter': true, 'defaultFilter': true, 'displayName': 'Tipo', sortable: true, groupable: true },
                defaults.gridNewEdit.column.ativo,
                defaults.gridNewEdit.column.acao
            ]
        </script>,
        templateRows:
        @<tr>
            <td data-bind="text: Descricao, id: IdBenfeitoria"></td>
            <td><span data-bind="text: DescricaoBenfeitoriaTipo"></span></td>
            <td data-bind="template: 'label-status'"></td>
             <td data-bind="template: { name: 'button-edit-url', data: { id: IdBenfeitoria } }"></td>
        </tr>,
             api: "indexVM.api",
             orderByCol: "Descricao",
             orderByDir: HelpersUtil.OrderByDirEnum.Asc,
             useHiddenColumns: false)

</div>
@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}

