﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.Benfeitoria.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-Benfeitoria-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtDescricao">Descrição</label>
                                <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="150" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlBenfeitoriaTipo">Tipo de Benfeitoria</label>
                                @HtmlHelper.Select.SearchableKO("ddlBenfeitoriaTipo", "IdBenfeitoriaTipo", "IdBenfeitoriaTipo", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Corporativo/BenfeitoriaTipo/List", "Ativo:true, UltimoNivel:true", required: true, idChaveRelacao: "IdBenfeitoriaTipo")
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlCentroCusto">Centro de Custo</label>
                                @HtmlHelper.Select.SearchableKO("ddlCentroCusto", "IdCentroCusto", "IdCentroCusto", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Contabilidade/CentroCusto/ListarHierarquicamentePorParametro", "Ativo:true, UltimoNivel:true", dataBind: "validate: { required: CentroCustoObrigatorio()== true }")
                            </div>
                        </div>
                    </div>
                    <div class="row" style="display:none;">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtCor">Cor <span data-bind="text: '(' + (ko.unwrap(Cor) === null ? 'nenhuma selecionada' : ko.unwrap(Cor)) + ')'"></span></label>
                                <seletor-cores id="txtCor" params="setColorToLayer: false, selectedColor: Cor"></seletor-cores>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkAtivo">Ativo</label>
                                <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
