﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.PrincipioAtivo.IndexVM

<div id="filtro-grade" style="display:none;">
    <template id="filter-EstoquePrincipioAtivoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Código, Descrição ou EAN</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: BuscaDetalhada" class="form-control" />
        </div>        
        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "EstoquePrincipioAtivoIndex",
    newUrl: "#/Estoque/PrincipioAtivo/New",
    editUrl: "#/Estoque/PrincipioAtivo/Edit",
    listUrl: "/Estoque/PrincipioAtivo/List",
    columns:
    @<script>
        [
            { 'id': 'IdProdutoServico', editColumn: true },
            { 'id': 'RegistroProprio', 'defaultValue': '', 'filter': true },
            { 'id': 'BuscaDetalhada', filter: true, defaultFilter: true },
            { 'id': 'Natureza', filter: true, defaultValue: '3' },
            { 'id': 'Codigo', 'header': true, displayName: 'Código', sortable: true },
            { 'id': 'Descricao', 'header': true, displayName: 'Descrição', sortable: true },
            { 'id': 'DescricaoProdutoServicoGrupo', groupable: true, displayName: 'Grupo' },
            { 'id': 'DescricaoCompletaProdutoServicoGrupo', 'header': true, displayName: 'Grupo', sortable: true },
            { 'id': 'DescricaoSiglaUnidade', 'header': true, displayName: 'Unidade', sortable: true },
            { 'id': 'EditarRegistro', 'header': true, 'filter': true, 'sortable': true, 'displayName': 'Editar Registro' },
            defaults.gridNewEdit.column.ativo,
            { displayName: "Ações", header: true, width: '160px' }
        ]
    </script>,
    templateRows:
    @<tr>
        <td data-bind="text: Codigo"></td>
        <td data-bind="text: Descricao"></td>       
        <td data-bind="text: DescricaoCompletaProdutoServicoGrupo"></td>    
        <td data-bind="text: DescricaoSiglaUnidade"></td>    
         <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>        
        <td data-bind="template: 'label-status'"></td>
         <td>
             <div style="float:left">
                 <span data-bind="template: { name: 'button-edit-url', data: { id: IdProdutoServico } }"></span>
             </div>

             <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                 <a data-bind="attr: { href: '#/Estoque/PrincipioAtivo/Ativar/' + IdProdutoServico }" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
             </div>

             <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                 <a data-bind="attr: { href: '#/Estoque/PrincipioAtivo/Inativar/' + IdProdutoServico }" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
             </div>

             <div style="float:left;padding-left:5px;" data-bind="visible: (EditarRegistro == false)">
                 <a data-bind="attr: { href: '#/Estoque/PrincipioAtivo/View/' + IdProdutoServico }" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
             </div>

         </td>
    </tr>
    ,
    api: "indexVM.api",
    orderByCol: "Descricao",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,    
    useHiddenColumns: false)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
