﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.PrincipioAtivo.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-PrincipioAtivo-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtCodigo">Código<span>(Automático)</span></label>
                            <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricaoReduzida">Nome</label>
                            <input type="text" id="txtDescricaoReduzida" name="txtDescricaoReduzida" data-bind="value: DescricaoReduzida, validate : {required:true}" class="form-control" maxlength="50" />
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlProdutoServicoGrupo">Grupo de Produto</label>                            
                            @HtmlHelper.Select.SearchableKO("ddlProdutoServicoGrupo", "IdProdutoServicoGrupo", "IdProdutoServicoGrupo", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Estoque/ProdutoServicoGrupo/List", "Ativo:true, UltimoNivel:true, NaturezaIn:\\'1,3\\'", required: true)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
                <div data-toggle="collapsible" class="optional" id="pnlObservacao">
                    <a href="#">Observação</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="form-group">
                                    <textarea id="txtObservacao" name="txtObservacao" data-bind="value: Observacao" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <fieldset>
                    <legend>Forma de Controle</legend>
                    @*<div class="form-group">
                            <label class="control-label" for="chkProdutoServicoIndependete">Como se controla este produto ?</label>
                            <input type="checkbox" class="no-uniform" id="chkProdutoServicoIndependete" data-bind="enable:false, checked: ProdutoServicoIndependente, flipper: { observable: ProdutoServicoIndependente, options: { 'onText': 'Independente', 'offText': 'Família', 'css': 'secondary', 'width': '140px' } }">
                        </div>*@
                    <div id="divDados">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="ddlUnidadeTipo">Produto mensurado em</label>
                                        @HtmlHelper.Select.SearchableKO("ddlUnidadeTipo", "IdUnidadeTipo", "IdUnidadeTipo",
                              "Descricao", "Descricao", "Descricao",
                              "/Estoque/UnidadeTipo/List", "Ativo:true", required: true)
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="ddlUnidade">Unidade de Medida Padrão</label>
                                        @HtmlHelper.Select.SearchableKO("ddlUnidade", "IdUnidade", "IdUnidade","DescricaoSigla", "Descricao", "Descricao","/Estoque/Unidade/List", "Ativo:true", "ddlUnidadeTipo", "IdUnidadeTipo", required: true)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="ddlProdutoServicoFormaApresentacao">Qual a Forma de Apresentação (Embalagem)</label>
                                        @HtmlHelper.Select.SearchableKO("ddlProdutoServicoFormaApresentacao", "IdProdutoServicoFormaApresentacao", "IdProdutoServicoFormaApresentacao",
                                  "Descricao", "Descricao", "Descricao",
                                  "/Estoque/ProdutoServicoFormaApresentacao/List", "Ativo:true", required: true)
                                    </div>
                                </div>
                            </div>
                            <div id="divQuantidadeEmbalagem">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label for="txtQuantidade">Quantidade por Embalagem</label>
                                            <input type="text" id="txtQuantidade" name="txtQuantidade" data-bind="value: Quantidade" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </fieldset>
            </div>
        </div>
    </form>
</div>