﻿@model HTM.MasterGestor.Web.UI.Areas.Contabilidade.ViewModels.PlanoContas.IndexVM

<div id="filtro-grade">
    <template id="filter-PlanoContasIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="value: Descricao" class="form-control" />
        </div>
        <div class="form-group" style="width: 300px">
            <label for="ddlVersaoPlanoContas" class="control-label">Versão</label>
            @HtmlHelper.Select.SearchableKO("ddlVersaoPlanoContas", "IdPlanoContasVersao", "IdPlanoContasVersao", "Descricao", "Descricao", "Descricao", "/Contabilidade/VersaoPlanoContas/List", "Ativo:true,PlanoContasTipo:1")
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "PlanoContasIndex",
    newUrl: "#/Contabilidade/PlanoContas/New",
    editUrl: "#/Contabilidade/PlanoContas/Edit",
    listUrl: "/Contabilidade/PlanoContas/List",
    columns:
    @<script>
        [
           { 'id': 'IdPlanoContas', filter: true, editColumn: true },
           { 'id': 'IdPlanoContasVersao', filter: true },
           { 'id': 'Conta', 'header': true, 'filter': true, displayName: 'Conta', sortable: true, header: true },
           { 'id': 'Codigo', 'header': true, 'filter': true, displayName: 'Código', sortable: true, header: true },
           { 'id': 'Descricao', 'filter': true, 'defaultFilter': true, displayName: 'Descrição', sortable: true, header: true },
           { 'id': 'DescricaoPlanoContasTipo', displayName: 'Visão', sortable: true, header: true },
           { 'id': 'UltimoNivel', 'header': true, displayName: 'Analítico', sortable: true },
           defaults.gridNewEdit.column.ativo,
           defaults.gridNewEdit.column.acao
        ]
    </script>,
      templateRows:
    @<tr>
        <td data-bind="text: Conta  "></td>
        <td><span data-bind="text: Codigo"></span></td>
        <td><span data-bind="text: Descricao"></span></td>
        <td><span data-bind="text: DescricaoPlanoContasTipo"></span></td>
        <td data-bind="template: { name: 'label-status', data: { status: UltimoNivel } }"></td>
        <td data-bind="template: 'label-status'"></td>
        <td data-bind="template: { name: 'button-edit-url', data: { id: IdPlanoContas } }"></td>
    </tr>,
            api: "indexVM.api",
            orderByCol: "Conta",
            orderByDir: HelpersUtil.OrderByDirEnum.Asc,
            useHiddenColumns: false)
</div>
@section Scripts {

    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)

}
@*<div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th data-bind="css: orderByCss('Conta'), click: reorder.bind($data,'Conta')">Conta</th>
                    <th data-bind="css: orderByCss('Codigo'), click: reorder.bind($data,'Codigo')">Código</th>
                    <th data-bind="css: orderByCss('Descricao'), click: reorder.bind($data,'Descricao')">Descrição</th>
                    <th data-bind="css: orderByCss('DescricaoPlanoContasTipo'), click: reorder.bind($data,'DescricaoPlanoContasTipo')">Visão</th>
                    <th data-bind="css: orderByCss('UltimoNivel'), click: reorder.bind($data,'UltimoNivel')">Analítico</th>
                    <th class="col-xs-2" data-bind="css: orderByCss('Ativo'), click: reorder.bind($data,'Ativo')">Ativo</th>
                    <th class="col-xs-1" style="width:30px;">Ações</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: {data: data, afterRender: onRowRendered }">
                <tr>
                    <td><a data-bind="text: Conta, attr: { href: '#edit/' + IdPlanoContas }"></a></td>
                    <td data-bind="text: Codigo"></td>
                    <td data-bind="text: Descricao"></td>
                    <td data-bind="text: DescricaoPlanoContasTipo"></td>
                    <td><span data-bind="text: (UltimoNivel ? 'Sim' : 'Não'), css: (UltimoNivel ? 'label label-success' : 'label label-default')"></span></td>
                    <td><span data-bind="text: (Ativo ? 'Sim' : 'Não'), css: (Ativo ? 'label label-success' : 'label label-default')"></span></td>
                    <td><a data-bind="attr: { href: '#Edit/' + IdPlanoContas }" class="btn btn-secondary" title="Editar"><i class="material-icons">&#xE254;</i></a></td>
                </tr>
            </tbody>
        </table>
    </div>, open: true)
    </div>
    @section Scripts {
        <script>
            new crudRoute('/Contabilidade/PlanoContas/List', '/Contabilidade/PlanoContas/NewEdit', function () {
                return {
                    Descricao: $('#txtFiltroDescricao').val(),
                    IdPlanoContasVersao: $('#ddlVersaoPlanoContas').val(),
                    Ativo: $('#ddlFiltroAtivo').val()
                }
            },
                    ['btnFiltrar', 'btnBuscaRapida'], 'Conta', 'asc',
                    [{ text: 'Ativo', value: 'Ativo', internal: 'Ativo', func: function (p) { return p ? 'Ativo' : 'Inativo' } }]
                    );
        </script>

        @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)

        @HtmlHelper.Select.Searchable("ddlVersaoPlanoContas", "IdPlanoContasVersao", "IdPlanoContasVersao",
                                  "Descricao",
                                      "Descricao", "Descricao", "/Contabilidade/VersaoPlanoContas/List", "Ativo:true,PlanoContasTipo:1")
    }*@
