﻿@model HTM.MasterGestor.Web.UI.Areas.Contabilidade.ViewModels.PlanoContas.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-PlanoContas-NewEdit" data-bind="with: PlanoContas, validateForm: { submitHandler: vm.PlanoContas().Save }">
        @Html.AntiForgeryToken()
        <input type="hidden" id="txtContaSuperior" />
        <div class="panel panel-default" data-bind="validateOptions: { appendErrorsToRoot: true }">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="ddlPlanoContasVersao" class="control-label">Versão</label>
                            @HtmlHelper.Select.SearchableKO("ddlPlanoContasVersao", "IdPlanoContasVersao", "IdPlanoContasVersao",
                              "DescricaoComposta", "Descricao", "Descricao",
                              "/Contabilidade/VersaoPlanoContas/List", "Ativo:true, PlanoContasTipo:1", dataBind: " attr: { 'disabled': IdPlanoContas() != null ? true : false }", required: true)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtCodigo">Código (Automático)</label>
                            <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo, attr: { 'disabled': IdPlanoContas() != null ? true : false }" class="form-control" maxlength="20" />
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtConta">Conta</label>
                            <input type="text" id="txtConta" name="txtConta" data-bind="value: Conta,mask: { value: Conta, maskValue:Mascara }, attr: { 'disabled': IdPlanoContas() != null ? true : false }" class="form-control" maxlength="50" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="ddlPlanoContasSuperior">Superior</label>
                            @HtmlHelper.Select.SearchableKO("ddlPlanoContasSuperior", "IdPlanoContasPai", "IdPlanoContas", "DescricaoCompletaMascara", "DescricaoCompleta", "DescricaoCompletaMascara", "/Contabilidade/PlanoContas/ListarHierarquicamentePorParametro", "Ativo:true, UltimoNivel:false", "ddlPlanoContasVersao", "IdPlanoContasVersao", idChaveRelacao: "IdPlanoContas", dataBind: "attr: { 'disabled':  true }")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkUltimoNivel">Esta conta é último nível (Analítico)? <i>(Contas últimos níveis não tem outras contas abaixo)</i></label>
                            <input type="checkbox" class="no-uniform" id="chkUltimoNivel" data-bind="checked: UltimoNivel, flipper: { observable: UltimoNivel, options: { 'css': 'warning' } }, attr: { 'disabled': IdPlanoContas() != null ? true : false }">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkCentroCustoObrigatorio">Exige Centro de Custo em Lançamentos</label>
                            @*<input type="checkbox" class="no-uniform" id="chkCentroCustoObrigatorio" data-bind="checked: CentroCustoObrigatorio, flipper: { observable: CentroCustoObrigatorio, options: { 'css': 'warning' } }, attr: { 'disabled': IdPlanoContas() != null ? true : false }">*@
                            <input type="checkbox" class="no-uniform" id="chkCentroCustoObrigatorio" data-bind="checked: CentroCustoObrigatorio, flipper: { observable: CentroCustoObrigatorio, options: { 'css': 'warning' } }">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlPlanoContasTipo" class="control-label">Quais os Tipos de Visão esta conta representa?</label>
                            <select class="form-control no-search" id="ddlPlanoContasTipo" data-bind="value: PlanoContasTipo, validate: { required: true }, attr: { 'disabled': IdPlanoContas() != null ? true : false }">
                                <option value=""></option>
                                <option value="1">Gerencial</option>
                                <option value="2">Fiscal</option>
                                <option value="3">Gerencial e Fiscal</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="optional" id="pnlPessoaRestricao" data-bind="collapsible: { vmArray: [ IdsPessoa() ] }">
                    <a href="#">Empresas que não podem utilizar esta Conta</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    @HtmlHelper.Select.SearchableKO("ddlPessoaRestricao", "IdsPessoa", "IdPessoaIn", "NomeSecundario", "Nomes", "NomeSecundario", "/Corporativo/Pessoa/ListPessoaPersonalizado", "ComPessoa:false,ComEmpresaUsuaria:true,ComEmpresa:false,Ativo:true, IdPessoaNaturezaNotIn: 4", multiple: true, idChaveRelacao: "IdPessoa")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
