<!-- ko with: geometryInfo -->
<!-- ko if: type !== 'Point' -->
<table cellpadding="0" cellspacing="0" class="table table-bordered table-area">
    <thead>
    <tr>
        <th colspan="3">
            Informações de área/perímetro
        </th>
    </tr>
    </thead>
    <tbody class="read-mode">
    <tr data-bind="if: type !== 'LineString'">
        <td>Área</td>
        <td>
            <!-- ko if: area_m2 < 10000 -->
            <span contenteditable="true" readonly="readonly" type="text" data-inputmask="'suffix':' m²'" class="mask-decimal" data-bind="maskArea: {}, value: area_m2"></span>
            <!-- /ko -->
            <!-- ko if: area_m2 > 10000 -->
            <span contenteditable="true" readonly="readonly" type="text" data-inputmask="'suffix':' ha'" class="mask-decimal" data-bind="maskArea: {}, value: area_ha"></span>
            <!-- /ko -->
        </td>
        <td><span contenteditable="true" readonly="readonly" type="text" data-inputmask="'suffix':' alq (sp)'" class="mask-decimal" data-bind="maskArea: {}, value: area_alq"></span></td>
    </tr>
    <tr>
        <td>Perímetro</td>
        <td>
            <!-- ko if: perimeter_m < 10000 -->
            <span contenteditable="true" readonly="readonly" type="text" data-inputmask="'suffix':' m'" class="mask-decimal" data-bind="maskArea: {}, value: perimeter_m"></span>
            <!-- /ko -->
            <!-- ko if: perimeter_m > 10000 -->
            <span contenteditable="true" readonly="readonly" type="text" data-inputmask="'suffix':' km'" class="mask-decimal" data-bind="maskArea: {}, value: perimeter_km"></span>
            <!-- /ko -->
        </td>
        <td>--</td>
    </tr>
    </tbody>
</table>
<!-- /ko -->
<!-- ko if: type === 'Point' -->
<table cellpadding="0" cellspacing="0" class="table table-bordered table-area">
    <thead>
    <tr>
        <th colspan="4">
            Localização do ponto
        </th>
    </tr>
    </thead>
    <tbody class="read-mode">
        <tr>
            <td>Latitude</td>
            <td colspan="3" data-bind="text: latitude"></td>
        </tr>
        <tr>
            <td>Longitude</td>
            <td colspan="3" data-bind="text: longitude"></td>
        </tr>
    </tbody>
</table>
<!-- /ko -->
<!-- /ko -->