﻿<div id="aside-panel-teste">
    <div class="aside-toggle-container">
        <button class="aside-toggle-button" aria-label="Recolher painel lateral" data-bind="event: { click: togglePanel }"></button>
    </div>
    <!-- ko template: { nodes: $componentTemplateNodes, data: data } -->
    <!-- /ko -->
</div>