﻿<div class="clearfix">
    <!-- ko if: groupByOptions().length > 1 -->
    <div class="" data-bind="css: showNewButtonObservable() == false ? 'pull-left' : 'pull-right'">
        <div class="form-inline">
            <div class="form-group grid-agrupar" style="margin-right: 0 !important; margin-top: -10px" data-bind="css: showExportButtons ? 'form-group grid-agrupar' : 'form-group grid-agrupar'">
                <label for="gpByColumn">Agrupar por</label>
                <div class="control-group">
                    <div class="inline-block">
                        <select id="gpByColumn" class="no-uniform form-control" data-bind="options: groupByOptions, optionsText: 'displayName', optionsValue: 'id', value: groupByCol"></select>
                    </div>
                    <div class="inline-block" data-bind="visible: groupByCol() !== ''">
                        <select id="filtro-group-by-direction" class="no-uniform form-control" data-bind="value: groupByDir">
                            <option value=""></option>
                            <option value="asc">Crescente</option>
                            <option value="desc">Decrescente</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: showNewButtonObservable -->
        <button type="button" data-bind="event: { click: newItem }" class="btn btn-secondary btn-lg btn-primary-action btn-novo pull-left"><i class="material-icons material-md">&#xE145;</i> <span data-bind="text: addTitle"></span> <strong data-bind="text: title"></strong></button>
    <!-- /ko -->
    <!-- ko if: useCustomHeaderAction -->
        <!-- ko template: { name: 'headerAction-' + templateId } -->
        <!-- /ko -->
    <!-- /ko-->
</div>

<div data-bind="visible: totalRecords() === 0" style="margin-bottom: 10px" class="clearfix">
    <div class="alert alert-info alert-icon alert-nodata">
        <i class="material-icons">&#xE002;</i>
        <span class="text">
            <span>Nenhum(a) <span data-bind="text: title.toString().toLowerCase()"></span> cadastrado(a).</span><br />            
            <a style="display: block" href="#" data-bind="visible: useHiddenColumns && hiddenRowsCount() > 0, click: showHiddenToggle"><!-- ko if: hiddenRowsCount() > 1 -->Porém existem (<span data-bind="text: hiddenRowsCount"></span>) registros inativos<!-- /ko --><!-- ko if: hiddenRowsCount() === 1 -->Porém existe (1) registro inativo<!-- /ko -->, clique aqui para exibir</a>
        </span>
    </div>    
</div>

<div data-bind="visible: totalRecords() > 0, gridBindings: this">  
    <table class="table table-hover table-striped table-row-editable">
        <thead>
            <tr>
                <!-- ko if: useSelection -->
                <th data-sortable="false"><input type="checkbox" data-bind="checked: selectAll" /></th>
                <!-- /ko -->                
                <!-- ko foreach: getColumns -->
                <th data-bind="style: { width: $data.hasOwnProperty('width') ? width : 'auto' }, text: displayName, css: $parent.getColumnsCSS($data), visible: ($data.hasOwnProperty('visible') ? ko.utils.unwrapObservable($data.visible) : true)"></th>
                <!-- /ko -->
            </tr>
        </thead>
        <tbody data-bind="template: { name: 'list-' + templateId, foreach: dataPaged, afterRender: onRowRendered, afterAdd: onRowAdd }, rowClick: { element: $element }">
    </table>

   
    
 

    <div class="pagination pagination-block">
        <div class="row">
            <div class="col-xs-8">
                <div class="form-group total-records" data-bind="visible: showTotalRecords">
                    <label for="totalRecords">total de registros</label> <span class="badge" id="totalRecords" data-bind="text: totalRecords()"></span>
                    <span data-bind="visible: totalPages() > 1"><label for="totalPages">total de páginas</label> <span class="badge" id="totalPages" data-bind="text: totalPages()"></span></span>
                    <!-- ko if: hiddenRowsCount() > 0 -->
                    <label for="totalInativos">registros inativos</label> <span class="badge" id="totalInativos" data-bind="text: hiddenRowsCount()"></span>
                    <a class="link-edit" href="#" data-bind="visible: useHiddenColumns && hiddenRowsCount() > 0, click: showHiddenToggle"><span style="margin-right: 0" data-bind="text: showHidden() ? 'Oculta inativos' : 'Mostra inativos'"></span></a>
                    <!-- /ko -->
                </div>
                <div data-bind="visible: totalPages() > 1">
                    <button class="btn btn-primary first" data-bind="event: { click: firstPage }, enable: currentPage() > 1">Primeiro </button>
                    <button class="btn btn-primary previous" data-bind="event: { click: previousPage }, enable: currentPage() > 1">Anterior</button>

                    <div class="page-number">
                        <div class="input-group">
                            <label for="goToPage" class="sr-only">Pagina</label>
                            <input data-toggle-default="#btnIrPagina" min="1" class="form-control ignore-validate" id="goToPage" type="number" data-bind="value: currentPage, attr: { max: totalPages() }" />
                            <span class="input-group-btn">
                                <button class="btn btn-primary" id="btnIrPagina" data-bind="event: { click: goToPage() }">Ir</button>
                            </span>
                        </div>
                    </div>

                    <button class="btn btn-primary next" data-bind="event: { click: nextPage }, enable: currentPage() != totalPages()">Próxima</button>
                    <button class="btn btn-primary last" data-bind="event: { click: lastPage }, enable: currentPage() != totalPages()">Última</button>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group page-size" data-bind="if: totalRecords() > 10 ">
                    <label for="pageSize">Registros por página</label>
                    <select id="pageSize" class="form-control no-uniform" data-bind="value: pageSize, valueAllowUnset: true, event: { change: firstPage }">
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="form-group" data-bind="visible: useHiddenColumns && hiddenRowsCount() > 0">
    <span href="#" class="label-hidden" for="chkShowHidden">Exibir <span data-bind="text: title.toLowerCase()"></span> <span data-bind="text: (hiddenRowsCount() > 1 ? 'inativo(a)': 'inativo(a)')"></span></span>
    <input id="chkShowHidden" type="checkbox" class="no-uniform" data-bind="checked: showHidden, flipper: { options: defaults.flipper.ativoInativo }" />
</div>-->


<!-- template modal -->
<!-- ko if: displayMode === 'modal' -->
<div class="modal fade modal-primary" data-bind="attr: { id: 'modal-' + templateId }, modalBindings: this" style="display: none" tabindex="-1">
    <form class="modal-dialog" data-bind="validateForm: { submitHandler: saveItem }, attr: { id: 'form-' + templateId }">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><span data-bind="text: action"></span> <span data-bind="text: title"></span></h4>
            </div>
            <div class="modal-body">
                <div data-bind="attr: { id: 'form-' + templateId }" novalidate>
                    <div data-bind="template: { name: 'newedit-' + templateId, foreach: itemSelected, afterRender: onTemplateRender }"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-secondary btn-lg btn-primary-action pull-left"><i class="material-icons">&#xE5CA;</i> Salvar</button>
                <button type="button" class="btn btn-primary btn-inverted btn-lg pull-left" data-dismiss="modal"><i class="material-icons">&#xE5C4;</i> Voltar</button>
            </div>
        </div>
    </form>
</div>
<!-- /ko -->
<!-- template panel -->
<!-- ko if: displayMode === 'panel' || displayMode === 'panels' -->
<div class="panel-set panel-left" data-bind="panelSetBindings: this" style="display: none">
    <div class="panel-container">
        <!-- main tab with templateId -->
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title"><span data-bind="text: title"></span> <a class="panel-close" href="#"><i class="material-icons">&#xE14C;</i></a></h3>
            </div>
            <div class="panel-body">
                <form data-bind="attr: { id: 'form-' + templateId }, validateForm: { submitHandler: saveItem }">
                    <div data-bind="template: { name: 'newedit-' + templateId, foreach: itemSelected, afterRender: onTemplateRender }">
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="button" data-bind="click: saveItem" class="btn btn-secondary btn-block btn-lg btn-primary-action"><i class="material-icons">&#xE5CA;</i> Salvar</button>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-primary btn-block btn-inverted btn-lg panel-close"><i class="material-icons">&#xE14C;</i> Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>   
 
    <!-- ko foreach: tabs -->
    <!-- tabs with <template data-tab-id="idTemplate">-->
    <div class="panel-container" data-bind="css: 'panel-container ' + tabStyle">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title"><span data-bind="text: tabTitle"></span> <a class="panel-close" href="#"><i class="material-icons">&#xE14C;</i></a></h3>
            </div>
            <div class="panel-body">
                <div data-bind="template: { name: function () { return tabTemplate(); }, afterRender: $component.onTemplateRender }, attr: { 'id': 'tab-' + tabId }"></div>
            </div>
        </div>
    </div>
    <!-- /ko -->
   
</div>
<!-- /ko -->


<!-- ko if: useSelection -->
<div data-bind="gridSelectPanelAction: {}" class="panel panel-selected panel-action" style="bottom: 0; opacity: 1;">
    <div class="panel-body">
        <button class="cancelar btn btn-lg btn-icon btn-default btn-rounded pull-right"><i class="material-icons"></i> Cancelar seleção</button>
        <div class="form-group pull-left">
            <label data-bind="attr: { 'for': 'panelSelectionLabel-' + templateId }">Exibir somente selecionados </label>
            <input type="checkbox" data-bind="checked: showOnlySelected, flipper: {}, attr: { 'id': 'panelSelectionLabel-' + templateId }" />
        </div>
        <div class="selecionados pull-left"><span data-bind="text: selectedCount() == 1 ? selectedCount() + ' item selecionado' : selectedCount() + ' itens selecionados'"></span></div>        
        <!-- ko template: { name: 'selectedAction-' + templateId } -->
        <!-- /ko -->
    </div>
</div>
<!-- /ko -->

<script type="text/html" id="button-edit">
    <a href="#" class="btn btn-secondary btn-icon" data-bind="click: $component.editItem" title="Editar"><i class="material-icons">&#xE254;</i></a>
</script>
<script type="text/html" id="button-edit-remove">
    <a href="#" class="btn btn-secondary btn-icon" data-bind="click: $component.editItem, css: ($data.hasOwnProperty('EditarRegistro') && ko.unwrap($data['EditarRegistro']) === false ? 'btn btn-secondary btn-icon disabled' : 'btn btn-secondary btn-icon')" title="Editar"><i class="material-icons">&#xE254;</i></a>
    <a href="#" class="btn btn-danger btn-icon" data-bind="click: $component.removeItem, css: ($data.hasOwnProperty('EditarRegistro') && ko.unwrap($data['EditarRegistro']) === false ? 'btn btn-danger btn-icon disabled' : 'btn btn-danger btn-icon')" title="Remover"><i class="material-icons">&#xE14C;</i></a>
</script>    
<script type="text/html" id="checkbox-select">
    <!-- ko if: useSelection -->
    <input type="checkbox" data-bind="checked: _selectedView, event: { change: _change }" />
    <!-- /ko -->
</script>
<script type="text/html" id="label-status">
    <span data-bind="html: $component.setStatus($element)"></span>
</script>              
<script type="text/html" id="label-permitealteracaoquantidade">
    <span data-bind="text: ((status ? status : PermiteAlteracaoQuantidade) ? 'Sim' : 'Não'), css: ((status ? status : PermiteAlteracaoQuantidade) ? 'label label-success' : 'label label-default')"></span>
</script>
<script type="text/html" id="label-principal">
    <span data-bind="text: ((status ? status : Principal) ? 'Sim' : 'Não'), css: ((status ? status : Principal) ? 'label label-success' : 'label label-default')"></span>
</script>
<script type="text/html" id="label-recuperaentrada">
    <span data-bind="text: ((status ? status : RecuperaEntrada) ? 'Sim' : 'Não'), css: ((status ? status : RecuperaEntrada) ? 'label label-success' : 'label label-default')"></span>
</script>
<script type="text/html" id="link-edit">
    <a href="#" data-bind="click: $component.editItem, text: text"></a>
</script>

