﻿<!--<div data-bind="visible: totalRecords() > 0" style="margin-top: 20px" class="pull-right">
    <a style="display: block" href="#" data-bind="visible: useHiddenColumns && hiddenRowsCount() > 0, click: showHiddenToggle">
        <span data-bind="text: showHidden() ? 'Oculta' : 'Mostra'"></span> inativos
    </a>
</div>-->

<div data-bind="visible: getTotalRecords() === 0" style="margin-bottom: 10px" class="clearfix">
    <div class="alert alert-info alert-icon alert-nodata">
        <i class="material-icons">&#xE002;</i>
        <span class="text">
            <span>Nenhum(a) item <!--<span data-bind="text: title.toString().toLowerCase()"></span>--> cadastrado(a).</span><br />
            <!--<a style="display: block" href="#" data-bind="visible: useHiddenColumns && hiddenRowsCount() > 0, click: showHiddenToggle"><!x-- ko if: hiddenRowsCount() > 1 --x>Porém existem (<span data-bind="text: hiddenRowsCount"></span>) registros inativos<!x-- /ko --x><!x-- ko if: hiddenRowsCount() === 1 --x>Porém existe (1) registro inativo<!x-- /ko --x>, clique aqui para exibir</a>-->
        </span>
    </div>
</div>

<div data-bind="visible: getTotalRecords() > 0">
    <!--<!x-- ko if: showExportButtons --x>-->
    <!--<div class="form-inline table-top clearfix" style="display: none">
        <div class="form-group grid-exportar">
            <label>
                Exportar em
            </label>
            <div class="control-group">
                <button type="button" class="btn btn-primary btn-inverted" data-bind="event: { click: exportPDF }" data-toggle="tooltip" title="Exportar para PDF"><i class="fa fa-file-pdf-o"></i> PDF</button>
                <button type="button" class="btn btn-primary btn-inverted" data-bind="event: { click: exportExcel }" data-toggle="tooltip" title="Exportar para Excel"><i class="fa fa-file-excel-o"></i> Excel</button>
            </div>
        </div>
    </div>-->
    <!--<!x-- /ko --x>-->
    <!--<div data-bind="css: showNewButton == false ? 'pull-left' : ''">-->
    <!-- ko if: groupByOptions().length > 1 -->
    <!--<div class="form-group grid-agrupar" data-bind="css: showExportButtons ? 'form-group grid-agrupar' : 'form-group grid-agrupar'">-->
    <div class="form-group grid-agrupar">
        <label for="gpByColumn">Agrupar por</label>
        <div class="control-group">
            <div class="inline-block">
                <select id="gpByColumn" class="no-uniform form-control" data-bind="options: groupByOptions, optionsText: 'displayName', optionsValue: 'id', value: groupByCol"></select>
            </div>
            <div class="inline-block" data-bind="visible: groupByCol() !== ''">
                <select id="filtro-group-by-direction" class="no-uniform form-control" data-bind="value: groupByDir">
                    <option value="asc">Crescente</option>
                    <option value="desc">Decrescente</option>
                </select>
            </div>
        </div>
    </div>
    <!-- /ko -->
    <!--<button data-bind="click: bolota"></button>-->

    <table class="table table-hover table-striped table-row-editable" data-bind="gvOrderBind: this">
        <thead>
            <tr>
                <!--<!x-- ko if: useSelection --x>
                <th data-sortable="false"><input type="checkbox" data-bind="checked: selectAll" /></th>
                <!x-- /ko --x>-->
                <!-- ko foreach: getColumns -->
                <th data-bind="style: { width: $data.hasOwnProperty('width') ? width : 'auto' }, attr: { 'id': 'column-' + $data['id'] }, text: displayName, css: $parent.getColumnsCSS($data), visible: ($data.hasOwnProperty('visible') ? ko.utils.unwrapObservable($data.visible) : true)"></th>
                <!-- /ko -->
            </tr>
        </thead>
        <!--name: 'list-' + id,--><!-- , rowClick: { element: $element } -->
        <tbody data-bind=" template: { name: 'list-' + id, foreach: getDataPaged, afterRender: afterRowRender }"></tbody>
    </table>

    <div class="pagination pagination-block">
        <div class="row">
            <div class="col-xs-8">
                <div class="form-group total-records" data-bind="visible: showTotalRecords">
                    <label for="totalRecords">total de registros</label> <span class="badge" id="totalRecords" data-bind="text: getTotalRecords()"></span>
                    <span data-bind="visible: getTotalPages() > 1"><label for="totalPages">total de páginas</label> <span class="badge" id="totalPages" data-bind="text: getTotalPages()"></span></span>
                </div>
                <div data-bind="visible: getTotalPages() > 1">
                    <button class="btn btn-primary first" data-bind="event: { click: goToFirstPage }, enable: getCurrentPage() > 1">Primeiro </button>
                    <button class="btn btn-primary previous" data-bind="event: { click: goToPreviousPage }, enable: getCurrentPage() > 1">Anterior</button>

                    <div class="page-number">
                        <div class="input-group">
                            <label for="goToPage" class="sr-only">Pagina</label>
                            <input data-toggle-default="#btnIrPagina" min="1" class="form-control ignore-validate" id="goToPage" type="number" data-bind="value: getCurrentPage, attr: { max: getTotalPages() }" />
                            <span class="input-group-btn">
                                <button class="btn btn-primary" id="btnIrPagina" data-bind="event: { click: goToPage }">Ir</button>
                            </span>
                        </div>
                    </div>

                    <button class="btn btn-primary next" data-bind="event: { click: goToNextPage }, enable: getCurrentPage() != getTotalPages()">Próxima</button>
                    <button class="btn btn-primary last" data-bind="event: { click: goToLastPage }, enable: getCurrentPage() != getTotalPages()">Última</button>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group page-size" data-bind="if: getTotalRecords() > 10 ">
                    <label for="pageSize">Registros por página</label>
                    <select id="pageSize" class="form-control no-uniform" data-bind="value: getPageSize, valueAllowUnset: true, event: { change: goToFirstPage }">
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- template crud -->
<!--<div data-bind="template: { name: 'crud-' + id, foreach: dataSelected, afterRender: onEditTemplateRender }"></div>-->
               

<!-- xko if: displayMode === 'modal' -->
<!--<div class="modal fade modal-primary" data-bind="attr: { id: 'modal-' + templateId }, modalBindings: this" style="display: none" tabindex="-1">
    <form class="modal-dialog" data-bind="validateForm: { submitHandler: saveItem }, attr: { id: 'form-' + templateId }">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><span data-bind="text: action"></span> <span data-bind="text: title"></span></h4>
            </div>
            <div class="modal-body">
                <div data-bind="attr: { id: 'form-' + templateId }" novalidate>
                    <div data-bind="template: { name: 'newedit-' + templateId, foreach: itemSelected, afterRender: onTemplateRender }"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-secondary btn-lg btn-primary-action pull-left"><i class="material-icons">&#xE5CA;</i> Salvar</button>
                <button type="button" class="btn btn-primary btn-inverted btn-lg pull-left" data-dismiss="modal"><i class="material-icons">&#xE5C4;</i> Voltar</button>
            </div>
        </div>
    </form>
</div>-->
<!-- /xko -->
