﻿<div class="panel-set panel-left" data-bind="panelsBindings: this, foreach: { data: getPanels, afterRender: panelRender }" style="display: none">    
    <div class="panel-container" data-bind="css: 'panel-container ' + template.css">
        <div class="panel panel-default panel-tabs">
            <div class="panel-heading clearfix">
                <h3 class="panel-title"><span data-bind="text: title"></span> <a class="panel-close" href="#"><i class="material-icons"></i></a></h3>
            </div>
            <div class="panel-body" data-bind="with: template">
                <!-- ko if: contextType == 'viewModel' || contextType == 'grid' -->
                <!-- context de edição de grid -->
                <form data-bind="attr: { id: 'form-panel-' + id }, validateForm: { submitHandler: gvContext().saveItem }, validateOptions: { appendErrorsToContext: '$data' }">
                    <!-- ko if: ko.unwrap(gvContext().itemSelected) != null -->
                    <div data-bind="template: { name: id, foreach: gvContext().itemSelected }">
                    </div>                    
                    <div class="row panel-set-action">
                        <div class="col-xs-12">
                            <hr />
                        </div>
                        <div class="col-xs-6">
                            <button type="submit" id="btn-salvar" class="btn btn-primary btn-block btn-primary-action btn-md"><i class="material-icons material-md">&#xE5CA;</i> Salvar</button>
                        </div>
                        <div class="col-xs-6">
                            <button type="button" class="btn btn-primary btn-block btn-inverted btn-lg panel-close"><i class="material-icons material-md"></i> Cancelar</button>
                        </div>
                    </div>
                    <!-- /ko -->
                </form>
                <!-- /ko -->
                <!-- ko if: contextType == 'controller' -->
                <div data-bind="html: viewHtml">
                </div>
                <!-- /ko -->
            </div>
        </div>
        <!-- /ko-->
    </div>
</div>