<!-- ko if: layer -->
<div id="panel-feature-data">

    <h5>Editando elemento</h5>

    <area-position-info params="layer: layer"></area-position-info>

    <br />
    <br />
    <!-- ko with: layer -->
    <!-- ko if: feature.geometry.type !== 'Point' -->
    <div class="form-group" data-bind="with: options">
        <label>Cor de fundo <span data-bind="text: '#' + ko.unwrap(fillColor)"></span></label>
        <seletor-cores id="fillColor" params="selectedColor: fillColor, layer: $parent"></seletor-cores>
    </div>
    <!-- /ko -->
    <!-- ko if: feature.geometry.type === 'Point' -->
    <div class="form-group" data-bind="with: options">
        <label>Ícone</label>
        <seletor-icones id="seletorIcones" params="selectedIcon: icon.options.icon, selectedColor: color, layer: $parent"></seletor-icones>
        <template id="seletor-icones-template">
            <div class="seletor-icones" data-bind="foreach: icons">
                <div class="icone" data-bind="event: { 'click': $parent.changeIcon }, css: { 'selecionado': $data === ko.unwrap($parent.selectedIcon) }">
                    <i data-bind="event: { 'click': $parent.changeIcon }, attr: { class: 'material-icons' }, text: $data"></i>
                </div>
            </div>
        </template>
    </div>
    <div class="form-group" data-bind="with: options">
        <label>Cor do ícone <span data-bind="text: '#' + ko.unwrap(fillColor)"></span></label>
        <seletor-cores id="iconColor" params="selectedColor: color, layer: $parent"></seletor-cores>
    </div>
    <!-- /ko -->
    <!-- /ko -->
    <a href="#" data-bind="event: { click: saveEvent }">salvar</a>
    <a href="#" data-bind="event: { click: cancelEvent }">cancelar</a>

    <template id="seletor-cores-template">
        <div class="seletor-cores" data-bind="foreach: colors">
            <div class="cor" data-bind="style: { background: $data }, attr: { alt: $data, title: $data }, css: { 'selecionado': $data === ko.unwrap($parent.selectedColor) }, event: { 'click': $parent.changeColor }"></div>
        </div>
    </template>

</div>
<!-- /ko -->