<div id="popup-feature-edit">

    <p data-bind="text: layer.feature.properties.MapeamentoElementoDescricao"></p>

    <div class="observacao" data-bind="text: layer.feature.properties.MapeamentoElementoObservacao"></div>

    <div style="min-width: 350px">
    <area-position-info params="layer: layer"></area-position-info>
    </div>
   
    <button class="btn btn-secondary btn-icon edit-element" data-bind="event: { 'click': layerEditPopupEvent }"><i class="material-icons">edit</i> Editar</button>
    <button class="btn btn-default btn-icon delete-element pull-right" style="margin-right: 4px" data-bind="event: { 'click': function (data, e) { data.layer.closePopup(); mapaElemento.ElementoRemove(data.layer) } }"><i class="material-icons">delete</i> Remover</button>
    <br class="clearfix" />
    <!--<a id="iw-editFeature" href="#" data-bind="event: { 'click': layerEditPopupEvent }">edit</a>
    <a id="iw-removeFeature" href="#" data-bind="event: { 'click': layerRemovePopupEvent }">remover</a>-->

</div>
