﻿<div class="container-multi form-control visible-print" data-bind="text: vmTextSelected"></div>
<select class="form-control" multiple data-bind="foreach: { data: itens, as: 'item' }, bootstrapSelect: {}">
    <option data-bind="attr: { value: item.id, 'data-subtext': $parent.selectOptions.showSubtext ? subtext : '' }, text: item.text"></option>
</select>