﻿<div class="form-group">
    <label data-bind="text: (label().length > 0 ? label() : unidadeSelecionadaTipoDescricao())"></label>
    <div class="input-group form-group-unidade" data-bind="validateOptions: { appendErrorsToParentComponentContext: true }">
        <input type="text" class="form-control campo-valor" data-bind="value: valor, attr: { 'id': 'valor-' + id }, clearOnEsc: {}, validate: validateBind(), maskDecimal: { casasDecimais: unidadeSelecionadaCasasDecimais, valorApresentacao: unidadeSelecionadaApresentacao, suffix: unidadeSelecionadaSigla, showSuffix: (editaUnidade ? false : true) }" />
        <div class="input-group-addon unidade-valor">
            <!-- todo: Verificar funcionamento do componente de validação quando utiliza parametro customizável validate: { customError: validateUnidade }, -->
            <select class="form-control campo-unidade" data-bind="attr: { 'id': 'unidade-' + id }, visible: ko.utils.unwrapObservable(editaUnidade), valueAllowUnset: true, options: unidadesFiltro, value: idUnidade, optionsText: 'Sigla', optionsValue: 'IdUnidade'"></select><!-- IdUnidade, DescricaoSigla ou Sigla -->
        </div>
    </div>
</div>