﻿<div class="alert alert-warning" data-bind="visible: debug">
    No componente: (valor: <strong data-bind="text: valor"></strong> idUnidadeTipoSelecionado = <strong data-bind="text: idUnidadeTipo"></strong>, idUnidadeSelecionado = <strong data-bind="text: idUnidade"></strong>)   
</div>

<div class="form-group" data-bind="attr: { id: 'container-' + idCampo }">
    <div class="form-group">
        <label data-bind="text: unidadeSelecionadoApresentacao, visible: debug"></label>        
        <label data-bind="text: (label.length > 0 ? label : unidadeTipoSelecionadoDescricao)"></label>
        <div class="form-group-unidade input-group">
            <div class="input-group-addon" data-bind="visible: valorMonetario">
                <span class="valor-sigla" data-bind="text: unidadeSelecionadoSigla"></span>
            </div>

            <input type="text" class="form-control campo-valor" id="unidadeValor" data-bind="textInput: valor, attr: { placeholder: valorPlaceholder, id: idCampo }, maskDecimalUnidadeTipo: { valor: valor, casasDecimais: unidadeSelecionadoCasasDecimais }, validate: validateBind" />

            <!-- ko if: exibeTipoUnidade -->
            <div class="input-group-addon" data-bind="hidden: alteraTipoUnidade">
                <span class="valor-descricao-unidade-tipo" data-bind="text: unidadeTipoSelecionadoDescricao" />
            </div>
            <div class="input-group-addon unidade-tipo" data-bind="visible: !valorMonetario && alteraTipoUnidade">
                <!-- ko if: alteraTipoUnidade -->
                <select class="no-uniform form-control campo-unidade-tipo" data-bind="options: campoUnidadeTipo, value: idUnidadeTipo, optionsValue: 'IdUnidadeTipo', optionsText: 'Descricao', visible: (exibeTipoUnidade && alteraTipoUnidade)"></select>
                <!-- /ko -->
            </div>
            <!-- /ko -->
            <div class="input-group-addon unidade-valor" data-bind="visible: !valorMonetario">
                <select class="no-uniform form-control campo-unidade" data-bind="options: campoUnidade, value: idUnidade, optionsValue: 'IdUnidade', optionsText: 'Sigla', enable: alteraUnidade"></select>
            </div>
        </div>
    </div>
</div>