﻿@model HTM.MasterGestor.Web.UI.Areas.Configuracao.ViewModels.CaracteristicaTabela.IndexVM

<div id="filtro-grade" style="display:none;">
    <template id="filter-CaracteristicaTabelaIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>
    @HtmlHelper.GridView.GridIndex(
    id: "CaracteristicaTabelaIndex",
    newUrl: "#/Configuracao/CaracteristicaTabela/New",
    editUrl: "#/Configuracao/CaracteristicaTabela/Edit",
    listUrl: "/Configuracao/CaracteristicaTabela/List",
    columns:
    @<script>
        [
            { 'id': 'IdCaracteristicaTabela', editColumn: true },
            { 'id': 'Descricao', filter: true, defaultFilter: true, header: true, displayName: 'Descrição', sortable: true },
            defaults.gridNewEdit.column.ativo,
            defaults.gridNewEdit.column.acao
        ]
    </script>,
    templateRows:
    @<tr>
        <td data-bind="text: Descricao"></td>
        <td data-bind="template: { name: 'label-status' }"></td>
        <td data-bind="template: { name: 'button-edit-url', data: { id: IdCaracteristicaTabela } }"></td>
    </tr>,api: "indexVM.api", orderByCol: "Descricao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}