﻿@model HTM.MasterGestor.Web.UI.Areas.Configuracao.ViewModels.CaracteristicaTabela.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-ConfiguracaoCaracteristicaTabela-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>

                    @*<div class="col-xs-6">
                        <div class="form-group">
                            <label for="ddlTipoEquipamento">Módulo</label>
                            <input type="hidden" id="ddlModulo" data-bind="value: IdModulo" class="form-control required" placeholder="Selecione" data-allowclear="true" />
                        </div>
                    </div>*@
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="txtDescricao">Tabela Primária</label>
                            <input type="text" id="txtTabelaPrimaria" name="txtTabelaPrimaria" data-bind="value: TabelaPrimaria, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="txtDescricao">Tabela Secundária</label>
                            <input type="text" id="txtTabelaSecundaria" name="txtTabelaSecundaria" data-bind="value: TabelaSecundaria" class="form-control" maxlength="120" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>