﻿@model HTM.MasterGestor.Web.UI.Areas.Questionario.ViewModels.ItemControle.IndexVM

<div id="filtro-grade" style="display:none;">
    <template id="filter-QuestionarioItemControleIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <!-- Tipo de Controle -->
        <div class="form-group">
            <label for="ddlQuestionarioCategoriaControleFiltro">Tipo de Controle</label>
            @HtmlHelper.Select.SearchableKO("ddlQuestionarioCategoriaControleFiltro", "IdQuestionarioCategoriaControle", "IdQuestionarioCategoriaControle", "Descricao", "Descricao", "Descricao", "/Questionario/CategoriaControle/List", "Ativo:true")
        </div>
        <!-- Categoria de Controle -->
        <div class="form-group">
            <label for="ddlQuestionarioGrupoControleFiltro">Categoria de Controle</label>
            @HtmlHelper.Select.SearchableKO("ddlQuestionarioGrupoControleFiltro", "IdQuestionarioGrupoControle", "IdQuestionarioGrupoControle", "Descricao", "Descricao", "Descricao", "/Questionario/GrupoControle/List", "Ativo:true")
        </div>
        <!-- Classificação de Controle -->
        <div class="form-group">
            <label for="ddlQuestionarioClassificacaoControleFiltro">Classificação de Controle</label>
            @HtmlHelper.Select.SearchableKO("ddlQuestionarioClassificacaoControleFiltro", "IdQuestionarioClassificacaoControle", "IdQuestionarioClassificacaoControle", "Descricao", "Descricao", "Descricao", "/Questionario/ClassificacaoControle/List", "Ativo:true")
        </div>
        <!-- Cultura -->
        <div class="form-group">
            <label for="ddlProducaoCulturaFiltro">Cultura</label>
            @HtmlHelper.Select.SearchableKO("ddlProducaoCulturaFiltro", "IdProducaoCultura", "IdProducaoCultura", "Descricao", "Descricao", "Descricao", "/Agricola/Cultura/List", "Ativo:true")
        </div>
        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "QuestionarioItemControleIndex",
    newUrl: "#/Questionario/ItemControle/New",
    editUrl: "#/Questionario/ItemControle/Edit",
    listUrl: "/Questionario/ItemControle/List",
    columns:
    @<script>
        [
            { 'id': 'IdQuestionarioItemControle', editColumn: true },
            { 'id': 'RegistroProprio', 'defaultValue': '', filter: true },
            { 'id': 'IdQuestionarioCategoriaControle', filter: true },
            { 'id': 'IdQuestionarioGrupoControle', filter: true },
            { 'id': 'IdQuestionarioClassificacaoControle', filter: true },
            { 'id': 'IdProducaoCultura', filter: true },

            { 'id': 'Codigo', defaultFilter: true, header: true, displayName: 'Código', sortable: true },
            { 'id': 'Descricao', filter: true, defaultFilter: true, header: true, displayName: 'Descrição', sortable: true },
            { 'id': 'DescricaoTecnica', filter: true, defaultFilter: true, header: true, displayName: 'Descrição Técn.', sortable: true },
            { 'id': 'DescricaoResumida', filter: true, defaultFilter: true, header: true, displayName: 'Descrição Resum.', sortable: true },
            { 'id': 'QuestionarioCategoriaControleDescricao', defaultFilter: true, header: true, displayName: 'Categoria', sortable: true, groupable: true },
            { 'id': 'QuestionarioGrupoControleDescricao', defaultFilter: true, header: true, displayName: 'Grupo', sortable: true, groupable: true },

            { 'id': 'EditarRegistro', 'header': true, 'filter': true, 'sortable': true, 'displayName': 'Editar Registro' },
            defaults.gridNewEdit.column.ativo,
            { displayName: "Ações", header: true, width: '160px' }
        ]
    </script>,
    templateRows:
    @<tr>
        <td data-bind="text: Codigo"></td>
        <td data-bind="text: Descricao"></td>
        <td data-bind="text: DescricaoTecnica"></td>
        <td data-bind="text: DescricaoResumida"></td>
        <td data-bind="text: QuestionarioCategoriaControleDescricao"></td>
        <td data-bind="text: QuestionarioGrupoControleDescricao"></td>
        <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>
        <td data-bind="template: { name: 'label-status' }"></td>
        <td>
            <div style="float:left">
                <span data-bind="template: { name: 'button-edit-url', data: { id: IdQuestionarioItemControle } }"></span>
            </div>

            <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                <a data-bind="attr: { href: '#/Questionario/ItemControle/Ativar/' + IdQuestionarioItemControle}" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
            </div>

            <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                <a data-bind="attr: { href: '#/Questionario/ItemControle/Inativar/' + IdQuestionarioItemControle}" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
            </div>

            <div style="float:left;padding-left:5px;" data-bind="visible: (EditarRegistro == false)">
                <a data-bind="attr: { href: '#/Questionario/ItemControle/View/' + IdQuestionarioItemControle}" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
            </div>
        </td>
    </tr>
    ,
    api: "indexVM.api",
    orderByCol: "Codigo",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,
    useHiddenColumns: false)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}