﻿@model HTM.MasterGestor.Web.UI.Areas.Questionario.ViewModels.ItemControle.NewEditVM

<div>
    <form id="form-QuestionarioItemControle-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtCodigo">Código<span>(Automático)</span></label>
                            <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" maxlength="5" />
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricaoTecnica">Descrição Técnica</label>
                            <input type="text" id="txtDescricaoTecnica" name="txtDescricaoTecnica" data-bind="value: DescricaoTecnica, validate: { required: true }" class="form-control" maxlength="80" />
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricaoResumida">Descrição Resumida</label>
                            <input type="text" id="txtDescricaoResumida" name="txtDescricaoResumida" data-bind="value: DescricaoResumida, validate: { required: true }" class="form-control" maxlength="30" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlQuestionarioCategoriaControle">Tipo de Controle</label>
                            @HtmlHelper.Select.SearchableKO("ddlQuestionarioCategoriaControle", "IdQuestionarioCategoriaControle", "IdQuestionarioCategoriaControle", "Descricao", "Descricao", "Descricao", "/Questionario/CategoriaControle/List", "Ativo:true", required: true, allowClear: false)
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlQuestionarioGrupoControle">Categoria de Controle</label>
                            @HtmlHelper.Select.SearchableKO("ddlQuestionarioGrupoControle", "IdQuestionarioGrupoControle", "IdQuestionarioGrupoControle", "Descricao", "Descricao", "Descricao", "/Questionario/GrupoControle/List", "Ativo:true", required: true,allowClear:false)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" data-open="false" id="pnlClassificacao">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Classificação por Cultura</h3>
            </div>
            <div class="panel-body">
                @HtmlHelper.GridView.GridNewEdit(
                id: "Classificacao", // Declarar na página <template id="newedit-id"></template>
                vm: "lstCultura",
                title: "Classificação por Cultura",
                columns: @<script>
                    [
                        { 'id': 'IdQuestionarioItemControleCultura' },
                        { 'id': 'IdQuestionarioItemControle' },
                        { 'id': 'IdQuestionarioClassificacaoControle' },
                        { 'id': 'IdProducaoCultura' },
                        { 'id': 'IdsProducaoVariedade' },
                        { 'id': 'Descricao' },
                        { 'id': 'DescricaoTecnica' },
                        { 'id': 'DescricaoResumida' },
                        { 'id': 'QuestionarioClassificacaoControleDescricao', 'header': true, 'displayName': 'Classificacao', 'sortable': true },
                        { 'id': 'ProducaoCulturaDescricao', 'header': true, 'displayName': 'Cultura', 'sortable': true },
                        { 'id': 'Ativo', 'defaultValue': true, 'header': true },
                        defaults.gridNewEdit.column.acao
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: QuestionarioClassificacaoControleDescricao }  }"></td>
                    <td data-bind="text: ProducaoCulturaDescricao"></td>
                    <td data-bind="template: { name: 'label-status' }"></td>
                    <td data-bind="template: { name: 'button-edit' }"></td>
                </tr>, orderByCol: "QuestionarioClassificacaoControleDescricao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: true)
            </div>
        </div>
        <div class="panel panel-default" data-open="false" id="pnlGaleria">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Galeria de Imagens</h3>
            </div>
            <div class="panel-body">
                @HtmlHelper.GridView.GridNewEdit(
                id: "Galeria", // Declarar na página <template id="newedit-id"></template>
                vm: "lstArquivoDigital",
                title: "Imagem",
                columns: @<script>
                    [
                        { 'id': 'IdQuestionarioItemControleGaleria' },
                        { 'id': 'IdQuestionarioItemControle' },
                        { 'id': 'DescricaoDetalhada' },
                        { 'id': 'ArquivoDigital', 'header': true, 'displayName': 'Imagem', 'defaultValue': { CaminhoArquivo: ko.observable(null), Arquivo: ko.observable(), NomeExibicao: ko.observable(), Enviado: false, IdArquivoDigital: ko.observable(null) }},
                        { 'id': 'Descricao', 'header': true, 'displayName': 'Descrição', 'sortable': true },
                        { 'id': 'Ativo', 'defaultValue': true, 'header': true },
                        defaults.gridNewEdit.column.acao
                    ]
                </script>,
                templateRows:
                @<tr>
                     <td>
                         <!-- ko with: ArquivoDigital -->
                         <!-- ko if: ko.unwrap(CaminhoArquivo) !== null -->
                         <img src="" style="height: 60px;" alt="" data-bind="attr: { alt: NomeExibicao, src: CaminhoArquivo }" />
                         <!-- /ko -->
                         <!-- /ko -->
                     </td>
                    <td data-bind="text: Descricao"></td>
                    <td data-bind="template: { name: 'label-status' }"></td>
                    <td data-bind="template: { name: 'button-edit' }"></td>
                </tr>, orderByCol: "Descricao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: true, vmExtend: "extendGaleria")
            </div>
        </div>
    </form>
    <template id="newedit-Classificacao">
        <div class="row read-mode">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="txtDescricao">Descrição</label>
                    <input type="text" id="txtDescricaoItem" name="txtDescricaoItem" data-bind="value: Descricao = vm.Descricao()" class="form-control" disabled="disabled" />
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="txtDescricaoTecnicaItem">Descrição Técnica</label>
                    <input type="text" id="txtDescricaoTecnicaItem" name="txtDescricaoTecnicaItem" data-bind="value: DescricaoTecninca = vm.DescricaoTecnica()" class="form-control" disabled="disabled" />
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="txtDescricaoResumidaItem">Descrição Resumida</label>
                    <input type="text" id="txtDescricaoResumidaItem" name="txtDescricaoResumidaItem" data-bind="value: DescricaoResumida = vm.DescricaoResumida()" class="form-control" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="ddlQuestionarioClassificacaoControle">Classificação de Controle</label>
                    @HtmlHelper.Select.SearchableKO("ddlQuestionarioClassificacaoControle", "IdQuestionarioClassificacaoControle", "IdQuestionarioClassificacaoControle", "Descricao", "Descricao", "Descricao", "/Questionario/ClassificacaoControle/List", "Ativo:true", required: true, allowClear: false, vmTextSelected: "QuestionarioClassificacaoControleDescricao")
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="ddlProducaoCultura">Cultura</label>
                    @HtmlHelper.Select.SearchableKO("ddlProducaoCultura", "IdProducaoCultura", "IdProducaoCultura", "Descricao", "Descricao", "Descricao", "/Agricola/Cultura/List", "Ativo:true", required: true, allowClear: false, vmTextSelected: "ProducaoCulturaDescricao")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="form-group">
                    <label for="ddlProducaoVariedade">Caso esta classificação seja válida para algumas variedades, informe-as abaixo.</label>
                    @HtmlHelper.Select.SearchableKO("ddlProducaoVariedade", "IdsProducaoVariedade", "IdProducaoVariedadeIn", "Descricao", "Descricao", "Descricao", "/Agricola/Variedade/List", "Ativo:true", required: true, idControleDependencia: "ddlProducaoCultura", idDependencia: "IdProducaoCultura", idChaveRelacao: "IdProducaoVariedade", multiple: true)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="control-label" for="chkAtivoClassificacao">Ativo</label>
                    <input type="checkbox" class="no-uniform" id="chkAtivoClassificacao" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                </div>
            </div>
        </div>
    </template>
    <template id="newedit-Galeria">
        <!-- modal upload -->
        <div class="row">
            <div class="col-xs-8">
                <div class="form-group">
                    <label for="txtDescricaoGaleria">Descrição</label>
                    <input type="text" id="txtDescricaoGaleria" name="txtDescricaoGaleria" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="form-group">
                    <label for="txtDescricaoDetalhadaGaleria">Descrição Detalhada</label>
                    <textarea data-bind="value: DescricaoDetalhada, wysiwyg: { observable: DescricaoDetalhada, options: defaults.wysiwyg.text }, validate: { required: { params: true, message: '' } }" class="form-control" id="txtDescricaoDetalhadaGaleria" name="txtDescricaoDetalhadaGaleria" data-allowclear="false"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">

                <div class="form-group" data-bind="with: ArquivoDigital">
                    <label for="imagemGaleria">Imagem</label>
                    <div class="input-group">
                        <input type="text" id="txtDescricaoImagem" readonly="readonly" data-bind="value: Arquivo, validate: { required: true }" class="form-control">
                        <div class="input-group-btn">
                            <a href="#" class="btn btn-secondary" data-bind="upload: { id: 'imagemGaleria', url: defaults.upload.serverURL, success: uploadSuccess, error: uploadError, progress: uploadProgress, data: uploadParams }">Escolher imagem..</a>
                            <input id="imagemGaleria" class="form-control" type="file" accept=".jpg,.png,.gif" name="imagemGaleria" style="display: none" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </template>
</div>
