﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.UnidadeMedidor.IndexVM

<div id="filtro-grade" style="display:none;">
    <template id="filter-UnidadeMedidorIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroUnidade">Unidade</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroUnidade", "IdUnidadeIn", "IdUnidadeIn", "Descricao", "Descricao", "Descricao", "/Estoque/Unidade/List", "Ativo: true", multiple: true, idChaveRelacao: "IdUnidade")
        </div>
        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "UnidadeMedidorIndex",
    newUrl: "#/Estoque/UnidadeMedidor/New",
    editUrl: "#/Estoque/UnidadeMedidor/Edit",
    listUrl: "/Estoque/UnidadeMedidor/List",
    columns:
    @<script>
        [
            { 'id': 'IdUnidadeMedidor', editColumn: true },
            { 'id': 'IdUnidadeIn', filter: true },
            { 'id': 'RegistroProprio', 'defaultValue': '', 'filter': true },
            { 'id': 'Descricao', filter: true, header: true, defaultFilter: true, displayName: 'Descrição', sortable: true },
            { 'id': 'DescricaoUnidade', groupable: true },
            { 'id': 'SiglaUnidade', header: true, displayName: 'Sigla' },
            { 'id': 'EditarRegistro', 'header': true, 'filter': true, 'sortable': true, 'displayName': 'Editar Registro' },
            defaults.gridNewEdit.column.ativo,
            { displayName: "Ações", header: true, width: '160px' }
        ]
    </script>,
    templateRows:
    @<tr>
        <td data-bind="text: Descricao"></td>
        <td data-bind="text: SiglaUnidade"></td>
        <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>
        <td data-bind="template: 'label-status'"></td>
        <td>
            <div style="float:left">
                <span data-bind="template: { name: 'button-edit-url', data: { id: IdUnidadeMedidor } }"></span>
            </div>

            <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                <a data-bind="attr: { href: '#/Estoque/UnidadeMedidor/Ativar/' + IdUnidadeMedidor}" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
            </div>

            <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                <a data-bind="attr: { href: '#/Estoque/UnidadeMedidor/Inativar/' + IdUnidadeMedidor}" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
            </div>

            <div style="float:left;padding-left:5px;" data-bind="visible: (EditarRegistro == false)">
                <a data-bind="attr: { href: '#/Estoque/UnidadeMedidor/View/' + IdUnidadeMedidor}" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
            </div>

        </td>
    </tr>
            ,
            api: "indexVM.api",
            orderByCol: "Descricao",
            orderByDir: HelpersUtil.OrderByDirEnum.Asc,
            useHiddenColumns: false)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}