﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.UnidadeMedidor.NewEditVM
<div data-bind="stopBindings: true">
    <form id="form-UnidadeMedidor-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="txtDescricao">Descrição</label>
                        <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required:true }" class="form-control" maxlength="60" />
                    </div>
                    <div class="form-group">
                        <label for="ddlUnidade">Unidade</label>
                        @HtmlHelper.Select.SearchableKO("ddlUnidade", "IdUnidade", "IdUnidade", "DescricaoSigla", "Descricao", "Descricao", "/Estoque/Unidade/List", "Ativo: true,IdUnidadeNotIn: " + (@Model.IdUnidade.HasValue ? @Model.IdUnidade.Value.ToString() : "null"), required: true)
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="chkAtivo">Ativo</label>
                        <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.SimNao }">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>