﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.Transferencia.IndexVM

<div id="filtro-grade">
    <template id="filter-TransferenciaIndex">
        <!-- Busca Avancada -->
        <div class="form-group">
            <label for="txtFiltroAvancada" class="control-label">Locais ou Produtos</label>
            <input type="text" id="txtFiltroAvancada" data-bind="textInput: BuscaAvancada" class="form-control" />
        </div>
        <!-- Grupo de Produto -->
        <div class="form-group">
            <label for="ddlProdutoServicoGrupoFiltro">Grupo de Produto</label>
            @HtmlHelper.Select.SearchableKO("ddlProdutoServicoGrupoFiltro", "IdProdutoServicoGrupoIn", "IdProdutoServicoGrupoIn", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Estoque/ProdutoServicoGrupo/List", "Ativo:true, UltimoNivel:true", idChaveRelacao: "IdProdutoServicoGrupo", multiple: true)
        </div>
        <!-- Produto -->
        <div class="form-group">
            <label for="ddlProdutoServicoFiltro">Produto</label>
            @HtmlHelper.Select.SearchableKO("ddlProdutoServicoFiltro", "IdProdutoServicoIn", "IdProdutoServicoIn", "DescricaoCodigo", "DescricaoCodigoBusca", "DescricaoCodigo", "/Estoque/Produto/ListProdutoServicoPorProdutoLocal", "Ativo:true", idChaveRelacao: "IdProdutoServico", multiple: true)
        </div>
        <!-- Requisitante ou Responsável  -->
        <div class="form-group">
            <label for="ddlPessoaBuscaIn">Requisitante ou Responsável</label>
            @HtmlHelper.Select.SearchableKO("ddlPessoaBuscaIn", "IdPessoaBuscaIn", "IdPessoaIn", "NomeSecundario", "NomeDocumento", "NomeSecundario", "/Corporativo/Pessoa/ListPessoaPersonalizado", "ComPessoa:true, ComEmpresaUsuaria:false, ComEmpresa:false, Ativo:true, IdPessoaNaturezaNotIn: 4", idChaveRelacao: "IdPessoa")
        </div>
        <!-- Período de Movimentação -->
        <div class="form-group">
            <label for="txtFiltroPeriodoMovimentacao" class="control-label">Período de Movimentação</label>
            <div class="input-group date" style="width:230px">
                <input type="text" id="txtFiltroPeriodoMovimentacao" data-bind="daterangepicker: { startDate: DataMovimentacaoInicio, endDate: DataMovimentacaoFim }" class="form-control" />
                <div class="input-group-addon input-group-btn"><i class="material-icons">&#xE916;</i></div>
            </div>
        </div>
        <!-- Empresa Usuária Origem  -->
        <div class="form-group">
            <label for="ddlEmpresaUsuariaOrigem">Empresa Origem</label>
            @HtmlHelper.Select.SearchableKO("ddlEmpresaUsuariaOrigem", "IdPessoaEmpresaOrigem", "IdPessoa", "NomeSecundario", "NomeDocumento", "NomeSecundario", "/Corporativo/Pessoa/ListPessoaPersonalizado", "ComPessoa:false, ComEmpresaUsuaria:true, ComEmpresa:false, Ativo:true, IdPessoaNaturezaNotIn: 4", idChaveRelacao: "IdPessoa")
        </div>
        <!-- Empresa Usuária Destino  -->
        <div class="form-group">
            <label for="ddlEmpresaDestinoOrigem">Empresa Destino</label>
            @HtmlHelper.Select.SearchableKO("ddlEmpresaDestinoOrigem", "IdPessoaEmpresaDestino", "IdPessoa", "NomeSecundario", "NomeDocumento", "NomeSecundario", "/Corporativo/Pessoa/ListPessoaPersonalizado", "ComPessoa:false, ComEmpresaUsuaria:true, ComEmpresa:false, Ativo:true, IdPessoaNaturezaNotIn: 4", idChaveRelacao: "IdPessoa")
        </div>
        <!-- Local Origem  -->
        <div class="form-group">
            <label for="ddlProdutoLocalOrigemFiltro">Local Origem</label>
            @HtmlHelper.Select.SearchableKO("ddlProdutoLocalOrigemFiltro", "IdProdutoLocalOrigem", "IdProdutoLocal", "Descricao", "Descricao", "Descricao", "/Estoque/ProdutoLocal/List", "Ativo:true", idChaveRelacao: "IdProdutoLocal")
        </div>
        <!-- Local Destino  -->
        <div class="form-group">
            <label for="ddlProdutoLocalDestinoFiltro">Local Destino</label>
            @HtmlHelper.Select.SearchableKO("ddlProdutoLocalDestinoFiltro", "IdProdutoLocalDestino", "IdProdutoLocal", "Descricao", "Descricao", "Descricao", "/Estoque/ProdutoLocal/List", "Ativo:true", idChaveRelacao: "IdProdutoLocal")
        </div>
    </template>

    @HtmlHelper.GridView.GridIndex(
        id: "TransferenciaIndex",
        newUrl: "#/Estoque/Transferencia/New",
        editUrl: "#/Estoque/Transferencia/Edit",
        listUrl: "/Estoque/Transferencia/List",
        columns:
        @<script>
            [
                { 'id': 'IdEstoqueTransferencia', editColumn: true },

                
                { 'id': 'BuscaAvancada', filter: true, defaultFilter:true },
                { 'id': 'IdProdutoServicoIn', filter: true },
                { 'id': 'IdProdutoServicoGrupoIn', filter: true },
                { 'id': 'DataMovimentacaoInicio', filter: true },
                { 'id': 'DataMovimentacaoFim', filter: true },
                { 'id': 'IdPessoaEmpresaOrigem', filter: true },
                { 'id': 'IdPessoaEmpresaDestino', filter: true },
                { 'id': 'IdProdutoLocalOrigem', filter: true },
                { 'id': 'IdProdutoLocalDestino', filter: true },
                { 'id': 'IdPessoaBuscaIn', filter: true },

                { 'id': 'Codigo', header: true, displayName: 'Código', sortable: true },
                { 'id': 'DataMovimentoExibicao', header: true, displayName: 'Movimento', sortable: true },
                { 'id': 'EmpresaOrigem', header: true, displayName: 'Origem', sortable: true },
                { 'id': 'EmpresaDestino', header: true, displayName: 'Destino', sortable: true },
                { 'id': 'NomeSecundarioPessoaRequisitante', header: true, displayName: 'Requisitante', sortable: true },
                { 'id': 'ProdutoLocalOrigemDescricao', header: true, displayName: 'Origem', sortable: true },
                { 'id': 'ProdutoLocalDestinoDescricao', header: true, displayName: 'Destino', sortable: true },
                { 'id': 'QtdeProduto', header: true, displayName: 'Produtos' },
                { 'id': 'DescricaoProcessoSituacao', header: true, displayName: 'Situação' },
                { displayName: "Ações", header: true, width: '110px' }
            ]
        </script>,
        templateRows:
        @<tr>
            <td data-bind="text: Codigo, id: IdEstoqueTransferencia"></td>
            <td data-bind="text: DataMovimentoExibicao"></td>
            <td data-bind="text: EmpresaOrigem"></td>
            <td data-bind="text: EmpresaDestino"></td>
            <td data-bind="text: NomeSecundarioPessoaRequisitante"></td>
            <td data-bind="text: ProdutoLocalOrigemDescricao"></td>
            <td data-bind="text: ProdutoLocalDestinoDescricao"></td>
            <td data-bind="text: QtdeProduto"></td>
             <td data-bind="text: DescricaoProcessoSituacao"></td>
             <td>
                 <div style="float:left">
                     <span data-bind="template: { name: 'button-edit-url', data: { id: IdEstoqueTransferencia } }"></span>
                 </div>
                 <div style="float:left;padding-left:5px;" data-bind="visible: EditarRegistro === false">
                     <a data-bind="attr: { href: '#/Estoque/Transferencia/View/' + IdEstoqueTransferencia  }" class="btn btn-secondary btn-icon" title="Visualizar"><i class="fa fa-file-text-o"></i></a>
                 </div>
             </td>
        </tr>, api: "indexVM.api", orderByCol: "IdEstoqueTransferencia", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: true)

</div>
@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}

