﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.Transferencia.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-EstoqueTransferencia-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTransacao">Transação</label>
                                @HtmlHelper.Select.SearchableKO("ddlTransacao", "IdTransacao", "IdTransacao", "Descricao", "Descricao", "Descricao", "/Corporativo/Transacao/List", required: true, dadosComplObservable: "TransacaoDadosCompleObservable")
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtCodigo">Código<span>(Automático)</span></label>
                                <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" maxlength="500" />
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtDataMovimentacao">Data Movimentação</label>
                                <div class="input-group date">
                                    <input id="txtDataMovimentacao" name="txtDataMovimentacao" class="form-control mes-trigger" data-bind="value: DataMovimentacaoExibicao, validate: { required: true }, datepicker: { options: defaults.datepicker.datetime }, mask: { options: defaults.mask.datetime, value: DataMovimentacaoExibicao}" />
                                    <span class="input-group-addon">
                                        <i class="material-icons">&#xE878;</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtDataLancamento">Data Lançamento</label>
                                <div class="input-group date">
                                    <input id="txtDataLancamento" name="txtDataLancamento" class="form-control mes-trigger" data-bind="value: DataLancamentoExibicao, validate: { required: true }, datepicker: { options: defaults.datepicker.datetime }, mask: { options: defaults.mask.datetime, value: DataLancamentoExibicao}" disabled="disabled" />
                                    <span class="input-group-addon">
                                        <i class="material-icons">&#xE878;</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlPessoaRequisitante">Requisitante</label>
                                @HtmlHelper.Select.SearchableKO("ddlPessoaRequisitante", "IdPessoaRequisitante", "IdPessoa", "CodigoNomeSecundario", "NomeDocumento", "CodigoNomeSecundario", "/Corporativo/Pessoa/ListPessoaPersonalizado", "ComPessoa:true, ComEmpresaUsuaria:true, ComEmpresa:false, Ativo:true, IdPessoaNaturezaNotIn: 4", required: true, idChaveRelacao: "IdPessoa")
                            </div>
                        </div>
                        <div class="col-xs-4 read-mode">
                            <div class="form-group">
                                <label for="ddlPessoaResponsavel">Responsável</label>
                                @*<input type="text" id="txtUsuarioLogada" name="txtUsuarioLogada" data-bind="value: UsuarioLogado" class="form-control" maxlength="50" />*@
                                @HtmlHelper.Select.SearchableKO("ddlPessoaResponsavel", "IdPessoaResponsavel", "IdPessoa", "NomeSecundario", "Nomes", "Nome", "/Corporativo/Pessoa/ListPessoaPersonalizado", "ComPessoa:true, ComEmpresaUsuaria:true, ComEmpresa:false, Ativo:true, IdPessoaNaturezaNotIn: 4", required: true, idChaveRelacao: "IdPessoa")
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="ddlPessoaEmpresaOrigem">Empresa <i>(Origem)</i></label>
                                @HtmlHelper.Select.SearchableKO("ddlPessoaEmpresaOrigem", "IdPessoaEmpresaOrigem", "IdPessoa", "Codigo", "NomeDocumento", "Codigo", "/Corporativo/Pessoa/ListPessoaPersonalizado", required: true, idChaveRelacao: "IdPessoa", dadosComplObservable:"dadosComplEmpresaOrigem")
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlProdutoLocalOrigem">Local Origem</label>
                                @HtmlHelper.Select.SearchableKO("ddlProdutoLocalOrigem", "IdProdutoLocalOrigem", "IdProdutoLocal", "Descricao", "Descricao", "Descricao", "/Estoque/ProdutoLocal/List", dadosComplObservable:"dadosComplProdutoLocalOrigem" , required: true, vmDataSelected: "ProdutoLocalOrigem", idChaveRelacao: "IdProdutoLocal")
                            </div>
                        </div>
                        <div class="col-xs-2 read-mode">
                            <div class="form-group">
                                <label for="txtInfoOrigemLocalMovel">Móvel (volante)</label>
                                <input type="text" id="txtInfoOrigemLocalMovel" name="txtInfoOrigemLocalMovel" data-bind="value: infoOrigemMovel" class="form-control" maxlength="50" />
                            </div>
                        </div>
                        <div class="col-xs-2 read-mode">
                            <div class="form-group">
                                <label for="txtInfoLocalTerceiros">Pertence a Terceiros</label>
                                <input type="text" id="txtInfoLocalTerceiros" name="txtInfoLocalTerceiros" data-bind="value: infoOrigemTerceiros" class="form-control" maxlength="50" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="ddlPessoaEmpresaDestino">Empresa <i>(Destino)</i></label>
                                @HtmlHelper.Select.SearchableKO("ddlPessoaEmpresaDestino", "IdPessoaEmpresaDestino", "IdPessoa", "Codigo", "NomeDocumento", "Codigo", "/Corporativo/Pessoa/ListPessoaPersonalizado", dadosComplObservable: "dadosComplEmpresaDestino", idChaveRelacao: "IdPessoa", required: true)
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlProdutoLocalDestino">Local Destino</label>
                                @HtmlHelper.Select.SearchableKO("ddlProdutoLocalDestino", "IdProdutoLocalDestino", "IdProdutoLocal", "Descricao", "Descricao", "Descricao", "/Estoque/ProdutoLocal/List", dadosComplObservable: "dadosComplProdutoLocalDestino", vmDataSelected: "ProdutoLocalDestino", idChaveRelacao: "IdProdutoLocal", required: true)
                            </div>
                        </div>
                        <div class="col-xs-2 read-mode">
                            <div class="form-group">
                                <label for="txtInfoDestinoLocalMovel">Móvel (volante)</label>
                                <input type="text" id="txtInfoDestinoLocalMovel" name="txtInfoDestinoLocalMovel" data-bind="value: infoDestinoMovel" class="form-control" maxlength="50" />
                            </div>
                        </div>
                        <div class="col-xs-2 read-mode">
                            <div class="form-group">
                                <label for="txtInfoDestinoLocalTerceiros">Percente a Terceiros</label>
                                <input type="text" id="txtInfoDestinoLocalTerceiros" name="txtInfoDestinoLocalTerceiros" data-bind="value: infoDestinoTerceiros" class="form-control" maxlength="50" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-open="false" id="pnlFornecedores" data-bind="whit: lstItem">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Itens</h3>
                </div>
                <div class="panel-body">
                    @HtmlHelper.GridView.GridNewEdit(
                id: "Item", // Declarar na página <template id="newedit-id"></template>
                vm: "lstItem",
                title: "Item",
                vmExtend: "vmItemExtended",
                addTitle: "Novo",
                columns: @<script>
                    [
                        { 'id': 'IdEstoqueTransferenciaItem' },
                        { 'id': 'IdEstoqueTransferencia' },
                        { 'id': 'IdProdutoServico' },
                        { 'id': 'QtdeFormaApresentacao' },
                        { 'id': 'IdProdutoServicoFormaApresentacao' },
                        { 'id': 'QtdeProdutoServico' },
                        { 'id': 'IdUnidadeProdutoServico' },
                        { 'id': 'IdProdutoServicoLote' },
                        { 'id': 'Excluido' },
                        
                        { 'id': 'QtdePorEmbalagemProdutoServico' },
                        { 'id': 'CasasDecimaisUnidadeProduto' },
                        { 'id': 'CasasDecimaisFormaApresentacao' },

                        { 'id': 'ProdutoServicoFormaApresentacaoSigla' },
                        { 'id': 'UnidadeProdutoServicoSigla' },


                        { 'id': 'Numero', header: true, displayName: 'Item', 'sortable': true },
                        { 'id': 'ProdutoServicoDescricao', header: true, displayName: 'Produto', 'sortable': true },
                        { 'id': 'Apresentacao', header: true, displayName: 'Apresentação', 'sortable': true },
                        { 'id': 'Quantidade', header: true, displayName: 'Quantidade', 'sortable': true },
                        { 'id': 'ProdutoServicoDescricaoLote', header: true, displayName: 'Lote', 'sortable': true },
                        defaults.gridNewEdit.column.acaoEditRemove
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: Numero }  }"></td>
                    <td data-bind="text: ProdutoServicoDescricao"></td>
                    <td data-bind="text: ko.utils.unwrapObservable(QtdeFormaApresentacao) + ' ' + ko.utils.unwrapObservable(ProdutoServicoFormaApresentacaoSigla)"></td>
                    <td data-bind="text: ko.utils.unwrapObservable(QtdeProdutoServico) + ' ' + ko.utils.unwrapObservable(UnidadeProdutoServicoSigla)"></td>
                    <td data-bind="text: ProdutoServicoDescricaoLote"></td>
                    <td data-bind="template: { name: 'button-edit-remove' }"></td>
                </tr>, orderByCol: "ProdutoServicoDescricao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false, useRemovedColumn: true)
                </div>
            </div>
        </div>
    </form>
    <template id="newedit-Item">
        <div class="row">
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="txtNumeroItem">Item</label>
                    <input type="text" id="txtNumeroItem" name="txtNumeroItem" data-bind="value: Numero, mask: { options: defaults.mask.integer, value: Numero }" class="form-control" maxlength="4" />
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="ddlItemProdutoServico">Produto</label>
                    @HtmlHelper.Select.SearchableKO("ddlItemProdutoServico", "IdProdutoServico", "IdProdutoServico", "DescricaoCodigo", "DescricaoCodigoBusca", "DescricaoCodigo", "/Estoque/Produto/ListProdutoServicoPorProdutoLocal", idChaveRelacao: "IdProdutoServico", vmDataSelected: "ProdutoServicoVM", vmTextSelected: "ProdutoServicoDescricao", required: true,dadosComplObservable:"dadosComplProduto")
                </div>
            </div>
        </div>
        <fieldset>
            <legend>Saldo</legend>
            <div class="col-xs-4">
                <div class="form-group read-mode">
                    <label for="txtQtdeFormaApresentacaoSaldo">Apresentação (Embalagem)</label>
                    <div class="input-group">
                        <input type="text" id="txtQtdeFormaApresentacaoSaldo" name="txtQtdeFormaApresentacaoSaldo" data-bind="value: QtdeFormaApresentacaoSaldo, maskDecimal: { casasDecimais: CasasDecimaisUnidadeProduto, min: 1 }" class="form-control" maxlength="50" disabled="disabled" />
                        <div class="input-group-btn">
                            @HtmlHelper.Select.SearchableKO("ddlProdutoServicoFormaApresentacaoSaldo", "IdProdutoServicoFormaApresentacao", "IdProdutoServicoFormaApresentacao", "Sigla", "BuscaDetalhada", "DescricaoSigla", "/Estoque/ProdutoServicoFormaApresentacao/List", "Ativo:true", disabled: true)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group read-mode">
                    <label for="txtQtdeProdutoServicoSaldo">Quantidade</label>
                    <div class="input-group">
                        <input type="text" id="txtQtdeProdutoServicoSaldo" name="txtQtdeProdutoServicoSaldo" data-bind="value: QtdeProdutoServicoSaldo, maskDecimal: { casasDecimais: CasasDecimaisUnidadeProduto, min: 1 }" class="form-control" maxlength="50" disabled="disabled" />
                        <div class="input-group-btn">
                            @HtmlHelper.Select.SearchableKO("ddlUnidadeProdutoServicoSaldo", "IdUnidadeProdutoServico", "IdUnidade", "Sigla", "Sigla", "Sigla", "/Estoque/Unidade/List", "Ativo:true", idChaveRelacao: "IdUnidade", disabled:true)
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Transferência</legend>
            <div class="row">
                <div class="col-xs-3" style="display:none;">
                    <div class="form-group">
                        <label for="ddlLoteSaldoValidade">Lote(Saldo e Validade)</label>
                        <input type="text" id="ddlLoteSaldoValidade" name="ddlLoteSaldoValidade" class="form-control" maxlength="50" />
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="txtQtdeFormaApresentacao">Apresentação (Embalagem)</label>
                        <div class="input-group">
                            <input type="text" id="txtQtdeFormaApresentacao" name="txtQtdeFormaApresentacao" data-bind="value: QtdeFormaApresentacao, maskDecimal: { casasDecimais: CasasDecimaisUnidadeProduto, min: 1 }, validate: { required:true }" class="form-control" maxlength="50" />
                            <div class="input-group-btn">
                                @HtmlHelper.Select.SearchableKO("ddlProdutoServicoFormaApresentacao", "IdProdutoServicoFormaApresentacao", "IdProdutoServicoFormaApresentacao", "Sigla", "BuscaDetalhada", "DescricaoSigla", "/Estoque/ProdutoServicoFormaApresentacao/List", "Ativo:true", disabled: true, required: true, vmTextSelected: "ProdutoServicoFormaApresentacaoSigla")
                            </div>
                        </div>
                        Quantidade por Embalagem: <label id="txtQtdePorEmbalagem" name="txtQtdePorEmbalagem" data-bind="text: QtdePorEmbalagemProdutoServico"></label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="txtQtdeProdutoServico">Quantidade</label>
                        <div class="input-group">
                            <input type="text" id="txtQtdeProdutoServico" name="txtQtdeProdutoServico" data-bind="value: QtdeProdutoServico, maskDecimal: { casasDecimais: CasasDecimaisUnidadeProduto, min: 1 }, validate: { required: true }" class="form-control" maxlength="50" />
                            <div class="input-group-btn">
                                @HtmlHelper.Select.SearchableKO("ddlUnidadeProdutoServico", "IdUnidadeProdutoServico", "IdUnidade", "Sigla", "Sigla", "Sigla", "/Estoque/Unidade/List", "Ativo:true", idChaveRelacao: "IdUnidade", allowClear: false, required: true, vmDataSelected: "UnidadeProdutoVM", vmTextSelected: "UnidadeProdutoServicoSigla",dadosComplObservable: "unidadeProdutoDadosComple")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </template>
</div>
