﻿@model HTM.MasterGestor.Web.UI.Areas.Questionario.ViewModels.GrupoControle.NewEditVM

<div>
    <form id="form-QuestionarioGrupoControle-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtCodigo">Código<span>(Automático)</span></label>
                            <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" maxlength="5" />
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlQuestionarioCategoriaControle">Tipo de Controle</label>
                            @HtmlHelper.Select.SearchableKO("ddlQuestionarioCategoriaControle", "IdQuestionarioCategoriaControle", "IdQuestionarioCategoriaControle", "Descricao", "Descricao", "Descricao", "/Questionario/CategoriaControle/List", "Ativo:true", required: true)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" data-open="false" id="pnlItens">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Item Avaliação</h3>
            </div>
            <div class="panel-body">
                @HtmlHelper.GridView.GridNewEdit(
                id: "ItemAvaliacao", // Declarar na página <template id="newedit-id"></template>
                vm: "lstItemAvaliacao",
                title: "Tópico",
                columns: @<script>
                    [
                        { 'id': 'IdQuestionarioGrupoControleItemAvaliacao' },
                        { 'id': 'IdQuestionarioGrupoControle' },
                        { 'id': 'Descricao', 'header': true, 'displayName': 'Descrição', 'sortable': true },
                        { 'id': 'Ativo', 'defaultValue': true, 'header': true },
                        defaults.gridNewEdit.column.acao
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: Descricao }  }"></td>
                    <td data-bind="template: { name: 'label-status' }"></td>
                    <td data-bind="template: { name: 'button-edit' }"></td>
                </tr>, orderByCol: "Descricao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: true)
            </div>
        </div>
    </form>

    <template id="newedit-ItemAvaliacao">
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="txtDescricaoItem">Descrição</label>
                    <input type="text" id="txtDescricaoItem" name="txtDescricaoItem" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="control-label" for="chkAtivoItem">Ativo</label>
                    <input type="checkbox" class="no-uniform" id="chkAtivoItem" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                </div>
            </div>
        </div>
    </template>
</div>
