﻿@model HTM.MasterGestor.Web.UI.Areas.Agricola.ViewModels.Unidade.IndexVM

<routeoptions data-use-custom-view="true"></routeoptions>

<div id="filtro-grade" style="display:none;">
    <template id="filter-UnidadeIndex">
        <div class="form-group">
            <label for="txtFiltroCodigoDescricao" class="control-label">Código ou Descrição</label>
            <input type="text" id="txtFiltroCodigoDescricao" data-bind="textInput: CodigoDescricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroProducaoLocal" class="control-label">Local</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroProducaoLocal", "IdProducaoLocalIn", "IdProducaoLocal", "DescricaoExibicao", "BuscaAvancada", "DescricaoExibicao", "/Agricola/LocalProducao/List", "Ativo:true", multiple: true, idChaveRelacao: "IdProducaoLocal")
        </div>
        <div class="form-group">
            <label for="ddlFiltroUnidadeTipo" class="control-label">Tipo</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroUnidadeTipo", "IdProducaoUnidadeTipoIn", "IdProducaoUnidadeTipo", "Descricao", "Descricao", "Descricao", "/Agricola/UnidadeTipo/List", "Ativo:true", multiple: true, idChaveRelacao: "IdProducaoUnidadeTipo")
        </div>
        <div class="form-group">
            <label for="ddlFiltroProducaoCaracterizacao">Caracterização</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroProducaoCaracterizacao", "IdProducaoCaracterizacaoIn", "IdProducaoCaracterizacaoIn", "Descricao", "Descricao", "Descricao", "/Agricola/Caracterizacao/List", "Ativo:true, CaracterizaUnidade:true", idChaveRelacao: "IdProducaoCaracterizacao", multiple: true)
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "UnidadeIndex",
    newUrl: "#/Agricola/Unidade/New",
    editUrl: "#/Agricola/Unidade/Edit",
    listUrl: "/Agricola/Unidade/List",
    columns:
    @<script>
        [
            { 'id': 'IdProducaoUnidade', editColumn: true },
            { 'id': 'IdProducaoCaracterizacaoIn', filter: true },
            { 'id': 'Descricao' },
            { 'id': 'CodigoDescricao', filter: true, defaultFilter: true },
            { 'id': 'IdProducaoLocalIn', filter: true },
            { 'id': 'IdProducaoUnidadeTipoIn', filter: true },
            { 'id': 'IdProducaoCaracterizacao', filter: true },

            { 'id': 'ProducaoLocalCompleto', displayName: 'Local', sortable: true, groupable:true },

            { 'id': 'Codigo', header: true, displayName: 'Código', sortable: true },
            { 'id': 'Descricao', header: true, displayName: 'Descrição', sortable: true, groupable: true },
            { 'id': 'DescricaoProducaoUnidadeTipo', header: true, displayName: 'Tipo', sortable: true, groupable: true },
            { 'id': 'DescricaoProducaoLocal', header: true, displayName: 'Local', sortable: true },
            { 'id': 'DetalheUnidadeMedida', header: true, displayName: 'Detalhes' },

            defaults.gridNewEdit.column.ativo,
            defaults.gridNewEdit.column.acaoEditRemove
        ]
    </script>,
    templateRows:
    @<tr>

        <td data-bind="text: CodigoSubUnidade"></td>
        <td data-bind="text: Descricao"></td>
        <td data-bind="text: DescricaoProducaoUnidadeTipo"></td>
        <td data-bind="text: DescricaoProducaoLocal"></td>
        <td data-bind="text: DetalheUnidadeMedida"></td>
        <td data-bind="template: { name: 'label-status' }"></td>
        <td>
            <a data-bind="attr: { href: '/#/Agricola/Unidade/Edit/' + IdProducaoUnidade }" class="btn btn-secondary btn-icon" title="Editar"><i class="material-icons">&#xE254;</i></a>
            <!--<a href="#" class="btn btn-secondary btn-icon" title="Detalhes" data-bind="event: { click: vmIndexAgricolaUnidade.getUnidadeDetalhes }"><i class="material-icons">&#xE900;</i></a>-->
            <a data-bind="attr: { href: '/#/Agricola/Unidade/View/' + IdProducaoUnidade }" class=" btn btn-secondary btn-icon" title="Detalhes"><i class="material-icons">&#xE900;</i></a>
        </td>
    </tr>, api: "indexVM.api", orderByCol: "DescricaoProducaoLocal,Codigo", groupByCol: "ProducaoLocalCompleto", orderByDir: HelpersUtil.OrderByDirEnum.Asc, groupByDir: "asc", useHiddenColumns: false)
</div>

<div id="IndexAgricolaUnidade">
    <div class="modal fade modal-primary modal-sm" id="modal-Detalhes" data-bind="with: unidadeDetalhe" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Detalhes: <span data-bind="text: Codigo"></span></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="lblCodigo">Código:</label>
                                        <input type="text" class="form-control" id="lblCodigo" data-bind="value: Codigo" readonly="readonly" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="lblDescricao">Descrição:</label>
                                        <input type="text" class="form-control" id="lblDescricao" data-bind="value: Descricao" readonly="readonly" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="lblLocalProducao">Local de Produção:</label>
                                        <input type="text" class="form-control" id="lblLocalProducao" data-bind="value: DescricaoProducaoLocal" readonly="readonly" />
                                    </div>
                                </div>
                            </div>
                            @*<div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="lblAmbienteProducao">Ambiente Produção:</label>
                                            <label id="lblAmbienteProducao"></label>
                                        </div>
                                    </div>
                                </div>*@
                            @*<div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="lblDataPlantio">Data do Último Plantio:</label>
                                            <label id="lblDataPlantio"></label>
                                        </div>
                                    </div>
                                </div>*@
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="lblObservacao">Observação:</label>
                                        <textarea class="form-control" data-bind="value: Observacao" readonly="readonly" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-inverted btn-lg pull-left" data-dismiss="modal">
                        <i class="material-icons">&#xE5C4;</i> Voltar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}