﻿@model HTM.MasterGestor.Web.UI.Areas.Agricola.ViewModels.Unidade.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-ProdutoUnidade-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlLocalProducao">Local de Produção</label>
                            @HtmlHelper.Select.SearchableKO("ddlLocalProducao", "IdProducaoLocal", "IdProducaoLocal", "DescricaoExibicao", "BuscaAvancada", "DescricaoExibicao", "/Agricola/LocalProducao/List", "Ativo:true", required: true)
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlUnidadeTipo">Tipo de Unidade de Produção</label>
                            @HtmlHelper.Select.SearchableKO("ddlUnidadeTipo", "IdProducaoUnidadeTipo", "IdProducaoUnidadeTipo", "Descricao", "Descricao", "Descricao", "/Agricola/UnidadeTipo/List", "Ativo:true", required: true, vmTextSelected: "DescricaoUnidadeTipo", vmDataSelected: "vm.ProducaoUnidadeTipoVM")
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtCodigo">Código<span>(Automático)</span></label>
                            <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" maxlength="50" />
                        </div>
                    </div>
                </div>
                <div class="row" style="display:none;">
                    <div id="divDescricaoSubUnidade" data-bind="visible: ExibeSubUnidade()">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label id="lblDescricaoSubUnidade" name="lblDescricaoSubUnidade" data-bind="text:  DescricaoUnidade"></label>
                                <input type="text" id="txtDescricaoSubUnidade" name="txtDescricaoSubUnidade" data-bind="value: DescricaoSubUnidade, validate: { required: SubUnidadeObrigatoria()}" class="form-control" maxlength="30" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlNomenclatura" class="control-label">Como deseja formar a Descrição</label>
                            <select placeholder="Nomenclatura" id="ddlNomenclatura" class="form-control no-search" data-bind="value: Nomenclatura">
                                <option value="1" selected="selected">Automaticamente</option>
                                <option value="2">Informado Manualmente</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-4" data-bind="visible: Nomenclatura() == 2">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: Nomenclatura() == 2 } " class="form-control" maxlength="120" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtCor">Cor <span data-bind="text: '(' + (ko.unwrap(Cor) === null ? 'nenhuma selecionada' : ko.unwrap(Cor)) + ')'"></span></label>
                            <seletor-cores id="txtCor" params="setColorToLayer: false, selectedColor: Cor"></seletor-cores>                            
                        </div>
                    </div>
                </div>
                <div data-toggle="collapsible" class="optional" id="pnlUnidadesMedidas" data-bind="visible: (PossuiUnidadeBase && (ExibeUnidadeMedidaPrimaria || ExibeUnidadeMedidaSecundaria))">
                    <a href="#">Unidades de Medidas</a>
                    <div>
                        <div class="row">
                            <!-- Unidade Principal-->
                            <div class="col-xs-2" data-bind="visible: ExibeUnidadeMedidaPrimaria">
                                <div class="form-group">
                                    <label for="txtValorUnidadePrincipal" class="control-label" data-bind="text: DescricaoUnidadeMedidaPrincipal"></label>
                                    <div class="input-group size-sm" style="width: 170px">
                                        <input id="txtValorUnidadePrincipal" name="txtValorUnidadePrincipal" class="form-control" data-bind="value: ValorUnidadePrincipal, maskDecimal: { casasDecimais: vm.CasasDecimaisUnidadeMedidaPrincipal }" />
                                        <span class="input-group-addon">
                                            <label id="lblUnidadePrincipal" name="lblUnidadePrincipal" class="control-label" data-bind="text: SiglaUnidadeMedidaPrincipal"></label>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <!-- Unidade Secundaria -->
                            <div class="col-xs-2" data-bind="visible: ExibeUnidadeMedidaSecundaria">
                                <div class="form-group">
                                    <label for="txtValorUnidadeSecundaria" class="control-label" data-bind="text: DescricaoUnidadeMedidaSecundaria"></label>
                                    <div class="input-group size-sm" style="width: 170px">
                                        <input id="txtValorUnidadeSecundaria" name="txtValorUnidadeSecundaria" class="form-control" data-bind="value: ValorUnidadeSecundaria, maskDecimal: { casasDecimais: vm.CasasDecimaisUnidadeMedidaSecundaria }" />
                                        <span class="input-group-addon">
                                            <label id="lblUnidadeSecundaria" name="lblUnidadeSecundaria" class="control-label" data-bind="text: SiglaUnidadeMedidaSecundaria"></label>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div data-toggle="collapsible" class="optional" id="pnlOutrasInformacoes" data-bind="collapsible: { vmArray: [ vm.IdProducaoAmbienteProducao(), vm.IdsProducaoCaracterizacao(), vm.Observacao() ] }">
                    <a href="#">Dados adicionais</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="ddlAmbienteProducao">Ambiente de Produção</label>
                                    @HtmlHelper.Select.SearchableKO("ddlAmbienteProducao", "IdProducaoAmbienteProducao", "IdProducaoAmbienteProducao", "Descricao", "Descricao", "Descricao", "/Agricola/AmbienteProducao/List", "Ativo:true")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="ddlProducaoCaracterizacao">Caracterização</label>
                                    @HtmlHelper.Select.SearchableKO("ddlProducaoCaracterizacao", "IdsProducaoCaracterizacao", "IdProducaoCaracterizacaoIn", "Descricao", "Descricao", "Descricao", "/Agricola/Caracterizacao/List", "Ativo:true, CaracterizaUnidade:true", idChaveRelacao: "IdProducaoCaracterizacao", multiple: true)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    @*TODO: área com as características*@
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="form-group">
                                    <label for="txtObservacao">Observação</label>
                                    <textarea class="form-control" id="txtObservacao" data-bind="value: Observacao" name="txtObservacao" maxlength="255" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--
                 <div data-toggle="collapsible" class="optional" id="pnlUnidadesMedidas" data-bind="visible: PossuiUnidadeBase">
                    <a href="#">Unidades de Medidas</a>

                    <div>
                        @HtmlHelper.GridView.GridNewEdit(
                        id: "BaseValor", // Declarar na página <template id="newedit-id"></template>
                        vm: "BasesValores",
                        title: "Base valor",
                        columns: @<script>
                            [
                                { 'id': 'IdProducaoUnidadeBase' },
                                { 'id': 'IdProducaoUnidade' },
                                { 'id': 'IdProducaoTipoUnidadeBase' },
                                { 'id': 'Valor', 'header': true },
                                { 'id': 'DescricaoUnidade', displayName: 'Unidade de medida', header: true, sortable: true },
                                { 'id': 'IdUnidade' },
                                defaults.gridNewEdit.column.acao
                            ]
                        </script>,
                        templateRows:
                        @<tr>
                            <td data-bind="template: { name: 'link-edit', data: { text: Valor }  }"></td>
                            <td data-bind="text: DescricaoUnidade"></td>
                            <td data-bind="template: { name: 'button-edit' }"></td>
                        </tr>,
                        useHiddenColumns: false,
                        orderByCol: "DescricaoUnidade",
                        orderByDir: HelpersUtil.OrderByDirEnum.Asc,
                        showNewButton: false)
                    </div>
                </div>-->
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" data-toggle="collapsible" id="pnlDadosGeograficos">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Geográficos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtLatitude">Latitude<span>(decimal, WGS84)</span></label>
                            <input type="text" id="txtLatitude" name="txtLatitude" data-bind="value: Latitude, maskCoordenada:  { extendedOptions: { min: -89.99999999, max: 89.99999999 } }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtLongitude">Longitude<span>(decimal, WGS84)</span></label>
                            <input type="text" id="txtLongitude" name="txtLongitude" data-bind="value: Longitude, maskCoordenada: { extendedOptions: { min: -179.99999999, max: 179.99999999 } }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            @HtmlHelper.Campo.UnidadeTipo("ddlAltitude", "Altitude", IdUnidade: "1", AlteraUnidade: false, label: "Altitude")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="ddlSetor">Setor</label>
                            @HtmlHelper.Select.SearchableKO("ddlSetor", "IdProducaoLocalSetor", "IdProducaoLocalSetor", "Descricao", "Descricao", "Descricao", "/Agricola/LocalProducao/ListSetor", "Ativo:true", "ddlLocalProducao", "IdProducaoLocal")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<template id="newedit-BaseValor">
    <input type="hidden" id="txtIdUnidade" name="txtIdBairro" data-bind="value: IdUnidade" class="form-control" />
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label for="txtValor">Valor </label>
                <input type="text" id="txtValor" name="txtValor" data-bind="value: Valor, validate: { required:true }" class="form-control" maxlength="80" />
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label for="ddlUnidade">Unidade de Medida</label>
                @HtmlHelper.Select.SearchableKO("ddlUnidade", "IdUnidade", "IdUnidade", "Sigla", "Sigla", "Unidade.Sigla", "/Estoque/Unidade/List", "Ativo:true")
            </div>
        </div>
    </div>
</template>