﻿<!DOCTYPE html>
<html>
<head>
    <title>Treeview</title>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link href="~/assets/less/all.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.0/jstree.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.0/themes/default/style.min.css">
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Treeview</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6">
                    <div id="treeview1"></div>
                </div>
                <div class="col-xs-6">
                    <div id="treeview2"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
    $(document).ready(function () {
        
        $('#treeview1').jstree({
            'core': {                
                'check_callback' : function (operation, node, node_parent, node_position, more) {
                    // operation can be 'create_node', 'rename_node', 'delete_node', 'move_node' or 'copy_node'
                    // in case of 'rename_node' node_position is filled with the new node name
                    //console.log(operation, node, node_parent);
                    // Evita criação de nó filho na tela
                    if (operation === "create_node" && node_parent.type === "default") {
                        alert('Não pode ser criado uma tela aninhada');
                        return false;
                    }  
                    return true;
                },
                'data': {
                    'url': function (node) {
                        return node.id === '#' ?
                            '../assets/js/ajax_roots.json' :
                            '../assets/js/ajax_child.json';
                    },
                    'data': function (node) {
                        return { 'id': node.id };
                    }
                },                
            },
            'types': {
                "folder": {
                    "valid_children": ["default", "folder"],
                    "icon": "fa fa-folder-o"
                },
                "default": {
                    "valid_children": []
                }
            },
            "contextmenu":{         
                "items": function($node) {
                    var tree = $("#tree").jstree(true);
                    return {
                        "Create": {
                            "separator_before": false,
                            "separator_after": false,
                            "label": "Criar categoria",
                            "action": function (data) { 
                                var ref = $.jstree.reference(data.reference), node = ref.get_node(data.reference);
                                ref.create_node(node, { type: "folder", text: "Nova categoria", }, "first", function (new_node) {                                    
                                    ref.edit(new_node);
                                });
                            }
                        },
                        "Rename": {
                            "separator_before": false,
                            "separator_after": false,
                            "label": "Renomear",
                            "action": function (data) {
                                var ref = $.jstree.reference(data.reference), node = ref.get_node(data.reference);
                                ref.edit($node);
                            }
                        },                         
                        "Remove": {
                            "separator_before": false,
                            "separator_after": false,
                            "label": "Remover",
                            "action": function (data) {
                                var ref = $.jstree.reference(data.reference), node = ref.get_node(data.reference);
                                ref.delete_node($node);
                            }
                        }
                    };
                }
            },

            'plugins': ['dnd', 'types', 'contextmenu']
        });

        $('#treeview2').jstree({
            'core': {
                'check_callback': false,                
                'data': {
                    'url': function (node) {
                        return node.id === '#' ?
                            '../assets/js/ajax_roots.json' :
                            '../assets/js/ajax_child.json';
                    },
                    'data': function (node) {
                        return { 'id': node.id };
                    }
                }
            },
            'dnd': {
                'always_copy': true
            },
            'plugins': ['checkbox', 'dnd', 'types']
        });
    });

    

        /*
        var UITree = function() {

    var handleSample1 = function() {

        $('#tree_1').jstree({
            "core": {
                "themes": {
                    "responsive": false
                }
            },
            "types": {
                "default": {
                    "icon": "fa fa-folder icon-state-warning icon-lg"
                },
                "file": {
                    "icon": "fa fa-file icon-state-warning icon-lg"
                }
            },
            "plugins": ["types"]
        });

        // handle link clicks in tree nodes(support target="_blank" as well)
        $('#tree_1').on('select_node.jstree', function(e, data) {
            var link = $('#' + data.selected).find('a');
            if (link.attr("href") != "#" && link.attr("href") != "javascript:;" && link.attr("href") != "") {
                if (link.attr("target") == "_blank") {
                    link.attr("href").target = "_blank";
                }
                document.location.href = link.attr("href");
                return false;
            }
        });
    }

    var handleSample2 = function() {
        $('#tree_2').jstree({
            'plugins': ["wholerow", "checkbox", "types"],
            'core': {
                "themes": {
                    "responsive": false
                },
                'data': [{
                        "text": "Same but with checkboxes",
                        "children": [{
                            "text": "initially selected",
                            "state": {
                                "selected": true
                            }
                        }, {
                            "text": "custom icon",
                            "icon": "fa fa-warning icon-state-danger"
                        }, {
                            "text": "initially open",
                            "icon": "fa fa-folder icon-state-default",
                            "state": {
                                "opened": true
                            },
                            "children": ["Another node"]
                        }, {
                            "text": "custom icon",
                            "icon": "fa fa-warning icon-state-warning"
                        }, {
                            "text": "disabled node",
                            "icon": "fa fa-check icon-state-success",
                            "state": {
                                "disabled": true
                            }
                        }]
                    },
                    "And wholerow selection"
                ]
            },
            "types": {
                "default": {
                    "icon": "fa fa-folder icon-state-warning icon-lg"
                },
                "file": {
                    "icon": "fa fa-file icon-state-warning icon-lg"
                }
            }
        });
    }

    var contextualMenuSample = function() {

        $("#tree_3").jstree({
            "core": {
                "themes": {
                    "responsive": false
                },
                // so that create works
                "check_callback": true,
                'data': [{
                        "text": "Parent Node",
                        "children": [{
                            "text": "Initially selected",
                            "state": {
                                "selected": true
                            }
                        }, {
                            "text": "Custom Icon",
                            "icon": "fa fa-warning icon-state-danger"
                        }, {
                            "text": "Initially open",
                            "icon": "fa fa-folder icon-state-success",
                            "state": {
                                "opened": true
                            },
                            "children": [{
                                "text": "Another node",
                                "icon": "fa fa-file icon-state-warning"
                            }]
                        }, {
                            "text": "Another Custom Icon",
                            "icon": "fa fa-warning icon-state-warning"
                        }, {
                            "text": "Disabled Node",
                            "icon": "fa fa-check icon-state-success",
                            "state": {
                                "disabled": true
                            }
                        }, {
                            "text": "Sub Nodes",
                            "icon": "fa fa-folder icon-state-danger",
                            "children": [{
                                "text": "Item 1",
                                "icon": "fa fa-file icon-state-warning"
                            }, {
                                "text": "Item 2",
                                "icon": "fa fa-file icon-state-success"
                            }, {
                                "text": "Item 3",
                                "icon": "fa fa-file icon-state-default"
                            }, {
                                "text": "Item 4",
                                "icon": "fa fa-file icon-state-danger"
                            }, {
                                "text": "Item 5",
                                "icon": "fa fa-file icon-state-info"
                            }]
                        }]
                    },
                    "Another Node"
                ]
            },
            "types": {
                "default": {
                    "icon": "fa fa-folder icon-state-warning icon-lg"
                },
                "file": {
                    "icon": "fa fa-file icon-state-warning icon-lg"
                }
            },
            "state": {
                "key": "demo2"
            },
            "plugins": ["contextmenu", "dnd", "state", "types"]
        });

    }

    var ajaxTreeSample = function() {

        $("#tree_4").jstree({
            "core": {
                "themes": {
                    "responsive": false
                },
                // so that create works
                "check_callback": true,
                'data': {
                    'url': function(node) {
                        return 'demo/jstree_ajax_data.php';
                    },
                    'data': function(node) {
                        return {
                            'parent': node.id
                        };
                    }
                }
            },
            "types": {
                "default": {
                    "icon": "fa fa-folder icon-state-warning icon-lg"
                },
                "file": {
                    "icon": "fa fa-file icon-state-warning icon-lg"
                }
            },
            "state": {
                "key": "demo3"
            },
            "plugins": ["dnd", "state", "types"]
        });

    }


    return {
        //main function to initiate the module
        init: function() {

            handleSample1();
            handleSample2();
            contextualMenuSample();
            ajaxTreeSample();

        }

    };

}();
        */

    </script>

</body>
</html>