﻿@model HTM.MasterGestor.Web.UI.Areas.Agricola.ViewModels.UnidadeImplantacao.IndexVM

<div id="filtro-grade" style="display:none;">
    <template id="filter-UnidadeImplantacaoIndex">
        <div class="form-group">
            <label for="ddlFiltroProducaoUnidade" class="control-label">Unidade de Produção</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroProducaoUnidade", "IdProducaoUnidadeIn", "IdProducaoUnidade", "CodigoDescricao", "CodigoDescricao", "CodigoDescricao", "/Agricola/Unidade/List", "Ativo : true", multiple: true, idChaveRelacao: "IdProducaoUnidade")
        </div>  
        <div class="form-group">
            <label for="ddlFiltroIdProducaoEpocaPlantio" class="control-label">Época do Plantio</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroIdProducaoEpocaPlantio", "IdProducaoEpocaPlantioIn", "IdProducaoEpocaPlantio", "Descricao", "Descricao", "Descricao", "/Agricola/EpocaPlantio/List", "Ativo:true", multiple: true, idChaveRelacao: "IdProducaoEpocaPlantio")
        </div>
        <div class="form-group">
            <label for="txtFiltroCodigo" class="control-label">Código</label>
            <input type="text" id="txtFiltroCodigo" data-bind="textInput: Codigo" class="form-control" />
        </div>    
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "UnidadeImplantacaoIndex",
    newUrl: "#/Agricola/UnidadeImplantacao/New",
    editUrl: "#/Agricola/UnidadeImplantacao/Edit",
    listUrl: "/Agricola/UnidadeImplantacao/List",
    columns:
    @<script>
        [   
            { 'id': 'Codigo', filter: true, defaultFilter: true, header: true, displayName: 'Código', sortable: true },
            { 'id': 'DescricaoProducaoCultura', header: true, displayName: 'Cultura', sortable: true },
            { 'id': 'DescricaoProducaoPlantioEspacamento', header: true, displayName: 'Espaçamento', sortable: true },
            { 'id': 'DescricaoProducaoEpocaPlantio', header: true, displayName: 'Época de Plantio', sortable: true },
            { 'id': 'DataImplantacaoExibicao', header: true, displayName: 'Data', sortable: true },
            { 'id': 'IdProducaoUnidadeIn', filter: true },
            { 'id': 'IdProducaoEpocaPlantioIn', filter: true },
            { 'id': 'IdProducaoUnidadeImplantacao', editColumn: true },
            defaults.gridNewEdit.column.ativo,
            defaults.gridNewEdit.column.acao
        ]
    </script>,
    templateRows:
    @<tr>       
        <td data-bind="text: Codigo"></td>
        <td data-bind="text: DescricaoProducaoCultura"></td>
        <td data-bind="text: DescricaoProducaoPlantioEspacamento"></td>
        <td data-bind="text: DescricaoProducaoEpocaPlantio"></td>
        <td data-bind="text: DataImplantacaoExibicao"></td>
        <td data-bind="template: { name: 'label-status' }"></td>       
        <td data-bind="template: { name: 'button-edit-url', data: { id: IdProducaoUnidadeImplantacao } }"></td>
    </tr>
    ,
    api: "indexVM.api",
    orderByCol: "Codigo",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,   
    useHiddenColumns: false,
    openFilter: true)
</div>


@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
