﻿@model HTM.MasterGestor.Web.UI.Areas.Agricola.ViewModels.UnidadeImplantacao.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-UnidadeImplantacao-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="ddlProducaoUnidade" class="control-label">Unidade de Produção</label>
                            @HtmlHelper.Select.SearchableKO("ddlProducaoUnidade", "IdProducaoUnidade", "IdProducaoUnidade", "Descricao", "Descricao", "Descricao", "/Agricola/Unidade/List", "Ativo : true", required: true)
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtCodigo">Código<span>(Automático)</span></label>
                            <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" maxlength="50" />
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtDataImplantacao">Data Implantação</label>
                            <div class="input-group date">
                                <input id="txtDataImplantacao" name="txtDataImplantacao" placeholder="Selecione" class="form-control" data-bind="value: DataImplantacaoExibicao, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataImplantacaoExibicao }, validate: { required: true }" />
                                <span class="input-group-addon">
                                    <i class="material-icons">&#xE878;</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="ddlCultura">Cultura</label>
                            @HtmlHelper.Select.SearchableKO("ddlCultura", "IdProducaoCultura", "IdProducaoCultura", "Descricao", "Descricao", "Descricao", "/Agricola/Cultura/List", "Ativo:true")
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="ddlPlantioEspacamento">Espaçamento</label>
                            @HtmlHelper.Select.SearchableKO("ddlPlantioEspacamento", "IdProducaoPlantioEspacamento", "IdProducaoPlantioEspacamento", "Descricao", "Descricao", "Descricao", "/Agricola/PlantioEspacamento/List", "Ativo:true", "ddlCultura", "IdProducaoCultura")
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="ddlEpocaPlantio">Época de Plantio</label>
                            @HtmlHelper.Select.SearchableKO("ddlEpocaPlantio", "IdProducaoEpocaPlantio", "IdProducaoEpocaPlantio", "Descricao", "Descricao", "Descricao", "/Agricola/EpocaPlantio/List", "Ativo:true", "ddlCultura", "IdProducaoCultura")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtAreaTotal">Área Total</label>
                            <input type="text" id="txtAreaTotal" name="txtAreaTotal" data-bind="mask: { options: defaults.mask.integer, value: AreaTotal }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" id="pnlPlantioVariedade">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Informar Variedade</h3>
            </div>
            <div class="panel-body">
                @HtmlHelper.GridView.GridNewEdit(
                id: "PlantioVariedade", // Declarar na página <template id="newedit-id"></template>
                vm: "PlantioVariedades",
                title: "Variedades",
                columns: @<script>
                    [
                        { 'id': 'IdProducaoUnidadePlantioVariedade' },
                        { 'id': 'IdProducaoVariedade' },
                        { 'id': 'DescricaoProducaoVariedade', displayName: 'Descrição', header: true },                        
                        { 'id': 'Area', displayName: 'Área', header: true },
                        { 'id': 'IdUnidade', 'defaultValue': 28 },
                        { 'id': 'Ativo', header: true },
                        defaults.gridNewEdit.column.acao
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: DescricaoProducaoVariedade }  }"></td>
                    <td data-bind="text: Area"></td>
                    <td data-bind="template: { name: 'label-status' }"></td>
                    <td data-bind="template: { name: 'button-edit' }"></td>
                </tr>,
                orderByCol: "DescricaoProducaoVariedade",
                orderByDir: HelpersUtil.OrderByDirEnum.Asc)
            </div>
        </div>
    </form>
    <template id="newedit-PlantioVariedade">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="ddlVariedade">Variedade</label>
                    @HtmlHelper.Select.SearchableKO("ddlVariedade", "IdProducaoVariedade", "IdProducaoVariedade", "Descricao", "Descricao", "Descricao", "/Agricola/Variedade/List", "Ativo:true", "ddlEpocaPlantio", "IdProducaoEpocaPlantio", required: true, vmTextSelected: "DescricaoProducaoVariedade")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <div class="form-group">                    
                    @HtmlHelper.Campo.UnidadeTipo("ddlArea", "Area", IdUnidade: "28", AlteraUnidade: false)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <div class="form-group">
                    <label class="control-label" for="chkAtivo">Ativo</label>
                    <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                </div>
            </div>
        </div>
    </template>
</div>
