﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.CategoriaServico.CategoriaServicoProdutoNewEditVM
<routeoptions data-route-custom="route-categoriaServico"></routeoptions>


<div data-bind="stopBindings: true">
    <form id="form-CategoriaServicoProduto-NewEdit" data-bind="formSubmit: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row read-mode">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtCodigo">Código</label>
                                <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" maxlength="10" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtDescricao">Descrição</label>
                                <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao" class="form-control" maxlength="150" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlAplicacoesTipo">Onde pode ser usada (Tipos de Aplicações)</label>
                                <select id="ddlAplicacoesTipo" class="form-control no-search" data-bind="value: TipoAplicacaoTipo" style="min-width: 250px" disabled="disabled">
                                    <option value="1">Benfeitoria</option>
                                    <option value="2">Local de Produção</option>
                                    <option value="3">Benfeitoria e Local de Produção</option>
                                    <option value="4">Lote</option>
                                    <option value="5">Animal</option>
                                    <option value="6">Lote e Animal</option>
                                    <option value="7">Equipamento</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-toggle="collapsible" id="pnlParametrosGerais">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">PARÂMETROS GERAIS: PRODUTOS, INSUMOS E MATERIAIS</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTipoUtilizacao" class="control-label">Utilização de Produtos</label>
                                <select placeholder="ddlTipoUtilizacao" id="ddlTipoUtilizacao" class="form-control no-search" data-bind="value: TipoUtilizacaoProduto, validate : { required: true}">
                                    <option value="1">Não permitido</option>
                                    <option value="2">Permitido</option>
                                    <option value="3">Obrigatório</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <fieldset data-bind="visible: (vm.TipoUtilizacaoProduto() == '2' || vm.TipoUtilizacaoProduto() =='3')">
                        <legend>ONDE SERÁ INFORMADO?</legend>
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label" for="chkDiretamenteOrdem">Diretamente na Ordem</label>
                                    <input type="checkbox" class="no-uniform" id="chkDiretamenteOrdem" data-bind="checked: DiretamenteOrdem, flipper: { observable: DiretamenteOrdem, options: { 'css': 'warning' } }">
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label" for="chkInformeServico">Via Informe de Serviço</label>
                                    <input type="checkbox" class="no-uniform" id="chkInformeServico" data-bind="checked: InformeServico, flipper: { observable: InformeServico, options: { 'css': 'warning' } }">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="panel panel-default" data-toggle="collapsible" id="pnlDetalhes" data-bind="collapsible: { vmArray: [ vm.ReservaProduto(), vm.SolicitacaoAutomatica(), vm.TipoRestricaoProduto()] }, visible: (vm.TipoUtilizacaoProduto() == '2' || vm.TipoUtilizacaoProduto() =='3')">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Detalhes sobre utilização de Produtos, Insumos e Matériais</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label" for="chkReservaProduto">Reserva de produto caso tenha em estoque (Empenho)</label>
                                <input type="checkbox" class="no-uniform" id="chkReservaProduto" data-bind="checked: ReservaProduto, flipper: { observable: ReservaProduto, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div class="form-group">
                                <label class="control-label" for="chkSolicitacaoAutomatica">Solicita Compra automática caso não tenha o total em estoque</label>
                                <input type="checkbox" class="no-uniform" id="chkSolicitacaoAutomatica" data-bind="checked: SolicitacaoAutomatica, flipper: { observable: SolicitacaoAutomatica, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTipoRestricaoProduto" class="control-label">Existe restrição de Produtos ?</label>
                                <select id="ddlTipoRestricaoProduto" class="form-control no-search" data-bind="value: TipoRestricaoProduto">
                                    <option value="1">Sem Restrição</option>
                                    <option value="2">Restrição por Grupo de Produtos</option>
                                    <option value="3">Restrição por Produtos Individualmente</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: vm.TipoRestricaoProduto() == '2'">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <label for="ddlProdutoServicoGrupo">Caso apenas possam ser informados alguns Grupos de Produtos relacione-os abaixo</label>
                                @HtmlHelper.Select.SearchableKO("ddlProdutoServicoGrupo", "IdsProdutoServicoGrupo", "IdProdutoServicoGrupoIn", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Estoque/ProdutoServicoGrupo/List", "Ativo:true,NaturezaIn:\\'1,3\\'", dataBind: "{validate : { vm.TipoRestricaoProduto() == 2 } }", idChaveRelacao: "IdProdutoServicoGrupo", multiple: true)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
