﻿<div data-bind="stopBindings: true">
    <div id="bind">
        <div class="row-flex">
            <div class="col-flex panel panel-default" style="max-width: 460px">
                <div class="panel-heading">
                    <h3 class="panel-title">Controles de formulários</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="testeLabel">Quer comer uma maçã? (simples)</label>
                        <br />
                        <input id="testeLabel" class="vanilla" value="bola" type="checkbox" data-bind="vanillaUniform: querComer, checked: querComer">
                        <label for="testeLabel" data-bind="text: querComer() ? 'sim' : 'não'"></label>
                    </div>
                    <div class="form-group">
                        <label for="testeLabelObs">Teste alterando observable: Quer comer uma maçã? (simples)</label>
                        <br />
                        <input id="testeLabelObs" class="vanilla" value="bola" type="checkbox" data-bind="flipper: {}, checked: querComer">
                    </div>
                    <div class="form-group">
                        <label for="radio" class="control-label">Radio (vanillaUniform)</label><br />
                        <!-- ko foreach: cores -->
                        <label class="radio-label" for="corVanilla" data-bind="attr: { for: 'corVanilla' + $index() }">
                            <input class="vanilla" data-bind="attr: { id: 'corVanilla' + $index() }, checkedValue: $data, checked: $root.corSelecionada, vanillaUniform: {}" type="radio" name="cor"><!-- ko text: $data --><!-- /ko -->
                        </label>
                        <!-- /ko-->
                    </div>
                    <div class="form-group">
                        <label for="testeLabel" class="control-label">Cor selecionada (group)</label><br />
                        <div class="control-group">
                            <div class="btn-group">
                                <!-- ko foreach: cores -->
                                <label class="btn btn-primary btn-inverted" for="corBootstrap" data-bind="attr: { for: 'corBootstrap' + $index() }">
                                    <input class="vanilla" id="corBootstrap" data-bind="attr: { id: 'corBootstrap' + $index() }, checkedValue: $data, checked: $root.corSelecionada, vanillaUniform: { checkParentCSS: true }" type="radio" name="corBootstrap"><!-- ko text: $data --><!-- /ko -->
                                </label>
                                @*<label class="btn btn-primary btn-inverted">
                            <input type="radio" name="optionsBootstrap" data-bind="bsChecked: $root.corSelecionada, css: { active: $root.corSelecionada() == $data}, checkedValue: $data, checked: $root.corSelecionada"><!-- ko text: $data--><!-- /ko -->
                        </label>*@
                                <!-- /ko -->
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="radio">Cor selecionada (radio)</label>
                        <div data-bind="text: corSelecionada"></div>
                    </div>
                    <div class="form-group">
                        <label for="radio">Sabores (checkbox, sem bind!)</label><br />
                        <label for="sabor12" class="checkbox-label"><input id="sabor12" class="vanilla vanilla-nativo" value="morango" type="checkbox" name="sabor">Morango</label>
                        <label for="sabor22" class="checkbox-label"><input id="sabor22" class="vanilla vanilla-nativo" value="creme" type="checkbox" name="sabor">Creme</label>
                        <label for="sabor32" class="checkbox-label"><input id="sabor32" class="vanilla vanilla-nativo" value="chocolate" type="checkbox" name="sabor">Chocolate</label>
                    </div>
                    <div class="form-group">
                        <label for="radio">Sabores (checkbox)</label><br />
                        <label for="sabor1" class="checkbox-label"><input id="sabor1" class="vanilla" value="morango" data-bind="checked: sabores, vanillaUniform: {}" type="checkbox" name="sabor">Morango</label>
                        <label for="sabor2" class="checkbox-label"><input id="sabor2" class="vanilla" value="creme" data-bind="checked: sabores, vanillaUniform: {}" type="checkbox" name="sabor">Creme</label>
                        <label for="sabor3" class="checkbox-label"><input id="sabor3" class="vanilla" value="chocolate" data-bind="checked: sabores, vanillaUniform: {}" type="checkbox" name="sabor">Chocolate</label>
                    </div>
                    <div class="form-group">
                        <label for="radio">Sabores (group)</label><br />
                        <div class="btn-group">
                            <label for="sabor1g" class="btn btn-primary btn-inverted"><input id="sabor1g" class="vanilla" value="morango" data-bind="checked: sabores, vanillaUniform: { checkParentCSS: true }" type="checkbox" name="sabor">Morango</label>
                            <label for="sabor2g" class="btn btn-primary btn-inverted"><input id="sabor2g" class="vanilla" value="creme" data-bind="checked: sabores, vanillaUniform: { checkParentCSS: true }" type="checkbox" name="sabor">Creme</label>
                            <label for="sabor3g" class="btn btn-primary btn-inverted"><input id="sabor3g" class="vanilla" value="chocolate" data-bind="checked: sabores, vanillaUniform: { checkParentCSS: true }" type="checkbox" name="sabor">Chocolate</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="radio">Selecionados (knockout foreach)</label>
                        <!-- ko foreach: sabores -->
                        <div data-bind="text: $data"></div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <div class="col-flex panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="ddlFiltroPessoaCliente" class="control-label">Pessoa</label>
                                @HtmlHelper.Select.SearchableKO("ddlFiltroPessoaCliente", "IdPessoaIn", "IdPessoaIn", "NomeSecundarioDocumento", "Nomes", "NomeSecundarioDocumento", "/Corporativo/Pessoa/List", "Ativo:true", idChaveRelacao: "IdPessoa", multiple: true)
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="ddlFiltroPessoaTeste" class="control-label">Teste Checkbox</label>
                                @HtmlHelper.Select.SelectCheckbox(id: "ddlFiltroPessoaTeste", campoId: "IdPessoaIn", campoIdPesquisa: "IdPessoaIn", campoValor: "NomeSecundarioDocumento", campoIdChaveRelacao: "IdPessoa", campoOrdenacao: "NomeSecundarioDocumento", url: "/Corporativo/Pessoa/List", dadosCompl: "Ativo: true", vmDataSelected: "PessoasSelecionadas", selectOptions: "{ showSubText: true }")
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Telefone 1</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: PessoasSelecionadas">
                            <tr>
                                <td data-bind="text: IdPessoa"></td>
                                <td data-bind="text: Nome"></td>
                                <td data-bind="text: Telefone1"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label>Input group (sm)</label>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-addon"><i class="material-icons"></i></div>
                                    <input id="BuscaTreeTelas" type="search" placeholder="Busca rápida" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary btn-icon" title="Limpar" type="button"><i class="material-icons"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label>Input group</label>
                                <div class="input-group input-group">
                                    <div class="input-group-addon"><i class="material-icons"></i></div>
                                    <input id="BuscaTreeTelas" type="search" placeholder="Busca rápida" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary btn-icon" title="Limpar" type="button"><i class="material-icons"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label>Input group (lg)</label>
                                <div class="input-group input-group-lg">
                                    <div class="input-group-addon"><i class="material-icons"></i></div>
                                    <input id="BuscaTreeTelas" type="search" placeholder="Busca rápida" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary btn-icon" title="Limpar" type="button"><i class="material-icons"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>        
    </div>
</div>