﻿<div id="gridview">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Basic gridview</h3>
        </div>
        <div class="panel-body">
            @*<gv id="gridview-modeldata" params="id: 'gridview-modeldata', data: [{ id: 1, name: 'José', age: 35 }, { id: 2, name: 'Mary', age: 38 } ], columns: [{ id: 'id', header: true }, { id: 'name', displayName: 'Customer Name', header: true }, { id: 'age', displayName: 'Customer Age', header: true }]"></gv>*@
            <div id="gridview-modeldata" data-bind="component: { name: 'gv', params: options }"></div>
            <!-- html markup for rows -->
            <template id="list-gridview-modeldata">
                <tr>
                    <td data-bind="text: id"></td>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: age"></td>                    
                </tr>
            </template>
        </div>
    </div>    
</div>
<div id="crud-gridview-modeldata">
    bolota
</div>