﻿@model HTM.MasterGestor.Web.UI.ViewModels.Home.HomeIndexVM
@{
    ViewBag.Title = "Grid customizada";
    Layout = "~/Views/_LayoutDefault.cshtml";
}
<div data-bind="stopBindings: true">    
    
    <div id="grid-area">

        <template id="filter-PessoaIndex">
            <div class="form-group">
                <label for="txtDescricao" class="control-label">Primeiro Nome</label>
                <input type="text" id="txtDescricao" data-bind="textInput: Nomes" class="form-control" />
            </div>   
            <div class="form-group">
                <label for="txtFiltroDocumentoTelefone" class="control-label">Documento</label>
                <input type="text" id="txtFiltroDocumentoTelefone" data-bind="textInput: DocumentoTelefone" placeholder="Código / Documento / Telefone" class="form-control" />
            </div> 
                   
            @HtmlHelper.Campo.DropAtivo()

            <div class="form-group">
                <label for="ddlFiltroPessoaPerfil">Perfil</label>                
                @HtmlHelper.Select.SearchableKO("ddlFiltroPessoaPerfil", "IdPessoaPerfilIn", "IdPessoaPerfilIn", "Descricao", "Descricao", "Descricao", "/Corporativo/PessoaPerfil/List", "", idChaveRelacao: "IdPessoaPerfil", multiple: true)
            </div>
        </template>
      

        @HtmlHelper.GridView.GridIndex(
        id: "PessoaIndex",
        listUrl: "/Corporativo/Pessoa/List",        
        columns:
        @<script>
            [
                { 'id': 'Nomes', 'filter': true, 'defaultFilter': true },
                { 'id': 'DocumentoTelefone', 'filter': true },
                { 'id': 'IdPessoaPerfilIn', 'filter': true, 'defaultValue': '8,1' },               
                { 'id': 'IdPessoa' },
                { 'id': 'Codigo', 'displayName': 'Código', 'header': true, 'sortable': true },
                { 'id': 'Nome', 'displayName': 'Nome/Razão', 'header': true, 'sortable': true, 'groupable': true },
                { 'id': 'NomeSecundario', 'displayName': 'Apelido/Fantasia', 'header': true, 'sortable': true, 'groupable': true },
                { 'id': 'Telefone', 'header': true, 'sortable': true },
                { 'id': 'Ativo', 'header': true, 'filter': true, 'defaultValue': 'true', 'sortable': true, 'groupable': true, 'groupTextValues': ['Ativo', 'Inativo'] },
                defaults.gridNewEdit.column.acao
            ]
        </script>,
        templateRows:
        @<tr>
            <td><span data-bind="text: Codigo"></span></td>
            <td data-bind="template: { name: 'link-edit-url', data: { text: Nome, id: IdPessoa }  }"></td>
            <td><span data-bind="text: NomeSecundario"></span></td>
            <td><span data-bind="text: Telefone1"></span> <span data-bind="if: Telefone1 !== null && Telefone2 !== null"> - </span> <span data-bind="text: Telefone2"></span></td>             
            <td data-bind="template: 'label-status'"></td>
            <td data-bind="template: { name: 'button-edit-remove-url', data: { id: IdPessoa } }"></td>
        </tr>
        ,
        orderByCol: "Nome",
        orderByDir: HelpersUtil.OrderByDirEnum.Asc,
        useHiddenColumns: false,
        api: "api")

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Grid interna com edição de VM</h3>
            </div>

            <div class="panel-body">
                @HtmlHelper.GridView.GridNewEdit(
                    id: "Pessoa",
                    vm: "Pessoas",
                    columns:
                    @<script>
                        [
                            { 'id': '_id', 'displayName': '_id gerado', 'header': true, 'sortable': true },
                            { 'id': 'name', 'displayName': 'Descrição', 'header': true, 'sortable': true },
                            { 'id': 'age', 'displayName': 'Idade', 'header': true, 'sortable': true },
                            defaults.gridNewEdit.column.acaoEditRemove
                        ]
                    </script>,
                    templateRows:
                    @<tr>
                        <td><span data-bind="text: _id"></span></td>
                        <td data-bind="template: { name: 'link-edit', data: { text: name }  }"></td>
                        <td><span data-bind="text: age"></span></td>
                        <td data-bind="template: 'button-edit-remove'"></td>
                    </tr>
                    ,
                    orderByCol: "Nome",
                    orderByDir: HelpersUtil.OrderByDirEnum.Asc,
                    useHiddenColumns: false)
            </div>
        </div>

        <div class="panel panel-default" id="grid-area">
            <div class="panel-heading">
                <h3 class="panel-title">Grid interna com edição de VM (Exibindo colunas de Ativo)</h3>
            </div>
            <div class="panel-body">
                @HtmlHelper.GridView.GridNewEdit(
                id: "Contato",
                vm: "Contatos",
                columns:
                @<script>
                    [
                        { 'id': 'name', 'displayName': 'Nome do contato', 'header': true, 'sortable': true },
                        { 'id': 'Ativo', 'header': true },
                        defaults.gridNewEdit.column.acaoEditRemove
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: name }  }"></td>
                    <td data-bind="template: 'label-status'"></td>
                    <td data-bind="template: 'button-edit-remove'"></td>
                </tr>
                ,
                orderByCol: "name",
                orderByDir: HelpersUtil.OrderByDirEnum.Desc,
                useHiddenColumns: true)
            </div>
        </div>

        <div class="panel panel-default" id="grid-area-2">
            <div class="panel-heading">
                <h3 class="panel-title">Grid interna com edição de VM (Utilizando coluna 'Excluido')</h3>
            </div>
            <div class="panel-body">
                @HtmlHelper.GridView.GridNewEdit(
                id: "Contato2",
                vm: "Contatos2",
                title: "Contato",
                columns:
                @<script>
                    [
                        { 'id': 'name', 'displayName': 'Nome do contato', 'header': true, 'sortable': true },                      
                        defaults.gridNewEdit.column.acaoEditRemove
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: name }  }"></td>                    
                    <td data-bind="template: 'button-edit-remove'"></td>
                </tr>
                ,
                orderByCol: "name",
                orderByDir: HelpersUtil.OrderByDirEnum.Desc,
                useHiddenColumns: false,
                useRemovedColumn: true)
            </div>
        </div>
    </div>
</div>

<template id="newedit-Pessoa">
    <div class="form-group">
        <label for="name">Nome</label>
        <input id="name" type="text" data-bind="textInput: name, validate: { required: true }" class="form-control" />
    </div>
    <div class="form-group">
        <label for="age">Idade</label>
        <input id="age" type="text" data-bind="textInput: age" class="form-control" required="required" />
    </div>
</template>

<template id="newedit-Contato">
    <div class="form-group">
        <label for="name">Nome do contato</label>
        <input id="name" type="text" data-bind="textInput: name, validate: { required: true }" class="form-control" />
    </div>
    <div class="form-group">
        <label for="ativo">Ativo</label>
        <input id="Ativo" type="checkbox" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }" class="form-control" required="required" />
    </div>
</template>

<template id="newedit-Contato2">
    <div class="form-group">
        <label for="name">Nome do contato</label>
        <input id="name" type="text" data-bind="textInput: name, validate: { required: true }" class="form-control" />
    </div>    
</template>


@section Scripts {
    <script type="text/javascript">  
        function vm() {
            var self = this;
            this.api = ko.observable({});
            this.Pessoas = ko.observableArray(
            [
                { name: "Moroni", age: 50 },
                { name: "Tiancum", age: 43 },
                { name: "Jacob", age: 27 },
                { name: "Nephi", age: 29 },
                { name: "Enos", age: 34 },
                { name: "Moroni", age: 50 },
                { name: "Tiancum", age: 43 },
                { name: "Jacob", age: 27 },
                { name: "Nephi", age: 29 },
                { name: "Enos", age: 34 },
                { name: "Moroni", age: 50 },
                { name: "Tiancum", age: 43 },
                { name: "Jacob", age: 27 },
                { name: "Nephi", age: 29 },
                { name: "Enos", age: 34 }
            ]);            
            this.Contatos = ko.observableArray([
                { Ativo: false, name: "José", id: 1 },
                { Ativo: true, name: "Manuel", id: 2 },
                { Ativo: false, name: "Márcio", id: 3 },
                { Ativo: true, name: "Marília", id: 4 },
                { Ativo: true, name: "Lucas", id: 5 },
            ]);
            this.Contatos2 = ko.observableArray([
                { Excluido: false, name: "José", id: 1 },
                { Excluido: false, name: "Manuel", id: 2 },
                { Excluido: false, name: "Márcio", id: 3 },
                { Excluido: false, name: "Marília", id: 4 },
                { Excluido: false, name: "Lucas", id: 5 },
            ]);

            this.Save = function () {

            }
        };
        
        var vmPessoa = new vm();   
        ko.applyBindings(vmPessoa, document.getElementById('grid-area'));       
        
    </script>
}

    