﻿@model HTM.MasterGestor.Web.UI.ViewModels.Home.HomeIndexVM
@{
    ViewBag.Title = "Icons";    
    Layout = "~/Views/_LayoutDefault.cshtml";
}
    
@section Head {
    
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Botões com ícones</h3>
    </div>
    <div class="panel-body">
        <button class="btn btn-secondary btn-sm">
            <i class="material-icons">face</i>
            Botão com ícone!
        </button>

        <button class="btn btn-default">
            <i class="material-icons">face</i>
            Botão com ícone!
        </button>

        <button class="btn btn-primary btn-lg">
            <i class="material-icons">face</i>
            Botão com ícone!
        </button>

        <hr />

        <button class="btn btn-secondary btn-sm">
            <i class="material-icons">done</i>
            Botão com ícone!
        </button>

        <button class="btn btn-default">
            <i class="material-icons">done</i>
            Botão com ícone!
        </button>

        <button class="btn btn-primary btn-lg">
            <i class="material-icons">done</i>
            Botão com ícone!
        </button>

        <hr />

        <button class="btn btn-secondary btn-sm btn-icon">
            <i class="material-icons">done</i>
        </button>

        <button class="btn btn-default btn-icon">
            <i class="material-icons">done</i>
        </button>

        <button class="btn btn-primary btn-lg btn-icon">
            <i class="material-icons">done</i>          
        </button>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Grupos de input</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="txtUsuario" class="control-label">Usuário</label>
                    <div class="input-group input-group-sm">
                        <div class="input-group-addon"><i class="material-icons">alarm_on</i></div>
                        <input id="txtUsuario" type="text" class="form-control input-lg">
                        <div class="input-group-addon"><i class="material-icons">alarm_on</i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="txtUsuario" class="control-label">Usuário</label>
                    <div class="input-group input-group-sm">
                        <div class="input-group-addon">Vai planeta!</div>
                        <input id="txtUsuario" type="text" class="form-control input-lg">
                        <div class="input-group-addon">Volta</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="txtUsuario" class="control-label">Usuário</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="material-icons">face</i></div>
                        <input id="txtUsuario" type="text" class="form-control input-lg">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="txtUsuario" class="control-label">Usuário</label>
                    <div class="input-group input-group-lg">
                        <div class="input-group-addon"><i class="material-icons">done</i></div>
                        <input id="txtUsuario" type="text" class="form-control input-lg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


        <template id="filter-PessoaIndex">
            <div class="form-group">
                <label for="txtDescricao" class="control-label">Primeiro Nome</label>
                <input type="text" id="txtDescricao" data-bind="textInput: Nomes" class="form-control" />
            </div>
            <div class="form-group">
                <label for="txtFiltroDocumentoTelefone" class="control-label">Documento</label>
                <input type="text" id="txtFiltroDocumentoTelefone" data-bind="textInput: DocumentoTelefone" placeholder="Código / Documento / Telefone" class="form-control" />
            </div>
            @HtmlHelper.Campo.DropAtivo()

            <div class="form-group">
                <label for="ddlFiltroPessoaPerfil">Perfil</label>
                @HtmlHelper.Select.SearchableKO("ddlFiltroPessoaPerfil", "IdPessoaPerfilIn", "IdPessoaPerfilIn", "Descricao", "Descricao", "Descricao", "/Corporativo/PessoaPerfil/List", "", idChaveRelacao: "IdPessoaPerfil", multiple: true)
            </div>
        </template>


        @HtmlHelper.GridView.GridIndex(
        id: "PessoaIndex",
        listUrl: "/Corporativo/Pessoa/List",
        columns:
        @<script>
            [
                { 'id': 'Nomes', 'filter': true, 'defaultFilter': true },
                { 'id': 'DocumentoTelefone', 'filter': true },
                { 'id': 'IdPessoaPerfilIn', 'filter': true, 'defaultValue': '8,1' },
                { 'id': 'Ativo', 'filter': true },
                { 'id': 'IdPessoa' },
                { 'id': 'Codigo', 'displayName': 'Código', 'header': true, 'sortable': true },
                { 'id': 'Nome', 'displayName': 'Nome/Razão', 'header': true, 'sortable': true },
                { 'id': 'NomeSecundario', 'displayName': 'Apelido/Fantasia', 'header': true, 'sortable': true },
                { 'id': 'Telefone', 'header': true, 'sortable': true },
                { 'id': 'Ativo', 'header': true, 'sortable': true },
                defaults.gridNewEdit.column.acao
            ]
        </script>,
        templateRows:
        @<tr>
            <td><span data-bind="text: Codigo"></span></td>
            <td data-bind="template: { name: 'link-edit-url', data: { text: Nome, id: IdPessoa }  }"></td>
            <td><span data-bind="text: NomeSecundario"></span></td>
            <td><span data-bind="text: Telefone1"></span> <span data-bind="if: Telefone1 !== null && Telefone2 !== null"> - </span> <span data-bind="text: Telefone2"></span></td>
            <td data-bind="template: 'label-status'"></td>
            <td data-bind="template: { name: 'button-edit-remove-url', data: { id: IdPessoa } }"></td>
        </tr>
            ,
            orderByCol: "Nome",
            orderByDir: HelpersUtil.OrderByDirEnum.Asc,
            useHiddenColumns: false)


<div class="panel panel-default panel-action">
    <div class="panel-body">
        <button type="submit" id="btn-salvar" class="btn btn-secondary btn-lg btn-primary-action"><i class="material-icons">&#xE5CA;</i> Salvar</button>
        <a href="#" type="button" class="btn btn-primary btn-inverted btn-lg pull-right"><i class="material-icons">&#xE889;</i> Histórico</a>
           
    </div>
</div>
  


