﻿@using HTM.MasterGestor.Web.UI.Infrastructure;
@model HTM.MasterGestor.Web.UI.ViewModels.Home.HomeIndexVM

@{
    //Layout = "~/Views/_LayoutDefault.cshtml";
    Layout = Request.IsAjaxRequest() ? null : (ControladorSessaoUsuario.SessaoCorrente != null ? "~/Views/_LayoutMain.cshtml" : "");
    ViewBag.Title = ControladorSessaoUsuario.SessaoCorrente != null ? ControladorSessaoUsuario.SessaoCorrente.Tema.Descricao : "Redirecionando..";
}

@if (ControladorSessaoUsuario.SessaoCorrente == null)
{
<!DOCTYPE html>
    
<html>
<head> 
    <title>Redirecionando..</title>
</head>
<body>
    <script>        
        var locationUrl = window.location.hash.replace(/#/gi, '!!');
        window.location = '/Login' + (locationUrl.length > 0 ? '?redir=/' + locationUrl : '');
    </script>
</body>
</html>
        

}
<div id="home-dashboard" style="display: none">
    @if (HttpContext.Current.IsDebuggingEnabled && ControladorSessaoUsuario.SessaoCorrente != null)
    {

        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <fieldset>
                                    <legend>Desenvolvimento de Interface de Usuário</legend>
                                    <ul>
                                        <li><a data-original-href="$/MasterGestor/Docs/DocumentacaoMarcacao.md" href="https://tfshtm.visualstudio.com/DefaultCollection/MasterGestor/_versionControl#path=%24%2FMasterGestor%2FDocs%2FDocumentacaoMarcacao.md&createIfNew=true&_a=contents">Documentação essencial para marcação de telas </a> <span class="label label-success">atualizado</span> </li>
                                        <li><a data-original-href="$/MasterGestor/Docs/GuiaPadraoTelasCampos.md" href="https://tfshtm.visualstudio.com/DefaultCollection/MasterGestor/_versionControl#path=%24%2FMasterGestor%2FDocs%2FGuiaPadraoTelasCampos.md&createIfNew=true&_a=contents">Padronização de telas, campos, rótulos e ordenações</a></li>
                                        <li><a data-original-href="$/MasterGestor/Docs/DocumentacaoPadraoVisual.md" href="https://tfshtm.visualstudio.com/DefaultCollection/MasterGestor/_versionControl#path=%24%2FMasterGestor%2FDocs%2FDocumentacaoPadraoVisual.md&createIfNew=true&_a=contents">Estrutura de diretórios do padrão visual</a></li>
                                        <li><a data-original-href="$/MasterGestor/Docs/DocumentacaoPadraoVisual.md" href="https://tfshtm.visualstudio.com/DefaultCollection/MasterGestor/_versionControl#path=%24%2FMasterGestor%2FDocs%2FDocumentacaoPadraoVisual.md&createIfNew=true&_a=contents">Padrão de páginas de edição usando RequireJS (Javascript)</a></li>
                                    </ul>
                                </fieldset>
                            </div>
                            <div class="col-xs-6">
                                <fieldset>
                                    <legend>Componentes e widgets</legend>
                                    <ul>
                                        <li><a target="_parent" href="https://design.google.com/icons">Ícones do padrão</a></li>
                                        <li><a href="/#/Home/GridView/GridView">Gridview (Refatorada)</a></li>
                                        @*<li><a href="/Home/Masks">Máscaras de campo</a></li>*@
                                        <li><a href="/#/Home/FormControls/FormControls">Controles de formulário</a></li>
                                        <li><a href="/#/Home/UnidadeTipo/UnidadeTipo">Campo de tipo de unidade</a></li>
                                        <li><a href="/#/Home/Upload/Upload">Upload de Arquivos</a></li>
                                    </ul>
                                </fieldset>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="http://demo.htm.com.br/Login?redir=/!!/Home/WarmUp/WarmUp" class="btn btn-block btn-lg btn-danger">Aquecer controllers em produção
                                </a>
                            </div>
                            <div class="col-xs-6">
                                <a href="/#/Home/WarmUp/WarmUp" class="btn btn-block btn-lg btn-primary">
                                    Aquecer controllers em desenvolvimento
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
    <!-- dashboard -->
        <div>
        </div>
    }
</div>



