﻿@using HTM.MasterGestor.Web.UI.Infrastructure;

@{
    //Layout = "~/Views/_LayoutDefault.cshtml";
    //Layout = null;
    Layout = Request.IsAjaxRequest() ? null : (ControladorSessaoUsuario.SessaoCorrente != null ? "~/Views/_LayoutMain.cshtml" : "");
    //ViewBag.Title = ControladorSessaoUsuario.SessaoCorrente != null ? ControladorSessaoUsuario.SessaoCorrente.Tema.Descricao : "Redirecionando..";
}

@if (ControladorSessaoUsuario.SessaoCorrente == null)
{
    <!DOCTYPE html>

    <html>
    <head>
        <title>Redirecionando..</title>
    </head>
    <body>
        <script>

        var locationUrl = window.location.hash.replace(/#/gi, '!!');
        window.location = '/Login' + (locationUrl.length > 0 ? '?redir=/' + locationUrl : '');
        </script>
    </body>
</html>
}
else
{
    <div data-bind="stopBindings: true" id="route-map">

        @*<aside-panel params="data: $data">
            </aside-panel>*@

        <div id="aside-edit" class="panel-set panel-mapa-edit" style="display: none">
            <div class="panel-container">
                <div class="panel panel-default" id="element-edit">
                    <div class="panel-heading">
                        <h3 class="panel-title">Edição do Elemento <a class="panel-close" href="#"><i class="material-icons"></i></a></h3>
                    </div>
                    <div class="panel-body">
                        <form data-bind="validateForm: { submitHandler: save }">
                            <div class="form-group">
                                <label for="IdCamadaPai">Pertence à qual camada?</label>
                                <input id="IdCamadaPai" class="form-control" type="text" />
                            </div>
                            <div class="form-group">
                                <label for="IdItemSistema">Está vinculado a qual Item de Sistema?</label>
                                <input id="IdItemSistema" class="form-control" type="text" />
                            </div>
                            <div class="form-group">
                                <label for="IdLocalProducao">Local de Produção</label>
                                <input id="IdLocalProducao" class="form-control" type="text" />
                            </div>

                            <ul class="nav nav-tabs" data-bind="navTabs: {}">
                                <li role="presentation" class="active"><a href="#element-edit-style">Estilo</a></li>
                                <li role="presentation"><a href="#element-config">Características</a></li>
                            </ul>
                            <div class="nav-content">
                                <div class="nav-tab" id="element-config" style="display: none">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="UltimoNivel">Último nível</label>
                                                <input id="UltimoNivel" class="form-control" type="checkbox" data-bind="flipper: {}" />
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="VisivelConsulta">Visível em consultas</label>
                                                <input id="VisivelConsulta" class="form-control" type="checkbox" data-bind="flipper: {}" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="Bloqueada">Bloqueada</label>
                                                <input id="Bloqueada" class="form-control" type="checkbox" data-bind="flipper: {}" />
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="Ativo">Ativo</label>
                                                <input id="Ativo" class="form-control" type="checkbox" data-bind="flipper: {}" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="nav-tab" id="element-edit-style" style="display: block">
                                </div>
                            </div>
                            <div class="panel-set-action">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <hr />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <button type="submit" id="btn-salvar" class="btn btn-primary btn-block btn-primary-action btn-md"><i class="material-icons material-md">&#xE5CA;</i> Salvar</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button type="button" class="btn btn-primary btn-block btn-inverted btn-lg panel-close"><i class="material-icons material-md"></i> Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel-container">
            </div>
        </div>
        <div class="aside-panel" id="aside-menu">
            <div class="aside-toggle-container">
                <button class="aside-toggle-button" aria-label="Recolher painel lateral" data-bind="event: { click: togglePanel }"></button>
            </div>

            <div class="panel panel-default">
                <button id="btn-preferencias" class="btn btn-icon btn-rounded-icon pull-right btn-preferencia-mapeamento" title="Preferências de Mapeamento"><i class="fa fa-gear"></i></button>
                <div id="modo-consulta">
                    <div class="panel-heading">
                        <div>
                            <ol class="breadcrumb">
                                <li class="actiHve">Mapas</li>
                            </ol>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="txtPesquisaMapa">Pesquisar em Mapas</label>
                            <div class="input-group">
                                <input id="txtPesquisaMapa" class="form-control" type="search" />
                                <div class="input-group-btn">
                                    <button class="btn btn-primary btn-icon btn-icon-lg"><i class="material-icons">search</i></button>
                                </div>
                            </div>
                        </div>

                        <fieldset>
                            <legend>Seus mapas</legend>
                            <button id="btnNovoMapa" class="btn btn-secondary btn-block">Novo Mapa</button>
                            <br />
                            <div class="form-group">
                                <select id="ddlFiltroMapa" class="form-control">
                                    <option selected="selected">Todos</option>
                                    <option selected="selected">Ativos</option>
                                    <option selected="selected">Inativos</option>
                                </select>
                            </div>

                            @*<div id="filtro-grade">
                                <template id="filter-MapaIndex">
                                    <div class="form-group">
                                        <label for="txtFiltroDescricao" class="control-label">Descrição</label>
                                        <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
                                    </div>
                                    @HtmlHelper.Campo.DropAtivo()
                                </template>*@

                            @HtmlHelper.GridView.GridIndex(
                        id: "MapaIndex",
                        newUrl: "#/Mapeamento/Mapa/New",
                        editUrl: "#/Mapeamento/Mapa/Edit",
                        listUrl: "/Mapeamento/Mapa/List",
                        columns:
                        @<script>
                            [
                                { 'id': 'Descricao', 'defaultFilter': true, filter: true, header: true },
                                { 'id': 'IdMapeamentoMapa', editColumn: true },
                                defaults.gridNewEdit.column.acao
                            ]
                        </script>,
                            templateRows:
                            @<tr>
                                <td data-bind="text: Descricao"></td>
                                <td data-bind="template: { name: 'button-edit-url', data: { id: IdMapeamentoMapa } }"></td>
                            </tr>,
         showFilter: false,
         showNewButton: false,
         showExportButtons: false,
         orderByCol: "Descricao",
         orderByDir: HelpersUtil.OrderByDirEnum.Asc,
         useHiddenColumns: false)
                            @*</div>*@

                            @*<table cellpadding="0" cellspacing="0" class="table table-striped table-row-editable">
                                    <thead>
                                        <tr>
                                            <th>Mapas</th>
                                            <th style="width: 1%">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: listaMapasUsuario">
                                        <tr>
                                            <td data-bind="text: TituloMapa, event: { click: $root.toggleEdit }"></td>
                                            <td data-bind="event: { click: $root.toggleEdit }">
                                                <!-- toogleEdit temp, será rota -->
                                                <a href="#" class="btn btn-icon btn-primary"><i class="material-icons">edit</i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>*@
                        </fieldset>
                    </div>
                </div>
                <div id="modo-edicao" style="display: none">
                    <div class="panel-heading">
                        <div>
                            <span class="btn-back-container in"><a href="#" data-bind="event: { click: toggleEdit }" class="btn-back btn-primary btn-inverted btn-rounded-icon"></a></span>
                            <ol class="breadcrumb">
                                <li><a id="tituloTela" data-bind="event: { click: toggleEdit }" href="#">Mapas</a></li>
                                <li class="actiHve">Elementos</li>
                            </ol>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group read-mode txt-mapa-edit">
                            @*<label for="txtMapaSelecionado">Mapa</label>*@
                            <label class="form-control txt-mapa"><i class="material-icons material-md">map</i>Fazenda Santa Genoveva</label>
                        </div>
                        <fieldset>
                            @*<legend>Itens do Mapa</legend>*@

                            @*<label>Com <span class="badge">2</span> camadas e <span class="badge">3</span> elementos selecionados</label>*@

                            <div class="form-inline">
                                <div class="form-group" style="max-width: 272px">
                                    @*<label for="txtEditPesquisaMapa">Pesquisar no Mapa</label>*@
                                    <div class="input-group">
                                        <input id="txtPesquisaMapa" class="form-control" placeholder="Pesquisar no Mapa" type="search" />
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary btn-icon btn-icon-lg"><i class="material-icons">search</i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="dropdown dropdown-selected">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                                            Ações
                                            @*Com <span class="badge">2</span> camadas e <span class="badge">3</span> elementos selecionados*@
                                            <span class="caret"></span>
                                            @*<i class="material-icons material-lg">more_vert</i>*@
                                        </button>
                                        <ul class="dropdown-menu">
                                            @*<li><button id="btnNovoElement" class="btn btn-secondary"><i class="material-icons material-md">add</i> Novo elemento</button></li>*@
                                            <li><a href="#"><i class="material-icons">layers</i> Nova Camada</a></li>
                                            <li><a href="#"><i class="material-icons">add</i> Novo Elemento</a></li>
                                            <li class="dropdown-header">Com selecionados</li>
                                            <li><a href="#">Duplicar</a></li>
                                            <li><a href="#">Excluir</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="container-itens-mapa">
                                <div id="treeItensMapa">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <div id="map-container">
            <div id="toolbar">
            </div>
            <div id="map"></div>
        </div>

        <div class="modal fade" id="modal-preferencias" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog">
                <form data-bind="validateForm: {}">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Preferências</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="ddlUnidadeMedidaExtraDistancia">Unidade extra para distância</label>
                                        <input id="ddlUnidadeMedidaExtraDistancia" class="form-control" type="text" />
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="ddlUnidadeExtraArea">Unidade extra para área</label>
                                        <input id="ddlUnidadeExtraArea" class="form-control" type="text" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </form>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
}




