﻿@model HTM.MasterGestor.Web.UI.ViewModels.Home.HomeIndexVM
@{
    ViewBag.Title = "Masks";
    Layout = "~/Views/_LayoutDefault.cshtml";
}

@section Head {
    
}


<div class="panel panel-default" data-bind="stopBindings: true">    
    <div class="panel-heading">
        <h3 class="panel-title">Máscaras de entrada</h3>
    </div>
    <div class="panel-body">
        <form id="masks">
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-group">
                        <label id="data">Data</label>
                        <input type="text" data-bind="mask: { options: defaults.mask.date, value: ValorData }" id="data" class="form-control" name="data" />
                        
                    </div>
                    <div class="form-group">
                        <label id="datah">Data/Hora</label>
                        <input type="text" data-bind="mask: { options: defaults.mask.datetime, value: ValorDataHora }" id="datah" class="form-control" name="datah" />
                    </div>
                    <div class="form-group">
                        <label id="cpf">CPF</label>
                        <input type="text" data-bind="mask: { options: defaults.mask.cpf, value: ValorCPF }" id="cpf" class="form-control" name="cpf" />
                    </div>
                    <div class="form-group">
                        <label id="telefone">DDD + Telefone</label>
                        <input type="text" id="telefone" data-bind="mask: { options: defaults.mask.phone, value: ValorTelefone }" class="form-control" name="telefone" />
                    </div>
                    <div class="form-group">
                        <label id="telefone">E-mail</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                            <input type="text" id="email" class="form-control" name="email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label id="cep">CEP</label>
                        <input type="text" data-bind="mask: { options: defaults.mask.cep, value: ValorCEP }" id="cep" class="form-control" name="cep" />
                    </div>

                    <div class="form-group">
                        <label id="integer">Inteiro</label>
                        <input type="text" data-bind="mask: { options: defaults.mask.integer }" id="integer" class="form-control" name="integer" />
                    </div>

                    <div class="form-group">
                        <label for="coordenada">Coordenada</label>
                        <input type="text" data-bind="mask: { options: defaults.mask.coordenada }" id="coordenada" class="form-control" name="coordenada" />
                    </div>

                    <div class="form-group">
                        <label for="moeda">Valor</label>
                        <div class="input-group">
                            <span class="input-group-addon">R$</span>
                            <input id="moeda" data-bind="mask: { options: defaults.mask.money }" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
 <script type="text/javascript">
    var form = $('#masks');

    var vmMasks = {
        ValorData: ko.observable('10/10/2010'),
        ValorDataHora: ko.observable('10/10/2010 21:34:05'),
        ValorCEP: ko.observable('14030410'),
        ValorCPF: ko.observable('08989868696'),
        ValorTelefone: ko.observable('16981011484')
    };

    ko.applyBindings(vmMasks, form[0]);
</script>   
}


