﻿@model HTM.MasterGestor.Web.UI.ViewModels.Home.HomeIndexVM
@{
    ViewBag.Title = "Select2";
    Layout = "~/Views/_LayoutDefault.cshtml";
}
<div data-bind="stopBindings: true">    
    <div id="select2-content">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Testes de Select2</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="ddlUnidade">Teste parâmetros dinâmicos</label>
                    @HtmlHelper.Select.SearchableKO("ddlUnidade", "IdUnidade", "IdUnidade", "DescricaoSigla", "Descricao", "Descricao", "/Estoque/Unidade/List", " Ativo: true, IdUnidadeIn: \\'27, 30, 31\\'", "", "IdUnidadeTipo", dataBind: "validate: { required: true }")
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript"> 
     
        var vmTeste = function () { 
            this.IdUnidadeTipo = ko.observable(2);
            this.IdUnidade = ko.observable(33);
            this.DescricaoSigla = ko.observable(11);
            this.Descricao = ko.observable(11);
        };
        var vm = new vmTeste();

        ko.applyBindings(vm, document.getElementById('select2-content'));
        
    </script>
}

    