﻿<routeOptions data-title="Unidade Tipo"></routeOptions>

<div class="panel panel-default" data-bind="stopBindings: true">
    <div class="panel-heading">
        <h3 class="panel-title">Unidade de medida</h3>
    </div>
    <div class="panel-body">
        <div id="grid-area">
            <form data-bind="validateForm: { submitHandler: Save }">
                <div class="row">
                    <div class="col-xs-6">
                        @HtmlHelper.Campo.UnidadeTipo("teste123", "ValorNulo", "IdUnidadeTipo", "IdUnidade", ValidateBind: "{ required: true }", UnidadeSelecionadoApresentacao: "UnidadeApres1")
                        <div class="alert alert-info">
                            Valor = <strong data-bind="text: ValorNulo() == null ? 'null' : ValorNulo()"></strong>, idUnidadeTipoSelecionado = <strong data-bind="text: IdUnidadeTipo"></strong>, idUnidadeSelecionado = <strong data-bind="text: IdUnidade"></strong>, apresentação: <strong data-bind="text: UnidadeApres1"></strong>
                        </div>

                        @HtmlHelper.Campo.UnidadeTipo("teste1233", "Valor", "", "IdUnidade", UnidadeSelecionadoApresentacao: "UnidadeApres2")
                        <div class="alert alert-info">
                            Valor = <strong data-bind="text: Valor() == null ? 'null' : Valor()"></strong>, idUnidadeTipoSelecionado = <strong data-bind="text: IdUnidadeTipo"></strong>, idUnidadeSelecionado = <strong data-bind="text: IdUnidade"></strong>, apresentação: <strong data-bind="text: UnidadeApres2"></strong><br />
                            Este campo inicialmente irá apresentar somente a unidade "Km" e valor: 2000.987654321
                        </div>

                        <unidade-tipo params="idCampo: 'teste', valor: ValorXXX, label: 'Label customizada', idUnidade: IdUnidadeSO, editaUnidade: false, unidadeSelecionadaApresentacao: UnidadeApres3"></unidade-tipo>
                        <div class="alert alert-info">
                            Valor = <strong data-bind="text: ValorXXX"></strong>, idUnidadeTipoSelecionado = <strong>3</strong>, idUnidadeSelecionado = <strong data-bind="text: IdUnidadeSO"></strong>, apresentação: <strong data-bind="text: UnidadeApres3"></strong>
                        </div>

                        <div class="form-group form-group-unidade input-group">
                            <label>Moeda (somente usar a máscara decimal)</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span>R$</span>
                                </div>
                                <input type="text" class="form-control" data-bind="value: ValorMoeda, maskDecimal: {}" id="testeMonetario" />
                            </div>
                        </div>
                    </div>
                </div>
                
                <div data-bind="foreach: dados" class="row">
                    <div class="col-xs-3">
                        <unidade-tipo params="idCampo: 'testeDados', valor: Valor, idUnidadeTipo: IdUnidadeTipo, idUnidade: IdUnidade, valorMonetario: false, alteraTipoUnidade: true, alteraUnidade: true, exibeTipo: true"></unidade-tipo>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
    <div class="panel panel-action show">
        <div class="panel-body">
            <button class="btn btn-primary">Salvar</button>
        </div>
    </div>
</div>

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Teste unitário</h3>
    </div>
    <div class="panel-body">
        <div id="qunit-fixture-visible">
            <unidade-tipo id="component-teste-propriedades" params="idCampo: 'testePropriedades', valor: valor, idUnidade: idUnidade, alteraUnidade: true"></unidade-tipo>
            <unidade-tipo id="component-teste-filtros" params="idCampo: 'testeFiltroTipos', valor: valor, idUnidade: idUnidade1, idUnidadeTipo: idUnidadeTipo1, alteraUnidade: true"></unidade-tipo>
            <unidade-tipo id="component-teste-elementos" params="idCampo: 'testeElementos', valor: valor2, idUnidade: idUnidade2, idUnidadeTipo: idUnidadeTipo2, alteraUnidade: true, validateBind: { required: validateObservable }"></unidade-tipo>
        </div>

        <div id="qunit"></div>        
    </div>
</div>