﻿<div class="panel panel-default" data-bind="stopBindings: true">
    <div class="panel-heading">
        <h3 class="panel-title">Unidade de medida</h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-default" data-toggle="collapsible" id="pnlImagens">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Arquivos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            @HtmlHelper.Campo.Upload()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
