﻿@model HTM.MasterGestor.Web.UI.ViewModels.Home.HomeIndexVM
@{
    Layout = null;
}

<html>
<head>
    <title>Knockout Validator Tests</title>

    <link href="http://code.jquery.com/qunit/qunit-git.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    

    <script src="//code.jquery.com/qunit/qunit-1.18.0.js"></script>
    <script src="~/App_Assets/src/components/jquery/dist/jquery.js"></script>
    <script src="~/App_Assets/src/components/knockout/dist/knockout.debug.js"></script>
    <script src="~/mg-assets/scripts/knockout-extension.js"></script>    
    <script src="~/mg-assets/scripts/knockout-validate.js"></script>
    <script src="~/mg-assets/scripts/knockout-validate-rules.js"></script>
 
    <!-- Tests -->
    @*<script src="~/mg-assets/scripts/knockout-validate-test.js" type="text/javascript"></script>*@

</head>
<body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
    <script>
     
           module("Validator Bindings");
           /*
           - Faz o bind?
           - Valida obrigatório?
           - Exibe mensagem de erro?

           https://github.com/AndersMalmgren/Knockout.Bindings/blob/master/test/test.js

           */

           ko.test = function (tag, binding, test) {
               var element = $("<" + tag + "/>");
               element.appendTo("body");
               ko.applyBindingsToNode(element[0], binding);
               var args = {
                   clean: function () {
                       element.remove();
                   }
               };
               test(element, args);

               if (!args.async) {
                   args.clean();
               }
           };

           var setupElement = function (tag, bindings, vm) {
               var element = $('<' + tag + ' />');
               element.appendTo('body');
           };

           var testBinding = function () {
               var element = $('<input type="text" />');
               element.appendTo("body");               

               ko.applyBindingsToNode(element[0], { validate: { required: true } });

               console.log(ko.contextFor(element));

               return false;
           }
           //var value = "hello";
           //assert.equal(value, "hello", "Knockout OK");
           //ok(ko, 'Knockout OK');
           //ok(testBinding, 'Binding OK');
           test('knockout ok', function () {
               ok(ko, 'Knockout OK');
           });
       
    </script>
</body>
</html>



@section Scripts {
    
}

