﻿<div id="warmUp">
    <ul data-bind="foreach: telas">
        <li class="warm-up-tela">
            <div data-bind="text: tituloTela" class="wu-titulo"></div>           
            <div data-bind="css: status" class="wu-status">
                <!-- ko if: status() == 'Aquecendo' -->
                <span style="height: 30px; line-height:50px; display: inline-block; text-align: center">Aquecendo</span>                
                <!-- /ko -->
                <!-- ko if: status() == 'Ok' -->
                <i class="material-icons">&#xE876;</i>
                <!-- /ko -->
                <!-- ko if: status() == 'Erro' -->
                <i class="material-icons">&#xE000;</i>
                <!-- /ko -->
            </div>
        </li>
    </ul>
</div>