﻿@model HTM.MasterGestor.Web.UI.ViewModels.HistoricoItem.ItensGridViewVM

<ul class="ul-log">
    @foreach (var item in Model.Itens)
    {
        <li>
            <b>@item.DescricaoPropriedade</b> foi alterado de
            @if (item.DescricaoValorOriginal != null)
            {
                <code class="code original @(item.DescricaoValorOriginal.Length > 200 ? "multiline" : "")">@item.DescricaoValorOriginal</code>

            }
            else
            {
                <code class="code original"><i>NULL</i></code>
            }
            para
            @if (item.DescricaoValorNovo != null)
            {
                <code class="code @(item.DescricaoValorNovo.Length > 200 ? "multiline" : "")">@item.DescricaoValorNovo</code>
            }
            else
            {
                <code class="code"><i>NULL</i></code>
            }
        </li>
    }

    @foreach (var filho in Model.Filhos)
    {
        <li>
            <b>@filho.Descricao</b>
            <ul>
                @foreach (var item in filho.HistoricoItemLista)
                {
                    <li>
                        <b>@item.DescricaoPropriedade</b> foi alterado de
                        <code class="code original @(item.DescricaoValorOriginal != null && item.DescricaoValorOriginal.Length > 200 ? "multiline" : "")">@item.DescricaoValorOriginal</code>
                        para
                        <code class="code @(item.DescricaoValorNovo != null && item.DescricaoValorNovo.Length > 200 ? "multiline" : "")">'@item.DescricaoValorNovo'</code>
                    </li>
                }
            </ul>
        </li>
    }
</ul>


@*
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Campo</th>
                <th>Original</th>
                <th>Novo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.DescricaoPropriedade</td>
                    <td>@item.DescricaoValorOriginal</td>
                    <td>@item.DescricaoValorNovo</td>
                </tr>
            }
        </tbody>
    </table>
*@