﻿@model HTM.MasterGestor.Web.UI.Areas.Agricola.ViewModels.Variedade.IndexVM

<routeoptions data-pos="1" data-route-custom='route-variedade'></routeoptions>

<div id="filtro-grade" style="display:none;">
    <template id="filter-VariedadeIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>      
        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "VariedadeIndex",
    newUrl: "#/Agricola/Variedade/New",
    editUrl: "#/Agricola/Variedade/Edit",
    listUrl: "/Agricola/Variedade/List",
    columns:
    @<script>
        [
            { 'id': 'IdProducaoVariedade', editColumn: true },
            { 'id': 'RegistroProprio', 'defaultValue': '', 'filter': true },

            { 'id': 'Descricao', filter: true, defaultFilter: true, header: true, displayName: 'Descrição', sortable: true },
            { 'id': 'Sigla', header: true, displayName: 'Sigla', sortable: true },
            { 'id': 'DescricaoProducaoCultura', header: true, displayName: 'Cultura', sortable: true },
            { 'id': 'DescricaoProducaoTipoMaturacao', header: true, displayName: 'Maturação', sortable: true },            
            
            defaults.gridNewEdit.column.ativo,
            { displayName: "Ações", header: true, width: '160px' }
        ]
    </script>,
    templateRows:
    @<tr>       
        <td data-bind="text: Descricao"></td>       
        <td data-bind="text: Sigla"></td>   
        <td data-bind="text: DescricaoProducaoCultura"></td>   
        <td data-bind="text: DescricaoProducaoTipoMaturacao"></td>   
         <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>

        <td data-bind="template: { name: 'label-status' }"></td>       
         <td>
             <div style="float:left">
                 <span data-bind="template: { name: 'button-edit-url', data: { id: IdProducaoVariedade } }"></span>
             </div>

             <div style="float:left;padding-left:5px;" data-bind="visible: EditarRegistro == true">
                 <a href="#" title="Estimativa de Variedade" data-bind="attr: { href: '#/Agricola/ConfiguracaoEstimativaVariedade/List/' + IdProducaoVariedade }" class="btn btn-secondary btn-icon"><i class="material-icons">&#xE896;</i></a>
             </div>

             <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                 <a data-bind="attr: { href: '#/Agricola/Variedade/Ativar/' + IdProducaoVariedade}" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
             </div>

             <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                 <a data-bind="attr: { href: '#/Agricola/Variedade/Inativar/' + IdProducaoVariedade}" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
             </div>

             <div style="float:left;padding-left:5px;" data-bind="visible: (EditarRegistro == false)">
                 <a data-bind="attr: { href: '#/Agricola/Variedade/View/' + IdProducaoVariedade}" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
             </div>

         </td>
    </tr>
    ,
    api: "indexVM.api",
    orderByCol: "Descricao",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,   
    useHiddenColumns: false)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
