﻿@model HTM.MasterGestor.Web.UI.Areas.Agricola.ViewModels.Variedade.NewEditVM

<routeoptions data-pos="2" data-route-custom="route-variedade"></routeoptions>

<div data-bind="stopBindings: true">
    <form id="form-ProducaoVariedade-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtSigla">Sigla</label>
                            <input type="text" id="txtSigla" name="txtSigla" data-bind="value: Sigla, validate: { required: true }" class="form-control" maxlength="7" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlProducaoCultura">Cultura</label>
                            @HtmlHelper.Select.SearchableKO("ddlProducaoCultura", "IdProducaoCultura", "IdProducaoCultura", "Descricao", "Descricao", "Descricao", "/Agricola/Cultura/List", "Ativo:true", required: true)
                        </div>
                    </div>
                </div>
                <div class="row" id="pnlVidaEmColheitas">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label style="width:500px" for="txtVidaEmColheitas">Em uma vida inteira, quantas colheitas em média podem ser realizadas?</label>
                            <input type="number" id="txtVidaEmColheitas" name="txtVidaEmColheitas" data-bind="value: VidaEmColheitas, validate: { required: vmParams.PermiteVariasCulturas }, mask: { options: defaults.mask.integer }" class="form-control" style="width:60px;min-width: 60px" min="1" maxlength="4" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlProducaoTipoMaturacao">Tipo Maturação ou Crescimento</label>
                            @HtmlHelper.Select.SearchableKO("ddlProducaoTipoMaturacao", "IdProducaoTipoMaturacao", "IdProducaoTipoMaturacao", "Descricao", "Descricao", "Descricao", "/Agricola/TipoMaturacao/List", "Ativo:true")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlProducaoCulturaVariedadeTipo">Tipo de Variedade</label>
                            @HtmlHelper.Select.SearchableKO("ddlProducaoCulturaVariedadeTipo", "IdProducaoCulturaVariedadeTipo", "IdProducaoCulturaVariedadeTipo", "Descricao", "Descricao", "Descricao", "/Agricola/ProducaoCulturaVariedadeTipo/List", "Ativo:true", allowClear: true, idControleDependencia: "ddlProducaoCultura", idDependencia: "IdProducaoCultura")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" data-toggle="collapsible" id="pnlVariedadeEpocaPlantio">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Ciclo Médio em Tempo</h3>
            </div>
            <div class="panel-body">

                @HtmlHelper.GridView.GridNewEdit(
                id: "ProducaoVariedadeEpocaPlantio", // Declarar na página <template id="newedit-id"></template>
                vm: "VariedadesEpocas",
                title: "Ciclo",
                columns: @<script>
                    [
                        { 'id': 'IdProducaoVariedadeEpocaPlantio' },
                        { 'id': 'IdProducaoVariedade' },
                        { 'id': 'IdProducaoEpocaPlantio' },
                        { 'id': 'IdUnidade' },
                        { 'id': 'DescricaoProducaoEpocaPlantio', displayName: 'Época de plantio', header: true },
                        { 'id': 'DescricaoUnidade', displayName: 'Unidade de tempo', 'header': true },
                        { 'id': 'TempoPrimeiraColheita', displayName: 'Primeira colheita', header: true },
                        { 'id': 'TempoDemaisColheitas', displayName: 'Demais colheitas', header: true },
                        defaults.gridNewEdit.column.acaoEditRemove
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: DescricaoProducaoEpocaPlantio }  }"></td>
                    <td data-bind="text: DescricaoUnidade"></td>
                    <td data-bind="text: TempoPrimeiraColheita"></td>
                    <td data-bind="text: TempoDemaisColheitas"></td>
                    <td data-bind="template: { name: 'button-edit-remove' }"></td>
                </tr>,useHiddenColumns: false,orderByCol: "DescricaoUnidade",orderByDir: HelpersUtil.OrderByDirEnum.Asc)
            </div>
        </div>

    </form>

    <template id="newedit-ProducaoVariedadeEpocaPlantio">
        <input type="hidden" id="txtIdsEpocas" data-bind="value: vmParams.IdProducaoEpocaPlantioNotIn" />
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="ddlProducaoEpocaPlantio">Época de Plantio</label>
                    @HtmlHelper.Select.SearchableKO("ddlProducaoEpocaPlantio", "IdProducaoEpocaPlantio", "IdProducaoEpocaPlantio", "Descricao", "Descricao", "Descricao", "/Agricola/EpocaPlantio/List", "Ativo:true", "txtIdsEpocas", "IdProducaoEpocaPlantioNotIn", vmTextSelected: "DescricaoProducaoEpocaPlantio", required: true)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="ddlUnidade">Unidade de Tempo</label>
                    @HtmlHelper.Select.SearchableKO("ddlUnidade", "IdUnidade", "IdUnidade", "Descricao", "Descricao", "Descricao", "/Estoque/Unidade/List", "Ativo:true, IdUnidadeIn: vmParams.IdUnidadeIn", vmTextSelected: "DescricaoUnidade", required:true)
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="txtTempoPrimeiraColheita">Primeira Colheita</label>
                    <div class="input-group">
                        <input type="text" id="txtTempoPrimeiraColheita" name="txtTempoPrimeiraColheita" data-bind="value: TempoPrimeiraColheita, validate: { required: true }" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-xs-3" id="pnlTempoDemaisColheitas" data-bind="visible: vmParams.PermiteVariasCulturas">
                <div class="form-group">
                    <label for="txtTempoDemaisColheitas">Demais Colheitas</label>
                    <div class="input-group">
                        <input type="text" id="txtTempoDemaisColheitas" name="txtTempoDemaisColheitas" data-bind="value: TempoDemaisColheitas" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>