﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.FechamentoProcesso.IndexVM

<div id="filtro-grade">
    <template id="filter-FechamentoProcessoIndex">
        <div class="form-group">
            <label for="txtFiltroBuscaAvancada" class="control-label">Responsável ou Ano Referência</label>
            <input type="text" id="txtFiltroBuscaAvancada" data-bind="textInput: BuscaAvancada" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroCategoriaFechamento" class="control-label">Categoria de Fechamento</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroCategoriaFechamento", "IdCategoriaFechamentoProcesso", "IdCategoriaFechamentoProcesso", "Descricao", "Descricao", "Descricao", "/Corporativo/CategoriaFechamentoProcesso/List", "Ativo:true", required: true)
        </div>
        <div class="input-group date form-group">
            <input id="txtFiltroData" name="txtFiltroData" class="form-control" data-bind="value: DataFechamento, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataFechamento }" />
            <span class="input-group-addon">
                <i class="material-icons">&#xE878;</i>
            </span>
        </div>
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "FechamentoProcessoIndex",
    newUrl: "#/Financeiro/FechamentoProcesso/New",
    editUrl: "#/Financeiro/FechamentoProcesso/Edit",
    listUrl: "/Financeiro/FechamentoProcesso/List",
    columns:
    @<script>
        [
            { 'id': 'IdFinanceiroFechamentoProcesso', editColumn: true },
            { 'id': 'BuscaAvancada', filter: true, defaultFilter: true },
            { 'id': 'MesAnoExibicao', filter: true, groupable: true, displayName: "Mês/Ano" },
            { 'id': 'IdCategoriaFechamentoProcesso', filter: true },
            { 'id': 'IdPessoa', filter: true },
            { 'id': 'DataFechamento', filter: true },

            { 'id': 'Chave' },

            { 'id': 'DataHoraFechamentoExibicao', header: true, sortable: true, displayName: 'Fechamento' },
            { 'id': 'EmpresaUsuaria', header: true, sortable: true, groupable: true, displayName: 'Empresa' },
            { 'id': 'DescricaoCategoriaFechamentoProcesso', header: true, sortable: true, groupable: true, displayName: 'Categoria' },
            { 'id': 'NomeSecundarioPessoaResponsavel', header: true, filter: true, displayName: 'Responsável', sortable: true },
            { 'id': 'Reaberto', header: true, displayName: 'Re-Aberto', sortable: true },
            { 'id': 'DataHoraReAberturaExibicao', header: true, displayName: 'Data Reabertura', sortable: true },
            { displayName: "Ações", width: "60px", header: true, sortable: false }
        ]
    </script>,
        templateRows:
        @<tr>
            <td data-bind="text: DataHoraFechamentoExibicao, id: IdFinanceiroFechamentoProcesso"></td>
            <td data-bind="text: EmpresaUsuaria"></td>
            <td data-bind="text: DescricaoCategoriaFechamentoProcesso"></td>
            <td data-bind="text: NomeSecundarioPessoaResponsavel"></td>
            <td data-bind="template: { name: 'label-status', data: { status: Reaberto } }"></td>
            <td data-bind="text: DataHoraReAberturaExibicao"></td>
            <td>
                <div data-bind="visible: Reaberto">
                    <a data-bind="attr: { href: '#/Financeiro/FechamentoProcesso/Edit/' + IdFinanceiroFechamentoProcesso }" class="btn btn-secondary btn-icon" title="Justificativa"><i class="material-icons">&#xE85D;</i></a>
                </div>
                <div data-bind="visible: !Reaberto">
                    <a data-bind="attr: { href: '#/Financeiro/FechamentoProcesso/ReAbrir/' + Chave }" class="btn btn-secondary btn-icon" title="Re-Abrir"><i class="material-icons">&#xE86A;</i></a>
                </div>
            </td>
        </tr>, api: "indexVM.api", orderByCol: "DataHoraFechamentoExibicao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: true)

</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}


