﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.FechamentoProcesso.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-FinanceiroFechamentoProcesso-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div data-bind="validateOptions: { appendErrorsToRoot: true }">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="ddlCategoriaFechamento" class="control-label">Categoria de Fechamento</label>
                                @HtmlHelper.Select.SearchableKO("ddlCategoriaFechamento", "IdCategoriaFechamentoProcesso", "IdCategoriaFechamentoProcesso", "Descricao", "Descricao", "Descricao", "/Corporativo/CategoriaFechamentoProcesso/List", "Ativo:true", required: true)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtData">Data Fechamento Anterior</label>
                                <div class="input-group date form-group read-mode">
                                    <input id="txtData" name="txtData" class="form-control" data-bind="value: DataFechamentoAnterior, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataFechamentoAnterior }" />
                                    <span class="input-group-addon">
                                        <i class="material-icons">&#xE878;</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group read-mode">
                                <label for="ddlPessoaResponsavel" class="control-label">Responsavel</label>
                                @HtmlHelper.Select.SearchableKO("ddlPessoaResponsavel", "IdPessoaResponsavel", "IdPessoa", "NomeSecundario", "NomeSecundario", "NomeSecundario", "/Corporativo/Pessoa/List", "Ativo:true, IdPessoaNaturezaNotIn:3", idChaveRelacao: "IdPessoa", required: true)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtDataFechamento">Data Fechamento</label>
                                <div class="input-group date form-group">
                                    <input id="txtDataFechamento" name="txtDataFechamento" class="form-control" data-bind="value: DataFechamentoExibicao, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataFechamentoExibicao }" />
                                    <span class="input-group-addon">
                                        <i class="material-icons">&#xE878;</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlEmpresaUsuaria" class="control-label">Empresas</label>
                                @HtmlHelper.Select.SelectCheckbox(id: "ddlEmpresaUsuaria", campoId: "IdsPessoaEmpresa", campoIdPesquisa: "IdPessoaIn", campoValor: "CodigoNomeSecundario", campoOrdenacao: "Codigo", campoIdChaveRelacao: "IdPessoa", url: "/Corporativo/EmpresaUsuaria/List", dadosCompl: "Ativo: true,ComRestricaoUsuarioLogado:true", selectOptions: "{ showSubText: true }")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
