﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.FechamentoProcesso.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-FinanceiroFechamentoProcessoReabrir-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div data-bind="validateOptions: { appendErrorsToRoot: true }">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    @*<div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="ddlCategoriaFechamento" class="control-label">Categoria de Fechamento</label>
                                @HtmlHelper.Select.SearchableKO("ddlCategoriaFechamento", "IdCategoriaFechamentoProcesso", "IdCategoriaFechamentoProcesso", "Descricao", "Descricao", "Descricao", "/Corporativo/CategoriaFechamentoProcesso/List", "Ativo:true", required: true)
                            </div>
                        </div>
                    </div>*@
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="form-group read-mode">
                                <label for="txtDataFechamento">Data Fechamento</label>
                                <div class="input-group date form-group">
                                    <input id="txtDataFechamento" name="txtDataFechamento" class="form-control" data-bind="value: DataFechamentoExibicao, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataFechamentoExibicao }" />
                                    <span class="input-group-addon">
                                        <i class="material-icons">&#xE878;</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group read-mode">
                                <label for="ddlPessoaResponsavel" class="control-label">Responsavel</label>
                                @HtmlHelper.Select.SearchableKO("ddlPessoaResponsavel", "IdPessoaResponsavel", "IdPessoa", "NomeSecundario", "NomeSecundario", "NomeSecundario", "/Corporativo/Pessoa/List", "Ativo:true", idChaveRelacao: "IdPessoa", required: true)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group read-mode">
                                <label for="ddlEmpresaUsuaria" class="control-label">Empresa</label>
                                @HtmlHelper.Select.SearchableKO("ddlEmpresaUsuaria","IdPessoa","IdPessoa", "CodigoNomeSecundario","NomeSecundario","Codigo", "/Corporativo/EmpresaUsuaria/List", "Ativo: true,ComRestricaoUsuarioLogado:true", disabled:true)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <label for="txtJustificativa" class="control-label">Justificativa</label>
                                <textarea id="txtJustificativa" name="txtJustificativa" data-bind="value: Justificativa" class="form-control" style="min-height:70px;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
