﻿@model HTM.MasterGestor.Web.UI.Areas.Contabilidade.ViewModels.Imposto.IndexVM

<div id="filtro-grade">
    <template id="filter-ImpostoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroImpostoSobre" class="control-label">Incidência</label>
            <select class="form-control" data-bind="value: ImpostoSobre" name="ddlFiltroImpostoSobre" id="ddlFiltroImpostoSobre" style="width: 150px">
                <option value="">Indiferente</option>
                <option value="1">Produto</option>
                <option value="2">Serviço</option>
                <option value="3">Produto e Serviço</option>
            </select>
        </div>
        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "ImpostoIndex",
    newUrl: "#/Contabilidade/Imposto/New",
    editUrl: "#/Contabilidade/Imposto/Edit",
    listUrl: "/Contabilidade/Imposto/List",
    columns:
    @<script>
        [          
           { 'id': 'IdFiscalImposto', editColumn: true },
           { 'id': 'RegistroProprio', 'defaultValue': '', 'filter': true },
           { 'id': 'Sigla', header: true, displayName: 'Sigla' },
           { 'id': 'ImpostoSobre', filter: true, defaultValue: '' },
           { 'id': 'Descricao', header: true, filter: true, defaultFilter: true, displayName: 'Descrição' },
           { 'id': 'DescricaoImpostoSobre', defaultValue: '', header: true, displayName: 'Incidência' },
           { 'id': 'EditarRegistro', 'header': true, 'filter': true, 'sortable': true, 'displayName': 'Editar Registro' },
           defaults.gridNewEdit.column.ativo,
           { displayName: "Ações", header: true, width: '160px' }
        ]
    </script>,
      templateRows:
    @<tr>
        <td data-bind="text: Sigla"></td>
        <td data-bind="text: Descricao"></td>
        <td data-bind="text: DescricaoImpostoSobre"></td>
        <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>
        <td data-bind="template: 'label-status'"></td>
         <td>
             <div style="float:left">
                 <span data-bind="template: { name: 'button-edit-url', data: { id: IdFiscalImposto } }"></span>
             </div>

             <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                 <a data-bind="attr: { href: '#/Contabilidade/Imposto/Ativar/' + IdFiscalImposto}" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
             </div>

             <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                 <a data-bind="attr: { href: '#/Contabilidade/Imposto/Inativar/' + IdFiscalImposto}" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
             </div>

             <div style="float:left;padding-left:5px;" data-bind="visible: (EditarRegistro == false)">
                 <a data-bind="attr: { href: '#/Contabilidade/Imposto/View/' + IdFiscalImposto}" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
             </div>

         </td>
    </tr>,
    api: "indexVM.api",
    orderByCol: "Descricao",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,
    useHiddenColumns: false)
</div>

@section Scripts { 
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
