﻿@model HTM.MasterGestor.Web.UI.Areas.Contabilidade.ViewModels.Imposto.NewEditVM

<div>
    <form id="form-FiscalImposto-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtSigla">Sigla</label>
                            <input type="text" id="txtSigla" name="txtSigla" data-bind="value: Sigla, validate: { required: true}" class="form-control" maxlength="10" />
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="txtDescricaoDetalhada">Descrição Detalhada</label>
                            <textarea id="txtDescricaoDetalhada" name="txtDescricaoDetalhada" data-bind="value: DescricaoDetalhada" class="form-control" maxlength="250" style="width:50px;height:125px;" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="ddlDocumentoTipo">Tipo de Documento</label>
                            @HtmlHelper.Select.SearchableKO("ddlDocumentoTipo", "IdDocumentoTipo", "IdDocumentoTipo", "Descricao", "Descricao", "Descricao", "/Contabilidade/DocumentoTipo/List", "Ativo:true")
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group required">
                            <label for="ddlImpostoCategoria" class="control-label">Categoria</label>
                            <select class="form-control required" name="ddlImpostoCategoria" id="ddlImpostoCategoria" data-bind="value: ImpostoCategoria">
                                <option value=""></option>
                                <option value="1">Impostos</option>
                                <option value="2">Taxas</option>
                                <option value="3">Contribuições</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" data-bind="visible: vm.ImpostoCategoria() == '1'">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="ddlImpostoSobre" class="control-label">Este imposto incide em?</label>
                            <select class="form-control" name="ddlImpostoSobre" id="ddlImpostoSobre" data-bind="value: ImpostoSobre, validate: { required :vm.ImpostoCategoria() == '1' }">
                                <option value=""></option>
                                <option value="1">Produto</option>
                                <option value="2">Serviço</option>
                                <option value="3">Produto e Serviço</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="ddlImpostoOrigem">Origem</label>
                            <select class="form-control" name="ddlImpostoOrigem" id="ddlImpostoOrigem" data-bind="value: ImpostoOrigem">
                                <option value=""></option>
                                <option value="1">Municipal</option>
                                <option value="2">Estadual</option>
                                <option value="3">Federal</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" data-bind="visible: vm.ImpostoCategoria() == '1'">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkImpostoRetidoEntrada">Imposto retido na entrada da Nota Fiscal ?</label>
                            <input type="checkbox" class="no-uniform" id="chkImpostoRetidoEntrada" data-bind="checked: ImpostoRetidoEntrada, flipper: { observable: ImpostoRetidoEntrada, options: defaults.flipper.SimNao }">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkImpostoRetidoSaida">Imposto retido na Saída da Nota Fiscal ?</label>
                            <input type="checkbox" class="no-uniform" id="chkImpostoRetidoSaida" data-bind="checked: ImpostoRetidoSaida, flipper: { observable: ImpostoRetidoSaida, options: defaults.flipper.SimNao }">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>