﻿@model HTM.MasterGestor.Web.UI.Areas.Questionario.ViewModels.Topico.IndexVM

<routeoptions data-show-back-button="true" data-route-custom='route-Questionario' data-title-descricao="@Model.DescricaoExibicao"></routeoptions>

<div id="filtro-grade" style="display:none;">
    <template id="filter-QuestionarioTopicoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "QuestionarioTopicoIndex",
    newUrl: "#/Questionario/Topico/New",
    editUrl: "#/Questionario/Topico/Edit",
    listUrl: "/Questionario/Topico/List",
    parentId: "'" + Model.ParentId.ToString() + "'",
    columns:
    @<script>
        [
            { 'id': 'IdQuestionarioVersaoTopico', editColumn: true },
            { 'id': 'RegistroProprio', 'defaultValue': '', 'filter': true },
            { 'id': 'IdQuestionarioVersao', filter: true, defaultValue: '@Model.IdQuestionarioVersao.ToString()' },

            { 'id': 'Sequencia', header: true, displayName: 'Sequência', sortable: true },
            { 'id': 'Descricao', filter: true, defaultFilter: true, header: true, displayName: 'Descrição', sortable: true },

            { 'id': 'TotalImagens', header: true, displayName: 'Imagens' },
            { 'id': 'EditarRegistro', 'header': true, 'filter': true, 'sortable': true, 'displayName': 'Editar Registro' },
            defaults.gridNewEdit.column.ativo,
            { displayName: "Ações", header: true, width: '160px' }
        ]
    </script>,
    templateRows:
    @<tr>
        <td data-bind="text: Sequencia"></td>
        <td data-bind="text: Descricao"></td>
        <td data-bind="text: TotalImagens"></td>
        <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>
        <td data-bind="template: { name: 'label-status' }"></td>
         <td>
             <div style="float:left">
                 <span data-bind="template: { name: 'button-edit-url', data: { id: IdQuestionarioVersaoTopico } }"></span>
             </div>

             <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                 <a data-bind="attr: { href: '#/Questionario/Topico/Ativar/' + IdQuestionarioVersaoTopico }" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
             </div>

             <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                 <a data-bind="attr: { href: '#/Questionario/Topico/Inativar/' + IdQuestionarioVersaoTopico }" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
             </div>

             <div style="float:left;padding-left:5px;" data-bind="visible: (EditarRegistro == false)">
                 <a data-bind="attr: { href: '#/Questionario/Topico/View/' + IdQuestionarioVersaoTopico }" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
             </div>
         </td>
    </tr>, api: "indexVM.api", orderByCol: "Sequencia", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
