﻿@model HTM.MasterGestor.Web.UI.Areas.Questionario.ViewModels.Topico.NewEditVM

<routeoptions data-show-back-button="true" data-route-custom='route-Questionario' data-title-descricao="@Model.DescricaoExibicao"></routeoptions>

<div>
    <form id="form-QuestionarioVersaoTopico-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtSequencia">Sequência<span>Opcional</span></label>
                            <input type="text" id="txtSequencia" name="txtSequencia" data-bind="value: Sequencia" class="form-control" maxlength="4" />
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlRepresentacaoTipo" class="control-label">Possui Representação</label>
                            <select id="ddlRepresentacaoTipo" name="ddlRepresentacaoTipo" class="form-control no-search" data-bind="value: RepresentacaoTipo">
                                <option value="1">Não Possui</option>
                                <option value="2">Representa um Medidor de Item</option>
                                <option value="3">Representa um Item de Controle</option>
                            </select>
                        </div>
                    </div>
                    <!-- Begin : Condicionais -->
                    <div class="col-xs-4" data-bind="visible: RepresentacaoTipo() == 1">
                        <div class="form-group">
                            <label for="txtDescricaoTopico">Descrição</label>
                            <input type="text" id="txtDescricaoTopico" name="txtDescricaoTopico" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="50" />
                        </div>
                    </div>
                    <div class="col-xs-4" data-bind="visible: RepresentacaoTipo() == 2">
                        <div class="form-group">
                            <label for="ddlCategoriaMedidorTopico">Categoria de Medidor</label>
                            @HtmlHelper.Select.SearchableKO("ddlCategoriaMedidorTopico", "IdQuestionarioCategoriaMedidor", "IdQuestionarioCategoriaMedidor", "Descricao", "Descricao", "Descricao", "/Questionario/CategoriaMedidor/List", "Ativo:true", dataBind: "validate: { required: RepresentacaoTipo() == 2 }", vmTextSelected: "Descricao", dadosComplObservable: "dadosComplQuestionarioCategoriaMedidor")
                        </div>
                    </div>
                    <div class="col-xs-4" data-bind="visible: RepresentacaoTipo() == 3">
                        <div class="form-group">
                            <label for="ddlItemControleTopico">Item de Controle</label>
                            @HtmlHelper.Select.SearchableKO("ddlItemControleTopico", "IdQuestionarioItemControle", "IdQuestionarioItemControle", "Descricao", "Descricao", "Descricao", "/Questionario/ItemControle/List", dataBind: "validate: { required: RepresentacaoTipo() == 3 }", vmTextSelected: "Descricao", dadosComplObservable: "dadosComplQuestionarioItem")
                        </div>
                    </div>
                    <!-- End : Condicionais -->
                </div>
                <div class="row">
                    <div class="col-xs-10">
                        <div class="form-group">
                            <label for="txtSubDescricaoTopico">Sub Descrição</label>
                            <input type="text" id="txtSubDescricaoTopico" name="txtSubDescricaoTopico" data-bind="value: SubDescricao" class="form-control" maxlength="50" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10">
                        <div class="form-group">
                            <label for="txtDescricaoDetalhadaTopico">Descrição Detalhada</label>
                            <textarea data-bind="value: DescricaoDetalhada, wysiwyg: { observable: DescricaoDetalhada, options: defaults.wysiwyg.text }" class="form-control" id="txtDescricaoDetalhadaTopico" name="txtDescricaoDetalhadaTopico" data-allowclear="false"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkPermiteFotoTopico">Permite receber Imagens ?</label>
                            <input type="checkbox" class="no-uniform" id="chkPermiteFotoTopico" data-bind="checked: PermiteFotoTopico, flipper: { observable: PermiteFotoTopico, options: { 'css':'warning' } }">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkPossuiAvaliacao">Participa na Avaliação</label>
                            <input type="checkbox" class="no-uniform" id="chkPossuiAvaliacao" data-bind="checked: PossuiAvaliacao, flipper: { observable: PossuiAvaliacao, options: { 'css':'warning' } }">
                        </div>
                    </div>
                    <div class="col-xs-3" data-bind="visible: PossuiAvaliacao() == true">
                        <div class="form-group">
                            <label for="txtPesoAvaliacao">Peso na Avaliação</label>
                            <input type="text" id="txtPesoAvaliacao" name="txtPesoAvaliacao" data-bind="value: PesoAvaliacao, validate: { required: PossuiAvaliacao() }, maskDecimal: { casasDecimais: 2 }" class="form-control" maxlength="4" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivoTopico">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivoTopico" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="panel panel-default" data-toggle="collapsible" id="pnlImagens" data-bind="visible: RepresentacaoTipo() == 1">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Imagens</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            @HtmlHelper.Campo.Upload()
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
