﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>@Model.Titulo</title>
    <style>
        
    </style>
</head>
<body>

    <table>
        <tr><td>@Model.Titulo</td></tr>
        <tr><td>Exportado em: @DateTime.Now.ToString("dd/MM/yyyy HH:mm")</td></tr>
        <tr><td>@HTM.MasterGestor.Web.UI.Infrastructure.ControladorSessaoUsuario.SessaoCorrente.PessoaEmpresa.NomeSecundarioPessoa</td></tr>
    </table>

    <br />

    <table border="1">
        @Html.Raw(Model.CorpoGrid)
    </table>

</body>
</html>

