﻿@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    

    <style>
        
        table {
            width:100%;
            font-size: 10.5px;
        }
          
    </style>
    <title></title>
</head>
<body>
    <table border="0" cellpadding="4" cellspacing="0">
        <tr>
            @*<td width="33%">AgroTécnica Investimentos LTDA</td>*@
            <td width="33%">@HTM.MasterGestor.Web.UI.Infrastructure.ControladorSessaoUsuario.SessaoCorrente.Empresa.Nome</td>
            <td></td>
            <td width="33%" align="right">@HTM.MasterGestor.Web.UI.Infrastructure.ControladorSessaoUsuario.SessaoCorrente.PessoaEmpresa.NomeSecundarioPessoa</td>

        </tr>
        <tr>
            <td colspan="3" align="center">
                <b>@Model.Titulo</b>
            </td>
        </tr>
        <tr>
            @*<td>Monica Bellucci</td> >> Seria o usuário logado ? *@ 
            <td>@HTM.MasterGestor.Web.UI.Infrastructure.ControladorSessaoUsuario.SessaoCorrente.Pessoa.Nome</td>
            <td align="center"></td>
            <td align="right">@DateTime.Now.ToString("dd/MM/yyyy HH:mm")</td>
        </tr>
    </table>

    <p>&nbsp;</p>

    <table border="1" cellpadding="4" cellspacing="0">
        @Html.Raw(Model.CorpoGrid)
    </table>
</body>
</html>