﻿@model HTM.MasterGestor.Web.UI.Areas.Criacao.ViewModels.Animal.IndexVM

<div id="filtro-grade" style="display:none;">
    <template id="filter-AnimalIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroIdCriacaoCategoria" class="control-label">Raça</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroIdCriacaoRaca", "IdCriacaoRacaIn", "IdCriacaoRaca", "DescricaoTipoRaca", "Descricao", "DescricaoTipoRaca", "/Criacao/Raca/List", "Ativo:true", multiple: true, idChaveRelacao: "IdCriacaoRaca")
        </div>
        <div class="form-group">
            <label for="ddlFiltroIdCriacaoTipo" class="control-label">Categoria</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroIdCriacaoCategoria", "IdCriacaoCategoriaIn", "IdCriacaoCategoria", "DescricaoComposta", "Descricao", "DescricaoComposta", "/Criacao/Categoria/List", "Ativo:true", multiple: true, idChaveRelacao: "IdCriacaoCategoria")
        </div>
        <div class="form-group">
            <label for="ddlFiltroIdCriacaoRaca" class="control-label">Tipo de Animal</label>            
            @HtmlHelper.Select.SearchableKO("ddlFiltroIdCriacaoTipo", "IdCriacaoTipoIn", "IdCriacaoTipo", "Descricao", "Descricao", "Descricao", "/Criacao/Tipo/List", "Ativo:true", multiple: true, idChaveRelacao: "IdCriacaoTipo")
        </div>
        <div class="form-group">
            <label for="ddlFiltroIdCriacaoCaracterizacaoSituacao" class="control-label">Situação</label>    
            @HtmlHelper.Select.SearchableKO("ddlFiltroIdCriacaoCaracterizacaoSituacao", "IdCriacaoCaracterizacaoSituacaoIn", "IdCriacaoCaracterizacao", "Descricao", "Descricao", "Descricao", "/Criacao/Caracterizacao/List", "Ativo:true, IdCriacaoCaracterizacaoTipo:1", multiple: true, idChaveRelacao: "IdCriacaoCaracterizacao")        
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
        id: "AnimalIndex",
        newUrl: "#/Criacao/Animal/New",
        editUrl: "#/Criacao/Animal/Edit",
        listUrl: "/Criacao/Animal/List",
        columns:
        @<script>
            [
                { 'id': 'Codigo', header: true, displayName: 'Código' },
                { 'id': 'Descricao', header: true, 'filter': true, 'defaultFilter': true, displayName: 'Descrição', sortable: true, defaultFilter: true },
                { 'id': 'IdadeAnimal', header: true, displayName: 'Idade', filter: true, sortable: true },
                { 'id': 'DescricaoCriacaoCategoria', header: true, displayName: 'Categoria Animal' },
                { 'id': 'DescricaoSexoCriacaoCategoria', header: true, displayName: 'Sexo' },
                { 'id': 'DescricaoCriacaoCaracterizacaoSituacao', header: true, displayName: 'Situação' },              
                defaults.gridNewEdit.column.ativo,
                defaults.gridNewEdit.column.acao,
                { 'id': 'IdCriacaoTipoIn', filter: true },
                { 'id': 'IdCriacaoRacaIn', filter: true },
                { 'id': 'IdCriacaoCategoriaIn', filter: true },
                { 'id': 'IdCriacaoCaracterizacaoSituacaoIn', filter: true },
                { 'id': 'DescricaoCriacaoRaca', displayName: 'Raça', groupable: true, groupTextValues: ['defaultValue', '[Sem Raça Vinculada]'] },
                { 'id': 'IdCriacaoAnimal', editColumn: true }
            ]
        </script>,
        templateRows:
        @<tr>
            <td><span data-bind="text: Codigo"></span></td>
            <td><span data-bind="text: Descricao"></span></td>
            <td><span data-bind="text: IdadeAnimal"></span></td>
            <td><span data-bind="text: DescricaoCriacaoCategoria"></span></td>
            <td><span data-bind="text: DescricaoSexoCriacaoCategoria"></span></td>
            <td><span data-bind="text: DescricaoCriacaoCaracterizacaoSituacao"></span></td>            
            <td data-bind="template: 'label-status'"></td>
            <td data-bind="template: { name: 'button-edit-url', data: { id: IdCriacaoAnimal } }"></td>
        </tr>
        ,
        api: "indexVM.api",
        orderByCol: "Descricao",
        orderByDir: HelpersUtil.OrderByDirEnum.Asc,         
        useHiddenColumns: false)   
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
