﻿@model HTM.MasterGestor.Web.UI.Areas.Criacao.ViewModels.Animal.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-CriacaoAnimal-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtCodigo">Código<span>(Automático)</span></label>
                            <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" maxlength="20" />
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtDescricao">Nome</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                    <div id="CampoApelido" data-bind="visible: vm.ExibeApelidoAnimal">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtApelido">Apelido</label>
                                <input type="text" id="txtApelido" name="txtApelido" data-bind="value: Apelido" class="form-control" maxlength="50" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="ddlCriacaoRaca">Raça</label>
                            @HtmlHelper.Select.SearchableKO("ddlCriacaoRaca", "IdCriacaoRaca", "IdCriacaoRaca", "Descricao", "Descricao", "Descricao", "/Criacao/Raca/List", "Ativo:true", required: true)
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <div class="input-group">
                                <label for="ddlCriacaoCategoria">Categoria</label>
                                <div class="input-group-add-on input-group-btn" data-bind="if: IdCriacaoAnimal() != null">
                                    <button type="button" data-bind="click: vmHistoricoCategoria.VerHistorico" class="btn btn-primary btn-link" style="height:5px;margin-top:-20px;text-transform:none;">(Ver Histórico)</button>
                                </div>
                            </div>
                            @HtmlHelper.Select.SearchableKO("ddlCriacaoCategoria", "IdCriacaoCategoria", "IdCriacaoCategoria", "Descricao", "Descricao", "Descricao", "/Criacao/Categoria/ListarCategoriasPorRaca", "Ativo:true", required: true, idControleDependencia: "ddlCriacaoRaca", idDependencia: "IdCriacaoRaca")
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <div class="input-group">
                                <label for="ddlCriacaoCaracterizacaoSituacao" class="control-label">Situação</label>
                                <div class="input-group-add-on input-group-btn" data-bind="if: IdCriacaoAnimal() != null">
                                    <button type="button" data-bind="click: vmHistoricoSituacao.VerHistorico" class="btn btn-primary btn-link pull-right" style="height:5px;margin-top:-20px;text-transform:none;">(Ver Histórico)</button>
                                </div>
                            </div>
                            @HtmlHelper.Select.SearchableKO("ddlCriacaoCaracterizacaoSituacao", "IdCriacaoCaracterizacaoSituacao", "IdCriacaoCaracterizacao", "Descricao", "Descricao", "Descricao", "/Criacao/Caracterizacao/ListarCaracterizacaoPorRaca", idChaveRelacao: "IdCriacaoCaracterizacao", required: true, dadosComplObservable: "DadosComplementaresSituacao", vmDataSelected: "vmParam.CaracterizacaoSituacao")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="ddlCriacaoCaracterizacaoOrigem" class="control-label">Origem</label>
                            @HtmlHelper.Select.SearchableKO("ddlCriacaoCaracterizacaoOrigem", "IdCriacaoCaracterizacaoOrigem", "IdCriacaoCaracterizacao", "Descricao", "Descricao", "Descricao", "/Criacao/Caracterizacao/ListarCaracterizacaoPorRaca", idChaveRelacao: "IdCriacaoCaracterizacao", required: true, dadosComplObservable: "DadosComplementaresOrigem")
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtDataNascimento">Data Nascimento</label>
                            <div class="input-group date form-group">
                                <input type="text" data-bind="value: DataNascimentoExibicao, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataNascimentoExibicao }" id="txtDataNascimento" name="txtDataNascimento" class="form-control" />
                                <span class="input-group-addon">
                                    <i class="material-icons">&#xE878;</i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3" data-bind="visible: vm.ExibeDataFim()">
                        <div class="form-group">
                            <label for="txtDataTerminoControle">Data Final de Controle</label>
                            <div class="input-group date form-group">
                                <input data-bind="value: DataTerminoControleExibicao, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataTerminoControleExibicao }" id="txtDataTerminoControle" name="txtDataTerminoControle" class="form-control" />
                                <span class="input-group-addon">
                                    <i class="material-icons">&#xE878;</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" data-toggle="collapsible" id="pnlLocalizacao">
            <div class=" panel-heading clearfix">
                <h3 class="panel-title">Localização</h3>
            </div>
            <div class="panel-body">
                @HtmlHelper.GridView.GridNewEdit(
                id: "local", // Declarar na página <template id="newedit-id"></template>
                vm: "Localizacao",
                columns: @<script>
                    [
                        { 'id': 'IdCriacaoAnimalLocal' },
                        { 'id': 'IdCriacaoAnimal' },
                        { 'id': 'IdProducaoLocal' },
                        { 'id': 'IdProducaoUnidade' },
                        { 'id': 'DescricaoLocalUnidade', 'displayName': 'Local', 'header': true },
                        { 'id': 'DataEntrada', 'displayName': 'Entrada', 'header': true },
                        { 'id': 'DataSaida', 'displayName': 'Saída', 'header': true },
                        { 'id': 'Tempo', 'displayName': 'Tempo', 'header': true },
                        defaults.gridNewEdit.column.acao
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: DescricaoLocalUnidade }  }"></td>
                    <td data-bind="date: DataEntrada"></td>
                    <td data-bind="text: DataSaida"></td>
                    <td data-bind="text: Tempo"></td>
                    <td data-bind="template: { name: 'button-edit' }"></td>
                </tr>, orderByCol: "DescricaoLocalUnidade", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)
            </div>
        </div>
        <div class="panel panel-default" id="pnlProprietarios" data-bind="collapsible: { vmArray: [ vm.IdPessoaCriador(), vm.Proprietarios()] }">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Criador e Proprietário</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="ddlCriador" class="control-label">Criador</label>
                            @HtmlHelper.Select.SearchableKO("ddlCriador", "IdPessoaCriador", "IdPessoa", "NomeSecundario", "ApelidoFantasia", "NomeSecundario", "/Corporativo/Pessoa/ListPessoaPersonalizado", "ComPessoa:true, ComEmpresaUsuaria:true, ComEmpresa:false, Ativo:true, IdPessoaNaturezaNotIn: 4", idChaveRelacao: "IdPessoa")
                        </div>
                    </div>
                </div>

                @HtmlHelper.GridView.GridNewEdit(
                id: "Proprietario", // Declarar na página <template id="newedit-id"></template>
                vm: "Proprietarios",
                columns: @<script>
                    [
                        { 'id': 'IdCriacaoAnimalProprietario' },
                        { 'id': 'IdCriacaoAnimal' },
                        { 'id': 'IdPessoa' },
                        { 'id': 'NomeSecundarioPessoa', 'displayName': 'Apelido ou Fantasia', 'header': true, sortable: true },
                        { 'id': 'Cota', 'displayName': '% Cota ', 'header': true },
                        { 'id': 'Principal', 'displayName': 'Principal', 'header': true, 'defaultValue': false },
                        { 'id': 'Ativo', 'defaultValue': true, 'header': true },
                        defaults.gridNewEdit.column.acao
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: NomeSecundarioPessoa }  }"></td>
                    <td data-bind="text: Cota"></td>
                    <td data-bind="template: { name: 'label-status', data: { status: Principal } }"></td>
                    <td data-bind="template: { name: 'label-status' }"></td>
                    <td data-bind="template: { name: 'button-edit' }"></td>
                </tr>, orderByCol: "NomeSecundarioPessoa", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false, displayMode: "panel")
            </div>
        </div>
    </form>

    <template id="newedit-local">
        <input type="hidden" data-bind="value: DescricaoLocalUnidade = vmProducaoLocalDescricao.Descricao() + ' - ' + vmProducaoUnidadeDescricao.Descricao()" />
        <input type="hidden" data-bind="value: Tempo" />
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="ddlProducaoLocal">Local</label>
                    @HtmlHelper.Select.SearchableKO("ddlProducaoLocal", "IdProducaoLocal", "IdProducaoLocal", "DescricaoExibicao", "BuscaAvancada", "DescricaoExibicao", "/Agricola/LocalProducao/List", "Ativo: true", vmTextSelected: "vmProducaoLocalDescricao.Descricao", required: true)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="ddlProducaoUnidade">Unidade</label>
                    @HtmlHelper.Select.SearchableKO("ddlProducaoUnidade", "IdProducaoUnidade", "IdProducaoUnidade", "Descricao", "Descricao", "Descricao", "/Agricola/Unidade/List", "Ativo: true", vmTextSelected: "vmProducaoUnidadeDescricao.Descricao", required: true, dataBind: "attr: { disabled: IdProducaoLocal() == null }")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="txtDataEntrada">Entrada</label>
                    <div class="input-group date form-group">
                        <input type="text" data-bind="value: DataEntrada, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataEntrada }" id="txtDataEntrada" name="txtDataEntrada" class="form-control" />
                        <span class="input-group-addon">
                            <i class="material-icons">&#xE878;</i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="txtDataSaida">Saída</label>
                    <div class="input-group date form-group">
                        <input type="text" data-bind="value: DataSaida, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataSaida }" id="txtDataSaida" name="txtDataSaida" class="form-control" />
                        <span class="input-group-addon">
                            <i class="material-icons">&#xE878;</i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </template>
    @* panels proprietário *@
    <template id="newedit-Proprietario">
        <input type="hidden" data-bind="value: NomeSecundarioPessoa = vmProprietario.NomePessoa()" />

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="ddlPessoa">Proprietário</label>
                    @*@HtmlHelper.Select.SearchableKO("ddlPessoa", "IdPessoa", "IdPessoa", "Nome", "Nomes", "Nome", "/Corporativo/Pessoa/ListPessoaPersonalizado", "ComPessoa:true,ComEmpresaUsuaria:true,ComEmpresa:false,Ativo:true", vmTextSelected: "vmProprietario.NomePessoa")*@
                    @HtmlHelper.Select.SearchableKO("ddlPessoa", "IdPessoa", "IdPessoa", "NomeSecundario", "Nomes", "NomeSecundario", "/Corporativo/Pessoa/ListPessoaPersonalizado", "ComPessoa:true,ComEmpresaUsuaria:true,ComEmpresa:false,Ativo:true, IdPessoaNaturezaNotIn: 4", vmTextSelected: "vmProprietario.NomePessoa")
                </div>
            </div>
            <div class="col-xs-12 form-group">
                <a href="#" class="link-edit panel-open-next">Não encontrou? Adicione um Novo</a>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="txtCota">Cota</label>
                    <div class="input-group">
                        <input type="text" id="txtCota" name="txtCota" data-bind="value: Cota, validate: { required: { params: true, message: '' } }" class="form-control" maxlength="5" />
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="control-label" for="chkProprietarioPrincipal">Principal</label>
                    <input type="checkbox" class="no-uniform" id="chkProprietarioPrincipal" data-bind="checked: Principal, flipper: { observable: Principal, options: { 'css': 'warning'} }">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="control-label" for="chkProprietarioAtivo">Ativo</label>
                    <input type="checkbox" class="no-uniform" id="chkProprietarioAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                </div>
            </div>
        </div>
    </template>

    <template id="newedit-Proprietario-1" data-tab-id="Proprietario" data-tab-title="Adicionar pessoa">
        @Html.Partial("~/Areas/Corporativo/Views/Pessoa/_PartialPessoa.cshtml", Model.Pessoa)
    </template>

    @HtmlHelper.Html.Modal("modal-HistoricoCategoria", "Histórico", @<div class="modal-body">
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Categoria</th>
                        <th>Usuário</th>
                        <th>Data Hora</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: {data: Data() }">
                    <tr>
                        <td><span data-bind="text: DescricaoCriacaoCategoria"></span></td>
                        <td><span data-bind="text: NomePessoa"></span></td>
                        <td><span data-bind="text: DataHora"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>, saveButton: false)

    @HtmlHelper.Html.Modal("modal-HistoricoSituacao", "Histórico", @<div class="modal-body">
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Situação</th>
                        <th>Usuário</th>
                        <th>Data Hora</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: {data: Data() }">
                    <tr>
                        <td><span data-bind="text: DescricaoCriacaoCaracterizacao"></span></td>
                        <td><span data-bind="text: NomePessoa"></span></td>
                        <td><span data-bind="text: DataHora"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>, saveButton: false)
</div>


