﻿@model HTM.MasterGestor.Web.UI.ViewModels.Login.IndexVM

@{
    Layout = "~/Views/_LayoutLogout.cshtml";
    ViewBag.Title = Model.Descricao;
}

@section Head {
    
}

<div id="logon">
    @if (HttpContext.Current.IsDebuggingEnabled)
    {        
        <div id="autologin-message" style="background:#fecf36; color: #000; padding:15px 0; padding-left:30px; font-size: 15px; display: none">
            <span>Autologin Ativado: Aperte <strong>F10</strong> para configurar o AutoLogin</span>            
        </div>        
    }
    else
    {
    @*<video autoplay loop muted preload="auto">
        <source src="~/mg-assets/videos/stock-footage-green-field-and-sky-blue-with-white-cloud-great-for-background-loop.mp4" type="video/mp4">
        <source src="~/mg-assets/videos/flowers.webm" type="video/webm">
    </video>*@
    }
    <div class="content">
        <div id="loginContainer">
            <div>
                
                <img src="/@Model.LogoTelaConexao" alt="@Model.Titulo" />               

                <form id="login" class="form-logon" role="form" style="opacity: 0">
                    <div class="alert alert-danger mensagem-compatibilidade" style="display: none">
                        @*<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>*@
                        <h4>Ops! Seu navegador é incompativel com o AgroGestor.</h4>
                        <p>Use algum dos navegadores abaixo para uma melhor experiência.</p><br />

                        <table style="">
                            <tr>
                                <td style="text-align: left; padding-right: 20px">
                                    <a href="http://www.google.com.br/chrome/browser/desktop/index.html">
                                        <img src="~/mg-assets/images/icone-chrome.png" alt="Google Chrome" />
                                    </a>
                                </td>
                                <td style="text-align: left; padding-right: 20px">
                                    <a href="https://www.mozilla.org/pt-BR/firefox/new/">
                                        <img src="~/mg-assets/images/icone-firefox.png" alt="Firefox" />
                                    </a>
                                </td>
                                <td style="text-align: left">
                                    <a href="http://www.opera.com/pt-br/computer/windows">
                                        <img src="~/mg-assets/images/icone-opera.png" alt="Opera" />
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="alert alert-danger alert-icon" id="error" style="display: none">
                        @*<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>*@
                        <i class="material-icons">&#xE002;</i>
                        <div class="text"></div>
                    </div>

                    <div class="form-group" style="display:none;" id="empresas">
                        <label for="ddlEmpresas" class="control-label">Empresa</label>
                        <select id="ddlEmpresas" name="ddlEmpresas" class="form-control" >
                            <option value=""></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="txtUsuario" class="control-label">Usuário</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="material-icons">&#xE7FD;</i></div>
                            <input id="txtUsuario" data-bind="textInput: usuario" type="text" class="form-control input-lg" />
                            <input type="hidden" id="emp" name="emp" value="@ViewBag.IdEmpresa" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtSenha" class="control-label">Senha</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="material-icons">&#xE897;</i></div>
                            <input id="txtSenha" type="password" class="form-control input-lg" />
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 25px">
                        <input class="vanilla" id="lembrar" data-bind="checked: lembrar, vanillaUniform: {}" type="checkbox" /><label for="lembrar" style="margin-left: 5px">Lembrar meu usuário</label>                        
                    </div>
                        @if (HttpContext.Current.IsDebuggingEnabled)
                        {                            
                            <input type="checkbox" style="margin-top: 20px" id="chk-autologin" />
                        }

                        <button type="submit" id="btn-login" class="btn btn-primary btn-block btn-lg">Acessar o @Model.Titulo</button>

                    <div class="logon-links">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="/Login/RecuperarSenha" data-target="#modal-reenviarsenha" class="btn btn-default btn-block" id="btnEsqueciSenha">Esqueci minha <strong>senha</strong></a>
                            </div>
                            <div class="col-xs-6">
                                <a class="btn btn-default btn-block" data-target="#modal-reenviarusuario" href="/Login/RecuperarUsuario" id="btnEsqueciUsuario">Esqueci meu <strong>usuário</strong></a>
                            </div>
                        </div>
                    </div>     
                    
                    <div class="contato">                                                   
                        <p><a href="tel:+551632349300"><i class="material-icons">phone</i> <span itemprop="telephone" class="tel">@Model.Telefone</span></a><a href="mailto:@Model.Email"><i class="material-icons">mail</i> <span itemprop="email">@Model.Email</span></a></p>
                        <div class="clear"></div>
                        @*<a href="skype:suporte.agrogestor" class="skype">suporte.agrogestor</a>*@
                        <div class="clear"></div>
                    </div>        
                </form>
            </div>
        </div>
    </div>

    @section Modal {
        <!-- Modal -->
        <div class="modal fade modal-sm" id="modal-reenviarsenha" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Reenviar senha</h4>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button id="btnReenviarSenha" type="button" class="btn btn-primary">Reenviar senha</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <!-- Modal -->
        <div class="modal fade modal-sm" id="modal-reenviarusuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Reenviar nome do usuário</h4>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button id="btnReenviarUsuario" type="button" class="btn btn-primary">Enviar usuário por e-mail</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    }

    @section Scripts {             
        <script src="~/mg-assets/scripts/require-config-out.js"></script>        
        <script src="~/App_Assets/publish/scripts/min/require.js" data-main="login-index"></script>
        <script> 
            var redirectURL = '@ViewBag.RedirectUrl'; 
        </script>
        
    }
</div>
