﻿@model HTM.MasterGestor.Web.UI.ViewModels.Login.IndexVM
@{
    Layout = "~/Views/_LayoutLogout.cshtml";
}
@section Head { 

    @if (Model != null && Model.SetCores != null)
    {
        switch (Model.SetCores)
        {
            case 2:
                <link href="~/App_Assets/publish/css/theme-2/all.min.css" rel="stylesheet" />
                <link href="~/App_Assets/publish/css/theme-2/logon.min.css" rel="stylesheet" />
                break;
            case 3:
            <link href="~/App_Assets/publish/css/theme-3/all.min.css" rel="stylesheet" />
            <link href="~/App_Assets/publish/css/theme-3/logon.min.css" rel="stylesheet" />
                break;
            case 4:
            <link href="~/App_Assets/publish/css/theme-4/all.min.css" rel="stylesheet" />
            <link href="~/App_Assets/publish/css/theme-4/logon.min.css" rel="stylesheet" />
                break;
            default:
            <link href="~/App_Assets/publish/css/all.min.css" rel="stylesheet" />
            <link href="~/App_Assets/publish/css/logon.min.css" rel="stylesheet" /><!-- theme-default -->
                break;
        }
    }
    <title>@Model.Descricao - Recuperar usuário</title>

    <style> body { background: #F3F3F3 !important; }</style> 
}
<div class="content-pages">
    <div class="logo">
        <img src="/@Model.LogoTelaConexao" alt="@Model.Descricao" />  
    </div>

    <div id="recuperarUsuario">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Esqueci meu Usuário</h3>
            </div>

            <div class="panel-body">
                <div id="container">
                    <form id="frmRecuperarUsuario" class="form-logon" data-bind="validateForm: { submitHandler: Save }, validateOptions: { appendMessageToContainer: true }">
                        <div class="form-group">
                            <p>
                                Preencha o campo abaixo com o seu e-mail e clique no botão enviar.
                                <br>
                                Você receberá um e-mail com o seu nome de usuário.
                            </p>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="txtEmailUsuario" class="control-label">E-mail</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="material-icons">&#xE7FD;</i></div>
                                        <input id="txtEmailUsuario" type="text" data-bind="value: email, validate: { required: true, email: true }" name="email" class="form-control input-lg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="panel panel-default panel-action">
                <div class="panel-body">
                    <button type="button" id="btnRecuperarUsuario" class="btn btn-primary btn-lg"><i class="material-icons">&#xE5CA;</i>Recuperar Usuário </button>
                    <a href="/Login/Index" type="button" class="btn btn-primary btn-inverted btn-lg"><i class="material-icons">&#xE5C4;</i> Ir para tela de Login</a>
                </div>
            </div>
        </div>
        @section Scripts {
        <script data-main="login-recupera-usuario" src="~/mg-assets/scripts/require-config-out.js"></script>
            <script src="~/App_Assets/publish/scripts/min/require.js"></script>
        }
    </div>
</div>

