﻿@model HTM.MasterGestor.Web.UI.ViewModels.Login.IndexVM
@{

    if (ViewBag.MensagemAtivacaoUsuario)
    {
        ViewBag.Title = "Ativação de Usuário";
    }
    else
    {
        ViewBag.Title = "Redefinição de Senha";
    }
    Layout = "~/Views/_LayoutLogout.cshtml";
}
@section Head {

    @if (Model != null && Model.SetCores != null)
    {
        switch (Model.SetCores)
        {
            case 2:
                <link href="~/App_Assets/publish/css/theme-2/all.min.css" rel="stylesheet" />
                <link href="~/App_Assets/publish/css/theme-2/logon.min.css" rel="stylesheet" />
                break;
            case 3:
            <link href="~/App_Assets/publish/css/theme-3/all.min.css" rel="stylesheet" />
            <link href="~/App_Assets/publish/css/theme-3/logon.min.css" rel="stylesheet" />
                break;
            case 4:
            <link href="~/App_Assets/publish/css/theme-4/all.min.css" rel="stylesheet" />
            <link href="~/App_Assets/publish/css/theme-4/logon.min.css" rel="stylesheet" />
                break;
            default:
            <link href="~/App_Assets/publish/css/all.min.css" rel="stylesheet" />
            <link href="~/App_Assets/publish/css/logon.min.css" rel="stylesheet" /><!-- theme-default -->
                break;
        }
    }

    <style>
        body {
            background: #F3F3F3 !important;
        }
    </style>
}
<div class="content-pages">
    <div class="logo">
        <img src="/@Model.LogoTelaConexao" alt="@Model.Descricao" />
    </div>

    <div id="redefinirSenha">

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Definir nova senha</h3>
            </div>
            <div class="panel-body">
                <p>
                    Olá <strong>@Html.Raw(ViewBag.NomeUsuario)</strong>,
                    <br />
                    @if (ViewBag.MensagemAtivacaoUsuario)
                    {
                        @:Informe uma senha para que o seu usuário seja ativado.
	                    }
                    else
                    {
                        @:Insira uma nova senha abaixo e confirme.
	                    }
                </p>
                <br />
                <div id="container">
                    <form id="frmRedefinirSenha" class="form-logon" data-bind="validateForm: { submitHandler: Save }, validateOptions: { appendMessageToContainer: true }">
                        @*<input type="hidden" value='@ViewContext.RouteData.Values["id"].ToString()' id="routeDataId" />*@
                        <input type="hidden" value='@TempData["id"]' id="routeDataId" />
                        <input type="hidden" value='' id="idUsuario" />
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="txtSenha" class="control-label">Nova senha</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                        <input id="txtSenha" data-bind="value: senha, validate: { required: true, minLength: 3 }" name="txtSenha" type="password" class="form-control input-lg" autocomplete="off" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="txtNovaSenha" class="control-label">Confirmar a nova Senha</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                        <input id="txtNovaSenha" data-bind="value: confirma_senha, validate: { required: true, equal: senha, minLength: 3 }" name="password_again" type="password" class="form-control input-lg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default panel-action">
                <div class="panel-body">
                    <button type="submit" id="btn-RedefinirSenha" class="btn btn-secondary btn-lg">
                        @{
                            if (@ViewBag.MensagemAtivacaoUsuario)
                            {
                                @:Cadastrar senha
                                }
                            else
                            {
                                @:Redefinir Senha

                            }
                        }
                    </button>
                </div>
            </div>
        </div>



        @section Scripts {
        <script src="~/mg-assets/scripts/require-config-out.js"></script>
        <script src="~/App_Assets/publish/scripts/min/require.js" data-main="redefinir-senha"></script>
        }
    </div>
</div>

