﻿@model HTM.MasterGestor.Web.UI.Areas.Contabilidade.ViewModels.Operacao.IndexVM

<div id="filtro-grade">
    <template id="filter-OperacaoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>

        <div class="form-group">
            <label for="ddlModulo">Módulo</label>            
            @HtmlHelper.Select.SearchableKO("ddlFilterModulo", "IdModuloIn", "IdModuloIn", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Configuracao/Modulo/List", "Ativo:true, ComPai:true", multiple: true, idChaveRelacao: "IdModulo")
        </div>

        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "OperacaoIndex",
    newUrl: "#/Contabilidade/Operacao/New",
    editUrl: "#/Contabilidade/Operacao/Edit",
    listUrl: "/Contabilidade/Operacao/List",
    columns:
    @<script>
        [
           { 'id': 'IdModuloIn', filter: true },
           { 'id': 'Descricao', filter: true, header: true, 'defaultFilter': true },
           { 'id': 'DescricaoModulo', header: true, displayName: 'Módulo' },
           { 'id': 'DescricaoNaturezaOperacao', 'filter': true, displayName: 'Natureza', header: true },          
           { 'id': 'IdOperacao', editColumn: true },
           defaults.gridNewEdit.column.ativo,
           defaults.gridNewEdit.column.acao
        ]
    </script>,
      templateRows:
    @<tr>
         <td data-bind="text: Descricao, id:IdOperacao"></td>
         <td data-bind="text: DescricaoModulo"></td>
         <td data-bind="text: DescricaoNaturezaOperacao"></td>        
         <td data-bind="template: 'label-status'"></td>
         <td data-bind="template: { name: 'button-edit-url', data: { id: IdOperacao } }"></td>
    </tr>,
    api: "indexVM.api",
    orderByCol: "Descricao",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,
    useHiddenColumns: false)
</div>


@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
