﻿@model HTM.MasterGestor.Web.UI.Areas.Contabilidade.ViewModels.Operacao.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-Operacao-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlModulo">Módulo</label>                            
                            @HtmlHelper.Select.SearchableKO("ddlModulo", "IdModulo", "IdModuloIn", "DescricaoCompleta","DescricaoCompleta", "DescricaoCompleta", "/Configuracao/Modulo/List", "Ativo:true,ComPai:true", multiple: true, idChaveRelacao: "IdModulo")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlNaturezaOperacao" class="control-label">Natureza de Operação</label>
                            <select class="form-control no-search" id="ddlNaturezaOperacao" data-bind="value: NaturezaOperacao, validate: { required: true }">
                                <option value=""></option>
                                <option value="1">Entrada</option>
                                <option value="2">Saída</option>
                                <option value="3">Transferência</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </form>
</div>