﻿@model HTM.MasterGestor.Web.UI.Areas.Seguranca.ViewModels.RestricaoAcesso.NewEditVM

<routeoptions data-route-custom="route-restricaoAcesso"></routeoptions>

<div data-bind="stopBindings: true">
    <div class="panel panel-default" data-toggle="collapsible" style="display:none;">
        <div class="panel-heading clearfix">
            <h3 class="panel-title">Filtros... (Ações Disponíveis) TODO</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6">
                    Select2 - Módulos
                </div>
            </div>
        </div>
    </div>

    <form id="form-RestricaoAcesso-NewEdit" data-bind="formSubmit: { submitHandler: vm.Save }">
        <input type="hidden" data-bind="value: IdGrupoUsuario" id="txtGrupoUsuario" />
        <div class="panel panel-default" data-toggle="collapsible" data-bind="visible: Restricoes().length > 0" id="pnlTelas">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Restrições</h3>
            </div>
            <div class="panel-body">
                <div data-bind="foreach: Restricoes">
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <label for="attr: {'id': 'ddl' + Descricao()}" data-bind="text: 'Não Pode: ' + Descricao()"></label>
                                <input type="hidden" data-bind="value: IdsTelas, attr: {'id': 'ddl' + Descricao(), 'name': 'ddl' + Descricao() }, select2: { multiple: true, campoId: 'IdTela', campoIdPesquisa: 'IdTelaIn', campoValor: 'TituloTela', campoPesquisa: 'TituloTela', idChaveRelacao: 'IdTela', valor: IdsTelas(), element: 'ddl' + Descricao(), placeholder: '', allowClear: true, url: '/Configuracao/GrupoMenu/ListPersonalizado', dadosCompl: 'Ativo: true, IdGrupoUsuario: ' + vm.IdGrupoUsuario(), idDependencia: 'IdGrupoUsuario',  idControleDependencia: 'txtGrupoUsuario' }" class="form-control">
                                @*@HtmlHelper.Select.Searchable("ddl" + item.Descricao, "IdTela", "IdTelaIn", "TituloTela", "TituloTela", "TituloTela", "/Configuracao/GrupoMenu/ListPersonalizado", "Ativo: true, IdGrupoUsuario: " + Model.IdGrupoUsuario, "txtGrupoUsuario", "IdGrupoUsuario")*@
                                @*<input type="hidden" class="form-control" multiple="multiple" data-allow-clear="true" data-bind="value: IdsTelas, attr: {'id': 'ddl' + Descricao}" />*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" data-toggle="collapsible" id="pnlObjetos">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Restrição aos Objetos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="ddlObjetos">Objetos</label>
                            @HtmlHelper.Select.SearchableKO("ddlObjetos", "IdsObjetos", "IdObjetoIn", "DescricaoCompleta", "Descricao", "DescricaoCompleta", "/Configuracao/Objeto/List", "Ativo: true", multiple: true, idChaveRelacao: "IdObjeto")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>


@section Scripts {
    @*<script type="text/javascript">
        var form = $('#form-RestricaoAcesso-NewEdit');
        var vm = {
            @Html.ObservableFor(model => model.IdGrupoUsuario),
            @Html.ObservableFor(model => model.IdsObjetos),
            @Html.ObservableFor(model => model.Restricoes),
                Save: function () {
                    if (!vm.isValidShowErrors()) { return; } 
                    $.ajax({
                        type: "POST",
                        data: { json: ko.toJSON(vm) },
                        url: "/Seguranca/RestricaoAcesso/SalvarConfiguracao",
                        dataType: "json",
                        success: function(result){
                            if(result.Response.Sucesso)
                            {
                                toastr.success("Restrições Salvas com sucesso");
                                window.location.href = "/Seguranca/GrupoUsuario/Index#List";
                            }
                            else
                                toastr.error("Erro ao salvar as Configurações");
                        }
                    });
                }
        };

        mg.CollapsibleVM('#pnlObjetos', [ vm.IdsObjetos() ]);
        mg.CollapsibleVM('#pnlTelas', [ vm.Restricoes()]);
        ko.applyBindings(vm, form[0]);
    </script>*@
}
