﻿@model HTM.MasterGestor.Web.UI.Areas.Questionario.ViewModels.Resposta.IndexVM

<template id="headerAction-QuestionarioRespostaIndex">
    <a data-bind="visible: totalRecords() > 0" style="margin-left: 8px; float: left" href="/#/Questionario/Resposta/MapaResposta" class="btn btn-primary btn-lg"><i class="material-icons">&#xE55B;</i> Visualizar no mapa</a>
</template>

<div id="filtro-grade" style="display:none;">
    <template id="filter-QuestionarioRespostaIndex">

        <!--Versao-->
        <div class="form-group" style="width:250px">
            <label for="ddlFiltroQuestionarioVersao">Questionário (Versão)</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroQuestionarioVersao", "IdQuestionarioVersao", "IdQuestionarioVersao", "ConfiguracaoVersaoSigla", "Descricao", "ConfiguracaoVersaoSigla", "/Questionario/Versao/List", "Ativo:true, Publicado:true")
        </div>

        <!-- Aplicaçao -->
        <div class="form-group" style="width:300px">
            <label for="ddlFiltroAplicacao">Aplicação</label>
            <input type="hidden" id="txtFiltroAplicacaoTipoIn" name="txtFiltroAplicacaoTipoIn" value="1,2,3,4,5" />
            @HtmlHelper.Select.SearchableKO("ddlFiltroAplicacao", "IdAplicacaoReferencia", "IdAplicacaoReferencia", "DescricaoAplicacaoReferenciaExibicao", "DescricaoBusca", "DescricaoAplicacaoReferenciaExibicao", "/Aplicacao/AplicacaoReferencia/ListPorAplicacaoTipo", "Ativo:true", idControleDependencia: "txtFiltroAplicacaoTipoIn", idDependencia: "IdAplicacaoTipoIn", idChaveRelacao: "IdAplicacaoReferencia", urlSelecao: "Aplicacao/AplicacaoReferencia/ListarPorId")
        </div>

        <!-- Sub Aplicação -->
        <div class="form-group" style="width:300px">
            <label for="ddlFiltroSubAplicacao">Sub Aplicação</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroSubAplicacao", "IdSubAplicacaoReferencia", "IdSubAplicacaoReferencia", "DescricaoSubAplicacao", "DescricaoSubAplicacaoBusca", "DescricaoSubAplicacao", "/Aplicacao/SubAplicacaoReferencia/List", dadosCompl: "Ativo:true", idControleDependencia: "ddlFiltroAplicacao", idDependencia: "IdAplicacaoReferenciaIn", urlSelecao: "/Aplicacao/SubAplicacaoReferencia/ListarPorId", idChaveRelacao: "IdSubAplicacaoReferencia")
        </div>

        <!-- Usuário de Lançamento -->
        <div class="form-group">
            <label for="ddlFiltroPessoaLancamento">Usuário de Lançamento</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroPessoaLancamento", "IdPessoaLancamento", "IdPessoa", "CodigoNomeSecundario", "Nomes", "CodigoNomeSecundario", "/Corporativo/Pessoa/List", "Ativo:true,IdPessoaNaturezaNotIn:3", idChaveRelacao: "IdPessoa")
        </div>

        <!-- Período de Lançamento -->
        <div class="form-group">
            <label for="txtFiltroPeriodoLancamento" class="control-label">Período de Lançamento</label>
            <div class="input-group date" style="width:230px">
                <input type="text" id="txtFiltroPeriodoLancamento" style="width:250px" data-bind="daterangepicker: { startDate: DataLancamentoInicio, endDate: DataLancamentoFim }" class="form-control" />
                <div class="input-group-addon input-group-btn"><i class="material-icons">&#xE916;</i></div>
            </div>
        </div>

        <!-- Período de Produção -->
        <div class="form-group" style="width: 300px">
            <label class="control-label" for="ddlFiltroAtividadeEconomicaperiodo">Período de Produção</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroAtividadeEconomicaperiodo", "IdAtividadeEconomicaPeriodo", "IdAtividadeEconomicaPeriodo", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Contabilidade/AtividadeEconomicaPeriodo/List", "Ativo:true,UltimoNivel:true", allowClear: true)
        </div>

        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-Tipo1" class="btn-primary btn-inverted btn"><input id="filter-Tipo1" value="false" data-bind="checked: Todos, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-Tipo2" class="btn-primary btn-inverted btn"><input id="filter-Tipo2" value="true" data-bind="checked: Todos, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>

    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "QuestionarioRespostaIndex",
    newUrl: "#/Questionario/Resposta/New",
    editUrl: "#/Questionario/Resposta/Edit",
    listUrl: "/Questionario/Resposta/List",
    columns:
    @<script>
        [
            { 'id': 'IdQuestionarioResposta', editColumn: true },
            { 'id': 'IdQuestionarioVersao', filter: true, defaultValue: @Model.Id.ToString()  },
            { 'id': 'IdAplicacaoReferencia', filter: true },
            { 'id': 'IdSubAplicacaoReferencia', filter: true },
            { 'id': 'IdPessoaLancamento', filter: true },
            { 'id': 'IdAtividadeEconomicaPeriodo', 'defaultValue': @Model.idAtividadeEconomicaPeriodo.ToString(), 'filter': true },
            { 'id': 'DataLancamentoInicio', defaultValue: null, filter: true },
            { 'id': 'DataLancamentoFim', defaultValue: null, filter: true },
            { 'id': 'Todos', filter: true, defaultValue: 'true' },

            { 'id': 'Codigo', filter: true, header: true, displayName: 'Código', sortable: true },
            { 'id': 'QuestionarioConfiguracaoDescricao', filter: true, defaultFilter: true, header: true, displayName: 'Questionário', sortable: true, groupable: true },
            { 'id': 'DataLancamentoExibicao', filter: true, header: true, displayName: 'Data Lançamento', sortable: true },
            { 'id': 'PessoaNomeSecundario', filter: true, header: true, displayName: 'Aplicador', sortable: true, groupable: true },

            { 'id': 'TotalPerguntas', filter: true, header: true, displayName: 'Perguntas', sortable: true },
            { 'id': 'TotalNaoRespondidas', filter: true, header: true, displayName: 'Não Respondidas', sortable: true },

            { displayName: "Ações", header: true, width: '60px' }
        ]
    </script>,
    templateRows:
    @<tr>
        <td data-bind="text: Codigo"></td>
        <td data-bind="text: QuestionarioConfiguracaoDescricao"></td>
        <td data-bind="text: DataLancamentoExibicao"></td>
        <td data-bind="text: PessoaNomeSecundario"></td>
        <td data-bind="text: TotalPerguntas"></td>
        <td data-bind="text: TotalNaoRespondidas"></td>
        <td>
            <div style="float:left">
                <span data-bind="template: { name: 'button-edit-url', data: { id: IdQuestionarioResposta } }"></span>
            </div>
        </td>
    </tr>, api: "indexVM.api", orderByCol: "DataLancamentoExibicao", orderByDir: HelpersUtil.OrderByDirEnum.Desc, useHiddenColumns: false, urlAlternativeExport: "/Questionario/Resposta/ListExport",openFilter:true, useCustomHeaderAction:true)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
