﻿<div data-bind="stopBindings: true" id="route-map">
    @Html.AntiForgeryToken()

    <div id="aside-menu" class="aside-panel">
        <div class="aside-toggle-container">
            <button class="aside-toggle-button" aria-label="Recolher painel lateral" data-bind="event: { click: togglePanel }"></button>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div>
                    <span class="btn-back-container in"><a href="/#/Questionario/Resposta/Index" class="btn-back btn-primary btn-inverted btn-rounded-icon"></a></span>
                    <ol class="breadcrumb">
                        <li><a id="tituloTela" href="/#/Questionario/Resposta/Index">Aplicação do Questionário</a></li>
                        <li class="actiHve">Mapa</li>
                    </ol>
                </div>
            </div>
            <div class="panel-body">
                <fieldset>
                    <div class="form-inline">
                        <div class="form-group">
                            <button class="btn btn-secondary" data-bind="event: { click: showDetalhesFiltro }"><i class="material-icons">&#xE152;</i> Detalhes</button>
                        </div>
                        <div class="form-group filtro-categorias">
                            <label for="ddlMapeamentoCamadaCategoriaFiltro"></label>
                            @HtmlHelper.Select.SelectCheckbox(id: "ddlMapeamentoCamadaCategoriaFiltro", campoId: "IdMapeamentoCamadaCategoriaFiltro", campoIdPesquisa: "IdMapeamentoCamadaCategoriaIn", campoValor: "DescricaoExibicao", campoOrdenacao: "Descricao", campoIdChaveRelacao: "IdMapeamentoCamadaCategoria", url: "/Mapeamento/Categoria/List", dadosCompl: "Ativo: true, Base: false", selectOptions: "{ showSubText: true }")
                        </div>                        
                    </div>                 
                    <div class="container-itens-mapa" style="top: 115px">
                        <div id="treeMapaResposta" class="jstree-check-untie tree-mapa"></div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    <div id="map-container">
        <div id="search-box">
        </div>
        <div id="toolbar" style="display: none;">
        </div>
        <div id="map"></div>
    </div>

    <!-- modais -->

    <div class="modal fade" id="modal-filtro-detalhes" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Detalhes do filtro</h4>
                </div>
                <div id="modal-filtro-template">
                    <div id="alert-sem-filtro">
                        <div class="alert alert-info alert-icon clearfix">
                            <i class="material-icons">&#xE002;</i>
                            <span class="text">Nenhum filtro selecionado@*<br /> Para filtrar, vá para a <a data-dismiss="modal" href="/#/Questionario/MedidorItem/Index" class="link-edit">tela de listagem</a>.*@</span>
                        </div>
                    </div>
                    <div id="modal-filtro-content" class="modal-body read-mode">
                        <!-- ko with: dadosFiltro -->
                        
                        <!--Versao-->
                        <div class="form-group" >
                            <label for="ddlFiltroQuestionarioVersaoMapa">Questionário (Versão)</label>
                            @HtmlHelper.Select.SearchableKO("ddlFiltroQuestionarioVersaoMapa", "IdQuestionarioVersao", "IdQuestionarioVersao", "ConfiguracaoVersaoSigla", "Descricao", "ConfiguracaoVersaoSigla", "/Questionario/Versao/List", "Ativo:true, Publicado:true", disabled: true)
                        </div>

                        <!-- Aplicação -->
                        <div class="form-group" >
                            <label for="ddlFiltroAplicacaoMapa">Aplicação</label>
                            <input type="hidden" id="txtFiltroAplicacaoTipoInMapa" name="txtFiltroAplicacaoTipoIn" value="1,2,3,4,5" />
                            @HtmlHelper.Select.SearchableKO("ddlFiltroAplicacaoMapa", "IdAplicacaoReferencia", "IdAplicacaoReferencia", "DescricaoAplicacaoReferenciaExibicao", "DescricaoBusca", "DescricaoAplicacaoReferenciaExibicao", "/Aplicacao/AplicacaoReferencia/ListPorAplicacaoTipo", "Ativo:true", idControleDependencia: "txtFiltroAplicacaoTipoIn", idDependencia: "IdAplicacaoTipoIn", idChaveRelacao: "IdAplicacaoReferencia", urlSelecao: "Aplicacao/AplicacaoReferencia/ListarPorId", disabled: true)
                        </div>

                        <!-- Sub Aplicação -->
                        <div class="form-group" >
                            <label for="ddlFiltroSubAplicacaoMapa">Sub Aplicação</label>
                            @HtmlHelper.Select.SearchableKO("ddlFiltroSubAplicacaoMapa", "IdSubAplicacaoReferencia", "IdSubAplicacaoReferencia", "DescricaoSubAplicacao", "DescricaoSubAplicacaoBusca", "DescricaoSubAplicacao", "/Aplicacao/SubAplicacaoReferencia/List", dadosCompl: "Ativo:true", idControleDependencia: "ddlFiltroAplicacao", idDependencia: "IdAplicacaoReferenciaIn", urlSelecao: "/Aplicacao/SubAplicacaoReferencia/ListarPorId", idChaveRelacao: "IdSubAplicacaoReferencia", disabled: true)
                        </div>

                        <!-- Usuário de Lançamento -->
                        <div class="form-group">
                            <label for="ddlFiltroPessoaLancamentoMapa">Usuário de Lançamento</label>
                            @HtmlHelper.Select.SearchableKO("ddlFiltroPessoaLancamentoMapa", "IdPessoaLancamento", "IdPessoa", "CodigoNomeSecundario", "Nomes", "CodigoNomeSecundario", "/Corporativo/Pessoa/List", "Ativo:true,IdPessoaNaturezaNotIn:3", idChaveRelacao: "IdPessoa", disabled:true)
                        </div>

                        <!-- Período de Produção -->
                        <div class="form-group" >
                            <label class="control-label" for="ddlFiltroAtividadeEconomicaperiodoMapa">Período de Produção</label>
                            @HtmlHelper.Select.SearchableKO("ddlFiltroAtividadeEconomicaperiodoMapa", "IdAtividadeEconomicaPeriodo", "IdAtividadeEconomicaPeriodo", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Contabilidade/AtividadeEconomicaPeriodo/List", "Ativo:true,UltimoNivel:true", disabled:true)
                        </div>
                        
                        <!-- /ko -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <template id="template-measure-popup">
        @*<area-position-info params="layer: layer"></area-position-info>*@
    </template>
    <template id="template-popup">
        <div id="popup-info">
            <p data-bind="text: layer.feature.properties.MapeamentoElementoDescricao"></p>
            <div class="observacao" data-bind="html: layer.feature.properties.MapeamentoElementoObservacao"></div>

            <div style="min-width: 350px">
                <area-position-info params="layer: layer"></area-position-info>
            </div>
            @*<a id="iw-editFeature" href="#" data-bind="event: { 'click': layerEditPopupEvent }">edit</a>
                <a id="iw-removeFeature" href="#" data-bind="event: { 'click': layerRemovePopupEvent }">remover</a>*@
        </div>

    </template>
</div>
