﻿@model HTM.MasterGestor.Web.UI.Areas.Questionario.ViewModels.Resposta.NewEditVM

<div>
    <form id="form-QuestionarioResposta-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlQuestionarioVersao">Questionário (Versão)</label>
                            @HtmlHelper.Select.SearchableKO("ddlQuestionarioVersao", "IdQuestionarioVersao", "IdQuestionarioVersao", "ConfiguracaoVersaoSigla", "Descricao", "ConfiguracaoVersaoSigla", "/Questionario/Versao/List", "Ativo:true, Publicado:true", required: true)
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group" data-bind="visible: vm.ExibeEmpresaUsuaria">
                            <label for="ddlEmpresaUsuaria">Empresa Usuária</label>
                            @HtmlHelper.Select.SearchableKO("ddlEmpresaUsuaria", "IdPessoaEmpresa", "IdPessoa", "CodigoNomeSecundario", "BuscaAvancada", "CodigoNomeSecundario", "/Corporativo/EmpresaUsuaria/List", idChaveRelacao: "IdPessoa", dataBind: "validate : { required: vm.ExibeEmpresaUsuaria() } ", dadosComplObservable: "dadosCompleEmpresaUsuaria")
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group" data-bind="visible: vm.ExibeAtividadeEconomicaPeriodo">
                            <label for="ddlAtividadeEconomicaPeriodo">Período de Produção</label>
                            @HtmlHelper.Select.SearchableKO("ddlAtividadeEconomicaPeriodo", "IdAtividadeEconomicaPeriodo", "IdAtividadeEconomicaPeriodo", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Contabilidade/AtividadeEconomicaPeriodo/List", "Ativo:true, UltimoNivel:true", dataBind: "validate: { required: vm.ExibeAtividadeEconomicaPeriodo() }")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4" data-bind="visible: vm.InformaPessoaAplicacao">
                        <div class="form-group">
                            <label for="ddlPessoaAplicadora">Pessoa que Aplicou</label>
                            @HtmlHelper.Select.SearchableKO("ddlPessoaAplicadora", "IdPessoaAplicador", "IdPessoa", "CodigoNomeSecundario", "Nomes", "CodigoNomeSecundario", "/Corporativo/Pessoa/List", "Ativo:true,IdPessoaNaturezaNotIn:3", dataBind: "required: { validate: vm.InformaPessoaAplicacao() }", dadosComplObservable: "dadosComplePessoaAplicador", idChaveRelacao: "IdPessoa")
                        </div>
                    </div>
                    <!-- TODO -->
                    <div class="col-xs-2" data-bind="visible: vm.PermiteDataAplicacaoDiferenteDoLancamento">
                        <div class="form-group">
                            <label for="txtDataReferencia">Data Referência</label>
                            <div class="input-group date">
                                <input id="txtDataReferencia" name="txtDataReferencia" class="form-control" data-bind="value: DataReferenciaExibicao, datepicker: { options:  vm.InformaHora() == true ? defaults.datepicker.datetime : defaults.datepicker.date  }, mask: { options:  vm.InformaHora() == true ? defaults.mask.datetime : defaults.mask.date, value: DataReferenciaExibicao }" />
                                <span class="input-group-addon">
                                    <i class="material-icons">&#xE878;</i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group read-mode">
                            <label for="ddlPessoaLancamento">Usuário de Lançamento</label>
                            @HtmlHelper.Select.SearchableKO("ddlPessoaLancamento", "IdPessoaLancamento", "IdPessoa", "CodigoNomeSecundario", "Nomes", "CodigoNomeSecundario", "/Corporativo/Pessoa/List", "Ativo:true,IdPessoaNaturezaNotIn:3", idChaveRelacao: "IdPessoa")
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group read-mode">
                            <label for="txtDataLancamento">Data Lançamento</label>
                            <div class="input-group date">
                                <input id="txtDataLancamento" name="txtDataLancamento" class="form-control" data-bind="value: DataLancamentoExibicao, datepicker: { options: defaults.datepicker.datetime }, mask: { options: defaults.mask.datetime, value: DataLancamentoExibicao }" />
                                <span class="input-group-addon">
                                    <i class="material-icons">&#xE878;</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Referência</h3>
            </div>
            <div class="panel-body">
                <div class="row">

                </div>
                <div class="row">
                    <div class="col-xs-2 read-mode">
                        <div class="form-group">
                            <label for="txtIdQuestionarioResposta">Código Resposta<span>Automático</span></label>
                            <input type="text" id="txtIdQuestionarioResposta" name="txtIdQuestionarioResposta" data-bind="value: IdQuestionarioResposta" class="form-control" maxlength="120" />
                        </div>
                    </div>
                    <div class="col-xs-2" data-bind="visible: (vm.IdsCategoriaMedidor() != '' && vm.IdQuestionarioVersao() != null)">
                        <div class="form-group">
                            <label for="ddlQuestionarioMedidorItem" data-bind="text: QuestionarioTipoMedidorDescricao"></label>
                            @HtmlHelper.Select.SearchableKO("ddlQuestionarioMedidorItem", "IdQuestionarioMedidorItem", "IdQuestionarioMedidorItem", "Codigo", "Codigo", "Codigo", "/Questionario/MedidorItem/List", dataBind: "required: { validate: vm.IdsCategoriaMedidor() != null }", dadosComplObservable: "dadosCompleMedidor", urlSelecao: "Questionario/MedidorItem/ListarPorId", vmDataSelected: "medidorItemVM")
                        </div>
                    </div>
                    <div class="col-xs-4" data-bind="visible: (vm.IdsCategoriaMedidor() != '' && vm.IdQuestionarioVersao() != null)">
                        <div class="form-group read-mode">
                            <label for="txtDescricaoCategoriaMedidor"></label>
                            <input type="text" id="txtDescricaoCategoriaMedidor" name="txtDescricaoCategoriaMedidor" data-bind="value: QuestionarioCategoriaMedidorDescricao" class="form-control" maxlength="120" />
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtCodigo" data-bind="text: vm.lblQuestionarioUnidadeAmostral"></label>
                            <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" maxlength="120" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Tipo de Aplicação do Questionário == 1 [Aplicação] -->
                    <div class="col-xs-4" data-bind="visible: (vm.TipoAplicacaoQuestionario() == 1 && vm.IdQuestionarioVersao() != null)">
                        <div class="form-group">
                            <label for="ddlAplicacaoReferencia" data-bind="text: lblAplicacaoTipo"></label>
                            @HtmlHelper.Select.SearchableKO("ddlAplicacaoReferencia", "IdAplicacao", "IdAplicacao", "DescricaoAplicacaoReferenciaExibicao", "DescricaoBusca", "DescricaoAplicacaoReferenciaExibicao", "/Aplicacao/AplicacaoReferencia/ListPorAplicacaoTipo", dataBind: "required: { validate: vm.TipoAplicacaoQuestionario() == 1 }", dadosComplObservable: "dadosCompleAplicacao", idChaveRelacao: "IdAplicacaoReferencia", urlSelecao: "Aplicacao/AplicacaoReferencia/ListarPorId", vmTextSelected: "aplicacaoVM")
                            <label id="ddlMunicipioEstado" data-bind="text: MunicipioEstadoAplicacao"></label>
                        </div>
                    </div>

                    <!-- Tipo de Aplicação do Questionário == 1 [Sub Aplicação | de acordo com o parâmetro] -->
                    <div class="col-xs-4" data-bind="visible: (vm.TipoAplicacaoQuestionario() == 1 && vm.ExibeSubAplicacao()==true && vm.IdAplicacao() != null)">
                        <div class="form-group">
                            <label for="ddlSubAplicacaoReferencia" data-bind="text: lblSubAplicacaoTipo"></label>
                            @HtmlHelper.Select.SearchableKO("ddlAplicacaoSubReferencia", "IdSubAplicacao", "IdSubAplicacao", "DescricaoSubAplicacaoExibicao", "DescricaoBusca", "DescricaoSubAplicacao", "/Aplicacao/SubAplicacaoReferencia/ListPorTipoAplicacao", dataBind: "required: { validate: vm.ExibeSubAplicacao() } ", idChaveRelacao: "IdSubAplicacaoReferencia", urlSelecao: "Aplicacao/SubAplicacaoReferencia/ListarPorId", idControleDependencia: "ddlAplicacaoReferencia", idDependencia: "IdAplicacaoReferenciaIn", dadosComplObservable: "dadosCompleSubAplicacao")
                        </div>
                    </div>

                    <!-- Tipo de Aplicação do Questionário == 2 [Categoria de Serviço] -->
                    <div class="col-xs-4" data-bind="visible: vm.TipoAplicacaoQuestionario() == 2">
                        <div class="form-group">
                            <label for="ddlCategoriaServicoReferencia">Categoria de Serviço</label>
                            @HtmlHelper.Select.SearchableKO("ddlCategoriaServicoReferencia", "IdCategoriaServico", "IdCategoriaServico", "Descricao", "Descricao", "Descricao", "/Corporativo/CategoriaServico/List", dataBind: "required: { validate: vm.TipoAplicacaoQuestionario() == 2 }", dadosComplObservable: "dadosCompleCategoriaServico")
                        </div>
                    </div>

                    <!-- Tipo de Aplicação do Questionário == 3 [Tipo de Documento] -->
                    <div class="col-xs-4" data-bind="visible: vm.TipoAplicacaoQuestionario() == 3">
                        <div class="form-group">
                            <label for="ddlTipoDocumentoReferencia">Tipo de Serviço</label>
                            @HtmlHelper.Select.SearchableKO("ddlTipoDocumentoReferencia", "IdDocumentoTipo", "IdDocumentoTipo", "Descricao", "Descricao", "Descricao", "/Contabilidade/DocumentoTipo/List", dataBind: "required: { validate: vm.TipoAplicacaoQuestionario() == 3 }", dadosComplObservable: "dadosCompleTipoDocumento")
                        </div>
                    </div>

                    <!-- Tipo de Aplicação do Questionário == 4 [Cultura] -->
                    <div class="col-xs-4" data-bind="visible: vm.TipoAplicacaoQuestionario() == 4">
                        <div class="form-group">
                            <label for="ddlCulturaReferencia">Tipo de Serviço</label>
                            @HtmlHelper.Select.SearchableKO("ddlCulturaReferencia", "IdProducaoCultura", "Descricao", "Descricao", "Descricao", "Descricao", "/Agricola/Cultura/List", dataBind: "required: { validate: vm.TipoAplicacaoQuestionario() == 4 }", dadosComplObservable: "dadosCompleCultura")
                        </div>
                    </div>

                    <!-- Tipo de Aplicação do Questionário == 5 [Pessoa] -->
                    <div class="col-xs-4" data-bind="visible: vm.TipoAplicacaoQuestionario() == 5">
                        <div class="form-group">
                            <label for="ddlPessoaReferencia">Pessoa</label>
                            @HtmlHelper.Select.SearchableKO("ddlPessoaReferencia", "IdPessoa", "IdPessoa", "Nomes", "CodigoNomeSecundario", "Nomes", "/Corporativo/Pessoa/List", dataBind: "required: { validate: vm.TipoAplicacaoQuestionario() == 5 }", dadosComplObservable: "dadosComplePessoa")
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtLatitude">Latitude<span>(decimal, WGS84)</span></label>
                            <input type="text" id="txtLatitude" name="txtLatitude" data-bind="value: Latitude, maskCoordenada:  { extendedOptions: { min: -89.99999999, max: 89.99999999 } }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtLongitude">Longitude<span>(decimal, WGS84)</span></label>
                            <input type="text" id="txtLongitude" name="txtLongitude" data-bind="value: Longitude, maskCoordenada: { extendedOptions: { min: -179.99999999, max: 179.99999999 } }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ko foreach: vm.TopicoQuestao()  -->
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title"><span data-bind="text: Descricao"></span></h3>
            </div>
            <div class="panel-body">
                <!-- Questionário/Tópico/Questão/Opção -->
                <!-- ko foreach: lstQuestao-->
                <!-- ko if:  ko.utils.unwrapObservable(TipoCampo) == 1 -->
                <div class="row">
                    <label data-bind="text:  ko.utils.unwrapObservable(Descricao), attr: { for: 'txt' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao) }" style="padding-left:15px;font-weight:100"></label>
                    <br />
                    <div class="col-xs-10">
                        <div class="form-group">
                            <input type="text" data-bind="value: RespostaValor.Valor, attr: { id: 'txt' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao), name: 'txt' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao) }" class="form-control" />
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if:  ko.utils.unwrapObservable(TipoCampo) == 2 -->
                <div class="row">
                    <label data-bind="text:  ko.utils.unwrapObservable(Descricao), attr: { for: 'txt' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao) }" style="padding-left:15px;font-weight:100"></label>
                    <br />
                    <div class="col-xs-10">
                        <div class="form-group">
                            @*<input type="text" data-bind="value: RespostaValor.Valor, attr: { id: 'txt' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao), name: 'txt' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao) }" class="form-control" />*@
                            <textarea data-bind="value: RespostaValor.Valor, attr: { id: 'txt' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao), name: 'txt' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao) }" class="form-control" data-allowclear="false" maxlength="500" style=" min-height: 80px;"></textarea>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if:  ko.utils.unwrapObservable(TipoCampo) == 3 -->
                <div class="row">
                    <label data-bind="text:  ko.utils.unwrapObservable(Descricao), attr: { for: 'txt' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao) }" style="padding-left:15px;font-weight:100"></label>
                    <br />
                    <div class="col-xs-4">
                        <div class="form-group">
                            <input type="number" data-bind="value: RespostaValor.Valor, attr: { id: 'txt' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao), name: 'txt' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao) }, mask: { options: defaults.mask.integer, value: RespostaValor.Valor }" class="form-control" />
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if:  ko.utils.unwrapObservable(TipoCampo) == 4 -->
                <div class="row">
                    <label data-bind="text:  ko.utils.unwrapObservable(Descricao), attr: { for: 'txt' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao) }" style="padding-left:15px;font-weight:100"></label>
                    <br />
                    <div class="col-xs-4">
                        <div class="form-group">
                            <input type="number" data-bind="value: RespostaValor.Valor, attr: { id: 'txt' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao), name: 'txt' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao) }" class="form-control" />
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if:  ko.utils.unwrapObservable(TipoCampo) == 5 -->
                <div class="row">
                    <label data-bind="text:  ko.utils.unwrapObservable(Descricao), attr: { for: 'txt' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao) }" style="padding-left:15px;font-weight:100"></label>
                    <br />
                    <div class="col-xs-2">
                        <div class="form-group">
                            <div class="input-group date form-group">
                                <input data-bind="value: RespostaValor.Valor, datepicker: { options: defaults.datepicker.date }, attr: { id: 'txt' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao), name: 'txt' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao) }" class="form-control" />
                                <span class="input-group-addon">
                                    <i class="material-icons">&#xE878;</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if:  ko.utils.unwrapObservable(TipoCampo) == 6 -->
                <div class="row">
                    <label data-bind="text:  ko.utils.unwrapObservable(Descricao), attr: { for: 'txt' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao) }" style="padding-left:15px;font-weight:100"></label>
                    <br />
                    <div class="col-xs-3">
                        <div class="form-group">
                            <div class="input-group date form-group">
                                <input data-bind="value: RespostaValor.Valor, datepicker: { options: defaults.datepicker.datetime }, attr: { id: 'txt' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao), name: 'txt' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao) }" class="form-control" />
                                <span class="input-group-addon">
                                    <i class="material-icons">&#xE878;</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if:  ko.utils.unwrapObservable(TipoCampo) == 7 -->
                <div class="row">
                    <label data-bind="text:  ko.utils.unwrapObservable(Descricao), attr: { for: 'txt' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao) }" style="padding-left:15px;font-weight:100"></label>
                    <br />
                    <div class="col-xs-2">
                        <div class="form-group">
                            <div class="input-group date form-group">
                                <input data-bind="value: RespostaValor.Valor, datepicker: { options: defaults.datepicker.time }, attr: { id: 'txt' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao), name: 'txt' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao) }" class="form-control" />
                                <span class="input-group-addon">
                                    <i class="material-icons">&#xE878;</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: ko.utils.unwrapObservable(TipoCampo) == 8 -->
                <div class="row">
                    <label data-bind="text:  ko.utils.unwrapObservable(Descricao), attr: { for: 'ddl' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao) }" style="padding-left:15px;font-weight:100"></label>
                    <br />
                    <div class="col-xs-4">
                        <div class="form-group">
                        </div>
                        <input type="hidden" data-bind="value: IdQuestionarioVersaoQuestao, attr: {'id': 'paramSelect' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao) }" />
                        <input type="hidden" data-bind="value: RespostaValor.IdQuestionarioVersaoQuestaoLista, attr: { id: 'ddl' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao), name: 'ddl' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao) }, select2: { campoId: 'IdQuestionarioVersaoQuestaoLista', campoIdPesquisa: 'IdQuestionarioVersaoQuestaoLista', campoValor: 'Valor', campoPesquisa: 'Valor', idChaveRelacao: 'IdQuestionarioVersaoQuestaoLista', valor: ko.utils.unwrapObservable(RespostaValor.IdQuestionarioVersaoQuestaoLista), element: 'ddl' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao), placeholder: '', allowClear: true, url: '/Questionario/QuestaoLista/List', dadosCompl: '', idDependencia: 'IdQuestionarioVersaoQuestao',  idControleDependencia: 'paramSelect' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao), ordenacao: 'Valor' }" class="form-control">
                    </div>
                </div>
                <!-- /ko -->
                <!--  ko if: ko.utils.unwrapObservable(TipoCampo) == 9 -->
                <div class="row">
                    <label data-bind="text:  ko.utils.unwrapObservable(Descricao), attr: { for: 'ddl' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao) }" style="padding-left:15px;font-weight:100"></label>
                    <br />
                    <div class="col-xs-4">
                        <div class="form-group">
                        </div>
                        <input type="hidden" data-bind="value: IdQuestionarioVersaoQuestao, attr: {'id': 'paramSelect' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao) }" />
                        <input type="hidden" data-bind="value: RespostaValor.IdsQuestionarioVersaoQuestaoLista, attr: { id: 'ddl' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao), name: 'ddl' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao) }, select2: { campoId: 'IdQuestionarioVersaoQuestaoLista', campoIdPesquisa: 'IdQuestionarioVersaoQuestaoListaIn', campoValor: 'Valor', campoPesquisa: 'Valor', idChaveRelacao: 'IdQuestionarioVersaoQuestaoLista', valor: ko.utils.unwrapObservable(RespostaValor.IdsQuestionarioVersaoQuestaoLista), element: 'ddl' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao), placeholder: '', allowClear: true, url: '/Questionario/QuestaoLista/List', dadosCompl: '', idDependencia: 'IdQuestionarioVersaoQuestao',  idControleDependencia: 'paramSelect' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao), ordenacao: 'Valor', multiple:true }" class="form-control">
                    </div>
                </div>
                <!-- /ko  -->
                <!-- ko if:  ko.utils.unwrapObservable(TipoCampo) == 10 -->
                <div class="row">
                    <label data-bind="text:  ko.utils.unwrapObservable(Descricao), attr: { for: 'chk' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao) }" style="padding-left:15px;font-weight:100"></label>
                    <br />
                    <div class="col-xs-2">
                        <div class="form-group">
                            <input type="checkbox" class="no-uniform" data-bind="checked: RespostaValor.Valor, attr: { id: 'chk' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao), name: 'chk' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao) }, flipper: { observable: RespostaValor.Valor, options: { 'css': 'warning' } }">
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if:  ko.utils.unwrapObservable(PermiteNaoSeAplica) -->
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label data-bind="attr: { for: 'chkNaoSeAplica' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao) }"> Não se Aplica </label>
                            <input type="checkbox" class="no-uniform" data-bind="checked: RespostaValor.NaoSeAplica,  attr: { id: 'chkNaoSeAplica' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao), name: 'chk' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao) }, flipper: { observable: RespostaValor.NaoSeAplica, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if:  (ko.utils.unwrapObservable(TipoJustificativa) == 2 || ko.utils.unwrapObservable(TipoJustificativa) == 3) -->
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label data-bind="attr: { for: 'txtJustificativa' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao) }">Justificativa ou Observação</label>
                            <textarea data-bind="value: RespostaValor.Justificativa, attr: { id: 'txtJustificativa' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao), name: 'txtJustificativa' + ko.utils.unwrapObservable(IdQuestionarioVersaoQuestao) }" class="form-control" id="txtObservacao" data-allowclear="false" maxlength="500" style=" min-height: 80px;"></textarea>
                        </div>
                    </div>
                </div>
                <!-- /ko -->

                <hr />

                <!-- /ko -->
            </div>
        </div>
        <!-- /ko -->

    </form>
</div>