﻿@model HTM.MasterGestor.Web.UI.Areas.Criacao.ViewModels.Lote.IndexVM

<div id="filtro-grade">
    <template id="filter-CriacaoLoteIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div> 
        <div class="form-group">
            <label for="ddlFiltroIdCriacaoRaca" class="control-label">Raça</label>            
            @HtmlHelper.Select.SearchableKO("ddlFiltroIdCriacaoRaca", "IdCricaoRacaIn", "IdCriacaoRaca", "DescricaoTipoRaca", "Descricao", "DescricaoTipoRaca", "/Criacao/Raca/List", "Ativo:true", multiple: true, idChaveRelacao: "IdCriacaoRaca")
        </div>
        <div class="form-group">
            <label for="ddlFiltroIdCriacaoCategoria" class="control-label">Categoria</label>            
            @HtmlHelper.Select.SearchableKO("ddlFiltroIdCriacaoCategoria", "IdCriacaoCategoriaIn", "IdCriacaoCategoria", "DescricaoComposta", "Descricao", "DescricaoComposta", "/Criacao/Categoria/List", "Ativo:true", multiple: true, idChaveRelacao: "IdCriacaoCategoria")
        </div>
        <div class="form-group">
            <label for="ddlFiltroIdCriacaoTipo" class="control-label">Tipo de Animal</label>            
            @HtmlHelper.Select.SearchableKO("ddlFiltroIdCriacaoTipo", "IdCriacaoTipoIn", "IdCriacaoTipo", "Descricao", "Descricao", "Descricao", "/Criacao/Tipo/List", "Ativo:true", multiple: true, idChaveRelacao: "IdCriacaoTipo")
        </div>
        <div class="form-group">
            <label for="ddlFiltroIdCriacaoCaracterizacaoSituacao" class="control-label">Situação</label>            
            @HtmlHelper.Select.SearchableKO("ddlFiltroIdCriacaoCaracterizacaoSituacaoIn", "IdCriacaoCaracterizacaoSituacaoIn", "IdCriacaoCaracterizacao", "Descricao", "Descricao", "Descricao", "/Criacao/Caracterizacao/List", "Ativo:true, IdCriacaoCaracterizacaoTipo:1", multiple: true, idChaveRelacao: "IdCriacaoCaracterizacao")
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "CriacaoLoteIndex",
    newUrl: "#/Criacao/Lote/New",
    editUrl: "#/Criacao/Lote/Edit",
    listUrl: "/Criacao/Lote/List",
    columns:
    @<script>
        [
           { 'id': 'Descricao', 'defaultFilter': true, filter: true },
           { 'id': 'IdCricaoRacaIn', filter: true },
           { 'id': 'IdCriacaoTipoIn', filter: true },
           { 'id': 'IdCriacaoCategoriaIn', filter: true },
           { 'id': 'IdCriacaoCaracterizacaoSituacaoIn', filter: true },
           { 'id': 'DescricaoCriacaoRaca', displayName: 'Raça', groupable: true, groupTextValues: ['defaultValue', '[Sem Raça Vinculada]'] },
           { 'id': 'Codigo', header: true, displayName: 'Código' },
           { 'id': 'Descricao', header: true, displayName: 'Descrição' },
           { 'id': 'DescricaoTipoRaca', header: true, displayName: 'Raça' },
           { 'id': 'DescricaoCriacaoCategoria', header: true, displayName: 'Categoria' },
           { 'id': 'DescricaoCriacaoCaracterizacao', header: true, displayName: 'Situação' },
           { 'id': 'IdCriacaoLote', editColumn: true },
           defaults.gridNewEdit.column.ativo,
           defaults.gridNewEdit.column.acao
        ]
    </script>,
      templateRows:
    @<tr>
        <td data-bind="text: Codigo"></td>
        <td data-bind="text: Descricao"></td>  
        <td data-bind="text: DescricaoTipoRaca"></td>  
        <td data-bind="text: DescricaoCriacaoCategoria"></td>  
        <td data-bind="text: DescricaoCriacaoCaracterizacao"></td>  
        <td data-bind="template: 'label-status'"></td>
        <td data-bind="template: { name: 'button-edit-url', data: { id: IdCriacaoLote } }"></td>
    </tr>,
    api: "indexVM.api",
    orderByCol: "Descricao",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,
    useHiddenColumns: false)
</div>
@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
