﻿@model HTM.MasterGestor.Web.UI.Areas.Criacao.ViewModels.Lote.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-CriacaoLote-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtCodigo">Código<span>(Automático)</span></label>
                            <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" maxlength="20" />
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="ddlCriacaoRaca">Raça</label>
                            <!--Campo hidden apenas para ser utilizado na busca de Categoria por Tipo de Animal -->
                            <input type="hidden" data-bind="value: IdCriacaoTipo" id="txtIdCriacaoTipo" name="txtIdCriacaoTipo" />
                            @HtmlHelper.Select.SearchableKO("ddlCriacaoRaca", "IdCriacaoRaca", "IdCriacaoRaca", "DescricaoTipoRaca", "Descricao", "DescricaoTipoRaca", "/Criacao/Raca/List", "Ativo:true", required: true)
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <div class="input-group">
                                <label for="ddlCriacaoCategoria">Categoria</label>
                                <span class="input-group-add-on input-group-btn" data-bind="if: IdCriacaoLote() != null">
                                    <button type="button" data-bind="click: vmParams.vmHistoricoCategoria.VerHistorico" class="btn btn-primary btn-link" style="height:5px;margin-top:-20px;text-transform:none;">(Ver Histórico)</button>
                                </span>
                            </div>
                            @HtmlHelper.Select.SearchableKO("ddlCriacaoCategoria", "IdCriacaoCategoria", "IdCriacaoCategoria", "Descricao", "Descricao", "Descricao", "/Criacao/Categoria/List", "Ativo:true", required: true, vmTextSelected: "vmParams.vmCategoriaAnimal.Descricao", idControleDependencia: "txtIdCriacaoTipo", idDependencia: "IdCriacaoTipoIn")
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <div class="input-group">
                                <label for="ddlSituacao">Situação</label>
                                <span class="input-group-add-on input-group-btn" data-bind="if: IdCriacaoLote() != null">
                                    <button type="button" data-bind="click: vmParams.vmHistoricoSituacao.VerHistorico" class="btn btn-primary btn-link" style="height:5px;margin-top:-20px;text-transform:none;">(Ver Histórico)</button>
                                </span>
                            </div>
                            @HtmlHelper.Select.SearchableKO("ddlSituacao", "IdCriacaoCaracterizacaoSituacao", "IdCriacaoCaracterizacao", "Descricao", "Descricao", "Descricao", "/Criacao/Caracterizacao/List", "Ativo:true, IdCriacaoCaracterizacaoTipo:1", idChaveRelacao: "IdCriacaoCaracterizacao", required: true)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="pnlDescricao" data-bind="visible: UtilizarDescricaoLote">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="txtDescricao">Nome</label>
                                <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: UtilizarDescricaoLote }" class="form-control" maxlength="120" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="ddlOrigem">Origem</label>
                            @HtmlHelper.Select.SearchableKO("ddlOrigem", "IdCriacaoCaracterizacaoOrigem", "IdCriacaoCaracterizacao", "Descricao", "Descricao", "Descricao", "/Criacao/Caracterizacao/List", "Ativo:true, IdCriacaoCaracterizacaoTipo:3 ", idChaveRelacao: "IdCriacaoCaracterizacao", required: true)
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtDataNascimento" id="lblDataNascimento" data-bind="text: DescricaoLabelDataNascimento"></label>
                            <div class="input-group date form-group">
                                <input data-bind="value: DataNascimentoExibicao, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataNascimentoExibicao }" id="txtDataNascimento" name="txtDataNascimento" class="form-control" />
                                <span class="input-group-addon">
                                    <i class="material-icons">&#xE878;</i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtDataInicioControle">Início Controle</label>
                            <div class="input-group date form-group">
                                <input data-bind="value: DataInicioControleExibicao, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataInicioControleExibicao }" id="txtDataInicioControle" name="txtDataInicioControle" class="form-control" />
                                <span class="input-group-addon">
                                    <i class="material-icons">&#xE878;</i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtTerminoControle">Termino Controle</label>
                            <div class="input-group date form-group">
                                <input data-bind="value: DataTerminoControleExibicao, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataTerminoControleExibicao }" id="txtTerminoControle" name="txtTerminoControle" class="form-control" />
                                <span class="input-group-addon">
                                    <i class="material-icons">&#xE878;</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Informe Individual-->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="chkInformeIndividual">Os Animais que compõe este Lote são informado individualmente (um a um)</label>
                            <input type="checkbox" class="no-uniform" id="chkInformeIndividual" data-bind="checked: InformeIndividual, flipper: { observable: InformeIndividual, options: { 'css':'warning' } }">
                        </div>
                    </div>
                    @*<div class="form-group">
                            <label class="control-label">O Controle é feito por</label><br />
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary btn-inverted">
                                    <input type="radio" name="options" id="option1" value="1" data-bind="bsChecked: TipoControle, css: { active: TipoControle() == 1}"> Grupo
                                </label>
                                <label class="btn btn-primary btn-inverted">
                                    <input type="radio" name="options" id="option1" value="2" data-bind="bsChecked: TipoControle, css: { active: TipoControle() == 2}"> Indivíduo
                                </label>
                            </div>
                        </div>*@
                </div>
                <div class="optional" id="pnlLancamentosContabeisLote" data-bind="collapsible: { vmArray: [ vm.Observacao() ] }">
                    <a href="#">Observação</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="form-group">
                                    <textarea id="txtObservacao" name="txtObservacao" dat-bind="value: Observacao" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" id="pnlAnimaisLoteGrupo" data-bind="visible: vm.InformeIndividual()">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Composição no Lote</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-2">
                        @HtmlHelper.Campo.UnidadeTipo("ddlQuantidadeInicialLote", "QuantidadeInicialLote", "7", "IdUnidadeInicialLote", label: "Quantidade Inicial", ValidateBind: "{ required: vm.InformeIndividual() }", AlteraUnidade: false)
                    </div>
                    <div class="col-xs-2">
                        @HtmlHelper.Campo.UnidadeTipo("QuantidadeAtualLote", "QuantidadeAtualLote", "7", "IdUnidadeAtualLote", label: "Quantidade Atual", ValidateBind: "{ required: vm.InformeIndividual() }", AlteraUnidade: false)
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" id="pnlAnimaisLoteIndividuo" data-bind="visible: !vm.InformeIndividual()">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Animais no Lote</h3>
            </div>
            <div class="panel-body">
                @HtmlHelper.GridView.GridNewEdit(
                id: "Animal", // Declarar na página <template id="newedit-id"></template>
                vm: "Animais",
                columns: @<script>
                    [
                        { 'id': 'IdCriacaoLoteAnimal' },
                        { 'id': 'IdCriacaoLote' },
                        { 'id': 'IdCriacaoAnimal' },
                        { 'id': 'DescricaoCriacaoAnimal', 'displayName': 'Animal', 'header': true },
                        { 'id': 'DataEntradaExibicao', 'displayName': 'Entrada', 'header': true },
                        { 'id': 'DataSaidaExibicao', 'displayName': 'Saída', 'header': true },
                        { 'id': 'Tempo', 'displayName': 'Tempo', 'header': true },
                        { 'id': 'Ativo', 'defaultValue': true, 'header': true, defaultValue: true },
                        defaults.gridNewEdit.column.acao
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: DescricaoCriacaoAnimal }  }"></td>
                    <td data-bind="text: DataEntradaExibicao"></td>
                    <td data-bind="text: DataSaidaExibicao"></td>
                    <td data-bind="text: Tempo"></td>
                    <td data-bind="template: { name: 'label-status' }"></td>
                    <td data-bind="template: { name: 'button-edit' }"></td>
                </tr>, orderByCol: "DescricaoCriacaoAnimal", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)
            </div>
        </div>
        <div class="panel panel-default" data-toggle="collapsible" id="pnlLocalizacao">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Localização</h3>
            </div>
            <div class="panel-body">
                @HtmlHelper.GridView.GridNewEdit(
                id: "local", // Declarar na página <template id="newedit-id"></template>
                vm: "Locais",
                columns: @<script>
                    [
                        { 'id': 'IdCriacaoLoteLocal' },
                        { 'id': 'IdCriacaoLote' },
                        { 'id': 'IdProducaoLocal' },
                        { 'id': 'IdProducaoUnidade' },
                        { 'id': 'DescricaoLocalUnidade', 'displayName': 'Local', 'header': true },
                        { 'id': 'DataEntradaExibicao', 'displayName': 'Entrada', 'header': true },
                        { 'id': 'DataSaidaExibicao', 'displayName': 'Saída', 'header': true },
                        { 'id': 'Tempo', 'displayName': 'Tempo', 'header': true },
                        defaults.gridNewEdit.column.acao
                    ]
                    </script>,
                templateRows:
                    @<tr>
                        <td data-bind="template: { name: 'link-edit', data: { text: DescricaoLocalUnidade }  }"></td>
                        <td data-bind="text: DataEntradaExibicao"></td>
                        <td data-bind="text: DataSaidaExibicao"></td>
                        <td data-bind="text: Tempo"></td>
                        <td data-bind="template: { name: 'button-edit' }"></td>
                    </tr>,
                                                                                   orderByCol: "DescricaoLocalUnidade",
                                                                                   orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)
            </div>
        </div>
        <div class="panel panel-default" data-toggle="collapsible" id="pnlProprietarios">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Criador e Proprietário</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="form-group">
                            <label for="ddlProprietarioLote">Criador</label>
                            @HtmlHelper.Select.SearchableKO("ddlProprietarioLote", "IdPessoa", "IdPessoa", "NomeSecundario", "ApelidoFantasia", "NomeSecundario", "/Corporativo/Pessoa/ListPessoaPersonalizado", "ComPessoa:true,ComEmpresaUsuaria:true,ComEmpresa:false,Ativo:true, IdPessoaNaturezaNotIn: 4", required: true)
                        </div>
                    </div>
                </div>
                @HtmlHelper.GridView.GridNewEdit(
                id: "Proprietario", // Declarar na página <template id="newedit-id"></template>
                vm: "Proprietarios",
                columns: @<script>
                    [
                        { 'id': 'IdCriacaoLoteProprietario' },
                        { 'id': 'IdCriacaoLote' },
                        { 'id': 'IdPessoa' },
                        { 'id': 'NomeSecundarioPessoa', 'displayName': 'Apelido ou Fantasia', 'header': true, sortable: true },
                        { 'id': 'Cota', 'displayName': '% Cota ', 'header': true },
                        { 'id': 'Principal', 'displayName': 'Principal', 'header': true, 'defaultValue': false },
                        { 'id': 'Ativo', 'defaultValue': true, 'header': true },
                        defaults.gridNewEdit.column.acao
                    ]
                    </script>,
                templateRows:
                    @<tr>
                        <td data-bind="template: { name: 'link-edit', data: { text: NomeSecundarioPessoa }  }"></td>
                        <td data-bind="text: Cota"></td>
                        <td data-bind="template: { name: 'label-status', data: { status: Principal } }"></td>
                        <td data-bind="template: { name: 'label-status' }"></td>
                        <td data-bind="template: { name: 'button-edit' }"></td>
                    </tr>, orderByCol: "NomeSecundarioPessoa", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false, displayMode: "panel")

            </div>
        </div>
        <div class="panel panel-default panel-action">
            <div class="panel-body">
                <button type="submit" id="btn-salvar" class="btn btn-secondary btn-lg btn-primary-action"><i class="material-icons">&#xE5CA;</i> Salvar</button>
                <a href="#List" type="button" class="btn btn-primary btn-inverted btn-lg"><i class="material-icons">&#xE5C4;</i> Voltar</a>
                @if (@Model.IdCriacaoLote.HasValue)
                    {
                    <a href="#History/CriacaoLote/@Model.IdCriacaoLote" type="button" class="btn btn-primary btn-inverted btn-lg pull-right"><i class="material-icons">&#xE889;</i> Histórico</a>
                    }
            </div>
        </div>
    </form>

    <template id="newedit-local">
        <input type="hidden" data-bind="value: DescricaoLocalUnidade = vmParams.vmProducaoLocalDescricao.Descricao() + ' - ' + vmParams.vmProducaoUnidadeDescricao.Descricao()" />
        <input type="hidden" data-bind="value: Tempo" />
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="ddlProducaoLocal">Local</label>
                    @HtmlHelper.Select.SearchableKO("ddlProducaoLocal", "IdProducaoLocal", "IdProducaoLocal", "DescricaoExibicao", "BuscaAvancada", "DescricaoExibicao", "/Agricola/LocalProducao/List", "Ativo: true", vmTextSelected: "vmParams.vmProducaoLocalDescricao.Descricao", required: true)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="ddlProducaoUnidade">Unidade</label>
                    @HtmlHelper.Select.SearchableKO("ddlProducaoUnidade", "IdProducaoUnidade", "IdProducaoUnidade", "Descricao", "Descricao", "Descricao", "/Agricola/Unidade/List", "Ativo: true", vmTextSelected: "vmParams.vmProducaoUnidadeDescricao.Descricao", required: true)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="txtDataEntradaExibicao">Entrada</label>
                    <div class="input-group date form-group">
                        <input data-bind="value: DataEntradaExibicao, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataEntradaExibicao }, required: { validate: true }" id="txtDataEntradaExibicao" name="txtDataEntradaExibicao" class="form-control" />
                        <span class="input-group-addon">
                            <i class="material-icons">&#xE878;</i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="txtDataSaidaExibicao">Saída</label>
                    <div class="input-group date form-group">
                        <input data-bind="value: DataSaidaExibicao, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataSaidaExibicao }" id="txtDataSaidaExibicao" name="txtDataSaidaExibicao" class="form-control" />
                        <span class="input-group-addon">
                            <i class="material-icons">&#xE878;</i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </template>

    @* panels proprietário *@
    <template id="newedit-Proprietario">
        <input type="hidden" data-bind="value: NomeSecundarioPessoa = vmParams.vmProprietario.NomePessoa()" />
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="ddlPessoa">Proprietário</label>
                    @*@HtmlHelper.Select.SearchableKO("ddlPessoa", "IdPessoa", "IdPessoa", "Nome", "Nomes", "Nome", "/Corporativo/Pessoa/ListPessoaPersonalizado", "ComPessoa:true,ComEmpresaUsuaria:true,ComEmpresa:false,Ativo:true", vmTextSelected: "vmProprietario.NomePessoa")*@
                    @HtmlHelper.Select.SearchableKO("ddlPessoa", "IdPessoa", "IdPessoa", "NomeSecundario", "Nomes", "NomeSecundario", "/Corporativo/Pessoa/ListPessoaPersonalizado", "ComPessoa:true,ComEmpresaUsuaria:true,ComEmpresa:false,Ativo:true, IdPessoaNaturezaNotIn: 4", vmTextSelected: "vmParams.vmProprietario.NomePessoa")
                </div>
            </div>
            <div class="col-xs-12 form-group">
                <a href="#" class="link-edit panel-open-next">Não encontrou? Adicione um Novo</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="txtCota">Cota</label>
                    <div class="input-group">
                        <input type="text" id="txtCota" name="txtCota" data-bind="value: Cota, validate: { required: { params: true, message: '' } }" class="form-control" maxlength="5" />
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <div class="form-group">
                    <label class="control-label" for="chkProprietarioPrincipal">Principal</label>
                    <input type="checkbox" class="no-uniform" id="chkProprietarioPrincipal" data-bind="checked: Principal, flipper: { observable: Principal, options:  { 'css': 'warning' } }">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <div class="form-group">
                    <label class="control-label" for="chkProprietarioAtivo">Ativo</label>
                    <input type="checkbox" class="no-uniform" id="chkProprietarioAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                </div>
            </div>
        </div>
    </template>

    <template id="newedit-Proprietario-1" data-tab-id="Proprietario" data-tab-title="Adicionar pessoa">
        @Html.Partial("~/Areas/Corporativo/Views/Pessoa/_PartialPessoa.cshtml", Model.Pessoa)
    </template>

    <template id="newedit-Animal">
        <input type="hidden" data-bind="value: Tempo" />
        <input type="hidden" data-bind="value: DescricaoCriacaoAnimal" />
        <div class="row">
            <div class="col-xs-8">
                <div class="form-group">
                    <label for="ddlCriacaoAnimal">Animal</label>
                    <input type="hidden" id="txtDescricaoCriacaoAnimal" name="txtDescricaoCriacaoAnimal" data-bind="value: DescricaoCriacaoAnimal = vmParams.vmCriacaoAnimal.Descricao()" />
                    @HtmlHelper.Select.SearchableKO("ddlCriacaoAnimal", "IdCriacaoAnimal", "IdCriacaoAnimal", "Descricao", "Descricao", "Descricao", "/Criacao/Animal/List", "Ativo: true", vmTextSelected: "vmParams.vmCriacaoAnimal.Descricao", required: true)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="txtDataEntradaExibicao">Entrada</label>
                    <div class="input-group date form-group">
                        <input data-bind="value: DataEntradaExibicao, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataEntradaExibicao }, validate : { required:true }" id="txtDataEntradaExibicao" name="txtDataEntradaExibicao" class="form-control" />
                        <span class="input-group-addon">
                            <i class="material-icons">&#xE878;</i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="txtDataSaidaExibicao">Saída</label>
                    <div class="input-group date form-group">
                        <input data-bind="value: DataSaidaExibicao, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataSaidaExibicao }" id="txtDataSaidaExibicao" name="txtDataSaidaExibicao" class="form-control" />
                        <span class="input-group-addon">
                            <i class="material-icons">&#xE878;</i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="control-label" for="chkAnimalAtivo">Ativo</label>
                    <input type="checkbox" class="no-uniform" id="chkAnimalAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                </div>
            </div>
        </div>
    </template>

    @HtmlHelper.Html.Modal("modal-HistoricoCategoria", "Histórico", @<div class="modal-body">
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Categoria</th>
                        <th>Usuário</th>
                        <th>Data Hora</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: {data: Data() }">
                    <tr>
                        <td><span data-bind="text: DescricaoCriacaoCategoria"></span></td>
                        <td><span data-bind="text: NomePessoa"></span></td>
                        <td><span data-bind="text: DataHora"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>)

    @HtmlHelper.Html.Modal("modal-HistoricoSituacao", "Histórico", @<div class="modal-body">
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Situação</th>
                        <th>Usuário</th>
                        <th>Data Hora</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: {data: Data() }">
                    <tr>
                        <td><span data-bind="text: DescricaoCriacaoCaracterizacao"></span></td>
                        <td><span data-bind="text: NomePessoa"></span></td>
                        <td><span data-bind="text: DataHora"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>)
</div>