﻿@model HTM.MasterGestor.Web.UI.Areas.Agricola.ViewModels.TipoLocal.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-TipoLocal-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkPermiteSubLocais">Possui ou Permite SubLocais ou Unidades de Produção?</label>
                            <input type="checkbox" class="no-uniform" id="chkPermiteSubLocais" data-bind="checked: PermiteSubLocais, flipper: { observable: PermiteSubLocais, options: { 'css': 'warning' } }">
                        </div>
                    </div>
                </div>
                <div class="optional" data-toggle="collapsible" data-optional-label-text="(Opcional)" id="pnlDadosAdicionais">
                    <a href="#">Controle de Áreas e Prefixo</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label" for="chkPossuiUnidadeProducao">Possui Controle de Áreas</label>
                                    <input type="checkbox" class="no-uniform" id="chkPossuiUnidadeProducao" data-bind="checked: PossuiUnidadeProducao, flipper: {observable: PossuiUnidadeProducao, options: { 'css': 'warning' }} ">
                                </div>
                                <div id="pnlUnidade" data-bind="visible: vm.PossuiUnidadeProducao()">
                                    <div class="form-group">
                                        <label for="ddlUnidade">Unidade Padrão de Área</label>
                                        @HtmlHelper.Select.SearchableKO("ddlUnidade", "IdUnidade", "IdUnidade", "Descricao", "Descricao", "Descricao", "/Estoque/Unidade/List", "Ativo: true, IdUnidadeTipo: 2", dataBind: "validate: { required: vm.PossuiUnidadeProducao }")
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="txtPrefixo">Prefixo para Código</label>
                                    <input type="text" id="txtPrefixo" name="txtPrefixo" data-bind="value: Prefixo" class="form-control" maxlength="5" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="chkPermiteRepresentacaoGeo">Permite Representação Geográfica</label>
                            <input type="checkbox" class="no-uniform" id="chkPermiteRepresentacaoGeo" data-bind="checked: PermiteRepresentacaoGeo, flipper: { observable: PermiteRepresentacaoGeo, options: { 'css': 'warning' } }">
                        </div>
                    </div>

                    <div class="col-xs-4" data-bind="visible: PermiteRepresentacaoGeo">
                        <div class="form-group">
                            <label class="control-label" for="chkGeracaoAutomaticaMapa">Geração automática do Mapa </label>
                            <input type="checkbox" class="no-uniform" id="chkGeracaoAutomaticaMapa" data-bind="checked: GeracaoAutomaticaMapa, flipper: { observable: GeracaoAutomaticaMapa, options: { 'css': 'warning' } }">
                        </div>
                    </div>

                </div>

                <div class="row" data-bind="visible: PermiteRepresentacaoGeo">
                    <!-- Cor -->
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtCor">Cor <span data-bind="text: '(' + (ko.unwrap(Cor) === null ? 'nenhuma selecionada' : ko.unwrap(Cor)) + ')'"></span></label>
                            <seletor-cores id="txtCor" params="setColorToLayer: false, selectedColor: Cor"></seletor-cores>
                        </div>
                    </div>
                </div>
                
                <div class="row" data-bind="visible: PermiteRepresentacaoGeo">
                    <!-- categoria camada -->
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlMapeamentoCamadaCategoria">Categoria Camada</label>
                            @HtmlHelper.Select.SearchableKO("ddlMapeamentoCamadaCategoria", "IdMapeamentoCamadaCategoria", "IdMapeamentoCamadaCategoria", "Descricao", "Descricao", "Descricao", "/Mapeamento/Categoria/List", "Ativo: true, Base: 1", dataBind: "validate: { required: vm.PermiteRepresentacaoGeo }")
                        </div>
                    </div>
                    <!-- camada -->
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlMapeamentoCamada">Camada</label>
                            @HtmlHelper.Select.SearchableKO("ddlMapeamentoCamada", "IdMapeamentoCamada", "IdMapeamentoCamada", "DescricaoComposta", "BuscaAvancada", "DescricaoComposta", "/Mapeamento/Camada/List", "Ativo: true", dataBind: "validate: { required: vm.PermiteRepresentacaoGeo }", idControleDependencia: "ddlMapeamentoCamadaCategoria", idDependencia: "IdMapeamentoCamadaCategoria")
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: defaults.flipper.ativoInativo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>