﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.SubProcesso.IndexVM

<!-- set area navigation -->
<routeoptions data-show-back-button="true" data-show-breadcrumb="true" data-route-custom='route-processo' data-title-descricao="@Model.DescricaoProcesso"></routeoptions>

<div id="filtro-grade">
    <template id="filter-SubProcessoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
        id: "SubProcessoIndex",
        newUrl: "#/Corporativo/SubProcesso/New",
        editUrl: "#/Corporativo/SubProcesso/Edit",
        listUrl: "/Corporativo/SubProcesso/List",
        columns:
        @<script>
            [
                { 'id': 'IdSubProcesso', editColumn: true },
                { 'id': 'IdProcesso', filter: true, defaultValue: @Model.ParentId.ToString() },
                { 'id': 'Descricao', header: true, filter: true, displayName: 'Descrição', sortable: true, defaultFilter:true },
                { 'id': 'Ordem', header: true, filter: true, displayName: 'Ordem', sortable: true },
                defaults.gridNewEdit.column.ativo,
                defaults.gridNewEdit.column.acao
            ]
        </script>,
        templateRows:
        @<tr>
            <td data-bind="text: Descricao, id: IdSubProcesso"></td>
             <td data-bind="text: Ordem"></td>
            <td data-bind="template: 'label-status'"></td>
            <td data-bind="template: { name: 'button-edit-url', data: { id: IdSubProcesso } }"></td>
        </tr>, parentId: Model.ParentId.ToString(), api: "indexVM.api", orderByCol: "Ordem", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)
</div>
@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}

