﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.SubProcesso.NewEditVM

<routeoptions data-route-custom='route-processo' data-action-title="listagem de sub processo" data-title-descricao="@Model.DescricaoExibicao"></routeoptions>

<div data-bind="stopBindings: true">
    <form id="form-SubProcesso-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtDescricao">Descrição</label>
                                <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="150" />
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <div class="form-group">
                                <label for="txtOrdem">Ordem</label>
                                <input type="number" id="txtOrdem" name="txtOrdem" data-bind="value: Ordem" class="form-control" maxlength="4" />
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkPermiteAprovacao">Permite Aprovação</label>
                                <input type="checkbox" class="no-uniform" id="chkPermiteAprovacao" data-bind="checked: PermiteAprovacao, flipper: { observable: PermiteAprovacao, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkPermiteTransacao">Permite Transação</label>
                                <input type="checkbox" class="no-uniform" id="chkPermiteTransacao" data-bind="checked: PermiteTransacao, flipper: { observable: PermiteTransacao, options: {'css': 'warning'} }">
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: PermiteTransacao">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTransacao">Transações possíveis de serem  realizadas</label>
                                @HtmlHelper.Select.SearchableKO("ddlTransacao", "IdsTransacao", "IdTransacaoIn", "Descricao", "Descricao", "Descricao", "/Corporativo/Transacao/List", "Ativo:true", idChaveRelacao: "IdTransacao", dataBind: "validate: { required: PermiteTransacao }", multiple: true)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkRepresentaDocumentoTipo">Representa algum Tipo de Documento</label>
                                <input type="checkbox" class="no-uniform" id="chkRepresentaDocumentoTipo" data-bind="checked: RepresentaDocumentoTipo, flipper: { observable: RepresentaDocumentoTipo, options: {'css': 'warning'} }">
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: RepresentaDocumentoTipo">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="ddlDocumentoTipo">Tipo de Documento</label>
                                @HtmlHelper.Select.SearchableKO("ddlDocumentoTipo", "IdDocumentoTipo", "IdDocumentoTipo", "Descricao", "Descricao", "Descricao", "/Contabilidade/DocumentoTipo/List", "Ativo:true", dataBind: "validate: { required: RepresentaDocumentoTipo }")
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="ddlTela">Quais Telas executam este Sub Processo</label>
                                @HtmlHelper.Select.SearchableKO("ddlTela", "IdsTela", "IdTelaIn", "Descricao", "Descricao", "Descricao", "/Configuracao/Tela/List", "Ativo:true", idChaveRelacao: "IdTela", multiple: true)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkAtivo">Ativo</label>
                                <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" data-toggle="collapsible" id="pnlAcoes">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Ações que Modificam o Sub Processo</h3>
                </div>
                <div class="panel-body">
                    @HtmlHelper.GridView.GridNewEdit(
                id: "Acao", // Declarar na página <template id="newedit-id"></template>
                vm: "lstAcao",
                vmExtend: "vmAcaoExtend",
                columns: @<script>
                    [
                        { 'id': 'IdSubProcessoAcao', 'header': true, 'displayName': 'Código' },
                        { 'id': 'IdSubProcesso' },
                        { 'id': 'TipoEvento' },
                        { 'id': 'TipoEventoSistema' },
                        { 'id': 'IdProcessoSituacaoDestino' },
                        { 'id': 'TipoPermissaoComentario' },
                        { 'id': 'AlteraDocumentoTipo' },
                        { 'id': 'IdsProcessoSituacao' },
                        { 'id': 'Descricao', 'displayName': 'Descrição', 'header': true },
                        { 'id': 'InicioProcesso', 'header': true, 'displayName': "Inicial", 'sortable': true, 'defaultValue': false },
                        { 'id': 'DescricaoProcessoSituacaoDestino', 'displayName': 'Situação Destino', 'header': true },
                        { 'id': 'Ordem', 'displayName': 'Ordem', 'header': true },
                        { 'id': 'Ativo', 'defaultValue': true, 'header': true },
                        defaults.gridNewEdit.column.acao
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: IdSubProcessoAcao }  }"></td>
                    <td data-bind="template: { name: 'link-edit', data: { text: Descricao }  }"></td>
                    <td data-bind="template: { name: 'label-status', data: { status: InicioProcesso } }"></td>
                    <td data-bind="text: DescricaoProcessoSituacaoDestino"></td>
                    <td data-bind="text: Ordem"></td>
                    <td data-bind="template: { name: 'label-status' }"></td>
                    <td data-bind="template: { name: 'button-edit' }"></td>
                </tr>, orderByCol: "Descricao", orderByDir: HelpersUtil.OrderByDirEnum.Asc)
                </div>
            </div>
        </div>
    </form>

    <template id="newedit-Acao">
        <div class="row">
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="txtOrdemAcao">Ordem</label>
                    <input type="number" id="txtOrdemAcao" name="txtOrdemAcao" data-bind="value: Ordem,mask: { options: defaults.mask.integer, value: Ordem }" class="form-control" />
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="txtDescricaoAcao">Descrição</label>
                    <input type="text" id="txtDescricaoAcao" name="txtDescricaoAcao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label class="control-label" for="chkInicioProcesso">Esta Situação inicia um Processo</label>
                    <input type="checkbox" class="no-uniform" id="chkInicioProcesso" data-bind="checked: InicioProcesso, flipper: { observable: InicioProcesso, options: { 'css': 'warning' } }">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="ddlTipoEvento" class="control-label">Tipo de Evento</label>
                    <select id="ddlTipoEvento" name="ddlTipoEvento" class="form-control no-search" data-bind="value: TipoEvento">
                        <option value="1">Manual</option>
                        <option value="2">Automático</option>
                        <option value="3">Manual e Automático</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="ddlTipoEventoSistema" class="control-label">Evento do Sistema</label>
                    <select id="ddlTipoEventoSistema" name="ddlTipoEventoSistema" class="form-control no-search" data-bind="value: TipoEventoSistema">
                        <option value="1">Financeiro: Inclusão Manual de Título a Pagar</option>
                        <option value="2">Financeiro: Inclusão via Sistema de Título a Pagar</option>
                        <option value="3">Financeiro: Pagamento de Título</option>
                        <option value="4">Financeiro: Cancelamento de Título a Pagar</option>
                        <option value="5">Financeiro: Agrupamento de Título a Pagar</option>
                        <option value="6">Financeiro: Inclusão Manual de Título a Receber</option>
                        <option value="7">Financeiro: Inclusão via Sistema de Título a Receber</option>
                        <option value="8">Financeiro: Recebimento de Título</option>
                        <option value="9">Financeiro: Cancelamento de Título a Receber</option>
                        <option value="10">Financeiro: Agrupamento de Título a Receber</option>
                        <option value="11">Financeiro: Inclusão Manual de Antecipação de Compra ou Entrada</option>
                        <option value="12">Financeiro: Inclusão via Sistema de Antecipação de Compra ou Entrada</option>
                        <option value="13">Financeiro: Pagamento de Antecipação de Compra ou Entrada</option>
                        <option value="14">Financeiro: Baixa de Antecipação de Compra ou Entrada</option>
                        <option value="15">Financeiro: Cancelamento de Antecipação de Compra ou Entrada</option>
                        <option value="16">Financeiro: Inclusão Manual de Antecipação de Venda ou Saída</option>
                        <option value="17">Financeiro: Inclusão via Sistema de Antecipação de Venda ou Saída</option>
                        <option value="18">Financeiro: Recebimento de Antecipação de Venda ou Saída</option>
                        <option value="29">Financeiro: Baixa de Antecipação de Venda ou Saída</option>
                        <option value="20">Financeiro: Cancelamento de Antecipação de Venda ou Saída</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" data-bind="visible: InicioProcesso() == false">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="ddlProcessoSituacao">Situações que permitem esta Ação</label>
                    @HtmlHelper.Select.SearchableKO("ddlProcessoSituacao", "IdsProcessoSituacao", "IdProcessoSituacaoIn", "Descricao", "Descricao", "Descricao", "/Corporativo/ProcessoSituacao/List", idChaveRelacao: "IdProcessoSituacao", multiple: true, dataBind: "validate: { required: InicioProcesso() == false }", dadosComplObservable: "dadosCompleSituacao")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <div class="form-group">
                    <label class="control-label" for="chkAtivoAcao">Ativo</label>
                    <input type="checkbox" class="no-uniform" id="chkAtivoAcao" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                </div>
            </div>
        </div>
        <fieldset>
            <legend>
                DEFINIÇÃO DE SITUAÇÃO, DOCUMENTO E COMENTÁRIO
            </legend>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="ddlProcessoSituacaoDestino">Situação Destino (que ficará)</label>
                        @HtmlHelper.Select.SearchableKO("ddlProcessoSituacaoDestino", "IdProcessoSituacaoDestino", "IdProcessoSituacao", "CodigoDescricao", "Descricao", "CodigoDescricao", "/Corporativo/ProcessoSituacao/List", idChaveRelacao: "IdProcessoSituacao", vmTextSelected: "DescricaoProcessoSituacaoDestino", required: true,dadosComplObservable:"dadosCompleSituacao")
                    </div>
                    @*<label class="control-label" for="chkPermiteAlterarSituacao">Permite alterar Situaçao</label>
                        <input type="checkbox" class="no-uniform" id="chkPermiteAlterarSituacao" data-bind="checked: PermiteAlterarSituacao, flipper: { observable: PermiteAlterarSituacao, options: { 'css' : 'warning'  } }">*@
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="ddlTipoPermissaoComentario" class="control-label">Permissão para Comentários</label>
                        <select id="ddlTipoPermissaoComentario" name="ddlTipoPermissaoComentario" class="form-control no-search" data-bind="value: TipoPermissaoComentario">
                            <option value="1">Não Permitido</option>
                            <option value="2">Permitido</option>
                            <option value="3">Obrigatório</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label" for="chkAlteraDocumentoTipo">Altera o Tipo de Documento</label>
                        <input type="checkbox" class="no-uniform" id="chkAlteraDocumentoTipo" data-bind="checked: AlteraDocumentoTipo, flipper: { observable: AlteraDocumentoTipo, options: { 'css': 'warning' } }">
                    </div>
                </div>
            </div>
        </fieldset>
    </template>

</div>
