﻿@using System.Web.Optimization;
@using HTM.MasterGestor.Web.UI.Infrastructure;
@using System.Web.Script.Serialization;
@model HTM.MasterGestor.Web.UI.ViewModels.Login.IndexVM

<!DOCTYPE html>

<html>
<head>
    @Html.Partial("~/Views/_PartialHeader.cshtml")

    @if (Model != null && Model.SetCores != null)
    {
        switch (Model.SetCores)
        {
            case 2:
                <link href="~/App_Assets/publish/css/theme-2/all.min.css" rel="stylesheet" />
                <link href="~/App_Assets/publish/css/theme-2/logon.min.css" rel="stylesheet" />
                break;
            case 3:
            <link href="~/App_Assets/publish/css/theme-3/all.min.css" rel="stylesheet" />
            <link href="~/App_Assets/publish/css/theme-3/logon.min.css" rel="stylesheet" />
                break;
            case 4:
            <link href="~/App_Assets/publish/css/theme-4/all.min.css" rel="stylesheet" />
            <link href="~/App_Assets/publish/css/theme-4/logon.min.css" rel="stylesheet" />
                break;
            default:
            <link href="~/App_Assets/publish/css/all.min.css" rel="stylesheet" />
            <link href="~/App_Assets/publish/css/logon.min.css" rel="stylesheet" /><!-- theme-default -->
                break;
        }
    }

    @RenderSection("Head", false)

    <link href="~/mg-assets/styles/custom.css" rel="stylesheet" />

    @if (Model != null && Model.Favicon != "")
    {
        <link rel="icon" href="@Url.Content("~/" + Model.Favicon)" />
        <link rel="apple-touch-icon" href="@Url.Content("~/" + Model.Favicon)" />
        <meta name="msapplication-TileImage" content="@Url.Content("~/" + Model.Favicon)" />
    }

    <title>@(Model != null && Model.DescricaoTela != "" ? Model.DescricaoTela : (ViewBag.Title != null ? ViewBag.Title : ""))</title>

    <!--[if lte IE 9]>
        <style type="text/css">
            .mensagem-compatibilidade {
                display: block !important;
            }
            .form-group, .btn, input, i {
                display: none !important;
            }
        </style>
    <![endif]-->
</head>
<body>

    <div id="slider"></div>

    @RenderBody()
    <aside>
        @RenderSection("Modal", false)
    </aside>

    @RenderSection("Scripts", false)

</body>
</html>
