﻿@using System.Web.Optimization;
@using HTM.MasterGestor.Web.UI.Infrastructure;
@using System.Web.Script.Serialization;
@model HTM.MasterGestor.Web.UI.Infrastructure.VMIndexBase

<!DOCTYPE html>

<html>
<head>
    @Html.Partial("~/Views/_PartialHeader.cshtml")

    @RenderSection("Head", false)

    <link href="~/mg-assets/styles/custom.css" rel="stylesheet" />


    <!-- mapa -->
    @*<link href="~/Map_Assets/bower_components/leaflet/dist/leaflet.css" rel="stylesheet" />
    <link href="~/Map_Assets/bower_components/intro.js/introjs.css" rel="stylesheet" />
    <link href="~/Map_Assets/bower_components/leaflet-measure-path/leaflet-measure-path.css" rel="stylesheet" />*@
    <link href="~/Map_Assets/dist/styles/vendor.css" rel="stylesheet" />  
    <link href="~/Map_Assets/dist/styles/main.css" rel="stylesheet" />


    <title>@(Model != null ? Model.TituloTela : (ViewBag.Title != null ? ViewBag.Title : ""))</title>
</head>
<body class="loading-panels">
    <div id="sidebar-chat">
        <p style="display:none">O chat está inativo no momento. Tente novamente mais tarde.</p>
    </div>

    <section id="content">
        @if (ControladorSessaoUsuario.SessaoCorrente != null)
        {
            <div class="content-header">
                <div id="aside-navbar" class="clearfix">
                    <ul class="nav navbar-nav">
                        <li class="navbar-icon">
                            <a href="#" class="menu-toggle">
                                <i class="material-icons">&#xE3C7;</i>
                            </a>
                        </li>
                        <li class="navbar-brand">
                            <a href="/">
                                @if (ControladorSessaoUsuario.SessaoCorrente.Tema.LogoInterno.Length > 0)
                                {
                                    <img src="@Url.Content("~/" + ControladorSessaoUsuario.SessaoCorrente.Tema.LogoInterno)" alt="@ControladorSessaoUsuario.SessaoCorrente.Tema.Descricao" />
                                }
                                @ControladorSessaoUsuario.SessaoCorrente.Tema.Descricao
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav pull-right" data-bind="stopBindings: true">
                        <li class="navbar-icon" id="bind-empresas">
                            <a data-toggle="dropdown" href="#" data-bind="click: DropdownEmpresasClick">
                                <div class="container-image container-image-bg container-34-34 container-empresa">
                                    <i class="material-icons">store</i>
                                </div>
                                <span class="text text-overflow" id="empresaNomeFantasia">@ControladorSessaoUsuario.SessaoCorrente.PessoaEmpresa.NomeSecundarioPessoa</span>
                                <span style="display: none" id="empresaNome">@ControladorSessaoUsuario.SessaoCorrente.PessoaEmpresa.NomePessoa</span>
                            </a>
                            <div class="dropdown-menu dropdown-empresa arrow-big left top" role="menu">
                                <div class="list-group" role="menu" data-bind="foreach: Empresas">
                                    <a class="list-group-item" data-bind="text: NomeSecundario, attr: {href: '/Login/TrocarEmpresaUsuaria/?idPessoa=' + IdPessoa + '&url=@HttpUtility.UrlEncode((Model != null && Model.Tela != null ? Model.Tela.Url : ""))' }"></a>
                                </div>
                                <div class="footer">
                                    <div class="hora-servidor">
                                        <i class="fa fa-clock-o"></i> <span id="hora-servidor" data-time="@DateTime.Now.ToString("MM/dd/yyyy HH:mm:ss")">@DateTime.Now.ToString("dd/MM/yyyy - HH:mm")</span>
                                    </div>
                                    <div class="configuracao">
                                        <a class="btn btn-primary btn-icon" data-bind=" attr: {href: '/#/Configuracao/Parametro/Configuracao' }"><i class="material-icons">&#xE8B8;</i></a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="navbar-icon" id="notifications">
                            <a data-toggle="dropdown" href="#" data-bind="click: getNovasNotificacoes">
                                <i class="material-icons" style="padding-top: 6px;">public</i>
                                <span class="label label-danger" data-bind="text: qtdNovasNotificacoes, visible: possuiNovasNotificacoes"></span>
                            </a>
                            <div class="dropdown-menu arrow-big top" role="menu" aria-labelledby="dLabel">
                                <div class="list-group" role="menu" data-bind="foreach: listaNovasNotificacoes">
                                    <a class="list-group-item">
                                        <div class="item-aside left">
                                            <div class="" data-bind="css: $root.getNotificacaoTipoCSS(IdNotificacaoTipo)"><i class="material-icons" data-bind="text: $root.getNotificacaoTipoIcone(IdNotificacaoTipo)">close</i></div>
                                        </div>
                                        <div class="item-content">
                                            <h3 data-bind="text: AssuntoFormatado"></h3>
                                            <p class="item-info" data-bind="text: DataHoraEnviada"></p>
                                        </div>
                                    </a>
                                </div>
                                <!-- ko if: listaNovasNotificacoes().length === 0 -->
                                <div class="alert alert-info">Nenhuma nova notificação</div>
                                <!-- /ko -->
                                <div class="footer">
                                    <a href="/#/Configuracao/Notificacao/Todas" class="btn btn-primary btn-block">Ver todas</a>
                                </div>
                            </div>
                        </li>

                        <li id="usuarioPerfil" class="navbar-icon usuario">
                            <a data-toggle="dropdown" href="#">
                                <div class="container-image container-image-bg container-34-34" data-bind="style: { backgroundImage: ArquivoDigitalCSS }">
                                </div>
                            </a>
                            <div class="dropdown-menu user-dropdown arrow-big top" role="menu" aria-labelledby="dLabel">
                                <div class="content">
                                    <div class="user-photo">
                                        <figure class="effect-pull-up container-image container-image-bg container-image-white container-115-115" data-bind="style: { backgroundImage: ArquivoDigitalCSS  }">
                                            <img data-bind="attr: { src: ArquivoDigital, alt: Nome }" src="@Url.Content(ControladorSessaoUsuario.SessaoCorrente.Pessoa.ImagemCaminho)" alt="@ControladorSessaoUsuario.SessaoCorrente.Pessoa.Nome" />
                                        </figure>
                                    </div>
                                    <div class="user-profile">
                                        <p><strong data-bind="html: NomeCompleto"></strong></p>
                                        <p data-bind="text: Email"></p>
                                        <p data-bind="text: Telefone1"></p>
                                        <div class="align-side-by-side">
                                            <a id="btnRedefinirSenha" href="/Login/RedefinirSenha">Alterar Senha</a>
                                            <a id="alterarPerfil" href="/#/Corporativo/UsuarioPerfil/UsuarioPerfil">Alterar Perfil</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <a href="/Login/Sair" class="btn btn-danger btn-icon pull-right"><i class="fa fa-sign-out"></i> Sair</a>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <nav id="mmenuhtml" style="display:none">
                        <ul id="bind-menu">
                            @Html.Raw(ControladorSessaoUsuario.SessaoCorrente.Menu(Model == null ? null : Model.Tela))
                        </ul>
                    </nav>
                </div>

                <div id="content-header-toolbar" style="display: none">
                    <h1>
                        <span id="btnBack" class="btn-back-container"><a href="#List" class="btn-back btn-primary btn-inverted btn-rounded-icon"></a></span>
                        @*<span id="tituloTela" data-bind="text: tituloTela" class="title-text loading-fade">@(Model != null ? Model.TituloTela : "")</span>*@
                        <span class="title-header title-aditional-info" id="title-aditional-info"><span id="title-aditional-info-text"></span> <span id="title-aditional-info-code"></span></span>

                    </h1>

                    <div id="breadcrumb">
                        <ol class="breadcrumb"></ol>
                    </div>

                    <div class="pull-right">
                        <button type="button" class="btn-help btn-primary btn-inverted btn-rounded-icon" id="btn-help" style="display: none"></button>
                        <span id="ctnAlternarFavorito"></span>
                    </div>
                </div>
            </div>
        }

        <div class="loading-panel">
            <div class="panel">
                <div class="panel-body">
                    <svg class="spinner" viewBox="25 25 50 50">
                        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
                    </svg>
                </div>
            </div>
        </div>

        <!-- cabeçalho de impressão -->
        <div class="visible-print-block print-header" id="pageHeaderPrint">
            <div style="display: table; width: 100%">
                @if (ControladorSessaoUsuario.SessaoCorrente.Tema.LogoTelaConexao.Length > 0)
                {
                    <div class="logo-print" style="display: table-cell; width: 1%">
                        <div class="container-image container-160-120 container-flex">
                            <img class="padding-right" src="@Url.Content("~/" + ControladorSessaoUsuario.SessaoCorrente.Tema.LogoTelaConexao)" alt="@ControladorSessaoUsuario.SessaoCorrente.Tema.Descricao" />
                        </div>
                    </div>
                }
                <div style="display: table-cell">

                    <h3 class="text-left" data-bind="text: nomeFantasia">Nome Fantasia da Empresa Usuária</h3>
                    <h3 class="text-left" data-bind="text: razaoSocial">Razão da Empresa Usuária</h3>
                    <h3 class="text-left" data-bind="text: usuario">Usuário</h3>

                </div>
                <div style="display: table-cell">
                    <h3 class="text-right" data-bind="text: tituloTela" id="tituloTelaPrint">Título da Tela</h3>
                    <h3 class="text-right print-page" data-bind="text: dataHora">Data e Hora - Página X/X</h3>
                </div>
            </div>

            @*<div class="row">
                    <div class="col-xs-6">
                        <h3 class="text-left">Nome Fantasia da Empresa Usuária</h3>
                    </div>
                    <div class="col-xs-6">

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">

                    </div>
                    <div class="col-xs-6">

                    </div>
                </div>*@
        </div>
        <!-- /f. cabeçalho-->

        <div id="route-containers">
            <div id="route-container-1">
                @RenderBody()
            </div>
            <div id="route-container-2">
            </div>
            <div id="route-container-3">
            </div>
            <div id="route-container-4">
            </div>
        </div>

    </section>

    <aside id="aside-messages">
        <div id="message-error-404" class="message-container" style="display: none">
            <h2 class="msg-404">404</h2>
            <p>
                Página não encontrada.
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-angle-right"></i> A página não existe, foi removida ou renomeada.</li>
                    <li style="font-weight: 500; font-size: 1.2em; margin-top: 23px;"><i class="fa-li fa fa-long-arrow-left"></i> Procure a tela pelo <a href="#" class="link-edit" id="toggleMenu">menu</a> no canto superior esquerdo.</li>
                </ul>
            </p>
            @*<script>
                    document.body.classList.add('loading-fail');
                    document.getElementById('toggleMenu').addEventListener('click', function (e) {
                        e.preventDefault();
                        $('#mmenuhtml').mmenu('toggleMenu');
                    });
                </script>*@
        </div>


        @* Mensagem erro crítico que será exibida quando não houver nem resposta de erro do servidor (ou seja, irreversível)  *@
        <div id="message-error-fatal" class="message-container" style="display: none">
            <h2 class="msg-404">500</h2>
            <p>
                Desculpem-nos. Ocorreu um erro no sistema.
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-angle-right"></i> O suporte foi notificado e nossos desenvolvedores estão trabalhando rapidamente para resolver a questão.</li>
                    <li style="font-weight: 500; font-size: 1.2em; margin-top: 23px;"><i class="fa-li fa fa-long-arrow-left"></i><a href="#" class="link-edit redirect">Clique aqui</a> para tentar novamente, <br /> ou volte para a <a href="/" class="link-edit">página inicial</a></li>
                </ul>
            </p>
        </div>
        @* Mensagem erro de cliente reversível  *@
        <div id="message-error-client" class="message-container" style="display: none">
            <h2 class="msg-404">500</h2>
            <p>
                Desculpem-nos. Ocorreu um erro ao fazer isto.
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-angle-right"></i><span id="message-client"></span></li>
                    <li style="font-weight: 500; font-size: 1.2em; margin-top: 23px;"><i class="fa-li fa fa-long-arrow-left"></i><a href="#" class="link-edit redirect">Clique aqui</a> para tentar novamente, <br /> ou volte para a <a href="/" class="link-edit">página inicial</a></li>
                </ul>
            </p>
        </div>

        <!-- Modal -->
        <div class="modal fade modal-primary" id="modal-help" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-inverted btn-lg pull-left" data-dismiss="modal"><i class="material-icons">&#xE5C4;</i> Voltar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade modal-sm" id="modal-redefinirsenha" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Alterar senha</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button id="btnRedefinirSenhaSubmit" type="button" class="btn btn-primary">Salvar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- modal sessão expirou -->
        <div class="modal fade modal-sm" id="modal-sessaoexpirou" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="form-sessaoexpirou" data-bind="validateForm: { submitHandler: reconectar }, validateOptions: { appendMessageToContainer: true }">
                        <div class="modal-header">
                            <h4 class="modal-title" style="font-size: 1.6em !important; text-transform: none">Sua sessão foi encerrada..</h4>
                        </div>
                        <div class="modal-body">

                            <div style="display: none" id="message-reconectar-senhainvalida" class="alert alert-icon alert-danger alert-modal"><i class="material-icons"></i><span class="text"></span></div>

                            <i class="material-icons icon-big-rounded pull-left">&#xE897;</i>
                            <p>
                                Sua sessão foi encerrada por inatividade (após 20 minutos), ou finalizada em alguma outra janela ou aba do navegador.
                            </p>
                            <p> Para retornar à sua sessão, digite sua senha abaixo.</p>
                            <div style="margin-top: 25px">
                                <input id="sessaoexpirou-senha" name="sessaoexpirou-senha" class="form-control input-lg" type="password" placeholder="Senha" data-bind="value: senha, validate: { required: true }" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" id="btnReconectar" class="btn btn-primary btn-lg pull-left">Entrar</button>
                            <p style="color: #999; margin-left: 15px; margin-bottom: 0; text-align: left" class="pull-left">
                                Conectado com: <strong style="color: #333; font-weight: 400">@ControladorSessaoUsuario.SessaoCorrente.Pessoa.Nome (@ControladorSessaoUsuario.SessaoCorrente.Pessoa.Usuario.Login) </strong><br />
                                (Se não for você, <a href="/Login">acesse pela página de login</a>)
                            </p>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        @RenderSection("Modal", false)
    </aside>


    <script src="~/Map_Assets/dist/scripts/vendor.js"></script><!-- bower-components -->
    <script type="text/javascript" src='~/mg-assets/scripts/Mapeamento/Libs/turf.min.js'></script>
    <script type="text/javascript" src="../../Map_Assets/app/libs/proj4.js"></script>


    <script data-main="../../../../mg-assets/scripts/routes.js" src="~/App_Assets/publish/scripts/min/require.js"></script>
    <script src="~/mg-assets/scripts/require-config-in.js"></script>

    @RenderSection("Scripts", false)
    @if (ControladorSessaoUsuario.SessaoCorrente != null)
    {
        <script type="text/javascript">
            var SessaoUsuario = {
                ArquivoDigital: '@Url.Content(ControladorSessaoUsuario.SessaoCorrente.UsuarioPerfil.ArquivosDigitais.Count > 0 ? ControladorSessaoUsuario.SessaoCorrente.UsuarioPerfil.ArquivosDigitais[0].CaminhoArquivo : ControladorSessaoUsuario.SessaoCorrente.Pessoa.ImagemCaminho)',
                Nome: '@ControladorSessaoUsuario.SessaoCorrente.Pessoa.Nome',
                NomeSecundario: '@ControladorSessaoUsuario.SessaoCorrente.Pessoa.NomeSecundario',
                Email: '@ControladorSessaoUsuario.SessaoCorrente.Pessoa.Usuario.Email',
                UsuarioLogin: '@ControladorSessaoUsuario.SessaoCorrente.Pessoa.Usuario.Login',
                Telefone1: '@ControladorSessaoUsuario.SessaoCorrente.Pessoa.Telefone1',
                CaminhoImagem: '@Url.Content(ControladorSessaoUsuario.SessaoCorrente.Pessoa.ImagemCaminho)',
                IdUsuario: @HTM.MasterGestor.Web.UI.Infrastructure.ControladorSessaoUsuario.SessaoCorrente.UsuarioPerfil.IdUsuario.ToString(),
                IdUnidadeSelecionado: @ControladorSessaoUsuario.SessaoCorrente.PessoaEmpresa.IdPessoa.ToString(),
                IdEmpresaSelecionada: @ControladorSessaoUsuario.SessaoCorrente.Empresa.IdEmpresa,
                exibeSessaoExpirada: function () {
                    require(['jquery', 'knockout', 'bootstrap/modal', 'ko-validate'], function ($, ko) {
                        var modalElement = document.getElementById('modal-sessaoexpirou'),
                            alertSenhaInvalida = document.getElementById('message-reconectar-senhainvalida'),
                            alertSenhaInvalidaMensagem = alertSenhaInvalida.getElementsByClassName('text')[0],
                            vm = {
                                senha: ko.observable(),
                                reconectar: function () {
                                    if (ko.unwrap(vm.isValid)) {
                                        $.ajax({
                                            url: '/Login/Autenticar',
                                            type: 'POST',
                                            data: {
                                                usuario: SessaoUsuario.UsuarioLogin,
                                                emp: SessaoUsuario.IdEmpresaSelecionada,
                                                senha: vm.senha()
                                            }
                                        }).done(function (result) {
                                            if (result.Sucesso) {
                                                $(modalElement).modal('hide'),
                                                alertSenhaInvalida.style.display = 'none';
                                                vm.senha('');
                                                window.location.reload();
                                            } else {
                                                alertSenhaInvalida.style.display = 'block';
                                                alertSenhaInvalidaMensagem.innerHTML = result.Mensagem;
                                                vm.senha('');
                                            }
                                        }).fail(function (result) {
                                            alertSenhaInvalidaMensagem.innerHTML = 'Ocorreu um erro desconhecido, <a href="/Login">clique aqui</a> para retornar para a tela de acesso.';
                                            alertSenhaInvalida.style.display = 'block';
                                            vm.senha('');
                                        });
                                    } else {
                                        vm.showErrors(true);
                                    }
                                }
                            };

                        // is binded
                        if (ko.contextFor(modalElement) && ko.contextFor(modalElement).hasOwnProperty('$data')) {
                            alertSenhaInvalida.style.display = 'none';
                            vm.senha('');
                        } else {
                            ko.applyBindings(vm, modalElement);
                        }

                        $(modalElement).modal({ keyboard: false }).on('shown.bs.modal', function () {
                            window.setTimeout(function () {
                                $('#sessaoexpirou-senha').focus();
                            }, 200);
                        });
                    });
                }
            };
            require(['layout-main']);
        </script>
    }
</body>
</html>

