﻿@model HTM.MasterGestor.Web.UI.Infrastructure.VMIndexBase
@using HTM.MasterGestor.Web.UI.Infrastructure;

<meta charset="utf-8" />

@*<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />*@
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">*@
@*<link href='https://fonts.googleapis.com/css?family=Montserrat:400|Roboto:400,300|Open+Sans:400' rel='stylesheet' type='text/css'>*@

<link href="~/mg-assets/styles/fonts.css" rel="stylesheet" />
<link href="~/mg-assets/styles/material-icons.css" rel="stylesheet" />
<link rel="stylesheet" href="~/App_Assets/publish/css/debug/print.css">
<link rel="stylesheet" href="~/mg-assets/styles/fontawesome.css">
<link href="~/Map_Assets/app/styles/font-mapearia.css" rel="stylesheet" />
<script type="text/javascript" src="~/mg-assets/scripts/dom4.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBzsbnNfsrV998t1bQpP8PX9wD9z9xdpMU&libraries=drawing,visualization&signed_in=false"></script>
<script type="text/javascript" src="~/mg-assets/scripts/Mapeamento/Libs/wicket.js"></script>
<script type="text/javascript" src="~/mg-assets/scripts/Mapeamento/Libs/wicket-gmap3.js"></script>
<script type="text/javascript" src="~/mg-assets/scripts/Mapeamento/Libs/richmarker.js"></script>


<script src='https://api.mapbox.com/mapbox.js/plugins/turf/v2.0.2/turf.min.js'></script>
<script>
    var isDebugging = @HttpContext.Current.IsDebuggingEnabled.ToString().ToLower();
</script>
<link href="~/App_Assets/publish/css/components.min.css" rel="stylesheet" />

@if (ControladorSessaoUsuario.SessaoCorrente != null) {
    switch (ControladorSessaoUsuario.SessaoCorrente.Tema.SetCores)
    {
        case 2:
            <link href="~/App_Assets/publish/css/theme-2/all.min.css" rel="stylesheet" />
            break;
        case 3:
            <link href="~/App_Assets/publish/css/theme-3/all.min.css" rel="stylesheet" />
            break;
        case 4:
        <link href="~/App_Assets/publish/css/theme-4/all.min.css" rel="stylesheet" />
            break;
        default:
            <link href="~/App_Assets/publish/css/all.min.css" rel="stylesheet" /><!-- theme-default -->
            break;
    }
    if (ControladorSessaoUsuario.SessaoCorrente.Tema.Favicon != null && ControladorSessaoUsuario.SessaoCorrente.Tema.Favicon != "")
    {
        <link rel="icon" href="@Url.Content("~/" + ControladorSessaoUsuario.SessaoCorrente.Tema.Favicon)" />
        <link rel="apple-touch-icon" href="@Url.Content("~/" + ControladorSessaoUsuario.SessaoCorrente.Tema.Favicon)" />
        <meta name="msapplication-TileImage" content="@Url.Content("~/" + ControladorSessaoUsuario.SessaoCorrente.Tema.Favicon)" />
    }

}
else if (HttpContext.Current.IsDebuggingEnabled.ToString().ToLower().Equals("true"))
{
    <link href="~/App_Assets/publish/css/debug/all.css" rel="stylesheet" />
}
else
{
    <link href="~/App_Assets/publish/css/all.min.css" rel="stylesheet" />
}