﻿@model HTM.MasterGestor.Web.UI.Areas.Configuracao.ViewModels.NotificacaoTipo.IndexVM

<div id="filtro-grade" style="display:none;">
    <template id="filter-NotificacaoTipoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroTipo">Tipo Superior</label>            
            @HtmlHelper.Select.SearchableKO("ddlFiltroTipo", "IdNotificacaoTipoIn", "IdNotificacaoTipo", "Descricao", "Descricao", "Descricao", "/Configuracao/NotificacaoTipo/List", "Ativo: true, ComPai: false", idChaveRelacao: "IdNotificacaoTipo", multiple: true)
        </div>        
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "NotificacaoTipoIndex",
    newUrl: "#/Configuracao/NotificacaoTipo/New",
    editUrl: "#/Configuracao/NotificacaoTipo/Edit",
    listUrl: "/Configuracao/NotificacaoTipo/List",
    columns:
    @<script>
        [   
            { 'id': 'Descricao', filter: true, defaultFilter: true, header: true, displayName: 'Descrição', sortable: true },
            { 'id': 'DescricaoCompleta', header: true, displayName: 'Caminho', sortable: true },
            { 'id': 'DescricaoModulo', header: true, displayName: 'Módulo', sortable: true },
            { 'id': 'DescricaoNotificacaoTipoPai', sortable: true },
            { 'id': 'IdNotificacaoTipoIn', filter: true },
            { 'id': 'IdNotificacaoTipo', editColumn: true },
            defaults.gridNewEdit.column.ativo,
            defaults.gridNewEdit.column.acao
        ]
    </script>,
    templateRows:
    @<tr>       
        <td data-bind="text: Descricao"></td>     
        <td data-bind="text: DescricaoCompleta"></td>
        <td data-bind="text: DescricaoModulo"></td>     
        <td data-bind="template: { name: 'label-status' }"></td>       
        <td data-bind="template: { name: 'button-edit-url', data: { id: IdNotificacaoTipo } }"></td>
    </tr>,api: "indexVM.api",orderByCol: "Descricao",orderByDir: HelpersUtil.OrderByDirEnum.Asc,useHiddenColumns: false)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}