﻿@model HTM.MasterGestor.Web.UI.Areas.Configuracao.ViewModels.NotificacaoTipo.NewEditVM
<div data-bind="stopBindings: true">
    <form id="form-NotificacaoTipo-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="txtDescricao">Descrição</label>
                        <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="60" />
                    </div>

                    <div class="form-group">
                        <label for="ddlNotificacaoTipoPai">Tipo Superior</label>
                        <input type="hidden" id="ddlNotificacaoTipoPai" class="form-control" data-allow-clear="true" data-bind="value: IdNotificacaoTipoPai" />
                        @HtmlHelper.Select.SearchableKO("ddlNotificacaoTipoPai", "IdNotificacaoTipo", "IdNotificacaoTipo", "Descricao", "Descricao", "NotificacaoTipo.Descricao", "/Configuracao/NotificacaoTipo/List", dadosComplObservable: "DadosComplementares")
                    </div>

                    <div class="form-group">
                        <label for="ddlModulo">Módulo</label>                        
                        @HtmlHelper.Select.SearchableKO("ddlModulo", "IdModulo", "IdModuloIn", "DescricaoCompleta", "DescricaoCompleta","DescricaoCompleta", "/Configuracao/Modulo/List", "Ativo: true, ComPai:true")
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="chkAtivo">Ativo</label>
                        <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.SimNao }">
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-action">
            <div class="panel-body">
                <button type="submit" id="btn-salvar" class="btn btn-secondary btn-lg btn-primary-action"><i class="material-icons">&#xE5CA;</i> Salvar</button>
                <a href="#List" type="button" class="btn btn-primary btn-inverted btn-lg"><i class="material-icons">&#xE5C4;</i> Voltar</a>
                @if (@Model.IdNotificacaoTipo.HasValue)
                {
                    <a href="#History/NotificacaoTipo/@Model.IdNotificacaoTipo" type="button" class="btn btn-primary btn-inverted btn-lg pull-right"><i class="material-icons">&#xE889;</i> Histórico</a>
                }
            </div>
        </div>
    </form>
</div>


