﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.Titulo.IndexVM

<div id="filtro-grade">
    <template id="filter-FinanceiroTituloIndex">
        <!-- Movimento Financeiro -->
        <div class="form-group">
            <label for="radio">Movimento Financeiro</label><br />
            <div class="btn-group">
                <label for="filter-TipoOperacao1" class="btn-primary btn-inverted btn"><input id="filter-TipoOperacao1" value="1" data-bind="checked: TipoMovimentoFinanceiro, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">A Pagar</label>
                <label for="filter-TipoOperacao2" class="btn-primary btn-inverted btn"><input id="filter-TipoOperacao2" value="2" data-bind="checked: TipoMovimentoFinanceiro, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">A Receber</label>
            </div>
        </div>
        <!-- Tipo de Documento (Pagamento) -->
        <div class="form-group" data-bind="visible: TipoMovimentoFinanceiro() == '1'">
            <label for="ddlFiltroDocumentoTipoPagamento" class="control-label">Documento Tipo</label>
            <div style="min-width: 407px;">
                @HtmlHelper.Select.SearchableKO("ddlFiltroDocumentoTipoPagamento", "IdDocumentoTipo", "IdDocumentoTipo", "DescricaoDocumentoTipo", "DescricaoDocumentoTipo", "DescricaoDocumentoTipo", "/Corporativo/Transacao/ListTransacaoDocumentoTipoRecebimento", "Ativo:true", idChaveRelacao: "IdDocumentoTipo")
            </div>
        </div>
        <!-- Tipo de Documento (Recebimento) -->
        <div class="form-group" data-bind="visible: TipoMovimentoFinanceiro() == '2'">
            <label for="ddlFiltroDocumentoTipoRecebimento" class="control-label">Documento Tipo</label>
            <div style="min-width: 407px;">
                @HtmlHelper.Select.SearchableKO("ddlFiltroDocumentoTipoRecebimento", "IdDocumentoTipo", "IdDocumentoTipo", "DescricaoDocumentoTipo", "DescricaoDocumentoTipo", "DescricaoDocumentoTipo", "/Corporativo/Transacao/ListTransacaoDocumentoTipoRecebimento", "Ativo:true", idChaveRelacao: "IdDocumentoTipo")
            </div>
        </div>
        <!-- Número -->
        <div class="form-group" style="margin-left:110px; width: 90px">
            <label for="txtFiltroTitulo" class="control-label">Número</label>
            <input type="text" id="txtFiltroTitulo" data-bind="textInput: Titulo" class="form-control" />
        </div>
        <!-- Forma de Pagamento-->
        <div class="form-group">
            <label for="ddlFiltroFinanceiroFormaPagamento" class="control-label">Forma de Pagamento</label>
            @HtmlHelper.Select.SelectCheckbox(id: "ddlFiltroFinanceiroFormaPagamento", campoId: "IdFinanceiroFormaPagamentoPrevistaIn", campoIdPesquisa: "IdFinanceiroFormaPagamentoIn", campoValor: "Descricao", campoOrdenacao: "Descricao", campoIdChaveRelacao: "IdFinanceiroFormaPagamento", url: "/Financeiro/FormaPagamento/List", dadosCompl: "Ativo: true", selectOptions: "{ showSubText: true }")
        </div>
        <!-- Período de Vencimento (Vencimento) -->
        <div class="form-group">
            <label for="txtFiltroPeriodoVencimento" class="control-label">Período de Vencimento</label>
            <div class="input-group date" style="width:230px">
                <input type="text" id="txtFiltroPeriodoVencimento" data-bind="daterangepicker: { startDate: DataVencimentoInicio, endDate: DataVencimentoFim }" class="form-control" />
                <div class="input-group-addon input-group-btn"><i class="material-icons">&#xE916;</i></div>
            </div>
        </div>
        <!-- Período de Emissão -->
        <div class="form-group">
            <label for="txtFiltroPeriodoEmissao" class="control-label">Período de Emissão</label>
            <div class="input-group date" style="width:230px">
                <input type="text" id="txtFiltroPeriodoEmissao" data-bind="daterangepicker: { startDate: DataEmissaoInicio, endDate: DataEmissaoFim }" class="form-control" />
                <div class="input-group-addon input-group-btn"><i class="material-icons">&#xE916;</i></div>
            </div>
        </div>
        <!-- Pessoa -->
        <div class="form-group">
            <label for="ddlFiltroPessoaCliente" class="control-label">Pessoa</label>
            <div style="min-width: 230px;">
                @HtmlHelper.Select.SearchableKO("ddlFiltroPessoaCliente", "IdPessoa", "IdPessoa", "NomeSecundarioDocumento", "Nomes", "NomeSecundarioDocumento", "/Corporativo/Pessoa/List", "Ativo:true, IdPessoaNaturezaNotIn:3")
            </div>
        </div>
        <!--Situação-->
        <div class="form-group">
            <label for="radio">Situação</label><br />
            <div class="btn-group" style="width: 330px">
                <label for="filter-Situacao1" class="btn-primary btn-inverted btn"><input id="filter-Situacao1" value="1" data-bind="checked: Situacao, vanillaUniform: { checkParentCSS: true }" type="checkbox" name="filter-situacao">A Realizar</label>
                <label for="filter-Situacao2" class="btn-primary btn-inverted btn"><input id="filter-Situacao2" value="2" data-bind="checked: Situacao, vanillaUniform: { checkParentCSS: true }" type="checkbox" name="filter-situacao">Parcial</label>
                <label for="filter-Situacao3" class="btn-primary btn-inverted btn"><input id="filter-Situacao3" value="3" data-bind="checked: Situacao, vanillaUniform: { checkParentCSS: true }" type="checkbox" name="filter-situacao">Realizado</label>
            </div>
        </div>
    </template>

    @HtmlHelper.GridView.GridIndex(
        id: "FinanceiroTituloIndex",
        newUrl: "#/Financeiro/Titulo/New",
        editUrl: "#/Financeiro/Titulo/Edit",
        listUrl: "/Financeiro/Titulo/List",
        columns:
        @<script>
            [
                { 'id': 'IdFinanceiroTitulo', editColumn: true },
                { 'id': 'TipoMovimentoFinanceiro', defaultValue: 1, filter: true },
                { 'id': 'IdFinanceiroFormaPagamentoPrevistaIn', filter: true },
                { 'id': 'IdDocumentoTipo', filter: true },
                { 'id': 'IdProcessoSituacaoIn', filter: true },
                { 'id': 'IdPessoa', filter: true },
                { 'id': 'DataEmissaoInicio', defaultValue: null, filter: true },
                { 'id': 'DataEmissaoFim', defaultValue: null, filter: true },
                { 'id': 'DataVencimentoInicio', defaultValue: null, filter: true },
                { 'id': 'DataVencimentoFim', defaultValue: null, filter: true },
                { 'id': 'Situacao', filter: true, defaultValue: ["1"] },
                { 'id': 'NomePessoa', 'header': true, 'displayName': 'Pessoa', sortable: true },
                { 'id': 'DescricaoDocumentoTipo', 'header': true, 'displayName': 'Tipo Documento', sortable: true },
                { 'id': 'Titulo', 'header': true, 'displayName': 'Número', sortable: true, 'filter': true, defaultFilter: true },
                { 'id': 'DescricaoFormaPagamentoPrevista', 'header': true, 'displayName': 'Forma Pagto', sortable: true },
                { 'id': 'DataEmissaoExibicao', 'header': true, 'displayName': 'Emissão', sortable: true },
                { 'id': 'DataVencimentoExibicao', 'header': true, 'displayName': 'Vencimento', sortable: true },
                { 'id': 'ValorAtualExibicao', 'header': true, 'displayName': 'Valor', sortable: true },
                { 'id': 'DescricaoProcessoSituacao', 'header': true, 'displayName': 'Situação', sortable: true },
                defaults.gridNewEdit.column.acao
            ]
        </script>,
        templateRows:
        @<tr>
            <td data-bind="text: NomePessoa, id: IdFinanceiroTitulo"></td>
            <td data-bind="text: DescricaoDocumentoTipo, id: IdFinanceiroTitulo"></td>
            <td data-bind="text: Titulo, id: IdFinanceiroTitulo"></td>
            <td data-bind="text: DescricaoFormaPagamentoPrevista, id: IdFinanceiroTitulo"></td>
            <td data-bind="text: DataEmissaoExibicao, id: IdFinanceiroTitulo"></td>
            <td data-bind="text: DataVencimentoExibicao, id: IdFinanceiroTitulo"></td>
            <td data-bind="text: ValorAtualExibicao, id: IdFinanceiroTitulo"></td>
            <td data-bind="text: DescricaoProcessoSituacao, id: IdFinanceiroTitulo"></td>
            <td data-bind="template: { name: 'button-edit-url', data: { id: IdFinanceiroTitulo } }"></td>
        </tr>, api: "indexVM.api", orderByCol: "NomePessoa", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false, open: true)
</div>
@section Scripts {

}

