﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.Titulo.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-FinanceiroTitulo-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="radio">Movimento Financeiro</label><br />
                                <div class="btn-group">
                                    <label for="newedit-TipoMovimentoFinanceiro1" class="btn-primary btn-inverted btn"><input id="newedit-TipoMovimentoFinanceiro1" value="1" data-bind="checked: TipoMovimentoFinanceiro, vanillaUniform: { checkParentCSS: true }" type="radio" name="newedit-TipoMovimentoFinanceiro">A Pagar</label>
                                    <label for="newedit-TipoMovimentoFinanceiro2" class="btn-primary btn-inverted btn"><input id="newedit-TipoMovimentoFinanceiro2" value="2" data-bind="checked: TipoMovimentoFinanceiro, vanillaUniform: { checkParentCSS: true }" type="radio" name="newedit-TipoMovimentoFinanceiro">A Receber</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4" data-bind="visible: TipoMovimentoFinanceiro() == 1">
                            <div class="form-group">
                                <label for="ddlDocumentoTipoPagamento">Tipo Documento</label>
                                @HtmlHelper.Select.SearchableKO("ddlDocumentoTipoPagamento", "IdDocumentoTipo", "IdDocumentoTipo", "DescricaoDocumentoTipo", "DescricaoDocumentoTipo", "DescricaoDocumentoTipo", "/Corporativo/Transacao/ListTransacaoDocumentoTipoPagamento", "Ativo:true,RepresentaAntecipacao:false", idChaveRelacao: "IdDocumentoTipo", dataBind: "validate : { required : TipoMovimentoFinanceiro() == 1 }")
                            </div>
                        </div>
                        <div class="col-xs-4" data-bind="visible: TipoMovimentoFinanceiro() == 2">
                            <div class="form-group">
                                <label for="ddlDocumentoTipoRecebimento">Tipo Documento</label>
                                @HtmlHelper.Select.SearchableKO("ddlDocumentoTipoRecebimento", "IdDocumentoTipo", "IdDocumentoTipo", "DescricaoDocumentoTipo", "DescricaoDocumentoTipo", "DescricaoDocumentoTipo", "/Corporativo/Transacao/ListTransacaoDocumentoTipoRecebimento", "Ativo:true,RepresentaAntecipacao:false", idChaveRelacao: "IdDocumentoTipo", dataBind: "validate : { required : TipoMovimentoFinanceiro() == 2 }")
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtTitulo">Número<span>(Automático)</span></label>
                                <input type="text" id="txtTitulo" name="txtTitulo" data-bind="value: Titulo" maxlength="1" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <div class="form-group">
                                <label for="txtSerie">Série</label>
                                <input type="text" id="txtSerie" name="txtSerie" data-bind="value: Serie" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <div class="form-group">
                                <label for="txtParcela">Parcela</label>
                                <input type="text" id="txtParcela" name="txtParcela" data-bind="value: Parcela" maxlength="15" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xs-2" data-bind="visible: IdFinanceiroTitulo() != null || IdFinanceiroTitulo() > 0">
                            <div class="form-group read-mode">
                                <label for="ddlProcessoSituacao">Situação</label>
                                @HtmlHelper.Select.SearchableKO("ddlProcessoSituacao", "IdProcessoSituacao", "IdProcessoSituacao", "Descricao", "Descricao", "Descricao", "/Corporativo/ProcessoSituacao/List", dadosCompl: "Ativo:true", disabled: true)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-flex">
                <div class="panel panel-default col-flex">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title">Dados Básicos</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="ddlPessoaCliente">Cliente (ou Fornecedor)</label>
                                    @HtmlHelper.Select.SearchableKO("ddlPessoaCliente", "IdPessoa", "IdPessoa", "NomeSecundarioDocumento", "Nomes", "NOMESECUNDARIO", "/Corporativo/Pessoa/List", "Ativo:true,IdPessoaNaturezaNotIn:3", required: true, idChaveRelacao: "IdPessoa")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="txtDataLancamento">Data Lançamento</label>
                                    <div class="input-group date">
                                        <input id="txtDataLancamento" name="txtDataLancamento" class="form-control mes-trigger" data-bind="dicaMes: {}, value: DataLancamentoExibicao, validate: { required: true }, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataLancamentoExibicao }" />
                                        <span class="input-group-addon">
                                            <i class="material-icons">&#xE878;</i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="txtDataEmissao">Data Emissao</label>
                                    <div class="input-group date">
                                        <input id="txtDataEmissao" name="txtDataEmissao" class="form-control mes-trigger" data-bind="dicaMes: {}, value: DataEmissaoExibicao, validate: { required: true }, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataEmissaoExibicao }" />
                                        <span class="input-group-addon">
                                            <i class="material-icons">&#xE878;</i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="txtDataVencimento">Data Vencimento</label>
                                    <div class="input-group date">
                                        <input id="txtDataVencimento" name="txtDataVencimento" class="form-control mes-trigger" data-bind="dicaMes: {}, value: DataVencimentoExibicao,validate: { required: true }, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataVencimentoExibicao }" />
                                        <span class="input-group-addon">
                                            <i class="material-icons">&#xE878;</i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="txtDataVencimentoOriginal">Data Venc. Original</label>
                                    <div class="input-group date">
                                        <input id="txtDataVencimentoOriginal" name="txtDataVencimentoOriginal" class="form-control" data-bind="value: DataVencimentoOriginalExibicao, validate: { required: true }, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataVencimentoOriginalExibicao }" disabled="disabled" />
                                        <span class="input-group-addon">
                                            <i class="material-icons">&#xE878;</i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="txtDataLimiteDesconto">Data Limite Desconto</label>
                                    <div class="input-group date">
                                        <input id="txtDataLimiteDesconto" name="txtDataLimiteDesconto" class="form-control mes-trigger" data-bind="dicaMes: {}, value: DataLimiteDescontoExibicao,validate: { required: true }, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataLimiteDescontoExibicao }" />
                                        <span class="input-group-addon">
                                            <i class="material-icons">&#xE878;</i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" data-bind="visible: IdDocumentoTipoOrigem() != null && NumeroOrigem() != null">
                            <div class="col-xs-8">
                                <div class="form-group read-mode">
                                    <label for="ddlTipoDocumentoOrigem">Tipo Documento de Origem</label>
                                    @HtmlHelper.Select.SearchableKO("ddlTipoDocumentoOrigem", "IdDocumentoTipoOrigem", "IdDocumento", "Descricao", "Descricao", "Descricao", "/Contabilidade/DocumentoTipo/List", "Ativo:true", idChaveRelacao: "IdDocumentoTipo", disabled: true)
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group read-mode">
                                    <label for="txtNumeroOrigem">Número</label>
                                    <input type="text" id="txtNumeroOrigem" name="txtNumeroOrigem" data-bind="value: NumeroOrigem" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>
                        <div class="optional" id="pnlObservacao" data-bind="collapsible: { vmArray: [ vm.Observacao() ] }">
                            <a href="#">Observação</a>
                            <div>
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <textarea data-bind="value: Observacao" class="form-control" id="txtObservacao" data-allowclear="false" maxlength="500" style=" min-height: 80px;"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default col-flex">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title">Valores e Forma de Baixado</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-inline">
                                    <label for="txtValorTitulo" class="control-label size-sm">Valor do Título</label>

                                    <div class="form-group">
                                        <div class="input-group" style="width: 251px">
                                            <div class="input-group-btn">
                                                @HtmlHelper.Select.SearchableKO("ddlFinanceiroMoedaValorTitulo", "IdFinanceiroMoedaValorTitulo", "IdFinanceiroMoeda", "Sigla", "DescricaoDetalhadaBusca", "Sigla", "/Financeiro/Moeda/List", "Ativo:true, Natureza:1", idChaveRelacao: "IdFinanceiroMoeda", vmDataSelected: "vmParam.MoedaValorTitulo", required: true, allowClear: false)
                                            </div>
                                            <input type="text" id="txtValorTitulo" name="txtValorTitulo" data-bind="value: ValorTitulo, maskDecimal: { casasDecimais: vm.CasasDecimaisValorTitulo }, validate: { required:true }" class="form-control" maxlength="15" />
                                        </div>
                                    </div>
                                </div>
                                <div data-bind="if: vm.ExibeValorAtual()" class="form-inline">
                                    <label for="txtValorAtual" class="control-label size-sm">Valor Atual</label>

                                    <div class="form-group">
                                        <div class="input-group" style="width: 251px">
                                            <div class="input-group-btn">
                                                @HtmlHelper.Select.SearchableKO("ddlFinanceiroMoedaValorAtual", "IdFinanceiroMoedaValorAtual", "IdFinanceiroMoeda", "Sigla", "Sigla", "Sigla", "/Financeiro/Moeda/List", "Ativo:true, Natureza:1", idChaveRelacao: "IdFinanceiroMoeda", vmDataSelected: "vmParam.MoedaValorAtual", allowClear: false)
                                            </div>
                                            <input type="text" id="txtValorAtual" name="txtValorAtual" data-bind="value: ValorAtual, maskDecimal: { casasDecimais: vm.CasasDecimaisValorAtual }" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group size-sm">
                                            <span class="input-group-addon" data-bind="text: SiglaValorAtual"></span>
                                            <input id="txtValorAtualCotacao" name="txtValorAtualCotacao" class="form-control" disabled="disabled" data-bind="value: ValorCotacao, maskDecimal: { casasDecimais: vm.CasasDecimaisValorAtual }" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-inline">
                                    <label class="control-label size-sm" for="txtValorDesconto">Desconto</label>
                                    <div class="form-group">
                                        <div class="input-group" style="width: 251px">
                                            <div class="input-group-btn">
                                                @HtmlHelper.Select.SearchableKO("ddlMoedaDesconto", "IdFinanceiroMoedaValorAtual", "IdFinanceiroMoeda", "Sigla", "Sigla", "Sigla", "/Financeiro/Moeda/List", "Ativo:true", idChaveRelacao: "IdFinanceiroMoeda", vmDataSelected: "vmParam.MoedaValorAtual", disabled: true)
                                            </div>
                                            <input type="text" id="txtValorDesconto" name="txtValorDesconto" data-bind="value: ValorDesconto, maskDecimal: { casasDecimais: vm.CasasDecimaisValorAtual, max: vm.ValorAtual }" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group size-sm">
                                            <span class="input-group-addon">
                                                %
                                            </span>
                                            <input id="txtPercentualDesconto" name="txtPercentualDesconto" placeholder="" class="form-control" data-bind="value: PercentualDesconto, maskDecimal: { casasDecimais: 2, extendedOptions: { min: 0, max: 100, allowMinus: false } }" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-inline">

                                    <label for="txtValorMulta" class="control-label size-sm">Multa</label>

                                    <div class="form-group">
                                        <div class="input-group" style="width: 251px">
                                            <div class="input-group-btn">
                                                @HtmlHelper.Select.SearchableKO("ddlMoedaMulta", "IdFinanceiroMoedaValorAtual", "IdFinanceiroMoeda", "Sigla", "Sigla", "Sigla", "/Financeiro/Moeda/List", "Ativo:true", idChaveRelacao: "IdFinanceiroMoeda", vmDataSelected: "vmParam.MoedaValorAtual", disabled: true)
                                            </div>
                                            <input type="text" id="txtValorMulta" name="txtValorMulta" data-bind="value: ValorMulta, maskDecimal: { casasDecimais: vm.CasasDecimaisValorAtual, max: vm.ValorAtual }" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group size-sm">
                                            <span class="input-group-addon">
                                                %
                                            </span>
                                            <input id="txtPercentualMulta" name="txtPercentualMultaxtPercentualDesconto" placeholder="" class="form-control" data-bind="value: PercentualMulta, maskDecimal: { casasDecimais: 2, extendedOptions: { min: 0, max: 100, allowMinus: false } }" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-inline">

                                    <label for="txtValorJuros" class="control-label size-sm">Juros (a.m.)</label>

                                    <div class="form-group">
                                        <div class="input-group" style="width: 251px">
                                            <div class="input-group-btn">
                                                @HtmlHelper.Select.SearchableKO("ddlMoedaValorJuros", "IdFinanceiroMoedaValorAtual", "IdFinanceiroMoeda", "Sigla", "Sigla", "Sigla", "/Financeiro/Moeda/List", "Ativo:true", idChaveRelacao: "IdFinanceiroMoeda", vmDataSelected: "vmParam.MoedaValorAtual", disabled: true)
                                            </div>
                                            <input type="text" id="txtValorJuros" name="txtValorJuros" data-bind="value: ValorJuros, maskDecimal: { casasDecimais: vm.CasasDecimaisValorAtual, max: vm.ValorAtual }" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group size-sm">
                                            <span class="input-group-addon">
                                                %
                                            </span>
                                            <input id="txtPercentualJuro" name="txtPercentualJuro" placeholder="" class="form-control" data-bind="value: PercentualJuro, maskDecimal: { casasDecimais: 2, extendedOptions: { min: 0, max: 100, allowMinus: false } }" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-inline">

                                    <label for="txtValorBaixado" class="control-label size-sm">Valor já Baixado</label>

                                    <div class="form-group">
                                        <div class="input-group" style="width: 251px">
                                            <div class="input-group-btn">
                                                @HtmlHelper.Select.SearchableKO("ddlMoedaValorBaixado", "IdFinanceiroMoedaValorAtual", "IdFinanceiroMoeda", "Sigla", "Sigla", "Sigla", "/Financeiro/Moeda/List", "Ativo:true", idChaveRelacao: "IdFinanceiroMoeda", vmDataSelected: "vmParam.MoedaValorAtual", disabled: true)
                                            </div>
                                            @*<input type="text" id="txtValorBaixado" name="txtValorBaixado" data-bind="value: ValorBaixado, maskDecimal: { casasDecimais: vm.CasasDecimaisValorAtual }" class="form-control" />*@
                                            <input type="text" id="txtValorBaixado" name="txtValorBaixado" data-bind="value: ValorBaixado2, maskDecimal: { casasDecimais: vm.CasasDecimaisValorAtual }, attr: { 'disabled': true }" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-bind="collapsible: { vmArray: [ vm.IdFinanceiroClassificacao() ]}">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Contabilização</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="ddlFinanceiroClassificacao">Classificação Financeira</label>
                                @HtmlHelper.Select.SearchableKO("ddlFinanceiroClassificacao", "IdFinanceiroClassificacao", "IdFinanceiroClassificacao", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Financeiro/Classificacao/ListarHierarquicamentePorParametro", "Ativo:true, UltimoNivel:true", idChaveRelacao: "IdFinanceiroClassificacao")
                            </div>
                        </div>
                    </div>
                    <div data-bind="visible: vm.IdFinanceiroClassificacao() != null">
                        <!-- Grid CFOP -->
                        @HtmlHelper.GridView.GridNewEdit(
                id: "ClassificacaoContabil", // Declarar na página <template id="newedit-id"></template>
                vm: "lstClassificacaoContabil",
                vmExtend: "vmClassificacaoContabilExtend",
                title: "   ",
                useHiddenColumns: false,
                useRemovedColumn: true,
                columns: @<script>
                    [
                        { 'id': 'IdFinanceiroTituloClassificacaoContabil' },
                        { 'id': 'IdFinanceiroTitulo', defaultValue: vm.IdFinanceiroTitulo() },
                        { 'id': 'IdPlanoContas' },
                        { 'id': 'IdCentroCusto' },
                        { 'id': 'Natureza', defautValue: "1" },
                        { 'id': 'Excluido' },
                        { 'id': 'IdFinanceiroMoeda', defaultValue: vm.IdFinanceiroMoedaPadrao() },
                        { 'id': 'ValorTitulo' },
                        { 'id': 'DescricaoCompletaPlanoContas', displayName: 'Conta', header: true, sortable: true },
                        { 'id': 'NaturezaDescricao', displayName: 'Natureza', header: true, sortable: true },
                        { 'id': 'ValorTituloExibicao', displayName: 'Valor', header: true, sortable: true },
                        defaults.gridNewEdit.column.acaoEditRemove
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: DescricaoCompletaPlanoContas }  }"></td>
                    <td data-bind="text: NaturezaDescricao"></td>
                    <td data-bind="text: ValorTituloExibicao"></td>
                    <td data-bind="template: { name: 'button-edit-remove' }"></td>
                </tr>, orderByCol: "DescricaoCompletaPlanoContas", orderByDir: HelpersUtil.OrderByDirEnum.Asc, showNewButton: true)
                    </div>
                    <!--Implementar os Totalizadores aqui
                        Total classificado (Soma de todos os item da grid de classificados)
                        Diferença (Total Classificado - ValorAtual[Valor do Título])
                    -->

                </div>
            </div>
            <div class="panel panel-default" data-bind="collapsible: { vmArray: [ vm.IdFinanceiroFormaPagamentoPrevista(), vm.IdPessoaPagamentoDestinatario() ]}">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Detalhes Previstos para Baixa</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlFinanceiroFormaPagmentoPrevista">Forma de Pagamento Prevista</label>
                                @HtmlHelper.Select.SearchableKO("ddlFinanceiroFormaPagmentoPrevista", "IdFinanceiroFormaPagamentoPrevista", "IdFinanceiroFormaPagamento", "Descricao", "Descricao", "Descricao", "/Financeiro/FormaPagamento/List", "Ativo:true, Titulo:true", idChaveRelacao: "IdFinanceiroFormaPagamento")
                            </div>
                        </div>
                        <div class="col-xs-4" data-bind="visible: (vm.ExibeDestinatarioPagamento() && vm.TipoMovimentoFinanceiro() == 1)">
                            <div class="form-group">
                                <label for="ddlPessoaPagamentoDestinatario">Destinatário Pagamento</label>
                                @HtmlHelper.Select.SearchableKO("ddlPessoaPagamentoDestinatario", "IdPessoaPagamentoDestinatario", "IdPessoa", "NomeSecundarioDocumento", "Nomes", "NOMESECUNDARIO", "/Corporativo/Pessoa/List", "Ativo:true,IdPessoaNaturezaNotIn:3", idChaveRelacao: "IdPessoa", dataBind: "{ validate: { required: vm.ExibeDestinatarioPagamento() } }", vmDataSelected: "vmParam.PessoaDestinatarioPagamentoVM")
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: (vm.ExibeDestinatarioPagamento() && vm.TipoMovimentoFinanceiro() == 1)">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="ddlPessoaNatureza" class="control-label">Documento</label>
                                <select id="ddlPessoaNatureza" name="ddlPessoaNatureza" class="form-control no-search" data-bind="value: IdPessoaNatureza, validate: { required: vm.ExibeDestinatarioPagamento() }">
                                    <option value=""></option>
                                    <option value="1">CPF</option>
                                    <option value="2">CNPJ</option>
                                    <option value="3">Outro</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-2" data-bind="visible: (vm.ExibeDestinatarioPagamento() && vm.TipoMovimentoFinanceiro() == 1)">
                            <div class="form-group">
                                <label for="txtDocumentoPessoa">Nro. Documento</label>
                                <input type="text" id="txtDocumentoPessoa" name="txtDocumentoPessoa" data-bind="value: DocumentoPessoa, validate : { required : vm.ExibeDestinatarioPagamento() } " class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: vm.ExibeContaDetalhesPagamento()">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="ddlFinanceiroConta">Conta</label>
                                @HtmlHelper.Select.SearchableKO("ddlFinanceiroConta", "IdFinanceiroConta", "IdFinanceiroConta", "Detalhe", "BuscaDetalhada", "Detalhe", "/Financeiro/Conta/List", "Ativo:true", dataBind: " validate: { required: vm.ExibeContaDetalhesPagamento() } ")
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: (vm.ExibeCartaoFinanceiro() && vm.TipoMovimentoFinanceiro() == 1)">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="ddlFinanceiroCartao">Cartão Financeiro</label>
                                @HtmlHelper.Select.SearchableKO("ddlFinanceiroCartao", "IdFinanceiroCartao", "IdFinanceiroCartao", "CartaoExibicao", "BuscaDetalhada", "CartaoExibicao", "/Financeiro/Cartao/List", "Ativo:true", dataBind: "validate: { required: vm.ExibeCartaoFinanceiro() }")
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: (vm.ExibeCodigoBarra() && vm.TipoMovimentoFinanceiro() == 1)">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-primary btn-inverted">
                                        <input type="radio" name="options" id="option1" value="1" data-bind="bsChecked: CodigoBarraTipo, css: { active: CodigoBarraTipo() == 1}"> Digitado
                                    </label>
                                    <label class="btn btn-primary btn-inverted">
                                        <input type="radio" name="options" id="option1" value="2" data-bind="bsChecked: CodigoBarraTipo, css: { active: CodigoBarraTipo() == 2}"> Leitor Ótico
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: (vm.ExibeCodigoBarra() && vm.TipoMovimentoFinanceiro() == 1)">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="txtCodigoBarra">Linha Digitável</label>
                                <input type="text" id="txtCodigoBarra" name="txtCodigoBarra" data-bind="value: CodigoBarra, validate: { required: vm.ExibeCodigoBarra() }" maxlength="100" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-bind="collapsible: { vmArray: [ vm.TipoGuiaRecolhimento() ]}">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Fiscal</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="ddlTipoGuiaRecolhimento" class="control-label">Documento</label>
                                <select id="ddlTipoGuiaRecolhimento" name="ddlTipoGuiaRecolhimento" class="form-control no-search" data-bind="value: TipoGuiaRecolhimento">
                                    <option value=""></option>
                                    <option value="1">DARF</option>
                                    <option value="2">GPF</option>
                                    <option value="3">DAS</option>
                                    <option value="4">ISS</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtCodigo">Código</label>
                                <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtCompetencia">Competência</label>
                                <input type="text" id="txtCompetencia" name="txtCompetencia" data-bind="value: Competencia" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtIdentificador">Identificador</label>
                                <input type="text" id="txtIdentificador" name="txtIdentificador" data-bind="value: Identificador" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="ddlFinanceiroMoedaValorBaseCalculo"></label>
                                @HtmlHelper.Select.SearchableKO("ddlFinanceiroMoedaValorBaseCalculo", "IdFinanceiroMoedaValorBaseCalculo", "IdFinanceiroMoeda", "Sigla", "Sigla", "Sigla", "/Financeiro/Moeda/List", "Ativo:true", idChaveRelacao: "IdFinanceiroMoeda")
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtValorBaseCalculo">Valor da Base de Cálculo</label>
                                <input type="text" id="txtValorBaseCalculo" name="txtValorBaseCalculo" data-bind="value: ValorBaseCalculo, maskDecimal: { casasDecimais: CasasDecimais } " class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <template id="newedit-ClassificacaoContabil">
        <div class="row">
            <div class="col-xs-8">
                <div class="form-group">
                    <label for="ddlPlanoConta">Conta</label>
                    @HtmlHelper.Select.SearchableKO("ddlPlanoConta", "IdPlanoContas", "IdPlanoContas", "DescricaoCompletaMascara", "DescricaoCompletaMascara", "DescricaoCompletaMascara", "/Contabilidade/PlanoContas/ListarHierarquicamentePorParametro", "Ativo:true, UltimoNivel:true", required: true, idControleDependencia: "ddlProcesso", idDependencia: "IdProcesso", idChaveRelacao: "IdPlanoContas", vmTextSelected: "DescricaoCompletaPlanoContas")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="form-group">
                    <label for="ddlCentroCusto">Centro de Custo</label>
                    @HtmlHelper.Select.SearchableKO("ddlCentroCusto", "IdCentroCusto", "IdCentroCusto", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Contabilidade/CentroCusto/ListarHierarquicamentePorParametro", "Ativo:true, UltimoNivel:true, ComRestricaoUsuario:true", required: true)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="">Natureza</label>
                </div>
                <div class="form-group">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary btn-inverted">
                            <input type="radio" name="options" id="option1" value="1" data-bind="bsChecked: Natureza, css: { active: Natureza() == 1 }"> Somar
                        </label>
                        <label class="btn btn-primary btn-inverted">
                            <input type="radio" name="options" id="option1" value="2" data-bind="bsChecked: Natureza, css: { active: Natureza() == 2}"> Deduzir
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-xs-10">
                <div class="form-inline">
                    <div class="form-group">
                        <label for="txtValorTituloContabilizacao">Valor do Título</label>
                    </div>
                    <div class="form-group" style="width: 100px">
                        @HtmlHelper.Select.SearchableKO("ddlFinanceiroMoedaModal", "IdFinanceiroMoeda", "IdFinanceiroMoeda", "Sigla", "Sigla", "Sigla", "/Financeiro/Moeda/List", "Ativo:true", idChaveRelacao: "IdFinanceiroMoeda", vmDataSelected: "vmParam.MoedaValorContabilizacao", dataBind: " attr: { disabled:true } ")
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtValorTituloContabilizacao" name="txtValorTituloContabilizacao" data-bind="value: ValorTitulo, maskDecimal: { casasDecimais: vmParam.CasasDecimaisContabilizacao }, validate: { required:true }" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>
