﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.ProdutoServicoGrupo.IndexVM

<div id="filtro-grade" style="display:none;">
    <template id="filter-ProdutoServicoGrupoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroProdutoServicoGrupoSuperior" class="control-label">Superior</label>            
            @HtmlHelper.Select.SearchableKO("ddlFiltroProdutoServicoGrupoSuperior", "IdProdutoServicoGrupoPaiIn", "IdProdutoServicoGrupo", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Estoque/ProdutoServicoGrupo/List", "Ativo:true, UltimoNivel:false", multiple: true, idChaveRelacao: "IdProdutoServicoGrupo")
        </div>
        <div class="form-group">
            <label for="ddlFiltroNatureza" class="control-label">Natureza</label>
            <select id="ddlFiltroNatureza" data-bind="value: Natureza" class="form-control no-search">
                <option value="">Indiferente</option>
                <option value="1">Produto</option>
                <option value="2">Serviço</option>
                <option value="3">Produto e Serviço</option>
            </select>
        </div>
        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "ProdutoServicoGrupoIndex",
    newUrl: "#/Estoque/ProdutoServicoGrupo/New",
    editUrl: "#/Estoque/ProdutoServicoGrupo/Edit",
    listUrl: "/Estoque/ProdutoServicoGrupo/List",
    columns:
    @<script>
        [
            { 'id': 'IdProdutoServicoGrupo', editColumn: true },
            { 'id': 'RegistroProprio', 'defaultValue': '', 'filter': true },
            { 'id': 'Descricao', filter: true, defaultFilter: true, header: true, displayName: 'Descrição', sortable: true },                        
            { 'id': 'IdProdutoServicoGrupoPaiIn', filter: true },
            { 'id': 'Natureza', filter: true, defaultValue: '' },
            { 'id': 'DescricaoHierarquica', 'header': true, displayName: 'Superior', sortable: true, groupable: true, groupTextValues: ['defaultValue', '[Sem Nível Superior]'] },
            { 'id': 'DescricaoNatureza', 'header': true, displayName: 'Natureza', sortable: true, groupable: true },
            { 'id': 'UltimoNivel', 'header': true, displayName: 'Último Nível', sortable: true },
            { 'id': 'EditarRegistro', 'header': true, 'filter': true, 'sortable': true, 'displayName': 'Editar Registro' },
            defaults.gridNewEdit.column.ativo,
            { displayName: "Ações", header: true, width: '160px' }
        ]
    </script>,
    templateRows:
    @<tr>
        <td data-bind="text: Descricao"></td>
        <td data-bind="text: DescricaoHierarquica"></td>
        <td data-bind="text: DescricaoNatureza"></td>        
        <td data-bind="template: { name: 'label-status', status: UltimoNivel }"></td>
        <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>
        <td data-bind="template: 'label-status'"></td>
         <td>
             <div style="float:left">
                 <span data-bind="template: { name: 'button-edit-url', data: { id: IdProdutoServicoGrupo } }"></span>
             </div>

             <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                 <a data-bind="attr: { href: '#/Estoque/ProdutoServicoGrupo/Ativar/' + IdProdutoServicoGrupo}" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
             </div>

             <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                 <a data-bind="attr: { href: '#/Estoque/ProdutoServicoGrupo/Inativar/' + IdProdutoServicoGrupo}" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
             </div>

             <div style="float:left;padding-left:5px;" data-bind="visible: (EditarRegistro == false)">
                 <a data-bind="attr: { href: '#/Estoque/ProdutoServicoGrupo/View/' + IdProdutoServicoGrupo}" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
             </div>

         </td>
    </tr>
    ,
    api: "indexVM.api",
    orderByCol: "Descricao",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,
    groupByCol: "DescricaoHierarquica",
    useHiddenColumns: false)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
