﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.ProdutoServicoGrupo.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-ProdutoServicoGrupo-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlProdutoServicoGrupoPai">Superior</label>
                            @HtmlHelper.Select.SearchableKO("ddlProdutoServicoGrupoPai", "IdProdutoServicoGrupoPai", "IdProdutoServicoGrupo", "DescricaoCompleta", "Descricao", "DescricaoCompleta", "/Estoque/ProdutoServicoGrupo/List", dadosComplObservable: "DadosComplementares", idChaveRelacao: "IdProdutoServicoGrupo", allowClear: true)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="chkUltimoNivel">Último Nível</label>
                            <input type="checkbox" class="no-uniform" id="chkUltimoNivel" data-bind="checked: UltimoNivel, flipper: { observable: UltimoNivel, options: { 'css': 'warning' } }">
                        </div>
                    </div>
                    
                </div>
                <div class="row" data-bind="visible: UltimoNivel">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary btn-inverted">
                                    <input type="radio" name="options" id="option1" value="1" data-bind="bsChecked: Natureza, css: { active: Natureza() == 1}"> Produto
                                </label>
                                <label class="btn btn-primary btn-inverted">
                                    <input type="radio" name="options" id="option1" value="2" data-bind="bsChecked: Natureza, css: { active: Natureza() == 2}"> Serviço
                                </label>
                                <label class="btn btn-primary btn-inverted">
                                    <input type="radio" name="options" id="option1" value="3" data-bind="bsChecked: Natureza, css: { active: Natureza() == 3}"> Produto e Serviço
                                </label>
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label for="ddlProdutoServicoNatureza" class="control-label">Natureza</label>
                            <select placeholder="ddlProdutoServicoNatureza" id="ddlProdutoServicoNatureza" class="form-control" data-bind="value: Natureza, validade: { required: UltimoNivel}">
                                <option value="1">Produto</option>
                                <option value="2">Serviço</option>
                                <option value="3">Produto e Serviço</option>
                            </select>
                        </div>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </form>
</div>