﻿@model HTM.MasterGestor.Web.UI.Areas.Aplicacao.ViewModels.AplicacaoReferencia.IndexVM
<div id="filtro-grade">

    <template id="panel-AplicacaoReferenciaIndex">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Escolha um tipo de aplicação</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlAplicacaoTipo" style="width: 300px;">Tipo de Aplicação</label>
                            @HtmlHelper.Select.SearchableKO("ddlAplicacaoTipo", "IdAplicacaoTipo", "IdAplicacaoTipo", "DescricaoComposta", "DescricaoCompostaBusca", "DescricaoComposta", "/Aplicacao/AplicacaoTipo/List", "Ativo:true")
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </template>

    <template id="filter-AplicacaoReferenciaIndex">
        <div class="form-group">
            <label for="ddlAplicacaoTipo" style="width: 300px;">Tipo de Aplicação</label>
            @HtmlHelper.Select.SearchableKO("ddlAplicacaoTipo2", "IdAplicacaoTipo", "IdAplicacaoTipo", "DescricaoComposta", "DescricaoCompostaBusca", "DescricaoComposta", "/Aplicacao/AplicacaoTipo/List", "Ativo:true")
        </div>
    </template>

    @HtmlHelper.GridView.GridIndex(
      showPanelFilter: true,
      showFilter: false,
      showNewButton: false,
      id: "AplicacaoReferenciaIndex",
      newUrl: "#/Aplicacao/AplicacaoReferencia/New",
      editUrl: "#/Aplicacao/AplicacaoReferencia/View",
      listUrl: "/Aplicacao/AplicacaoReferencia/ListInformacaoCompletaPorAplicacaoTipo",
      columns:
    @<script>
        [
            { 'id': 'IdAplicacaoTipo', filter: true },
            { 'id': 'DescriacaoAplicacaoTipo', groupable: true, displayName: 'Tipo Aplicação' },
            { 'id': 'ChaveExibicao', filter: true, defaultFilter: true, editColumn: true },
            { 'id': 'DescricaoAplicacaoReferenciaExibicao', header: true, displayName: "Aplicação", sortable: true },
            { 'id': 'DescricaoSubAplicacaoTipoExibicao', groupable: true, displayName: "Sub Tipo", sortable: true, groupTextValues: ['defaultValue', 'Sem Sub Tipo Relacionado'] },
            defaults.gridNewEdit.column.ativo,
            defaults.gridNewEdit.column.acao
        ]
    </script>,
        templateRows:
        @<tr>
            <td data-bind="text: DescricaoAplicacaoReferenciaExibicao, id: ChaveExibicao"></td>
            <td data-bind="template: 'label-status'"></td>
            <td data-bind="template: { name: 'button-view-url', data: { id: ChaveExibicao } }"></td>
        </tr>, api: "indexVM.api", orderByCol: "DescricaoAplicacaoReferenciaExibicao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)
</div>
@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
