﻿@model HTM.MasterGestor.Web.UI.Areas.Aplicacao.ViewModels.AplicacaoReferencia.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-AplicacaoReferencia-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body read-mode">
                    <div class="row">
                        <input type="hidden" id="txtIdAplicacaoReferencia" name="txtIdAplicacaoReferencia" data-bind="value: IdAplicacaoReferencia, validate: { required: true }">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtDescricaoAplicacaoTipo">Tipo Aplicação</label>
                                <input type="text" id="txtDescricaoAplicacaoTipo" name="txtDescricaoAplicacaoTipo" data-bind="value: DescricaoAplicacaoTipo" disabled="disabled" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtDescricaoAplicacaoReferenciaExibicao">Aplicação</label>
                                <input type="text" id="txtDescricaoAplicacaoReferenciaExibicao" name="txtDescricaoAplicacaoReferenciaExibicao" data-bind="value: DescricaoAplicacaoReferenciaExibicao" disabled="disabled" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: vm.IdAplicacaoTipo() == 5">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtDescricaoCategoria">Categoria</label>
                                <input type="text" id="txtDescricaoCategoria" name="txtDescricaoCategoria" data-bind="value: DescricaoCategoria" disabled="disabled" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtDescricaoSubCategoria">Sub Categoria</label>
                                <input type="text" id="txtDescricaoSubCategoria" name="txtDescricaoSubCategoria" data-bind="value: DescricaoSubCategoria" disabled="disabled" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label" for="chkAtivo">Ativo</label>
                                <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }" disabled="disabled">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-toggle="collapsible" id="pnlSubAplicacoes">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Sub Aplicações</h3>
                </div>
                <div class="panel-body">
                    @HtmlHelper.GridView.GridNewEdit(
                id: "SubAplicacao", // Declarar na página <template id="newedit-id"></template>
                vm: "SubAplicacoes",
                columns: @<script>
                    [
                        { 'id': 'IdSubAplicacaoReferencia' },
                        { 'id': 'IdAplicacaoReferencia' },
                        { 'id': 'DescricaoSubAplicacaoExibicao', 'displayName': 'Sub Aplicação', 'header': true, 'sortable': true },
                        { 'id': 'DescricaoCategoria', 'displayName': 'Categoria', 'header': true, 'sortable': true },
                        { 'id': 'DescricaoSubCategoria', 'displayName': 'Sub Categoria', 'header': true, 'sortable': true },
                        { 'id': 'Ativo', 'defaultValue': true, 'header': true, 'width': '55px' }
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: DescricaoSubAplicacaoExibicao }  }"></td>
                    <td data-bind="template: { name: 'link-edit', data: { text: DescricaoCategoria }  }"></td>
                    <td data-bind="template: { name: 'link-edit', data: { text: DescricaoSubCategoria }  }"></td>
                    <td data-bind="template: { name: 'label-status' }"></td>
                </tr>, orderByCol: "DescricaoSubAplicacaoExibicao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, showNewButton: false)
                </div>
            </div>
        </div>
    </form>
    <template id="newedit-SubAplicacao">
    </template>
</div>