﻿@model HTM.MasterGestor.Web.UI.Areas.Configuracao.ViewModels.NotificacaoCampoDinamico.NewEditVM
<div data-bind="stopBindings: true">
    <form id="form-NotificacaoCampoDinamico-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label> 
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                        <div class="form-group">
                            <label for="txtMarcador">Marcador</label>
                            <input type="text" id="txtMarcador" name="txtMarcador" data-bind="value: Marcador" class="form-control" maxlength="120" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10">
                        <div class="form-group">
                            <label for="txtQuery">Query</label>
                            <textarea id="txtQuery" style="height:90px;" name="txtQuery" data-bind="value: Query" class="form-control" maxlength="500" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.SimNao }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
