﻿@model HTM.MasterGestor.Web.UI.Areas.Automotivo.ViewModels.ModeloEquipamento.IndexVM

<div id="filtro-grade" style="display:none;">
    <template id="filter-AutomotivoModeloEquipamentoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>

        <div class="form-group">
            <label for="ddlFiltroTipoEquipamento">Tipo</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroTipoEquipamento", "IdTipoInBuscaSeparada", "IdAutomotivoTipoEquipamento", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Automotivo/TipoEquipamento/List", "Ativo:true, Nivel:1", idChaveRelacao: "IdAutomotivoTipoEquipamento", multiple: true)
        </div>

        <div class="form-group">
            <label for="ddlFiltroMarcaEquipamento">Marca Equipamento</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroMarcaEquipamento", "IdProdutoServicoMarcaIN", "IdProdutoServicoMarca", "Descricao", "Descricao", "Descricao", "/Estoque/ProdutoServicoMarca/List", "Ativo: true", idChaveRelacao: "IdProdutoServicoMarca", multiple: true)
        </div>
        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "AutomotivoModeloEquipamentoIndex",
    newUrl: "#/Automotivo/ModeloEquipamento/New",
    editUrl: "#/Automotivo/ModeloEquipamento/Edit",
    listUrl: "/Automotivo/ModeloEquipamento/List",
    columns:
    @<script>
        [
            { 'id': 'IdAutomotivoModeloEquipamento', editColumn: true },
            { 'id': 'RegistroProprio', 'defaultValue': '', 'filter': true },
            { 'id': 'IdTipoInBuscaSeparada', filter: true },
            { 'id': 'IdProdutoServicoMarcaIN', filter: true },
            { 'id': 'Descricao', filter: true, defaultFilter: true, header: true, displayName: 'Descrição', sortable: true },
            { 'id': 'DescricaoReduzida', header: true, sortable: true, displayName: 'Descrição Resumida' },
            { 'id': 'DescricaoCompletaAutomotivoTipoEquipamento', header: true, sortable: true, displayName: 'Tipo' },
            { 'id': 'DescricaoProdutoServicoMarca', header: true, sortable: true, displayName: 'Marca', groupable: true },
            { 'id': 'EditarRegistro', 'header': true, 'filter': true, 'sortable': true, 'displayName': 'Editar Registro' },
            defaults.gridNewEdit.column.ativo,
            { displayName: "Ações", header: true, width: '160px' }
        ]
    </script>,
    templateRows:
    @<tr>
        <td data-bind="text: Descricao"></td>
        <td data-bind="text: DescricaoReduzida"></td>
        <td data-bind="text: DescricaoCompletaAutomotivoTipoEquipamento"></td>
        <td data-bind="text: DescricaoProdutoServicoMarca + ' (' + SiglaProdutoServicoMarca + ')' "></td>
        <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>
        <td data-bind="template: { name: 'label-status' }"></td>
        <td>
            <div style="float:left">
                <span data-bind="template: { name: 'button-edit-url', data: { id: IdAutomotivoModeloEquipamento } }"></span>
            </div>

            <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                <a data-bind="attr: { href: '#/Automotivo/ModeloEquipamento/Ativar/' + IdAutomotivoModeloEquipamento }" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
            </div>

            <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                <a data-bind="attr: { href: '#/Automotivo/ModeloEquipamento/Inativar/' + IdAutomotivoModeloEquipamento }" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
            </div>

            <div style="float:left;padding-left:5px;" data-bind="visible: (EditarRegistro == false)">
                <a data-bind="attr: { href: '#/Automotivo/ModeloEquipamento/View/' + IdAutomotivoModeloEquipamento }" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
            </div>

        </td>
    </tr>
    ,
    api: "indexVM.api",
    orderByCol: "Descricao",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,
    useHiddenColumns: false)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
