﻿@model HTM.MasterGestor.Web.UI.Areas.Automotivo.ViewModels.ModeloEquipamento.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-AutomotivoModeloEquipamento-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtDescricaoReduzida">Descrição Resumida</label>
                            <input type="text" id="txtDescricaoReduzida" name="txtDescricaoReduzida" data-bind="value: DescricaoReduzida, validate: { required: true }" class="form-control" maxlength="80" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="ddlTipoEquipamento">Tipo de Equipamento</label>
                            @HtmlHelper.Select.SearchableKO("ddlTipoEquipamento", "IdAutomotivoTipoEquipamento", "IdAutomotivoTipoEquipamento", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Automotivo/TipoEquipamento/List", "Ativo: true, Nivel:1", required: true)
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="ddlMarcaEquipamento">Marca Equipamento</label>
                            @HtmlHelper.Select.SearchableKO("ddlMarcaEquipamento", "IdProdutoServicoMarca", "IdProdutoServicoMarca", "Descricao", "Descricao", "Descricao", "/Estoque/ProdutoServicoMarca/List", "Ativo: true", required: true)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkMotorizado">Motorizado</label>
                            <input type="checkbox" class="no-uniform" id="chkMotorizado" name="chkMotorizado" data-bind="checked: Motorizado, flipper: { observable: Motorizado, options: { 'css': 'warning' } }">
                        </div>
                    </div>
                    <div class="col-xs-3" data-bind="visible: Motorizado() == true">
                        <div class="form-group">
                            <label for="ddlUnidadeMenidor">Medidor</label>
                            @HtmlHelper.Select.SearchableKO("ddlUnidadeMedidor", "IdUnidadeMedidor", "IdUnidadeMedidor", "DescricaoSigla", "DescricaoSigla", "UnidadeMedidor.Descricao", "/Estoque/UnidadeMedidor/List", "Ativo:true", dataBind: "validate: { required: Motorizado() == true }")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" name="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Parte ou Sistema</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="ddlParteEquipamento">Partes Equipamento</label>
                            @HtmlHelper.Select.SearchableKO("ddlParteEquipamento", "IdsAutomotivoParteEquipamento", "IdAutomotivoParteEquipamentoIN", "Descricao", "Descricao", "Descricao", "/Automotivo/ParteEquipamento/List", "Ativo: true", idChaveRelacao: "IdAutomotivoParteEquipamento", required: true, multiple: true)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


