﻿@model HTM.MasterGestor.Web.UI.Areas.Automotivo.ViewModels.Equipamento.IndexVM

<div id="filtro-grade" style="display:none;">
    <template id="filter-AutomotivoEquipamentoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Código, Placa ou Renavam</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: BuscaDetalhada" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroTipoEquipamento">Tipo</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroTipoEquipamento", "IdTipoInBuscaSeparada", "IdAutomotivoTipoEquipamento", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Automotivo/TipoEquipamento/List", "Ativo:true", idChaveRelacao: "IdAutomotivoTipoEquipamento", multiple: true)
        </div>
        <div class="form-group">
            <label for="ddlFiltroMarca">Marca</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroMarca", "IdMarcaIn", "IdProdutoServicoMarca", "Descricao", "Descricao", "Descricao", "/Estoque/ProdutoServicoMarca/List", "Ativo:true", idChaveRelacao: "IdProdutoServicoMarca", multiple: true)
        </div>
        <div class="form-group">
            <label for="ddlFiltroMarca">Modelo</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroModelo", "IdModeloIn", "IdAutomotivoModeloEquipamento", "DescricaoComposta", "DescricaoComposta", "DescricaoComposta", "/Automotivo/ModeloEquipamento/List", "Ativo:true", idChaveRelacao: "IdAutomotivoModeloEquipamento", multiple: true)
        </div>
        <div class="form-group">
            <label for="ddlFiltroProprietario">Proprietário</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroProprietario", "IdProprietarioIn", "IdPessoa", "NomeCompostoPessoa", "NomeCompostoPessoa", "NomeCompostoPessoa", "/Automotivo/EquipamentoProprietario/List", "Ativo:true", idChaveRelacao: "IdPessoa", multiple: true)
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "AutomotivoEquipamentoIndex",
    newUrl: "#/Automotivo/Equipamento/New",
    editUrl: "#/Automotivo/Equipamento/Edit",
    listUrl: "/Automotivo/Equipamento/ListaPersonalizada",
    columns:
    @<script>
        [
            { 'id': 'Codigo', header: true, displayName: 'Código', sortable: true },
            { 'id': 'Descricao',header: true, displayName: 'Descrição', sortable: true },
            { 'id': 'DescricaoProdutoServicoMarca', header: true, displayName: 'Marca', sortable: true },
            { 'id': 'Detalhes', header: true, displayName: 'Detalhes (Placa Ano)', sortable: true },
            { 'id': 'DescricaoAutomotivoSituacaoEquipamento', header: true, displayName: 'Situação' },
            { 'id': 'DescricaoCompletaTipoEquipamento', displayName: 'Tipo Equipamento', sortable: true, groupable: true },
            { 'id': 'IdTipoInBuscaSeparada', filter: true },
            { 'id': 'IdMarcaIn', filter: true },
            { 'id': 'IdModeloIn', filter: true },
            { 'id': 'IdProprietarioIn', filter: true },
            { 'id': 'BuscaDetalhada', filter: true, defaultFilter: true, sortable: true },
            { 'id': 'IdAutomotivoEquipamento', editColumn: true },
            defaults.gridNewEdit.column.ativo,
            defaults.gridNewEdit.column.acao
        ]
    </script>,
    templateRows:
    @<tr>
        <td data-bind="text: Codigo"></td>
        <td data-bind="text: Descricao"></td>
        <td data-bind="text: DescricaoProdutoServicoMarca"></td>
        <td data-bind="text: Detalhes"></td>
        <td data-bind="text: DescricaoAutomotivoSituacaoEquipamento"></td>
        <td data-bind="template: { name: 'label-status' }"></td>
        <td data-bind="template: { name: 'button-edit-url', data: { id: IdAutomotivoEquipamento } }"></td>
    </tr>
            ,
            api: "indexVM.api",
            orderByCol: "Descricao",
            orderByDir: HelpersUtil.OrderByDirEnum.Asc,
            useHiddenColumns: false)
</div>

@section Scripts {
    @*<script>
            new crudRoute('/Automotivo/Equipamento/ListaPersonalizada', '/Automotivo/Equipamento/NewEdit', function () {
                return {
                    Descricao: $('#txtFiltroDescricao').val(),
                    IdTipoInBuscaSeparada: $('#ddlFiltroTipoEquipamento').val(),
                    IdMarcaIn: $('#ddlFiltroMarca').val(),
                    IdModeloIn: $('#ddlFiltroModelo').val(),
                    IdProprietarioIn: $('#ddlFiltroProprietario').val(),
                    Ativo: $('#ddlFiltroAtivo').val()
                }
            },
                ['btnFiltrar', 'btnBuscaRapida'], 'Descricao', 'asc',
                [{ text: 'Ativo', value: 'Ativo', internal: 'Ativo', func: function (p) { return p ? 'Ativo' : 'Inativo' } },
                { text: 'Tipo Equipamento', value: 'DescricaoCompletaTipoEquipamento', internal: 'DescricaoCompletaTipoEquipamento' }]
            );
        </script>*@

    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}

