﻿@model HTM.MasterGestor.Web.UI.Areas.Automotivo.ViewModels.Equipamento.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-AutomotivoEquipamento-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtCodigo">Código<span>(Automático)</span></label>
                            <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" maxlength="20" />
                            @*<input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo, validate: { required: { params: true, message: '' } }" class="form-control" maxlength="20" />*@
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlAutomotivoTipoEquipamento">Tipo</label>
                            @HtmlHelper.Select.SearchableKO("ddlAutomotivoTipoEquipamento", "IdAutomotivoTipoEquipamento", "IdAutomotivoTipoEquipamento", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Automotivo/TipoEquipamento/List", "Ativo:true,UltimoNivel:true", required: true, vmDataSelected: "vmParams.VmTipoEquipamento")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="ddlAutomotivoModeloEquipamento">Modelo</label>
                            <!-- Utilizado para buscado Modelo de equipamento por tipo -->
                            <input type="hidden" id="ddlTipoEquipamentoPai" name="ddlTipoEquipamentoPai" data-bind="value: IdAutomotivoEquipamentoPai">
                            @HtmlHelper.Select.SearchableKO("ddlAutomotivoModeloEquipamento", "IdAutomotivoModeloEquipamento", "IdAutomotivoModeloEquipamento", "DescricaoComposta", "DescricaoComposta", "DescricaoComposta", "/Automotivo/ModeloEquipamento/List", "Ativo:true", required: true, vmDataSelected: "vmParams.VmModeloEquipamento", idControleDependencia: "ddlTipoEquipamentoPai", idDependencia: "IdTipoInBuscaSeparada")
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="ddlAutomotivoSituacaoEquipamento">Situação</label>
                            @HtmlHelper.Select.SearchableKO("ddlAutomotivoSituacaoEquipamento", "IdAutomotivoSituacaoEquipamento", "IdAutomotivoSituacaoEquipamento", "Descricao", "Descricao", "Descricao", "/Automotivo/SituacaoEquipamento/List", "Ativo:true", idChaveRelacao: "IdAutomotivoSituacaoEquipamento", required: true)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="ddlNomenclatura">A Descrição será formada seguindo</label>
                            <select placeholder="Nomenclatura" id="ddlNomenclatura" class="form-control no-search" data-bind="value: Nomenclatura">
                                <option value="1" selected="selected">Modelo</option>
                                <option value="2">Marca + Modelo</option>
                                <option value="3">Tipo + Modelo</option>
                                <option value="4">Tipo + Marca + Modelo</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao" class="form-control" maxlength="100" disabled="disabled" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlCentroCusto" class="control-label">Centro de Custo</label>
                            @HtmlHelper.Select.SearchableKO("ddlCentroCusto", "IdCentroCusto", "IdCentroCusto", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Contabilidade/CentroCusto/ListarHierarquicamentePorParametro", "Ativo:true, UltimoNivel:true,ComRestricaoUsuario:true", dataBind: "validate: { required: CentroCustoObrigatorio()== true }")
                        </div>
                    </div>
                </div>
                <div data-toggle="collapsible" class="optional" id="pnlDadosAdicionais">
                    <a href="#">Dados Adicionais</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="txtAnoModelo">Ano Modelo</label>
                                    <input type="text" id="txtAnoModelo" name="txtAnoModelo" data-bind="value: AnoModelo" class="form-control" maxlength="4" />
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="txtAnoFabricacao">Ano Fabricação</label>
                                    <input type="text" id="txtAnoFabricacao" name="txtAnoFabricacao" data-bind="value: AnoFabricacao" class="form-control" maxlength="4" />
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="txtDataCompra">Data Compra</label>
                                    <div class="input-group date form-group">
                                        <input id="txtDataCompra" data-bind="value: DataCompra, datepicker: { options: defaults.datepicker.date }, mask: {options:defaults.mask.date }" class="form-control" />
                                        <span class="input-group-addon">
                                            <i class="material-icons">&#xE878;</i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="txtPlaca">Placa</label>
                                    <input type="text" id="txtPlaca" name="txtPlaca" data-bind="value: Placa" class="form-control" maxlength="10" />
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="txtRenavam">Renavam</label>
                                    <input type="text" id="txtRenavam" name="txtRenavam" data-bind="value: Renavam" class="form-control" maxlength="10" />
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="txtChassis">Chassis</label>
                                    <input type="text" id="txtChassis" name="txtChassis" data-bind="value: Chassis" class="form-control" maxlength="50" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-toggle="collapsible" class="optional" id="pnlObservacao">
                    <a href="#">Observação</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <textarea class="form-control" id="txtObservacao" data-bind="value: Observacao" name="txtObservacao" maxlength="255" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" data-toggle="collapsible" id="partesOuSistema">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Partes ou Sistemas</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="ddlPartesEquipamento">Partes ou sistema do equipamento</label>
                            @HtmlHelper.Select.SearchableKO("ddlPartesEquipamento", "IdsPartes", "IdAutomotivoParteEquipamentoIN", "Descricao", "Descricao", "Descricao", "/Automotivo/ParteEquipamento/List", "Ativo:true", idChaveRelacao: "IdAutomotivoParteEquipamento", multiple: true)
                            <a href="#" class="" style="margin-top: 4px" data-bind="click: ReverterPadrao">Reverter partes para padrão do modelo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
        <div class="panel panel-default" data-toggle="collapsible" id="pnlProprietario">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Proprietário</h3>
            </div>
            <div class="panel-body">
                @HtmlHelper.GridView.GridNewEdit(
                id: "ProprietarioEquipamento", // Declarar na página <template id="newedit-id"></template>
                vm: "Proprietarios",
                title: "Proprietário",
                columns: @<script>
                    [
                        { 'id': 'NomeSecundarioPessoa', displayName: 'Apelido ou Fantasia', sortable: true, header: true },
                        { 'id': 'IdAutomotivoEquipamentoProprietario' },
                        { 'id': 'IdPessoa' },
                        { 'id': 'Principal', 'header': true },
                        { 'id': 'Cota', 'header': true },
                        { 'id': 'Ativo', 'header': true, defaultValue: true },
                        defaults.gridNewEdit.column.acao
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: NomeSecundarioPessoa }  }"></td>
                    <td data-bind="template: { name: 'label-status', data: { status: Principal } }"></td>
                    <td><span data-bind="text: Cota"></span> %</td>
                    <td data-bind="template: { name: 'label-status' }"></td>
                    <td data-bind="template: { name: 'button-edit' }"></td>
                </tr>, orderByCol: "NomeSecundarioPessoa", orderByDir: HelpersUtil.OrderByDirEnum.Asc, displayMode: "custom")
            </div>
        </div>
        <div class="panel panel-default" data-toggle="collapsible" id="pnlImagens">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Imagens</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            @HtmlHelper.Campo.Upload()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <panels id="panels-bind" params="panels: [{ title: 'Adicionar proprietário', template: { gridContext: 'ProprietarioEquipamento', id: 'panel-proprietario' } }, { title: 'Adicionar Pessoa', template: { url: 'Corporativo/Pessoa/NewEdit', css: 'full', controller: 'Corporativo/Views/Pessoa' }}]">
    </panels>

    <template id="panel-proprietario">
        <input type="hidden" id="txtIdAutomotivoEquipamentoProprietario" name="txtIdAutomotivoEquipamentoProprietario" data-bind="value: IdAutomotivoEquipamentoProprietario" class="form-control" />

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="ddlPessoa">Proprietário</label>
                    @HtmlHelper.Select.SearchableKO("ddlPessoa", "IdPessoa", "IdPessoa", "NomeSecundario", "ApelidoFantasia", "NomeSecundario", "/Corporativo/Pessoa/ListPessoaPersonalizado", "ComPessoa:true,ComEmpresaUsuaria:true,ComEmpresa:false,Ativo:true,IdPessoaNaturezaNotIn: 4", vmTextSelected: "NomeSecundarioPessoa", footerElementId: "btnAddNovo")
                    <template id="btnAddNovo">
                        <a href='#' class='btn btn-block btn-primary panel-open-next'>Não encontrou? Adicione um Novo</a>
                    </template>
                </div>
            </div>
            <div class="col-xs-12 form-group">
                <a href="#" class="link-edit panel-open-next">Não encontrou? Adicione um Novo</a>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="txtCota">Cota</label>
                    <div class="input-group">
                        <input type="text" id="txtCota" name="txtCota" data-bind="value: Cota, validate: { required: { params: true, message: '' } }" class="form-control" maxlength="5" />
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="control-label" for="chkPrincipal">Proprietário Principal</label>
                    <input type="checkbox" class="no-uniform" id="chkPrincipal" data-bind="checked: Principal, flipper: { observable: Principal, options: { 'css': 'warning'  } }">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="control-label" for="chkProprietarioAtivo">Ativo</label>
                    <input type="checkbox" class="no-uniform" id="chkProprietarioAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                </div>
            </div>
        </div>
    </template>
</div>