﻿@model HTM.MasterGestor.Web.UI.Areas.Contabilidade.ViewModels.NCM.IndexVM
<div id="filtro-grade">
    <template id="filter-FiscalNCMIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="value: Descricao" class="form-control" />
        </div>
        <div class="form-group" style="width: 300px">
            <label for="ddlVersaoPlanoContas" class="control-label">Versão</label>
            @HtmlHelper.Select.SearchableKO("ddlVersaoPlanoContas", "IdPlanoContasVersao", "IdPlanoContasVersao", "Descricao", "Descricao", "Descricao", "/Contabilidade/VersaoPlanoContas/List", "Ativo:true,PlanoContasTipo:3")
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "FiscalNCMIndex",
    newUrl: "#/Contabilidade/NCM/New",
    editUrl: "#/Contabilidade/NCM/Edit",
    listUrl: "/Contabilidade/NCM/List",
    columns:
    @<script>
        [
           { 'id': 'IdFiscalNCM', filter: true, editColumn: true },
           { 'id': 'IdPlanoContasVersao', filter: true },
           { 'id': 'DescricaoPlanoContasVersao', 'groupable': true, displayName: 'Versão' },
           { 'id': 'Codigo', 'header': true, 'filter': true, displayName: 'Código', sortable: true, header: true },
           { 'id': 'Descricao', 'filter': true, 'defaultFilter': true, displayName: 'Descrição', sortable: true, header: true },
           { 'id': 'UltimoNivel', displayName: 'Analítico', sortable: true, header: true },
           defaults.gridNewEdit.column.ativo,
           defaults.gridNewEdit.column.acao
        ]
    </script>,
      templateRows:
    @<tr>
        <td><span data-bind="text: Codigo, id:IdFiscalNCM"></span></td>
        <td><span data-bind="text: Descricao"></span></td>
        <td data-bind="template: { name: 'label-status', data: { status: UltimoNivel } }"></td>        
        <td data-bind="template: 'label-status'"></td>
         <td data-bind="template: { name: 'button-edit-url', data: { id: IdFiscalNCM } }"></td>
    </tr>,
         api: "indexVM.api",
         orderByCol: "Codigo",
         orderByDir: HelpersUtil.OrderByDirEnum.Asc,
         useHiddenColumns: false)
</div>