﻿@model HTM.MasterGestor.Web.UI.Areas.Contabilidade.ViewModels.NCM.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-FiscalNCM-NewEdit" data-bind="with: FiscalNCM, validateForm: { submitHandler: vm.FiscalNCM().Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default" data-bind="validateOptions: { appendErrorsToRoot: true }">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="ddlPlanoContasVersao">Versão de Plano NCM e TIPI</label>
                            @HtmlHelper.Select.SearchableKO("ddlPlanoContasVersao", "IdPlanoContasVersao", "IdPlanoContasVersao", "DescricaoComposta", "Descricao", "Descricao",
                                       "/Contabilidade/VersaoPlanoContas/List", "Ativo:true,PlanoContasTipo:3,ComNCM:true", required: true)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtCodigo">Código</label>
                            <input type="text" id="txtCodigo" name="txtCodigo" data-bind="textInput: Codigo, mask: { options: {'clearIncomplete': true }, value: Codigo, maskValue:Mascara }, validate: { required : true }" class="form-control" maxlength="50" />
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="textInput: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="ddlFiscalNCMPai">Superior</label>
                            @HtmlHelper.Select.SearchableKO("ddlFiscalNCMPai", "IdFiscalNCMPai", "IdFiscalNCM", "DescricaoCompleta", "Descricao", "DescricaoCompleta", "/Contabilidade/NCM/List", "Ativo:true, UltimoNivel:false", idChaveRelacao: "IdFiscalNCM")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkUltimoNivel">Esta nomenclatura é último nível (Analítica)</label>
                            <input type="checkbox" class="no-uniform" id="chkUltimoNivel" data-bind="checked: UltimoNivel, flipper: { observable: UltimoNivel, options: { 'css': 'warning' } }">
                        </div>
                    </div>
                </div>
                <div class="row" id="divPercentual" data-bind="visible: UltimoNivel()">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtPercentualIncidencia">Percentual de incidência</label>
                            <div class="input-group">
                                <input type="text" id="txtPercentualIncidencia" name="txtPercentualIncidencia" data-bind="value: PercentualIncidencia, mask: { options: defaults.mask.percentage }, validate : { required: UltimoNivel }" class="form-control" maxlength="20" />
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-action">
            <div class="panel-body">
                <div class="checkbox-inline first">
                    <input type="checkbox" data-bind="vanillaUniform: {}, checked: vm.saveNew" /> Salvar e Criar Novo
                </div>
                <button type="submit" id="btn-salvar" class="btn btn-secondary btn-lg btn-primary-action"><i class="material-icons">&#xE5CA;</i> Salvar</button>
                <a href="#List" type="button" class="btn btn-primary btn-inverted btn-lg"><i class="material-icons">&#xE5C4;</i> Voltar</a>
                @if (@Model.IdFiscalNCM.HasValue)
                {
                    <a href="#History/FiscalNCM/@Model.IdFiscalNCM" type="button" class="btn btn-primary btn-inverted btn-lg pull-right"><i class="material-icons">&#xE889;</i> Histórico</a>
                }
            </div>
        </div>
    </form>
</div>