﻿@model HTM.MasterGestor.Web.UI.Areas.Contabilidade.ViewModels.ParametroLancamentoContabil.IndexVM

<routeoptions data-show-back-button="true" data-show-breadcrumb="true" data-pos="1" data-route-custom='route-parametroLancamentoContabil' data-title-descricao=""></routeoptions>

<div id="filtro-grade">
    <template id="filter-ParametroLancamentoContabilIndex">
        <div class="form-group" style="width: 350px;">
            <label for=" ddlfiltrotransacao" class="control-label">
            Transacao</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroTransacao", "IdTransacaoIn", "IdTransacaoIn", "Descricao", "Descricao", "Descricao", "/Corporativo/Transacao/List", "Ativo:true", idChaveRelacao: "IdTransacao", multiple:true)
        </div>
        <div class="form-group">
            <label for="ddlFiltroTransacaoAcaoTipo" class="control-label">Tipo de Direcionador</label>
            <select id="ddlFiltroTransacaoAcaoTipo" data-bind="value: TransacaoAcaoTipo" class="form-control no-search">
                <option value="">Todas</option>
                <option value="1">Produto e Serviço</option>
                <option value="2">Financeiro</option>
                <option value="3">Terceiros</option>
                <option value="4">Fiscal</option>
            </select>
        </div>
        <div class="form-group">
            <label for="ddlFiltroDirecionadorTipo" class="control-label">Ação</label>
            <select id="ddlFiltroDirecionadorTipo" data-bind="value: DirecionadorTipo" class="form-control no-search">
                <option value="">Todos</option>
                <option value="1">Perfil de Pessoa</option>
                <option value="2">Produto ou Serviço</option>
                <option value="3">Ordem de Serviço</option>
                <option value="4">Ordem de Produção</option>
                <option value="5">Ordem de Investimento</option>
                <option value="6">Entidade Financeira</option>
                <option value="7">Classe Patrimônial</option>
                <option value="8">Tipo de Documento</option>
            </select>
        </div>
        <div class="form-group">
            <label for="ddlFiltroForma" class="control-label">Forma</label>
            <select placeholder="Ativo" id="ddlFiltroAtivo" data-bind="value: DirecionadorPersonalizado" class="form-control no-search">
                <option value="">Indiferente</option>
                <option value="true">Individual</option>
                <option value="false">Padrao</option>
            </select>
        </div>
    </template>

    @HtmlHelper.GridView.GridIndex(
        id: "ParametroLancamentoContabilIndex",
        newUrl: "#/Contabilidade/ParametroLancamentoContabil/New",
        editUrl: "#/Contabilidade/ParametroLancamentoContabil/Edit",
        listUrl: "/Contabilidade/ParametroLancamentoContabil/ListTransacaoAcaoTipoPorEmpresa",
        columns:
        @<script>
            [
                { 'id': 'Chave', editColumn: true },
                { 'id': 'DescricaoTransacao', 'header': true, 'filter': true, 'defaultFilter': true, 'displayName': 'Transação', sortable: true, groupable: true },
                { 'id': 'DescricaoTransacaoAcaoTipo', 'header': true, 'filter': true, 'defaultFilter': true, 'displayName': 'Ação da Transação', sortable: true },
                { 'id': 'DescricaoDirecionadorTipo', 'header': true, 'filter': true, 'defaultFilter': true, 'displayName': 'Tipo de Direcionador', sortable: true },
                { 'id': 'Forma', 'header': true, 'filter': true, 'displayName': 'Forma', sortable: true },
                { 'id': 'IdTransacao', 'filter': true },
                { 'id': 'TransacaoAcaoTipo', 'filter': true },
                { 'id': 'DirecionadorTipo', 'filter': true },
                { 'id': 'IdTransacaoIn', 'filter': true },
                { 'id': 'DirecionadorPersonalizado', 'filter': true },
                defaults.gridNewEdit.column.acao
            ]
        </script>,
        templateRows:
        @<tr data-bind="attr: { 'data-edit-url': '#/Contabilidade/ParametroClasseContabil/List/' + Chave }">
            <td data-bind="text: DescricaoTransacao, id: Chave"></td>
            <td data-bind="text: DescricaoTransacaoAcaoTipo"></td>
            <td data-bind="text: DescricaoDirecionadorTipo"></td>
            <td data-bind="text: Forma"></td>
            <td>
                <a href="#" title="Classe" data-bind="attr: { href: '#/Contabilidade/ParametroClasseContabil/List/' + Chave }" class="btn btn-secondary btn-icon"><i class="material-icons">&#xE896;</i></a>
            </td>
        </tr>, api: "indexVM.api", orderByCol: "DescricaoTransacao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false, showNewButton: false, open: true)
</div>
@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}

