﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.MovimentacaoBancaria.IndexVM

<div id="filtro-grade">
    <template id="filter-FinanceiroMovimentacaoBancariaIndex">
        <div class="form-group">
            <label for="txtPeriodoMovimentacao" class="control-label">Período de Movimentação</label>
            <div class="input-group date">
                <input type="text" id="txtPeriodoMovimentacao" data-bind="daterangepicker: { startDate: DataMovimentacaoInicio, endDate: DataMovimentacaoFim }" class="form-control" />
                <div class="input-group-addon input-group-btn"><i class="material-icons">&#xE916;</i></div>
            </div>
        </div>
        <div class="form-group" style="width:250px">
            <label for="ddlFiltroFinanceiroConta">Conta ou Caixa</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroFinanceiroConta", "IdFinanceiroContaIn", "IdFinanceiroContaIn", "Detalhe", "BuscaDetalhada", "Detalhe", "/Financeiro/Conta/List", "Ativo:true", idChaveRelacao: "IdFinanceiroConta")
        </div>
        <!-- Botão Interesse -->
        <div class="form-group">
            <label for="radio">Interesse</label><br />
            <div class="btn-group">
                <label for="filter-Origem1" class="btn-primary btn-inverted btn"><input id="filter-Origem1" value="1" data-bind="checked: Origem, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-origem">Extrato Mov.</label>
                <label for="filter-Origem2" class="btn-primary btn-inverted btn"><input id="filter-Origem2" value="2" data-bind="checked: Origem, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-origem">Lanc. Manual</label>
            </div>
        </div>
        <!-- Botão Natureza de Movimentação -->
        <div class="form-group">
            <label for="radio">Natureza de Movimentacao</label><br />
            <div class="btn-group">
                <label for="filter-Natureza1" class="btn-primary btn-inverted btn"><input id="filter-Natureza1" value="1" data-bind="checked: Natureza, vanillaUniform: { checkParentCSS: true }" type="checkbox" name="filter-natureza">Saída</label>
                <label for="filter-Natureza2" class="btn-primary btn-inverted btn"><input id="filter-Natureza2" value="2" data-bind="checked: Natureza, vanillaUniform: { checkParentCSS: true }" type="checkbox" name="filter-natureza">Entrada</label>
            </div>
        </div>
        <!-- Botão Situação -->
        <div class="form-group">
            <label for="radio">Situação</label><br />
            <div class="btn-group">
                <label for="filter-TipoConciliacao1" class="btn-primary btn-inverted btn"><input id="filter-TipoConciliacao1" value="1" data-bind="checked: TipoConciliacao, vanillaUniform: { checkParentCSS: true }" type="checkbox" name="filter-tipoconciliacao">A Conciliar</label>
                <label for="filter-TipoConciliacao2" class="btn-primary btn-inverted btn"><input id="filter-TipoConciliacao2" value="2" data-bind="checked: TipoConciliacao, vanillaUniform: { checkParentCSS: true }" type="checkbox" name="filter-tipoconciliacao">Conciliado</label>
            </div>
        </div>

    </template>
    @HtmlHelper.GridView.GridIndex(
    id: "FinanceiroMovimentacaoBancariaIndex",
    newUrl: "#/Financeiro/MovimentacaoBancaria/New",
    editUrl: "#/Financeiro/MovimentacaoBancaria/Edit",
    listUrl: "/Financeiro/MovimentacaoBancaria/List",
    columns:
    @<script>
        [
            { 'id': 'IdFinanceiroMovimentacaoBancaria', editColumn: true },
            { 'id': 'IdFinanceiroContaIn', filter: true },
            { 'id': 'DataMovimentacaoInicio', filter: true },
            { 'id': 'DataMovimentacaoFim', filter: true },
            { 'id': 'Origem', filter: true, defaultValue: 1 },
            { 'id': 'Natureza', filter: true, defaultValue: [] },
            { 'id': 'TipoConciliacao', filter: true, defaultValue: [] },
            { 'id': 'DataComValorBaixado', groupable: true, displayName: "Data/Valor" },
            { 'id': 'DataMovimentacaoExibicao', 'header': true, 'displayName': 'Data', filter: true, defaultFilter: true,groupable:true },
            { 'id': 'Documento', 'header': true, 'displayName': 'Documento', sortable: true },
            { 'id': 'DescricaoFinanceiroMovimentacaoContaHistorico', 'header': true, 'displayName': 'Histórico', sortable: true },
            { 'id': 'ValorBaixadoExibicao', 'header': true, 'displayName': 'Valor', sortable: true },
            { 'id': 'DescricaoNatureza', 'header': true, 'displayName': 'Natureza', sortable: true },
            { 'id': 'ConciliacaoSituacao', 'header': true, 'displayName': 'Situacao', groupable: true },
            { 'id': 'DescricaoOrigem', 'header': true, 'displayName': 'Origem', sortable: true },
            { displayName: "Ações", width: "142px", header: true, sortable: false }
        ]
    </script>,
        templateRows:
        @<tr>
            <td data-bind="text: DataMovimentacaoExibicao, id: IdFinanceiroMovimentacaoBancaria"></td>
            <td data-bind="text: Documento"></td>
            <td data-bind="text: DescricaoFinanceiroMovimentacaoContaHistorico"></td>
            <td data-bind="text: ValorBaixadoExibicao"></td>
            <td data-bind="text: DescricaoNatureza"></td>
            <td data-bind="text: ConciliacaoSituacao"></td>
            <td data-bind="text: DescricaoOrigem"></td>
            <td>
                <a data-bind="attr: { href: '#/Financeiro/MovimentacaoBancaria/Edit/' + IdFinanceiroMovimentacaoBancaria }" class="btn btn-secondary btn-icon" title="Editar"><i class="material-icons">&#xE254;</i></a>
                <a data-bind="visible: Origem == 1,attr: { href: '#/Financeiro/MovimentacaoBancaria/View/' + IdFinanceiroMovimentacaoBancaria } " class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons"></i></a>
                @*<a data-bind="click: function(data, e) { if (!confirm('Deseja Excluir a Movimentação selecionada?')) '/Financeiro/MovimentacaoBancaria/Excluir/' + IdFinanceiroMovimentacaoBancaria }" class="btn btn-danger btn-icon" title="Excluir"><i class="material-icons">&#xE14C;</i></a>*@
                <a data-bind="attr: { href: '/Financeiro/MovimentacaoBancaria/Excluir/' + IdFinanceiroMovimentacaoBancaria }" class="btn btn-danger btn-icon" title="Excluir"><i class="material-icons">&#xE14C;</i></a>
            </td>
        </tr>, api: "indexVM.api", orderByCol: "DataMovimentacaoExibicao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, groupByCol: "DataComValorBaixado", groupByDir: "asc")
</div>
@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}

