﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.MovimentacaoBancaria.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-FinanceiroMovimentacaoBancaria-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="ddlFinanceiroConta">Conta ou Caixa</label>
                                @HtmlHelper.Select.SearchableKO("ddlFinanceiroConta", "IdFinanceiroConta", "IdFinanceiroConta", "Detalhe", "BuscaDetalhada", "Detalhe", "/Financeiro/Conta/List", "Ativo:true")
                            </div>
                        </div>
                        <div class="col-xs-1" style="width:15%">
                            <div class="form-group read-mode">
                                <label for="ddlOrigem" class="control-label">Origem</label>
                                <select id="ddlOrigem" class="form-control no-search" data-bind="value: Origem" disabled="disabled">
                                    <option value="1">Automático</option>
                                    <option value="2">Manual</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="ddlFinanceiroFormaPagamento">Forma de Pagamento</label>
                                @HtmlHelper.Select.SearchableKO("ddlFinanceiroFormaPagamento", "IdFinanceiroFormaPagamento", "IdFinanceiroFormaPagamento", "Descricao", "Descricao", "Descricao", "/Financeiro/FormaPagamento/List")
                            </div>
                        </div>
                        <div class="col-xs-1" style="width:15%">
                            <div class="form-group">
                                <label for="txtDataMovimentacao">Data</label>
                                <div class="input-group date">
                                    <input id="txtDataMovimentacaoExibicao" name="txtDataMovimentacaoExibicao" class="form-control mes-trigger" data-bind="dicaMes: {}, value: DataMovimentacaoExibicao, validate: { required: true }, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataMovimentacaoExibicao }" />
                                    <span class="input-group-addon">
                                        <i class="material-icons">&#xE878;</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtCodigo">Código<span>(Automático)</span></label>
                                <input type="text" id="txtCodigo" name="txtCodigo" class="form-control" data-bind="value: Codigo" maxlength="8" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3" style="width:320px">
                            <div class="form-group">
                                <label for="options">Tipo Histórico</label>
                                <div class="form-group">
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-primary btn-inverted" data-bind="visible: vm.IdFinanceiroMovimentacaoBancaria() != null">
                                            <input type="radio" name="options" id="option3" value="3" data-bind="bsChecked: TipoHistorico, css: { active: TipoHistorico() == 3 }"> Automático
                                        </label>
                                        <label class="btn btn-primary btn-inverted">
                                            <input type="radio" name="options" id="option1" value="1" data-bind="bsChecked: TipoHistorico, css: { active: TipoHistorico() == 1}"> Padrão
                                        </label>
                                        <label class="btn btn-primary btn-inverted">
                                            <input type="radio" name="options" id="option1" value="2" data-bind="bsChecked: TipoHistorico, css: { active: TipoHistorico() == 2}"> Manual
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2" data-bind="visible: vm.TipoHistorico() == 1">
                            <div class="form-group">
                                <label for="ddlFinanceiroMovimentacaoContaHistorico">Histórico</label>
                                @HtmlHelper.Select.SearchableKO("ddlFinanceiroMovimentacaoContaHistorico", "IdFinanceiroMovimentacaoContaHistorico", "IdFinanceiroMovimentacaoContaHistorico", "Descricao", "Descricao", "Descricao", "/Financeiro/MovimentacaoContaHistorico/List", "Ativo:true", dataBind: "validate: { required: vm.TipoHistorico() == 1 }")
                            </div>
                        </div>
                        <div class="col-xs-2" data-bind="visible: (vm.TipoHistorico() == 2 || vm.TipoHistorico() == 3)">
                            <div class="form-group">
                                <label for="txtDescricaoHistoricoManual">Histórico Manual</label>
                                <input type="text" id="txtDescricaoHistoricoManual" name="txtDescricaoHistoricoManual" data-bind="value: DescricaoHistoricoManual, validate: { required: vm.TipoHistorico() == 2 }, disable: vm.TipoHistorico() == 3" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xs-2" style="width:20%">
                            <div class="form-group">
                                <label for="options">Natureza</label>
                                <div class="form-group">
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-primary btn-inverted">
                                            <input type="radio" name="options" id="option1" value="1" data-bind="bsChecked: Natureza, css: { active: Natureza() == 1 }"> Saída
                                        </label>
                                        <label class="btn btn-primary btn-inverted">
                                            <input type="radio" name="options" id="option1" value="2" data-bind="bsChecked: Natureza, css: { active: Natureza() == 2 }"> Entrada
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtValorBaixado">Valor</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span data-bind="text: SiglaMoeda"></span>
                                    </div>
                                    <input type="text" id="txtValorBaixado" name="txtValorBaixado" data-bind="value: ValorBaixado, maskDecimal: { casasDecimais: vm.casasDecimais}, attr: { disabled: IdFinanceiroMovimentacaoBancaria() != null ? true : false }" class="form-control" min="0" />
                                </div>
                            </div>
                        </div>
                        <!-- A Propriedade não existe na tabela, é uma propriedade Dinâmica. É populada de acordo com a quantidade de registro (FinanceiroConciliacaoBancaria) -->
                        <div class="col-xs-1" style="width:15%">
                            <div class="form-group">
                                <label class="control-label" for="chkConciliado">Conciliado</label>
                                <input type="checkbox" class="no-uniform" id="chkConciliado" data-bind="checked: Conciliado, flipper: { observable: Conciliado, options: { 'css':'warning' } }" disabled="disabled">
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: DocumentoOrigem() != null">
                        <div class="col-xs-6">
                            <div class="form-group read-mode">
                                <label for="txtDescricaoDocumentoOrigem">Documento Origem</label>
                                <input type="text" class="form-control" id="txtDescricaoDocumentoOrigem" name="txtDescricaoDocumentoOrigem" data-bind="value: DocumentoOrigem">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-open="false" id="pnlDetalhesTransferencia" data-bind="whit: lstTransferencia, visible: vm.IdFinanceiroFormaPagamento() == 5,collapsible: { vmArray: [ vm.lstTransferencia() ]}">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Detalhes da Transferência</h3>
                </div>
                <div class="panel-body">
                    @HtmlHelper.GridView.GridNewEdit(
                id: "Transferencia", // Declarar na página <template id="newedit-id"></template>
                vm: "lstTransferencia",
                vmExtend: "vmTransferenciaExtend",
                title: "Novo",
                addTitle: "",
                columns: @<script>
                    [
                        { 'id': 'IdFinanceiroMovimentacaoBancariaTransferencia' },
                        { 'id': 'IdFinanceiroMovimentacaoBancaria' },
                        { 'id': 'IdFinanceiroConta' },
                        { 'id': 'IdPessoa' },
                        { 'id': 'Valor' },
                        { 'id': 'Excluido' },
                        { 'id': 'SiglaMoeda', defaultValue: vm.SiglaMoeda() },
                        { 'id': 'CasasDecimaisMoedaEmpresa', defaultValue: vm.CasasDecimaisMoedaEmpresa() },
                        { 'id': 'DetalheFinanceiroConta', header: true, displayName: 'Conta', 'sortable': true },
                        { 'id': 'NomePessoa', header: true, displayName: 'Empresa', 'sortable': true },
                        { 'id': 'ValorExibicao', header: true, displayName: 'Valor', 'sortable': true },
                        defaults.gridNewEdit.column.acaoEditRemove
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: DetalheFinanceiroConta }  }"></td>
                    <td data-bind="text: NomePessoa"></td>
                    <td data-bind="text: ValorExibicao"></td>
                    <td data-bind="template: { name: 'button-edit-remove' }"></td>
                </tr>, orderByCol: "DetalheFinanceiroConta", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false, useRemovedColumn: true)
                </div>
            </div>
            <div class="panel panel-default" data-open="false" id="pnlDetalhesTransferencia" data-bind="whit: lstClassificacaoContabil,collapsible: { vmArray: [vm.IdFinanceiroClassificacao() ] }">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Contabilização</h3>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <label for="ddlFinanceiroClassificacao">Classificação Financeira</label>
                                @HtmlHelper.Select.SearchableKO("ddlFinanceiroClassificacao", "IdFinanceiroClassificacao", "IdFinanceiroClassificacao", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Financeiro/Classificacao/ListarHierarquicamentePorParametro", dadosComplObservable: "vm.dadosComplClassificacaoFinanceira")
                            </div>
                        </div>
                    </div>

                    @HtmlHelper.GridView.GridNewEdit(
                id: "ClassificacaoContabil", // Declarar na página <template id="newedit-id"></template>
                vm: "lstClassificacaoContabil",
                vmExtend: "vmClassificacaoExtend",
                title: "Novo",
                addTitle: "",
                columns: @<script>
                    [
                        { 'id': 'IdFinanceiroMovimentacaoBancariaClassificacaoContabil' },
                        { 'id': 'IdFinanceiroMovimentacaoBancaria' },
                        { 'id': 'IdPlanoContas' },
                        { 'id': 'IdCentroCusto' },
                        { 'id': 'IdPlanoContasVersaoCentroCusto', defaultValue: vm.IdPlanoContasVersaoCentroCusto() },
                        { 'id': 'IdPlanoContasVersaoPlanoContas', defaultValue: vm.IdPlanoContasVersaoPlanoContas() },
                        { 'id': 'Excluido' },
                        { 'id': 'Valor' },
                        { 'id': 'SiglaMoeda', defaultValue: vm.SiglaMoeda() },
                        { 'id': 'CasasDecimaisMoedaEmpresa', defaultValue: vm.CasasDecimaisMoedaEmpresa() },
                        { 'id': 'DescricaoPlanoContas', 'header': true, 'displayName': 'Conta Contábil', 'sortable': true },
                        { 'id': 'DescricaoCentroCusto', 'header': true, 'displayName': 'Centro Custo', 'sortable': true },
                        { 'id': 'ValorExibicao', header: true, displayName: 'Valor', 'sortable': true },
                        defaults.gridNewEdit.column.acaoEditRemove
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: DescricaoPlanoContas }  }"></td>
                    <td data-bind="text: DescricaoCentroCusto"></td>
                    <td data-bind="text: ValorExibicao"></td>
                    <td data-bind="template: { name: 'button-edit-remove' }"></td>
                </tr>, orderByCol: "DescricaoPlanoContas", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false, useRemovedColumn: true)
                </div>
            </div>
            <div class="panel panel-default" data-open="false" id="pnlItens" data-bind="whit: pnlItens,collapsible: { vmArray: [lstItens() ], visible: (lstItens().length > 0 && vm.Origem() == 1) }">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Itens Movimentados</h3>
                </div>
                <div class="panel-body read-mode">
                    @HtmlHelper.GridView.GridNewEdit(
                id: "Itens", // Declarar na página <template id="newedit-id"></template>
                vm: "lstItens",
                addTitle: "",
                columns: @<script>
                    [
                        { 'id': 'DataHoraBaixa', 'header': true, 'displayName': 'Data/Hora', sortable: true },
                        { 'id': 'DocumentoFinanceiroBaixa', 'header': true, 'displayName': 'Documento', sortable: true },
                        { 'id': 'DescricaoTipoMovimentoFinanceiro', 'header': true, 'displayName': 'Mov. Financerio', sortable: true },
                        { 'id': 'ValorAtual', 'header': true, 'displayName': 'Valor Documento', sortable: true },
                        { 'id': 'ValorDesconto', 'header': true, 'displayName': 'Valor Desconto', 'sortable': true },
                        { 'id': 'ValorMulta', 'header': true, 'displayName': 'Valor Multa', 'sortable': true },
                        { 'id': 'ValorJuro', 'header': true, 'displayName': 'Valor Juro', 'sortable': true },
                        { 'id': 'ValorVariacaoCambial', header: true, displayName: 'Variação Cambial', 'sortable': true },
                        { 'id': 'TotalBaixado', header: true, displayName: 'Total Baixado', 'sortable': true },
                        { 'id': 'NomeSecundarioPessoa', header: true, displayName: 'Pessoa Operação', 'sortable': true }
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: DataHoraBaixa}  }"></td>
                    <td data-bind="text: DocumentoFinanceiroBaixa"></td>
                    <td data-bind="text: DescricaoTipoMovimentoFinanceiro"></td>
                    <td data-bind="text: ValorAtual"></td>
                    <td data-bind="text: ValorDesconto"></td>
                    <td data-bind="text: ValorMulta"></td>
                    <td data-bind="text: ValorJuro"></td>
                    <td data-bind="text: ValorVariacaoCambial"></td>
                    <td data-bind="text: TotalBaixado"></td>
                    <td data-bind="text: NomeSecundarioPessoa"></td>
                </tr>, orderByCol: "DocumentoFinanceiroBaixa", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false, showNewButton: false)
                </div>
            </div>
        </div>
    </form>
    <template id="newedit-Transferencia">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="ddlFinanceiroConta">Conta</label>
                    @HtmlHelper.Select.SearchableKO("ddlFinanceiroConta", "IdFinanceiroConta", "IdFinanceiroConta", "Detalhe", "BuscaDetalhada", "Detalhe", "/Financeiro/Conta/List", "Ativo:true", required: true, vmTextSelected: "DetalheFinanceiroConta")
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="ddlPessoaEmpresa">Empresa</label>
                    @HtmlHelper.Select.SearchableKO("ddlPessoaEmpresa", "IdPessoa", "IdPessoa", "Nome", "Nomes", "Nome", "/Corporativo/Pessoa/ListPessoaPersonalizado", "ComPessoa:false, ComEmpresaUsuaria:true, ComEmpresa:false, Ativo:true, IdPessoaNaturezaNotIn: 4", required: true, vmTextSelected: "NomePessoa", idChaveRelacao: "IdPessoa")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="txtValor">Valor</label>
                    <div class="form-group-unidade input-group">
                        <div class="input-group-addon">
                            <span data-bind="text: SiglaMoeda"></span>
                        </div>
                        <input type="text" class="form-control" data-bind="value: Valor, maskDecimal: { casasDecimais: CasasDecimaisMoedaEmpresa }" id="txtValor" style="text-align: right;" />
                    </div>
                </div>
            </div>
        </div>
    </template>
    <template id="newedit-ClassificacaoContabil">
        <input type="hidden" id="IdPlanoContasVersaoCentroCusto" data-bind="value: IdPlanoContasVersaoCentroCusto" />
        <input type="hidden" id="IdPlanoContasVersaoPlanoContas" data-bind="value: IdPlanoContasVersaoPlanoContas" />
        <div class="row">
            <div class="col-xs-8">
                <div class="form-group">
                    <label for="ddlPlanoContas">Conta Contábil</label>
                    @HtmlHelper.Select.SearchableKO("ddlPlanoContas", "IdPlanoContas", "IdPlanoContas", "DescricaoCompletaMascara", "DescricaoCompleta", "DescricaoCompletaMascara", "/Contabilidade/PlanoContas/ListarHierarquicamentePorParametro", "Ativo:true, UltimoNivel:true", required: true, vmTextSelected: "DescricaoPlanoContas", idControleDependencia: "IdPlanoContasVersaoPlanoContas", idDependencia: "IdPlanoContasVersao")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="ddlCentroCusto">Centro Custo</label>
                    @HtmlHelper.Select.SearchableKO("ddlCentroCusto", "IdCentroCusto", "IdCentroCusto", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Contabilidade/CentroCusto/ListarHierarquicamentePorParametro", "Ativo:true, UltimoNivel:true", required: true, vmTextSelected: "DescricaoCentroCusto", idControleDependencia: "IdPlanoContasVersaoCentroCusto", idDependencia: "IdPlanoContasVersao")
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="txtValor">Valor</label>
                    <div class="form-group-unidade input-group">
                        <div class="input-group-addon">
                            <span data-bind="text: SiglaMoeda"></span>
                        </div>
                        <input type="text" class="form-control" data-bind="value: Valor, maskDecimal: { casasDecimais: CasasDecimaisMoedaEmpresa }" id="txtValor" style="text-align: right;" />
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>
