﻿@model HTM.MasterGestor.Web.UI.Areas.Questionario.ViewModels.CategoriaMedidor.NewEditVM

<div>
    <form id="form-QuestionarioCategoriaMedidor-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="ddlQuestionarioTipoMedidor">Tipo Medidor</label>
                            @HtmlHelper.Select.SearchableKO("ddlQuestionarioTipoMedidor", "IdQuestionarioTipoMedidor", "IdQuestionarioTipoMedidor", "Descricao", "Descricao", "Descricao", "/Questionario/TipoMedidor/List", "Ativo:true", required: true, allowClear: false)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="ddlQuestionarioItemControle">Itens a serem Medidos</label>
                            @HtmlHelper.Select.SearchableKO("ddlQuestionarioItemControle", "IdsQuestionarioItemControle", "IdQuestionarioItemControleIn", "Descricao", "Descricao", "Descricao", "/Questionario/ItemControle/List", "Ativo:true", required: true, multiple:true, idChaveRelacao: "IdQuestionarioItemControle")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtCor">Cor <span data-bind="text: '(' + (ko.unwrap(Cor) === null ? 'nenhuma selecionada' : ko.unwrap(Cor)) + ')'"></span></label>
                            <seletor-cores id="txtCor" params="setColorToLayer: false, selectedColor: Cor"></seletor-cores>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Configuração</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlRegraCodigo">Regra para Codificação</label>
                            <select placeholder="ddlRegraCodigo" id="ddlRegraCodigo" class="form-control no-search" data-bind="value: TipoCodigo">
                                <option value="1" selected="selected">Informado Manualmente</option>
                                <option value="2">Número Sequencial por Empresa</option>
                                <option value="3">Número Par Por Empresa</option>
                                <option value="4">Número Ímpar por Empresa</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="chkNumeracaoPorPropriedade">Numeração por Propriedade</label>
                            <input type="checkbox" class="no-uniform" id="chkNumeracaoPorPropriedade" data-bind="checked: NumeracaoPorPropriedade, flipper: { observable: NumeracaoPorPropriedade, options: {'css':'warning'} }">
                        </div>
                    </div>
                </div>
                <div data-toggle="collapsible" class="optional" id="pnlObservacao"  data-bind="collapsible: { vmArray: [ vm.Observacao() ] }">
                    <a href="#">Observação</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="form-group">
                                    <textarea class="form-control" id="txtObservacao" data-bind="value: Observacao" name="txtObservacao" maxlength="255" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
