﻿@model HTM.MasterGestor.Web.UI.Areas.Automotivo.ViewModels.TipoEquipamento.IndexVM

<div id="filtro-grade" style="display:none;">
    <template id="filter-AutomotivoTipoEquipamentoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroSuperior" class="control-label">Superior</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroSuperior", "IdAutomotivoTipoEquipamentoPaiIn", "IdAutomotivoTipoEquipamento", "Descricao", "Descricao", "Descricao", "/Automotivo/TipoEquipamento/List", "Ativo:true, ComPai:false", idChaveRelacao: "IdAutomotivoTipoEquipamento", multiple: true)
        </div>
        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "AutomotivoTipoEquipamentoIndex",
    newUrl: "#/Automotivo/TipoEquipamento/New",
    editUrl: "#/Automotivo/TipoEquipamento/Edit",
    listUrl: "/Automotivo/TipoEquipamento/List",
    columns:
    @<script>
        [
            { 'id': 'IdAutomotivoTipoEquipamento', editColumn: true },
            { 'id': 'RegistroProprio', 'defaultValue': '', 'filter': true },
            { 'id': 'Descricao', filter: true, defaultFilter: true, header: true, displayName: 'Descrição', sortable: true },
            { 'id': 'DescricaoHierarquica', header: true, displayName: 'Superior', sortable: true },
            { 'id': 'UltimoNivel', header: true, displayName: 'Último Nível' },
            { 'id': 'DescricaoPai', displayName: 'Tipo Superior', groupable: true, groupTextValues: ['defaultValue', '[Sem Nível Superior]'] },
            { 'id': 'IdAutomotivoTipoEquipamentoPaiIn', filter: true },
            { 'id': 'EditarRegistro', 'header': true, 'filter': true, 'sortable': true, 'displayName': 'Editar Registro' },
            defaults.gridNewEdit.column.ativo,
            { displayName: "Ações", header: true, width: '160px' }
        ]
    </script>,
    templateRows:
    @<tr>
        <td data-bind="text: Descricao"></td>
        <td data-bind="text: DescricaoHierarquica"></td>
        <td data-bind="template: { name: 'label-status', data: { status: UltimoNivel } }"></td>
        <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>
        <td data-bind="template: { name: 'label-status' }"></td>
         <td>
             <div style="float:left">
                 <span data-bind="template: { name: 'button-edit-url', data: { id: IdAutomotivoTipoEquipamento } }"></span>
             </div>

             <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                 <a data-bind="attr: { href: '#/Automotivo/TipoEquipamento/Ativar/' + IdAutomotivoTipoEquipamento}" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
             </div>

             <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                 <a data-bind="attr: { href: '#/Automotivo/TipoEquipamento/Inativar/' + IdAutomotivoTipoEquipamento}" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
             </div>

             <div style="float:left;padding-left:5px;" data-bind="visible: (EditarRegistro == false)">
                 <a data-bind="attr: { href: '#/Automotivo/TipoEquipamento/View/' + IdAutomotivoTipoEquipamento}" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
             </div>

         </td>
    </tr>
    ,
    api: "indexVM.api",
    orderByCol: "Descricao",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,
    useHiddenColumns: false)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}

