﻿@model HTM.MasterGestor.Web.UI.Areas.Automotivo.ViewModels.TipoEquipamento.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-AutomotivoTipoEquipamento-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlTipoEquipamentoSuperior">Superior</label>
                            @HtmlHelper.Select.SearchableKO("ddlTipoEquipamentoSuperior", "IdAutomotivoTipoEquipamentoPai", "IdAutomotivoTipoEquipamento", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Automotivo/TipoEquipamento/List", dadosComplObservable: "DadosComplementares", idChaveRelacao: "IdAutomotivoTipoEquipamento")
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkUltimoNivel">Último Nível</label>
                            <input type="checkbox" class="no-uniform" id="chkUltimoNivel" data-bind="checked: UltimoNivel, flipper: { observable: UltimoNivel, options: { 'css': 'warning' } }">
                        </div>
                    </div>
                </div>
                <div class="row" data-bind="visible: UltimoNivel() == true">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlCentroCusto" class="control-label">Centro de Custo</label>
                            @HtmlHelper.Select.SearchableKO("ddlCentroCusto", "IdCentroCusto", "IdCentroCusto", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Contabilidade/CentroCusto/ListarHierarquicamentePorParametro", "Ativo:true, UltimoNivel:true, ComRestricaoUsuario:true", dataBind: "validate: { required: CentroCustoObrigatorio()== true && UltimoNivel()==true }")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </form>
</div>