﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.GrupoResponsabilidadeTipo.IndexVM

<div id="filtro-grade">
    <template id="filter-GrupoResponsabilidadeTipoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>
    @HtmlHelper.GridView.GridIndex(
        id: "GrupoResponsabilidadeTipoIndex",
        newUrl: "#/Corporativo/GrupoResponsabilidadeTipo/New",
        editUrl: "#/Corporativo/GrupoResponsabilidadeTipo/Edit",
        listUrl: "/Corporativo/GrupoResponsabilidadeTipo/List",
        columns:
        @<script>
            [
                { 'id': 'IdGrupoResponsabilidadeTipo', filter: true, editColumn: true },
                { 'id': 'Descricao', 'header': true, 'filter': true, 'defaultFilter': true, 'displayName': 'Descrição', sortable: true },
                defaults.gridNewEdit.column.ativo,
                defaults.gridNewEdit.column.acao
            ]
        </script>,
        templateRows:
        @<tr>
            <td data-bind="text: Descricao, id: IdGrupoResponsabilidadeTipo"></td>
            <td data-bind="template: 'label-status'"></td>
            <td data-bind="template: { name: 'button-edit-url', data: { id: IdGrupoResponsabilidadeTipo } }"></td>
        </tr>, api: "indexVM.api", orderByCol: "Descricao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)
</div>
@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}

