﻿@model HTM.MasterGestor.Web.UI.Areas.Mapeamento.ViewModels.Mapa.IndexVM
<div data-bind="stopBindings: true" id="route-map" class="map-loading">
    <svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="icon-location2" viewBox="0 0 22 22">
                <title>location2</title>
                <path class="path1" d="M11 0c-3.797 0-6.875 3.078-6.875 6.875 0 6.875 6.875 15.125 6.875 15.125s6.875-8.25 6.875-15.125c0-3.797-3.078-6.875-6.875-6.875zM11 11.086c-2.326 0-4.211-1.885-4.211-4.211s1.885-4.211 4.211-4.211 4.211 1.885 4.211 4.211-1.885 4.211-4.211 4.211zM8.336 6.875c0-1.471 1.193-2.664 2.664-2.664s2.664 1.193 2.664 2.664c0 1.471-1.193 2.664-2.664 2.664s-2.664-1.193-2.664-2.664z"></path>
            </symbol>
            <symbol id="icon-spades" viewBox="0 0 22 22">
                <title>spades</title>
                <path class="path1" d="M17.565 7.48c-4.159-3.091-5.592-5.565-6.565-7.48v0c-0 0-0-0-0-0v0c-0.973 1.915-2.406 4.389-6.565 7.48-7.091 5.27-0.416 12.626 5.452 8.577-0.382 2.512-1.687 4.344-3.012 5.132v0.811h8.251v-0.811c-1.325-0.789-2.63-2.62-3.012-5.132 5.868 4.049 12.543-3.307 5.452-8.577z"></path>
            </symbol>
            <symbol id="icon-clubs" viewBox="0 0 22 22">
                <title>clubs</title>
                <path class="path1" d="M16.905 8.438c-1.268 0-2.408 0.528-3.219 1.39-0.344 0.365-0.94 0.797-1.586 1.178 0.303-1.157 1.261-2.615 1.926-3.254 0.852-0.82 1.375-1.973 1.375-3.255 0-2.468-1.965-4.471-4.4-4.497-2.435 0.026-4.4 2.029-4.4 4.497 0 1.282 0.523 2.435 1.375 3.255 0.665 0.639 1.622 2.097 1.926 3.254-0.645-0.38-1.242-0.813-1.586-1.178-0.811-0.861-1.951-1.39-3.219-1.39-2.458 0-4.449 2.012-4.449 4.497s1.991 4.497 4.449 4.497c1.268 0 2.408-0.545 3.219-1.406 0.361-0.384 0.998-0.862 1.682-1.26-0.064 3.173-1.58 5.504-3.122 6.422v0.811h8.25v-0.811c-1.542-0.918-3.058-3.249-3.122-6.422 0.684 0.397 1.321 0.876 1.682 1.26 0.811 0.861 1.951 1.406 3.219 1.406 2.458 0 4.449-2.013 4.449-4.497s-1.991-4.497-4.449-4.497z"></path>
            </symbol>
            <symbol id="icon-diamonds" viewBox="0 0 22 22">
                <title>diamonds</title>
                <path class="path1" d="M11 0l-6.875 11 6.875 11 6.875-11z"></path>
            </symbol>
            <symbol id="icon-wrench" viewBox="0 0 22 22">
                <title>wrench</title>
                <path class="path1" d="M21.547 17.572l-9.895-8.481c0.461-0.866 0.722-1.854 0.722-2.903 0-3.417-2.77-6.188-6.188-6.188-0.625 0-1.228 0.093-1.797 0.265l3.575 3.575c0.535 0.535 0.535 1.41 0 1.945l-2.18 2.18c-0.535 0.535-1.41 0.535-1.945 0l-3.575-3.575c-0.172 0.569-0.265 1.172-0.265 1.797 0 3.417 2.77 6.188 6.188 6.188 1.049 0 2.037-0.261 2.903-0.722l8.481 9.895c0.492 0.574 1.332 0.606 1.867 0.072l2.18-2.18c0.535-0.535 0.502-1.375-0.072-1.867z"></path>
            </symbol>
            <symbol id="icon-airplane" viewBox="0 0 22 22">
                <title>airplane</title>
                <path class="path1" d="M16.5 13.749l-3.928-3.928 9.428-7.072-2.75-2.75-11.785 4.715-3.71-3.71c-1.069-1.069-2.563-1.326-3.319-0.57s-0.5 2.25 0.57 3.319l3.71 3.71-4.715 11.786 2.75 2.75 7.072-9.429 3.928 3.928v5.5h2.75l1.375-4.125 4.125-1.375v-2.75l-5.5 0z"></path>
            </symbol>           
            <symbol id="icon-happy" viewBox="0 0 22 22">
                <title>happy</title>
                <path class="path1" d="M11 22c6.075 0 11-4.925 11-11s-4.925-11-11-11-11 4.925-11 11 4.925 11 11 11zM11 2.063c4.936 0 8.938 4.001 8.938 8.938s-4.001 8.938-8.938 8.938-8.938-4.001-8.938-8.938 4.001-8.938 8.938-8.938zM11 12.864c2.491 0 4.86-0.662 6.875-1.824-0.313 3.834-3.29 6.835-6.875 6.835s-6.562-3.005-6.875-6.839c2.015 1.163 4.384 1.828 6.875 1.828zM5.5 7.563c0-1.139 0.616-2.063 1.375-2.063s1.375 0.923 1.375 2.063c0 1.139-0.616 2.063-1.375 2.063s-1.375-0.923-1.375-2.063zM13.75 7.563c0-1.139 0.616-2.063 1.375-2.063s1.375 0.923 1.375 2.063c0 1.139-0.616 2.063-1.375 2.063s-1.375-0.923-1.375-2.063z"></path>
            </symbol>
            <symbol id="icon-smile" viewBox="0 0 22 22">
                <title>smile</title>
                <path class="path1" d="M11 22c6.075 0 11-4.925 11-11s-4.925-11-11-11-11 4.925-11 11 4.925 11 11 11zM11 2.063c4.936 0 8.938 4.001 8.938 8.938s-4.001 8.938-8.938 8.938-8.938-4.001-8.938-8.938 4.001-8.938 8.938-8.938zM5.5 6.875c0-0.759 0.616-1.375 1.375-1.375s1.375 0.616 1.375 1.375c0 0.759-0.616 1.375-1.375 1.375s-1.375-0.616-1.375-1.375zM13.75 6.875c0-0.759 0.616-1.375 1.375-1.375s1.375 0.616 1.375 1.375c0 0.759-0.616 1.375-1.375 1.375s-1.375-0.616-1.375-1.375zM15.127 13.476l1.769 1.061c-1.202 2-3.393 3.337-5.896 3.337s-4.694-1.338-5.896-3.337l1.769-1.061c0.842 1.4 2.375 2.336 4.127 2.336s3.285-0.937 4.127-2.336z"></path>
            </symbol>
            <symbol id="icon-sad" viewBox="0 0 22 22">
                <title>sad</title>
                <path class="path1" d="M11 22c6.075 0 11-4.925 11-11s-4.925-11-11-11-11 4.925-11 11 4.925 11 11 11zM11 2.063c4.936 0 8.938 4.001 8.938 8.938s-4.001 8.938-8.938 8.938-8.938-4.001-8.938-8.938 4.001-8.938 8.938-8.938zM5.5 6.875c0-0.759 0.616-1.375 1.375-1.375s1.375 0.616 1.375 1.375c0 0.759-0.616 1.375-1.375 1.375s-1.375-0.616-1.375-1.375zM13.75 6.875c0-0.759 0.616-1.375 1.375-1.375s1.375 0.616 1.375 1.375c0 0.759-0.616 1.375-1.375 1.375s-1.375-0.616-1.375-1.375zM6.873 16.774l-1.769-1.061c1.202-2 3.393-3.337 5.896-3.337s4.694 1.338 5.896 3.337l-1.769 1.061c-0.842-1.4-2.375-2.336-4.127-2.336s-3.285 0.937-4.127 2.336z"></path>
            </symbol>
            <symbol id="icon-spades2" viewBox="0 0 22 22">
                <title>spades2</title>
                <path class="path1" d="M17.565 7.48c-4.159-3.091-5.592-5.565-6.565-7.48v0c-0 0-0-0-0-0v0c-0.973 1.915-2.406 4.389-6.565 7.48-7.091 5.27-0.416 12.626 5.452 8.577-0.382 2.512-1.687 4.344-3.012 5.132v0.811h8.251v-0.811c-1.325-0.789-2.63-2.62-3.012-5.132 5.868 4.049 12.543-3.307 5.452-8.577z"></path>
            </symbol>
            <symbol id="icon-clubs2" viewBox="0 0 22 22">
                <title>clubs2</title>
                <path class="path1" d="M16.905 8.438c-1.268 0-2.408 0.528-3.219 1.39-0.344 0.365-0.94 0.797-1.586 1.178 0.303-1.157 1.261-2.615 1.926-3.254 0.852-0.82 1.375-1.973 1.375-3.255 0-2.468-1.965-4.471-4.4-4.497-2.435 0.026-4.4 2.029-4.4 4.497 0 1.282 0.523 2.435 1.375 3.255 0.665 0.639 1.622 2.097 1.926 3.254-0.645-0.38-1.242-0.813-1.586-1.178-0.811-0.861-1.951-1.39-3.219-1.39-2.458 0-4.449 2.012-4.449 4.497s1.991 4.497 4.449 4.497c1.268 0 2.408-0.545 3.219-1.406 0.361-0.384 0.998-0.862 1.682-1.26-0.064 3.173-1.58 5.504-3.122 6.422v0.811h8.25v-0.811c-1.542-0.918-3.058-3.249-3.122-6.422 0.684 0.397 1.321 0.876 1.682 1.26 0.811 0.861 1.951 1.406 3.219 1.406 2.458 0 4.449-2.013 4.449-4.497s-1.991-4.497-4.449-4.497z"></path>
            </symbol>
            <symbol id="icon-diamonds2" viewBox="0 0 22 22">
                <title>diamonds2</title>
                <path class="path1" d="M11 0l-6.875 11 6.875 11 6.875-11z"></path>
            </symbol>                    
        </defs>
    </svg>
    
    @*<aside-panel params="data: $data">
        </aside-panel>*@

    @Html.AntiForgeryToken()

    <div id="aside-edit" class="panel-set panel-mapa-edit" style="display: none">
        <div class="panel-container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Edição do Elemento <a class="panel-close" href="#"><i class="material-icons"></i></a></h3>
                </div>
                <div class="panel-body">
                    <form id="element-edit" data-bind="validateForm: { submitHandler: Save }">
                        <div data-bind="with: Elemento">
                            <div class="form-group">
                                <label for="ddlMapeamentoElementoCamadaSuperior">Pertence à qual camada?</label>
                                @HtmlHelper.Select.SearchableKO("ddlMapeamentoElementoCamadaSuperior", "IdMapeamentoCamada", "IdMapeamentoCamada", "Descricao", "Descricao", "Descricao", "/Mapeamento/Camada/List", idChaveRelacao: "IdMapeamentoCamada", dadosComplObservable: "$parent.dadosComplCamadaSuperior", required: true)

                            </div>
                            <div class="form-group">
                                <label for="IdItemSistema">Está vinculado a qual Item de Sistema?</label>
                                <select id="IdItemSistema" name="IdItemSistema" class="form-control no-search" data-bind="value: TipoObjetoSistema">
                                    <option value="">Sem Vínculo com o Sistema</option>
                                    <option value="1">Benfeitoria</option>
                                    <option value="2">Local de Produção</option>
                                    <option value="3">Unidade de Produção</option>
                                    <option value="4">Local de Armazenagem</option>
                                </select>
                            </div>

                            <!-- Benfeitoria  -->
                            <div class="form-group" data-bind="visible: TipoObjetoSistema() == 1">
                                <label for="ddlBenfeitoria">Benfeitoria</label>
                                @HtmlHelper.Select.SearchableKO("ddlenfeitoria", "IdReferencia", "IdBenfeitoria", "DescricaoExibicao", "BuscaAvancada", "DescricaoExibicao", "/Corporativo/Benfeitoria/List", idChaveRelacao: "IdBenfeitoria", dadosCompl: "Ativo:true", dataBind: " validate: { required: TipoObjetoSistema() == 1 } ")
                            </div>

                            <!-- Local de Produção -->
                            <div class="form-group" data-bind="visible: TipoObjetoSistema() == 2">
                                <label for="ddlBenfeitoria">Local de Produção</label>
                                @HtmlHelper.Select.SearchableKO("ddlProducaoLocal", "IdReferencia", "IdProducaoLocal", "DescricaoExibicao", "BuscaAvancada", "DescricaoExibicao", "/Agricola/LocalProducao/List", idChaveRelacao: "IdProducaoLocal", dadosCompl: "Ativo:true", dataBind: " validate: { required: TipoObjetoSistema() == 2 } ")
                            </div>

                            <!-- Unidade de Produção -->
                            <div class="form-group" data-bind="visible: TipoObjetoSistema() == 3">
                                <label for="ddlBenfeitoria">Unidade de Produção</label>
                                @HtmlHelper.Select.SearchableKO("ddlProducaoUnidade", "IdReferencia", "IdProducaoUnidade", "DescricaoExibicao", "CodigoDescricao", "DescricaoExibicao", "/Agricola/Unidade/List", idChaveRelacao: "IdProducaoUnidade", dadosCompl: "Ativo:true", dataBind: " validate: { required: TipoObjetoSistema() == 3 } ")
                            </div>

                            <!-- Local Armazenagem -->
                            <div class="form-group" data-bind="visible: TipoObjetoSistema() == 4">
                                <label for="ddlBenfeitoria">Local de Armazenagem</label>
                                @HtmlHelper.Select.SearchableKO("ddlProdutoLocal", "IdReferencia", "IdProdutoLocal", "DescricaoExibicao", "BuscaAvancada", "DescricaoExibicao", "/Estoque/ProdutoLocal/List", idChaveRelacao: "IdProdutoLocal", dadosCompl: "Ativo:true", dataBind: " validate: { required: TipoObjetoSistema() == 4 } ")
                            </div>

                            <!-- Descrição -->
                            <div class="form-group" data-bind="visible: (TipoObjetoSistema() == null || TipoObjetoSistema() == 0)">
                                <label for="DescricaoElemento">Descrição</label>
                                <input id="DescricaoElemento" data-bind="value: Descricao, validate: { required: (TipoObjetoSistema() == null || TipoObjetoSistema() == 0) }" class="form-control" type="text" />
                            </div>
                        </div>
                        <ul class="nav nav-tabs" data-bind="navTabs: {}">
                            <li role="presentation" class="active"><a href="#element-info">Informações</a></li>
                            <li role="presentation"><a href="#element-obs">Obs</a></li>
                            <li role="presentation"><a href="#element-config">Características</a></li>
                            <li role="presentation"><a href="#element-edit-style">@*<i class="material-icons">format_paint</i>*@ Estilo</a></li>
                        </ul>
                        <div class="nav-content">
                            <div class="nav-tab" id="element-info" data-bind="with: ElementoArea">
                            </div>

                            <div class="nav-tab" id="element-obs" style="display: none" data-bind="with: Elemento">
                                <textarea id="txtObservacao" class="form-control" data-bind="value: Observacao"></textarea>
                            </div>
                            <div class="nav-tab" id="element-config" style="display: none" data-bind="with: Elemento">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="VisivelConsulta">Visível em consultas</label>
                                            <input id="VisivelConsulta" class="form-control" type="checkbox" data-bind="flipper: { observable: VisivelConsulta }, checked: VisivelConsulta" />
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="Ativo">Ativo</label>
                                            <input id="Ativo" class="form-control" type="checkbox" data-bind="flipper: { observable: Ativo }, checked: Ativo" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="nav-tab" id="element-edit-style" style="display: none" data-bind="with: Estilo">
                            </div>
                        </div>
                        <div class="panel-set-action">
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <button type="submit" id="btn-salvar" class="btn btn-primary btn-block btn-primary-action btn-md"><i class="material-icons material-md">&#xE5CA;</i> Salvar</button>
                                </div>
                                <div class="col-xs-6">
                                    <button id="cancel-element" type="button" class="btn btn-primary btn-block btn-inverted btn-lg panel-close"><i class="material-icons material-md"></i> Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel-container">
        </div>
    </div>
    <div class="aside-panel" id="aside-menu">
        <div class="aside-toggle-container">
            <button class="aside-toggle-button" aria-label="Recolher painel lateral" data-bind="event: { click: togglePanel }"></button>
        </div>

        <div class="panel panel-default">
            <div id="modo-consulta" style="display: none">
                <div class="panel-heading">
                    <div>
                        <ol class="breadcrumb">
                            <li class="actiHve">Mapas</li>
                        </ol>
                    </div>
                </div>
                <div class="panel-body">
                    <fieldset>


                        <template id="panel-MapaIndex">
                            <div class="form-group">
                                <label for="txtPesquisaMapa">Pesquisar em Mapas</label>
                                <div class="input-group">
                                    <input id="txtPesquisaMapa" data-bind="textInput: Descricao" class="form-control" type="search" />
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary btn-icon btn-icon-lg"><i class="material-icons">search</i></button>
                                    </div>
                                </div>
                            </div>
                            @HtmlHelper.Campo.DropAtivo()
                            <button id="btnNovoMapa" data-bind="event: { click: function () { $root.exibeModalMapa(0) } }" class="btn btn-secondary btn-block">Novo Mapa</button>

                        </template>

                        @HtmlHelper.GridView.GridIndex(
                        id: "MapaIndex",
                        newUrl: "#/Mapeamento/Mapa/Mapa/New",
                        editUrl: "#/Mapeamento/Mapa/Mapa",
                        listUrl: "/Mapeamento/Mapa/List",
                        columns:
                        @<script>
                            [
                                { 'id': 'Descricao', 'defaultFilter': true, filter: true, header: true },
                                { 'id': 'Ativo', filter: true },
                                { 'id': 'IdMapeamentoMapa', editColumn: true },
                                defaults.gridNewEdit.column.acaoEditRemove
                            ]
                        </script>,
                            templateRows:
                            @<tr data-bind="attr: { 'data-edit-url': '/#/Mapeamento/Mapa/Mapa/' + encodeURI(ko.unwrap(Descricao)) + '/' + ko.unwrap(IdMapeamentoMapa) }">
                                <td data-bind="text: Descricao"></td>
                                <td>
                                    <a href="#" data-bind="attr: { href: '/#/Mapeamento/Mapa/Mapa/' + encodeURI(ko.unwrap(Descricao)) + '/' + ko.unwrap(IdMapeamentoMapa) }" class="btn btn-primary btn-icon" title="Editar elementos do mapa"><i class="material-icons">&#xE55B;</i></a>
                                    <a href="#" data-bind="event: { click: function () { $root.exibeModalMapa(ko.unwrap(IdMapeamentoMapa)) } }" title="Editar informações do mapa" class="btn btn-secondary btn-icon"><i class="material-icons">&#xE254;</i></a>
                                </td>
                            </tr>,
                                          showFilter: false,
                                          showNewButton: false,
                                          showExportButtons: false,
                                          showPanelFilter: true,
                                          showTotalRecordsSelect: false,
                                          orderByCol: "Ordem",
                                          orderByDir: HelpersUtil.OrderByDirEnum.Asc,
                                          useHiddenColumns: false,
                                          api: "listaMapasUsuario")
                        @*</div>*@

                        @*<table cellpadding="0" cellspacing="0" class="table table-striped table-row-editable">
                                <thead>
                                    <tr>
                                        <th>Mapas</th>
                                        <th style="width: 1%">Ações</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: listaMapasUsuario">
                                    <tr>
                                        <td data-bind="text: TituloMapa, event: { click: $root.toggleEdit }"></td>
                                        <td data-bind="event: { click: $root.toggleEdit }">
                                            <!-- toogleEdit temp, será rota -->
                                            <a href="#" class="btn btn-icon btn-primary"><i class="material-icons">edit</i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>*@
                    </fieldset>
                </div>
            </div>

            <div id="modo-edicao" style="display: none">
                <div class="panel-heading">
                    <div>
                        <span class="btn-back-container in"><a href="/#/Mapeamento/Mapa/Mapa" class="btn-back btn-primary btn-inverted btn-rounded-icon"></a></span>
                        <ol class="breadcrumb">
                            <li><a id="tituloTela" href="/#/Mapeamento/Mapa/Mapa">Mapas</a></li>
                            <li class="actiHve">Elementos</li>
                        </ol>
                    </div>
                    <button id="btn-preferencias" class="btn btn-icon btn-rounded-icon pull-right btn-preferencia-mapeamento" title="Preferências de Mapeamento"><i class="fa fa-gear"></i></button>
                </div>
                <div class="panel-body">
                    <div class="form-group read-mode txt-mapa-edit">
                        @*<label for="txtMapaSelecionado">Mapa</label>*@
                        <label class="form-control txt-mapa"><i class="material-icons material-md">map</i><span data-bind="text: title"></span></label>
                    </div>
                    <fieldset>
                        @*<legend>Itens do Mapa</legend>*@

                        @*<label>Com <span class="badge">2</span> camadas e <span class="badge">3</span> elementos selecionados</label>*@

                        <div class="form-inline">
                            <div class="form-group" style="width: 272px">
                                @*<label for="txtEditPesquisaMapa">Pesquisar no Mapa</label>*@
                                <div class="input-group">
                                    <input id="txtPesquisaTree" class="form-control" placeholder="Pesquisar elementos do mapa" type="search" />
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary btn-icon btn-icon-lg"><i class="material-icons">search</i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="dropdown dropdown-selected">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                                        Ações
                                        @*Com <span class="badge">2</span> camadas e <span class="badge">3</span> elementos selecionados*@
                                        <span class="caret"></span>
                                        @*<i class="material-icons material-lg">more_vert</i>*@
                                    </button>
                                    <ul class="dropdown-menu">
                                        @*<li><button id="btnNovoElement" class="btn btn-secondary"><i class="material-icons material-md">add</i> Novo elemento</button></li>*@
                                        <li><a href="#" data-bind="event: { 'click': exibeModalCamadas }"><i class="material-icons">layers</i> Nova Camada</a></li>
                                        @*<li><a href="#"><i class="material-icons">add</i> Novo Elemento</a></li>*@
                                        <li>
                                            <a href="#" data-bind="upload: { id: 'upload-kml-input', url: '/Mapeamento/Arquivo/UploadKML', success: uploadKmlSuccess, error: uploadKmlError }">Importar KML </a>
                                            <input style="display: none" type="file" accept=".kml,.kmz" name="upload-kml-input" id="upload-kml-input">
                                        </li>
                                        <li>
                                            <a href="#" data-bind="event: { 'click': exibeModalEscolhaCamada }">Importar Shapefile (.zip)</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="container-itens-mapa">
                            <div id="treeItensMapa" class="jstree-check-untie">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <div id="map-container">
        <div id="search-box">
            <div class="input-group">
                <input class="form-control" type="search" placeholder="Buscar no mapa" id="txtBuscaMapa" />
                <div class="input-group-btn">
                    <button class="btn btn-primary btn-icon btn-icon-lg"><i class="material-icons">search</i></button>
                </div>
            </div>
        </div>
        <div id="toolbar">
        </div>
        <div id="map"></div>
    </div>


    <div class="modal fade modal-sm" id="modal-EscolhaCamada" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
            <form id="form-EscolhaCamada-NewEdit" data-bind="validateForm: { submitHandler: SaveEscolhaCamada }">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Escolha a camada para importação</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="ddlMapeamentoCamadaSuperior">Camada Superior</label>
                            @HtmlHelper.Select.SearchableKO("ddlMapeamentoCamadaSuperiorImport", "IdMapeamentoCamadaPai", "IdMapeamentoCamada", "Descricao", "Descricao", "Descricao", "/Mapeamento/Camada/List", idChaveRelacao: "IdMapeamentoCamada", dadosComplObservable: "$root.dadosComplCamadaSuperior", required: true)
                        </div>
                        <div class="form-group">
                            <label for="upload-shapefile-input">Arquivo para importação (.zip)</label>
                            <div class="input-group">
                                <input type="text" id="txtNomeArquivoUploadShape" readonly="readonly" data-bind="value: NomeArquivo, validate: { required: true }" class="form-control" />
                                <div class="input-group-btn">
                                    <a href="#" class="btn btn-secondary" data-bind="upload: { id: 'upload-shapefile-input', uploadOnChange: false, url: '/Mapeamento/Arquivo/UploadShape', uploadSubmit: uploadSubmit, text: NomeArquivo, data: { IdMapeamentoCamada: IdMapeamentoCamadaPai }, success: uploadShapeSuccess, error: uploadShapeError }">Escolher Arquivo</a>
                                    <input style="display: none" type="file" accept=".zip" name="upload-shapefile-input" id="upload-shapefile-input">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Importar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>



    <div class="modal fade" id="modal-preferencias" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
            <form id="form-ConfiguracaoMapeamento-NewEdit" data-bind="validateForm: { submitHandler: Save }">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Preferências</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="ddlUnidadeMedidaExtraDistancia">Unidade extra para distância</label>
                                    @HtmlHelper.Select.SearchableKO("ddlUnidadeMedidaExtraDistancia", "IdUnidadeDistanciaExtra", "IdUnidade", "DescricaoSigla", "DescricaoSiglaBusca", "Descricao", "/Estoque/Unidade/List", dadosComplObservable: "IdUnidadeMedidaExtraCompl", idChaveRelacao: "IdUnidade", required: true)
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="ddlUnidadeExtraArea">Unidade extra para área</label>
                                    @HtmlHelper.Select.SearchableKO("ddlUnidadeExtraArea", "IdUnidadeAreaExtra", "IdUnidade", "DescricaoSigla", "DescricaoSiglaBusca", "Descricao", "/Estoque/Unidade/List", dadosComplObservable: "IdUnidadeAreaExtraCompl", idChaveRelacao: "IdUnidade", required: true)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </form>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modal-mapeamento-camadas" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Camadas</h4>
                </div>
                <div id="modal-mapeamento-camadas-conteudo" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-salvar-camada" class="btn btn-primary">Salvar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modal-mapeamento-mapa" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
            <form class="modal-content" id="form-MapeamentoMapa-NewEdit" data-bind="validateForm: { submitHandler: Save }">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Mapa
                    </h4>
                </div>
                <div id="modal-mapeamento-mapa-conteudo" class="modal-body" data-bind="with: data">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtMapaDescricao">Descrição</label>
                                <input id="txtMapaDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="chkVisivelConsultas">Visível em Consultas</label>
                                <input type="checkbox" class="no-uniform" id="chkVisivelConsultas" data-bind="checked: VisivelConsulta, flipper: { observable: VisivelConsulta, options: defaults.flipper.simNao }">
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="chkBloqueada">Bloqueada</label>
                                <input type="checkbox" class="no-uniform" id="chkBloqueada" data-bind="checked: SomenteLeitura, flipper: { observable: SomenteLeitura, options: defaults.flipper.simNao }">
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtOrdenacao">Ordenação</label>
                                <input id="txtOrdenacao" class="form-control" data-bind="value: Ordem" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="chkMapaAtivo">Ativo</label>
                                <input type="checkbox" class="no-uniform" id="chkMapaAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="txtMapaObservacao">Observação</label>
                                <textarea id="txtMapaObservacao" data-bind="value: Observacao" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btn-salvar-mapa" class="btn btn-primary">Salvar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</div>
