﻿@model HTM.MasterGestor.Web.UI.Areas.Mapeamento.ViewModels.Mapa.IndexVM


<div id="filtro-grade">
    <template id="filter-MapeamentoMapaIndex">
        <div class="form-group">
            <label for="txtFiltroCodigoDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroMapaCamadaCategoria" class="control-label">Categoria</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroMapaCamadaCategoria", "IdMapeamentoCamadaCategoriaIn", "IdMapeamentoCamadaCategoriaIn", "Descricao", "Descricao", "Descricao", "/Mapeamento/Categoria/List", "Ativo:true", idChaveRelacao: "IdMapeamentoCamadaCategoria", multiple: true)
        </div>
        <div class="form-group">
            <label for="ddlFiltroMapaCamada" class="control-label">Camada</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroMapaCamada", "IdMapeamentoCamadaIn", "IdMapeamentoCamadaIn", "Descricao", "Descricao", "Descricao", "/Mapeamento/Camada/List", "Ativo:true", idChaveRelacao: "IdMapeamentoCamada", multiple: true)
        </div>
        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "MapeamentoMapaIndex",
    newUrl: "#/Mapeamento/Mapa/New",
    editUrl: "#/Mapeamento/Mapa/Edit",
    listUrl: "/Mapeamento/Mapa/ListAprofundado",
    columns:
    @<script>
        [
            { 'id': 'IdMapeamentoMapa', 'editColumn': true },
            { 'id': 'RegistroProprio', 'defaultValue': '', 'filter': true },
            { 'id': 'IdMapeamentoCamadaIn', 'filter': true },
            { 'id': 'IdMapeamentoCamadaCategoriaIn', 'filter': true },
            { 'id': 'Ordem', 'header': true, 'filter': true, 'displayName': 'Ordem' },
            { 'id': 'Descricao', 'header': true, 'filter': true, 'defaultFilter': true, 'displayName': 'Descrição' },

            { 'id': 'PossuiVinculo', 'header': true, 'filter': true, 'displayName': 'Possui Vínculo' },
            { 'id': 'PossuiPerimetro', 'header': true, 'filter': true, 'displayName': 'Possui Perímetro' },
            { 'id': 'PossuiElemento', 'header': true, 'filter': true, 'displayName': 'Possui elementos' },

            { 'id': 'EditarRegistro', 'header': true, 'filter': true, 'sortable': true, 'displayName': 'Editar Registro' },
            defaults.gridNewEdit.column.ativo,
            { displayName: "Ações", header: true, width: '1px' }
        ]
    </script>,
        templateRows:
        @<tr data-bind="attr: { 'data-edit-url': '/#/Mapeamento/Mapa/MapaElemento/' + ko.unwrap(IdMapeamentoMapa) }">
            <td data-bind="text: Ordem"></td>
            <td data-bind="text: Descricao"></td>

             <td data-bind="template: { name: 'label-status', data: { status: PossuiVinculo } }"></td>
             <td data-bind="template: { name: 'label-status', data: { status: PossuiPerimetro } }"></td>
             <td data-bind="template: { name: 'label-status', data: { status: PossuiElemento } }"></td>


            <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>
            <td data-bind="template: 'label-status'"></td>
            <td>
                <div class="buttons-inline">
                    <div class="button-container">
                        <span data-bind="template: { name: 'button-edit-url', data: { id: IdMapeamentoMapa } }"></span>
                    </div>
                    <div class="button-container">
                        <a href="#" data-bind="attr: { href: '/#/Mapeamento/Mapa/MapaElemento/' + ko.unwrap(IdMapeamentoMapa) }" class="btn btn-primary btn-icon" title="Editar elementos do mapa"><i class="material-icons">&#xE55B;</i></a>
                    </div>
                    <div class="button-container" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                        <a data-bind="attr: { href: '#/Mapeamento/Mapa/Ativar/' + IdMapeamentoMapa}" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
                    </div>
                    <div class="button-container" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                        <a data-bind="attr: { href: '#/Mapeamento/Mapa/Inativar/' + IdMapeamentoMapa}" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
                    </div>
                    <div class="button-container" data-bind="visible: (EditarRegistro == false)">
                        <a data-bind="attr: { href: '#/Mapeamento/Mapa/View/' + IdMapeamentoMapa}" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
                    </div>
                </div>
            </td>
        </tr>, api: "indexVM.api", orderByCol: "Ordem", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)
</div>