﻿@model HTM.MasterGestor.Web.UI.Areas.Mapeamento.ViewModels.Mapa.MapaElementoVM
<div data-bind="stopBindings: true" id="route-map">
    @Html.AntiForgeryToken()

    <div id="aside-edit" class="panel-set panel-mapa-edit">
        <div class="panel-container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Edição do Elemento <a class="panel-close" href="#"><i class="material-icons"></i></a></h3>
                </div>
                <div class="panel-body">

                    <form id="element-edit" data-bind="validateForm: { submitHandler: Save }">
                        <div data-bind="with: Elemento">
                            <div class="form-group">
                                <label for="ddlMapeamentoElementoCamadaSuperior">Pertence à qual camada?</label>
                                @HtmlHelper.Select.SearchableKO("ddlMapeamentoElementoCamadaSuperior", "IdMapeamentoCamada", "IdMapeamentoCamada", "DescricaoComposta", "BuscaAvancada", "DescricaoComposta", "/Mapeamento/Camada/List", idChaveRelacao: "IdMapeamentoCamada", dadosComplObservable: "$parent.dadosComplCamadaSuperior", required: true, vmTextSelected: "$parent.DescricaoCamadaSuperior")

                            </div>
                            <div class="form-group">
                                <label for="IdItemSistema">Está vinculado a qual Item de Sistema?</label>
                                <select id="IdItemSistema" name="IdItemSistema" class="form-control no-search" data-bind="value: TipoObjetoSistema">
                                    <option value="">Sem Vínculo com o Sistema</option>
                                    <option value="1">Benfeitoria</option>
                                    <option value="2">Local de Produção</option>
                                    <option value="3">Unidade de Produção</option>
                                    <option value="4">Local de Armazenagem</option>
                                </select>
                            </div>

                            <!-- Benfeitoria  -->
                            <div class="form-group" data-bind="visible: TipoObjetoSistema() == 1">
                                <label for="ddlBenfeitoria">Benfeitoria</label>
                                @HtmlHelper.Select.SearchableKO("ddlBenfeitoria", "IdReferencia", "IdBenfeitoria", "DescricaoExibicao", "BuscaAvancada", "DescricaoExibicao", "/Corporativo/Benfeitoria/List", idChaveRelacao: "IdBenfeitoria", dadosCompl: "Ativo:true,SemItensRelacionadosComMapeamento:true", dataBind: " validate: { required: TipoObjetoSistema() == 1 } ", vmTextSelected: "Descricao")
                            </div>

                            <!-- Local de Produção -->
                            <div class="form-group" data-bind="visible: TipoObjetoSistema() == 2">
                                <label for="ddlProducaoLocal">Local de Produção</label>
                                @HtmlHelper.Select.SearchableKO("ddlProducaoLocal", "IdReferencia", "IdProducaoLocal", "DescricaoExibicao", "BuscaAvancada", "DescricaoExibicao", "/Agricola/LocalProducao/List", idChaveRelacao: "IdProducaoLocal", dadosComplObservable: "$root.dadosComplLocalProducao", dataBind: " validate: { required: TipoObjetoSistema() == 2 } ", vmTextSelected: "Descricao", vmDataSelected: "$root.vmDataProducaoLocal")
                                @*@HtmlHelper.Select.SearchableKO("ddlProducaoLocal", "IdReferencia", "IdProducaoLocal", "DescricaoExibicao", "BuscaAvancada", "DescricaoExibicao", "/Agricola/LocalProducao/List", idChaveRelacao: "IdProducaoLocal", dadosComplObservable: "$root.dadosComplLocalProducao", dataBind: " validate: { required: TipoObjetoSistema() == 2 } ", vmTextSelected: "Descricao", vmDataSelected: "$root.vmDataProducaoLocal", disabledObservable: "$root.ProducaoLocalDisabled")*@
                            </div>

                            <!-- Unidade de Produção -->
                            <div class="form-group" data-bind="visible: TipoObjetoSistema() == 3">
                                <label for="ddlProducaoLocalUnidade">Local de Produção</label>
                                @HtmlHelper.Select.SearchableKO("ddlProducaoLocalUnidade", "IdReferenciaAuxiliar", "IdProducaoLocal", "DescricaoExibicao", "BuscaAvancada", "DescricaoExibicao", "/Agricola/LocalProducao/List", idChaveRelacao: "IdProducaoLocal", dadosComplObservable: "$parent.dadosComplProducaoLocalUnidade", dataBind: " validate: { required: TipoObjetoSistema() == 3 } ")
                                @*@HtmlHelper.Select.SearchableKO("ddlProducaoLocalUnidade", "IdReferenciaAuxiliar", "IdProducaoLocal", "DescricaoExibicao", "BuscaAvancada", "DescricaoExibicao", "/Agricola/LocalProducao/List", idChaveRelacao: "IdProducaoLocal", dadosComplObservable: "$parent.dadosComplProducaoLocalUnidade", dataBind: " validate: { required: TipoObjetoSistema() == 3 } ", disabledObservable: "$root.LocalProducaoUnidadeDisabled")*@
                                <!-- para este item 'ddlProducaoLocalUnidade' não utilizo o parametro SemItensRelacionadosComMapeamento por questões obvias -->
                            </div>
                            <div class="form-group" data-bind="visible: TipoObjetoSistema() == 3">
                                <label for="ddlProducaoUnidade">Unidade de Produção</label>
                                @HtmlHelper.Select.SearchableKO("ddlProducaoUnidade", "IdReferencia", "IdProducaoUnidade", "DescricaoExibicao", "CodigoDescricao", "DescricaoExibicao", "/Agricola/Unidade/List", idChaveRelacao: "IdProducaoUnidade", dadosCompl: "Ativo:true, SemItensRelacionadosComMapeamento:true, ProducaoUnidadeTipoPermiteRepresentacaoGeo:true", dataBind: " validate: { required: TipoObjetoSistema() == 3 } ", vmTextSelected: "Descricao", idControleDependencia: "ddlProducaoLocalUnidade", idDependencia: "IdProducaoLocal", vmDataSelected: "$root.vmDataProducaoUnidade")
                            </div>

                            <!-- Local Armazenagem -->
                            <div class="form-group" data-bind="visible: TipoObjetoSistema() == 4">
                                <label for="ddlProdutoLocal">Local de Armazenagem</label>
                                @HtmlHelper.Select.SearchableKO("ddlProdutoLocal", "IdReferencia", "IdProdutoLocal", "DescricaoExibicao", "BuscaAvancada", "DescricaoExibicao", "/Estoque/ProdutoLocal/List", idChaveRelacao: "IdProdutoLocal", dadosCompl: "Ativo:true, SemItensRelacionadosComMapeamento:true", dataBind: " validate: { required: TipoObjetoSistema() == 4 } ", vmTextSelected: "Descricao")
                            </div>

                            <!-- Descrição -->
                            <div class="form-group" data-bind="visible: (TipoObjetoSistema() == null || TipoObjetoSistema() == 0)">
                                <label for="DescricaoElemento">Descrição</label>
                                <input id="DescricaoElemento" data-bind="value: Descricao, validate: { required: (TipoObjetoSistema() == null || TipoObjetoSistema() == 0), validarDescricao: { descricao: Descricao, idMapeamentoMapa: Route.routeOptions.id, idMapeamentoElemento: IdMapeamentoElemento, tipoObjetoSistema: TipoObjetoSistema } }" class="form-control" type="text" />
                            </div>
                        </div>
                        <ul class="nav nav-tabs" data-bind="navTabs: {}">
                            <li role="presentation" class="active"><a href="#element-info">Informações</a></li>
                            <li role="presentation"><a href="#element-obs">Obs</a></li>
                            <li role="presentation"><a href="#element-config">Características</a></li>
                            <li role="presentation"><a href="#element-edit-style">@*<i class="material-icons">format_paint</i>*@ Estilo</a></li>
                        </ul>
                        <div class="nav-content">
                            <div class="nav-tab" id="element-info">
                                <area-position-info params="layer: layer"></area-position-info>
                            </div>

                            <div class="nav-tab" id="element-obs" style="display: none" data-bind="with: Elemento">
                                <textarea id="txtObservacao" class="form-control" data-bind="value: Observacao"></textarea>
                            </div>
                            <div class="nav-tab" id="element-config" style="display: none" data-bind="with: Elemento">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="VisivelConsulta">Visível em consultas</label>
                                            <input id="VisivelConsulta" class="form-control" type="checkbox" data-bind="flipper: { observable: VisivelConsulta }, checked: VisivelConsulta" />
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="Ativo">Ativo</label>
                                            <input id="Ativo" class="form-control" type="checkbox" data-bind="flipper: { observable: Ativo }, checked: Ativo" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="nav-tab" id="element-edit-style" style="display: none" data-bind="with: layer">
                                <!-- ko if: feature.geometry.type !== 'Point' -->
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group" data-bind="with: options">
                                            <label class="label-cor">Cor de fundo <span style="margin-left: 0" data-bind="text: $root.fillColor"></span></label>
                                            <seletor-cores id="fillColor" params="selectedColor: $root.fillColor, layer: $root.layer"></seletor-cores>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group" data-bind="with: options">
                                            <label>Largura da borda <span data-bind="text: $root.strokeWeight"></span></label>
                                            <stroke-weight-selector id="strokeWeight" params="selectedStrokeWeight: $parentContext.$root.strokeWeight, layer: $parentContext.$root.layer"></stroke-weight-selector>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <!-- ko if: $data.getType() !== mapUtils.type.POLYLINE -->
                                        <div class="form-group" data-bind="with: options">
                                            <label>Opacidade<span data-bind="text: $root.fillOpacity"></span></label>
                                            <fill-opacity-selector id="strokeWeight" params="selectedFillOpacity: $parentContext.$root.fillOpacity, layer: $parentContext.$root.layer"></fill-opacity-selector>
                                        </div>
                                        <!-- /ko -->
                                    </div>
                                </div><!-- /ko -->
                                <!-- ko if: feature.geometry.type === 'Point' -->
                                <div class="form-group" data-bind="with: options">
                                    <label>Ícone</label>
                                    <seletor-icones id="seletorIcones" params="selectedIconName: $root.iconName, selectedColor: $root.fillColor, layer: $parentContext.$root.layer"></seletor-icones>
                                </div>
                                <div class="form-group" data-bind="with: options">
                                    <label class="label-cor">Cor do ícone <span data-bind="text: $root.fillColor"></span></label>
                                    <seletor-cores id="iconColor" params="selectedColor: $parentContext.$root.fillColor, layer: $parentContext.$root.layer"></seletor-cores>
                                </div>
                                <!-- /ko -->
                            </div>
                        </div>
                        <div class="panel-set-action">
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <button type="submit" id="btn-salvar" class="btn btn-primary btn-block btn-primary-action btn-md"><i class="material-icons material-md">&#xE5CA;</i> Salvar</button>
                                </div>
                                <div class="col-xs-6">
                                    <button id="cancel-element" type="button" class="btn btn-primary btn-block btn-inverted btn-lg panel-close"><i class="material-icons material-md"></i> Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="aside-menu" class="aside-panel">
        <div class="aside-toggle-container">
            <button class="aside-toggle-button" aria-label="Recolher painel lateral" data-bind="event: { click: togglePanel }"></button>
        </div>
        <div class="panel panel-default">
            <div id="modo-edicao" style="display: block">
                <div class="panel-heading">
                    <div>
                        <span class="btn-back-container in"><a href="/#/Mapeamento/Mapa/Index" class="btn-back btn-primary btn-inverted btn-rounded-icon"></a></span>
                        <ol class="breadcrumb">
                            <li><a id="tituloTela" href="/#/Mapeamento/Mapa/Index">Mapas</a></li>
                            <li class="actiHve">Elementos</li>
                        </ol>
                    </div>
                    <button id="btn-preferencias" class="btn btn-icon btn-rounded-icon pull-right btn-preferencia-mapeamento" title="Preferências de Mapeamento"><i class="fa fa-gear"></i></button>
                </div>
                <div class="panel-body">
                    <div class="form-group read-mode txt-mapa-edit">
                        <label class="form-control txt-mapa"><i class="material-icons material-md">map</i><span data-bind="text: title"></span></label>
                    </div>
                    <fieldset>
                        <div class="form-inline">
                            <div class="form-group" style="width: 194px">
                                <div class="input-group">
                                    <input id="txtPesquisaTree" class="form-control" placeholder="Pesquisar" type="search">
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary btn-icon btn-icon-lg"><i class="material-icons">search</i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group filtro-categorias">
                                <label for="ddlMapeamentoCamadaCategoriaFiltro"></label>
                                @*@HtmlHelper.Select.SelectCheckbox(id: "ddlFiltroFinanceiroFormaPagamento", campoId: "IdFinanceiroFormaPagamentoPrevistaIn", campoIdPesquisa: "IdFinanceiroFormaPagamentoIn", campoValor: "Descricao", campoOrdenacao: "Descricao", campoIdChaveRelacao: "IdFinanceiroFormaPagamento", url: "/Financeiro/FormaPagamento/List", dadosCompl: "Ativo: true", selectOptions: "{ showSubText: true }")*@
                                @HtmlHelper.Select.SelectCheckbox(id: "ddlMapeamentoCamadaCategoriaFiltro", campoId: "IdMapeamentoCamadaCategoriaFiltro", campoIdPesquisa: "IdMapeamentoCamadaCategoriaIn", campoValor: "DescricaoExibicao", campoOrdenacao: "Descricao", campoIdChaveRelacao: "IdMapeamentoCamadaCategoria", url: "/Mapeamento/Categoria/List", dadosCompl: "Ativo: true, Base: false", selectOptions: "{ showSubText: true }")
                                @*@HtmlHelper.Select.SearchableKO("ddlMapeamentoCamadaCategoria", "IdMapeamentoCamadaCategoria", "IdMapeamentoCamadaCategoria", "DescricaoExibicao", "Descricao", "Descricao", "/Mapeamento/Categoria/List", "Ativo:true", vmTextSelected: "$parent.DescricaoMapeamentoCategoriaCamada", dataBind: "validate: { required: $root.ExibeCategoria() == true }", idChaveRelacao: "IdMapeamentoCamadaCategoria")*@
                                @*@HtmlHelper.Select.SearchableKO("ddlMapeamentoCamadaCategoria", "IdMapeamentoCamadaCategoriaFiltro", "IdMapeamentoCamadaCategoria", "DescricaoExibicao", "Descricao", "Descricao", "/Mapeamento/Categoria/List", "Ativo:true", idChaveRelacao: "IdMapeamentoCamadaCategoria")*@
                            </div>
                            <div class="form-group">
                                <div class="dropdown dropdown-selected">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                        Ações
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        @*<li><a href="#" data-bind="event: { 'click': exibeModalCamadas }"><i class="material-icons">layers</i> Nova Camada</a></li>*@
                                        <li>
                                            <a href="#" data-bind="upload: { id: 'upload-kml-input', url: '/Mapeamento/Arquivo/UploadKML', success: uploadKmlSuccess, error: uploadKmlError }">Importar KML </a>
                                            <input style="display: none" type="file" accept=".kml,.kmz" name="upload-kml-input" id="upload-kml-input">
                                        </li>
                                        <li>
                                            <a href="#" data-bind="event: { 'click': exibeModalEscolhaCamada }">Importar Shapefile (.zip)</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="arvore-perimetro" class="sem-perimetro">
                            <div class="form-group vanilla-small">
                                <input id="perimetroVisivel" class="vanilla" type="checkbox" data-bind="vanillaUniform: perimetroParams, checked: perimetroVisivel, disabled: perimetroDisabled">
                                <label><a href="#" class="btn-elemento-perimetro-zoom" data-bind="text: perimetroText, event: { click: perimetroSelecionar }"></a></label>
                                <a href="#" class="btn-elemento-opcoes" role="button"><i class="material-icons"></i></a>
                            </div>
                        </div>
                        <div class="container-itens-mapa">
                            <div id="treeItensMapa" class="jstree-check-untie tree-mapa"></div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <div id="map-container">
        <div id="search-box">
        </div>
        <div id="toolbar" style="display: none;">
        </div>
        <div id="map"></div>
    </div>

    <!-- modais -->
    <div class="modal fade modal-sm" id="modal-EscolhaCamada" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
            <form id="form-EscolhaCamada-NewEdit" data-bind="validateForm: { submitHandler: SaveEscolhaCamada }">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Escolha a camada para importação</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="ddlMapeamentoCamadaSuperior">Camada</label>                            
                            @HtmlHelper.Select.SearchableKO("ddlMapeamentoCamadaSuperiorImport", "IdMapeamentoCamadaPai", "IdMapeamentoCamada", "DescricaoComposta", "BuscaAvancada", "DescricaoComposta", "/Mapeamento/Camada/List", idChaveRelacao: "IdMapeamentoCamada", dadosComplObservable: "$root.dadosComplCamadaSuperior", required: true)
                        </div>
                        <div class="form-group">
                            <label for="upload-shapefile-input">Arquivo para importação (.zip)</label>
                            <div class="input-group">
                                <input type="text" id="txtNomeArquivoUploadShape" readonly="readonly" data-bind="value: NomeArquivo, validate: { required: true }" class="form-control" />
                                <div class="input-group-btn">
                                    <a href="#" class="btn btn-secondary" data-bind="upload: { id: 'upload-shapefile-input', uploadOnChange: false, url: '/Mapeamento/Arquivo/UploadShape?idMapeamentoMapa=' + Route.routeOptions.id, uploadSubmit: uploadSubmit, text: NomeArquivo, data: { IdMapeamentoCamada: IdMapeamentoCamadaPai }, success: uploadShapeSuccess, error: uploadShapeError }">Escolher Arquivo</a>
                                    <input style="display: none" type="file" accept=".zip" name="upload-shapefile-input" id="upload-shapefile-input">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Importar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="modal-preferencias" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
            <form id="form-ConfiguracaoMapeamento-NewEdit" data-bind="validateForm: { submitHandler: Save }">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Preferências</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="ddlUnidadeMedidaExtraDistancia">Unidade extra para distância</label>
                                    @HtmlHelper.Select.SearchableKO("ddlUnidadeMedidaExtraDistancia", "IdUnidadeDistanciaExtra", "IdUnidade", "DescricaoSigla", "DescricaoSiglaBusca", "Descricao", "/Estoque/Unidade/List", dadosComplObservable: "IdUnidadeMedidaExtraCompl", idChaveRelacao: "IdUnidade", required: true)
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="ddlUnidadeExtraArea">Unidade extra para área</label>
                                    @HtmlHelper.Select.SearchableKO("ddlUnidadeExtraArea", "IdUnidadeAreaExtra", "IdUnidade", "DescricaoSigla", "DescricaoSiglaBusca", "Descricao", "/Estoque/Unidade/List", dadosComplObservable: "IdUnidadeAreaExtraCompl", idChaveRelacao: "IdUnidade", required: true)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </form>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="modal-mapeamento-camadas" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Camadas</h4>
                </div>
                <div id="modal-mapeamento-camadas-conteudo" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-salvar-camada" class="btn btn-primary">Salvar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="modal-mapeamento-mapa" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog" style="min-width: 70%">
            <form class="modal-content" id="form-MapeamentoMapa-NewEdit" data-bind="validateForm: { submitHandler: Save }">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Mapa
                    </h4>
                </div>
                <div id="modal-mapeamento-mapa-conteudo" class="modal-body" data-bind="with: data">
                    <div class="row">
                        <div class="col-xs-12 form-inline">
                            <div class="form-group">
                                <label for="txtMapaDescricao">Descrição</label>
                                <input id="txtMapaDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" type="text" />
                            </div>
                            <div class="form-group">
                                <label for="chkVisivelConsultas">Visível em Consultas</label>
                                <input type="checkbox" class="no-uniform" id="chkVisivelConsultas" data-bind="checked: VisivelConsulta, flipper: { observable: VisivelConsulta, options: defaults.flipper.simNao }">
                            </div>
                            <div class="form-group">
                                <label for="chkBloqueada">Bloqueada</label>
                                <input type="checkbox" class="no-uniform" id="chkBloqueada" data-bind="checked: SomenteLeitura, flipper: { observable: SomenteLeitura, options: defaults.flipper.simNao }">
                            </div>
                            <div class="form-group">
                                <label for="txtOrdenacao">Ordenação</label>
                                <input id="txtOrdenacao" class="form-control" size="2" data-bind="value: Ordem" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="chkMapaAtivo">Ativo</label>
                                <input type="checkbox" class="no-uniform" id="chkMapaAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="txtMapaObservacao">Observação</label>
                                <textarea id="txtMapaObservacao" data-bind="value: Observacao" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btn-salvar-mapa" class="btn btn-primary">Salvar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
