﻿@model HTM.MasterGestor.Web.UI.Areas.Mapeamento.ViewModels.Mapa.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-MapeamentoMapaCrud-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 form-inline">
                        <div class="form-group">
                            <label for="txtMapaDescricao">Descrição</label>
                            <input id="txtMapaDescricao" data-bind="value: Descricao, validate: { required: true }, enable: vm.IdReferencia() == null ? true : false " class="form-control" type="text" />
                        </div>
                        <div class="form-group">
                            <label for="chkVisivelConsultas">Visível em Consultas</label>
                            <input type="checkbox" class="no-uniform" id="chkVisivelConsultas" data-bind="checked: VisivelConsulta, flipper: { observable: VisivelConsulta, options: defaults.flipper.simNao }">
                        </div>
                        <div class="form-group">
                            <label for="chkBloqueada">Bloqueada</label>
                            <input type="checkbox" class="no-uniform" id="chkBloqueada" data-bind="checked: SomenteLeitura, flipper: { observable: SomenteLeitura, options: defaults.flipper.simNao }">
                        </div>
                        <div class="form-group">
                            <label for="txtOrdenacao">Ordenação</label>
                            <input id="txtOrdenacao" class="form-control" size="2" data-bind="value: Ordem" type="text" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="chkMapaAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkMapaAtivo" data-bind="checked: Ativo,  flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }, enable: vm.IdReferencia() == null ? true : false">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="txtMapaObservacao">Observação</label>
                            <textarea id="txtMapaObservacao" data-bind="value: Observacao" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
