﻿@model HTM.MasterGestor.Web.UI.Areas.Contabilidade.ViewModels.ContaLancamentoContabil.IndexVM


<!-- set area navigation -->
<routeoptions data-show-back-button="true" data-show-breadcrumb="true" data-pos="4" data-route-custom='route-parametroLancamentoContabil' data-title="Contas Contábeis"></routeoptions>

<div id="filtro-grade">

    <template id="filter-ContaLancamentoContabilIndex">
        <div class="form-group">
            <label for="ddlFiltroDescricao" class="control-label">Descrição</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroDescricao", "IdTransacao", "IdTransacao", "Descricao", "Descricao", "Descricao", "/Corporativo/Transacao/List", "Ativo:true", required: true, disabled: true)
        </div>
        <div class="form-group">
            <label for="ddlFiltroAcaoTransacao">Ação da Transação</label>
            <select class="form-control no-search required" id="ddlFiltroAcaoTransacao" data-bind="value: TransacaoAcaoTipo" disabled="disabled">
                <option value="1">Produto e Serviço</option>
                <option value="2">Financeiro</option>
                <option value="3">Terceiros</option>
                <option value="4">Fiscal</option>
            </select>
        </div>
        <div class="form-group">
            <label for="ddlFiltroDirecionadorTipo">Tipo de Direcionador</label>
            <select class="form-control no-search required" id="ddlFiltroDirecionadorTipo" data-bind="value: DirecionadorTipo" disabled="disabled">
                <option value="1">Perfil de Pessoa</option>
                <option value="2">Produto ou Serviço</option>
                <option value="3">Ordem de Serviço</option>
                <option value="4">Ordem de Produção</option>
                <option value="5">Ordem de Investimento</option>
                <option value="6">Entidade Financeira</option>
                <option value="7">Classe Patrimônial</option>
                <option value="8">Tipo de Documento</option>
            </select>
        </div>
        <div class="form-group">
            <label for="ddlFiltroClasseContabil" class="control-label">Classe Contábil</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroClasseContabil", "IdClasseContabil", "IdClasseContabil", "Descricao", "Descricao", "Descricao", "/Contabilidade/ClasseContabil/List", "Ativo:true", required: true, disabled: true)
        </div>
    </template>
    @HtmlHelper.GridView.GridIndex(
    id: "ContaLancamentoContabilIndex",
    newUrl: "#/Contabilidade/ContaLancamentoContabil/New",
    editUrl: "#/Contabilidade/ContaLancamentoContabil/Edit",
    listUrl: "/Contabilidade/ContaLancamentoContabil/ListContasAgrupadasPorLancamento",
    parentId: "'" + Model.ParentId.ToString() + "'",
    columns:
    @<script>
        [
            { 'id': 'IdContaLancamentoContabil', editColumn: true },
            { 'id': 'ParentId', defaultValue: '@Model.ParentId.ToString()', filter: true },
            { 'id': 'IdTransacao', defaultValue: @Model.IdTransacao, filter: true },
            { 'id': 'TransacaoAcaoTipo', defaultValue: @Model.TransacaoAcaoTipo, filter: true },
            { 'id': 'DirecionadorTipo', defaultValue: @Model.DirecionadorTipo, filter: true },
            { 'id': 'IdClasseContabil', defaultValue: @Model.IdClasseContabil, filter: true },
            { 'id': 'DescricaoContaDebitoFiscal', header: true, displayName: 'Conta Débito Fiscal', filter: true, sortable: true },
            { 'id': 'DescricaoContaCreditoFiscal', header: true, displayName: 'Conta Crédito Fiscal', filter: true, sortable: true },
            { 'id': 'DescricaoContaDebitoGerencial', header: true, displayName: 'Conta Débito Gerencial', filter: true, sortable: true },
            { 'id': 'DescricaoContaCreditoGerencial', header: true, displayName: 'Conta Crédito Gerencial', filter: true, sortable: true },
            { 'id': 'DescricaoDirecionadorLancamentoContabil',  groupable: true, filter: true, sortable: true, displayName: 'Direcionador' },
                defaults.gridNewEdit.column.acao
        ]
    </script>,
        templateRows:
        @<tr>
            <td data-bind="text: DescricaoContaDebitoFiscal, id: IdContaLancamentoContabil"></td>
            <td data-bind="text: DescricaoContaCreditoFiscal, id: IdContaLancamentoContabil"></td>
            <td data-bind="text: DescricaoContaDebitoGerencial, id: IdContaLancamentoContabil"></td>
            <td data-bind="text: DescricaoContaCreditoGerencial, id: IdContaLancamentoContabil"></td>
            <td data-bind="template: { name: 'button-edit-url', data: { id: IdContaLancamentoContabil } }"></td>
        </tr>, api: "indexVM.api", orderByCol: "DescricaoContaDebitoFiscal", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false, groupByCol: "DescricaoDirecionadorLancamentoContabil", showNewButton: false)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}