﻿@model HTM.MasterGestor.Web.UI.Areas.Contabilidade.ViewModels.ContaLancamentoContabil.NewEditVM

<routeoptions data-pos="3" data-route-custom='route-parametroLancamentoContabil' data-action-title="Contas Contábeis" data-title="Contas Contábeis"></routeoptions>

<div data-bind="stopBindings: true">
    <form id="form-ContaLancamentoContabil-NewEdit" novalidate data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTipoPrazo">Prazo Financeiro</label>
                                <select class="form-control no-search required" id="ddlTipoPrazo" data-bind="value: TipoPrazoFinanceiro, validate: { required: true }">
                                    <option value="1">À Vista</option>
                                    <option value="2">À Prazo</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="ddlFinanceiroClassificacao">Classificação Financeira</label>
                                @HtmlHelper.Select.SearchableKO("ddlFinanceiroClassificacao", "IdFinanceiroClassificacao", "IdFinanceiroClassificacao", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Financeiro/Classificacao/ListarHierarquicamentePorParametro", "Ativo:true, UltimoNivel:true", required: true)
                            </div>
                        </div>
                    </div>

                    <fieldset>
                        <legend>Visão Fiscal</legend>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="ddlContaDebitoFiscal">Conta de Débito</label>
                                    @HtmlHelper.Select.SearchableKO("ddlContaDebitoFiscal", "IdPlanoContasContaDebitoFiscal", "IdPlanoContas", "Descricao", "Descricao", "Descricao", "/Contabilidade/PlanoContas/List", "Ativo:true", required: true, idChaveRelacao: "IdPlanoContas")
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="ddlContaCreditoFiscal">Conta de Crédito</label>
                                    @HtmlHelper.Select.SearchableKO("ddlContaCreditoFiscal", "IdPlanoContasContaCreditoFiscal", "IdPlanoContas", "Descricao", "Descricao", "Descricao", "/Contabilidade/PlanoContas/List", "Ativo:true", required: true, idChaveRelacao: "IdPlanoContas")
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Visão Gerencial</legend>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="ddlContaDebitoGerencial">Conta de Débito</label>
                                    @HtmlHelper.Select.SearchableKO("ddlContaDebitoGerencial", "IdPlanoContasContaDebitoGerencial", "IdPlanoContas", "Descricao", "Descricao", "Descricao", "/Contabilidade/PlanoContas/List", "Ativo:true", required: true, idChaveRelacao: "IdPlanoContas")
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="ddlContaCreditoGerencial">Conta de Crédito</label>
                                    @HtmlHelper.Select.SearchableKO("ddlContaCreditoGerencial", "IdPlanoContasContaCreditoGerencial", "IdPlanoContas", "Descricao", "Descricao", "Descricao", "/Contabilidade/PlanoContas/List", "Ativo:true", required: true, idChaveRelacao: "IdPlanoContas")
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </form>
</div>