﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.MovimentacaoContaHistorico.IndexVM

<div id="filtro-grade">
    <template id="filter-FinanceiroMovimentacaoContaHistoricoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>
    @HtmlHelper.GridView.GridIndex(
        id: "FinanceiroMovimentacaoContaHistoricoIndex",
        newUrl: "#/Financeiro/MovimentacaoContaHistorico/New",
        editUrl: "#/Financeiro/MovimentacaoContaHistorico/Edit",
        listUrl: "/Financeiro/MovimentacaoContaHistorico/List",
        columns:
        @<script>
            [
                { 'id': 'IdFinanceiroMovimentacaoContaHistorico', editColumn: true },
                { 'id': 'RegistroProprio', 'defaultValue': '', 'filter': true },
                { 'id': 'Descricao', 'header': true, 'displayName': 'Descrição', filter: true, defaultFilter: true },
                { 'id': 'TransferenciaEntreContas', 'header': true, 'displayName': 'Transferência', sortable: true },
                { 'id': 'TransferenciaEntreEntidadesIguais', 'header': true, 'displayName': 'Mesma Entidade', sortable: true },
                { 'id': 'EditarRegistro', 'header': true, 'filter': true, 'sortable': true, 'displayName': 'Editar Registro' },
                defaults.gridNewEdit.column.ativo,
                { displayName: "Ações", header: true, width: '160px' }
            ]
        </script>,
        templateRows:
        @<tr>
            <td data-bind="text: Descricao, id: IdFinanceiroMovimentacaoContaHistorico"></td>
            <td data-bind="template: { name: 'label-status', data: { status: TransferenciaEntreContas } }"></td>
            <td data-bind="template: { name: 'label-status', data: { status: TransferenciaEntreEntidadesIguais } }"></td>
            <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>
            <td data-bind="template: 'label-status'"></td>
            <td>
                <div style="float:left">
                    <span data-bind="template: { name: 'button-edit-url', data: { id: IdFinanceiroMovimentacaoContaHistorico } }"></span>
                </div>

                <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                    <a data-bind="attr: { href: '#/Financeiro/MovimentacaoContaHistorico/Ativar/' + IdFinanceiroMovimentacaoContaHistorico}" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
                </div>

                <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                    <a data-bind="attr: { href: '#/Financeiro/MovimentacaoContaHistorico/Inativar/' + IdFinanceiroMovimentacaoContaHistorico}" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
                </div>

                <div style="float:left;padding-left:5px;" data-bind="visible: (EditarRegistro == false)">
                    <a data-bind="attr: { href: '#/Financeiro/MovimentacaoContaHistorico/View/' + IdFinanceiroMovimentacaoContaHistorico}" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
                </div>

            </td>
        </tr>, api: "indexVM.api", orderByCol: "Descricao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)
</div>
@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}

