﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.MovimentacaoContaHistorico.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-FinanceiroMovimentacaoContaHistorico-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="form-group">
                                <label for="txtDescricao">Descrição</label>
                                <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkTransferenciaEntreContas">Representa Transferência entre Contas</label>
                                <input type="checkbox" class="no-uniform" id="chkTransferenciaEntreContas" data-bind="checked: TransferenciaEntreContas, flipper: { observable: TransferenciaEntreContas, options: { css: 'warning' } }">
                            </div>
                        </div>
                        <div class="col-xs-3" data-bind="if: vm.TransferenciaEntreContas() == true">
                            <div class="form-group">
                                <label class="control-label" for="chkTransferenciaEntreEntidadesIguais">Apenas para mesma Entidade</label>
                                <input type="checkbox" class="no-uniform" id="chkTransferenciaEntreEntidadesIguais" data-bind="checked: TransferenciaEntreEntidadesIguais, flipper: { observable: TransferenciaEntreEntidadesIguais, options: { css: 'warning' } }">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkAtivo">Ativo</label>
                                <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
