﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.AprovacaoProcessoAtividade.IndexVM
<div class="modal fade modal-primary" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Aprovações</h4>
            </div>
            <div class="modal-body">
                @HtmlHelper.GridView.GridNewEdit("AprovacaoProcessoAtividadeAprovacoesIndex", "ListaAprovacoes",
                columns:
                @<script>
                    [
                        { 'id': 'DataHora', 'header': true, 'displayName': 'Dt Solicitação', sortable: true },
                        { 'id': 'NomeSecundarioPessoa', 'header': true, 'displayName': 'Solicitante', sortable: true },
                        { 'id': 'DescricaoSituacao', 'header': true, 'displayName': 'Situação', sortable: true },
                        { 'id': 'EtapaExibicao', 'displayName': 'Etapa', sortable: true }
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="text: DataHora"></td>
                    <td data-bind="text: NomeSecundarioPessoa"></td>
                    <td data-bind="text: DescricaoSituacao"></td>                                  
                </tr>, title: "Aprovação", useHiddenColumns: false, orderByCol: "DataHora", orderByDir: HelpersUtil.OrderByDirEnum.Asc, showNewButton: false)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-inverted btn-lg pull-left" data-dismiss="modal"><i class="material-icons">&#xE5C4;</i> Voltar</button>
            </div>
        </div>
    </div>
</div>
