﻿ <!-- modal confirma aprovacao -->
<div class="modal fade modal-sm" id="modal-AprovacaoProcessoAtividade-confirmar" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <form class="modal-content" data-bind="validateForm: { submitHandler: ConfirmaAprovacao }">
            @Html.AntiForgeryToken()
            <div data-bind="validateOptions: { appendMessageToContainer: true }">
                <div class="modal-header" style="padding-top: 14px">
                    <h4 class="modal-title" style="font-size: 1.4em !important; text-transform: none">Confirma a  <span data-bind="text: Aprovado() ? 'aprovação' : 'reprovação', css: Aprovado() ? 'aprova' : 'reprova'"></span> deste processo?</h4>
                </div>
                <div class="modal-body" style="padding-top: 0">
                    <div class="form-group" style="margin-bottom: 0">
                        <label>Observação</label>
                        <textarea id="AprovacaoProcessoAtividade-parecer" class="form-control" data-bind="value: Parecer" style="height: 140px"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-lg pull-left">Confirmar</button>
                    <button type="button" class="btn btn-default btn-lg pull-left" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>