﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.AprovacaoProcessoAtividade.IndexVM

<routeoptions data-use-custom-view="true"></routeoptions>

<div id="filtro-grade">
    <template id="filter-AprovacaoProcessoAtividadeIndex">
    </template>
    @HtmlHelper.GridView.GridIndex(
        id: "AprovacaoProcessoAtividadeIndex",
        newUrl: "#/Corporativo/AprovacaoProcessoAtividade/New",
        editUrl: "#/Corporativo/AprovacaoProcessoAtividade/Edit",
        listUrl: "/Corporativo/AprovacaoProcessoAtividade/ListSequenciaParaAprovacao",
        columns:
        @<script>
            [
                { 'id': 'IdAprovacaoProcessoAtividade', filter: true, editColumn: true },
                { 'id': 'DescricaoProcesso', 'displayName': 'Processo', sortable: true, groupable: true },
                { 'id': 'DescricaoSubProcesso', 'displayName': 'Sub Processo', sortable: true, groupable: true },
                { 'id': 'CodigoExibicao', 'header': true, 'displayName': 'Código', sortable: true },
                { 'id': 'DataHoraInicioExibicao', 'header': true, 'displayName': 'Dt Solicitação', sortable: true },
                { 'id': 'NomeSecundarioPessoa', 'header': true, 'filter': true, 'defaultFilter': true, 'displayName': 'Solicitante', sortable: true },
                { 'id': 'DescricaoSituacao', 'header': true, 'filter': true, 'displayName': 'Situação', sortable: true },
                { 'id': 'EtapaExibicao', 'header': true, 'filter': true, 'displayName': 'Etapa', sortable: true },
                { 'id': 'EditarRegistro', editColumn: true },
                { 'displayName': 'Ações', header: true, sortable: false, width: '183px' }
            ]
        </script>,
        templateRows:
        @<tr data-bind="attr: { 'data-edit-url': '/#/Corporativo/AprovacaoProcessoAtividade/Edit/' + '|' + IdAprovacaoProcessoAtividade + '|' + IdAprovacaoProcessoAtividadeSequencia + URL }">
            <td data-bind="text: CodigoExibicao"></td>
            <td data-bind="text: DataHoraInicioExibicao"></td>
            <td data-bind="text: NomeSecundarioPessoa"></td>
            <td data-bind="text: DescricaoSituacao"></td>
            <td data-bind="text: EtapaExibicao"></td>
             <td>
                 <a href="#" title="Aprovar processo" class="" data-bind="css: EditarRegistro ? 'btn btn-secondary btn-icon' : 'btn btn-secondary btn-icon disabled', event: { click: $parentContext.$root.indexVM.aprovaProcesso.bind(this) }"><i class="material-icons">&#xE5CA;</i></a>
                 <a href="#" title="Reprovar processo" class="" data-bind="css: EditarRegistro ? 'btn btn-danger btn-icon' : 'btn btn-danger btn-icon disabled', event: { click: $parentContext.$root.indexVM.reprovaProcesso.bind(IdAprovacaoProcessoAtividade) }"><i class="material-icons">&#xE14B;</i></a>
                 <!-- ko template: { name: 'button-edit-url', data: { id: '|' + IdAprovacaoProcessoAtividade + '|' + IdAprovacaoProcessoAtividadeSequencia + URL } }--><!-- /ko-->                 
                 <a href="#" title="Lista de aprovações" class="btn btn-primary btn-icon enable-pointer-events" id="IndexAprovacaoProcessoAtividade-exibeAprovacoes" data-bind="click: $parentContext.$root.indexVM.exibeAprovacoes.bind(IdAprovacaoProcessoAtividade)"><i class="material-icons">&#xE877;</i></a>                 
             </td>            
        </tr>, api: "indexVM.api", orderByCol: "DataHoraInicioExibicao", groupByCol: "DescricaoSubProcesso", groupByDir: "asc", orderByDir: HelpersUtil.OrderByDirEnum.Desc, useHiddenColumns: true, showNewButton: false)
</div>
<div id="AprovacaoProcessoAtividadeIndex-aprovacao">
</div>
<div id="AprovacaoProcessoAtividadeConfirmaIndex-aprovacao">
</div>
@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}



