﻿<div data-bind="stopBindings: true">    
    <form>
        @Html.AntiForgeryToken()
        <panel id="AprovacaoProcessoAtividade-NewEdit" class="panel panel-default panel-action">
            <div class="panel-body">
                <button type="button" data-bind="event: { click: function () { Confirmar(true) } }" id="btn-aprovar" class="btn btn-secondary btn-primary-action btn-lg"><i class="material-icons">&#xE5CA;</i> Aprovar</button>
                <button type="button" data-bind="event: { click: function () { Confirmar(false) } }" id="btn-reprovar" class="btn btn-primary btn-danger btn-lg" style="margin-right: 10px"><i class="material-icons">&#xE14B;</i> Reprovar</button>
                <a href="/#/Corporativo/AprovacaoProcessoAtividade/List" type="button" class="btn btn-primary btn-inverted btn-lg"><i class="material-icons"></i> Voltar</a>
                <a href="#" class="btn btn-primary btn-lg pull-right" id="IndexAprovacaoProcessoAtividade-exibeAprovacoes" data-bind="click: exibeAprovacoes.bind(IdAprovacaoProcessoAtividade)"><i class="material-icons">&#xE877;</i> Aprovações</a>
            </div>
        </panel>
    </form>
</div>
<div id="modal-AprovacaoProcessoAtividadeNewEdit">
</div>
<div id="modal-AprovacaoProcessoConfirmaNewEdit">
</div>
<div id="documento-AprovacaoProcessoAtividade" class="read-mode panel-document">
</div>



