﻿@model HTM.MasterGestor.Web.UI.Areas.Agricola.ViewModels.Cultura.IndexVM

<routeOptions data-pos="1" data-route-custom='route-cultura'></routeOptions>

<div id="filtro-grade">

    <template id="filter-CulturaIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="value: Descricao" class="form-control" />
        </div>

        <div class="form-group">
            <label for="ddlAtividadeEconomica" class="control-label">Atividade Econômica</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroIdAtividadeEconomica", "IdAtividadeEconomicaIn", "IdAtividadeEconomicaIn", "Descricao", "Descricao", "Descricao", "/Contabilidade/AtividadeEconomica/List", "Ativo:true", idChaveRelacao: "IdAtividadeEconomica", multiple: true)
        </div>

        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>

        @HtmlHelper.Campo.DropAtivo()

    </template>

    @HtmlHelper.GridView.GridIndex(
          id: "CulturaIndex",
          newUrl: "#/Agricola/Cultura/New",
          editUrl: "#/Agricola/Cultura/Edit",
          listUrl: "/Agricola/Cultura/List",
          columns:
        @<script>
            [
                { 'id': 'IdProducaoCultura', editColumn: true },
                { 'id': 'RegistroProprio', 'defaultValue': '', 'filter': true },
                { 'id': 'IdAtividadeEconomicaIn', filter: true },

                { 'id': 'Descricao', header: true, displayName: 'Descrição', filter: true, defaultFilter: true },
                { 'id': 'DescricaoAtividadeEconomica', header: true, displayName: 'Atividade Econômica' },
                { 'id': 'PlantioObrigatorio', header: true, displayName: 'Deve Informar Plantio' },
                { 'id': 'PermiteVariasColheitas', header: true, displayName: 'Permite Várias Colheitas' },
                { 'id': 'EditarRegistro', 'header': true, 'filter': true, 'sortable': true, 'displayName': 'Editar Registro' },

                defaults.gridNewEdit.column.ativo,
                { displayName: "Ações", header: true, width: '200px' }
            ]
        </script>,
        templateRows:
        @<tr>
            <td data-bind="text: Descricao"></td>
            <td data-bind="text: DescricaoAtividadeEconomica"></td>
            <td data-bind="template: { name: 'label-status', data: { status: PlantioObrigatorio } } "></td>
            <td data-bind="template: { name: 'label-status', data: { status: PermiteVariasColheitas } } "></td>
            <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>

            <td data-bind="template: 'label-status'"></td>
            <td>
                <div style="float:left">
                    <span data-bind="template: { name: 'button-edit-url', data: { id: IdProducaoCultura } }"></span>
                </div>

                <div style="float:left;padding-left:5px;" data-bind="visible: EditarRegistro == true">
                    <a href="#" title="Estimativa de Cultura" data-bind="attr: { href: '#/Agricola/ConfiguracaoEstimativaCultura/List/' + IdProducaoCultura }" class="btn btn-secondary btn-icon"><i class="material-icons">&#xE896;</i></a>
                </div>

                <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                    <a data-bind="attr: { href: '#/Corporativo/PessoaPerfil/Ativar/' + IdProducaoCultura}" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
                </div>

                <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                    <a data-bind="attr: { href: '#/Corporativo/PessoaPerfil/Inativar/' + IdProducaoCultura}" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
                </div>

                <div style="float:left;padding-left:5px;" data-bind="visible: (EditarRegistro == false)">
                    <a data-bind="attr: { href: '#/Corporativo/PessoaPerfil/View/' + IdProducaoCultura}" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
                </div>
            </td>
        </tr>
        ,
        api: "indexVM.api",
        orderByCol: "Descricao",
        orderByDir: HelpersUtil.OrderByDirEnum.Asc,
        useHiddenColumns: false)
</div>