﻿@model HTM.MasterGestor.Web.UI.Areas.Agricola.ViewModels.Cultura.NewEditVM

<div data-bind="stopBindings: true">

    <routeoptions data-pos="2" data-route-custom="route-cultura"></routeoptions>

    <form id="form-ProducaoCultura-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlTipoCultura">Tipo de Cultura e Uso do Solo</label>
                            @HtmlHelper.Select.SearchableKO("ddlTipoCultura", "IdProducaoCulturaTipo", "IdProducaoCulturaTipo", "Descricao", "Descricao", "Descricao", "/Agricola/CulturaTipo/List", "Ativo:true", required: true, vmDataSelected: "vm.ProducaoCulturaTipoVM")
                        </div>
                    </div>
                </div>
                <div class="row" data-bind="visible: ExibeCamposPorTipoCultura()">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="chkPlantioObrigatorio">Permite lançar Colheita sem informações de Plantio?</label>
                            <input type="checkbox" class="no-uniform" id="chkPlantioObrigatorio" name="chkPlantioObrigatorio" data-bind="checked: PlantioObrigatorio, flipper: { observable: PlantioObrigatorio, options: { 'css': 'warning'}}" />
                        </div>
                    </div>
                </div>
                <div class="row" data-bind="visible: ExibeCamposPorTipoCultura()">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="chkPermiteVariasColheitas" style="width:530px">Permite várias colheitas ou cortes sem precisar replantar?</label>
                            <input type="checkbox" id="chkPermiteVariasColheitas" name="chkPermiteVariasColheitas" data-bind="checked: PermiteVariasColheitas, flipper :{ observable: PermiteVariasColheitas, options: {'css': 'warning'} }" class="no-uniform" />
                        </div>
                    </div>
                </div>
                <div class="row" id="pnlColheitasPossiveis" data-bind="visible: (vm.PermiteVariasColheitas() && ExibeCamposPorTipoCultura())">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtColheitasPossiveis" style="width:530px">Em uma vida inteira, quantas colheitas em média podem ser realizadas?</label>
                            <input type="text" id="txtColheitasPossiveis" name="txtColheitasPossiveis" data-bind="value: ColheitasPossiveis, mask : { options: defaults.mask.integer }, validate: { required: (PermiteVariasColheitas() && vm.ExibeCamposPorTipoCultura()) }" class="form-control" maxlength="3" style="width:30px;min-width: 60px" />
                        </div>
                    </div>
                </div>

                <div class="row" data-bind="visible: ExibeCamposPorTipoCultura()">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlAvaliacaoProdutividadeTipo" class="control-label">O Controle de Plantio e Produção será realizada</label>
                            <select placeholder="ddlAvaliacaoProdutividadeTipo" id="ddlAvaliacaoProdutividadeTipo" class="form-control no-search" data-bind="value: AvaliacaoProdutividadeTipo">
                                <option value="1">Por Área</option>
                                <option value="2">Por Planta</option>
                                <option value="3">Por Área e Planta</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-4" data-bind="visible: AvaliacaoProdutividadeTipo() == 3">
                        <div class="form-group">
                            <label for="ddlEstimativaTipo" class="control-label">Unidade Base para Estimativa</label>
                            <select placeholder="ddlEstimativaTipo" id="ddlEstimativaTipo" class="form-control no-search" data-bind="value: EstimativaTipo">
                                <option value="1">Por Área</option>
                                <option value="2">Por Planta</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br />
                <fieldset>
                    <legend>Informações Econômicas</legend>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlAtividadeEconomica">Atividade Econômica</label>
                                @HtmlHelper.Select.SearchableKO("ddlAtividadeEconomica", "IdAtividadeEconomica", "IdAtividadeEconomica", "Descricao", "Descricao", "Descricao", "/Contabilidade/AtividadeEconomica/List", "Ativo:true", required: true)
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlCentroCusto" class="control-label">Centro de Custo</label>
                                @HtmlHelper.Select.SearchableKO("ddlCentroCusto", "IdCentroCusto", "IdCentroCusto", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Contabilidade/CentroCusto/ListarHierarquicamentePorParametro", "Ativo:true, UltimoNivel:true,ComRestricaoUsuario:true", dataBind: "validate: { required: CentroCustoObrigatorio()== true }")
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" data-toggle="collapsible" id="pnlCulturaEpocaPlantio" data-bind="visible: ExibeCamposPorTipoCultura()">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Ciclo Médio em Tempo</h3>
            </div>
            <div class="panel-body">

                @HtmlHelper.GridView.GridNewEdit(
                id: "CulturaEpoca", // Declarar na página <template id="newedit-id"></template>
                vm: "CulturasEpocas",
                title: "Ciclo médio em tempo",
                columns: @<script>
                    [
                        { 'id': 'DescricaoProducaoEpocaPlantio', 'displayName': 'Época Plantio', 'header': true },
                        { 'id': 'IdProducaoCultura' },
                        { 'id': 'IdProducaoCulturaEpocaPlantio' },
                        { 'id': 'IdProducaoEpocaPlantio' },
                        { 'id': 'IdUnidade' },
                        { 'id': 'TempoPrimeiraColheita', 'displayName': 'Primeira colheita', 'header': true },
                        { 'id': 'TempoDemaisColheitas', 'displayName': 'Demais colheitas', 'header': true, 'visible': vm.PermiteVariasColheitas },
                        { 'id': 'DescricaoUnidade', 'displayName': 'Unidade de tempo', 'header': true },
                        defaults.gridNewEdit.column.acaoEditRemove
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: DescricaoProducaoEpocaPlantio }  }"></td>
                    <td data-bind="text: TempoPrimeiraColheita"></td>
                    <td data-bind="text: TempoDemaisColheitas, visible: vm.PermiteVariasColheitas()"></td>
                    <td data-bind="text: DescricaoUnidade"></td>
                    <td data-bind="template: { name: 'button-edit-remove' }"></td>
                </tr>,
                                                                                        orderByCol: "DescricaoProducaoEpocaPlantio",
                                                                                        orderByDir: HelpersUtil.OrderByDirEnum.Asc,
                                                                                        useHiddenColumns: false)
            </div>
        </div>
        <div class="panel panel-default" data-toggle="collapsible" id="pnlObjetivosProducao" data-bind="visible: ExibeCamposPorTipoCultura()">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Esta Cultura possui quais objetivos de produção</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            @HtmlHelper.Select.SearchableKO("ddlProducaoObjetivo", "IdsObjetivos", "IdProducaoObjetivoIn", "Descricao", "Descricao", "Descricao", "/Agricola/Objetivo/List", "Ativo:true", multiple: true, idChaveRelacao: "IdProducaoObjetivo")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" data-toggle="collapsible" id="pnlEspacamentos" data-bind="visible: ExibeCamposPorTipoCultura()">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Esta Cultura possui quais Espaçamentos?</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            @HtmlHelper.Select.SearchableKO("ddlProducaoPlantioEspacamento", "IdsEspacamentos", "IdProducaoPlantioEspacamentoIn", "Descricao", "Descricao", "Descricao", "/Agricola/PlantioEspacamento/List", "Ativo:true", idChaveRelacao: "IdProducaoPlantioEspacamento", multiple: true)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" data-toggle="collapsible" id="pnlProdutos" data-bind="visible: ExibeCamposPorTipoCultura()">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Produtos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            @HtmlHelper.Select.SearchableKO("ddlProdutoServico", "IdsProdutos", "IdProdutoServicoIn", "DescricaoProdutoServico", "DescricaoProdutoServicoBusca", "DescricaoProdutoServico", "/Contabilidade/AtividadeEconomicaProdutoServico/List", idChaveRelacao: "IdProdutoServico", multiple: true, dadosComplObservable: "dadosComplProduto")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" data-toggle="collapsible" id="pnlVariedadesTipo" data-bind="visible: ExibeCamposPorTipoCultura()">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Tipos de Variedade</h3>
            </div>
            <div class="panel-body">
                @HtmlHelper.GridView.GridNewEdit(
                id: "VariedadeTipo", // Declarar na página <template id="newedit-id"></template>
                vm: "VariedadesTipo",
                title: "Tipos de Variedade",
                columns: @<script>
                    [
                        { 'id': 'IdProducaoCulturaVariedadeTipo' },
                        { 'id': 'IdProducaoCultura' },
                        { 'id': 'Descricao', header: true, 'displayName': 'Descricao', 'sortable': true },
                        { 'id': 'Ativo', header: true, 'displayName': 'Ativo', defaultValue: true },
                        defaults.gridNewEdit.column.acao
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: Descricao }  }"></td>
                    <td data-bind="template: 'label-status'"></td>
                    <td data-bind="template: { name: 'button-edit' }"></td>
                </tr>, orderByCol: "Descricao", orderByDir: HelpersUtil.OrderByDirEnum.Asc)
            </div>
        </div>
        <div class="panel panel-default panel-action">
            <div class="panel-body">
                <button type="submit" id="btn-salvar" class="btn btn-secondary btn-lg btn-primary-action"><i class="material-icons">&#xE5CA;</i> Salvar</button>
                <a href="#List" type="button" class="btn btn-primary btn-inverted btn-lg"><i class="material-icons">&#xE5C4;</i> Voltar</a>
                @if (@Model.IdProducaoCultura.HasValue)
                {
                    <a href="#History/ProducaoCultura/@Model.IdProducaoCultura" type="button" class="btn btn-primary btn-inverted btn-lg pull-right"><i class="material-icons">&#xE889;</i> Histórico</a>
                }
            </div>
        </div>
    </form>
</div>

<template id="newedit-CulturaEpoca">
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <input type="hidden" id="txtIdsEpocas" data-bind="value: vmParams.IdProducaoEpocaPlantioNotInSelect" />

                <label for="ddlProducaoEpocaPlantio">Época de Plantio</label>
                @HtmlHelper.Select.SearchableKO("ddlProducaoEpocaPlantio", "IdProducaoEpocaPlantio", "IdProducaoEpocaPlantio", "Descricao", "Descricao", "Descricao", "/Agricola/EpocaPlantio/List", "Ativo:true", "txtIdsEpocas", "IdProducaoEpocaPlantioNotIn", required: true, vmTextSelected: "DescricaoProducaoEpocaPlantio")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <div class="form-group">
                <label for="ddlUnidadeTempo">Unidade de Tempo</label>
                @HtmlHelper.Select.SearchableKO("ddlUnidadeTempo", "IdUnidade", "IdUnidade", "Descricao", "Descricao", "Descricao", "/Estoque/Unidade/List", "Ativo:true, IdUnidadeIn: vmParams.IdUnidadeInSelect", required: true, vmTextSelected: "DescricaoUnidade")
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <label for="txtTempoPrimeiraColheita" id="lblTempoPrimeiraColheita" data-bind="text: (vm.PermiteVariasColheitas() ? 'Primeira Colheita' : 'Tempo até a colheita')"></label>
                <div class="input-group">
                    <input type="text" id="txtTempoPrimeiraColheita" name="txtTempoPrimeiraColheita" data-bind="value: TempoPrimeiraColheita, validate: { required: true }, mask:{ options: defaults.mask.integer }" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-xs-3" id="pnlTempoDemaisColheitas" data-bind="visible: vm.PermiteVariasColheitas()">
            <div class="form-group">
                <label for="txtTempoDemaisColheitas">Demais Colheitas</label>
                <div class="input-group">
                    <input type="text" id="txtTempoDemaisColheitas" name="txtTempoDemaisColheitas" data-bind="value: TempoDemaisColheitas, validate: { required: vm.PermiteVariasColheitas() }, mask:{ options: defaults.mask.integer }" class="form-control" />
                </div>
            </div>
        </div>
    </div>
</template>

<template id="newedit-VariedadeTipo">
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label for="txtDescricaoVariedadeTipo">Descrição</label>
                <input type="text" id="txtDescricaoVariedadeTipo" name="txtDescricaoVariedadeTipo" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label" for="chkAtivoVariedadeTipo">Ativo</label>
                <input type="checkbox" class="no-uniform" id="chkAtivoVariedadeTipo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
            </div>
        </div>
    </div>
</template>