﻿@model HTM.MasterGestor.Web.UI.Areas.Configuracao.ViewModels.Parametro.ConfiguracaoVM

<div>

    <div class="panel panel-default" data-toggle="collapsible">
        <div class="panel-heading clearfix">
            <h3 class="panel-title">Configurações</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6">
                    <select id="ddlModulo" class="form-control" data-allow-clear="true">
                        @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.Modulos)
                        {
                            <option value="@item.Value" selected="@item.Selected">@item.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
    <form id="form-Configuracao-Configuracoes" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div data-bind="with: Response, visible: Response().Configuracao().length > 0">
            <div data-bind="foreach: Configuracao">

                <div class="panel panel-default" data-toggle="collapsible">

                    <div class="panel-heading clearfix">
                        <h3 class="panel-title" data-bind="text: DescricaoModulo"></h3>
                    </div>

                    <div class="panel-body">

                        <div class="col-xs-3">

                            <div data-bind="foreach: Caracteristicas">

                                <div class="form-group" data-bind="visible: IdCaracteristicaTipo() >= 1 && IdCaracteristicaTipo() <= 4 ">
                                    <div>
                                        <label for="attr: {'id': 'txt' + Codigo()  }" data-bind="text: Descricao "></label>
                                        <input type="text" data-bind="value: CaracteristicaValor.Valor, attr: { id: 'txt' + Codigo() }" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-group" data-bind="visible: IdCaracteristicaTipo() == 5">
                                    <div>
                                        <label for="attr: {id: 'txt' + Codigo() }" data-bind="text: Descricao"></label>
                                        <div class="input-group date form-group">
                                            <input data-bind="value: CaracteristicaValor.Valor, datepicker: { options: defaults.datepicker.date },  mask: { options: defaults.mask.date, value: CaracteristicaValor.Valor }, attr: { id: 'txt' + Codigo(), name: Codigo }" class="form-control" />
                                            <span class="input-group-addon">
                                                <i class="material-icons">&#xE878;</i>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" data-bind="visible: IdCaracteristicaTipo() == 6">
                                    <div>
                                        <label for="attr: {id: 'txt' + Codigo() }" data-bind="text: Descricao"></label>
                                        <div class="input-group date form-group">
                                            <input data-bind="value: CaracteristicaValor.Valor, datepicker: { options: defaults.datepicker.datetime }, mask: { options: defaults.mask.datetime, value: CaracteristicaValor.Valor },  attr: { id: 'txt' + Codigo(), name: Codigo }" class="form-control" />
                                            <span class="input-group-addon">
                                                <i class="material-icons">&#xE878;</i>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" data-bind="visible: IdCaracteristicaTipo() == 7">
                                    <label for="attr: {id: 'txt' + Codigo() }" data-bind="text: Descricao"></label>
                                    <div class="input-group date form-group">
                                        <input data-bind="value: CaracteristicaValor.Valor, datepicker: { options: defaults.datepicker.time }, mask: { options: 'time', value: CaracteristicaValor.Valor }, attr: { id: 'txt' + Codigo(), name: Codigo }" class="form-control" />
                                        <span class="input-group-addon">
                                            <i class="material-icons">&#xE878;</i>
                                        </span>
                                    </div>
                                </div>

                                @*<div class="form-group" data-bind="visible: IdCaracteristicaTipo() == 8">
                                        <label for="attr: {'id': 'ddl' + Codigo()  }" data-bind="text: Descricao "></label>
                                        <input type="hidden" class="form-control" data-allow-clear="true" data-bind="value: CaracteristicaValor.IdCaracteristicaOpcao, attr: {'id': 'ddl' + Codigo() }" />
                                        <input type="hidden" data-bind="value: IdCaracteristica, attr: {'id': 'param' + Codigo() }" />
                                    </div>*@

                                <div class="form-group">
                                    <div data-bind="if: IdCaracteristicaTipo() == 8">
                                        <label for="attr: {'id': 'ddl' + Codigo()  }" data-bind="text: Descricao "></label>
                                        <input type="hidden" data-bind="value: IdCaracteristica, attr: {'id': 'param' + Codigo() }" />
                                        <input type="hidden" data-bind="value: CaracteristicaValor.IdCaracteristicaOpcao, attr: {'id': 'ddl' + Codigo(), 'name': 'ddl' + Codigo() }, select2: { campoId: 'IdCaracteristicaOpcao', campoIdPesquisa: 'IdCaracteristicaOpcao', campoValor: 'Valor', campoPesquisa: 'Valor', idChaveRelacao: 'IdCaracteristicaOpcao', valor: CaracteristicaValor.IdCaracteristicaOpcao(), element: 'ddl' + Codigo(), placeholder: '', allowClear: true, url: '/Configuracao/CaracteristicaOpcao/List', dadosCompl: '', idDependencia: 'IdCaracteristica',  idControleDependencia: 'param' + Codigo(), ordenacao: 'CaracteristicaOpcao.Valor' }" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group" data-bind="visible: IdCaracteristicaTipo() == 10">
                                    <label for="chkCodigo" data-bind="attr: {'for': 'chk' + Codigo() }, text: Descricao"></label>
                                    <input id="chkCheckCodigo" name="chkCheckCodigo" type="hidden" data-bind="attr: {'id': 'chk' + Codigo(), 'name': 'chk' + Codigo() }, value: CaracteristicaValor.Valor" class="no-uniform" />
                                    <input id="chkViewCheckCodigo" name="chkViewCheckCodigo" type="hidden" data-bind="attr: {'id': 'chkView' + Codigo(), 'name': 'chkView' + Codigo() }, flipperCustom: { observable: CaracteristicaValor.Valor }" class="no-uniform" />
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </form>

</div>

@section Scripts {
    @*<script>

        ko.bindingHandlers.flipperCustom = {
            init: function (element, valueAccessor, allBindings, viewModel, bindingContext) {
                var observable = valueAccessor().observable;
                $el = $(element);
                $el.prop('checked', observable() == 'True' ? true : false);
                $el.flipper({
                    afterTurnOn: function () {
                        observable('True');
                    },
                    afterTurnOff: function () {
                        observable('False');
                    }
                });                
            },
            update: function (element, valueAccessor) {
                $(element).flipper("refresh");
            }
        };

        var form = $('#form-Configuracao-Configuracoes');
        var vmConfiguracao = ko.mapping.fromJS({ @Html.ObservableFor(model => model.Configuracao) });
  
        var vm = {
            @Html.ObservableFor(model => model.DescricaoTela),
            Configuracao: vmConfiguracao.Configuracao,
            Save: function () {            
                $.ajax({
                    type: "POST",
                    data: { json: ko.toJSON(vm) },
                    url: "/Configuracao/Parametro/SalvarConfiguracao",
                    dataType: "json",
                    success: function(result){
                        if(result.Sucesso)
                        {
                            toastr.success("Configurações Salvas com sucesso");
                            setTimeout('location.reload()', 2000);
                        }
                        else
                            toastr.error("Erro ao salvar as Configurações");
                    }
                });
            }
        };

        ko.applyBindings(vm, form[0]);;

        $("#ddlModulo").change(function (){
            window.location = window.location.href.split("?")[0] + "?id=" + $("#ddlModulo").val();
        });
    </script>*@



    @*@foreach (var itemConfiguracao in Model.Configuracao)
    {
        foreach (var item in itemConfiguracao.Caracteristicas)
        {
            if (item.IdCaracteristicaTipo == 8)
            {
                @HtmlHelper.Select.Searchable("ddl" + item.Codigo, "IdCaracteristicaOpcao", "IdCaracteristicaOpcao",
    "Valor",
                        "Valor", "CaracteristicaOpcao.Valor", "/Configuracao/CaracteristicaOpcao/List", "", "param" + item.Codigo, "IdCaracteristica")
            }
        }
    }*@
}