﻿@model HTM.MasterGestor.Web.UI.Areas.Configuracao.ViewModels.Caracteristica.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-ConfiguracaoCaracteristica-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlModulo">Módulo</label>                            
                            @HtmlHelper.Select.SearchableKO("ddlModulo", "IdModulo", "IdModulo", "DescricaoCompleta","DescricaoCompleta", "DescricaoCompleta", "/Configuracao/Modulo/List", "Ativo: true, ComPai: true", required: true)
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlNivelAcesso">Classificação</label>
                            <select id="ddlNivelAcesso" placeholder="Selecione" data-bind="value: NivelAcesso, validate: { required: true }" class="form-control">
                                <option value=""></option>
                                <option value="1">Global</option>
                                <option value="2">Grupo Empresa</option>
                                <option value="3">Empresa</option>
                                <option value="4">Empresa Usuária</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados do Parâmetro e Configuração</h3>
            </div>
            <div class="panel-body">
                <div class="row">

                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtCodigo">Chave</label>
                            <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlCaracteristicaTipo">Tipo Campo</label>                            
                            @HtmlHelper.Select.SearchableKO("ddlCaracteristicaTipo", "IdCaracteristicaTipo", "IdCaracteristicaTipo", "Descricao", "Descricao", "Descricao", "/Configuracao/CaracteristicaTipo/List", "Ativo: true", required: true)
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtOrdem">Ordem</label>
                            <input type="text" id="txtOrdem" name="txtOrdem" data-bind="value: Ordem" class="form-control" required="required" maxlength="2" />
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtTamanho">Tamanho</label>
                            <input type="text" id="txtTamanho" name="txtOrdem" data-bind="value: Tamanho" class="form-control" maxlength="3" />
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="chkObrigatorio">Obrigatório</label>
                            <input type="checkbox" class="no-uniform" id="chkObrigatorio" data-bind="checked: Obrigatorio, flipper: { observable: Obrigatorio, options: defaults.flipper.SimNao}">
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="panel panel-default" data-toggle="collapsible" id="pnlOpcoes" data-bind="visible: (IdCaracteristicaTipo() == 8 || IdCaracteristicaTipo() == 9)">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Opçoes</h3>
            </div>
            <div class="panel-body">

            @HtmlHelper.GridView.GridNewEdit(
            id: "Opcao", // Declarar na página <template id="newedit-id"></template>
            vm: "Opcoes",
            title: "Opção",
            columns:
            @<script>
                [
                  { 'id': 'IdCaracteristicaOpcao' },
                  { 'id': 'IdCaracteristica' },
                  { 'id': 'Valor', header: true, displayName: 'Descrição' },
                  { 'id': 'Excluido' },
                  defaults.gridNewEdit.column.acaoEditRemove
                ]
            </script>,
              templateRows:
            @<tr>
                <td data-bind="template: { name: 'link-edit', data: { text: Valor } }"></td>
                <td data-bind="template: { name: 'button-edit-remove' }"></td>
            </tr>,
            useHiddenColumns: false,
            orderByCol: "NomeDaPropriedade", 
            useRemovedColumn:true,
            orderByDir: HelpersUtil.OrderByDirEnum.Asc)
            </div>
        </div>        
    </form>


    <template id="newedit-Opcao">
        <div class="form-group">
            <label for="txtValor">Valor</label>
            <input type="text" id="txtValor" name="txtValor" data-bind="value: Valor, validate: { required: true }" class="form-control" maxlength="120" />
        </div>
    </template>    

</div>