﻿@model HTM.MasterGestor.Web.UI.Areas.Seguranca.ViewModels.GrupoUsuario.IndexVM

<div id="filtro-grade" style="display:none;">
    <template id="filter-GrupoUsuarioIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroModelo" class="control-label">Tipo</label>
            <select id="ddlFiltroModelo" data-bind="value: Modelo" class="form-control no-search">
                <option value="">Indiferente</option>
                <option value="true">Modelo</option>
                <option value="false">Padrão</option>
            </select>
        </div>       
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "GrupoUsuarioIndex",
    newUrl: "#/Seguranca/GrupoUsuario/New",
    editUrl: "#/Seguranca/GrupoUsuario/Edit",
    listUrl: "/Seguranca/GrupoUsuario/List",
    columns:
    @<script>
        [   
            { 'id': 'Descricao', filter: true, defaultFilter: true, header: true, displayName: 'Descrição', sortable: true },
            { 'id': 'Modelo', filter: true, header: true, displayName: 'Tipo', defaultValue: '' },
            { 'id': 'IdGrupoUsuario', editColumn: true },
            defaults.gridNewEdit.column.ativo,
            { displayName: "Ações", width: "142px", header: true, sortable: false }
        ]
    </script>,
    templateRows:
    @<tr>       
        <td data-bind="text: Descricao"></td>           
        <td data-bind="template: { name: 'label-status', data: { status: Modelo, textTrue: 'Modelo', textFalse: 'Padrão' } }"></td>
        <td data-bind="template: 'label-status'"></td>
         <td>
             <span data-bind="template: { name: 'button-edit-url', data: { id: IdGrupoUsuario } }"></span>
             <a title="Restrições" data-bind="attr: { href: '/#/Seguranca/RestricaoAcesso/Edit/' + IdGrupoUsuario }" class="btn btn-secondary btn-icon"><i class="material-icons">lock</i></a>
             <a title="Criar grupo a partir deste" data-bind="click: function(data, e) { if (!confirm('deseja realmente copiar o grupo de usuário ' + data.Descricao + '?')) return; }" class="btn btn-icon btn-secondary"><i class="fa fa-copy"></i></a>
         </td>
        @*<td data-bind="template: { name: 'button-edit-url', data: { id: IdGrupoUsuario } }"></td>*@
    </tr>
    ,
    api: "indexVM.api",
    orderByCol: "Descricao",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,   
    useHiddenColumns: false)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}