﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.PessoaPerfil.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-CorporativoPessoaPerfil-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" data-toggle="collapsible" id="pnlFuncoesPerfil">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">FUNÇÕES E ROTINAS PERMITIDAS PARA O PERFIL</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="chkPermiteRealizarCompra">Permite rotinas de Compras e Estoque</label>
                            <input type="checkbox" class="no-uniform" id="chkPermiteRealizarCompra" data-bind="checked: PermiteRealizarCompra, flipper: { observable: PermiteRealizarCompra, options: { 'css': 'warning' }  }">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="chkPermiteRealizarVenda">Permite rotinas de Vendas e Faturamento</label>
                            <input type="checkbox" class="no-uniform" id="chkPermiteRealizarVenda" data-bind="checked: PermiteRealizarVenda, flipper: { observable: PermiteRealizarVenda, options: { 'css': 'warning' }  }">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="chkPossuiConceitoColaboradorFuncionario">Possui os conceitos de Colaborador ou Funcionário</label>
                            <input type="checkbox" class="no-uniform" id="chkPossuiConceitoColaboradorFuncionario" data-bind="checked: PossuiConceitoColaboradorFuncionario, flipper: { observable: PossuiConceitoColaboradorFuncionario, options: { 'css': 'warning' }  }">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="chkPossuiConceitoTransportadora">Possui os conceitos de Transportadora</label>
                            <input type="checkbox" class="no-uniform" id="chkPossuiConceitoTransportadora" data-bind="checked: PossuiConceitoTransportadora, flipper: { observable: PossuiConceitoTransportadora, options: { 'css': 'warning' }  }">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="chkPermiteUsuarioSistema">Permite ter Usuário no Sistema para este Perfil</label>
                            <input type="checkbox" class="no-uniform" id="chkPermiteUsuarioSistema" data-bind="checked: PermiteUsuarioSistema, flipper: { observable: PermiteUsuarioSistema, options: { 'css': 'warning' }  }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" data-toggle="collapsible" id="pnlFuncoesPJ">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">CAMPOS OBRIGATÓRIOS DA PESSOA JURÍDICA</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkCNPJ">CNPJ</label>
                            <input type="checkbox" class="no-uniform" id="chkCNPJ" data-bind="checked: CNPJ, flipper: { observable: CNPJ, options: { 'css': 'warning' }  }">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkIE">Inscrição Estadual</label>
                            <input type="checkbox" class="no-uniform" id="chkIE" data-bind="checked: IE, flipper: { observable: IE, options: { 'css': 'warning' }  }">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkIM">Inscrição Municipal</label>
                            <input type="checkbox" class="no-uniform" id="chkIM" data-bind="checked: IM, flipper: { observable: IM, options: { 'css': 'warning' }  }">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkDataAbertura">Data de Abertura</label>
                            <input type="checkbox" class="no-uniform" id="chkDataAbertura" data-bind="checked: DataAbertura, flipper: { observable: DataAbertura, options: { 'css': 'warning' }  }">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkTelefone1PJ">Telefone 1</label>
                            <input type="checkbox" class="no-uniform" id="chkTelefone1PJ" data-bind="checked: Telefone1PJ, flipper: { observable: Telefone1PJ, options: { 'css': 'warning' }  }">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkTelefone2PJ">Telefone 2</label>
                            <input type="checkbox" class="no-uniform" id="chkTelefone2PJ" data-bind="checked: Telefone2PJ, flipper: { observable: Telefone2PJ, options: { 'css': 'warning' }  }">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkEmailPJ">E-mail</label>
                            <input type="checkbox" class="no-uniform" id="chkEmailPJ" data-bind="checked: EmailPJ, flipper: { observable: EmailPJ, options: { 'css': 'warning' }  }">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkEnderecoSede">Endereço Sede</label>
                            <input type="checkbox" class="no-uniform" id="chkEnderecoSede" data-bind="checked: EnderecoSede, flipper: { observable: EnderecoSede, options: { 'css': 'warning' }  }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" data-toggle="collapsible" id="pnlFuncoesPF">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">CAMPOS OBRIGATÓRIOS DA PESSOA FÍSICA</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkCPF">CPF</label>
                            <input type="checkbox" class="no-uniform" id="chkCPF" data-bind="checked: CPF, flipper: { observable: CPF, options: { 'css': 'warning' }  }">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkRG">RG</label>
                            <input type="checkbox" class="no-uniform" id="chkRG" data-bind="checked: RG, flipper: { observable: RG, options: { 'css': 'warning' }  }">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkCNH">CNH</label>
                            <input type="checkbox" class="no-uniform" id="chkCNH" data-bind="checked: CNH, flipper: { observable: CNH, options: { 'css': 'warning' }  }">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkDataNascimento">Data Nascimento</label>
                            <input type="checkbox" class="no-uniform" id="chkDataNascimento" data-bind="checked: DataNascimento, flipper: { observable: DataNascimento, options: { 'css': 'warning' }  }">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkTelefone1PF">Telefone 1</label>
                            <input type="checkbox" class="no-uniform" id="chkTelefone1PF" data-bind="checked: Telefone1PF, flipper: { observable: Telefone1PF, options: { 'css': 'warning' }  }">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkTelefone1PF">Telefone 2</label>
                            <input type="checkbox" class="no-uniform" id="chkTelefone2PF" data-bind="checked: Telefone2PF, flipper: { observable: Telefone2PF, options: { 'css': 'warning' }  }">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkEmail">E-mail</label>
                            <input type="checkbox" class="no-uniform" id="chkEmail" data-bind="checked: EmailPF, flipper: { observable: EmailPF, options: { 'css': 'warning' }  }">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkEnderecoDomicilio">Endereço Domicílio</label>
                            <input type="checkbox" class="no-uniform" id="chkEnderecoDomicilio" data-bind="checked: EnderecoDomicilio, flipper: { observable: EnderecoDomicilio, options: { 'css': 'warning' }  }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>