﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.Moeda.IndexVM

<div id="filtro-grade">
    <template id="filter-MoedaIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Moeda, Índice ou Taxa</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroNatureza" class="control-label">Natureza</label>
            <select id="ddlFiltroNatureza" data-bind="value: Natureza" class="form-control no-search">
                <option value="">Todos</option>
                <option value="1">Moeda</option>
                <option value="2">Índice e Taxa</option>
                <option value="3">Produção Agrícola</option>
                <option value="4">Produção Pecuária</option>
            </select>
        </div>
        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "MoedaIndex",
    newUrl: "#/Financeiro/Moeda/New",
    editUrl: "#/Financeiro/Moeda/Edit",
    listUrl: "/Financeiro/Moeda/List",
    columns:
    @<script>
        [
            { 'id': 'IdFinanceiroMoeda', editColumn: true },
            { 'id': 'RegistroProprio', 'defaultValue': '', 'filter': true },
            { 'id': 'Descricao', 'filter': true, 'defaultFilter': true },
            { 'id': 'Natureza', defaultValue: '', filter: true },
            { 'id': 'Descricao', 'header': true, 'filter': true, displayName: 'Descrição', sortable: true },
            { 'id': 'Sigla', 'header': true, displayName: 'Sigla', sortable: true },
            { 'id': 'NaturezaExibicao', 'header': true, displayName: 'Natureza', sortable: true },
            { 'id': 'CasasDecimais', 'header': true, displayName: 'Decimais', sortable: true },
            { 'id': 'EditarRegistro', 'header': true, 'filter': true, 'sortable': true, 'displayName': 'Editar Registro' },
            defaults.gridNewEdit.column.ativo,
            { displayName: "Ações", header: true, width: '160px' }
        ]
    </script>,
        templateRows:
        @<tr>
            <td data-bind="text: Descricao, id: IdFinanceiroMoeda"></td>
            <td data-bind="text: Sigla"></td>
            <td data-bind="text: NaturezaExibicao"></td>
            <td><span data-bind="text: CasasDecimais"></span></td>
            <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>
            <td data-bind="template: 'label-status'"></td>
            <td>
                <div style="float:left">
                    <span data-bind="template: { name: 'button-edit-url', data: { id: IdFinanceiroMoeda } }"></span>
                </div>

                <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                    <a data-bind="attr: { href: '#/Financeiro/Moeda/Ativar/' + IdFinanceiroMoeda }" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
                </div>

                <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                    <a data-bind="attr: { href: '#/Financeiro/Moeda/Inativar/' + IdFinanceiroMoeda }" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
                </div>

                <div style="float:left;padding-left:5px;" data-bind="visible: (EditarRegistro == false)">
                    <a data-bind="attr: { href: '#/Financeiro/Moeda/View/' + IdFinanceiroMoeda }" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
                </div>

            </td>

        </tr>, api: "indexVM.api", orderByCol: "EditarRegistro", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)

</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}

