﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.Moeda.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-FinanceiroMoeda-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlNatureza" class="control-label">Natureza</label>
                                <select placeholder="ddlNatureza" id="ddlFiltroAtivo" data-bind="value: Natureza" class="form-control no-search">
                                    <option value="1" selected="selected">Moeda</option>
                                    <option value="2">Índice e Taxa</option>
                                    <option value="3">Produção Agrícola</option>
                                    <option value="4">Produção Pecuária</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4" data-bind="visible: Natureza() == 2">
                            <div class="form-group">
                                <label for="ddlUnidadeInformacao" class="control-label">Natureza</label>
                                <select id="ddlUnidadeInformacao" data-bind="value: UnidadeInformacao" class="form-control no-search">
                                    <option value="1" selected="selected">Valor</option>
                                    <option value="2">Porcentagem</option>
                                    <option value="3">Fator</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtDescricao">Descrição</label>
                                <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120">
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtSigla">Sigla</label>
                                <input type="text" id="txtSigla" name="txtSigla" data-bind="value: Sigla, validate: { required: true }" class="form-control" maxlength="120">
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtCasasDecimais">Casas Decimais</label>
                                <input type="number" id="txtCasasDecimais" name="txtCasasDecimais" data-bind="value: CasasDecimais, validate: { required: true }" class="form-control" maxlength="10">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <label for="ddlProdutoServico">Produto</label>
                                @HtmlHelper.Select.SearchableKO("ddlProdutoServico", "IdProdutoServico", "IdProdutoServico", "DescricaoCodigo", "DescricaoCodigoBusca", "DescricaoCodigo", "/Estoque/Produto/List", "Ativo:true, Natureza:1")
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: vm.IdProdutoServico() != null">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlLocalidade">Estado</label>
                                @HtmlHelper.Select.SearchableKO("ddlEstado", "IdEstado", "IdEstado", "NomeResumido", "NomeResumido", "NomeResumido", "/Localizacao/Estado/List", "", dataBind: " validate : { required : vm.IdProdutoServico() != null } ")
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtLocal">Local</label>
                                <input type="text" id="txtLocal" name="txtLocal" data-bind="value: Local, validate: { required : vm.IdProdutoServico() != null  }" class="form-control" maxlength="120">
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: ExibeOrigemInformacao">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Origem da Informação</label>
                                </div>
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-primary btn-inverted">
                                        <input type="radio" name="options" id="option1" value="1" data-bind="bsChecked: OrigemInformacao, css: { active: OrigemInformacao() == 1}"> Lançado Manualmente
                                    </label>
                                    <label class="btn btn-primary btn-inverted">
                                        <input type="radio" name="options" id="option1" value="2" data-bind="bsChecked: OrigemInformacao, css: { active: OrigemInformacao() == 2}">Automático via Sistema
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label" for="chkAtivo">Ativo</label>
                                <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
