﻿@model HTM.MasterGestor.Web.UI.Areas.Mapeamento.ViewModels.Categoria.IndexVM

<div id="filtro-grade">
    <template id="filter-CategoriaIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: BuscaAvancada" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlNaturezaOperacaionalFiltro" class="control-label">Natureza Operacional</label>
            @HtmlHelper.Select.SearchableKO("ddlNaturezaOperacaionalFiltro", "IdNaturezaOperacional", "IdNaturezaOperacional", "Descricao", "Descricao", "Descricao", "/Corporativo/NaturezaOperacional/List", "Ativo:true")
        </div>
        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
        id: "CategoriaIndex",
        newUrl: "#/Mapeamento/Categoria/New",
        editUrl: "#/Mapeamento/Categoria/Edit",
        listUrl: "/Mapeamento/Categoria/List",
        columns:
        @<script>
            [
                { 'id': 'IdMapeamentoCamadaCategoria', editColumn: true },
                { 'id': 'RegistroProprio', 'defaultValue': '', 'filter': true },
                { 'id': 'IdNaturezaOperacional', filter: true },
                { 'id': 'BuscaAvancada', filter: true, defaultFilter: true, },
                { 'id': 'Descricao', header: true, filter: true, displayName: 'Descrição', sortable: true },
                { 'id': 'DescricaoResumida', header: true, filter: true, displayName: 'Descrição Resumida', sortable: true },
                { 'id': 'DescricaoNaturezaOperacional', header: true, filter: true, displayName: 'Natureza Operacional', sortable: true, groupable: true },
                { 'id': 'EditarRegistro', 'header': true, 'filter': true, 'sortable': true, 'displayName': 'Editar Registro' },
                defaults.gridNewEdit.column.ativo,
                { displayName: "Ações", header: true, width: '160px' }
            ]
        </script>,
        templateRows:
        @<tr>
            <td data-bind="text: Descricao, id: IdMapeamentoCamadaCategoria"></td>
            <td><span data-bind="text: DescricaoResumida"></span></td>
            <td><span data-bind="text: DescricaoNaturezaOperacional"></span></td>
            <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>
             <td data-bind="template: 'label-status'"></td>
             <td>
                 <div style="float:left">
                     <span data-bind="template: { name: 'button-edit-url', data: { id: IdMapeamentoCamadaCategoria } }"></span>
                 </div>

                 <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                     <a data-bind="attr: { href: '#/Mapeamento/Categoria/Ativar/' + IdMapeamentoCamadaCategoria}" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
                 </div>

                 <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                     <a data-bind="attr: { href: '#/Mapeamento/Categoria/Inativar/' + IdMapeamentoCamadaCategoria}" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
                 </div>

                 <div style="float:left;padding-left:5px;" data-bind="visible: (EditarRegistro == false)">
                     <a data-bind="attr: { href: '#/Mapeamento/Categoria/View/' + IdMapeamentoCamadaCategoria}" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
                 </div>

             </td>
        </tr>,
             api: "indexVM.api",
             orderByCol: "DescricaoNaturezaOperacional,Descricao",
             orderByDir: HelpersUtil.OrderByDirEnum.Asc,
             groupByCol: "DescricaoNaturezaOperacional",
             useHiddenColumns: false)
</div>
@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}

