﻿@model HTM.MasterGestor.Web.UI.Areas.Mapeamento.ViewModels.Categoria.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-Categoria-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtDescricao">Descrição</label>
                                <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="150" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtDescricaoResumida">Descrição Resumida</label>
                                <input type="text" id="txtDescricaoResumida" name="txtDescricaoResumida" data-bind="value: DescricaoResumida, validate: { required: true }" class="form-control" maxlength="50" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlNaturezaOperacional">Natureza Operacional</label>
                                @HtmlHelper.Select.SearchableKO("ddlNaturezaOperacional", "IdNaturezaOperacional", "IdNaturezaOperacional", "Descricao", "Descricao", "Descricao", "/Corporativo/NaturezaOperacional/List", "Ativo:true", required: true)
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkBase">Representa Camada Base</label>
                                <input type="checkbox" class="no-uniform" id="chkBase" data-bind="checked: Base, flipper: { observable: Base, options: {'css': 'warning'} }">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <label for="ddlCategoriaRestricao">Não pode ter Intersecção entre as Categorias</label>
                                @HtmlHelper.Select.SearchableKO("ddlCategoriaRestricao", "IdsRestricao", "IdMapeamentoCamadaCategoriaIn", "Descricao", "Descricao", "Descricao", "/Mapeamento/Categoria/List", dadosComplObservable: "dadosCompleCategoriaRestricaoVM", idChaveRelacao: "IdMapeamentoCamadaCategoria", multiple:true)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkAtivo">Ativo</label>
                                <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

