﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.Servico.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-Servico-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtCodigo">Código<span>(Automático)</span></label>
                            <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" maxlength="20" />
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required : true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <div class="form-group">
                            <label for="ddlProdutoServicoGrupo">Grupo de Produto</label>
                            @HtmlHelper.Select.SearchableKO("ddlProdutoServicoGrupo", "IdProdutoServicoGrupo", "IdProdutoServicoGrupo", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Estoque/ProdutoServicoGrupo/List", "Ativo:true, UltimoNivel:true, NaturezaIn:\\'2,3\\'", required: true)
                        </div>
                    </div>
                </div>
                <fieldset>
                    <legend style="color:#626262;">Quais as ações podem ser realizadas com este Serviço?</legend>
                    <div class="form-inline">
                        <div class="form-group">
                            <label class="control-label" for="chkComprado">Comprar</label>
                            <input type="checkbox" class="no-uniform" id="chkComprado" name="chkComprado" data-bind="checked: PermiteCompra, flipper: { observable: PermiteCompra, options: defaults.flipper.SimNao }">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="chkProduzido">Realizar</label>
                            <input type="checkbox" class="no-uniform" id="chkProduzido" name="chkProduzido" data-bind="checked: PermiteProducao, flipper: { observable: PermiteProducao, options: defaults.flipper.SimNao }">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="chkVendido">Vender</label>
                            <input type="checkbox" class="no-uniform" id="chkVendido" name="chkVendido" data-bind="checked: PermiteVenda, flipper: { observable: PermiteVenda, options: defaults.flipper.SimNao }">
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend style="color:#626262;">Forma de Execução?</legend>
                    <div class="form-inline">
                        <div class="form-group">
                            <label class="control-label" for="chkRealizadoComEquipamento">Realizado com Equipamento</label>
                            <input type="checkbox" class="no-uniform" id="chkRealizadoComEquipamento" name="chkRealizadoComEquipamento" data-bind="checked: RealizadoComEquipamento, flipper: { observable: RealizadoComEquipamento, options: defaults.flipper.SimNao }">
                        </div>
                        <div class="form-group" data-bind="visible: RealizadoComEquipamento">
                            <label class="control-label" for="chkInformarOperador">Deve ser informado Operador </label>
                            <input type="checkbox" class="no-uniform" id="chkInformarOperador" name="chkInformarOperador" data-bind="checked: InformarOperador, flipper: { observable: InformarOperador, options: defaults.flipper.SimNao }">
                        </div>
                    </div>
                </fieldset>
                <div data-toggle="collapsible" class="optional" id="pnlObservacao">
                    <a href="#">Observação</a>
                    <div>
                        <div class="row">
                            <div class="form-group col-xs-5">
                                <textarea data-bind="value: Observacao" class="form-control" id="txtObservacao" data-allowclear="false" maxlength="500" style="min-height: 75px;"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" data-open="false" id="pnlFornecedores" data-bind="whit: Impostos">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Informações Fiscais</h3>
            </div>
            <div class="panel-body">
                @HtmlHelper.GridView.GridNewEdit(
                id: "Imposto", // Declarar na página <template id="newedit-id"></template>
                vm: "Impostos",
                vmExtend: "vmImpostoExtend",
                title: "Relacionar Impostos",
                columns: @<script>
                    [
                        { 'id': 'IdProdutoServico' },
                        { 'id': 'IdFiscalImposto' },
                        { 'id': 'IncideSaida' },
                        { 'id': 'ReducaoBase' },
                        { 'id': 'ReducaoImposto' },
                        { 'id': 'DescricaoFiscalImposto', header: true, displayName: 'Imposto', 'sortable': true },
                        { 'id': 'RecuperaEntrada', header: true, displayName: 'Recupera', 'sortable': true },
                        { 'id': 'ReducaoBaseDescricao', header: true, displayName: '% Redução Base', 'sortable': true },
                        { 'id': 'ReducaoImpostoDescricao', header: true, displayName: '% Redução Imposto', 'sortable': true },
                        defaults.gridNewEdit.column.acaoEditRemove
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: DescricaoFiscalImposto }  }"></td>
                    <td data-bind="template: { name: 'label-recuperaentrada' }"></td>
                    <td data-bind="text: ReducaoBaseDescricao"></td>
                    <td data-bind="text: ReducaoImpostoDescricao"></td>
                    <td data-bind="template: { name: 'button-edit-remove' }"></td>
                </tr>, orderByCol: "DescricaoFiscalImposto", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)
            </div>
        </div>       
    </form>
    <template id="newedit-Imposto">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="ddlFiscalImposto">Imposto</label>
                    @HtmlHelper.Select.SearchableKO("ddlFiscalImposto", "IdFiscalImposto", "IdFiscalImposto", "SiglaDescricao", "SiglaDescricao", "SiglaDescricao", "/Contabilidade/Imposto/List", "Ativo:true", required: true, vmTextSelected: "DescricaoFiscalImposto")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="txtReducaoBase">Redução da Base (%)</label>
                    <input type="text" id="txtReducaoBase" name="txtReducaoBase" data-bind="value: ReducaoBase, maskDecimal: {}" class="form-control" maxlength="20" />
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="txtReducaoBase">Redução do Imposto (%)</label>
                    <input type="text" id="txtReducaoImposto" name="txtReducaoImposto" data-bind="value: ReducaoImposto, maskDecimal: {}" class="form-control" maxlength="20" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <div class="form-group">
                    <label class="control-label" for="chkIncideSaida">Incide na Saída</label>
                    <input type="checkbox" class="no-uniform" id="chkIncideSaida" data-bind="checked: IncideSaida, flipper: { observable: IncideSaida, options: defaults.flipper.ativoInativo }">
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <label class="control-label" for="chkRecuperaEntrada">Recupera na Entrada</label>
                    <input type="checkbox" class="no-uniform" id="chkRecuperaEntrada" data-bind="checked: RecuperaEntrada, flipper: { observable: RecuperaEntrada, options: defaults.flipper.ativoInativo }">
                </div>
            </div>
        </div>
    </template>
</div>

