﻿@model HTM.MasterGestor.Web.UI.Areas.Criacao.ViewModels.Tipo.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-CriacaoTipo-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                </div>
                <div data-toggle="collapsible" class="optional" id="pnlMaisCampos">
                    <a href="#">Exibir mais campos</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="ddlCriacaoTipo">Tipo Superior</label>
                                    @HtmlHelper.Select.SearchableKO("ddlCriacaoTipo", "IdCriacaoTipoPai", "IdCriacaoTipo", "DescricaoCompleta", "Descricao", "DescricaoCompleta", "/Criacao/Tipo/List", dadosComplObservable: "DadosComplementares", idChaveRelacao: "IdCriacaoTipo")
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="ddlUnidadePadraoLote">Unidade para Controle</label>
                                    @HtmlHelper.Select.SearchableKO("ddlUnidadePadraoLote", "IdUnidadePadraoLote", "IdUnidade", "DescricaoSigla", "Descricao", "Descricao", "/Estoque/Unidade/List", "Ativo:true, IdUnidadeTipo:7", idChaveRelacao: "IdUnidade")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="ddlPrefixo" class="control-label">Utiliza Prefixo para Codificação de Lotes ou Animais</label>
                                    <select class="form-control" name="ddlPrefixo" id="ddlPrefixo" data-bind="value: PrefixoTipo">
                                        <option value="1" selected="selected">Não Utiliza</option>
                                        <option value="2">Utiliza para Lotes</option>
                                        <option value="3">Utiliza para Animais</option>
                                        <option value="3">Utiliza para Lotes e Animais</option>
                                    </select>
                                </div>
                            </div>
                            <div id="divPrefixo" data-bind="visible: ExibePrefixo">
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label for="txtPrefixo">Prefixo</label>
                                        <input type="text" id="txtPrefixo" name="txtPrefixo" data-bind="value: Prefixo, validate : { required: ExibePrefixo}" class="form-control" maxlength="10" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="form-group">
                                    <label for="txtObservacao">Observação</label>
                                    <textarea id="txtObservacao" name="txtObservacao" data-bind="value: Observacao" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Ciclo de Vida</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        @HtmlHelper.Campo.UnidadeTipo("ddlCicloVida", "CicloVida", "5", "IdUnidadePadraoVida", label: "Ciclo de Vida (Médio)", ValidateBind: "{ required: true }")
                    </div>
                    <div class="col-xs-4">
                        @HtmlHelper.Campo.UnidadeTipo("ddlTempoGestacao", "TempoGestacao", "5", "IdUnidadePadraoGestacao", label: "Período de Gestação ou Incubação", ValidateBind: "{ required: true }")
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlCicloVidaFormato" class="control-label">Formato de Tempo</label>
                            <select class="form-control" name="ddlCicloVidaFormato" id="ddlCicloVidaFormato" data-bind="value: CicloVidaFormato">
                                <option value="1">Mês + Dia (Ex: 99 meses 99 dias)</option>
                                <option value="2" selected="selected">Ano + Mês + Dia (Ex: 99 anos 99 meses 99 dias)</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div data-toggle="collapsible" class="optional" id="pnlEstagios">
                    <a href="#">Estágios ou Fase de Vida</a>
                    <div class="panel-body">
                        @HtmlHelper.GridView.GridNewEdit(
                        id: "Estagio", // Declarar na página <template id="newedit-id"></template>
                        vm: "Estagios",
                        columns: @<script>
                            [
                                { 'id': 'IdCriacaoTipoEstagioVida' },
                                { 'id': 'IdCriacaoTipo' },
                                { 'id': 'IdUnidadeEstagioVida', 'defaultValue': vm.IdUnidadePadraoVida },
                                { 'id': 'InicioEstagioVida'},
                                { 'id': 'Descricao','displayName': 'Descrição', 'header': true },
                                { 'id': 'DescricaoUnidadeEstagioVidaInicio','displayName': 'Início', 'header': true },
                                { 'id': 'Ativo', 'defaultValue': true, 'header': true },
                                defaults.gridNewEdit.column.acao
                            ]
                        </script>,
                        templateRows:
                        @<tr>
                            <td data-bind="template: { name: 'link-edit', data: { text: Descricao }  }"></td>
                            <td data-bind="text: DescricaoUnidadeEstagioVidaInicio"></td>
                            <td data-bind="template: { name: 'label-status' }"></td>
                            <td data-bind="template: { name: 'button-edit' }"></td>
                        </tr>,
                        orderByCol: "InicioEstagioVida",
                        orderByDir: HelpersUtil.OrderByDirEnum.Asc)
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-action">
            <div class="panel-body">
                <button type="submit" id="btn-salvar" class="btn btn-secondary btn-lg btn-primary-action"><i class="material-icons">&#xE5CA;</i> Salvar</button>
                <a href="#List" type="button" class="btn btn-primary btn-inverted btn-lg"><i class="material-icons">&#xE5C4;</i> Voltar</a>
                @if (@Model.IdCriacaoTipo.HasValue)
                {
                    <a href="#History/CriacaoTipo/@Model.IdCriacaoTipo" type="button" class="btn btn-primary btn-inverted btn-lg pull-right"><i class="material-icons">&#xE889;</i> Histórico</a>
                }
            </div>
        </div>
    </form>
    <template id="newedit-Estagio">
        <input type="hidden" data-bind="value: DescricaoUnidadeEstagioVidaInicio = vmCicloVida.DescricaoUnidade()" />
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="txtDescricaoEstagio">Estágio de Vida</label>
                    <input type="text" id="txtDescricaoEstagio" name="txtDescricaoEstagio" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="20" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    @HtmlHelper.Campo.UnidadeTipo("ddlEstagioVida", "InicioEstagioVida", "5", "IdUnidadeEstagioVida", label: "Início do Estágio (Fase)", UnidadeSelecionadoApresentacao: "vmCicloVida.DescricaoUnidade")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="control-label" for="chkAtivoEstagio">Ativo</label>
                    <input type="checkbox" class="no-uniform" id="chkAtivoEstagio" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                </div>
            </div>
        </div>
    </template>
</div>

