﻿@model HTM.MasterGestor.Web.UI.Areas.Agricola.ViewModels.EpocaPlantio.IndexVM

<div id="filtro-grade">
    <template id="filter-EpocaPlantioIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="value: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>
        @HtmlHelper.Campo.DropAtivo()

    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "EpocaPlantioIndex",
    newUrl: "#/Agricola/EpocaPlantio/New",
    editUrl: "#/Agricola/EpocaPlantio/Edit",
    listUrl: "/Agricola/EpocaPlantio/List",
    columns:
    @<script>
        [
            { 'id': 'IdProducaoEpocaPlantio', editColumn: true },
            { 'id': 'RegistroProprio', 'defaultValue': '', 'filter': true },
            { 'id': 'Descricao', filter: true, defaultFilter: true },
            { 'id': 'DescricaoComDatas', header: true, displayName: 'Descrição', sortable: true },
            { 'id': 'Sigla', header: true, displayName: 'Sigla', sortable:true },
            { 'id': 'Ordem', header: true, displayName: 'Ordem', sortable: true },
            { 'id': 'Padrao', header: true, displayName: 'Padrão', sortable: true },
            { 'id': 'EditarRegistro', 'header': true, 'filter': true, 'sortable': true, 'displayName': 'Editar Registro' },
            defaults.gridNewEdit.column.ativo,
            { displayName: "Ações", header: true, width: '160px' }
        ]
    </script>,
        templateRows:
        @<tr>
            <td data-bind="text: DescricaoComDatas"></td>
            <td data-bind="text: Sigla"></td>
             <td data-bind="text: Ordem"></td>
            <td data-bind="template: { name: 'label-status', data: { status: Padrao } } "></td>
             <td data-bind="template: { name: 'label-status', data: { status: Ativo } } "></td>
             <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>
             <td>
                 <div style="float:left">
                     <span data-bind="template: { name: 'button-edit-url', data: { id: IdProducaoEpocaPlantio } }"></span>
                 </div>

                 <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                     <a data-bind="attr: { href: '#Agricola/EpocaPlantio/Ativar/' + IdProducaoEpocaPlantio}" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
                 </div>

                 <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                     <a data-bind="attr: { href: '#Agricola/EpocaPlantio/Inativar/' + IdProducaoEpocaPlantio}" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
                 </div>

                 <div style="float:left;padding-left:5px;" data-bind="visible: (EditarRegistro == false)">
                     <a data-bind="attr: { href: '#Agricola/EpocaPlantio/View/' + IdProducaoEpocaPlantio}" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
                 </div>
             </td>
            
        </tr>,api: "indexVM.api",orderByCol: "Ordem",orderByDir: HelpersUtil.OrderByDirEnum.Asc,useHiddenColumns: false)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}