﻿@model HTM.MasterGestor.Web.UI.Areas.Agricola.ViewModels.EpocaPlantio.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-ProducaoEpocaPlantio-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <div class="form-group">
                            <label for="txtSigla">Sigla</label>
                            <input type="text" id="txtSigla" name="txtSigla" data-bind="value: Sigla, validate: { required: true }" class="form-control" maxlength="7" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtDataInicio">Início</label>
                            <div class="input-group date form-group">
                                <input data-bind="value: DataInicio, datepicker: { options: defaults.datepicker.daymonth }, mask: { options: { mask: 'd/m', placeholder: 'dd/mm' } }" id="txtDataInicio" name="txtDataInicio" class="form-control" />
                                <span class="input-group-addon">
                                    <i class="material-icons">&#xE878;</i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtDataTermino">Término</label>
                            <div class="input-group date form-group">
                                <input data-bind="value: DataTermino, datepicker: { options: defaults.datepicker.daymonth }, mask: { options: { mask: 'd/m', placeholder: 'dd/mm' } }" id="txtDataTermino" name="txtDataTermino" class="form-control" />
                                <span class="input-group-addon">
                                    <i class="material-icons">&#xE878;</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <div class="form-group">
                            <label class="control-label" for="txtOrdem">Ordem</label>
                            <input type="text" class="form-control" id="txtOrdem" data-bind="value: Ordem, mask : { options: defaults.mask.integer, value: Ordem }" name="txtOrdem">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="chkPadrao">Padrão</label>
                            <input type="checkbox" class="no-uniform" id="chkPadrao" data-bind="checked: Padrao, flipper: { observable: Padrao, options: { 'css': 'warning' } }">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-action">
            <div class="panel-body">
                <button id="btn-salvar" type="submit" class="btn btn-secondary btn-lg btn-primary-action"><i class="material-icons">&#xE5CA;</i> Salvar</button>
                <a href="#List" type="button" class="btn btn-primary btn-inverted btn-lg"><i class="material-icons">&#xE5C4;</i> Voltar</a>
                @if (@Model.IdProducaoEpocaPlantio.HasValue)
                {
                    <a href="#History/ProducaoEpocaPlantio/@Model.IdProducaoEpocaPlantio" type="button" class="btn btn-primary btn-inverted btn-lg pull-right"><i class="material-icons">&#xE889;</i> Histórico</a>
                }
            </div>
        </div>

    </form>
</div>