﻿#content-header-toolbar {
    min-width: 32px;
}
.enable-pointer-events {
    pointer-events: auto !important;
}
/* Esconde nova aba favoritos */
#menu-item-search + .menu-item > .menu-open-new {
    display: none !important;
}
#ctnAlternarFavorito {
    display: inline-block;
}
.btn-fav i {
    font-size: 18px;  
    top: 5px;
    left: 5px;  
}
.btn-fav i:nth-child(1) {
    opacity: 0;
    color: #F08F0E;
}
.btn-fav i:nth-child(2) {
     
}
.btn-fav.favoritado i:nth-child(1) {
    opacity: 1;    
    z-index: 54; 
}
.btn-fav.favoritado i:nth-child(2) {
    opacity: 0;
}
.dropdown-empresa {
    left: 0 !important;
}
.paletas .vanilla-radio {
    vertical-align: baseline;
}
.paletas .paleta {
    display: inline-block;
    height: 33px;
    width: 80px;
    margin-right: 15px;
}
.paletas .paleta > div {
    float: left;
    width: 50%;
    display: inline-block;
    height: 33px;
}
.paletas .paleta > div:first-child {

}
/* Clique na barra de filtro para expandir */
.panel-filter .panel-heading {    
    -webkit-transition: all .2s ease-in-out !important;    
    transition: all .2s ease-in-out !important;      
    /* Evita seleção indesejada */
     -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}
.container-empresa {
    background-color: transparent;
    margin-right: 6px;
}
.navbar-icon.usuario > a {
    padding-top: 8px;
    padding-bottom: 5px;
}
.navbar-brand img {
    margin-right: 8px;
    margin-top: -5px;
}
.container-empresa i {
    color: #fff;
    padding: 4px;
    font-size: 25px;
}
.btn-novo {
    /*font-size: 16px;*/
}
.btn-novo ~ #grade-resultado {
    margin-top: -60px;
}
.btn-novo ~ #grade-resultado .alert-nodata {
    margin-top: 80px;
}
.grid-exportar {
    float: right;
}
.grid-exportar .btn {
    margin-right: 10px;
}
.grid-exportar .btn:last-child {
    margin-right: 0
}
.grid-agrupar.form-inline {

}
.grid-agrupar {
    max-width: none !important;
    float: right;
    margin-right: 20px !important;
}
.grid-agrupar .inline-block {
    margin-right: 10px;
    display: inline-block;
}
/* ajusta espaçamentos dos ícones dentro de botões e tamanhos - workaround, usar padrão */
#btnFiltrar {
    padding: 10px 16px;            
}
#btnFiltrar i {
    margin-right: 4px;
}
/* ajusta espaçamento ícone de ação em tabela */
.table tr td:last-child i.ei-icon-pencil-edit {
    margin-right: 0
}
.th-checkbox {
    width: 70px;
}

/* Conteúdo de páginas institucionais fora da sessão de usuário */
.content-pages {
    margin: 30px auto;
    max-width: 47%;
    min-width: 500px;    
}
.content-pages .panel .panel-action {
    padding-bottom: 20px;
    padding-top: 0;
}
.content-pages .logo {
    margin: 15px auto 40px;
    text-align: center
}

.content-pages .panel-action {    
    position: relative;
    opacity: 1;
    bottom: 0;
    box-shadow: none;
}
.content-pages .panel-action .panel-body {
    max-width: 100%;
}
.ou {
    display: block;
    border-top: solid 1px #ccc;
    text-align: center;
    margin: 26px auto 10px; 
    width: 70%;   
    font-style: italic; 
    color: #ccc;
}
.ou:before {
    content: "ou";
    display: block;
    margin: -10px auto;
    width: 50px;
    background: #fff;

}
/* Barra inferior de ação fixa */
.edit-form {
    padding-bottom: 18px;  
}
.panel-action {
    box-shadow: 0 0 10px #ccc;
    position: fixed;
    bottom: -79px;
    opacity: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    z-index: 70;
}
.panel-action.show {
    bottom: 0;
    opacity: 1;
}
.panel-action .panel-body {
    max-width: 90%;
    margin: 0 auto;
}
.table .label-default[data-bind] {
    border-color: #F44336;
    color: #F44336;
}
.form-group.opcional  {

}
.form-group.opcional label:after {
    content: "(Opcional)";
    font-size: .9em;
    margin-top: 0px;
    margin-bottom: 2px;
    color: #aaa;
    margin-left: 6px;
    overflow: hidden;
}
.qtip.qtip-zindex {
    z-index: 90 !important;
}
#notifications .dropdown-menu {
    min-width: 250px;
    padding-bottom: 0;
}
#notifications .list-group {
    position: relative;
    max-height: 270px; 
    overflow: hidden;
}
#notifications .btn-rounded-icon i.material-icons {
    position: relative;
    margin: 0;
}
.fixed-top-toastr {
    padding-top: 64px;
    transition: padding-top linear .5s;
}

.list-group .item-content {
    width: 170px;
}
.list-item-dash:not(:empty) ~ .list-item-dash:not(:empty):before {
    content: " - ";
}
/* Componente unidade tipo */
.form-group-unidade {
    width: 100%;
    clear: both;
}
.form-group-unidade select {
    border-left: none;    
}
.form-group-unidade select:focus {
    /*border-left: solid 1px #0277bd;*/
}

/*.form-group-unidade div * {
    border-right: none;
    border-radius: 0;
}
.form-group-unidade div:last-child * {
    border-right: solid 1px #bbb;
    border-radius: 2px;
}*/
.campo-valor {
    min-width: 120px;
    padding-right: 35px;
}
.unidade-valor, .unidade-tipo {
    padding: 0 !important;
    border: none; 
    margin-left: -1px !important;
}
.unidade-valor select, .unidade-tipo select {
    width: auto !important;
}
/*.input-group .input-clear-wrapper .form-control.campo-valor {
    height: 33px;
}*/
.form-group-unidade .input-group-add-on {
    
}
.menu-section .menu-list {
    width: 100%;    
}

.menu-section .always-visible.ps-container > .ps-scrollbar-x-rail,
.menu-section .always-visible.ps-container > .ps-scrollbar-y-rail {
    opacity: 0.6;
    background: rgba(255, 255, 255, .4);
}
.menu-section .always-visible.ps-container:hover > .ps-scrollbar-y-rail:hover  {    
    opacity: 1;
}
.menu-section .always-visible.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    background: #fff;
}

/* Overlay dialogs */
.overlay-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;    
}
.overlay-content .content {
    max-width: 70%;
    margin: 0;
}
.overlay-content.success {
    background: #4caf50;
}
.overlay-content.error {
    background: #f44336;
}
.uploader .hide {
    display: none;
}
.uploader .show {
    display: block;
}
.upload-feedback .progressbar {
    flex-direction: column;
    align-items: flex-start;   
    background: #4caf50;
    height: 57px; 
}
.form-logon .input-group-addon {
    min-width: 60px;
}
.bx-wrapper .bx-pager {
    text-align: left;
    margin-left: 50px;
}
.bx-wrapper img {
    max-width: inherit;   
}
.bx-wrapper .bx-loading {
    background-image: url(/App_Assets/publish/images/bx_loader.gif) !important;
}
.select2-search input.select2-active, .select2-more-results.select2-active, .select2-container-multi .select2-choices .select2-search-field input.select2-active {
    /*background-image: url(/App_Assets/publish/images/select2-spinner.gif) !important;*/
    background-image: none !important;
}
html[dir="rtl"] .select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr, .select2-container .select2-choice .select2-arrow b {
    /*background-image: url('/App_Assets/publish/images/select2.png');*/
    background-image: none !important;
}
.bx-wrapper .bx-prev, .bx-wrapper .bx-next {
    background-image: url(/App_Assets/publish/images/bx_loader.gif) !important;
}
@media (max-height: 653px) {
    .form-logon .contato {
        position: relative !important;
        margin-top: 40px;        
    }
}

/* padronização tamanho modal */
.modal .modal-dialog {
    min-width: 60%;
    max-width: 80%;
}
.modal.modal-sm .modal-dialog {
    width: 620px;
    min-width: 620px;
}
/* cabeçalhos de titulo */
#title-aditional-info-code {
    margin-left: 8px;    
    display: none;
}
/* warm-up */
#warmUp ul {
    padding: 0;
    text-align: center;
}
.warm-up-tela {
    padding: 20px;
    background: #fff;
    text-align: center;
    list-style: none;
    display: inline-block;    
    margin: 0 2px 5px 0;
}
.warm-up-tela .wu-titulo {
    font-size: 17px;
}
.warm-up-tela .wu-status i {
    font-size: 2.2em;
}
.warm-up-tela .wu-status {
    height: 30px;
}
.warm-up-tela .wu-status.Aquecendo {
    color: #c1c1c1;
}
.warm-up-tela .wu-status.Ok {
    color: #4CAF50;
}
.warm-up-tela .wu-status.Erro {
    color: #F44336;
}

.icon-big-rounded {
    font-size: 4em;
    background: #ccc;
    padding: 10px;
    border-radius: 42px;
    margin-right: 17px;
}
.aprova, .reprova {    
    color: #fff;
    font-size: 1em;
    padding: 5px 8px;
}
.aprova {
    background: #4CAF50;
}
.reprova {
    background: #d9534f;
}
/* Remove duplicação de modal */
.modal-backdrop.fade.in + .modal-backdrop.fade.in {
    display: none;
}
#modal-Endereco .modal-dialog {    
    min-width: 88%;
}
.binding-error {
    background: #fec9c8 !important;
    color: #d9534f !important;    
}
.binding-error:before {
    content: "Erro no bind";
}
#tituloTelaPrint {
    font-size: 1.2em
}
.panel-set {
    right: 0; /* todos os panels serão em full width */
}
.panel-requisicao-entregas .panel-set-action, .panel-requisicao-entregas .panel-close {
    display: none
}
.map-loading #toolbar, .map-loading #search-box, .map-loading #aside-menu {
    display: none
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    /*font-size: 24px;*/
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.leaflet-custom-icon .icon {
    left: 1px;
    top: 7px;
}
.buttons-inline {
    display: table-row;    
}
.button-container {
    display: table-cell;
    padding-right: 4px
}