﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.ContratoOperadoraCartao.IndexVM

<div id="filtro-grade">
    <template id="filter-FinanceiroCartaoContratoOperadoraIndex">
        <div class="form-group">
            <label for="ddlFiltroTransacao" class="control-label">Entidade </label>
            <div style="min-width: 200px">
                @HtmlHelper.Select.SearchableKO("ddlFiltroFinanceiroEntidade", "IdFinanceiroEntidadeIn", "IdFinanceiroEntidade", "DescricaoComposta", "DescricaoCodigo", "DescricaoComposta", "/Financeiro/Entidade/List", "Ativo:true")
            </div>
        </div>
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descricao</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
        id: "FinanceiroCartaoContratoOperadoraIndex",
        newUrl: "#/Financeiro/ContratoOperadoraCartao/New",
        editUrl: "#/Financeiro/ContratoOperadoraCartao/Edit",
        listUrl: "/Financeiro/ContratoOperadoraCartao/List",
        columns:
        @<script>
            [
                { 'id': 'IdFinanceiroCartaoContratoOperadora', editColumn: true },
                { 'id': 'IdFinanceiroEntidadeIn', filter: true },
                { 'id': 'DescricaoFinanceiroEntidade', 'header': true, 'displayName': 'Entidade', sortable: true },
                { 'id': 'NumeroContrato', 'header': true, 'displayName': 'Número', sortable: true },
                { 'id': 'Descricao', 'header': true, 'displayName': 'Descrição', sortable: true, filter:true, defaultFilter: true },
                { 'id': 'DescricaoFinanceiroConta', 'header': true, 'displayName': 'Conta Depósito', sortable: true },
                { 'id': 'Principal', 'header': true, 'displayName': 'Principal', sortable: true },
                defaults.gridNewEdit.column.ativo,
                defaults.gridNewEdit.column.acao
            ]
        </script>,
        templateRows:
        @<tr>
            <td data-bind="text: DescricaoFinanceiroEntidade, id: IdFinanceiroCartaoContratoOperadora"></td>
            <td data-bind="text: NumeroContrato, id: IdFinanceiroCartaoContratoOperadora"></td>
            <td data-bind="text: Descricao, id: IdFinanceiroCartaoContratoOperadora"></td>
            <td data-bind="text: DescricaoFinanceiroConta, id: IdFinanceiroCartaoContratoOperadora"></td>
             <td data-bind="template: { name: 'label-status', data: { status: Principal } }"></td>        
            <td data-bind="template: 'label-status'"></td>
            <td data-bind="template: { name: 'button-edit-url', data: { id: IdFinanceiroCartaoContratoOperadora } }"></td>
        </tr>, api: "indexVM.api", orderByCol: "DescricaoFinanceiroEntidade", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)
</div>
@section Scripts {

}

