﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.ContratoOperadoraCartao.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-FinanceiroContratoOperadoraCartao-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlFinanceiroEntidade">Operadora de Cartão</label>
                                @HtmlHelper.Select.SearchableKO("ddlFinanceiroEntidade", "IdFinanceiroEntidade", "IdFinanceiroEntidade", "DescricaoComposta", "DescricaoCodigo", "DescricaoComposta", "/Financeiro/Entidade/List", "Ativo:true, OperadoraCartao:true", required: true)
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtNumero">Número Contrato</label>
                                <input type="text" id="txtNumero" name="txtNumero" data-bind="value: NumeroContrato" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="txtDescricao">Descrição</label>
                                <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required:true }" class="form-control" maxlength="120" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlFinanceiroContaDeposito">Conta para Depósito</label>
                                @HtmlHelper.Select.SearchableKO("ddlFinanceiroContaDeposito", "IdFinanceiroConta", "IdFinanceiroConta", "Detalhe", "BuscaDetalhada", "Detalhe", "/Financeiro/Conta/List", "Ativo:true, PorEmpresaUsuaria:true", required: true)
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label" for="chkPrincipal">Principal</label>
                                <input type="checkbox" class="no-uniform" id="chkPrincipal" data-bind="checked: Principal, flipper: { observable: Principal, options: { css: 'warning' } }">
                            </div>
                        </div>
                    </div>
                    <div class="optional" id="pnlObservacao" data-bind="collapsible: { vmArray: [ vm.Observacao() ] }">
                        <a href=" #">
                            Observação
                        </a>
                        <div>
                            <div class="row">
                                <div class="col-xs-9">
                                    <div class="form-group">
                                        <textarea id="txtObservacao" name="txtObservacao" data-bind="value: Observacao" class="form-control" style="min-height:70px;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-9">
                            <div class="form-group">
                                <label class="control-label" for="chkAtivo">Ativo</label>
                                <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-open="false" id="pnlFornecedores" data-bind="whit: lstEquipamento,collapsible: { vmArray: [ vm.lstEquipamento() ] }">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Equipamentos</h3>
                </div>
                <div class="panel-body">
                    @HtmlHelper.GridView.GridNewEdit(
                id: "Equipamento", // Declarar na página <template id="newedit-id"></template>
                vm: "lstEquipamento",
                title: "Equipamento",
                addTitle: "Novo",
                columns: @<script>
                    [
                        { 'id': 'IdFinanceiroCartaoContratoOperadoraEquipamento' },
                        { 'id': 'IdFinanceiroCartaoContratoOperadora' },
                        { 'id': 'Codigo', header: true, displayName: 'Código', 'sortable': true },
                        { 'id': 'Descricao', header: true, displayName: 'Descrição', 'sortable': true },
                        { 'id': 'Principal', header: true, displayName: 'Principal', 'sortable': true, defaultValue: false },
                        { 'id': 'Ativo', header: true, displayName: 'Ativo', 'sortable': true, defaultValue: true },
                        defaults.gridNewEdit.column.acaoEditRemove
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: Codigo }  }"></td>
                    <td data-bind="text: Descricao"></td>
                    <td data-bind="template: { name: 'label-status', data: { status: Principal } }"></td>
                    <td data-bind="template: 'label-status'"></td>
                    <td data-bind="template: { name: 'button-edit' }"></td>
                </tr>, orderByCol: "Codigo", orderByDir: HelpersUtil.OrderByDirEnum.Asc)
                </div>
            </div>
        </div>
    </form>

    <template id="newedit-Equipamento">
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="txtCodigoEquipamento">Código</label>
                    <input type="text" id="txtCodigoEquipamento" name="txtCodigoEquipamento" data-bind="value: Codigo" class="form-control" maxlength="20" />
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="txtDescricaoEquipamento">Descrição</label>
                    <input type="text" id="txtDescricaoEquipamento" name="txtDescricaoEquipamento" data-bind="value: Descricao, validate: { required:true }" class="form-control" maxlength="120" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label class="control-label" for="chkPrincipalEquipamento">Principal</label>
                    <input type="checkbox" class="no-uniform" id="chkPrincipalEquipamento" name="chkPrincipalEquipamento" data-bind="checked: Principal, flipper: { observable: Principal, options: { css: 'warning' } }">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-group">
                        <label class="control-label" for="chkAtivoEquipamento">Ativo</label>
                        <input type="checkbox" class="no-uniform" id="chkAtivoEquipamento" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                    </div>
                </div>
            </div>
        </div>
    </template>

</div>
