﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.ProdutoServicoFamilia.IndexVM

<div id="filtro-grade" style="display:none;">
    <template id="filter-EstoqueProdutoServicoFamiliaIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroTipoUnidade" class="control-label">Tipo de Unidade</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroTipoUnidade", "IdUnidadeTipoIn", "IdUnidadeTipo", "Descricao", "Descricao", "Descricao", "/Estoque/UnidadeTipo/List", "Ativo:true", idChaveRelacao: "IdUnidadeTipo", multiple: true)
        </div>
        <div class="form-group">
            <label for="ddlFiltroUnidade" class="control-label">Unidade</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroUnidade", "IdUnidadeIn", "IdUnidade", "Descricao", "Descricao", "Descricao", "/Estoque/Unidade/List", "Ativo:true", idChaveRelacao: "IdUnidade", multiple: true)
        </div>
        <div class="form-group">
            <label for="ddlFiltroGrupoProduto" class="control-label">Grupo de Produto</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroGrupoProduto", "IdProdutoServicoGrupoInBuscaEmProfundidade", "IdProdutoServicoGrupo", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Estoque/ProdutoServicoGrupo/List", "Ativo:true", idChaveRelacao: "IdProdutoServicoGrupo", multiple: true)
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "EstoqueProdutoServicoFamiliaIndex",
    newUrl: "#/Estoque/ProdutoServicoFamilia/New",
    editUrl: "#/Estoque/ProdutoServicoFamilia/Edit",
    listUrl: "/Estoque/ProdutoServicoFamilia/List",
    columns:
    @<script>
        [
            { 'id': 'IdUnidadeIn', filter: true },
            { 'id': 'IdUnidadeTipoIn', filter: true },
            { 'id': 'IdProdutoServicoGrupoInBuscaEmProfundidade', filter: true },
            { 'id': 'Descricao', 'header': true, filter: true, defaultFilter: true, displayName: 'Descrição', sortable: true },
            { 'id': 'DescricaoCompletaProdutoServicoGrupo', 'header': true, displayName: 'Grupo', sortable: true },
            { 'id': 'DescricaoUnidadeTipo', 'header': true, displayName: 'Tipo Unidade', sortable: true },
            { 'id': 'DescricaoSiglaUnidade', 'header': true, displayName: 'Unidade', sortable: true, groupable: true },
            { 'id': 'IdProdutoServicoFamilia', editColumn: true },
            defaults.gridNewEdit.column.ativo,
            defaults.gridNewEdit.column.acao
        ]
    </script>,
    templateRows:
    @<tr>
        <td data-bind="text: Descricao"></td>
        <td data-bind="text: DescricaoCompletaProdutoServicoGrupo"></td>
        <td data-bind="text: DescricaoUnidadeTipo"></td>
        <td data-bind="text: DescricaoSiglaUnidade"></td>
        <td data-bind="template: 'label-status'"></td>
        <td data-bind="template: { name: 'button-edit-url', data: { id: IdProdutoServicoFamilia } }"></td>
    </tr>
    ,
    api: "indexVM.api",
    orderByCol: "Descricao",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,
    useHiddenColumns: false)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}


