﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.ProdutoServicoFamilia.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-ProdutoServicoFamilia-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="ddlProdutoGrupo">Grupo de Produto</label>
                            @HtmlHelper.Select.SearchableKO("ddlProdutoGrupo", "IdProdutoServicoGrupo", "IdProdutoServicoGrupo", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Estoque/ProdutoServicoGrupo/List", "Ativo:true, UltimoNivel:true", required: true)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="ddlUnidadeTipo">Tipo de Unidade</label>
                            @HtmlHelper.Select.SearchableKO("ddlUnidadeTipo", "IdUnidadeTipo", "IdUnidadeTipo","Descricao", "Descricao", "Descricao", "/Estoque/UnidadeTipo/List", "Ativo:true", required: true)
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="ddlUnidade">Unidade Padrão de Estoque</label>
                            @HtmlHelper.Select.SearchableKO("ddlUnidade", "IdUnidade", "IdUnidade",
                            "DescricaoSigla", "Descricao", "Descricao", "/Estoque/Unidade/List", "Ativo:true", "ddlUnidadeTipo", "IdUnidadeTipo", required: true)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </form>
</div>