﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.ProdutoServicoFormaApresentacao.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-ProdutoServicoFormaApresentacao-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required:true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <div class="form-group">
                            <label for="txtSigla">Sigla</label>
                            <input type="text" id="txtSigla" name="txtSigla" data-bind="value: Sigla, validate: { required:true }" class="form-control" maxlength="10" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkPermiteVariosItens">Esta Forma de Apresentação (embalagem) representa</label>
                            <input type="checkbox" class="no-uniform" id="chkPermiteVariosItens" data-on-text="Embalagem com vários Itens" data-off-text="Um único Item" data-width="220px" data-bind="checked: PermiteVariosItens, flipper: { observable: PermiteVariosItens }">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkControlaMovimentacao">Controla a movimentação física, individual e pode ser usada para transporte de Produtos</label>
                            <input type="checkbox" class="no-uniform" id="chkControlaMovimentacao" data-bind="checked: ControlaMovimentacao, flipper: { observable: ControlaMovimentacao, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
                <div class="row" data-bind="visible: ControlaMovimentacao">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="ddlProdutoServico">Produto</label>
                            @HtmlHelper.Select.SearchableKO("ddlProdutoServico", "IdProdutoServico", "IdProdutoServico", "DescricaoReduzida", "DescricaoReduzida", "DescricaoReduzida", "/Estoque/Produto/List", "Ativo:true,Natureza:1", dataBind: "validate: { required: ControlaMovimentacao }", idChaveRelacao: "IdProdutoServico")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


