﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.ClassePatrimonial.IndexVM

<div id="filtro-grade">
    <template id="filter-ClassePatrimonialIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroClassePatrimonialSuperior" class="control-label">Superior</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroClassePatrimonialSuperior", "IdClassePatrimonialIn", "IdClassePatrimonialIn", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Corporativo/ClassePatrimonial/List", "Ativo:true, UltimoNivel:false", idChaveRelacao: "IdClassePatrimonial", multiple: true)
        </div>
        <div class="form-group">
            <label for="ddlFiltroUltimoNivel" class="control-label">Último Nível</label>
            <select placeholder="Ativo" id="ddlFiltroAtivo" data-bind="value: UltimoNivel" class="form-control no-search">
                <option value="">Indiferente</option>
                <option value="true">Sim</option>
                <option value="false">Não</option>
            </select>
        </div>
        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "ClassePatrimonialIndex",
    newUrl: "#/Corporativo/ClassePatrimonial/New",
    editUrl: "#/Corporativo/ClassePatrimonial/Edit",
    listUrl: "/Corporativo/ClassePatrimonial/List",
    columns:
    @<script>
        [
            { 'id': 'IdClassePatrimonial', editColumn: true },
            { 'id': 'RegistroProprio', 'defaultValue': '', 'filter': true },
            { 'id': 'IdClassePatrimonialIn', filter: true },
            { 'id': 'IdClassePatrimonialPai' },
            
            { 'id': 'Codigo', 'header': true, 'filter': true, 'displayName': 'Código', sortable: true },
            { 'id': 'Descricao', 'header': true, 'filter': true, 'defaultFilter': true, 'displayName': 'Descrição', sortable: true },
            { 'id': 'DescricaoHierarquica', 'header': true, 'filter': true, displayName: 'Superior', sortable: true },
            { 'id': 'DescricaoPai', 'groupable': true, displayName: 'Superior', groupTextValues: ['defaultValue', 'Sem Superior Relacionado'] },
            { 'id': 'UltimoNivel', 'header': true, 'filter': true, displayName: 'Último Nível', sortable: true },
            { 'id': 'EditarRegistro', 'header': true, 'filter': true, 'sortable': true, 'displayName': 'Editar Registro' },

            defaults.gridNewEdit.column.ativo,
            defaults.gridNewEdit.column.acao
        ]
    </script>,
        templateRows:
        @<tr>
             <td data-bind="text: Codigo, id: IdClassePatrimonial"></td>
            <td data-bind="text: Descricao, id: IdClassePatrimonial"></td>
            <td><span data-bind="text: DescricaoHierarquica"></span></td>
            <td data-bind="template: { name: 'label-status', data: { status: UltimoNivel } }"></td>
             <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>
            <td data-bind="template: 'label-status'"></td>
             <td>
                 <div style="float:left">
                     <span data-bind="template: { name: 'button-edit-url', data: { id: IdClassePatrimonial } }"></span>
                 </div>

                 <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                     <a data-bind="attr: { href: '#/Corporativo/ClassePatrimonial/Ativar/' + IdClassePatrimonial}" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
                 </div>

                 <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                     <a data-bind="attr: { href: '#/Corporativo/ClassePatrimonial/Inativar/' + IdClassePatrimonial}" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
                 </div>

                 <div style="float:left;padding-left:5px;" data-bind="visible: (EditarRegistro == false)">
                     <a data-bind="attr: { href: '#/Corporativo/ClassePatrimonial/View/' + IdClassePatrimonial}" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
                 </div>
             </td>
        </tr>, api: "indexVM.api", orderByCol: "DescricaoHierarquica", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false, groupByCol: "DescricaoPai")
</div>
@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}

