﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.ClassePatrimonial.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-ClassePatrimonial-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtCodigo">Código<span>(Automático)</span></label>
                                <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" maxlength="20" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtDescricao">Descrição</label>
                                <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="150" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlClassePatrimonialSuperior">Superior</label>
                                @HtmlHelper.Select.SearchableKO("ddlClassePatrimonialSuperior", "IdClassePatrimonialPai", "IdClassePatrimonial", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Corporativo/ClassePatrimonial/List", dadosComplObservable: "DadosComplementares", idChaveRelacao: "IdClassePatrimonial")
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkUltimoNivel">Último Nível</label>
                                <input type="checkbox" class="no-uniform" id="chkUltimoNivel" data-bind="checked: UltimoNivel, flipper: { observable: UltimoNivel, options: { 'css': 'warning'} }">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkAtivo">Ativo</label>
                                <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
