﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.Unidade.IndexVM

<div id="filtro-grade" style="display:none;">
    <template id="filter-EstoqueUnidadeIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: DescricaoSiglaBusca" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroUnidadeTipo" class="control-label">Tipo de Unidade</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroUnidadeTipo", "IdUnidadeTipoIn", "IdUnidadeTipo", "Descricao", "Descricao", "Descricao", "/Estoque/UnidadeTipo/List", "Ativo:true", multiple: true, idChaveRelacao: "IdUnidadeTipo")
        </div>
        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "EstoqueUnidadeIndex",
    newUrl: "#/Estoque/Unidade/New",
    editUrl: "#/Estoque/Unidade/Edit",
    listUrl: "/Estoque/Unidade/List",
    columns:
    @<script>
        [
            { 'id': 'IdUnidade', editColumn: true },
            { 'id': 'IdUnidadeTipoIn', filter: true },
            { 'id': 'DescricaoSiglaBusca', filter: true, defaultFilter: true },
            { 'id': 'RegistroProprio', 'defaultValue': '', 'filter': true },

            { 'id': 'Descricao', 'header': true, filter: true, displayName: 'Descrição', sortable: true },
            { 'id': 'Sigla', 'header': true, displayName: 'Sigla', sortable: true },
            { 'id': 'DescricaoUnidadeTipo', 'header': true, groupable: true, groupTextValues: ['defaultValue', '[Sem Tipo Vinculado]'], displayName: 'Tipo' },
            { 'id': 'ProporcaoExibicao', 'header': true, displayName: 'Proporção' },
            { 'id': 'CasasDecimais', 'header': true, displayName: 'Decimais' },
            { 'id': 'EditarRegistro', 'header': true, 'filter': true, 'sortable': true, 'displayName': 'Editar Registro' },
            defaults.gridNewEdit.column.ativo,
            { displayName: "Ações", header: true, width: '160px' }
        ]
    </script>,
    templateRows:
    @<tr>
        <td data-bind="text: Descricao"></td>
        <td data-bind="text: Sigla"></td>
        <td data-bind="text: DescricaoUnidadeTipo"></td>
        <td data-bind="text: ProporcaoExibicao"></td>
        <td data-bind="text: CasasDecimais"></td>
        <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>
        <td data-bind="template: 'label-status'"></td>
        <td>
            <div style="float:left">
                <span data-bind="template: { name: 'button-edit-url', data: { id: IdUnidade } }"></span>
            </div>

            <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                <a data-bind="attr: { href: '#/Estoque/Unidade/Ativar/' + IdUnidade}" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
            </div>

            <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                <a data-bind="attr: { href: '#/Estoque/Unidade/Inativar/' + IdUnidade}" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
            </div>

            <div style="float:left;padding-left:5px;" data-bind="visible: (EditarRegistro == false)">
                <a data-bind="attr: { href: '#/Estoque/Unidade/View/' + IdUnidade}" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
            </div>

        </td>
    </tr>
    ,
    api: "indexVM.api",
    orderByCol: "Descricao",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,
    useHiddenColumns: false)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)

}
