﻿@model HTM.MasterGestor.Web.UI.Areas.Estoque.ViewModels.Unidade.NewEditVM
<div data-bind="stopBindings: true">
    <form id="form-EstoqueUnidade-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="ddlUnidadeTipo">Tipo de Unidade</label>
                            @HtmlHelper.Select.SearchableKO("ddlUnidadeTipo", "IdUnidadeTipo", "IdUnidadeTipo", "Descricao", "Descricao", "Descricao", "/Estoque/UnidadeTipo/List", "Ativo:true", required: true)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtSigla">Sigla</label>
                            <input type="text" id="txtSigla" name="txtSigla" data-bind="value: Sigla" class="form-control" maxlength="10" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtCasasDecimais">Casas Decimais</label>
                            <input type="number" min="0" max="10" id="txtCasasDecimais" name="txtCasasDecimais" data-bind="value: CasasDecimais, validate: { required: true }" class="form-control" maxlength="2" />
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtProporcao">Proporção Direta</label>
                            <input type="text" id="txtProporcao" name="txtProporcao" data-bind="value: Proporcao, maskDecimal: { casasDecimais: CasasDecimais }" class="form-control" maxlength="24" />
                        </div>
                    </div>
                </div>               
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>       

    </form>
</div>

