﻿@model HTM.MasterGestor.Web.UI.Areas.Configuracao.ViewModels.Objeto.IndexVM

<div id="filtro-grade" style="display:none;">
    <template id="filter-ObjetoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>        
        <div class="form-group">
            <label for="ddlFiltroIdObjetoTipo" class="control-label">Tipo de Objeto</label>            
            @HtmlHelper.Select.SearchableKO("ddlFiltroIdObjetoTipo", "IdObjetoTipoIn", "IdObjetoTipo", "Descricao", "Descricao", "Descricao", "/Configuracao/ObjetoTipo/List", "Ativo:true", idChaveRelacao: "IdObjetoTipo", multiple: true)
        </div>
        <div class="form-group">
            <label for="ddlFiltroTela" class="control-label">Tela</label>            
            @HtmlHelper.Select.SearchableKO("ddlFiltroTela", "IdTelaIn", "IdTela", "TituloTela", "TituloTela", "TituloTela", "/Configuracao/Tela/List", "Ativo:true", idChaveRelacao: "IdTela", multiple: true)
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "ObjetoIndex",
    newUrl: "#/Configuracao/Objeto/New",
    editUrl: "#/Configuracao/Objeto/Edit",
    listUrl: "/Configuracao/Objeto/List",
    columns:
    @<script>
        [   
            { 'id': 'Descricao', 'header': true, filter: true, defaultFilter: true, displayName: 'Descrição', sortable: true },
            { 'id': 'DescricaoObjetoTipo', 'header': true, displayName: 'Tipo Objeto', sortable: true, groupable: true, groupTextValues: ['defaultValue', '[Sem Tipo Vinculada]'] },
            { 'id': 'TituloTelaTela', 'header': true, displayName: 'Tela', sortable: true, groupable: true, groupTextValues: ['defaultValue', '[Sem Tela Vinculada]'] },
            { 'id': 'IdObjetoTipoIn', filter: true },
            { 'id': 'IdTelaIn', filter: true },
            { 'id': 'IdObjeto', editColumn: true },
            defaults.gridNewEdit.column.ativo,
            defaults.gridNewEdit.column.acao
        ]
    </script>,
    templateRows:
    @<tr>
        <td data-bind="text: Descricao"></td>       
        <td data-bind="text: DescricaoObjetoTipo"></td>
        <td data-bind="text: TituloTelaTela"></td>
        <td data-bind="template: 'label-status'"></td>
        <td data-bind="template: { name: 'button-edit-url', data: { id: IdObjeto } }"></td>
    </tr>
    ,
    api: "indexVM.api",
    orderByCol: "Descricao",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,
    useHiddenColumns: false)
</div>

@section Scripts {    
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
