﻿@model HTM.MasterGestor.Web.UI.Areas.Contabilidade.ViewModels.CFOP.IndexVM

<div id="filtro-grade">
    <template id="filter-CFOPIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="txtFiltroOperacaoEstadual" class="control-label">Operação Estadual</label>
            <input type="text" id="txtFiltroOperacaoEstadual" data-bind="textInput: OperacaoEstadual" class="form-control" />
        </div>
        <div class="form-group">
            <label for="txtFiltroOperacaoInterestadual" class="control-label">Operação Interestadual</label>
            <input type="text" id="txtFiltroOperacaoInterestadual" data-bind="textInput: OperacaoInterestadual" class="form-control" />
        </div>
        <div class="form-group">
            <label for="txtFiltroOperacaoInternacional" class="control-label">Operação Internacional</label>
            <input type="text" id="txtFiltroOperacaoInternacional" data-bind="textInput: OperacaoInternacional" class="form-control" />
        </div>
        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "CFOPIndex",
    newUrl: "#/Contabilidade/CFOP/New",
    editUrl: "#/Contabilidade/CFOP/Edit",
    listUrl: "/Contabilidade/CFOP/List",
    columns:
    @<script>
        [
           { 'id': 'IdFiscalCFOP', editColumn: true },
           { 'id': 'RegistroProprio', 'defaultValue': '', 'filter': true },
           { 'id': 'Descricao', filter: true, header: true, 'defaultFilter': true },
           { 'id': 'OperacaoEstadual', filter: true, header: true, displayName: 'Estadual' },
           { 'id': 'OperacaoInterestadual', filter: true, header: true, displayName: 'Interestadual' },
           { 'id': 'OperacaoInternacional', filter: true, header: true, displayName: 'Internacional' },
           { 'id': 'EditarRegistro', 'header': true, 'filter': true, 'sortable': true, 'displayName': 'Editar Registro' },
           defaults.gridNewEdit.column.ativo,
           { displayName: "Ações", header: true, width: '160px' }
        ]
    </script>,
      templateRows:
    @<tr>
        <td data-bind="text: Descricao, id: IdFiscalCFOP"></td>
        <td data-bind="text: OperacaoEstadual"></td>
        <td data-bind="text: OperacaoInterestadual"></td>
        <td data-bind="text: OperacaoInternacional"></td>
        <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>
        <td data-bind="template: 'label-status'"></td>
        <td>
            <div style="float:left">
                <span data-bind="template: { name: 'button-edit-url', data: { id: IdFiscalCFOP } }"></span>
            </div>

            <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                <a data-bind="attr: { href: '#/Contabilidade/CFOP/Ativar/' + IdFiscalCFOP}" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
            </div>

            <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                <a data-bind="attr: { href: '#/Contabilidade/CFOP/Inativar/' + IdFiscalCFOP}" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
            </div>

            <div style="float:left;padding-left:5px;" data-bind="visible: (EditarRegistro == false)">
                <a data-bind="attr: { href: '#/Contabilidade/CFOP/View/' + IdFiscalCFOP}" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
            </div>

        </td>
    </tr>,
    api: "indexVM.api",
    orderByCol: "Descricao",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,
    useHiddenColumns: false)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
