﻿@model HTM.MasterGestor.Web.UI.Areas.Contabilidade.ViewModels.CFOP.NewEditVM

<form id="form-FiscalCFOP-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title">Dados Básicos</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="txtDescricao">Descrição</label>
                        <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="txtDescricaoDetalhada">Descrição Detalhada</label>
                        <textarea id="txtDescricaoDetalhada" name="txtDescricaoDetalhada" data-bind="value: DescricaoDetalhada, validate: { required: true }" class="form-control" maxlength="250" style="width:50px;height:250px;" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <div class="form-group">
                        <label for="txtOperacaoEstadual" class="control-label">Operação Estadual</label>
                        <input type="text" id="txtOperacaoEstadual" name="txtOperacaoEstadual" data-bind="value: OperacaoEstadual" class="form-control" max="20">
                    </div>
                </div>

                <input type="hidden" id="txtIndiceEstadual" name="txtIndiceEstadual" data-bind="value: IndiceEstadual" />
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="ddlIdsFiscalCFOPEstadual" class="control-label">Códigos permitidos para devolução</label>
                        @HtmlHelper.Select.SearchableKO("ddlIdsFiscalCFOPEstadual", "IdsFiscalCFOPEstadual", "IdFiscalCFOPIn", "OperacaoEstadual", "OperacaoEstadual", "OperacaoEstadual", "/Contabilidade/CFOP/List", "Ativo:true", idChaveRelacao: "IdFiscalCFOP", multiple:true, idControleDependencia: "txtIndiceEstadual", idDependencia:"IndiceEstadual")
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <div class="form-group">
                        <label for="txtOperacaoInterestadual" class="control-label">Operação Interestadual</label>
                        <input type="text" id="txtOperacaoInterestadual" name="txtOperacaoInterestadual" data-bind="value: OperacaoInterestadual" class="form-control" max="20">
                    </div>
                </div>
                <input type="hidden" id="txtIndiceInterestadual" name="txtIndiceInterestadual" data-bind="value: IndiceInterestadual" />
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="ddlIdsFiscalCFOPEstadual" class="control-label">Códigos permitidos para devolução</label>
                        @HtmlHelper.Select.SearchableKO("ddlIdsFiscalCFOPInterestadual", "IdsFiscalCFOPInterestadual", "IdFiscalCFOPIn", "OperacaoInterestadual", "OperacaoInterestadual", "OperacaoInterestadual", "/Contabilidade/CFOP/List", "Ativo:true", idChaveRelacao: "IdFiscalCFOP", multiple: true, idControleDependencia: "txtIndiceInterestadual", idDependencia: "indiceInterestadual")
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <div class="form-group">
                        <label for="txtOperacaoInternacional" class="control-label">Operação Internacional</label>
                        <input type="text" id="txtOperacaoInternacional" name="txtOperacaoInternacional" data-bind="value: OperacaoInternacional" class="form-control" max="20">
                    </div>
                </div>
                <input type="hidden" id="txtIndiceInternacional" name="txtIndiceInternacional" data-bind="value: IndiceInternacional" />
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="IdsFiscalCFOPInternacioanal" class="control-label">Códigos permitidos para devolução</label>
                        @HtmlHelper.Select.SearchableKO("ddlIdsFiscalCFOPInternacioanal", "IdsFiscalCFOPInternacioanal", "IdFiscalCFOPIn", "OperacaoInternacional", "OperacaoInternacional", "OperacaoInternacional", "/Contabilidade/CFOP/List", "Ativo:true", idChaveRelacao: "IdFiscalCFOP", multiple: true, idControleDependencia: "txtIndiceInternacional", idDependencia: "IndiceInternacional")
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label" for="chkAtivo">Ativo</label>
                        <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                    </div>
                </div>
            </div>
        </div>
    </div>        
</form>
