﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.CategoriaServico.CategoriaServicoOrdemNewEditVM

<routeoptions data-route-custom="route-categoriaServico"></routeoptions>

<div data-bind="stopBindings: true">
    <form id="form-CategoriaServicoOrdem-NewEdit" data-bind="formSubmit: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row read-mode">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtCodigo">Código</label>
                                <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" maxlength="10" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtDescricao">Descrição</label>
                                <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao" class="form-control" maxlength="150" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlAplicacoesTipo">Onde pode ser usada (Tipos de Aplicações)</label>
                                <select id="ddlAplicacoesTipo" class="form-control no-search" data-bind="value: TipoAplicacaoTipo" disabled="disabled">
                                    <option value="1">Benfeitoria</option>
                                    <option value="2">Local de Produção</option>
                                    <option value="3">Benfeitoria e Local de Produção</option>
                                    <option value="4">Lote</option>
                                    <option value="5">Animal</option>
                                    <option value="6">Lote e Animal</option>
                                    <option value="7">Equipamento</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-toggle="collapsible" id="x">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">PARÂMETROS GERAIS: ORDEM</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkPermiteEmissaoOrdem">Permite emitir Ordem</label>
                                <input type="checkbox" class="no-uniform" id="chkPermiteEmissaoOrdem" data-bind="checked: PermiteEmissaoOrdem, flipper: { observable: PermiteEmissaoOrdem, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: vm.PermiteEmissaoOrdem()">
                        @*<div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTipoOrdem" class="control-label">Tipo de Ordem</label>
                                <select placeholder="ddlTipoOrdem" id="ddlTipoOrdem" class="form-control no-search" data-bind="value: TipoOrdem, validate: { required: vm.PermiteEmissaoOrdem() }">
                                    <option value="1">Ordem de Serviço</option>
                                    <option value="2">Ordem de Produção</option>
                                    <option value="3">Ordem de Investimento</option>
                                </select>
                            </div>
                        </div>*@
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTipoDocumento" class="control-label">Tipo de Documento</label>
                                <select id="ddlTipoDocumento" class="form-control no-search" data-bind="value: TipoDocumento, validate: { required: vm.PermiteEmissaoOrdem() }">
                                    <option value="1">Não Representa</option>
                                    <option value="2">Documento 1</option>
                                    <option value="3">Documento 2</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: vm.PermiteEmissaoOrdem()">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label" for="chkPermiteCompra">Permite Compra de Produtos, Matéria Prima ou Serviços?</label>
                                <input type="checkbox" class="no-uniform" id="chkPermiteCompra" data-bind="checked: PermiteCompra, flipper: { observable: PermiteCompra, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-toggle="collapsible" id="y" data-bind="collapsible: { vmArray: [ vm.Prefixo(), vm.TipoDescricao() ] }, visible: vm.PermiteEmissaoOrdem()">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Identificação</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTipoGeracaoCodigo">A geração de Código será definida</label>
                                <select id="ddlTipoGeracaoCodigo" class="form-control no-search" data-bind="value: TipoGeracaoCodigo">
                                    <option value="1" selected="selected">Sequencialmente</option>
                                    <option value="2">Por Empresa Usuária</option>
                                    <option value="3">Por Categoria de Serviço</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtPrefixo">Prefixo para Codificação</label>
                                <input type="text" id="txtPrefixo" name="txtPrefixo" data-bind="value: Prefixo" class="form-control" maxlength="10" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTipoDescricao" class="control-label">Descrição de uma Ordem</label>
                                <select placeholder="ddlTipoDescricao" id="ddlTipoDescricao" class="form-control no-search" data-bind="value: TipoDescricao">
                                    <option value="1" selected="selected">Gerada Automaticamente</option>
                                    <option value="2">Informada Manualmente</option>
                                    <option value="3">Não Permitida</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4" data-bind="visible: TipoDescricao() == 1">
                            <div class="form-group">
                                <label for="ddlTipoDescricaoOrdem">Como deseja que a Descrição da Ordem seja formada</label>
                                <select id="ddlTipoDescricaoOrdem" class="form-control no-search" data-bind="value: TipoDescricaoOrdem">
                                    <option value="1" selected="selected">Categoria de Serviço</option>
                                    <option value="2">Categoria de Serviço + Aplicação</option>
                                    <option value="3">Categoria de Serviço + Aplicacao + Subaplicação</option>
                                    <option value="4">Categoria de Serviço + Subaplicação</option>
                                    <option value="5">Categoria de Serviço + Categoria de Aplicação</option>
                                    <option value="6">Categoria de Aplicação + Subaplicação</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-toggle="collapsible" id="z" data-bind="collapsible: { vmArray: [ vm.Prefixo(), vm.TipoPeriodoProgramacao(), vm.TipoControleExecucao(), vm.PermiteAtividadeEconomicaPeriodo() ] }, visible: vm.PermiteEmissaoOrdem()">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Controle de Tempo e Situação</h3>
                </div>
                <div class="panel-body">
                    @*<div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label" for="chkPermiteAtividadeEconomicaPeriodo">Informa Período de Atividade Econômica</label>
                                    <input type="checkbox" class="no-uniform" id="chkPermiteAtividadeEconomicaPeriodo" data-bind="checked: PermiteAtividadeEconomicaPeriodo, flipper: { observable: PermiteAtividadeEconomicaPeriodo, options: { 'css': 'warning' } }">
                                </div>
                            </div>
                        </div>*@
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTipoPeriodoProgramacao" class="control-label">Programação Período de Execução</label>
                                <select placeholder="ddlTipoPeriodoProgramacao" id="ddlTipoPeriodoProgramacao" class="form-control no-search" data-bind="value: TipoPeriodoProgramacao ">
                                    <option value="1">Não se controla Início e Término</option>
                                    <option value="2" selected="selected">Controla-se Início e Término</option>
                                    <option value="3">Controla apenas o Início</option>
                                    <option value="4">Controla apenas o Término</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTipoControleExecucao" class="control-label">Controle Período de Execução</label>
                                <select placeholder="ddlTipoControleExecucao" id="ddlTipoControleExecucao" class="form-control no-search" data-bind="value: TipoControleExecucao ">
                                    <option value="1">Não se controla Início e Término</option>
                                    <option value="2" selected="selected">Controla-se o Início e Término</option>
                                    <option value="3">Controla apenas o Início</option>
                                    <option value="4">Controla apenas o Término</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label" for="chkPermiteLancamentoForaPeriodo">Permite lançamento fora do Período programado?</label>
                                <input type="checkbox" class="no-uniform" id="chkPermiteLancamentoForaPeriodo" data-bind="checked: PermiteLancamentoForaPeriodo, flipper: { observable: PermiteLancamentoForaPeriodo, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label" for="chkPermitePlanejamento">Permite Planejamento?</label>
                                <input type="checkbox" class="no-uniform" id="chkPermitePlanejamento" data-bind="checked: PermitePlanejamento, flipper: { observable: PermitePlanejamento, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label" for="chkPermiteAprovacao">Exige Aprovação?</label>
                                <input type="checkbox" class="no-uniform" id="chkPermiteAprovacao" data-bind="checked: PermiteAprovacao, flipper: { observable: PermiteAprovacao, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-toggle="collapsible" id="w" data-bind="collapsible: { vmArray: [ vm.TipoResponsabilidade() ] }">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Responsabilidade</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTipoResponsabilidade" class="control-label">Permite informar Responsável</label>
                                <select id="ddlTipoResponsabilidade" class="form-control no-search" data-bind="value: TipoResponsabilidade ">
                                    <option value="1">Não Permitido</option>
                                    <option value="2">Permitido</option>
                                    <option value="3">Permitido e Obrigatório</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>