﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.ApuracaoPagamento.IndexVM

<div id="filtro-grade">
    <template id="filter-FinanceiroApuracaoPagamentoIndex">
        <!-- Teste -->
        <div class="form-group">
            <label for="ddlFiltroPessoaTeste" class="control-label">Teste Checkbox</label>            
            @HtmlHelper.Select.SelectCheckbox(id: "ddlFiltroPessoaTeste", campoId: "IdPessoaIn", campoIdPesquisa: "IdPessoaIn", campoValor: "NomeSecundarioDocumento", campoIdChaveRelacao: "IdPessoa", campoOrdenacao: "NomeSecundarioDocumento", url: "/Corporativo/Pessoa/List", dadosCompl: "Ativo: true, IdPessoaNaturezaNotIn:3, IdPessoaNaturezaNotIn:3", selectOptions: "{ showSubText: true }")            
        </div>
        <!-- Pessoa -->
        <div class="form-group">
            <label for="ddlFiltroPessoaCliente" class="control-label">Pessoa</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroPessoaCliente", "IdPessoaIn", "IdPessoaIn", "NomeSecundarioDocumento", "Nomes", "NomeSecundarioDocumento", "/Corporativo/Pessoa/List", "Ativo:true", idChaveRelacao: "IdPessoa", multiple: true)
        </div>
        <!-- Período de Vencimento -->
        <div class="form-group">
            <label for="txtFiltroPeriodoVencimento" class="control-label">Período de Vencimento</label>
            <div class="input-group date">
                <input type="text" id="txtFiltroPeriodoVencimento" data-bind="daterangepicker: { startDate: DataInicio, endDate: DataFim }" class="form-control" />
                <div class="input-group-addon input-group-btn"><i class="material-icons">&#xE916;</i></div>
            </div>
        </div>
        <!-- Modelo de Apuração -->
        <div class="form-group">
            <label for="ddlFiltroModeloApuracao" class="control-label">Modelo de Apuração</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroModeloApuracao", "IdFinanceiroModeloApuracaoPagamentoIn", "IdFinanceiroModeloApuracaoPagamento", "Descricao", "Descricao", "Descricao", "/Financeiro/ModeloApuracaoPagamento/List", "Ativo:true", idChaveRelacao: "IdFinanceiroModeloApuracaoPagamento", multiple: true)
        </div>
        <!-- Situação -->
        <div class="form-group">
            <label for="ddlFiltroProcessoSituacao" class="control-label">Situação</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroProcessoSituacao", "IdProcessoSituacaoIn", "IdProcessoSituacaoIn", "Descricao", "Descricao", "Descricao", "/Corporativo/ProcessoSituacao/List", "Ativo:true", idChaveRelacao: "IdProcessoSituacao", multiple: true)
        </div>
    </template>

    @HtmlHelper.GridView.GridIndex(
     id: "FinanceiroApuracaoPagamentoIndex",
     newUrl: "#/Financeiro/ApuracaoPagamento/New",
     editUrl: "#/Financeiro/ApuracaoPagamento/Edit",
     listUrl: "/Financeiro/ApuracaoPagamento/List",
     columns:
    @<script>
        [            
            { 'id': 'IdFinanceiroApuracaoPagamento', editColumn: true },
            { 'id': 'IdPessoaIn', filter: true },
            { 'id': 'IdFinanceiroModeloApuracaoPagamentoIn', filter: true },
            { 'id': 'IdProcessoSituacaoIn', filter: true },
            { 'id': 'DataInicio', filter: true },
            { 'id': 'DataFim', filter: true },
            { 'id': 'DataRealizacaoExibicao', 'header': true, 'filter': true, 'displayName': 'Data', sortable: true },
            { 'id': 'DescricaoFinanceiroModeloApuracaoPagamento', 'header': true, 'filter': true, 'displayName': 'Modelo de Apuração', sortable: true, groupable: true, defaultFilter: true },
            { 'id': 'NomeSecundarioPessoa', 'header': true, 'filter': true, 'displayName': 'Pessoa', sortable: true },
            { 'id': 'DescricaoPeriodoReferencia', 'header': true, 'filter': true, 'displayName': 'Período Referência' },
            { 'id': 'ValorApuradoExibicao', 'header': true, 'filter': true, 'displayName': 'Valor Apurado', sortable: true },
            { 'id': 'DescricaoProcessoSituacao', 'header': true, 'filter': true, 'displayName': 'Situação', sortable: true, groupable: true },
            defaults.gridNewEdit.column.acao
        ]
    </script>,
        templateRows:
        @<tr>
            <td data-bind="text: DataRealizacaoExibicao, id: IdFinanceiroApuracaoPagamento"></td>
            <td data-bind="text: DescricaoFinanceiroModeloApuracaoPagamento"></td>
            <td data-bind="text: NomeSecundarioPessoa"></td>

            <td data-bind="text: DescricaoPeriodoReferencia"></td>
            <td data-bind="text: ValorApuradoExibicao"></td>

            <td data-bind="text: DescricaoProcessoSituacao"></td>
            <td data-bind="template: { name: 'button-edit-url', data: { id: IdFinanceiroApuracaoPagamento } }"></td>
        </tr>, api: "indexVM.api", orderByCol: "DataRealizacaoExibicao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)
</div>
@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}

