﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.ApuracaoPagamento.NewEditVM

<div data-bind="stopBindings: true" class="print-mode">
    <form id="form-FinanceiroModeloApuracaoPagamento-NewEdit" data-bind="validateForm: { submitHandler: Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlFinanceiroModeloApuracaoPagamento">Modelo de Apuração</label>
                                @HtmlHelper.Select.SearchableKO("ddlFinanceiroModeloApuracaoPagamento", "IdFinanceiroModeloApuracaoPagamento", "IdFinanceiroModeloApuracaoPagamento", "Descricao", "Descricao", "Descricao", "/Financeiro/ModeloApuracaoPagamento/List", "Ativo:true, ComVariaveis:true", required: true, vmDataSelected: "DadosModeloApuracaoSelected", dataBind: "attr: { disabled: IdFinanceiroApuracaoPagamento() != null }")
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group read-mode">
                                <label for="txtDocumentoTipoExibicao">Tipo de Documento</label>
                                <input type="text" id="txtDocumentoTipoExibicao" name="txtDocumentoTipoExibicao" data-bind="value: DescricaoDocumentoTipo" disabled="disabled" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlPessoa">Pessoa</label>
                                @HtmlHelper.Select.SearchableKO("ddlPessoa", "IdPessoa", "IdPessoa", "NomeSecundarioDocumento", "Nomes", "NomeSecundario", "/Corporativo/Pessoa/ListPessoaPersonalizado", dadosComplObservable: "DadosComplementaresPessoa", required: true)
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtDataPagamento">Data Pagamento</label>
                                <div class="input-group date form-group">
                                    <input id="txtDataPagamento" name="txtDataPagamento" class="form-control" data-bind="value: DataPagamentoExibicao, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataPagamentoExibicao }, validate: { required:true } " />
                                    <span class="input-group-addon">
                                        <i class="material-icons">&#xE878;</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2" data-bind="visible: TipoPeriodoReferencia() == 2">
                            <div class="form-group">
                                <label for="txtDataReferenciaExibicao">Data Término</label>
                                <div class="input-group date form-group">
                                    <input id="txtDataReferenciaExibicao" name="txtDataReferenciaExibicao" class="form-control" data-bind="value: DataReferenciaExibicao, datepicker: { options: defaults.datepicker.date }, mask: { options: defaults.mask.date, value: DataReferenciaExibicao }" />
                                    <span class="input-group-addon">
                                        <i class="material-icons">&#xE878;</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2" data-bind="visible: TipoPeriodoReferencia() == 3">
                            <div class="form-group">
                                <label for="txtMesAnoReferencia">Mês Referência</label>
                                <div class="input-group date form-group">
                                    <input id="txtMesAnoReferencia" name="txtMesAnoReferencia" class="form-control" data-bind="value: MesAnoReferencia, datepicker: { options: defaults.datepicker.monthyear }, mask: { options: defaults.mask.monthyear, value: MesAnoReferencia }" />
                                    <span class="input-group-addon">
                                        <i class="material-icons">&#xE878;</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3" data-bind="visible: TipoPeriodoReferencia() == 4">
                            <div class="form-group">
                                <label for="txtPeriodo" class="control-label">Período de Vencimento</label>
                                <div class="input-group date">
                                    <input type="text" id="txtPeriodo" name="txtPeriodo" data-bind="daterangepicker: { startDate: DataInicioExibicao, endDate: DataFimExibicao}" class="form-control" />
                                    <div class="input-group-addon input-group-btn"><i class="material-icons">&#xE916;</i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row read-mode">
                        <div class="col-xs-2">
                            <div class="form-group total left">
                                <label for="txtTotalApurado">Total Apurado</label>
                                <input type="text" id="txtTotalApurado" readonly data-bind="value: ValorApurado, maskDecimal: { casasDecimais: 2 }, validate: { required:true }" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    <div class="optional" id="pnlObersacao" data-bind="collapsible: { vmArray: [ Observacao() ] }">
                        <a href="#">Observação</a>
                        <div>
                            <div class="row">
                                <div class="form-group col-xs-8">
                                    <textarea data-bind="value: Observacao" class="form-control" id="txtObservacao" data-allowclear="false" maxlength="500" style=" min-height: 80px;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-flex">
                <div class="panel panel-default col-flex" id="pnlAcrescimo">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title">Acréscimo (+)</h3>
                    </div>
                    <div class="panel-body">
                        <div data-bind="foreach: DadosModeloApuracao">
                            <div class="row" data-bind="if: ko.unwrap(TipoFinanceiroVariavelPagamento) == 1">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label data-bind="text: DescricaoFinanceiroVariavelPagamento"></label>
                                        <input type="text" data-bind="value: Valor, attr: { id: 'txtValor' + ko.unwrap(DescricaoFinanceiroVariavelPagamento) + '-' + ko.unwrap(IdFinanceiroVariavelPagamento) }, maskDecimal: { casasDecimais: 2 }" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group" data-bind="if: UtilizaReferencia == true">
                                        <label>Referência</label>
                                        <input type="text" data-bind="value: Referencia, attr: { id: 'txtReferencia' + ko.unwrap(DescricaoFinanceiroVariavelPagamento) + '-' + ko.unwrap(IdFinanceiroVariavelPagamento) }" class="form-control" style="width:90px" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row read-mode">
                            <div class="col-xs-12">
                                <div class="form-group total right">
                                    <label>Total Acréscimos (+)</label>
                                    <input type="text" class="form-control" readonly data-bind="value: TotalAcrescimos, maskDecimal: { casasDecimais: 2 } " disabled="disabled" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default col-flex" id="pnlAcrescimo2">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title">Desconto ou Despesa(-)</h3>
                    </div>
                    <div class="panel-body">
                        <div data-bind="foreach: DadosModeloApuracao">
                            <div class="row" data-bind="if: (ko.unwrap(TipoFinanceiroVariavelPagamento) == 2 || ko.unwrap(TipoFinanceiroVariavelPagamento) == 3)">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label data-bind="text: DescricaoFinanceiroVariavelPagamento"></label>
                                        <input type="text" data-bind="value: Valor, attr: { id: 'txtValor' + ko.unwrap(DescricaoFinanceiroVariavelPagamento) + '-' + ko.unwrap(IdFinanceiroVariavelPagamento) }, maskDecimal: { casasDecimais: 2 }" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group" data-bind="if: UtilizaReferencia == true">
                                        <label>Referência</label>
                                        <input type="text" data-bind="value: Referencia, attr: { id: 'txtReferencia' + ko.unwrap(DescricaoFinanceiroVariavelPagamento) + '-' + ko.unwrap(IdFinanceiroVariavelPagamento) }" class="form-control" style="width:90px" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row read-mode">
                            <div class="col-xs-12">
                                <div class="form-group total right">
                                    <label>Total Descontos (-)</label>
                                    <input type="text" class="form-control" readonly data-bind="value: TotalDescontos, maskDecimal: { casasDecimais: 2 } " disabled="disabled" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default col-flex" id="pnlOutros">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title">Outros</h3>
                    </div>
                    <div class="panel-body">
                        <div data-bind="foreach: DadosModeloApuracao">
                            <div class="row" data-bind="if: ko.unwrap(TipoFinanceiroVariavelPagamento) == 4">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label data-bind="text: DescricaoFinanceiroVariavelPagamento"></label>
                                        <input type="text" data-bind="value: Valor, attr: { id: 'txtValor' + ko.unwrap(DescricaoFinanceiroVariavelPagamento) + '-' + ko.unwrap(IdFinanceiroVariavelPagamento) }, maskDecimal: { casasDecimais: 2 }" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group" data-bind="if: UtilizaReferencia == true">
                                        <label>Referência</label>
                                        <input type="text" data-bind="value: Referencia, attr: { id: 'txtReferencia' + ko.unwrap(DescricaoFinanceiroVariavelPagamento) + '-' + ko.unwrap(IdFinanceiroVariavelPagamento) }" class="form-control" style="width:90px" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row read-mode">
                            <div class="col-xs-12">
                                <div class="form-group total right">
                                    <label>Total Outros</label>
                                    <input type="text" readonly class="form-control" disabled="disabled" data-bind="value: TotalOutros, maskDecimal: { casasDecimais: 2 } " />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-bind="if: ExibeAntecipacoes">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Antecipação e Adiantamento</h3>
                </div>
                <div class="panel-body">
                    @HtmlHelper.GridView.GridNewEdit(
                id: "AbatimentoCredito", // Declarar na página <template id="newedit-id"></template>
                vm: "lstAbatimentoCredito",
                vmExtend: "vmAbatimentoCreditoExtend",
                title: "Abatimento de Crédito",
                addTitle: "",
                columns: @<script>
                    [
                        { 'id': 'IdFinanceiroTitulo' },
                        { 'id': 'IdFinanceiroAntecipacao' },
                        { 'id': 'ValorBaixar' },
                        { 'id': 'ValorBaixado' },
                        { 'id': 'DescricaoDocumentoFinanceiro', header: true, displayName: 'Tipo Documento', 'sortable': true },
                        { 'id': 'Numero', header: true, displayName: 'Número', 'sortable': true },
                        { 'id': 'DataEmissaoExibicao', header: true, displayName: 'Data Emissão', 'sortable': true },
                        { 'id': 'DataVencimentoExibicao', header: true, displayName: 'Data', 'sortable': true },
                        { 'id': 'ValorBaixadoExibicao', header: true, displayName: 'Valor Pago', 'sortable': true },
                        { 'id': 'ValorSaldoExibicao', header: true, displayName: 'Saldo', 'sortable': true },
                        { 'id': 'ValorBaixarExibicao', header: true, displayName: 'Debitar', 'sortable': true },
                        defaults.gridNewEdit.column.acaoEditRemove
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: DescricaoDocumentoFinanceiro }  }"></td>
                    <td data-bind="text: Numero"></td>
                    <td data-bind="text: DataEmissaoExibicao"></td>
                    <td data-bind="text: DataVencimentoExibicao"></td>
                    <td data-bind="text: ValorBaixadoExibicao"></td>
                    <td data-bind="text: ValorSaldoExibicao"></td>
                    <td data-bind="text: ValorBaixarExibicao"></td>
                    <td data-bind="template: { name: 'button-edit-remove' }"></td>
                </tr>, orderByCol: "DescricaoDocumentoFinanceiro", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false, showNewButton: false)

                    <!-- ko if: ko.unwrap(vm.lstAbatimentoCredito).length > 0 -->
                    <div class="row read-mode">
                        <div class="col-xs-3 col-xs-offset-6">
                            <div class="form-group">
                                <label for="abatimento-txtTotalBaixar">Total Antecipações</label>
                                <input type="text" id="abatimento-txtTotalBaixar" name="abatimento-txtTotalBaixar" data-bind="value: TotalBaixar, maskDecimal: { casasDecimais: 2, extendedOptions: { rightAlign: false } }" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="abatimento-txtSaldoBaixa">Antecipações a Baixar</label>
                                <input type="text" id="abatimento-txtSaldoBaixa" name="abatimento-txtSaldoBaixa" data-bind="value: SaldoBaixa, maskDecimal: { casasDecimais: 2, extendedOptions: { rightAlign: false } }" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    <div class="row read-mode" data-bind="if: ko.unwrap(ValorPagar) != 0">
                        <div class="col-xs-3 col-xs-offset-9">
                            <div class="form-group">
                                <label for="abatimento-txtValorPagar">Valor a Pagar</label>
                                <input type="text" id="abatimento-txtValorPagar" name="abatimento-txtValorPagar" data-bind="value: ValorPagar, maskDecimal: { casasDecimais: 2, extendedOptions: { rightAlign: false } }" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
            <!-- ko if: ko.unwrap(ValorPagar) !== null && ko.unwrap(ValorPagar) !== 0 -->
            <div class="panel panel-default" data-bind="with: Detalhe">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados para Pagamento ou Recebimento</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlFinanceiroFormaPagamento">Forma de Pagamento</label>
                                @HtmlHelper.Select.SearchableKO("ddlFinanceiroFormaPagamento", "IdFinanceiroFormaPagamento", "IdFinanceiroFormaPagamento", "Descricao", "Descricao", "Descricao", "/Financeiro/FormaPagamento/List", dadosComplObservable: "vm.DadosComplementaresFormaPagamento",required:true)
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkRealizado">Realizado</label>
                                <input type="checkbox" class="no-uniform" id="chkRealizado" data-bind="checked: Realizado, flipper: { observable: Realizado }">
                            </div>
                        </div>

                    </div>
                    <!-- Quando Forma de Pagamento em Dinheiro (Espécie) -->
                    <div class="row" data-bind="visible: IdFinanceiroFormaPagamento() == 1">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlFinancieroContaOrigemEspecie">Conta</label>
                                @HtmlHelper.Select.SearchableKO("ddlFinancieroContaOrigemEspecie", "IdFinanceiroConta", "IdFinanceiroConta", "Detalhe", "BuscaDetalhada", "Detalhe", "/Financeiro/Conta/List", "Ativo:true", idChaveRelacao: "IdFinanceiroConta", dataBind: "validate: { required: IdFinanceiroFormaPagamento() == 1 }")
                            </div>
                        </div>
                    </div>
                    <!-- Quando Forma de Pagamento em Cheque ou Transferência  -->
                    <div class="row" data-bind="visible: (IdFinanceiroFormaPagamento() == 2 || IdFinanceiroFormaPagamento() == 5)">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlFinancieroContaOrigemCheque">Conta</label>
                                @HtmlHelper.Select.SearchableKO("ddlFinancieroContaOrigemCheque", "IdFinanceiroConta", "IdFinanceiroConta", "Detalhe", "BuscaDetalhada", "Detalhe", "/Financeiro/Conta/List", "Ativo:true", idChaveRelacao: "IdFinanceiroConta")
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlPessoaDestinatarioPagamento">Pessoa Destinatário Pagamento</label>
                                @HtmlHelper.Select.SearchableKO("ddlPessoaDestinatarioPagamento", "IdPessoaDestinatarioPagamento", "IdPessoa", "NomeSecundarioDocumento", "Nomes", "NomeSecundario", "/Corporativo/Pessoa/ListPessoaPersonalizado", dadosComplObservable: "vm.DadosComplementaresPessoa", idChaveRelacao: "IdPessoa", dataBind: "{ validate: { required: (IdFinanceiroFormaPagamento() == 2 || IdFinanceiroFormaPagamento() == 5) } }")
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="ddlDocumentoTipo" class="control-label">Documento</label>
                                <select id="ddlDocumentoTipo" name="ddlDocumentoTipo" class="form-control no-search" data-bind="value: DocumentoTipo, validate: { required: (IdFinanceiroFormaPagamento() == 2 || IdFinanceiroFormaPagamento() == 5) }">
                                    <option value=""></option>
                                    <option value="1">CPF</option>
                                    <option value="2">CNPJ</option>
                                    <option value="3">Outro</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtNumeroDocumentoPessoa">Número Documento</label>
                                <input type="text" id="txtNumeroDocumentoPessoa" name="txtNumeroDocumentoPessoa" data-bind="value: Documento, validate: { required: (IdFinanceiroFormaPagamento() == 2 || IdFinanceiroFormaPagamento() == 5) }" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <!-- Apenas quando forma de Pagamento Cheque -->
                    <div class="row" data-bind="visible: IdFinanceiroFormaPagamento() == 2">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtNumeroCheque">Cheque</label>
                                <input type="text" id="txtNumeroCheque" name="txtNumeroCheque" data-bind="value: NumeroCheque" class="form-control" maxlength="6" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /ko -->
        </div>
    </form>
    <template id="newedit-AbatimentoCredito">
        <div class="row">
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="modal-txtValorBaixar">Valor Baixar</label>
                    <input type="text" id="modal-txtValorBaixar" name="modal-txtValorBaixar" data-bind="value: ValorBaixar, maskDecimal: { casasDecimais: 2 }" class="form-control" />
                </div>
            </div>
        </div>
    </template>
</div>

