﻿@model HTM.MasterGestor.Web.UI.Areas.Corporativo.ViewModels.CategoriaServico.CategoriaServicoPlantioNewEditVM
<routeoptions data-route-custom="route-categoriaServico"></routeoptions>

<div>
    <form id="form-CategoriaServicoPlantio-NewEdit" data-bind="formSubmit: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row read-mode">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtCodigo">Código</label>
                                <input type="text" id="txtCodigo" name="txtCodigo" data-bind="value: Codigo" class="form-control" maxlength="10" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtDescricao">Descrição</label>
                                <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao" class="form-control" maxlength="150" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlAplicacoesTipo">Onde pode ser usada (Tipos de Aplicações)</label>
                                <select id="ddlAplicacoesTipo" class="form-control no-search" data-bind="value: TipoAplicacaoTipo" disabled="disabled">
                                    <option value="1">Benfeitoria</option>
                                    <option value="2">Local de Produção</option>
                                    <option value="3">Benfeitoria e Local de Produção</option>
                                    <option value="4">Lote</option>
                                    <option value="5">Animal</option>
                                    <option value="6">Lote e Animal</option>
                                    <option value="7">Equipamento</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-toggle="collapsible" id="pnlParametrosGerais">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">PARÂMETROS GERAIS: PLANTIO</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTipoApontamentoPlantio" class="control-label">Permite apontamento de Plantio</label>
                                <select id="ddlTipoApontamentoPlantio" class="form-control no-search" data-bind="value: TipoApontamentoPlantio, validate : {required: true}">
                                    <option value="1">Não permitido</option>
                                    <option value="2">Permitido via Ordem</option>
                                    <option value="3">Permitido Via Informe</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTipoDocumento" class="control-label">Representa algum Tipo de Documento no Processo</label>
                                <select id="ddlTipoDocumento" class="form-control no-search" data-bind="value: TipoDocumento">
                                    <option value="1">Não representa</option>
                                    <option value="2">Documento 1</option>
                                    <option value="3">Documento 2</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: vm.TipoApontamentoPlantio() == '3'">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkOrdemObrigatoria">Deve ser informada Ordem?</label>
                                <input type="checkbox" class="no-uniform" id="chkOrdemObrigatoria" data-bind="checked: OrdemObrigatoria, flipper: { observable: OrdemObrigatoria, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" id="pnlDetalhes" data-bind="collapsible: { vmArray: [ vm.TipoControleExecucao(), vm.PermiteInformeEstimativaColheita()] }">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">DETALHES OPERACIONAIS</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlTipoControleExecucao" class="control-label">Controla o tempo de execução?</label>
                                <select id="ddlTipoControleExecucao" class="form-control no-search" data-bind="value: TipoControleExecucao">
                                    <option value="1">Não Controla</option>
                                    <option value="2">Informa data de Início e Término</option>
                                    <option value="3">Informa o Tempo Total</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    @*<div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label" for="chkPermiteInformeTerminoPlanio">Permite informar Término de Plantio de uma Unidade de Produção no próprio Informe</label>
                                    <input type="checkbox" class="no-uniform" id="chkPermiteInformeTerminoPlanio" data-bind="checked: PermiteInformeTerminoPlanio, flipper: { observable: PermiteInformeTerminoPlanio, options: { 'css': 'warning' } }">
                                </div>
                            </div>
                        </div>*@
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label" for="chkEspacamentoPermitido">Informa Espaçamento</label>
                                <input type="checkbox" class="no-uniform" id="chkEspacamentoPermitido" data-bind="checked: EspacamentoPermitido, flipper: { observable: EspacamentoPermitido, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div class="form-group">
                                <label class="control-label" for="chkPermiteInformeEstimativaColheita">Informa Estimativa de Colheita caso seja indicado Término de Plantio</label>
                                <input type="checkbox" class="no-uniform" id="chkPermiteInformeEstimativaColheita" data-bind="checked: PermiteInformeEstimativaColheita, flipper: { observable: PermiteInformeEstimativaColheita, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ddlGeracaoCodigoTipo" class="control-label">Metodologia de Geração do Código do Plantio</label>
                                <select id="ddlGeracaoCodigoTipo" class="form-control no-search" data-bind="value: GeracaoCodigoTipo">
                                    <option value="1">Manual</option>
                                    <option value="2">Sequencial</option>
                                    <option value="3">Sequencial por Local</option>
                                    <option value="4">Sequencial por Ano</option>
                                    <option value="5">Sequencial por Cultura</option>
                                    <option value="6">Sequencial por Local e Cultura</option>
                                    <option value="7">Sequencial por Local, Ano e Cultura</option>
                                    <option value="8">Sequencial por Ano e Cultura</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="txtPrefixo">Prefixo para Codificação</label>
                                <input type="text" id="txtPrefixo" name="txtPrefixo" data-bind="value: PrefixoCodigo" class="form-control" maxlength="10" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Cultura</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="ddlAtividadeEconomica" class="control-label">Esta Categoria se refere a qual Atividade Econômica?</label>
                                @HtmlHelper.Select.SearchableKO("ddlAtividadeEconomica", "IdAtividadeEconomica", "IdAtividadeEconomica", "Descricao", "Descricao", "Descricao", "/Contabilidade/AtividadeEconomica/List", "Ativo:true", required: true)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="ddlProducaoCultura" class="control-label">Esta Categoria pode ser usada para informar Produção de quais Produtos?</label>
                                @HtmlHelper.Select.SearchableKO("ddlProducaoCultura", "IdsProducaoCultura", "IdProducaoCulturaIn", "Descricao", "Descricao", "Descricao", "/Agricola/Cultura/List", "Ativo:true", dataBind: "validate: { required: vm.IdAtividadeEconomica() != null }", idChaveRelacao: "IdProducaoCultura", multiple: true, idControleDependencia: "ddlAtividadeEconomica", idDependencia: "IdAtividadeEconomica")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>