<!-- ko with: geometryInfo -->
<!-- ko if: type !== 'Point' -->
<table cellpadding="0" cellspacing="0" class="table table-bordered table-area">
    <thead>
    <tr>
        <th colspan="3">
            Informações de área/perímetro
        </th>
    </tr>
    </thead>
    <tbody class="read-mode">
    <tr data-bind="if: type !== 'LineString'">
        <td>Área</td>
        <td>
            <span data-bind="text: getAreaMasked()"></span>
        </td>
        <td><span data-bind="text: getAreaAlqMasked()"></span></td>
    </tr>
    <tr>
        <td>Perímetro</td>
        <td>
            <span data-bind="text: getPerimeterMasked()"></span>
        </td>
        <td>--</td>
    </tr>
    </tbody>
</table>
<!-- /ko -->
<!-- ko if: type === 'Point' -->
<table cellpadding="0" cellspacing="0" class="table table-bordered table-area">
    <thead>
    <tr>
        <th colspan="4">
            Localização do ponto
        </th>
    </tr>
    </thead>
    <tbody class="read-mode">
        <tr>
            <td>Latitude</td>
            <td colspan="3" data-bind="text: latitude"></td>
        </tr>
        <tr>
            <td>Longitude</td>
            <td colspan="3" data-bind="text: longitude"></td>
        </tr>
    </tbody>
</table>
<!-- /ko -->
<!-- /ko -->