<div class="seletor-cores" data-bind="foreach: colors">
    <div class="cor" data-bind="style: { background: $data }, attr: { alt: $data, title: $data }, css: { 'selecionado': $data === ko.unwrap($parent.selectedColor) }, event: { 'click': $parent.changeColor }"></div>
</div>
