<!-- ko if: ko.unwrap(type) !== 'Point' -->
<!-- ko if: ko.unwrap(type) !== 'LineString' -->
<span>Área</span>
<!-- ko if: ko.unwrap(area_m2) < 10000 -->
<strong contenteditable="true" readonly="readonly" type="text" data-inputmask="'suffix':' m²'" class="mask-decimal"
        data-bind="maskArea: {}, value: area_m2"></strong>
<!-- /ko -->
<!-- ko if: ko.unwrap(area_m2) > 10000 -->
<strong contenteditable="true" readonly="readonly" type="text" data-inputmask="'suffix':' ha'" class="mask-decimal"
        data-bind="maskArea: {}, value: area_ha"></strong>
<!-- /ko -->
<!--<strong contenteditable="true" readonly="readonly" type="text" data-inputmask="'suffix':' alq (sp)'"
        class="mask-decimal" data-bind="maskArea: {}, value: area_alq"></strong>-->
<br />
<!-- /ko -->

<span>Perímetro</span>
<!-- ko if: ko.unwrap(perimeter_m) < 10000 -->
<strong contenteditable="true" readonly="readonly" type="text" data-inputmask="'suffix':' m'" class="mask-decimal"
        data-bind="maskArea: {}, value: perimeter_m"></strong>
<!-- /ko -->
<!-- ko if: ko.unwrap(perimeter_m) > 10000 -->
<strong contenteditable="true" readonly="readonly" type="text" data-inputmask="'suffix':' km'" class="mask-decimal"
        data-bind="maskArea: {}, value: perimeter_km"></strong>
<!-- /ko -->
<!-- /ko -->

<!-- ko if: ko.unwrap(type) === 'Point' -->
<span>Latitude</span>
<strong data-bind="text: latitude"></strong>
<br />
<span>Longitude</span>
<strong data-bind="text: longitude"></strong>
<!-- /ko -->