<div class="seletor-icones" data-bind="foreach: icons">
    <div class="icone" data-bind="event: { 'click': $parent.changeIcon }, css: { 'selecionado': $data === ko.unwrap($parent.selectedIconName) }">
        <i data-bind="event: { 'click': $parent.changeIcon }, attr: { class: 'material-icons' }, text: $data"></i>
    </div>
</div>