<!-- ko with: layer -->
<!-- ko if: feature.geometry.type !== 'Point' -->
<div class="form-group" data-bind="with: options">
    <label>Cor de fundo</label>
    <seletor-cores id="fillColor" params="selectedColor: fillColor, layerId: $parent.getFeatureId()"></seletor-cores>
</div>
<!-- /ko -->
<!-- ko if: feature.geometry.type === 'Point' -->
<div class="form-group" data-bind="with: options">
    <label>Ícone</label>
    <seletor-icones id="seletorIcones" params="selectedIcon: icon.options.icon, selectedColor: color, layerId: $parent.getFeatureId()"></seletor-icones>
</div>
<div class="form-group">
    <label>Posição</label>
    <input type="text" data-bind="value: getZIndex()" />
</div>
<div class="form-group" data-bind="with: options">
    <label>Cor do ícone</label>
    <seletor-cores id="iconColor" params="selectedColor: color, layerId: $parent.getFeatureId()"></seletor-cores>
</div>
<!-- /ko -->
<!-- /ko -->