<!-- ko if: layer -->
<div id="panel-feature-data">

    <h5>Editando elemento</h5>

    <area-position-info params="layer: layer"></area-position-info>

    <br />
    <br />
    <!-- ko with: layer -->
    <div class="form-group">
        <label>Grupo</label>
        <!-- ko if: mapService.getAllFeatureGroups().length > 0 -->
        <select id="featureGroupSelect" data-bind="options: mapService.getAllFeatureGroups(),
                   optionsText: function (item) {
                       return item.id + ' - ' + item.title;
                   },
                   value: $root.layerGroupId,
                   optionsValue: function (item) { return item.id }
                   optionsCaption: 'Escolha uma categoria',
                   event: { change: function () { feature.layerGroupId = ko.unwrap($root.layerGroupId) } }">
        </select>
        <!-- /ko -->
        <a href="#" data-bind="event: { click: mapService.addFeatureGroupModal }">Adicionar nova camada</a>
    </div>
    <!-- ko if: feature.geometry.type !== 'Point' -->
    <div class="form-group" data-bind="with: options">
        <label>Cor de fundo</label>
        <seletor-cores id="fillColor" params="selectedColor: $root.fillColor, layer: $parent"></seletor-cores>
    </div>
    <div class="form-group" data-bind="with: options">
        <label>Largura da borda</label>
        <stroke-weight-selector id="strokeWeight" params="selectedStrokeWeight: $root.strokeWeight, layer: $parent"></stroke-weight-selector>
    </div>
    <div class="form-group" data-bind="with: options">
        <label>Opacidade do preenchimento</label>
        <fill-opacity-selector id="strokeWeight" params="selectedFillOpacity: $root.fillOpacity, layer: $parent"></fill-opacity-selector>
    </div>
    <!-- /ko -->
    <!-- ko if: feature.geometry.type === 'Point' -->
    <div class="form-group" data-bind="with: options">
        <label>Ícone</label>
        <seletor-icones id="seletorIcones" params="selectedIconName: $root.iconName, selectedColor: $root.fillColor, layer: $parent"></seletor-icones>
    </div>
    <div class="form-group" data-bind="with: options">
        <label>Cor do ícone</label>
        <seletor-cores id="iconColor" params="selectedColor: $root.fillColor, layer: $parent"></seletor-cores>
    </div>
    <!-- /ko -->
    <!-- /ko -->
    <a href="#" data-bind="event: { click: saveEvent }">salvar</a>
    <a href="#" data-bind="event: { click: cancelEvent }">cancelar</a>

</div>
<!-- /ko -->