<div id="popup-feature-edit">

    <p><span data-bind="text: layer.feature.geometry.type"></span> (<a href="#" data-bind="text: layer.getId(), event: { click: function (data, e) { e.preventDefault(); window.x = data.layer; } }"></a>)</p>

    <div style="min-width: 350px">
    <area-position-info params="layer: layer"></area-position-info>
    </div>

    <a id="iw-editFeature" href="#" data-bind="event: { 'click': layerEditPopupEvent }">edit</a>
    <a id="iw-removeFeature" href="#" data-bind="event: { 'click': layerRemovePopupEvent }">remover</a>

</div>
