<div class="btn-group draw" role="group" aria-label="Ferramentas de movimento e navegação">
    <button type="button" data-action="move" class="btn btn-default btn-icon btn-move" title="Parar de desenhar"><i class="material-icons material-md">&#xE925;</i></button>
</div>
<div class="btn-group draw" role="group" aria-label="Ferramentas de visualização de mapa">
    <button type="button" data-action="add-marker" class="btn btn-default btn-icon" title="Adicionar Marcador"><i class="material-icons material-md">&#xE567;</i></button>
    <button type="button" data-action="add-polygon" class="btn btn-default btn-icon" title="Desenhar Forma"><i class="material-icons material-md">&#xE25E;</i></button>
    <button type="button" data-action="add-polyline" class="btn btn-default btn-icon" title="Desenhar Linha"><i class="material-icons material-md">&#xE922;</i></button>
</div>
<div class="btn-group draw view" role="group" aria-label="Ferramentas de análise">
    <button type="button" data-action="measure-polyline" class="btn btn-default btn-icon" title="Medir Linha"><i class="material-icons material-md">&#xE260;</i></button>
    <button type="button" data-action="measure-polygon" class="btn btn-default btn-icon" title="Medir Area"><i class="material-icons material-md">&#xE260;</i></button>
</div>
<div class="btn-group view draw" role="group" aria-label="Ferramentas de movimento e navegação">
    <button type="button" data-action="measure-polyline" class="btn btn-default btn-icon" title="Medir Linha"><i class="material-icons material-md">&#xE260;</i></button>
    <button type="button" data-action="measure-polygon" class="btn btn-default btn-icon" title="Medir Area"><i class="material-icons material-md">&#xE260;</i></button>
</div>
<div class="btn-group draw" role="group" aria-label="Ferramentas de ações de vários elementos selecionados">
    <button type="button" data-action="join-elements" class="btn btn-default btn-icon" title="Unir elementos"><i class="material-icons material-md">&#xE567;</i></button>
</div>