﻿@model HTM.MasterGestor.Web.UI.Areas.Contabilidade.ViewModels.ClassificacaoFiscal.IndexVM

<div id="filtro-grade">
    <template id="filter-BenfeitoriaIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
        id: "BenfeitoriaIndex",
        newUrl: "#/Contabilidade/ClassificacaoFiscal/New",
        editUrl: "#/Contabilidade/ClassificacaoFiscal/Edit",
        listUrl: "/Contabilidade/ClassificacaoFiscal/List",
        columns:
        @<script>
            [
                { 'id': 'IdFiscalClassificacao', editColumn: true },
                { 'id': 'RegistroProprio', 'defaultValue': '', 'filter': true },
                { 'id': 'Descricao', 'header': true, 'filter': true, 'defaultFilter': true, 'displayName': 'Descrição', sortable: true },
                { 'id': 'DescricaoNatureza', 'header': true, 'filter': true, 'defaultFilter': true, 'displayName': 'Natureza', sortable: true },
                { 'id': 'EditarRegistro', 'header': true, 'filter': true, 'sortable': true, 'displayName': 'Editar Registro' },
                defaults.gridNewEdit.column.ativo,
                { displayName: "Ações", header: true, width: '160px' }
            ]
        </script>,
        templateRows:
        @<tr>
            <td data-bind="text: Descricao, id: IdFiscalClassificacao"></td>
            <td><span data-bind="text: DescricaoNatureza"></span></td>
            <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>
            <td data-bind="template: 'label-status'"></td>
            <td>
                <div style="float:left">
                    <span data-bind="template: { name: 'button-edit-url', data: { id: IdFiscalClassificacao } }"></span>
                </div>

                <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                    <a data-bind="attr: { href: '#/Contabilidade/ClassificacaoFiscal/Ativar/' + IdFiscalClassificacao}" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
                </div>

                <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                    <a data-bind="attr: { href: '#/Contabilidade/ClassificacaoFiscal/Inativar/' + IdFiscalClassificacao}" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
                </div>

                <div style="float:left;padding-left:5px;" data-bind="visible: (EditarRegistro == false)">
                    <a data-bind="attr: { href: '#/Contabilidade/ClassificacaoFiscal/View/' + IdFiscalClassificacao}" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
                </div>

            </td>
        </tr>, api: "indexVM.api", orderByCol: "Descricao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)

</div>
@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}

