﻿@model HTM.MasterGestor.Web.UI.Areas.Contabilidade.ViewModels.ClassificacaoFiscal.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-FiscalClassificacao-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="txtDescricao">Descrição</label>
                                <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="150" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <label for="option1">Natureza</label>
                                <div class="form-group">
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-primary btn-inverted">
                                            <input type="radio" name="options" id="option1" value="1" data-bind="bsChecked: Natureza, css: { active: Natureza() == 1 }"> Entrada
                                        </label>
                                        <label class="btn btn-primary btn-inverted">
                                            <input type="radio" name="options" id="option1" value="2" data-bind="bsChecked: Natureza, css: { active: Natureza() == 2 }"> Saída
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkImobilizado">Destinado a Imobilização</label>
                                <input type="checkbox" class="no-uniform" id="chkImobilizado" data-bind="checked: Imobilizado, flipper: { observable: Imobilizado, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkAtivo">Ativo</label>
                                <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="panel panel-default" id="pnlDadosAdicionais" data-bind="cola ">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title">Impostos a Recuperar</h3>
                    </div>
                    <div class="panel-body">
                        @HtmlHelper.GridView.GridNewEdit(
                    id: "Imposto", // Declarar na página <template id="newedit-id"></template>
                    vm: "Impostos",
                    columns: @<script>
                        [
                            { 'id': 'IdFiscalClassificacaoImposto' },
                            { 'id': 'IdFiscalClassificacao' },
                            { 'id': 'IdFiscalImposto' },
                            { 'id': 'PessoaNatureza' },
                            { 'id': 'ImpostoDescricao', 'displayName': 'Imposto', 'header': true },
                            { 'id': 'PessoaNaturezaDescricao', 'displayName': 'Natureza', 'header': true },
                            { 'id': 'Recuperar', 'displayName': 'Recuperar', 'header': true },
                            { 'id': 'PercentualRecuperacao', 'displayName': '%Recuperação', 'header': true },
                            { 'id': 'QuantidadeParcela', 'displayName': 'Parcelas', 'header': true },
                            { 'id': 'PercentualReducaoBase', 'displayName': '% Base de Redução', 'header': true },
                            { 'id': 'DestinoIncidencia', 'displayName': 'Destino', 'header': true },
                            { 'id': 'Ativo', 'defaultValue': true, 'header': true },
                            defaults.gridNewEdit.column.acao
                        ]
                    </script>,
                    templateRows:
                    @<tr>
                         <td data-bind="template: { name: 'link-edit', data: { text: ImpostoDescricao }  }"></td>
                         <td data-bind="text: Recuperar"></td>
                         <td data-bind="text: PercentualRecuperacao"></td>
                         <td data-bind="text: QuantidadeParcela"></td>
                         <td data-bind="text: PercentualReducaoBase"></td>
                         <td data-bind="text: DestinoIncidencia"></td>
                        <td data-bind="template: { name: 'label-status' }"></td>
                        <td data-bind="template: { name: 'button-edit' }"></td>
                    </tr>, orderByCol: "DescricaoImposto", orderByDir: HelpersUtil.OrderByDirEnum.Asc)
                    </div>
                </div>*@

        </div>
    </form>
    @*<template id="newedit-Imposto">

        </template>*@
</div>
