﻿@model HTM.MasterGestor.Web.UI.Areas.Configuracao.ViewModels.ObjetoTipo.IndexVM

<div id="filtro-grade" style="display:none;">
    <template id="filter-ObjetoTipoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "ObjetoTipoIndex",
    newUrl: "#/Configuracao/ObjetoTipo/New",
    editUrl: "#/Configuracao/ObjetoTipo/Edit",
    listUrl: "/Configuracao/ObjetoTipo/List",
    columns:
    @<script>
        [   
            { 'id': 'Descricao', 'header': true, filter: true, defaultFilter: true, displayName: 'Descrição', sortable: true },                 
            { 'id': 'IdObjetoTipo', editColumn: true },
            defaults.gridNewEdit.column.ativo,
            defaults.gridNewEdit.column.acao
        ]
    </script>,
    templateRows:
    @<tr>
        <td data-bind="text: Descricao"></td>       
        <td data-bind="template: 'label-status'"></td>
        <td data-bind="template: { name: 'button-edit-url', data: { id: IdObjetoTipo } }"></td>
    </tr>
    ,
    api: "indexVM.api",
    orderByCol: "Descricao",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,
    useHiddenColumns: false)
</div>

@section Scripts {   
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
