﻿@model HTM.MasterGestor.Web.UI.Areas.Configuracao.ViewModels.Tela.AjudaTelaVM

<div class="modal fade modal-primary">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@Model.Tela.TituloAjuda</h4>
            </div>
            <div class="modal-body">
                @Html.Raw(Model.Tela.CorpoAjuda)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-inverted btn-lg pull-left" data-dismiss="modal"><i class="material-icons">&#xE5C4;</i> Voltar</button>
            </div>
        </div>
    </div>
</div>
