﻿@model HTM.MasterGestor.Web.UI.Areas.Configuracao.ViewModels.Tela.TelaIndexVM

<div id="filtro-grade" style="display:none;">
    <template id="filter-TelaIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="txtFiltroTituloTela" class="control-label">Título Tela</label>
            <input type="text" id="txtFiltroTituloTela" data-bind="textInput: TituloTela" class="form-control" />
        </div>       
        <div class="form-group">
            <label for="ddlFiltroTipoEquipamento">Módulo</label>            
            @HtmlHelper.Select.SearchableKO("ddlFiltroModulo", "IdModuloIn", "IdModulo", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Configuracao/Modulo/List", "Ativo: true, ComPai:true", idChaveRelacao: "IdModulo", multiple: true)
        </div>
        <div class="form-group">
            <label for="ddlFiltroTelaPropriedade">Características da Tela</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroTelaPropriedade", "IdTelaPropriedadeIn", "IdTelaPropriedadeIn", "Descricao", "Descricao", "Descricao", "/Configuracao/TelaPropriedade/List", "Ativo: true", idChaveRelacao: "IdTelaPropriedade", multiple: true)
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
        id: "TelaIndex",
        newUrl: "#/Configuracao/Tela/New",
        editUrl: "#/Configuracao/Tela/Edit",
        listUrl: "/Configuracao/Tela/List",
        columns:
        @<script>
            [
                { 'id': 'IdTela', editColumn: true },
                { 'id': 'Descricao', header: true, 'filter': true, 'defaultFilter': true, displayName: 'Descrição', sortable: true, defaultFilter: true },
                { 'id': 'TituloTela', header: true, displayName: 'Título Tela', filter: true, sortable:true },
                { 'id': 'IdModuloIn', filter: true },
                { 'id': 'IdTelaPropriedadeIn', filter: true },
                { 'id': 'DescricaoModulo', displayName: 'Módulo', groupable: true },
                { 'id': 'TituloMenu', header: true, displayName: 'Título Menu', sortable: true },
                { 'id': 'Url', header: true, filter: true },
                defaults.gridNewEdit.column.ativo,
                defaults.gridNewEdit.column.acao
            ]
        </script>,
        templateRows:
        @<tr>
            <td data-bind="template: { name: 'link-edit-url', data: { text: Descricao, id: IdTela }  }"></td>
            <td><span data-bind="text: TituloTela"></span></td>
            <td data-bind="template: { name: 'link-edit-url', data: { text: TituloMenu, id: IdTela }  }"></td>         
            <td><span data-bind="text: Url"></span></td>
            <td data-bind="template: 'label-status'"></td>
             <td data-bind="template: { name: 'button-edit-url', data: { id: IdTela } }"></td>
        </tr>
        ,
        api: "indexVM.api",
        orderByCol: "TituloTela",
        orderByDir: HelpersUtil.OrderByDirEnum.Asc,  
        groupByCol: "DescricaoModulo",
        groupByDir: "asc",
        useHiddenColumns: false)   
</div>


@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
