﻿@model HTM.MasterGestor.Web.UI.Areas.Configuracao.ViewModels.Tela.TelaNewEditVM

<div data-bind="stopBindings: true">
    <form id="form-TelaNewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ddlModulo">Módulo</label>
                            @HtmlHelper.Select.SearchableKO("ddlModulo", "IdModulo", "IdModulo", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Configuracao/Modulo/List", "Ativo: true, ComPai: true", required: true)
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required:true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtTituloMenu">Título Menu</label>
                            <input type="text" id="txtTituloMenu" name="txtTituloMenu" data-bind="value: TituloMenu, validate: { required:true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtTituloTela">Título Tela</label>
                            <input type="text" id="txtTituloTela" name="txtTituloTela" data-bind="value: TituloTela, validate: { required:true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtUrl">Url</label>
                            <div class="input-group">
                                <input type="text" id="txtUrl" name="txtUrl" data-bind="value: Url" class="form-control" maxlength="1000" />
                                <span class="input-group-add-on input-group-btn">
                                    <a class="btn btn-primary btn-inverted btn-icon" title="Abrir tela em outra aba" target="_blank" data-bind="attr: { href: '/Home/Redir?url=' + (Url() != null ? Url().replace(/#/gi, '!!') : '') }" href="#"><i class="material-icons">&#xE89E;</i></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="optional" data-optional-label-text="(Campo opcional)" id="pnlPropriedadesTela">
                    <a href="#">Características da Tela</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="form-group">
                                    <label for="ddlPropriedadesTela">Características</label>
                                    @HtmlHelper.Select.SearchableKO("ddlPropriedadesTela", "IdsTelaPropriedade", "IdTelaPropriedadeIn", "Descricao", "Descricao", "Descricao", "/Configuracao/TelaPropriedade/List", "Ativo: true", idChaveRelacao: "IdTelaPropriedade", multiple: true)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label" for="chkExibeMenu">Exibir Tela no Menu ?</label>
                                    <input type="checkbox" class="no-uniform" id="chkExibeMenu" data-bind="checked: ExibeMenu, flipper: { observable: ExibeMenu, options: { 'css': 'warning' } }">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="optional" data-optional-label-text="(Campo opcional)" id="pnlDadosAdicionais">
                    <a href="#">Permissão</a>
                    <div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="ddlPermissao">Permissão</label>
                                    @HtmlHelper.Select.SearchableKO("ddlPermissao", "IdPermissao", "IdPermissao", "Descricao", "Descricao", "Permissao.Descricao", "/Configuracao/Permissao/List", "Ativo: true")
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" id="pnlAjuda">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Ajuda de tela</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-xs-6">
                        <label for="txtTituloAjuda">Título Ajuda</label>
                        <input type="text" id="txtTituloAjuda" name="txtTituloAjuda" data-bind="value: TituloAjuda" class="form-control" maxlength="255" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-6" style="clear:both">
                        <label for="txtCorpoAjuda">Corpo Ajuda</label>
                        <textarea id="txtCorpoAjuda" name="txtCorpoAjuda" data-bind="value: CorpoAjuda, wysiwyg: { observable: CorpoAjuda, options: defaults.wysiwyg.text }" class="form-control" maxlength="8000" />
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" id="pnlCampos">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dicas de campos</h3>
            </div>
            <div class="panel-body">
                @HtmlHelper.GridView.GridNewEdit(
                id: "Campo", // Declarar na página <template id="newedit-id"></template>
                vm: "Campos",
                title: "Campo",
                columns: @<script>
                    [
                        { 'id': 'IdTelaCampo' },
                        { 'id': 'IdTela' },
                        { 'id': 'Campo', header: true },
                        { 'id': 'TituloAjuda', displayName: 'Título da dica', header: true },
                        { 'id': 'CorpoAjuda' },
                        { 'id': 'Ativo', 'defaultValue': true, 'header': true },
                        defaults.gridNewEdit.column.acao
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: Campo }  }"></td>
                    <td data-bind="template: { name: 'link-edit', data: { text: TituloAjuda }  }"></td>
                    <td data-bind="template: { name: 'label-status' }"></td>
                    <td data-bind="template: { name: 'button-edit' }"></td>
                </tr>,
                                  orderByCol: "Campo",
                                  orderByDir: HelpersUtil.OrderByDirEnum.Asc)
            </div>
        </div>
    </form>
    <template id="newedit-Campo">
        <div class="form-group">
            <label for="txtCampo-Campo">Campo</label>
            <input type="text" id="txtCampo-Campo" name="txtCampo-Campo" data-bind="value: Campo, validate: { required: true }" class="form-control" maxlength="120" />
        </div>
        <div class="form-group">
            <label for="txtTituloAjuda-Campo">Título Ajuda</label>
            <input type="text" id="txtTituloAjuda-Campo" data-bind="value: TituloAjuda, validate: { required: true }" class="form-control" maxlength="120" />
        </div>
        <div class="form-group">
            <label for="txtCorpoAjuda-Campo">Corpo Ajuda</label>
            <textarea id="txtCorpoAjuda-Campo" data-bind="value: CorpoAjuda, wysiwyg: { observable: CorpoAjuda, options: defaults.wysiwyg.text }, validate: { required: { params: true, message: '' } }" class="form-control" maxlength="120" />
        </div>
        <div class="form-group">
            <label class="control-label" for="chkAtivo-Campo">
                Ativo
            </label>
            <input type="checkbox" class="no-uniform" id="chkAtivo-Campo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }" />
        </div>
    </template>
</div>