﻿@model HTM.MasterGestor.Web.UI.Areas.Configuracao.ViewModels.Modulo.IndexVM

<div id="filtro-grade" style="display:none;">
    <template id="filter-ModuloIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroModulo">Módulo Superior</label>            
            @HtmlHelper.Select.SearchableKO("ddlFiltroModulo", "IdModuloPaiIN", "IdModulo", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Configuracao/Modulo/List", "Ativo: true, ComPai:false", idChaveRelacao: "IdModulo", multiple: true)
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "ModuloIndex",
    newUrl: "#/Configuracao/Modulo/New",
    editUrl: "#/Configuracao/Modulo/Edit",
    listUrl: "/Configuracao/Modulo/List",
    columns:
    @<script>
        [   
            { 'id': 'Descricao', 'header': true, filter: true, defaultFilter: true, displayName: 'Descrição', sortable: true },
            { 'id': 'DescricaoPai', 'header': true, displayName: 'Módulo Superior', sortable: true, groupable: true, groupTextValues: ['defaultValue', '[Sem Nível Superior]'] },
            { 'id': 'IdModuloPaiIN', filter: true },
            { 'id': 'IdModulo', editColumn: true },
            defaults.gridNewEdit.column.ativo,
            defaults.gridNewEdit.column.acao
        ]
    </script>,
    templateRows:
    @<tr>
        <td data-bind="text: Descricao"></td>       
        <td data-bind="text: DescricaoPai"></td>       
        <td data-bind="template: 'label-status'"></td>
        <td data-bind="template: { name: 'button-edit-url', data: { id: IdModulo } }"></td>
    </tr>
    ,
    api: "indexVM.api",
    orderByCol: "Descricao",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,
    useHiddenColumns: false)
</div>


@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}