﻿@model HTM.MasterGestor.Web.UI.Areas.Configuracao.ViewModels.Modulo.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-ConfiguracaoModulo-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="txtDescricao">Descrição</label>
                        <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                    </div>
                    <div class="form-group">
                        <label for="ddlTipoEquipamento">Módulo Superior</label>                        
                        @HtmlHelper.Select.SearchableKO("ddlModulo", "IdModuloPai", "IdModulo", "DescricaoCompleta", "DescricaoCompleta", "DescricaoCompleta", "/Configuracao/Modulo/List", "Ativo: true, IdModuloNotIn: " + (@Model.IdModulo.HasValue ? @Model.IdModulo.Value.ToString() : "null"), idChaveRelacao: "IdModulo", allowClear: true)
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="chkAtivo">Ativo</label>
                        <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
