﻿@model HTM.MasterGestor.Web.UI.Areas.Questionario.ViewModels.Versao.IndexVM

<routeOptions data-show-back-button="true" data-route-custom='route-Questionario' data-title-descricao="@Model.DescricaoExibicao"></routeOptions>

<div id="filtro-grade" style="display:none;">
    <template id="filter-QuestionarioVersaoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
    id: "QuestionarioVersaoIndex",
    newUrl: "#/Questionario/Versao/New",
    editUrl: "#/Questionario/Versao/Edit",
    listUrl: "/Questionario/Versao/List",
    columns:
    @<script>
        [
            { 'id': 'IdQuestionarioVersao', editColumn: true },
            { 'id': 'Chave' },
            { 'id': 'IdQuestionarioConfiguracao', filter: true, defaultValue: @Model.ParentId.ToString() },
            { 'id': 'RegistroProprio', 'defaultValue': '', 'filter': true },
            { 'id': 'Descricao', filter: true, defaultFilter: true, header: true, displayName: 'Descrição', sortable: true },
            { 'id': 'Sigla', filter: true, defaultFilter: true, header: true, displayName: 'Sigla', sortable: true },
            { 'id': 'EditarRegistro', 'header': true, 'filter': true, 'sortable': true, 'displayName': 'Editar Registro' },
            { 'id': 'Publicado', 'header': true, 'sortable': true, 'displayName': 'Publicado' },
            { 'id': 'TotalImagens', header: true, displayName: 'Imagens' },
            defaults.gridNewEdit.column.ativo,
            { displayName: "Ações", header: true, width: '190px' }
        ]
    </script>,
    templateRows:
    @<tr>
        <td data-bind="text: Descricao"></td>
        <td data-bind="text: Sigla"></td>
        <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>
        <td data-bind="template: { name: 'label-status', data: { status: Publicado } }"></td>
         <td data-bind="text: TotalImagens"></td>
        <td data-bind="template: { name: 'label-status' }"></td>
         <td>
             <div style="float:left">
                 <span data-bind="template: { name: 'button-edit-url', data: { id: IdQuestionarioVersao } }"></span>
             </div>
             <div style="float:left;padding-left:5px;">
                 <a href="#" title="Contexto" data-bind="attr: { href: '#/Questionario/Contexto/New/' + Chave }" class="btn btn-secondary btn-icon"><i class="material-icons">&#xE869;</i></a>
             </div>
             <div style="float:left;padding-left:5px;">
                 <a href="#" title="Tópicos" data-bind="attr: { href: '#/Questionario/Topico/List/' + Chave }" class="btn btn-secondary btn-icon"><i class="material-icons">&#xE896;</i></a>
             </div>
             <div style="float:left;padding-left:5px;">
                 <a href="#" title="Questões" data-bind="attr: { href: '#/Questionario/Questao/List/' + Chave }" class="btn btn-secondary btn-icon"><i class="material-icons">&#xE0C6;</i></a>
             </div>

             <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                 <a data-bind="attr: { href: '#/Questionario/Versao/Ativar/' + IdQuestionarioVersao}" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
             </div>
             <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                 <a data-bind="attr: { href: '#/Questionario/Versao/Inativar/' + IdQuestionarioVersao}" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
             </div>
             <div style="float:left;padding-left:5px;" data-bind="visible: (EditarRegistro == false)">
                 <a data-bind="attr: { href: '#/Questionario/Versao/View/' + IdQuestionarioVersao}" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
             </div>
         </td>
    </tr>
    ,
    parentId: Model.ParentId.ToString(),
    api: "indexVM.api",
    orderByCol: "PeriodoInicio",
    orderByDir: HelpersUtil.OrderByDirEnum.Asc,
    useHiddenColumns: false)
</div>

@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}
