﻿@model HTM.MasterGestor.Web.UI.Areas.Questionario.ViewModels.Versao.NewEditVM

<routeoptions data-show-back-button="true" data-route-custom='route-Questionario' data-title-descricao="@Model.DescricaoExibicao"></routeoptions>

<div>
    <form id="form-QuestionarioVersao-NewEdit" data-bind="validateForm: { submitHandler: vm.Save }">
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Dados Básicos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtDescricao">Descrição</label>
                            <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="120" />
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <div class="form-group">
                            <label for="txtSigla">Sigla</label>
                            <input type="text" id="txtSigla" name="txtSigla" data-bind="value: Sigla" class="form-control" maxlength="5" />
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtPeriodo" class="control-label">Período de Validade</label>
                            <div class="input-group date">
                                <input type="text" id="txtPeriodo" name="txtPeriodo" data-bind="daterangepicker: { startDate: PeriodoInicioExibicao, endDate: PeriodoTerminoExibicao }, validate: { required: true }, value: (ko.unwrap(PeriodoInicioExibicao) != null && ko.unwrap(PeriodoTerminoExibicao) != null) ? ko.unwrap(PeriodoInicioExibicao) + ' até ' + ko.unwrap(PeriodoTerminoExibicao) : ''  " class="form-control" />
                                <div class="input-group-addon input-group-btn"><i class="material-icons">&#xE916;</i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="txtDescricaoDetalhada">Descrição Detalhada</label>
                            <textarea data-bind="value: DescricaoDetalhada, wysiwyg: { observable: DescricaoDetalhada, options: defaults.wysiwyg.text }" class="form-control" id="txtDescricaoDetalhada" name="txtDescricaoDetalhada" data-allowclear="false"></textarea>
                        </div>
                    </div>
                </div>

                <div class="optional hide-panel" id="pnlConfiguracoes" data-bind="collapsible: { vmArray: [ vm.FormaAplicacao(), vm.CoordenadaGeograficaTipo(), vm.RepresentaMedidor(), vm.IdQuestionarioCategoriaMedidor(), vm.ExibeTopicoComNumeracao()  ] }">
                    <a href="#">Configurações</a>
                    <div>

                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label for="ddlFormaAplicacao" class="control-label">Forma de apresentação de Tópico e Questão</label>
                                    <select id="ddlFormaAplicacao" name="ddlFormaAplicacao" class="form-control no-search" data-bind="value: FormaAplicacao">
                                        <option value="1">Aplicar todos os Tópicos juntos</option>
                                        <option value="2">Aplicar Tópico separadamente</option>
                                        <option value="3">Aplicar Questões separadamente</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label for="ddlCoordenadaGeograficaTipo" class="control-label">Coordenada Geografica</label>
                                    <select id="ddlCoordenadaGeograficaTipo" name="ddlCoordenadaGeograficaTipo" class="form-control no-search" data-bind="value: CoordenadaGeograficaTipo">
                                        <option value="1">Não Informar</option>
                                        <option value="2">Opcional</option>
                                        <option value="3">Obrigatório</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label for="ddlTipoVisualizacaoMobile" class="control-label">Visualizar o Questionário<span>Mobile</span></label>
                                    <select id="ddlTipoVisualizacaoMobile" name="ddlTipoVisualizacaoMobile" class="form-control no-search" data-bind="value: TipoVisualizacaoMobile">
                                        <option value="1">Ninguém</option>
                                        <option value="2">Aplicador</option>
                                        <option value="3" selected="selected">Todos</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label for="ddlTipoEdicaoMobile" class="control-label">Editar o Questionário<span>Mobile</span></label>
                                    <select id="ddlTipoEdicaooMobile" name="ddlTipoEdicaoMobile" class="form-control no-search" data-bind="value: TipoEdicaoMobile">
                                        <option value="1">Ninguém</option>
                                        <option value="2">Aplicador</option>
                                        <option value="3" selected="selected">Todos</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label" for="chkRepresentaMedidor">Representa um Medidor de Item de Controle</label>
                                    <input type="checkbox" class="no-uniform" id="chkRepresentaMedidor" data-bind="checked: RepresentaMedidor, flipper: { observable: RepresentaMedidor, options: { 'css':'warning' } }">
                                </div>
                            </div>
                            <div class="col-xs-3" data-bind="visible: vm.RepresentaMedidor()">
                                <div class="form-group">
                                    <label for="ddlCategoriaMedidorVersao">Categoria de Medidor</label>
                                    @HtmlHelper.Select.SearchableKO("ddlCategoriaMedidorVersao", "IdQuestionarioCategoriaMedidor", "IdQuestionarioCategoriaMedidor", "Descricao", "Descricao", "Descricao", "/Questionario/CategoriaMedidor/List", "Ativo:true", dataBind: "validate: { required: RepresentaMedidor() }")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="ddlTipoCodificacao" class="control-label">Tipo de Codificação</label>
                                    <select id="ddlTipoCodificacao" name="ddlTipoCodificacao" class="form-control no-search" data-bind="value: TipoCodificacao">
                                        <option value="1" selected="selected">Por Data (Aplicação/Data Referência)</option>
                                        <option value="2">Por Cabeçalho(Empresa Usuária + Pessoa Aplicador)</option>
                                        <option value="3">Por Data e Cabeçalho </option>
                                        <option value="4">Por Contexto (Pessoa, Aplicação/SubAplicacao, Cultura, Categoria de Serviço, Tipo de Doc.)</option>
                                        <option value="4">Por Data e Contexto </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label" for="chkPermiteFotoVersao">Permite receber Imagens ?</label>
                                    <input type="checkbox" class="no-uniform" id="chkPermiteFotoVersao" data-bind="checked: PermiteFotoVersao, flipper: { observable: PermiteFotoVersao, options: {'css': 'warning'} }">
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label" for="chkExibeTopicoComNumeracao">Exibe Tópicos com Sequência<span>Ex: 1 - Tópico</span></label>
                                    <input type="checkbox" class="no-uniform" id="chkExibeTopicoComNumeracao" data-bind="checked: ExibeTopicoComNumeracao, flipper: { observable: ExibeTopicoComNumeracao, options: {'css': 'warning'} }">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="optional hide-panel" id="pnlObservacao" data-bind="collapsible: { vmArray: [ vm.Observacao() ] }">
                    <a href="#">Observação</a>
                    <div>
                        <div class="row">
                            <div class="form-group col-xs-8">
                                <textarea data-bind="value: Observacao" class="form-control" id="txtObservacao" data-allowclear="false" maxlength="500" style=" min-height 80px;"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkPublicado">Publicado</label>
                            <input type="checkbox" class="no-uniform" id="chkPublicado" data-bind="checked: Publicado, flipper: { observable: Publicado, options: {'css': 'warning'} }">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="chkAtivo">Ativo</label>
                            <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" data-open="false" id="pnlUnidadeAmostral">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Unidade Amostral</h3>
            </div>
            <div class="panel-body">
                @HtmlHelper.GridView.GridNewEdit(
                id: "UnidadeAmostral", // Declarar na página <template id="newedit-id"></template>
                vm: "lstUnidadeAmostral",
                title: "Unidade Amostral",
                vmExtend: "vmUnidadeAmostralExtend",
                columns: @<script>
                    [
                        { 'id': 'IdQuestionarioVersaoUnidadeAmostral' },
                        { 'id': 'IdQuestionarioVersao' },
                        { 'id': 'IdQuestionarioUnidadeAmostral' },
                        { 'id': 'Descricao' },

                        { 'id': 'Sequencia', 'header': true, 'displayName': 'Sequência', 'sortable': true },
                        { 'id': 'QuestionarioUnidadeAmostralDescricao', 'header': true, 'displayName': 'Unidade Amostral', 'sortable': true },

                        { 'id': 'Ativo', 'defaultValue': true, 'header': true },
                        defaults.gridNewEdit.column.acao
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: Sequencia }  }"></td>
                    <td data-bind="text: QuestionarioUnidadeAmostralDescricao"></td>
                    <td data-bind="template: { name: 'label-status' }"></td>
                    <td data-bind="template: { name: 'button-edit' }"></td>
                </tr>, orderByCol: "Sequencia", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: true)
            </div>
        </div>

        <div class="panel panel-default" data-toggle="collapsible" id="pnlImagens">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Imagens</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            @HtmlHelper.Campo.Upload()
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

    @*<template id="newedit-Topico">
            <div class="row">
                <div class="col-xs-2">
                    <div class="form-group">
                        <label for="txtSequencia">Sequência<span>Opcional</span></label>
                        <input type="text" id="txtSequencia" name="txtSequencia" data-bind="value: Sequencia" class="form-control" maxlength="4" />
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="ddlRepresentacaoTipo" class="control-label">Possui Representação</label>
                        <select id="ddlRepresentacaoTipo" name="ddlRepresentacaoTipo" class="form-control no-search" data-bind="value: RepresentacaoTipo">
                            <option value="1">Não Possui</option>
                            <option value="2">Representa um Medidor de Item</option>
                            <option value="3">Representa um Item de Controle</option>
                        </select>
                    </div>
                </div>
                <!-- Begin : Condicionais -->
                <div class="col-xs-4" data-bind="visible: RepresentacaoTipo() == 1">
                    <div class="form-group">
                        <label for="txtDescricaoTopico">Descrição</label>
                        <input type="text" id="txtDescricaoTopico" name="txtDescricaoTopico" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="50" />
                    </div>
                </div>
                <div class="col-xs-4" data-bind="visible: RepresentacaoTipo() == 2">
                    <div class="form-group">
                        <label for="ddlCategoriaMedidorTopico">Categoria de Medidor</label>
                        @HtmlHelper.Select.SearchableKO("ddlCategoriaMedidorTopico", "IdQuestionarioCategoriaMedidor", "IdQuestionarioCategoriaMedidor", "Descricao", "Descricao", "Descricao", "/Questionario/CategoriaMedidor/List", "Ativo:true", dataBind: "validate: { required: RepresentacaoTipo() == 2 }", vmTextSelected: "Descricao", dadosComplObservable: "dadosComplQuestionarioCategoriaMedidor")
                    </div>
                </div>
                <div class="col-xs-4" data-bind="visible: RepresentacaoTipo() == 3">
                    <div class="form-group">
                        <label for="ddlItemControleTopico">Item de Controle</label>
                        @HtmlHelper.Select.SearchableKO("ddlItemControleTopico", "IdQuestionarioItemControle", "IdQuestionarioItemControle", "Descricao", "Descricao", "Descricao", "/Questionario/ItemControle/List", dataBind: "validate: { required: RepresentacaoTipo() == 3 }", vmTextSelected: "Descricao", dadosComplObservable: "dadosComplQuestionarioItem")
                    </div>
                </div>
                <!-- End : Condicionais -->
            </div>
            <div class="row">
                <div class="col-xs-10">
                    <div class="form-group">
                        <label for="txtSubDescricaoTopico">Sub Descrição</label>
                        <input type="text" id="txtSubDescricaoTopico" name="txtSubDescricaoTopico" data-bind="value: SubDescricao" class="form-control" maxlength="50" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10">
                    <div class="form-group">
                        <label for="txtDescricaoDetalhadaTopico">Descrição Detalhada</label>
                        <textarea data-bind="value: DescricaoDetalhada, wysiwyg: { observable: DescricaoDetalhada, options: defaults.wysiwyg.text }" class="form-control" id="txtDescricaoDetalhadaTopico" name="txtDescricaoDetalhadaTopico" data-allowclear="false"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group">
                        <label class="control-label" for="chkPossuiAvaliacao">Participa na Avaliação</label>
                        <input type="checkbox" class="no-uniform" id="chkPossuiAvaliacao" data-bind="checked: PossuiAvaliacao, flipper: { observable: PossuiAvaliacao, options: { 'css':'warning' } }">
                    </div>
                </div>
                <div class="col-xs-3" data-bind="visible: PossuiAvaliacao() == true">
                    <div class="form-group">
                        <label for="txtPesoAvaliacao">Peso na Avaliação</label>
                        <input type="text" id="txtPesoAvaliacao" name="txtPesoAvaliacao" data-bind="value: PesoAvaliacao, validate: { required: PossuiAvaliacao() }, maskDecimal: { casasDecimais: 2 }" class="form-control" maxlength="4" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10">
                    <div class="form-group">
                        <label class="control-label" for="chkAtivoTopico">Ativo</label>
                        <input type="checkbox" class="no-uniform" id="chkAtivoTopico" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                    </div>
                </div>
            </div>
            <div class="row" data-bind="visible: RepresentacaoTipo() == 1">
                <div class="col-xs-8">
                    <div class="form-group" data-bind="with: ArquivoDigital">
                        <label for="imagemGaleriaTopico">Imagem</label>
                        <div class="input-group">
                            <input type="text" id="txtDescricaoImagem" readonly="readonly" data-bind="value: Arquivo" class="form-control">
                            <div class="input-group-btn">
                                <a href="#" class="btn btn-secondary" data-bind="upload: { id: 'imagemGaleriaTopico', url: defaults.upload.serverURL, success: uploadSuccess, error: uploadError, progress: uploadProgress }">Escolher imagem..</a>
                                <input id="imagemGaleriaTopico" class="form-control" type="file" accept=".jpg,.png,.gif" name="imagemGaleriaTopico" style="display: none" />
                            </div>
                            <div class="input-group-btn" data-bind="visible: (CaminhoArquivo != null || CaminhoArquivo != '' || CaminhoArquivo != undefined)">
                                <button type="button" data-bind="click: remove" class="btn btn-danger">Remover</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </template>*@

    <template id="newedit-UnidadeAmostral">
        <div class="row">
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="txtSequencia">Sequência<span>Opcional</span></label>
                    <input type="text" id="txtSequencia" name="txtSequencia" data-bind="value: Sequencia" class="form-control" maxlength="4" />
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="ddlUnidadeAmostral">Unidade Amostral</label>
                    @HtmlHelper.Select.SearchableKO("ddlUnidadeAmostral", "IdQuestionarioUnidadeAmostral", "IdQuestionarioUnidadeAmostral", "Descricao", "Descricao", "Descricao", "/Questionario/UnidadeAmostral/List", required: true, vmTextSelected: "QuestionarioUnidadeAmostralDescricao", dadosComplObservable: "dadosComplUnidadeAmostral")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label class="control-label" for="chkAtivoUnidadeAmostral">Ativo</label>
                    <input type="checkbox" class="no-uniform" id="chkAtivoUnidadeAmostral" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                </div>
            </div>
        </div>
    </template>

</div>
