﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.ModeloApuracaoPagamento.IndexVM

<div id="filtro-grade">
    <template id="filter-FinanceiroModeloApuracaoPagamentoIndex">
        <div class="form-group">
            <label for="txtFiltroDescricao" class="control-label">Descrição</label>
            <input type="text" id="txtFiltroDescricao" data-bind="textInput: Descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ddlFiltroDocumentoTipo" class="control-label">Tipo de Documento</label>
            @HtmlHelper.Select.SearchableKO("ddlFiltroDocumentoTipo", "IdDocumentoTipo", "IdDocumementoTipo", "Descricao", "Descricao", "Descricao", "/Contabilidade/DocumentoTipo/List", "Ativo:true")
        </div>
        <div class="form-group">
            <label for="radio">Exibição</label><br />
            <div class="btn-group">
                <label for="filter-RegistroProprio1" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio1" value="true" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Meus Registros</label>
                <label for="filter-RegistroProprio2" class="btn-primary btn-inverted btn"><input id="filter-RegistroProprio2" value="" data-bind="checked: RegistroProprio, vanillaUniform: { checkParentCSS: true }" type="radio" name="filter-TipoOperacao">Todos Registros</label>
            </div>
        </div>
        @HtmlHelper.Campo.DropAtivo()
    </template>

    @HtmlHelper.GridView.GridIndex(
     id: "FinanceiroModeloApuracaoPagamentoIndex",
     newUrl: "#/Financeiro/ModeloApuracaoPagamento/New",
     editUrl: "#/Financeiro/ModeloApuracaoPagamento/Edit",
     listUrl: "/Financeiro/ModeloApuracaoPagamento/List",
     columns:
    @<script>
        [
            { 'id': 'IdFinanceiroModeloApuracaoPagamento', editColumn: true },
            { 'id': 'RegistroProprio', 'defaultValue': '', 'filter': true },
            { 'id': 'IdDocumentoTipo', filter: true },
            { 'id': 'Descricao', 'header': true, 'filter': true, 'defaultFilter': true, 'displayName': 'Descrição', sortable: true },
            { 'id': 'DescricaoDocumentoTipo', 'header': true, 'filter': true, 'displayName': 'Tipo de Documento', sortable: true, groupable: true },
            { 'id': 'DescricaoNaturezaApuracao', 'header': true, 'filter': true, 'displayName': 'Natureza Apuração', sortable: true },
            { 'id': 'Antecipacao', 'header': true, 'filter': true, 'displayName': 'Antecipacao', sortable: true },
            { 'id': 'TotalVariaveisRelacionadas', 'header': true, 'filter': true, 'displayName': 'Itens', sortable: true },
            { 'id': 'EditarRegistro', 'header': true, 'filter': true, 'sortable': true, 'displayName': 'Editar Registro' },
            defaults.gridNewEdit.column.ativo,
            defaults.gridNewEdit.column.acao
        ]
    </script>,
        templateRows:
        @<tr>
            <td data-bind="text: Descricao, id: IdFinanceiroModeloApuracaoPagamento"></td>
            <td data-bind="text: DescricaoDocumentoTipo"></td>
            <td data-bind="text: DescricaoNaturezaApuracao"></td>
            <td data-bind="template: { name: 'label-status', data: { status: Antecipacao } }"></td>
            <td data-bind="text: TotalVariaveisRelacionadas"></td>
            <td data-bind="template: { name: 'label-status', data: { status: EditarRegistro } }"></td>
            <td data-bind="template: 'label-status'"></td>
            <td>
                <div style="float:left">
                    <span data-bind="template: { name: 'button-edit-url', data: { id: IdFinanceiroModeloApuracaoPagamento } }"></span>
                </div>

                <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == false && EditarRegistro == false)">
                    <a data-bind="attr: { href: '#/Financeiro/ModeloApuracaoPagamento/Ativar/' + IdFinanceiroModeloApuracaoPagamento}" class="btn btn-secondary btn-icon" title="Ativar"><i class="material-icons">&#xE8F4;</i></a>
                </div>

                <div style="float:left;padding-left:5px;" data-bind="visible: (Ativo == true && EditarRegistro == false)">
                    <a data-bind="attr: { href: '#/Financeiro/ModeloApuracaoPagamento/Inativar/' + IdFinanceiroModeloApuracaoPagamento}" class="btn btn-secondary btn-icon" title="Inativar"><i class="material-icons">&#xE8F5;</i></a>
                </div>

                <div style="float:left;padding-left:5px;" data-bind="visible: (EditarRegistro == false)">
                    <a data-bind="attr: { href: '#/Financeiro/ModeloApuracaoPagamento/View/' + IdFinanceiroModeloApuracaoPagamento}" class="btn btn-secondary btn-icon" title="Visualizar"><i class="material-icons">&#xE8B6;</i></a>
                </div>

            </td>
        </tr>, api: "indexVM.api", orderByCol: "Descricao", orderByDir: HelpersUtil.OrderByDirEnum.Asc, useHiddenColumns: false)
</div>
@section Scripts {
    @HtmlHelper.Favorito.BotaoFavorito(Request.Url.AbsolutePath)
}

