﻿@model HTM.MasterGestor.Web.UI.Areas.Financeiro.ViewModels.ModeloApuracaoPagamento.NewEditVM

<div data-bind="stopBindings: true">
    <form id="form-FinanceiroModeloApuracaoPagamento-NewEdit" data-bind="validateForm: { submitHandler: Save }">
        @Html.AntiForgeryToken()
        <div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Dados Básicos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="form-group">
                                <label for="txtDescricao">Descrição</label>
                                <input type="text" id="txtDescricao" name="txtDescricao" data-bind="value: Descricao, validate: { required: true }" class="form-control" maxlength="150" />
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div class="form-group">
                                <label for="ddlSubProcesso">Processo e Sub Processo</label>
                                @HtmlHelper.Select.SearchableKO("ddlSubProcesso", "IdSubProcesso", "IdSubProcesso", "DescricaoComProcesso", "Descricao", "DescricaoComProcesso", "/Corporativo/SubProcesso/List", "Ativo:true, IdProcesso:4", required: true)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label class="control-label" for="chkExigeAprovacao">Exige Aprovação</label>
                                <input type="checkbox" class="no-uniform" id="chkExigeAprovacao" data-bind="checked: ExigeAprovacao, flipper: { observable: ExigeAprovacao, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label class="control-label" for="chkAntecipacao">Antecipação</label>
                                <input type="checkbox" class="no-uniform" id="chkAntecipacao" data-bind="checked: Antecipacao, flipper: { observable: Antecipacao, options: { 'css': 'warning' } }">
                            </div>
                        </div>
                        <div class="col-xs-2" style="width:220px">
                            <div class="form-group">
                                <label for="radio">Movimento Financeiro</label><br />
                                <div class="btn-group">
                                    <label for="newedit-TipoMovimentoFinanceiro1" class="btn-primary btn-inverted btn"><input id="newedit-TipoMovimentoFinanceiro1" value="1" data-bind="checked: TipoMovimentoFinanceiro, vanillaUniform: { checkParentCSS: true }" type="radio" name="newedit-TipoMovimentoFinanceiro">A Pagar</label>
                                    <label for="newedit-TipoMovimentoFinanceiro2" class="btn-primary btn-inverted btn"><input id="newedit-TipoMovimentoFinanceiro2" value="2" data-bind="checked: TipoMovimentoFinanceiro, vanillaUniform: { checkParentCSS: true }" type="radio" name="newedit-TipoMovimentoFinanceiro">A Receber</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4" data-bind="visible: TipoMovimentoFinanceiro() == 1" style="width:380px">
                            <div class="form-group">
                                <label for="ddlDocumentoTipoPagamento">Tipo Documento</label>
                                @HtmlHelper.Select.SearchableKO("ddlDocumentoTipoPagamento", "IdDocumentoTipo", "IdDocumentoTipo", "DescricaoDocumentoTipo", "DescricaoDocumentoTipo", "DescricaoDocumentoTipo", "/Corporativo/Transacao/ListTransacaoDocumentoTipoPagamento", dadosComplObservable: "dadosComplDocumentoTipo", idChaveRelacao: "IdDocumentoTipo", dataBind: "validate : { required : TipoMovimentoFinanceiro() == 1 }")
                            </div>
                        </div>
                        <div class="col-xs-4" data-bind="visible: TipoMovimentoFinanceiro() == 2" style="width:380px">
                            <div class="form-group">
                                <label for="ddlDocumentoTipoRecebimento">Tipo Documento</label>
                                @HtmlHelper.Select.SearchableKO("ddlDocumentoTipoRecebimento", "IdDocumentoTipo", "IdDocumentoTipo", "DescricaoDocumentoTipo", "DescricaoDocumentoTipo", "DescricaoDocumentoTipo", "/Corporativo/Transacao/ListTransacaoDocumentoTipoRecebimento", dadosComplObservable: "dadosComplDocumentoTipo", idChaveRelacao: "IdDocumentoTipo", dataBind: "validate : { required : TipoMovimentoFinanceiro() == 2 }")
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="ddlNaturezaApuracao" class="control-label">Natureza Apuração</label>
                                <select id="ddlNaturezaApuracao" name="ddlNaturezaApuracao" data-bind="value: NaturezaApuracao" class="form-control no-search">
                                    <option value="1">Pagamento</option>
                                    <option value="2">Despesa</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="ddlTipoPeriodoReferencia" class="control-label">Exige Período Referência</label>
                                <select id="ddlTipoPeriodoReferencia" name="ddlTipoPeriodoReferencia" data-bind="value: TipoPeriodoReferencia" class="form-control no-search">
                                    <option value="1">Não Exige</option>
                                    <option value="2">Exige Data Término (DD/MM/AA)</option>
                                    <option value="3">Exige Mês Referência (MM/AA)</option>
                                    <option value="4">Exige Período (DD/MM/AA a DD/MM/AA)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Modelo de Recibo -->
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="form-group">
                                <label for="ddlPessoaPerfil">Perfil de Pessoa possível para este Modelo</label>
                                @HtmlHelper.Select.SearchableKO("ddlPessoaPerfil", "IdsPessoaPerfil", "IdPessoaPerfilIn", "Descricao", "Descricao", "Descricao", "/Corporativo/PessoaPerfil/List", "Ativo:true", required: true, idChaveRelacao: "IdPessoaPerfil", multiple: true)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="chkAtivo">Ativo</label>
                                <input type="checkbox" class="no-uniform" id="chkAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Variáveis de Pagamento</h3>
                </div>
                <div class="panel-body">
                    @HtmlHelper.GridView.GridNewEdit(
                id: "ItemVariavelPagamento", // Declarar na página <template id="newedit-id"></template>
                vm: "lstVarialPagamento",
                vmExtend: "vmItemVariavelPagamentoExtend",
                title: "Variáveis de Pagamento",
                addTitle: "Novo",
                columns: @<script>
                    [
                        { 'id': 'IdFinanceiroVariavelPagamentoModelo' },
                        { 'id': 'IdFinanceiroModeloApuracaoPagamento', defaultValue: 'vm.IdFinanceiroModeloApuracaoPagamento()' },
                        { 'id': 'IdFinanceiroVariavelPagamento' },
                        { 'id': 'IdsFinanceiroVariavelPagamentoRestricao' },
                        { 'id': 'TipoFinanceiroVariavelPagamento' },
                        { 'id': 'Ordem', header: true, displayName: 'Ordem' },
                        { 'id': 'DescricaoFinanceiroVariavelPagamento', header: true, displayName: 'Variável Pagamento', 'sortable': true },
                        { 'id': 'DescricaoTipoVariavelPagamento', header: true, displayName: 'Tipo', 'sortable': true },
                        { 'id': 'UtilizaReferencia', header: true, displayName: 'Utiliza Referência', 'sortable': true },
                        { 'id': 'Ativo', header: true, displayName: 'Ativo', 'sortable': true, defaultValue: true },
                        defaults.gridNewEdit.column.acao
                    ]
                </script>,
                templateRows:
                @<tr>
                    <td data-bind="template: { name: 'link-edit', data: { text: Ordem }  }"></td>
                    <td data-bind="text: DescricaoFinanceiroVariavelPagamento"></td>
                    <td data-bind="text: DescricaoTipoVariavelPagamento"></td>
                    <td data-bind="template: { name: 'label-status', data: { status: UtilizaReferencia } }"></td>
                    <td data-bind="template: { name: 'label-status', data: { status: Ativo } }"></td>
                    <td data-bind="template: { name: 'button-edit' }"></td>
                </tr>, orderByCol: "Ordem", orderByDir: HelpersUtil.OrderByDirEnum.Asc)
                </div>
            </div>
        </div>
    </form>

    <template id="newedit-ItemVariavelPagamento">
        <div class="row">
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="txtOrdem">Ordem</label>
                    <input type="number" id="txtOrdem" name="txtOrdem" data-bind="value: Ordem, validate: { required: true }" class="form-control" />
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="ddlFinanceiroVariavelPagamento">Variável</label>
                    @HtmlHelper.Select.SearchableKO("ddlFinanceiroVariavelPagamento", "IdFinanceiroVariavelPagamento", "IdFinanceiroVariavelPagamento", "Descricao", "Descricao", "Descricao", "/Financeiro/VariavelPagamento/List", "Ativo:true", required: true, dadosComplObservable: "$parentContext.$parent.VariavelPagamentoCompl", vmDataSelected: "VariavelPagamento")
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <label class="control-label" for="chkUtilizaReferencia">Utiliza Referência</label>
                    <input type="checkbox" class="no-uniform" id="chkUtilizaReferencia" data-bind="checked: UtilizaReferencia, flipper: { observable: UtilizaReferencia, options: { 'css': 'warning' } }">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="form-group">
                    <label for="ddlVariaveisRestritas">Itens Restritos</label>
                    @HtmlHelper.Select.SearchableKO("ddlVariaveisRestritas", "IdsFinanceiroVariavelPagamentoRestricao", "IdFinanceiroVariavelPagamentoIn", "Descricao", "Descricao", "Descricao", "/Financeiro/VariavelPagamento/List", "Ativo:true", idChaveRelacao: "IdFinanceiroVariavelPagamento", multiple: true)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <div class="form-group">
                    <label class="control-label" for="chkVariavelPagamentoAtivo">Ativo</label>
                    <input type="checkbox" class="no-uniform" id="chkVariavelPagamentoAtivo" data-bind="checked: Ativo, flipper: { observable: Ativo, options: defaults.flipper.ativoInativo }">
                </div>
            </div>
        </div>
    </template>
</div>
